Repository mdn/browser-compat-data, changes with the labels that .github/labeler.yml gives for each.
All labels: bulk_update :package:, data:api :rabbit2:, data:browsers :earth_africa:, data:css :art:, data:html :page_facing_up:, data:http :mountain_cableway:, data:js :pager:, data:mathml :heavy_division_sign:, data:svg :paintbrush:, data:wasm :mechanical_arm:, data:webdriver :racing_car:, data:webext :game_die:, dependencies :chains:, docs :writing_hand:, infra :building_construction:, linter :house_with_garden:, scripts :scroll:, schema :gear:

.github/labeler.yml:

# This file is used by .github/workflows/labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object
bulk_update :package::
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/migrations/**"
data:api :rabbit2::
  - changed-files:
      - any-glob-to-any-file:
          - "api/**"
data:browsers :earth_africa::
  - changed-files:
      - any-glob-to-any-file:
          - "browsers/**"
data:css :art::
  - changed-files:
      - any-glob-to-any-file:
          - "css/**"
data:html :page_facing_up::
  - changed-files:
      - any-glob-to-any-file:
          - "html/**"
data:http :mountain_cableway::
  - changed-files:
      - any-glob-to-any-file:
          - "http/**"
data:js :pager::
  - changed-files:
      - any-glob-to-any-file:
          - "javascript/**"
data:mathml :heavy_division_sign::
  - changed-files:
      - any-glob-to-any-file:
          - "mathml/**"
data:svg :paintbrush::
  - changed-files:
      - any-glob-to-any-file:
          - "svg/**"
data:wasm :mechanical_arm::
  - changed-files:
      - any-glob-to-any-file:
          - "webassembly/**"
data:webdriver :racing_car::
  - changed-files:
      - any-glob-to-any-file:
          - "webdriver/**"
data:webext :game_die::
  - changed-files:
      - any-glob-to-any-file:
          - "webextensions/**"
dependencies :chains::
  - changed-files:
      - any-glob-to-any-file:
          - "package-lock.json"
docs :writing_hand::
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
infra :building_construction::
  - changed-files:
      - any-glob-to-any-file:
          - ".*"
          - "**/*.js"
          - "**/*.ts"
          - "**/*.d.ts"
          - "LICENSE"
          - "package*"
          - "utils/**"
          - ".github/**"
          - ".husky/**"
          - ".vscode/**"
linter :house_with_garden::
  - changed-files:
      - any-glob-to-any-file:
          - "lint/**"
scripts :scroll::
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
schema :gear::
  - changed-files:
      - any-glob-to-any-file:
          - "schemas/**"

Update Chrome/Safari data for html.elements.base.href.relative_url
  html/elements/base.json
Labels: data:html :page_facing_up:

Updates for Chrome 127 beta
  api/ChapterInformation.json
  api/GPUAdapter.json
  api/MediaMetadata.json
  api/MutationEvent.json
  api/RTCEncodedVideoFrame.json
  css/properties/font-size-adjust.json
Labels: data:api :rabbit2:, data:css :art:

Updates for Chrome 127 beta (#23374)
  api/ChapterInformation.json
  api/GPUAdapter.json
  api/MediaMetadata.json
  api/MutationEvent.json
  api/RTCEncodedVideoFrame.json
  css/properties/font-size-adjust.json
Labels: data:api :rabbit2:, data:css :art:

Rename html.elements.img.usemap.caseless_usemap -> case_sensitive
  html/elements/img.json
Labels: data:html :page_facing_up:

Update Safari data for html.elements.img.usemap.caseless_usemap
  html/elements/img.json
Labels: data:html :page_facing_up:

Mirroring: fix a bug when Safari Desktop is a range
  scripts/build/mirror.ts
Labels: infra :building_construction:, scripts :scroll:

Update browser releases
  browsers/edge.json
Labels: data:browsers :earth_africa:

Update browser releases (#23379)
  browsers/edge.json
Labels: data:browsers :earth_africa:

Rename html.elements.img.usemap.caseless_usemap -> case_sensitive (#23376)
  html/elements/img.json
Labels: data:html :page_facing_up:

Mirroring: fix a bug when Safari Desktop is a range (#23378)
  scripts/build/mirror.ts
Labels: infra :building_construction:, scripts :scroll:

Update Safari data for html.elements.img.usemap.caseless_usemap (#23377)
  html/elements/img.json
Labels: data:html :page_facing_up:

Create SECURITY.md
  SECURITY.md
Labels: docs :writing_hand:

Update Chromium data for NotRestoredReasons API (#23267)
  api/NotRestoredReasonDetails.json
  api/NotRestoredReasons.json
  api/PerformanceNavigationTiming.json
Labels: data:api :rabbit2:

Add data for html.elements.{input,select}.autocomplete (#21895)
  html/elements/input.json
  html/elements/select.json
Labels: data:html :page_facing_up:

Apply suggestions from code review
  html/elements/form.json
  html/elements/textarea.json
Labels: data:html :page_facing_up:

autocomplete is not a global attribute; move to <form> & <textarea> (#21929)
  html/elements/form.json
  html/elements/textarea.json
  html/global_attributes.json
Labels: data:html :page_facing_up:

Apply suggestions from code review
  api/HTMLElement.json
Labels: data:api :rabbit2:

Remove duplicate api.HTMLTextAreaElement.autocapitalize; update api.HTMLElement.autocapitalize (#21856)
  api/HTMLElement.json
  api/HTMLTextAreaElement.json
Labels: data:api :rabbit2:

Update lint/fixer/descriptions.ts
  lint/fixer/descriptions.ts
Labels: infra :building_construction:, linter :house_with_garden:

Update JSDoc
  lint/fixer/descriptions.ts
Labels: infra :building_construction:, linter :house_with_garden:

Fix bad variable
  lint/fixer/descriptions.ts
Labels: infra :building_construction:, linter :house_with_garden:

Add fix script for descriptions (#21886)
  lint/fix.ts
  lint/fixer/descriptions.ts
  lint/linter/test-descriptions.ts
Labels: infra :building_construction:, linter :house_with_garden:

Update IE data for input HTML element
  html/elements/input/button.json
  html/elements/input/checkbox.json
  html/elements/input/file.json
  html/elements/input/hidden.json
  html/elements/input/image.json
  html/elements/input/radio.json
  html/elements/input/reset.json
  html/elements/input/submit.json
  html/elements/input/text.json
Labels: data:html :page_facing_up:

Update Safari iOS data for html.elements.input.type_month
  html/elements/input/month.json
Labels: data:html :page_facing_up:

Update Chromium data for html.elements.input.type_range
  html/elements/input/range.json
Labels: data:html :page_facing_up:

Update Firefox data for html.elements.input.type_tel
  html/elements/input/tel.json
Labels: data:html :page_facing_up:

Update IE data for input HTML element (#23386)
  html/elements/input/button.json
  html/elements/input/checkbox.json
  html/elements/input/file.json
  html/elements/input/hidden.json
  html/elements/input/image.json
  html/elements/input/radio.json
  html/elements/input/reset.json
  html/elements/input/submit.json
  html/elements/input/text.json
Labels: data:html :page_facing_up:

Update Safari iOS data for html.elements.input.type_month (#23387)
  html/elements/input/month.json
Labels: data:html :page_facing_up:

Remove html.elements.input.x-moz-errormessage from BCD
  html/elements/input.json
Labels: data:html :page_facing_up:

Update Chrome/Safari data for html.elements.meta.http-equiv
  html/elements/meta.json
Labels: data:html :page_facing_up:

Update Chrome/Safari data for html.elements.object.classid
  html/elements/object.json
Labels: data:html :page_facing_up:

Update Opera data for html.elements.script.referrerpolicy
  html/elements/script.json
Labels: data:html :page_facing_up:

Update Firefox data for html.elements.td.rowspan.rowspan_zero
  html/elements/td.json
Labels: data:html :page_facing_up:

Update Firefox data for html.elements.th.rowspan.rowspan_zero
  html/elements/th.json
Labels: data:html :page_facing_up:

Update Opera data for html.elements.video.muted
  html/elements/video.json
Labels: data:html :page_facing_up:

Update Safari iOS data for html.elements.video.muted
  html/elements/video.json
Labels: data:html :page_facing_up:

DNR properties changes
  webextensions/api/declarativeNetRequest.json
Labels: data:webext :game_die:

FF128 Document.parseHTMLUnsafe support
  api/Document.json
Labels: data:api :rabbit2:

Update browser releases
  browsers/edge.json
Labels: data:browsers :earth_africa:

Update browser releases (#23404)
  browsers/edge.json
Labels: data:browsers :earth_africa:
