Repository mdn/browser-compat-data, changes with the labels that .github/labeler.yml gives for each.
All labels: bulk_update :package:, data:api :rabbit2:, data:browsers :earth_africa:, data:css :art:, data:html :page_facing_up:, data:http :mountain_cableway:, data:js :pager:, data:mathml :heavy_division_sign:, data:svg :paintbrush:, data:wasm :mechanical_arm:, data:webdriver :racing_car:, data:webext :game_die:, dependencies :chains:, docs :writing_hand:, infra :building_construction:, linter :house_with_garden:, scripts :scroll:, schema :gear:

FF128 Document.parseHTMLUnsafe support (#23401)
  api/Document.json
Labels: data:api :rabbit2:

Update Opera data for html.elements.script.referrerpolicy (#23393)
  html/elements/script.json
Labels: data:html :page_facing_up:

Update Firefox data for html.elements.td.rowspan.rowspan_zero (#23394)
  html/elements/td.json
Labels: data:html :page_facing_up:

Update Firefox data for html.elements.th.rowspan.rowspan_zero (#23395)
  html/elements/th.json
Labels: data:html :page_facing_up:

Update Opera data for html.elements.video.muted (#23396)
  html/elements/video.json
Labels: data:html :page_facing_up:

Update Safari iOS data for html.elements.video.muted (#23397)
  html/elements/video.json
Labels: data:html :page_facing_up:

Apply suggestions from code review
  html/elements/object.json
Labels: data:html :page_facing_up:

Remove html.elements.input.x-moz-errormessage from BCD (#23390)
  html/elements/input.json
Labels: data:html :page_facing_up:

Update Chrome/Safari data for html.elements.object.classid (#23392)
  html/elements/object.json
Labels: data:html :page_facing_up:

Apply suggestions from code review
  html/elements/base.json
Labels: data:html :page_facing_up:

Update Chromium data for html.elements.input.type_range (#23388)
  html/elements/input/range.json
Labels: data:html :page_facing_up:

Update Chrome/Safari data for html.elements.base.href.relative_url (#23370)
  html/elements/base.json
Labels: data:html :page_facing_up:

Update html/elements/input/tel.json
  html/elements/input/tel.json
Labels: data:html :page_facing_up:

Update Firefox data for html.elements.input.type_tel (#23389)
  html/elements/input/tel.json
Labels: data:html :page_facing_up:

Remove set-cookie
  html/elements/meta.json
Labels: data:html :page_facing_up:

comma
  html/elements/meta.json
Labels: data:html :page_facing_up:

Update Chrome/Safari data for html.elements.meta.http-equiv (#23391)
  html/elements/meta.json
Labels: data:html :page_facing_up:

Remove web-features tags for WebVTT (#23150)
  api/VTTCue.json
Labels: data:api :rabbit2:

Remove textLength as a global SVG attribute (#23135)
  svg/elements/textPath.json
  svg/elements/tspan.json
  svg/global_attributes.json
Labels: data:svg :paintbrush:

.github/labeler.yml:

# This file is used by .github/workflows/labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object
bulk_update :package::
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/migrations/**"
data:api :rabbit2::
  - changed-files:
      - any-glob-to-any-file:
          - "api/**"
data:browsers :earth_africa::
  - changed-files:
      - any-glob-to-any-file:
          - "browsers/**"
data:css :art::
  - changed-files:
      - any-glob-to-any-file:
          - "css/**"
data:html :page_facing_up::
  - changed-files:
      - any-glob-to-any-file:
          - "html/**"
data:http :mountain_cableway::
  - changed-files:
      - any-glob-to-any-file:
          - "http/**"
data:js :pager::
  - changed-files:
      - any-glob-to-any-file:
          - "javascript/**"
data:mathml :heavy_division_sign::
  - changed-files:
      - any-glob-to-any-file:
          - "mathml/**"
data:svg :paintbrush::
  - changed-files:
      - any-glob-to-any-file:
          - "svg/**"
data:wasm :mechanical_arm::
  - changed-files:
      - any-glob-to-any-file:
          - "webassembly/**"
data:webdriver :racing_car::
  - changed-files:
      - any-glob-to-any-file:
          - "webdriver/**"
data:webext :game_die::
  - changed-files:
      - any-glob-to-any-file:
          - "webextensions/**"
dependencies :chains::
  - changed-files:
      - any-glob-to-any-file:
          - "package-lock.json"
docs :writing_hand::
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
infra :building_construction::
  - changed-files:
      - any-glob-to-any-file:
          - ".*"
          - "**/*.js"
          - "**/*.ts"
          - "**/*.d.ts"
          - "LICENSE"
          - "package*"
          - "utils/**"
          - ".github/**"
          - ".husky/**"
          - ".vscode/**"
linter :house_with_garden::
  - changed-files:
      - any-glob-to-any-file:
          - "lint/**"
scripts :scroll::
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
schema :gear::
  - changed-files:
      - any-glob-to-any-file:
          - "schemas/**"
