Repository mdn/browser-compat-data, pull requests merged in 2018-06, with the labels that each got.

#2183 add compat data for CSS type timing-function
  css/types/timing-function.json
Labels: data:css :art:

#2190 Add <munder>
  mathml/elements/munder.json
Labels: data:mathml :heavy_division_sign:

#2193 Add missing :‑moz‑system‑metric(…) values
  css/selectors/-moz-system-metric.json
Labels: data:css :art:

#1557 Correct URL APIs
  api/URL.json
  api/URLUtilsReadOnly.json
Labels: data:api :rabbit2:

#2213 Samsung Internet browser version updates
  browsers/samsunginternet_android.json
  schemas/browsers-schema.md
  schemas/browsers.schema.json
Labels: data:browsers :earth_africa:

#2212 add safari compatibility
  javascript/operators/arithmetic.json
  javascript/operators/assignment.json
Labels: data:js :pager:

#2225 Update compat data for font properties for CSS Fonts Level 4
  css/properties/font-stretch.json
  css/properties/font-style.json
  css/properties/font-weight.json
Labels: data:css :art:

#2231 adding support details for new font-weight, font-style, and font-stretch descriptor syntax
  css/at-rules/font-face.json
Labels: data:css :art:

#1761 Web APIs: add DragEvent
  api/DragEvent.json
Labels: data:api :rabbit2:

#1490 add compat data for DOMImplementation
  api/DOMImplementation.json
Labels: data:api :rabbit2:

#2214 CSS/@viewport: add (min|max|user)-zoom
  css/at-rules/viewport.json
Labels: data:css :art:

#2217 CSS/@media: add device-(aspect-ratio|height|width)
  css/at-rules/media.json
Labels: data:css :art:

#2218 CSS/@media: add overflow-(block|inline)
  css/at-rules/media.json
Labels: data:css :art:

#2205 update replaceTrack API support version
  api/RTCRtpSender.json
Labels: data:api :rabbit2:

#2220 Web APIs: add HTMLCollection
  api/HTMLCollection.json
Labels: data:api :rabbit2:

#2219 add compat data for MediaSettingsRange
  api/MediaSettingsRange.json
Labels: data:api :rabbit2:

#2224 Aspect-ratio supported in Chrome
  css/at-rules/media.json
Labels: data:css :art:

#2195 Add descriptors to CSS page at-rule data
  css/at-rules/page.json
Labels: data:css :art:

#1565 adding DOMConfiguration data to BCD
  api/DOMConfiguration.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1583 Adding DOMIMplementationList data to BCD
  api/DOMImplementationList.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#2292 Fix an incorrect MDN URL for HTMLTextAreaElement.
  api/HTMLTextAreaElement.json
Labels: data:api :rabbit2:

#2289 Add the MediaMetadata constructor to the MediaMetadata interface.
  api/MediaMetadata.json
Labels: data:api :rabbit2:

#2296 Update npm-confluence dependency
  package-lock.json
  package.json
Labels: infra :building_construction:

#1547 Adding data for HTMTableHeaderCellElement
  api/HTMLTableHeaderCellElement.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1616 Add compat data for DOMErrorHandler
  api/DOMErrorHandler.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1600 Adding DOMStringListdata to BCD
  api/DOMStringList.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1629 Document type
  api/DocumentType.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1617 Adding DOMMatrix and DOMMatrixReadOnly data to BCD
  api/DOMMatrix.json
  api/DOMMatrixReadOnly.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#2284 add compat data for PermissionStatus
  api/PermissionStatus.json
Labels: data:api :rabbit2:

#2317 Capitalize Console for the Console API in MDN URLs.
  api/Console.json
Labels: data:api :rabbit2:

#2310 Fix an incorrect MDN URL in Range.json.
  api/Range.json
Labels: data:api :rabbit2:

#2267 API: add CSSStyleDeclaration
  api/CSSStyleDeclaration.json
Labels: data:api :rabbit2:

#2281 Add safari compatibility for navigator.sendBeacon
  api/Navigator.json
Labels: data:api :rabbit2:

#2285 Add Response.{error, redirect} for Edge/Safari
  api/Response.json
Labels: data:api :rabbit2:

#2280 Update Edge 17 ParentNode/ChildNode API support
  api/ChildNode.json
  api/ParentNode.json
Labels: data:api :rabbit2:

#1741 Add compat data for EventListener
  api/EventListener.json
Labels: data:api :rabbit2:

#2313 Bug 1402892 - Add Request.destination
  api/Request.json
  api/RequestDestination.json
Labels: data:api :rabbit2:

#1620 adding DOMRect and DOMRectReadOnly data to BCD
  api/DOMRect.json
  api/DOMRectReadOnly.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#2303 Add a description for javascript.builtins.Promise.Promise
  javascript/builtins/Promise.json
Labels: data:js :pager:

#2340 Fix `column-gap` in grid context
  css/properties/column-gap.json
Labels: data:css :art:

#2343 add note about partial support for Path2D constructor in Edge
  api/Path2D.json
Labels: data:api :rabbit2:

#2288 Use strict mode for the linter
  index.js
  test/lint.js
  test/test-schema.js
  test/test-style.js
  test/test-versions.js
Labels: linter :house_with_garden:

#2331 Update TypedArray.json
  javascript/builtins/TypedArray.json
Labels: data:js :pager:

#2328 Update grammar.json
  javascript/grammar.json
Labels: data:js :pager:

#2325 Updated NodeList apis for Edge
  api/NodeList.json
Labels: data:api :rabbit2:

#2323 Escapes in template literals for Chrome/Opera.
  javascript/grammar.json
Labels: data:js :pager:

#2319 Add `Promise` basic support
  javascript/builtins/Promise.json
Labels: data:js :pager:

#2188 Correct Picture-in-Picture.
  api/PictureInPicture.json
Labels: data:api :rabbit2:

#2342 Update compat data for the browsingData API in Firefox and Firefox for Android
  webextensions/api/browsingData.json
Labels: data:webext :game_die:

#2329 Add `externally_connectable` (fixes #2326)
  webextensions/manifest/externally_connectable.json
Labels: data:webext :game_die:

#1406 API: Migrate HTMLSelectElement from the wiki
  api/HTMLSelectElement.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#2344 Add status info to some APIs that were missing it
  api/Comment.json
  api/DOMTokenList.json
  api/FetchEvent.json
  api/Headers.json
  api/ImageData.json
  api/SharedWorker.json
  api/SpeechRecognition.json
  api/TextMetrics.json
Labels: data:api :rabbit2:

#2200 Add compat data for input-datetime-local
  html/elements/input/datetime-local.json
Labels: data:html :page_facing_up:

#2125 Add compat data for UserProximityEvent
  api/UserProximityEvent.json
Labels: data:api :rabbit2:

#2199 Add compat data for input-date
  html/elements/input/date.json
Labels: data:html :page_facing_up:

#2210 Add compat data for input-reset
  html/elements/input/reset.json
Labels: data:html :page_facing_up:

#2211 Add compat data for input-submit
  html/elements/input/submit.json
Labels: data:html :page_facing_up:

#2356 Update Samsung Internet current browsers
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#2358 Update RTCIceCandidate
  api/RTCIceCandidate.json
Labels: data:api :rabbit2:

#2352 Add status info to IDB APIs that were missing it.
  api/IDBCursor.json
  api/IDBCursorWithValue.json
  api/IDBDatabase.json
  api/IDBEnvironment.json
  api/IDBFactory.json
  api/IDBIndex.json
  api/IDBKeyRange.json
  api/IDBObjectStore.json
  api/IDBOpenDBRequest.json
  api/IDBRequest.json
  api/IDBTransaction.json
  api/IDBVersionChangeEvent.json
Labels: data:api :rabbit2:

#2347 Add :focus-visible data.
  css/selectors/focus-visible.json
Labels: data:css :art:

#2335 Add dynamic imports.
  javascript/statements.json
Labels: data:js :pager:

#2360 updating BCD about font-variation-settings and font-optical-sizing
  css/properties/font-optical-sizing.json
  css/properties/font-variation-settings.json
Labels: data:css :art:

#2337 Migrate compatibility data for ReadableStreamBYOBRequest
  api/ReadableStreamBYOBRequest.json
Labels: data:api :rabbit2:

#2334 Add compat data for DOMException
  api/DOMException.json
Labels: data:api :rabbit2:

#2324 Lookbehind assertions in RegEx.
  javascript/builtins/RegExp.json
Labels: data:js :pager:

#2227 Add compat data for input-text
  html/elements/input/text.json
Labels: data:html :page_facing_up:

#2228 Add compat data to input-url
  html/elements/input/url.json
Labels: data:html :page_facing_up:

#1594 Add compat data for CSSPrimitiveValue
  api/CSSPrimitiveValue.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#2365 Add DOMRectReadOnly.fromRect()
  api/DOMRectReadOnly.json
Labels: data:api :rabbit2:

#2362 Replace 'available_in_workers' with 'worker_support'
  api/IDBCursor.json
  api/IDBCursorWithValue.json
  api/IDBDatabase.json
  api/IDBEnvironment.json
  api/IDBFactory.json
  api/IDBIndex.json
  api/IDBKeyRange.json
  api/IDBObjectStore.json
  api/IDBOpenDBRequest.json
  api/IDBRequest.json
  api/IDBTransaction.json
  api/IDBVersionChangeEvent.json
  api/Notification.json
  api/WindowEventHandlers.json
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#2363 Add missing status info for a few APIs.
  api/Console.json
  api/OffscreenCanvas.json
  api/Response.json
  api/WindowEventHandlers.json
Labels: data:api :rabbit2:

#2244 CSS Object Model (Houdini), Part I.
  api/CSSImageValue.json
  api/CSSKeywordValue.json
  api/CSSMathInvert.json
  api/CSSMathMax.json
  api/CSSMathMin.json
  api/CSSMathNegate.json
  api/CSSMathProduct.json
Labels: data:api :rabbit2:

#2245 CSS Object Model (Houdini), Part II.
  api/CSSMathSum.json
  api/CSSMathValue.json
  api/CSSMatrixComponent.json
  api/CSSNumericArray.json
  api/CSSNumericValue.json
  api/CSSPerspective.json
  api/CSSPositionValue.json
Labels: data:api :rabbit2:

#1604 Add compat data for DOMPoint
  api/DOMPoint.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#2243 Add Feature Policy data.
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#2305 Add 'Page Lifecycle' to Document.
  api/Document.json
Labels: data:api :rabbit2:

#2167 Add compat data for CSS
  api/CSS.json
Labels: data:api :rabbit2:

#2353 Add RTCIceCandidateInit dictionary
  api/RTCIceCandidateInit.json
Labels: data:api :rabbit2:

#2297 CSS Object Model (Houdini), Part III.
  api/CSSRotate.json
  api/CSSScale.json
  api/CSSSkew.json
  api/CSSSkewX.json
  api/CSSSkewY.json
  api/CSSStyleValue.json
  api/CSSTransformComponent.json
Labels: data:api :rabbit2:

#2372 CanvasCaptureMediaStream -> CanvasCaptureMediaStreamTrack
  api/CanvasCaptureMediaStreamTrack.json
Labels: data:api :rabbit2:

#2371 update Firefox browser version and correct release dates
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#2298 CSS Object Model (Houdini), Part IV.
  api/CSS.json
  api/CSSTransformValue.json
  api/CSSTranslate.json
  api/CSSUnitValue.json
  api/CSSUnparsedValue.json
  api/CSSVariableReferenceValue.json
  api/Element.json
  api/StylePropertyMap.json
  api/StylePropertyMapReadOnly.json
Labels: data:api :rabbit2:, rebase-needed :construction:

#2367 Update UserProximityEvent data
  api/UserProximityEvent.json
Labels: data:api :rabbit2:

#2368 Update data for DeviceLightEvent and DeviceProximityEvent for removal from Firefox
  api/DeviceLightEvent.json
  api/DeviceProximityEvent.json
Labels: data:api :rabbit2:

#2299 Add the MutationObserverInit dictionary
  api/MutationObserverInit.json
Labels: data:api :rabbit2:

#2322 Add PaymentDetailsBase and PaymentDetailsUpdate.
  api/PaymentDetailsBase.json
  api/PaymentDetailsInit.json
  api/PaymentDetailsUpdate.json
Labels: data:api :rabbit2:

#2375 isPointInStroke
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#2377 Firefox 60 is ESR, not Retired
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#2198 Add compat data for input-color
  html/elements/input/color.json
Labels: data:html :page_facing_up:

#2201 Add compat data for input-email
  html/elements/input/email.json
Labels: data:html :page_facing_up:

#2202 Add compat data for input-file
  html/elements/input/file.json
Labels: data:html :page_facing_up:

#2203 Add compat data for input-hidden
  html/elements/input/hidden.json
Labels: data:html :page_facing_up:

#2206 Add compat data for input-number
  html/elements/input/number.json
Labels: data:html :page_facing_up:

#2207 Add compat data for input-image
  html/elements/input/image.json
Labels: data:html :page_facing_up:

#2226 Add compat data for input-tel
  html/elements/input/tel.json
Labels: data:html :page_facing_up:

#2208 Add compat data for input-radio
  html/elements/input/radio.json
Labels: data:html :page_facing_up:

#2230 Add compat data to input-week
  html/elements/input/week.json
Labels: data:html :page_facing_up:

#2204 Add compat data for input-month
  html/elements/input/month.json
Labels: data:html :page_facing_up:

#2315 Add compat data for HTMLDetailsElement
  api/HTMLDetailsElement.json
Labels: data:api :rabbit2:

#2240 Update place-content.json
  css/properties/place-content.json
Labels: data:css :art:

#2373 Add guidelines around worker support and constructors for API subfeatures
  schemas/compat-data-schema.md
Labels: docs :writing_hand:

#2109 Add compat data for Window sub features from A to F
  api/Window.json
Labels: data:api :rabbit2:

#2376 safari has more formdata support now
  api/FormData.json
Labels: data:api :rabbit2:

#1632 fix compat data for "let" in Chrome
  javascript/statements.json
Labels: data:js :pager:

#2094 Add compat data for MutationObserver
  api/MutationObserver.json
Labels: data:api :rabbit2:

#2311 Add addTransceiver() method for RTCPeerConnection.
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#2235 Add compat data for input-password
  html/elements/input/password.json
Labels: data:html :page_facing_up:

#2148 Add Server-Timing header
  http/headers/server-timing.json
Labels: NeedsConf, data:http :mountain_cableway:

#2283 add compat data for PositionOptions
  api/PositionOptions.json
Labels: data:api :rabbit2:

#1972 Add compat data for TreeWalker (DOM)
  api/TreeWalker.json
Labels: data:api :rabbit2:

#2391 Fix escaping of `(?<=)` and `(?<!)` in `RegExp` lookbehind assertions
  javascript/builtins/RegExp.json
Labels: data:js :pager:

#2395 Add data for DOMMatrixReadOnly() constructor
  api/DOMMatrixReadOnly.json
Labels: data:api :rabbit2:

#2392 Correct input element MDN URLs.
  html/elements/input/color.json
  html/elements/input/date.json
  html/elements/input/datetime-local.json
  html/elements/input/email.json
  html/elements/input/file.json
  html/elements/input/hidden.json
  html/elements/input/image.json
  html/elements/input/month.json
  html/elements/input/number.json
  html/elements/input/password.json
  html/elements/input/radio.json
  html/elements/input/reset.json
  html/elements/input/submit.json
  html/elements/input/tel.json
  html/elements/input/text.json
  html/elements/input/url.json
  html/elements/input/week.json
Labels: data:html :page_facing_up:

#2393 Add the last few missing statuses
  api/CanvasRenderingContext2D.json
  api/HTMLCanvasElement.json
  api/ReadableStreamBYOBRequest.json
  api/Request.json
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#2388 Fix Edge browser data
  browsers/edge.json
  browsers/edge_mobile.json
Labels: data:browsers :earth_africa:
