Repository mdn/browser-compat-data, pull requests merged in 2018-05, with the labels that each got.

#1954 Add missing note to `Element.createShadowRoot(…)`
  api/Element.json
Labels: data:api :rabbit2:

#1960 th: mark the `scope` attribute as not deprecated
  html/elements/th.json
Labels: data:html :page_facing_up:

#1961 th: mark the `abbr` attribute as not deprecated
  html/elements/th.json
Labels: data:html :page_facing_up:

#1963 Fix Chrome/Opera versions RTCPeerConnection.addTrack/removeTrack (#1288)
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#1965 Correct bcd for api.KeyboardEvent
  api/KeyboardEvent.json
Labels: data:api :rabbit2:

#1964 Update source element and its attributes for Safari desktop/iOS
  html/elements/source.json
Labels: data:html :page_facing_up:

#1968 Update compatibility information for new color syntax in Chrome/Opera
  css/properties/color.json
Labels: data:css :art:

#1970 nodejs supports Error.prototype.stack
  javascript/builtins/Error.json
Labels: data:js :pager:

#1969 Add Browser Compatibility Data Explorer to README
  README.md
Labels: docs :writing_hand:

#1975 Rename the browser name in uc_chinese_android.json
  browsers/uc_chinese_android.json
Labels: data:browsers :earth_africa:

#1976 MS Edge 17 release
  browsers/edge.json
  browsers/edge_mobile.json
Labels: data:browsers :earth_africa:

#1974 Add missing flag from PaymentRequestEvent.
  api/PaymentRequestEvent.json
Labels: data:api :rabbit2:

#1973 enable append() for edge browser
  api/ParentNode.json
Labels: data:api :rabbit2:

#1959 Record that timeZone works
  javascript/builtins/Intl.json
Labels: data:js :pager:

#1957 Compat data for multi-keyword syntax in CSS overflow
  css/properties/overflow.json
Labels: data:css :art:

#1952 Add note-free Firefox for font-size-adjust
  css/properties/font-size-adjust.json
Labels: data:css :art:

#1950 Add NodeJS release notes
  browsers/nodejs.json
Labels: data:browsers :earth_africa:

#1949 Update MSE for EventHandlers attributes support
  api/MediaSource.json
  api/SourceBuffer.json
  api/SourceBufferList.json
Labels: data:api :rabbit2:

#1980 EdgeHTML 17 updates (part 1)
  api/NodeIterator.json
  api/Notification.json
Labels: data:api :rabbit2:

#1981 EdgeHTML 17 updates (part 2)
  api/OES_vertex_array_object.json
  api/PerformanceResourceTiming.json
  api/SVGElement.json
  api/SourceBuffer.json
  api/URL.json
  api/URLSearchParams.json
  api/WEBGL_color_buffer_float.json
  api/WEBGL_draw_buffers.json
  api/WEBGL_lose_context.json
  api/WebGLVertexArrayObjectOES.json
  api/WorkerGlobalScope.json
  webextensions/api/extension.json
  webextensions/api/notifications.json
  webextensions/api/tabs.json
  webextensions/manifest/incognito.json
Labels: data:api :rabbit2:, data:webext :game_die:

#1987 JS modules are enabled in Fx60
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#1948 Firefox 61 allows a windowId parameter in sidebarAction methods
  webextensions/api/sidebarAction.json
Labels: data:webext :game_die:

#1993 Add Edge browser release note links
  browsers/edge.json
Labels: data:browsers :earth_africa:

#2002 add font-optical-sizing property
  css/properties/font-optical-sizing.json
Labels: data:css :art:

#2004 Update Edge desktop & mobile support of text-decoration-style CSS property
  css/properties/text-decoration-style.json
Labels: data:css :art:

#2012 Add CDATASection
  api/CDATASection.json
Labels: data:api :rabbit2:

#2013 Add String trimStart/trimEnd
  javascript/builtins/String.json
Labels: data:js :pager:

#2014 Firefox removed SVGSVGElement.{pixel,screenPixel}UnitToMillimeter{X,Y}
  api/SVGSVGElement.json
Labels: data:api :rabbit2:

#1991 Fix support of `background` on WebExtensions permissions
  webextensions/manifest/permissions.json
Labels: data:webext :game_die:

#1989 Update WebExtensions `notifications` API on Chrome/Opera
  webextensions/api/notifications.json
  webextensions/manifest/permissions.json
Labels: data:webext :game_die:

#2015 Added extraParameters argument to tabs.onUpdated
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#2016 Add data for browserSettings.overrideDocumentColors
  webextensions/api/browserSettings.json
Labels: data:webext :game_die:

#2018 Bug 1451823: Additions to SVG <a> element
  api/SVGAElement.json
  svg/elements/a.json
Labels: data:api :rabbit2:, data:svg :paintbrush:

#2017 Add HTMLIFrame element
  api/HTMLIFrameElement.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1971 Add compat data for Range (Element)
  api/Range.json
Labels: data:api :rabbit2:

#2023 Move proxy settings property from browserSettings to proxy
  webextensions/api/browserSettings.json
  webextensions/api/proxy.json
Labels: data:webext :game_die:

#2030 Add data for browserSettings.useDocumentFonts
  webextensions/api/browserSettings.json
Labels: data:webext :game_die:

#2031 tabs.hide is enabled by default now
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#2032 Add browserSettings.openUrlbarResultsInNewTabs
  webextensions/api/browserSettings.json
Labels: data:webext :game_die:

#2034 Update onRequestFinished note for Firefox 61
  webextensions/api/devtools.json
Labels: data:webext :game_die:

#2028 Style changes for FormData data
  api/FormData.json
Labels: data:api :rabbit2:

#2000 Update firefox version
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#2033 Notes for tabs.query support details
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#2045 Update theme data for Firefox 61
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#2043 Added notes about clearing tab-specific data
  webextensions/api/browserAction.json
Labels: data:webext :game_die:

#2042 Note permissions.request issues
  webextensions/api/permissions.json
Labels: data:webext :game_die:

#2035 Add compat data for mtable (MathML)
  mathml/elements/mtable.json
Labels: data:mathml :heavy_division_sign:

#2036 Add compat data for mtd (MathML)
  mathml/elements/mtd.json
Labels: data:mathml :heavy_division_sign:

#2037 Add compat data for mtr (MathML)
  mathml/elements/mtr.json
Labels: data:mathml :heavy_division_sign:

#2040 Add compat data for maction (MathML)
  mathml/elements/maction.json
Labels: data:mathml :heavy_division_sign:

#1363 Add compat data for SpeechSynthesis
  api/SpeechSynthesis.json
Labels: data:api :rabbit2:

#1308 Add compat data for SpeechGrammarList
  api/SpeechGrammarList.json
Labels: data:api :rabbit2:

#1357 Add compat data for SpeechRecognitionAlternative
  api/SpeechRecognitionAlternative.json
Labels: data:api :rabbit2:

#1358 Add compat data for SpeechRecognitionError
  api/SpeechRecognitionError.json
Labels: data:api :rabbit2:

#1359 Add compat data for SpeechRecognitionEvent
  api/SpeechRecognitionEvent.json
Labels: data:api :rabbit2:

#1361 Add compat data for SpeechRecognitionResult
  api/SpeechRecognitionResult.json
Labels: data:api :rabbit2:

#1362 Add compat data for SpeechRecognitionResultList
  api/SpeechRecognitionResultList.json
Labels: data:api :rabbit2:

#1355 Add compat data for SpeechRecognition
  api/SpeechRecognition.json
Labels: data:api :rabbit2:

#2025 Add a name property to the browser schema.
  browsers/chrome.json
  browsers/edge.json
  browsers/edge_mobile.json
  browsers/firefox.json
  browsers/firefox_android.json
  browsers/ie.json
  browsers/nodejs.json
  browsers/opera.json
  browsers/qq_android.json
  browsers/safari.json
  browsers/safari_ios.json
  browsers/samsunginternet_android.json
  browsers/uc_android.json
  browsers/uc_chinese_android.json
  schemas/browsers-schema.md
  schemas/browsers.schema.json
Labels: data:browsers :earth_africa:

#2024 Misc grammar, spelling, and wording fixes for the schema descriptions.
  README.md
  schemas/browsers-schema.md
  schemas/compat-data-schema.md
Labels: docs :writing_hand:

#2048 Add compat data for merror (MathML)
  mathml/elements/merror.json
Labels: data:mathml :heavy_division_sign:

#2049 Add compat data for mfenced (MathML)
  mathml/elements/mfenced.json
Labels: data:mathml :heavy_division_sign:

#2050 Add compat data for mfrac (MathML)
  mathml/elements/mfrac.json
Labels: data:mathml :heavy_division_sign:

#2051 Add compat data for mglyph (MathML)
  mathml/elements/mglyph.json
Labels: data:mathml :heavy_division_sign:

#2052 Add compat data for mi (MathML)
  mathml/elements/mi.json
Labels: data:mathml :heavy_division_sign:

#2053 Add compat data for mlabeledtr (MathML)
  mathml/elements/mlabeledtr.json
Labels: data:mathml :heavy_division_sign:

#2022 Add compat data for Window Methods g to z
  api/Window.json
Labels: data:api :rabbit2:

#2055 Update toLocaleString compat in Firefox Android
  javascript/builtins/Date.json
Labels: data:js :pager:

#1986 Change MDN page for chrome support of AnimationEvent.pseudoElement
  api/AnimationEvent.json
Labels: data:api :rabbit2:

#2074 Correct Opera WebExtension `sidebarAction` API support information
  webextensions/api/sidebarAction.json
  webextensions/manifest/sidebar_action.json
Labels: data:webext :game_die:

#2124 adding extra data point for replace method new return value
  api/DOMTokenList.json
Labels: data:api :rabbit2:

#2071 Correct Document
  api/Document.json
Labels: data:api :rabbit2:

#2057 Update tabs.show as well
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#2127 Correct MathML Firefox support
  mathml/elements/maction.json
  mathml/elements/menclose.json
  mathml/elements/mfrac.json
  mathml/elements/mtable.json
  mathml/elements/mtd.json
  mathml/elements/mtr.json
Labels: data:mathml :heavy_division_sign:

#2054 Add compat data for mmultiscripts (MathML)
  mathml/elements/mmultiscripts.json
Labels: data:mathml :heavy_division_sign:

#2081 Add compat data for mo (MathML)
  mathml/elements/mo.json
Labels: data:mathml :heavy_division_sign:

#2082 Add compat data for mover (MathML)
  mathml/elements/mover.json
Labels: data:mathml :heavy_division_sign:

#2085 Add compat data for mphantom (MathML)
  mathml/elements/mphantom.json
Labels: data:mathml :heavy_division_sign:

#2110 Add compat data for mroot (MathML)
  mathml/elements/mroot.json
Labels: data:mathml :heavy_division_sign:

#2111 Add compat data for mrow (MathML)
  mathml/elements/mrow.json
Labels: data:mathml :heavy_division_sign:

#2112 Add compat data for ms (MathML)
  mathml/elements/ms.json
Labels: data:mathml :heavy_division_sign:

#2113 Add compat data for mspace (MathML)
  mathml/elements/mspace.json
Labels: data:mathml :heavy_division_sign:

#2115 Add compat data for msqrt (MathML)
  mathml/elements/msqrt.json
Labels: data:mathml :heavy_division_sign:

#2116 Add compat data for msub (MathML)
  mathml/elements/msub.json
Labels: data:mathml :heavy_division_sign:

#2118 Add compat data for msubsup (MathML)
  mathml/elements/msubsup.json
Labels: data:mathml :heavy_division_sign:

#2119 Add compat data for mtext (MathML)
  mathml/elements/mtext.json
Labels: data:mathml :heavy_division_sign:

#2117 Add compat data for msup (MathML)
  mathml/elements/msup.json
Labels: data:mathml :heavy_division_sign:

#2072 Add <mstyle>
  mathml/elements/mstyle.json
Labels: data:mathml :heavy_division_sign:

#2129 Remove contributing doc text about non-automated browser validation
  CONTRIBUTING.md
Labels: docs :writing_hand:

#1977 adding compat data for css at-rules media any-hover
  css/at-rules/media.json
Labels: data:css :art:

#2108 Bug 1387454 - Add AudioContextOptions
  api/AudioContextOptions.json
Labels: data:api :rabbit2:

#2087 Migrate data for interaction @media features
  css/at-rules/media.json
Labels: data:css :art:

#2131 Improve media at-rule style consistency
  css/at-rules/media.json
Labels: data:css :art:

#2136 Modify lint.js to output any errors at the end of the run.
  test/lint.js
Labels: linter :house_with_garden:

#2138 Firefox supports these 2 properties by default from version 61
  css/properties/font-optical-sizing.json
  css/properties/font-variation-settings.json
Labels: data:css :art:

#2139 flex-basis:content is supported in Firefox 61
  css/properties/flex-basis.json
Labels: data:css :art:

#2140 Bug 1458883 - Remove File.lastModifiedDate from Firefox 61
  api/File.json
Labels: data:api :rabbit2:

#2142 Fix typo in <form>
  html/elements/form.json
Labels: data:html :page_facing_up:

#2056 Add Chrome-specific notes to AudioContext()
  api/AudioContext.json
Labels: data:api :rabbit2:

#2146 Firefox supports Event.srcElement in 62
  api/Event.json
Labels: data:api :rabbit2:

#2144 Update SpeechSynthesis data for Firefox Android
  api/SpeechSynthesis.json
  api/SpeechSynthesisErrorEvent.json
  api/SpeechSynthesisEvent.json
  api/SpeechSynthesisUtterance.json
  api/SpeechSynthesisVoice.json
Labels: data:api :rabbit2:

#2145 Update Firefox data for CSSStyleRule.selectorText
  api/CSSStyleRule.json
Labels: data:api :rabbit2:

#2044 Add compat data for Window Properties g to z
  api/Window.json
Labels: data:api :rabbit2:

#2135 Add WebExtension match patterns
  webextensions/match_patterns.json
Labels: data:webext :game_die:

#2152 Bug 1448162 – Disable XUL overlays
  api/Document.json
Labels: data:api :rabbit2:

#2151 Note about flex item sizing before Firefox 61
  css/properties/flex.json
Labels: data:css :art:

#2150 >> syntax is deprecated
  css/selectors/descendant.json
Labels: data:css :art:

#2161 Fix capitalization of Firefox's DocumentOrShadowRoot.fullscreenElement
  api/DocumentOrShadowRoot.json
Labels: data:api :rabbit2:

#2132 Add data for viewport media features
  css/at-rules/media.json
Labels: data:css :art:

#2162 Chrome 49 and newer displays page actions on the toolbar
  webextensions/manifest/page_action.json
Labels: data:webext :game_die:

#2177 update to chrome 67
  browsers/chrome.json
Labels: data:browsers :earth_africa:

#1883 Add compat data to api.MouseEvent
  api/MouseEvent.json
Labels: data:api :rabbit2:

#1890 Fill in compat data for api.BaseAudioContext
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#2149 Bug 1454889 - remove MediaStream support from createObjectURL
  api/URL.json
Labels: data:api :rabbit2:

#2157 Bug 1394399 - Request.credentials should default to "same-origin"
  api/Request.json
Labels: data:api :rabbit2:

#2176 Add data for display media features to media at-rule
  css/at-rules/media.json
Labels: data:css :art:

#2174 Add comapt data for Edge
  api/ExtendableEvent.json
Labels: data:api :rabbit2:

#2172 Add `env(…)`
  css/properties/custom-property.json
Labels: data:css :art:

#2171 ChildNode.remove works in iOS Safari
  api/ChildNode.json
Labels: data:api :rabbit2:

#2166 Edit Credential with Samsung & .name
  api/Credential.json
Labels: data:api :rabbit2:

#2066 Add compat data for api.DeviceRotationRate
  api/DeviceRotationRate.json
Labels: data:api :rabbit2:

#2065 Add compat data for api.DeviceProximityEvent
  api/DeviceProximityEvent.json
Labels: data:api :rabbit2:

#2063 Add compat data for api.DeviceMotionEvent
  api/DeviceMotionEvent.json
Labels: data:api :rabbit2:

#2062 Add compat data for api.DeviceLightEvent
  api/DeviceLightEvent.json
Labels: data:api :rabbit2:

#2060 Add compat data for api.BeforeInstallPromptEvent
  api/BeforeInstallPromptEvent.json
Labels: data:api :rabbit2:

#2046 Update WorkerGlobalScope.importScripts
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#1985 Add modulepreload to link.
  html/elements/link.json
Labels: data:html :page_facing_up:

#2182 Add color media features to media at-rule data
  css/at-rules/media.json
Labels: data:css :art:

#2175 Correct Chrome version for "is" support
  html/global_attributes.json
Labels: data:html :page_facing_up:

#2093 Update UC Browser releases
  browsers/uc_android.json
  browsers/uc_chinese_android.json
Labels: data:browsers :earth_africa:

#1994 Add Chrome release notes and fix a few incorrect release dates.
  browsers/chrome.json
Labels: data:browsers :earth_africa:

#1979 Add Picture In Picture API.
  api/PictureInPicture.json
Labels: data:api :rabbit2:

#1889 Add compat data for api.PerformanceObserverEntryList
  api/PerformanceObserverEntryList.json
Labels: data:api :rabbit2:

#1888 Add compat data for api.PerformanceNavigation
  api/PerformanceNavigation.json
Labels: data:api :rabbit2:

#1887 Add compat data for api.PerformanceMeasure
  api/PerformanceMeasure.json
Labels: data:api :rabbit2:

#1886 Add compat data for api.PerformanceMark
  api/PerformanceMark.json
Labels: data:api :rabbit2:

#2184 Merge `grid-column-gap` into `column-gap`
  css/properties/column-gap.json
  css/properties/grid-column-gap.json
Labels: data:css :art:

#2186 Tidy up `media` at-rule data
  css/at-rules/media.json
Labels: data:css :art:

#2156 Separating Grid and Flex support for align-items
  css/properties/align-items.json
Labels: data:css :art:

#1909 Chrome no longer supports caretPositionFromPoint
  api/DocumentOrShadowRoot.json
Labels: data:api :rabbit2:

#2073 Correct Opera MathML support information
  mathml/elements/mtd.json
Labels: data:mathml :heavy_division_sign:

#2160 Add compatibility data for AudioNodeOptions
  api/AudioNodeOptions.json
Labels: data:api :rabbit2:

#1522 adding HTMLOBjectElement data to BCD
  api/HTMLObjectElement.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#2178 Add more Opera versions
  browsers/opera.json
Labels: data:browsers :earth_africa:

#2179 Rename flattten to flat; add Chrome and Opera versions
  javascript/builtins/Array.json
Labels: data:js :pager:

#2020 Update WEBGL_debug_renderer_info
  api/WEBGL_debug_renderer_info.json
Labels: data:api :rabbit2:

#2181 Add MathML <semantics> element
  mathml/elements/semantics.json
Labels: data:mathml :heavy_division_sign:

#2180 Add MathML <munderover> element
  mathml/elements/munderover.json
Labels: data:mathml :heavy_division_sign:

#2130 Add compat data for ValidityState
  api/ValidityState.json
Labels: data:api :rabbit2:
