Repository mdn/browser-compat-data, pull requests merged in 2018-02, with the labels that each got.

#981 Update units: mozmm removed + capitalize Q
  css/types/length.json
Labels: data:css

#985 Add Array.prototype.flatten|flattenMap
  javascript/builtins/Array.json
Labels: data:js

#984 Add Safari 11.1 beta as a valid version number
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers

#973 Add compat data for RTCDTMFSender, RTCFTToneChangeEvent, and RTCDataChannel
  api/RTCDTMFSender.json
  api/RTCDTMFToneChangeEvent.json
  api/RTCDataChannel.json
  api/RTCDataChannelEvent.json
  api/RTCIceCandidate.json
Labels: data:api

#991 Add compat data RTCPeerConnectionIceEvent
  api/RTCPeerConnectionIceEvent.json
Labels: data:api

#995 Add compat data RTCSctpTransport
  api/RTCSctpTransport.json
Labels: data:api

#1009 Correct method name: flattenMap -> flatMap
  javascript/builtins/Array.json
Labels: data:js

#986 Add Chromium values for padStart/padEnd.
  javascript/builtins/String.json
Labels: data:js

#989 New browser settings for Firefox 59
  webextensions/api/browserSettings.json
Labels: data:webext

#1032 Update referrer policy compat data to note some values as standard
  http/headers/referrer-policy.json
Labels: data:http

#1014 Array.prototype.values() shipped in FF and Chrome
  javascript/builtins/Array.json
Labels: data:js

#1033 Add compat data for BlobEvent
  api/BlobEvent.json
Labels: data:api

#1030 add compat data for ChildNode
  api/ChildNode.json
Labels: data:api

#975 Add compat data for Animation
  api/Animation.json
Labels: data:api

#983 Add support of 'Customized built-in elements' to the CustomElementRegistry in Chromia BCD (and minor other tweaks)
  api/CustomElementRegistry.json
Labels: data:api

#996 Add compat data for RTCSessionDescription
  api/RTCSessionDescription.json
Labels: data:api

#1028 add compat data for BudgetService and BudgetState
  api/BudgetService.json
  api/BudgetState.json
Labels: data:api

#1004 Add compat data for Client
  api/Client.json
Labels: data:api

#1041 Add compat data for BasicCardRequest
  api/BasicCardRequest.json
Labels: data:api

#1038 Add compat data for PaymentRequestUpdateEvent
  api/PaymentRequestUpdateEvent.json
Labels: data:api

#1016 Add compat data for SyncEvent
  api/SyncEvent.json
Labels: data:api

#1029 Add compat data for PaymentRequest
  api/PaymentRequest.json
Labels: data:api

#1042 Add compat data for BasicCardResponse
  api/BasicCardResponse.json
Labels: data:api

#1040 Add compat data for PaymentResponse
  api/PaymentResponse.json
Labels: data:api

#1027 Add compat data for PaymentAddress
  api/PaymentAddress.json
Labels: data:api

#1018 Add compat data for SyncManager
  api/SyncManager.json
Labels: data:api

#998 Add compat data RTCStatsReport
  api/RTCStatsReport.json
Labels: data:api

#1049 Improvements to Web RTC Data.
  api/RTCDTMFSender.json
  api/RTCDTMFToneChangeEvent.json
  api/RTCDataChannel.json
  api/RTCDataChannelEvent.json
Labels: data:api

#1023 Adds compat data for DocumentTimeline
  api/DocumentTimeline.json
Labels: data:api

#1056 Correct version number for SyncManager.
  api/SyncManager.json
Labels: data:api

#1065 Correct DocumentTimeline for Chromium.
  api/DocumentTimeline.json
Labels: data:api

#997 Add compat data for RTCSessionDescriptionCallback
  api/RTCSessionDescriptionCallback.json
Labels: data:api

#988 Adding compat data for Blob
  api/Blob.json
Labels: data:api

#1061 Correct CSS host-context identifier
  css/selectors/host-context.json
Labels: data:css

#1062 Fix RTCDataChannelEvent constructor link
  api/RTCDataChannelEvent.json
Labels: data:api

#1060 Fix SharedWorker.port MDN URL
  api/SharedWorker.json
Labels: data:api

#1058 Fix nesting of Response members
  api/Response.json
Labels: data:api

#1011 Add compat data for ServiceWorkerContainer
  api/ServiceWorkerContainer.json
Labels: data:api

#1010 Add compat data for ServiceWorker
  api/ServiceWorker.json
Labels: data:api

#1001 Adds compat data for AnimationEffectTimingReadOnly
  api/AnimationEffectTimingReadOnly.json
Labels: data:api

#1007 Add compat data for InstallEvent
  api/InstallEvent.json
Labels: data:api

#1067 Corrections to RTCSessionDescription.
  api/RTCSessionDescription.json
Labels: data:api

#1006 Add compat data for ExtendableEvent
  api/ExtendableEvent.json
Labels: data:api

#994 Add compat data for RTCRtpSender
  api/RTCRtpSender.json
Labels: data:api

#1026 Add comp data for BroadcastChannel
  api/BroadcastChannel.json
Labels: data:api

#1071 Correct RTCRtpReceiver.
  api/RTCRtpReceiver.json
Labels: data:api

#1000 Adds compat data for AnimationEffectTiming
  api/AnimationEffectTiming.json
Labels: data:api

#1015 Add compat data for ServiceWorkerRegistration
  api/ServiceWorkerRegistration.json
Labels: data:api

#1019 Adds compat data for AnimationEffectReadOnly
  api/AnimationEffectReadOnly.json
Labels: data:api

#1034 Add compat data for BlobBuilder
  api/BlobBuilder.json
Labels: data:api

#1035 Add compat data for File
  api/File.json
Labels: data:api

#1036 Add compat data for FileEntrySync
  api/FileEntrySync.json
Labels: data:api

#1066 updating pointer events BCD, as it is enabled in Fx59 desktop
  api/PointerEvent.json
Labels: data:api

#948 Add RTCRtpTransceiver, RTCRtpContributingSource, and RTCRtpSynchronizationSource interfaces
  api/RTCRtpContributingSource.json
  api/RTCRtpSynchronizationSource.json
  api/RTCRtpTransceiver.json
Labels: data:api

#1059 add compat data for Client#frameType and Client#postMessage
  api/Client.json
Labels: data:api

#1050 Add compat data for FileError
  api/FileError.json
Labels: data:api

#1053 Add compat data for SVGAElement
  api/SVGAElement.json
Labels: data:api

#1079 Correct FileError data.
  api/FileError.json
Labels: data:api

#1083 Change FileEntrySync.
  api/FileEntrySync.json
Labels: data:api

#1086 Fix links in AnimationEffectTimingReadOnly
  api/AnimationEffectTimingReadOnly.json
Labels: data:api

#1085 Fix nesting of AnimationEffectReadOnly.getComputedTiming
  api/AnimationEffectReadOnly.json
Labels: data:api

#1087 Fix async waitUntil nesting
  api/ExtendableEvent.json
Labels: data:api

#1080 Correct HTMLTemplateElement.
  api/HTMLTemplateElement.json
  html/elements/template.json
Labels: data:api, data:html

#1105 Correct RTCRtpSender.
  api/RTCRtpSender.json
Labels: data:api

#1106 Add Animation.updatePlaybackRate
  api/Animation.json
Labels: data:api

#1104 Correct ExtendableEvent.
  api/ExtendableEvent.json
Labels: data:api

#987 Add compat data for RTCIceServer, RTCIdentity*, and RTCPeerConnection
  api/RTCIceServer.json
  api/RTCIdentityAssertion.json
  api/RTCIdentityErrorEvent.json
  api/RTCIdentityEvent.json
Labels: data:api

#1012 Add compat data for ServiceWorkerGlobalScope
  api/ServiceWorkerGlobalScope.json
Labels: data:api

#1005 Add compat data for Clients
  api/Clients.json
Labels: data:api

#1013 Add compat data for ServiceWorkerMessageEvent
  api/ServiceWorkerMessageEvent.json
Labels: data:api

#1021 Add compat data for WindowClient
  api/WindowClient.json
Labels: data:api

#1017 Adds compat data for AnimationEvent
  api/AnimationEvent.json
Labels: data:api

#1103 Added data for tabs.hide and tabs.show
  webextensions/api/tabs.json
Labels: data:webext

#1097 Correct support order for BudgetService.
  api/BudgetService.json
Labels: data:api

#1094 WebRTC corrections.
  api/RTCDTMFSender.json
  api/RTCDTMFToneChangeEvent.json
  api/RTCDataChannel.json
  api/RTCDataChannelEvent.json
  api/RTCIceCandidate.json
Labels: data:api

#1084 Correct AnimationEffectReadOnly.
  api/AnimationEffectReadOnly.json
Labels: data:api

#1108 Correct Clients.
  api/Clients.json
Labels: data:api

#1008 Add compat data for NotificationEvent
  api/NotificationEvent.json
Labels: data:api

#1129 Add nodejs compat for Object.entries()
  javascript/builtins/Object.json
Labels: data:js

#1095 Add compat data for PushRegistrationManager
  api/PushRegistrationManager.json
Labels: data:api

#1133 Correct support for css `break-` properties
  css/properties/break-after.json
  css/properties/break-before.json
  css/properties/break-inside.json
Labels: data:css

#1131 Add nodejs compat for Object.getOwnPropertyDescriptors()
  javascript/builtins/Object.json
Labels: data:js

#1138 Expression closures have been removed from Fx60
  javascript/operators/expression_closures.json
Labels: data:js

#1149 Correct order of border properties
  css/properties/border-radius.json
  css/properties/border-width.json
Labels: data:css

#1148 Correct order of browser in intersection observer files
  api/IntersectionObserver.json
  api/IntersectionObserverEntry.json
Labels: data:api

#1146 Correct order of browsers in GamepadPose.json
  api/GamepadPose.json
Labels: data:api

#1143 Correct order of browsers in GamepadEvent.json
  api/GamepadEvent.json
Labels: data:api

#1142 Reorder browsers in GamepadButton.json
  api/GamepadButton.json
Labels: data:api

#1136 Update npm dependencies install command
  CONTRIBUTING.md
  package-lock.json
Labels: docs

#1152 Add optional catch binding
  javascript/statements.json
Labels: data:js

#1137 Conditional catch expressions have been removed from Fx59
  javascript/statements.json
Labels: data:js

#928 Updates to manifest.json permissions and optional permissions compatibility data
  webextensions/manifest/optional_permissions.json
  webextensions/manifest/permissions.json
Labels: data:webext

#1157 Added data for tabs.PageSettings.edge*
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#1162 Added data for devtools.network.onRequestFinished
  webextensions/api/devtools.json
Labels: data:webext :game_die:

#1159 Added data for new menus APIs in Firefox 60
  webextensions/api/menus.json
Labels: data:webext :game_die:

#1160 Added data for devtools.network.getHAR
  webextensions/api/devtools.json
Labels: data:webext :game_die:

#1161 Added commands.reset and commands.update
  webextensions/api/commands.json
Labels: data:webext :game_die:

#1158 Added theme data for Firefox 59/60
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#1156 Updating the DocumentTimeline() constructor support data, now Fx supports it
  api/DocumentTimeline.json
Labels: data:api :rabbit2:

#1170 Add compat data for HTMLDivElement
  api/HTMLDivElement.json
Labels: data:api :rabbit2:

#1024 Adds compat data for KeyframeEffect
  api/KeyframeEffect.json
Labels: data:api :rabbit2:

#982 Add compat data for WorkerGlobalScope (Worker API)
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#1022 Adds compat data for AnimationPlaybackEvent
  api/AnimationPlaybackEvent.json
Labels: data:api :rabbit2:

#1025 Adds compat data for KeyframeEffectReadOnly
  api/KeyframeEffectReadOnly.json
Labels: data:api :rabbit2:

#1031 Make line number not zero based for linter error reporting
  test/test-style.js
Labels: linter :house_with_garden:

#1043 Add compat data for WorkerLocation (Worker API)
  api/WorkerLocation.json
Labels: data:api :rabbit2:

#1044 Add compat data for WorkerNavigator (Worker API)
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#1125 Add compat data for HTMLBaseElement
  api/HTMLBaseElement.json
Labels: data:api :rabbit2:

#1064 Add compat data for PushEvent
  api/PushEvent.json
Labels: data:api :rabbit2:

#1068 Add compat data for PushManager
  api/PushManager.json
Labels: data:api :rabbit2:

#1093 Add compat data for PushMessageData
  api/PushMessageData.json
Labels: data:api :rabbit2:

#1096 Add compat data for PushSubscription
  api/PushSubscription.json
Labels: data:api :rabbit2:

#1098 Add compat data for Crypto
  api/Crypto.json
Labels: data:api :rabbit2:

#1099 Add compat data for CryptoKey
  api/CryptoKey.json
Labels: data:api :rabbit2:

#1100 Add compat data for RandomSource
  api/RandomSource.json
Labels: data:api :rabbit2:

#1178 Corrections to <optgroup> element.
  html/elements/optgroup.json
Labels: data:html :page_facing_up:

#1174 Add experimental paint-order property BCD
  css/properties/paint-order.json
Labels: data:css :art:

#1183 Correct PushRegistrationManager
  api/PushRegistrationManager.json
Labels: data:api :rabbit2:

#1173 Update BCD for justify-content, align-content, and place-content
  css/properties/align-content.json
  css/properties/justify-content.json
  css/properties/place-content.json
Labels: data:css :art:

#1037 Add compat data for SharedWorkerGlobalScope (Worker API)
  api/SharedWorkerGlobalScope.json
Labels: data:api :rabbit2:

#1039 Add compat data for Worker (Worker API)
  api/Worker.json
Labels: data:api :rabbit2:

#1153 Added Edge version that supports exponentiation
  javascript/operators/arithmetic.json
Labels: data:js :pager:

#1193 removing pref information, as paint-order is on by default
  css/properties/paint-order.json
Labels: data:css :art:

#1117 Add PerformanceNavigationTiming
  api/PerformanceNavigationTiming.json
Labels: data:api :rabbit2:

#1118 Add PerformanceResourceTiming
  api/PerformanceResourceTiming.json
Labels: data:api :rabbit2:

#1182 Updated versions for node async/await
  javascript/operators/async_function_expression.json
  javascript/operators/await.json
Labels: data:js :pager:

#1197 Add PaymentRequestEvent.json.
  api/PaymentRequestEvent.json
Labels: data:api :rabbit2:

#1202 adding compat data for HTMLHRElement
  api/HTMLHRElement.json
Labels: data:api :rabbit2:

#1201 HTMLHtmlElement compat data
  api/HTMLHtmlElement.json
Labels: data:api :rabbit2:

#1140 Some corrections to HTMLCanvasElement
  api/HTMLCanvasElement.json
Labels: data:api :rabbit2:

#1200 Update BCD for -moz-border-*-colors as they have been completely removed from Fx
  css/properties/-moz-border-bottom-colors.json
  css/properties/-moz-border-left-colors.json
  css/properties/-moz-border-right-colors.json
  css/properties/-moz-border-top-colors.json
Labels: data:css :art:

#1199 Add BCD for CSS scale, rotate, and translate properties
  css/properties/rotate.json
  css/properties/scale.json
  css/properties/translate.json
Labels: data:css :art:

#1075 another attempt to get ShadowRoot added to BCD
  api/ShadowRoot.json
Labels: data:api :rabbit2:

#1082 Add compat data for IDBEnvironment
  api/IDBEnvironment.json
Labels: data:api :rabbit2:

#1145 Add compat data for Console
  api/Console.json
Labels: data:api :rabbit2:

#1213 Mark shape-margin as not deprecated
  css/properties/shape-margin.json
Labels: data:css :art:

#1207 Add font-variation-settings descriptor and fix font-variation-settings property
  css/at-rules/font-face.json
  css/properties/font-variation-settings.json
Labels: data:css :art:

#1210 Tweaks to WorkerGlobalScope.json.
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#1054 add compat data for Cache
  api/Cache.json
Labels: data:api :rabbit2:

#1196 Add compat data for NodeIterator
  api/NodeIterator.json
Labels: data:api :rabbit2:

#1092 Add compat data for IDBLocaleAwareKeyRange
  api/IDBLocaleAwareKeyRange.json
Labels: data:api :rabbit2:

#1102 add compat data for BatteryManager
  api/BatteryManager.json
Labels: data:api :rabbit2:

#1110 Add compat data for MediaKeyMessageEvent
  api/MediaKeyMessageEvent.json
Labels: data:api :rabbit2:

#1111 Add compat data for MediaKeySession
  api/MediaKeySession.json
Labels: data:api :rabbit2:

#1113 Add compat data for MediaKeySystemAccess
  api/MediaKeySystemAccess.json
Labels: data:api :rabbit2:

#1114 Add compat data for MediaKeySystemConfiguration
  api/MediaKeySystemConfiguration.json
Labels: data:api :rabbit2:

#1115 Add compat data for MediaKeys
  api/MediaKeys.json
Labels: data:api :rabbit2:

#1052 First pass of new Animation data
  api/Animation.json
Labels: data:api :rabbit2:

#1089 adding compat data for HTML global attributes
  html/global_attributes.json
Labels: data:html :page_facing_up:

#1119 Add compat data for HTMLAreaElement
  api/HTMLAreaElement.json
Labels: data:api :rabbit2:
