Repository mdn/browser-compat-data, pull requests merged in 2018-07, with the labels that each got.

#2397 Added missing entity ampersands in description.
  css/types/blend-mode.json
Labels: data:css :art:

#2404 Add powerPreference to getContext
  api/HTMLCanvasElement.json
Labels: data:api :rabbit2:

#2370 Firefox 62 enables Array.flat/flatMap (bug 1435813)
  javascript/builtins/Array.json
Labels: data:js :pager:

#2369 Firefox 62 removes CSP referrer directive (bug 1302449)
  http/headers/content-security-policy.json
Labels: data:http :mountain_cableway:

#2402 Add WebAssembly.Global
  javascript/builtins/WebAssembly.json
Labels: data:js :pager:

#2403 Document strategy for sorting support statements
  schemas/compat-data-schema.md
Labels: docs :writing_hand:

#2141 Bug 1427610 - Implement import.meta
  javascript/statements.json
Labels: data:js :pager:

#2416 Bug 1342012 - Implement dynamic import()
  javascript/statements.json
Labels: data:js :pager:

#2409 Add JSON superset compat data
  javascript/builtins/JSON.json
Labels: data:js :pager:

#1597 Add compat data for DOMParser
  api/DOMParser.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1590 Add compat data for CSSPageRule
  api/CSSPageRule.json
Labels: data:api :rabbit2:

#1543 Add compat data for HTMLTableRowElement
  api/HTMLTableRowElement.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1647 Add compat data for LocalFileSystemSync
  api/LocalFileSystemSync.json
Labels: data:api :rabbit2:

#1646 Add browser compat data for LocalFileSystem
  api/LocalFileSystem.json
Labels: data:api :rabbit2:

#1645 Add compat data for FileSystemSync
  api/FileSystemSync.json
Labels: data:api :rabbit2:

#1644 Add compat data for FileSystemFlags
  api/FileSystemFlags.json
Labels: data:api :rabbit2:

#1643 Add compat data for FileSystemFileEntry
  api/FileSystemFileEntry.json
Labels: data:api :rabbit2:

#1637 Add compat data for FileSystemDirectoryReader
  api/FileSystemDirectoryReader.json
Labels: data:api :rabbit2:

#1636 Add compat data for FileSystemDirectoryEntry
  api/FileSystemDirectoryEntry.json
Labels: data:api :rabbit2:

#1634 Add compat data for FileSystem
  api/FileSystem.json
Labels: data:api :rabbit2:

#1633 Add compat data for FileReaderSync
  api/FileReaderSync.json
Labels: data:api :rabbit2:

#1384 Add compat data for FileReader
  api/FileReader.json
Labels: data:api :rabbit2:

#2304 Add compat data for Geolocation
  api/Geolocation.json
Labels: data:api :rabbit2:

#2410 Add 'x' syntax to the <resolution> type; fix a typo
  css/types/resolution.json
Labels: data:css :art:

#2412 CSSStyleDeclaration.getPropertyCSSValue and associated objects are re…
  api/CSSPrimitiveValue.json
  api/CSSStyleDeclaration.json
  api/CSSValue.json
  api/CSSValueList.json
Labels: data:api :rabbit2:

#2301 API: add Notation
  api/Notation.json
Labels: data:api :rabbit2:

#2413 Enable shape outside
  css/properties/shape-image-threshold.json
  css/properties/shape-margin.json
  css/properties/shape-outside.json
Labels: data:css :art:

#2415 calc() is usable inside repeat() from Firefox 57
  css/properties/grid-template-columns.json
Labels: data:css :art:

#2417 API/Notification: set sub-features to false for safari_ios
  api/Notification.json
Labels: data:api :rabbit2:

#2405 Added the appropriate compatibility to compositing and blending css
  css/properties/background-blend-mode.json
  css/properties/isolation.json
  css/properties/mix-blend-mode.json
  css/types/blend-mode.json
Labels: data:css :art:

#1695 Add AmbientLightSensor
  api/AmbientLightSensor.json
Labels: data:api :rabbit2:

#1727 adding compat data for api.attr
  api/Attr.json
Labels: data:api :rabbit2:

#1403 Add FileList interface
  api/FileList.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1497 Add GamepadButton.touched
  api/GamepadButton.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#2420 Rename reading to illuminance
  api/AmbientLightSensor.json
Labels: data:api :rabbit2:

#1621 Adding DOMPointReadOnly data to BCD
  api/DOMPointReadOnly.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#2069 Add compat data for api.Navigator
  api/Navigator.json
Labels: NeedsConf, data:api :rabbit2:

#2419 Note getComputedStyle behavior
  api/Window.json
Labels: data:api :rabbit2:

#2385 Added browser compatibility table for input type search
  html/elements/input/search.json
Labels: data:html :page_facing_up:

#2384 Added browser compatibility table for input type button
  html/elements/input/button.json
Labels: data:html :page_facing_up:

#2383 Added browser compatibility table for input type checkbox
  html/elements/input/checkbox.json
Labels: data:html :page_facing_up:

#2422 Adding BCD for the <rb> element
  html/elements/rb.json
Labels: data:html :page_facing_up:

#2423 Add missing getGamepads() subfeature to Navigator.
  api/Navigator.json
Labels: data:api :rabbit2:

#1758 API: add History
  api/History.json
Labels: data:api :rabbit2:

#2122 Add compat data for TrackDefaultList
  api/TrackDefaultList.json
Labels: data:api :rabbit2:

#2133 Add compat data for MediaTrackConstraints
  api/MediaTrackConstraints.json
Labels: data:api :rabbit2:

#2427 Add missing FormData() constructor
  api/FormData.json
Labels: data:api :rabbit2:

#2432 Add “Visual Studio Code” to “Projects using the data”
  README.md
Labels: docs :writing_hand:

#2434 Update compat data for input color on Edge
  html/elements/input/color.json
Labels: data:html :page_facing_up:

#2430 Add data for getSecurityInfo
  webextensions/api/webRequest.json
Labels: data:webext :game_die:

#2428 Add missing FetchEvent() constructor
  api/FetchEvent.json
Labels: data:api :rabbit2:

#2426 Add CSS `zoom`
  css/properties/zoom.json
Labels: data:css :art:

#2399 Correct CSS `::placeholder` and `:placeholder-shown`
  css/selectors/placeholder-shown.json
  css/selectors/placeholder.json
Labels: data:css :art:

#2105 Add compat data for WritableStreamDefaultWriter.
  api/WritableStreamDefaultWriter.json
Labels: data:api :rabbit2:

#2431 Add data for newTabPosition
  webextensions/api/browserSettings.json
Labels: data:webext :game_die:

#2425 Add browser compat data for VisualViewport API
  api/VisualViewport.json
Labels: data:api :rabbit2:

#2126 Complete XSLTProcessor
  api/XSLTProcessor.json
Labels: data:api :rabbit2:

#2366 Add compat data for StaticRange API.
  api/StaticRange.json
Labels: data:api :rabbit2:

#2058 Update BackgroundSync
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#2159 WebVR is enabled in Firefox 61 on macOS, not 60
  api/VRDisplay.json
  api/VRDisplayCapabilities.json
  api/VRDisplayEvent.json
  api/VREyeParameters.json
  api/VRFieldOfView.json
  api/VRFrameData.json
  api/VRLayerInit.json
  api/VRPose.json
  api/VRStageParameters.json
Labels: data:api :rabbit2:

#2394 Bug 1280613 - Async append/remove for SourceBuffer
  api/SourceBuffer.json
Labels: data:api :rabbit2:

#1919 Add compat data for api.TextEncoder
  api/TextEncoder.json
Labels: data:api :rabbit2:

#2445 Add browsers compatibility to scrollTo
  api/Window.json
Labels: data:api :rabbit2:

#2444 Add searchengines api compat data (WebExtensions)
  webextensions/api/search.json
Labels: data:webext :game_die:

#2421 Add open_at_install for sidebar_action for WebExtensions
  webextensions/manifest/sidebar_action.json
Labels: data:webext :game_die:

#2386 Firefox 48 aliases `browser_specific_settings` to `applications`
  webextensions/manifest/applications.json
Labels: data:webext :game_die:

#2194 Add `images` and `properties` sub-keys to the `theme` manifest.json key
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#2255 justify-content property splitting the grid data from flexbox
  css/properties/justify-content.json
Labels: data:css :art:

#2448 Add Chrome to WebGl color buffers.
  api/EXT_color_buffer_float.json
  api/EXT_color_buffer_half_float.json
Labels: data:api :rabbit2:

#2449 Correct Chrome support for onbeforeprint and onafterprint.
  api/WindowEventHandlers.json
Labels: data:api :rabbit2:

#2294 browsers/nodejs.json: update Node.js versions
  browsers/nodejs.json
  javascript/builtins/Array.json
  javascript/builtins/AsyncFunction.json
  javascript/builtins/Object.json
  javascript/builtins/Promise.json
  javascript/builtins/String.json
  javascript/builtins/WebAssembly.json
  javascript/classes.json
  javascript/functions.json
  javascript/operators/async_function_expression.json
  javascript/operators/await.json
  javascript/statements.json
  schemas/browsers.schema.json
Labels: data:browsers :earth_africa:

#2436 fix(trailing-commas): update node with supported version number
  javascript/grammar.json
  javascript/operators/function.json
  javascript/operators/function_star.json
  javascript/statements.json
Labels: data:js :pager:

#2189 Correct node support for spread in object literals (#2003)
  javascript/operators/spread.json
Labels: data:js :pager:

#2262 javascript/operators/spread.json: nodejs update
  javascript/operators/spread.json
Labels: data:js :pager:

#2254 Data for align-content
  css/properties/align-content.json
Labels: data:css :art:

#2253 Data for the align-self property
  css/properties/align-self.json
Labels: data:css :art:

#2120 Add compat data for TouchList
  api/TouchList.json
Labels: data:api :rabbit2:

#2314 Add compat data for GeometryUtils
  api/GeometryUtils.json
Labels: data:api :rabbit2:

#2209 Add compat data for input-range
  html/elements/input/range.json
Labels: data:html :page_facing_up:, not ready :no_entry:

#2443 Add client hint headers.
  http/headers/accept-ch-lifetime.json
  http/headers/accept-ch.json
  http/headers/content-dpr.json
  http/headers/device-memory.json
  http/headers/downlink.json
  http/headers/dpr.json
  http/headers/ect.json
  http/headers/rtt.json
  http/headers/save-data.json
  http/headers/viewport-width.json
  http/headers/width.json
Labels: data:http :mountain_cableway:

#2442 Add text-align’s <string> value
  css/properties/text-align.json
Labels: data:css :art:

#2435 chore(repo): Git ignore idea (intelliJ, webstorm etc) settings files
  .gitignore
Labels: infra :building_construction:

#2216 gitignore: ignore log files
  .gitignore
Labels: infra :building_construction:

#2456 Add note about default rtcpMuxPolicy in Chrome.
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#2401 DOMStringMap json file added
  api/DOMStringMap.json
Labels: data:api :rabbit2:

#2263 API: add SVGUnknownElement
  api/SVGUnknownElement.json
Labels: data:svg :paintbrush:

#2473 Sort Geolocation's Opera support entries by most-relevant first
  api/Geolocation.json
Labels: data:api :rabbit2:

#2469 Mark properties defined in Ecma-262 Annex B as deprecated
  javascript/builtins/Object.json
  javascript/builtins/String.json
Labels: data:js :pager:

#2459 lint/style: fix number of files with problems
  test/test-style.js
Labels: linter :house_with_garden:

#2458 lint/style: check constructor description + fix inconsistent ones
  api/DocumentTimeline.json
  api/FocusEvent.json
  api/KeyframeEffectReadOnly.json
  api/MediaStreamTrackEvent.json
  api/NotificationEvent.json
  api/PaymentRequest.json
  api/PresentationConnectionAvailableEvent.json
  api/PresentationConnectionCloseEvent.json
  api/PresentationRequest.json
  api/RTCDataChannelEvent.json
  api/RTCSessionDescription.json
  api/ServiceWorkerMessageEvent.json
  api/SpeechGrammar.json
  api/SpeechRecognition.json
  api/SpeechSynthesisUtterance.json
  test/test-style.js
Labels: data:api :rabbit2:, linter :house_with_garden:

#2438 Update backdrop-filter compat
  css/properties/backdrop-filter.json
Labels: data:css :art:

#2461 Update support info for RTCIceTransport
  api/RTCIceTransport.json
Labels: data:api :rabbit2:

#2457 Add Clear-Site-Data header
  http/headers/clear-site-data.json
Labels: data:http :mountain_cableway:

#2478 nodejs data: Reflect, yield, default args
  javascript/builtins/Reflect.json
  javascript/functions.json
  javascript/operators/yield.json
  javascript/operators/yield_star.json
  javascript/statements.json
Labels: data:js :pager:

#2480 Add docs for publishing a new package version
  CONTRIBUTING.md
Labels: docs :writing_hand:

#2471 Complete XMLDocument
  api/XMLDocument.json
Labels: data:api :rabbit2:

#1298 adding compat data for PerformanceEntry
  api/PerformanceEntry.json
Labels: data:api :rabbit2:

#2481 Replace AnimationEffectReadOnly with AnimationEffect
  api/AnimationEffect.json
  api/AnimationEffectReadOnly.json
Labels: data:api :rabbit2:

#2482 Remove AnimationEffectTiming* interfaces
  api/AnimationEffectTiming.json
  api/AnimationEffectTimingReadOnly.json
Labels: data:api :rabbit2:

#2483 Rename the AnimationEffectTimingProperties to EffectTiming
  api/EffectTiming.json
Labels: data:api :rabbit2:

#2485 Remove KeyframeEffectReadOnly; update KeyframeEffect
  api/KeyframeEffect.json
  api/KeyframeEffectReadOnly.json
Labels: data:api :rabbit2:

#2468 Opera for Android switched to Chromium in version 14
  api/HTMLTimeElement.json
  api/PositionOptions.json
  css/at-rules/keyframes.json
  css/at-rules/viewport.json
  css/properties/animation-delay.json
  css/properties/animation-direction.json
  css/properties/animation-duration.json
  css/properties/animation-fill-mode.json
  css/properties/animation-iteration-count.json
  css/properties/animation-name.json
  css/properties/animation-play-state.json
  css/properties/animation-timing-function.json
  css/properties/animation.json
  css/properties/box-decoration-break.json
  css/properties/column-gap.json
  css/properties/transition-delay.json
  css/properties/transition-duration.json
  css/properties/transition.json
  html/elements/audio.json
  html/elements/blink.json
Labels: data:api :rabbit2:, data:css :art:, data:html :page_facing_up:

#2453 Add data for input-time
  html/elements/input/time.json
Labels: data:html :page_facing_up:

#2472 adding compat data for MediaDevices
  api/MediaDevices.json
Labels: data:api :rabbit2:

#2488 Mark spellcheck global attribute as not-experimental.
  html/global_attributes.json
Labels: data:html :page_facing_up:

#2491 PerformanceNavigation is deprecated
  api/PerformanceNavigation.json
Labels: data:api :rabbit2:

#2490 Update overscroll-behavior.json
  css/properties/overscroll-behavior-x.json
  css/properties/overscroll-behavior-y.json
  css/properties/overscroll-behavior.json
Labels: data:css :art:

#2424 Add `‑ms‑scrollbar‑*‑color` properties
  css/properties/-ms-scrollbar-3dlight-color.json
  css/properties/-ms-scrollbar-arrow-color.json
  css/properties/-ms-scrollbar-base-color.json
  css/properties/-ms-scrollbar-darkshadow-color.json
  css/properties/-ms-scrollbar-face-color.json
  css/properties/-ms-scrollbar-highlight-color.json
  css/properties/-ms-scrollbar-shadow-color.json
  css/properties/-ms-scrollbar-track-color.json
Labels: data:css :art:

#2486 js/builtins/Array.json#values: nodejs
  javascript/builtins/Array.json
Labels: data:js :pager:

#1635 Add PerformanceTiming
  api/PerformanceTiming.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1755 Add compat data for InputEvent
  api/InputEvent.json
Labels: data:api :rabbit2:

#2257 HTTP/Headers: add Tk
  http/headers/tk.json
Labels: data:http :mountain_cableway:

#1732 adding compat data for Character Data
  api/CharacterData.json
Labels: data:api :rabbit2:

#1693 Add PerformanceObserver
  api/PerformanceObserver.json
Labels: data:api :rabbit2:

#1692 Add Performance
  api/Performance.json
Labels: data:api :rabbit2:

#2196 Add NodeJS versions for some features
  javascript/operators/arithmetic.json
  javascript/operators/assignment.json
  javascript/operators/class.json
  javascript/operators/destructuring.json
  javascript/operators/new_target.json
  javascript/statements.json
Labels: data:js :pager:

#1640 Add compat data for FileSystemEntry
  api/FileSystemEntry.json
Labels: data:api :rabbit2:

#2123 Add compat data for Transferable
  api/Transferable.json
Labels: data:api :rabbit2:

#2454 added support of :defined
  css/selectors/defined.json
Labels: data:css :art:

#2439 Added Microsoft-proprietary msIsStereo3D property
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#2261 HTTP/Headers: add Expect
  http/headers/expect.json
Labels: data:http :mountain_cableway:

#2259 HTTP/Headers: add X-Forwarded-(For|Host|Proto)
  http/headers/x-forwarded-for.json
  http/headers/x-forwarded-host.json
  http/headers/x-forwarded-proto.json
Labels: data:http :mountain_cableway:

#2258 HTTP/Headers: add (Proxy|WWW)-Authenticate
  http/headers/proxy-authenticate.json
  http/headers/www-authenticate.json
Labels: data:http :mountain_cableway:

#2256 HTTP/Headers: add X-DNS-Prefetch-Control
  http/headers/x-dns-prefetch-control.json
Labels: data:http :mountain_cableway:

#2437 Add DOMPointInit dictionary
  api/DOMPointInit.json
Labels: data:api :rabbit2:

#2264 API/DragEvent: add Constructor + fix Chrome/Opera version_added
  api/DragEvent.json
Labels: data:api :rabbit2:

#2381 Fix `column-gap` support in Flex context
  css/properties/column-gap.json
Labels: data:css :art:

#2406 Edge + Overflow-Wrap
  css/properties/overflow-wrap.json
Labels: data:css :art:

#2433 Added data for window.scroll for MS Edge
  api/Window.json
Labels: data:api :rabbit2:

#2312 Add data from MDN to the TaskAttributionTiming JSON.
  api/TaskAttributionTiming.json
Labels: data:api :rabbit2:

#2233 API: add HTMLKeygenElement
  api/HTMLKeygenElement.json
Labels: data:api :rabbit2:

#2251 API: add PopStateEvent
  api/PopStateEvent.json
Labels: data:api :rabbit2:

#1656 adding compat data for CSSKeyframeRule
  api/CSSKeyframeRule.json
Labels: data:api :rabbit2:

#2102 Add compat data for RadioNodeList
  api/RadioNodeList.json
Labels: data:api :rabbit2:

#2266 API: add CSSRuleList
  api/CSSRuleList.json
Labels: data:api :rabbit2:

#1657 adding compat data for CSSKeyframesRule
  api/CSSKeyframesRule.json
Labels: data:api :rabbit2:

#2269 API: add StyleSheetList
  api/StyleSheetList.json
Labels: data:api :rabbit2:

#1658 adding compat data for CSSMatrix
  api/CSSMatrix.json
Labels: data:api :rabbit2:

#1659 adding compat data for CSSMediaRule
  api/CSSMediaRule.json
Labels: data:api :rabbit2:

#2234 API: add UserDataHandler
  api/Node.json
  api/UserDataHandler.json
Labels: data:api :rabbit2:

#2501 Update versions of PerformanceTiming.toJSON() (
  api/PerformanceTiming.json
Labels: data:api :rabbit2:

#2502 Mark CSSKeyframesRule and CSSKeyframeRule as standard.
  api/CSSKeyframeRule.json
  api/CSSKeyframesRule.json
Labels: data:api :rabbit2:

#2464 lint: print relative filepath
  test/lint.js
  test/test-schema.js
  test/test-style.js
  test/test-versions.js
Labels: linter :house_with_garden:

#2238 HTMLFormControlsCollection: add namedItem sub-feature
  api/HTMLFormControlsCollection.json
Labels: data:api :rabbit2:

#2248 API: add FileList
  api/FileList.json
Labels: data:api :rabbit2:

#1767 API: add CloseEvent
  api/CloseEvent.json
Labels: data:api :rabbit2:

#2271 API: add StorageEstimate
  api/StorageEstimate.json
Labels: data:api :rabbit2:

#2247 API: add SVGPoint
  api/SVGPoint.json
Labels: data:api :rabbit2:

#2276 API: add ProcessingInstruction
  api/ProcessingInstruction.json
Labels: data:api :rabbit2:

#2272 API/StorageManager: add compat data
  api/StorageManager.json
Labels: data:api :rabbit2:
