Repository mdn/browser-compat-data, pull requests merged in 2018-09, with the labels that each got.

#2697 updating compatibility for onpopstate event
  api/WindowEventHandlers.json
Labels: data:api :rabbit2:

#2710 Add compat data for the webextension 'find' optional permission
  webextensions/manifest/optional_permissions.json
Labels: data:webext :game_die:

#2711 Update nodejs versions for some builtins
  javascript/builtins/Float32Array.json
  javascript/builtins/Float64Array.json
  javascript/builtins/Generator.json
  javascript/builtins/Int32Array.json
  javascript/builtins/Number.json
  javascript/builtins/Object.json
  javascript/builtins/RegExp.json
  javascript/builtins/String.json
  javascript/builtins/TypedArray.json
  javascript/builtins/Uint16Array.json
  javascript/builtins/Uint32Array.json
Labels: data:js :pager:

#2709 Update compat data for Worker name option
  api/Worker.json
Labels: data:api :rabbit2:

#2712 Adding data for flow-relative values of the resize property
  css/properties/resize.json
Labels: data:css :art:

#2708 Add compat data for CSS `::-ms-value` pseudo-element
  css/selectors/-ms-value.json
Labels: data:css :art:

#2713 Adding initial compat data for scrollbar-width
  css/properties/scrollbar-width.json
Labels: data:css :art:

#2714 fix(api): Add Firefox note about <marquee> implementing HTMLDivElement
  api/HTMLMarqueeElement.json
  html/elements/marquee.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#2716 Fix Chrome version for parseFromString (HTML) support
  api/DOMParser.json
Labels: data:api :rabbit2:

#2725 Update Chrome releases now that Chrome 69 has been released.
  browsers/chrome.json
Labels: data:browsers :earth_africa:

#2720 Nodejs 10.9.0
  browsers/nodejs.json
  javascript/builtins/Array.json
Labels: data:browsers :earth_africa:, data:js :pager:

#2736 Firefox 52 ESR end of life
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#2726 Edge supports innerText, obviously
  api/Node.json
Labels: data:api :rabbit2:

#2723 adding data for HTML img decoding attribute
  api/HTMLImageElement.json
  html/elements/img.json
Labels: data:api :rabbit2:

#2717 Add browser support info for innerHTML
  api/Element.json
Labels: data:api :rabbit2:

#2715 Fix and improve compatibility of insertAdjacent*() methods
  api/Element.json
Labels: data:api :rabbit2:

#2727 tabs.onHighlighted proper support
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#2728 Add data for visible option to menus.create()
  webextensions/api/menus.json
Labels: data:webext :game_die:

#2735 removing bug note from getComputedStyle() data — this isnt really cor…
  api/Window.json
Labels: data:api :rabbit2:

#2753 Bug 1291515 / Bug 1444905 - Remove support for <style scoped>
  api/HTMLStyleElement.json
  html/elements/style.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#2750 Note onCommand user action status
  webextensions/api/commands.json
Labels: data:webext :game_die:

#2751 Note access key support
  webextensions/api/menus.json
Labels: data:webext :game_die:

#2748 Bug 1419960 - Windows with noopener need standard features
  html/elements/link.json
Labels: data:html :page_facing_up:

#2752 Webrequest speculative
  webextensions/api/webRequest.json
Labels: data:webext :game_die:

#2742 CSS/properties: add box-ordinal-group
  css/properties/box-ordinal-group.json
Labels: data:css :art:

#2747 CSS/properties: add initial-letter-align
  css/properties/initial-letter-align.json
Labels: data:css :art:

#2739 CSS/properties: add box-align
  css/properties/box-align.json
Labels: data:css :art:

#2698 Update the data for ScreenOrientation
  api/ScreenOrientation.json
Labels: data:api :rabbit2:

#2701 Remove flex-grow alternative-name from IE11
  css/properties/flex-grow.json
Labels: data:css :art:

#2756 Bug 1452569 - support Event.returnValue in Firefox
  api/Event.json
Labels: data:api :rabbit2:

#2757 Bug 218415 - Firefox 63 supports Window.event
  api/Window.json
Labels: data:api :rabbit2:

#2760 Add Edge support for the font-variation-settings CSS property.
  css/properties/font-variation-settings.json
Labels: data:css :art:

#2759 Updating Firefox support data for the VisualViewport API
  api/VisualViewport.json
  api/Window.json
Labels: data:api :rabbit2:

#2764 Add data for set/get badge text color
  webextensions/api/browserAction.json
Labels: data:webext :game_die:

#2763 Add data for Opera for "visible" parameter in menu api
  webextensions/api/menus.json
Labels: data:webext :game_die:

#2771 Describe isArticle naming issue
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#2780 [Chrome] Updates for box-ordinal-group.
  css/properties/box-ordinal-group.json
Labels: data:css :art:

#2783 Add options and favicon to topSites data
  webextensions/api/topSites.json
Labels: data:webext :game_die:

#2767 Add compat data for ReadableStreamBYOBReader.
  api/ReadableStreamBYOBReader.json
Labels: data:api :rabbit2:

#2786 CSS properties: add partial-implementation to align-content
  css/properties/align-content.json
Labels: data:css :art:

#2768 Add compat data for ReadableByteStreamController.
  api/ReadableByteStreamController.json
Labels: data:api :rabbit2:

#2746 CSS/properties: add font-smooth
  css/properties/font-smooth.json
Labels: data:css :art:

#2749 CSS/properties: add line-height-step
  css/properties/line-height-step.json
Labels: data:css :art:

#2787 Fix typo in Node.ownerDocument notes
  api/Node.json
Labels: data:api :rabbit2:

#2777 Add compat data for ::-ms-reveal pseudo-element.
  css/selectors/-ms-reveal.json
Labels: data:css :art:

#2778 Add compat data for ::-ms-browse pseudo-element.
  css/selectors/-ms-browse.json
Labels: data:css :art:

#2779 Add compat data for :-moz-focusring pseudo-class.
  css/selectors/-moz-focusring.json
Labels: data:css :art:

#2775 Add ::-ms-check CSS pseudo-element.
  css/selectors/-ms-check.json
Labels: data:css :art:

#2774 Add -ms-fill, -ms-fill-lower, and -ms-fill-upper CSS selectors
  css/selectors/-ms-fill-lower.json
  css/selectors/-ms-fill-upper.json
  css/selectors/-ms-fill.json
Labels: data:css :art:

#2785 Add JavaScript dynamic import support for Safari and IE
  javascript/statements.json
Labels: data:js :pager:

#2791 Web APIs: adding compat data for File.webkitRelativePath
  api/File.json
Labels: WriteTheDocs :book:, data:api :rabbit2:

#2776 Add compat data for ::-ms-clear pseudo-element.
  css/selectors/-ms-clear.json
Labels: data:css :art:

#2801 `margin-inline-start` alternative fix for Chrome
  css/properties/margin-inline-start.json
Labels: data:css :art:

#2803 MediaCapabilities: changed experimental to false.
  api/MediaCapabilities.json
Labels: data:api :rabbit2:

#2804 Add note to IE for DOMImplementation
  api/DOMImplementation.json
Labels: data:api :rabbit2:

#2798 [Chrome] Correct File.json.
  api/File.json
Labels: data:api :rabbit2:

#2797 [Chrome] Correct SourceBufferList.
  api/SourceBufferList.json
Labels: data:api :rabbit2:

#2796 Update HTMLFormElement.submit compat table
  api/HTMLFormElement.json
Labels: data:api :rabbit2:

#2790 Web APIs: adding compat data for FileException
  api/FileException.json
Labels: WriteTheDocs :book:, data:api :rabbit2:

#2719 Add compat data for the webextension 'tabHide' optional permission
  webextensions/manifest/optional_permissions.json
Labels: data:webext :game_die:

#2811 adding Early-Data http header
  http/headers/early-data.json
Labels: data:http :mountain_cableway:

#2805 clearing up data confusion about SVGPathElement and SVGGeometryElement
  api/SVGGeometryElement.json
  api/SVGPathElement.json
Labels: data:api :rabbit2:

#2789 Update HTMLElement.click support table
  api/HTMLElement.json
Labels: data:api :rabbit2:

#2812 Fix value of 'experimental' member.
  api/AbsoluteOrientationSensor.json
  api/Accelerometer.json
  api/AmbientLightSensor.json
  api/Gyroscope.json
  api/LinearAccelerationSensor.json
  api/Magnetometer.json
  api/OrientationSensor.json
  api/RelativeOrientationSensor.json
  api/Sensor.json
  api/SensorErrorEvent.json
Labels: data:api :rabbit2:

#2809 [Chrome] Improve Element.json.
  api/Element.json
Labels: data:api :rabbit2:

#2807 Alphabetize members.
  api/Event.json
Labels: data:api :rabbit2:

#2794 Update streaming support for Fetch API
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#2769 Bug 1468356 - paymentmethodchange event
  api/PaymentMethodChangeEvent.json
  api/PaymentRequest.json
Labels: data:api :rabbit2:

#2758 [Chrome] Keyboard Map and Keyboard Lock
  api/Keyboard.json
  api/KeyboardLayoutMap.json
  api/Navigator.json
Labels: data:api :rabbit2:

#2808 Add compat data for "discarded" inside browser.tabs.create()
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#2802 Add RTCRtpStreamStats dictionary
  api/RTCRtpStreamStats.json
Labels: data:api :rabbit2:

#2837 Mark the menuitem element as deprecated
  html/elements/menuitem.json
Labels: data:html :page_facing_up:

#2833 Correct cut and paste error in Gyroscope constructor
  api/Gyroscope.json
Labels: data:api :rabbit2:

#2823 RTCRtpStreamStats.isRemote default change in Firefox 28
  api/RTCRtpStreamStats.json
Labels: data:api :rabbit2:

#2838 Mark HTMLElement: contextMenu as deprecated
  api/HTMLElement.json
Labels: data:api :rabbit2:

#2815 fix RTCPeerConnection connectionState compat information
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#2822 CSS clip-path property: added path() and removed compat for inset()
  css/properties/clip-path.json
Labels: data:css :art:

#2792 Add browser compat data for linear-gradient()
  css/types/image.json
Labels: WriteTheDocs :book:, data:css :art:

#2844 Add dynamic import status for MS Edge
  javascript/statements.json
Labels: data:js :pager:

#2847 Add a note about HTTP 308 for IE
  http/status.json
Labels: data:http :mountain_cableway:

#2707 Bug 1264182 - objectURL methods removed from ServiceWorker
  api/URL.json
Labels: data:api :rabbit2:

#2729 Update 'upgrade-insecure-requests' safari compatibility
  http/headers/content-security-policy.json
Labels: data:http :mountain_cableway:

#2730 Bug 1399757 Document RTCAnswerOptions
  api/RTCAnswerOptions.json
  api/RTCOfferAnswerOptions.json
  api/RTCOfferOptions.json
Labels: data:api :rabbit2:

#2765 Fix script integrity for Edge and Safari
  html/elements/script.json
Labels: data:html :page_facing_up:

#2872 Add Array.prototype.{flat,flatMap} to Safari 12
  javascript/builtins/Array.json
Labels: data:js :pager:

#2832 Add compat data for -moz-outline-radius property
  css/properties/-moz-outline-radius.json
Labels: data:css :art:

#2800 Update Bluetooth API support.
  api/Bluetooth.json
  api/BluetoothCharacteristicProperties.json
  api/BluetoothRemoteGATTCharacteristic.json
  api/BluetoothRemoteGATTDescriptor.json
  api/BluetoothRemoteGATTServer.json
  api/BluetoothRemoteGATTService.json
Labels: data:api :rabbit2:

#2770 Add more Element subfeatures
  api/Element.json
Labels: data:api :rabbit2:

#2806 [Chrome] Updates for Shadow DOM.
  api/CustomElementRegistry.json
  api/DocumentOrShadowRoot.json
  api/ShadowRoot.json
Labels: data:api :rabbit2:

#2820 [Chrome] Add support for 'Global'.
  javascript/builtins/WebAssembly.json
Labels: data:js :pager:

#2824 Add compat data for ::-moz-page and related psuedo-elements
  css/selectors/-moz-page-sequence.json
  css/selectors/-moz-page.json
  css/selectors/-moz-scrolled-page-sequence.json
Labels: data:css :art:

#2825 Add compat data for -moz-binding property.
  css/properties/-moz-binding.json
Labels: data:css :art:

#2826 Add compat data for ::-moz-range-* pseudo-elements
  css/selectors/-moz-range-progress.json
  css/selectors/-moz-range-thumb.json
  css/selectors/-moz-range-track.json
Labels: data:css :art:

#2827 Add compat data for :-moz-window-inactive pseudo-class.
  css/selectors/-moz-window-inactive.json
Labels: data:css :art:

#2828 Add compat data for :-moz-full-screen-ancestor pseudo-class.
  css/selectors/-moz-full-screen-ancestor.json
Labels: data:css :art:

#2830 Add compat data for -moz-orient property
  css/properties/-moz-orient.json
Labels: data:css :art:

#2831 Add compat data for -moz-text-blink property.
  css/properties/-moz-text-blink.json
Labels: data:css :art:

#2845 Updated for missing samsung and chrome data
  css/properties/background.json
  css/properties/border-radius.json
Labels: data:css :art:

#2849 Correct RTCPeerConnection.canTrickleIceCandidates support
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#2850 Add api/GlobalEventHandlers/onresize data
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#2856 Add window: alert, blur, confirm, focus methods
  api/Window.json
Labels: data:api :rabbit2:

#2857 Add window: document and window: frames
  api/Window.json
Labels: data:api :rabbit2:

#2862 Add data for Navigator: vendor
  api/Navigator.json
Labels: data:api :rabbit2:

#2864 Updated Firefox compatibility for "pointer" and "hover" media features
  css/at-rules/media.json
Labels: data:css :art:

#2866 Updating browsers compatibility of navigator.onLine
  api/NavigatorOnLine.json
Labels: data:api :rabbit2:

#2860 Add compat data for document.fonts
  api/Document.json
Labels: data:api :rabbit2:

#2839 Chrome 69 added support for env()
  css/properties/custom-property.json
Labels: data:css :art:

#2861 Bug 1269276: Enable unprefixed Fullscreen API
  api/Document.json
  api/DocumentOrShadowRoot.json
  api/Element.json
Labels: data:api :rabbit2:

#2865 Update Date.json
  javascript/builtins/Date.json
Labels: data:js :pager:

#2870 Update Opera browser data
  browsers/opera.json
Labels: data:browsers :earth_africa:
