Repository mdn/browser-compat-data, pull requests merged in 2018-08, with the labels that each got.

#2543 Added missing <input type="password"> description
  html/elements/input/password.json
Labels: data:html :page_facing_up:

#2021 Add compat data for Window event handlers
  api/Window.json
Labels: data:api :rabbit2:

#2544 Updated support of Android WebView.
  html/elements/datalist.json
Labels: data:html :page_facing_up:

#2553 Update CanvasRenderingContext2D.json (.canvas)
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#2552 Bug 1152401 - enumerateDevices() and outputs
  api/MediaDevices.json
Labels: data:api :rabbit2:

#2555 Fix two incorrect MDN URLs.
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#2561 upgrade insecure requests was added in Edge 17
  http/headers/upgrade-insecure-requests.json
Labels: data:http :mountain_cableway:

#2563 Bug 1471613 - EXT_disjoint_timer_query disabled
  api/EXT_disjoint_timer_query.json
Labels: data:api :rabbit2:

#2551 Feature Policy, part II.
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#2566 Update compat data for onbeforeunload on Edge
  api/WindowEventHandlers.json
Labels: data:api :rabbit2:

#2562 Adding support for Request.destination in Chrome, Opera and Edge
  api/Request.json
  api/RequestDestination.json
Labels: data:api :rabbit2:

#2564 Added data for window.cancelAnimationFrame
  api/Window.json
Labels: data:api :rabbit2:

#2547 "ExperimentalCanvasFeatures" -> "Experimental Web Platform Features"
  api/CanvasRenderingContext2D.json
  api/MouseEvent.json
  api/TextMetrics.json
Labels: data:api :rabbit2:

#2567 Bug 1148354 - remove Doppler effect from PannerNode
  api/AudioListener.json
  api/PannerNode.json
Labels: data:api :rabbit2:

#2565 Update InputEvent.getTargetRanges() support since Safari has already supported
  api/InputEvent.json
Labels: data:api :rabbit2:

#2549 Updated compat data for console.countReset method.
  api/Console.json
Labels: data:api :rabbit2:

#2548 update SVG <use> browser support - safari has no support for "href"
  svg/elements/use.json
Labels: data:svg :paintbrush:

#2539 Added browser support information for timeLog() method
  api/Console.json
Labels: data:api :rabbit2:

#2503 builtins: Date, Number, String: fix hierarchy
  javascript/builtins/Date.json
  javascript/builtins/Number.json
  javascript/builtins/String.json
Labels: data:js :pager:

#2239 HTMLFormElement: add sub-features
  api/HTMLFormElement.json
Labels: data:api :rabbit2:

#1754 Add compat data for ErrorEvent
  api/ErrorEvent.json
Labels: data:api :rabbit2:

#2246 API: add HTMLMenuItemElement
  api/HTMLMenuItemElement.json
Labels: data:api :rabbit2:

#2534 Node.js: lots of data copied from node-compat-table
  javascript/builtins/Array.json
  javascript/builtins/ArrayBuffer.json
  javascript/builtins/DataView.json
  javascript/builtins/Float32Array.json
  javascript/builtins/Float64Array.json
  javascript/builtins/Int16Array.json
  javascript/builtins/Int32Array.json
  javascript/builtins/Int8Array.json
  javascript/builtins/Map.json
  javascript/builtins/Math.json
  javascript/builtins/Number.json
  javascript/builtins/Set.json
  javascript/builtins/String.json
  javascript/builtins/TypedArray.json
  javascript/builtins/Uint16Array.json
  javascript/builtins/Uint32Array.json
  javascript/builtins/Uint8Array.json
  javascript/builtins/Uint8ClampedArray.json
  javascript/builtins/WeakMap.json
  javascript/builtins/WeakSet.json
  javascript/grammar.json
Labels: data:js :pager:

#2498 Add VisualStudio Code extension recommendations and basic settings
  .npmignore
  .vscode/extensions.json
  .vscode/settings.json
Labels: infra :building_construction:

#2538 Update Chrome support for cursor grab now that v68 unprefixes it.
  css/properties/cursor.json
Labels: data:css :art:

#2574 Mark spelling-error and grammar-error as unsupported in all browsers.
  css/selectors/grammar-error.json
  css/selectors/spelling-error.json
Labels: data:css :art:

#2571 js/builtins/Array.json#values: better notes text
  javascript/builtins/Array.json
Labels: data:js :pager:

#2576 Correct `Element.matches(…)`
  api/Element.json
Labels: data:api :rabbit2:

#2577 Update -webkit-overflow-scrolling.json
  css/properties/-webkit-overflow-scrolling.json
Labels: data:css :art:

#2578 Update matches.json
  css/selectors/matches.json
Labels: data:css :art:

#2579 Update X-Frame-Options compatibility for Sarafi and Edge
  http/headers/x-frame-options.json
Labels: data:http :mountain_cableway:

#2581 removed flag requirement in FF63 for -webkit-dpr
  css/at-rules/media.json
Labels: data:css :art:

#2507 Add XDomainRequest compat data.
  api/XDomainRequest.json
Labels: data:api :rabbit2:

#1955 Correct CSS `display`
  css/properties/display.json
Labels: data:css :art:

#1956 Correct SMIL compatibility information
  api/SVGAnimateColorElement.json
  api/SVGAnimateElement.json
  api/SVGAnimateMotionElement.json
  api/SVGAnimateTransformElement.json
  api/SVGAnimationElement.json
  api/SVGSetElement.json
Labels: data:api :rabbit2:

#2164 Touch
  api/Touch.json
Labels: data:api :rabbit2:

#2223 ImageCapture API
  api/ImageCapture.json
Labels: data:api :rabbit2:

#2268 API: add StyleSheet
  api/StyleSheet.json
Labels: data:api :rabbit2:

#2270 API: add StorageEvent
  api/StorageEvent.json
Labels: data:api :rabbit2:

#2273 API: add PublicKeyCredentialCreationOptions
  api/PublicKeyCredentialCreationOptions.json
Labels: data:api :rabbit2:

#2583 Migrate atomics compat notes
  javascript/builtins/Atomics.json
Labels: data:js :pager:

#2582 Add data for documentUrl
  webextensions/api/webRequest.json
Labels: data:webext :game_die:

#2550 proxy.settings is not supported on android
  webextensions/api/proxy.json
Labels: data:webext :game_die:

#2513 update setIcon to include Edge notes
  webextensions/api/browserAction.json
Labels: data:webext :game_die:

#2455 Add isolation features to MediaStreamTrack, fix standards track
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#2560 Fix `gap` and `row‑gap` support in Flex context
  css/properties/column-gap.json
  css/properties/gap.json
  css/properties/row-gap.json
Labels: data:css :art:

#2092 Add compat data for MimeTypeArray
  api/MimeTypeArray.json
Labels: data:api :rabbit2:

#2590 refactor(we.mf.options_ui): Merge `chrome_style` into `browser_style`
  webextensions/manifest/options_ui.json
Labels: data:webext :game_die:

#2591 feat(api.Document): Add `Document.registerElement(…)`
  api/Document.json
Labels: data:api :rabbit2:

#2592 Fix typo
  CONTRIBUTING.md
Labels: docs :writing_hand:

#1682 adding compat data for NamedNodeMap
  api/NamedNodeMap.json
Labels: data:api :rabbit2:

#1691 Add NetworkInformation
  api/NetworkInformation.json
Labels: data:api :rabbit2:

#1684 adding compat data for BluetoothRemoteGATTServer
  api/BluetoothRemoteGATTServer.json
Labels: data:api :rabbit2:

#1687 adding compat data for BluetoothRemoteGATTCharacteristic
  api/BluetoothRemoteGATTCharacteristic.json
Labels: data:api :rabbit2:

#1918 Add compat data for api.TextDecoder
  api/TextDecoder.json
Labels: data:api :rabbit2:

#2083 Add compat data for MessageChannel
  api/MessageChannel.json
Labels: data:api :rabbit2:

#2089 Add compat data for MessagePort
  api/MessagePort.json
Labels: data:api :rabbit2:

#2165 Add compat data for BluetoothRemoteGATTService
  api/BluetoothRemoteGATTService.json
Labels: data:api :rabbit2:

#2091 Add compat data for MimeType
  api/MimeType.json
Labels: data:api :rabbit2:

#2097 Add compat data for Plugin
  api/Plugin.json
Labels: data:api :rabbit2:

#2098 Add compat data for PluginArray
  api/PluginArray.json
Labels: data:api :rabbit2:

#2096 Add compat data for PageTransitionEvent
  api/PageTransitionEvent.json
Labels: data:api :rabbit2:

#2090 Add compat data for Metadata
  api/Metadata.json
Labels: data:api :rabbit2:

#2282 add compat data for Position
  api/Position.json
Labels: data:api :rabbit2:

#2398 Adding compat data for PositionError.
  api/PositionError.json
Labels: data:api :rabbit2:

#2594 Update window.open support to indicate IE and Edge support
  api/Window.json
Labels: data:api :rabbit2:

#2100 Add compat data for PromiseRejectionEvent
  api/PromiseRejectionEvent.json
Labels: data:api :rabbit2:

#2586 Firefox 62 allows a windowId parameter in browserAction methods
  webextensions/api/browserAction.json
Labels: data:webext :game_die:

#2559 Add "sidebar" to extension.ViewType
  webextensions/api/extension.json
Labels: data:webext :game_die:

#2541 Add Microsoft Edge notes to `browser_action.default_area`
  webextensions/manifest/browser_action.json
Labels: data:webext :game_die:

#2595 Fix Navigator.share compatibility Chrome/Opera
  api/Navigator.json
Labels: data:api :rabbit2:

#2597 Make mentions of macOS more consistent
  api/Navigator.json
  webextensions/api/tabs.json
Labels: data:api :rabbit2:, data:webext :game_die:

#2598 Fix note formatting for appearance property
  css/properties/appearance.json
Labels: data:css :art:

#2599 Invert onbeforeunload.custom_text_support_removed
  api/WindowEventHandlers.json
Labels: data:api :rabbit2:

#2600 fix(http.headers.sts): Strict‑Transport‑Security is not deprecated
  http/headers/strict-transport-security.json
Labels: data:http :mountain_cableway:

#1718 Add compat data for ExtendableMessageEvent
  api/ExtendableMessageEvent.json
Labels: data:api :rabbit2:

#2495 Add missing Element subfeatures
  api/Element.json
Labels: data:api :rabbit2:

#2604 Add Element.toggleAttribute subfeature.
  api/Element.json
Labels: data:api :rabbit2:

#2606 Misc fixes for PermissionStatus.json
  api/PermissionStatus.json
Labels: data:api :rabbit2:

#2607 Add compat data for the SVGFEColorMatrixElement API
  api/SVGFEColorMatrixElement.json
Labels: data:api :rabbit2:

#2608 Add compat data for RTCRtpTransceiverDirection
  api/RTCRtpTransceiverDirection.json
Labels: data:api :rabbit2:

#2610 Add compat data for RTCRtpTransceiverInit.
  api/RTCRtpTransceiverInit.json
Labels: data:api :rabbit2:

#2611 fix(api.Bluetooth): Complete Web Bluetooth API
  api/Bluetooth.json
  api/BluetoothAdvertisingData.json
  api/BluetoothCharacteristicProperties.json
  api/BluetoothDevice.json
  api/BluetoothRemoteGATTDescriptor.json
  api/BluetoothRemoteGATTService.json
Labels: data:api :rabbit2:

#2250 API: add MediaTrackSupportedConstraints
  api/MediaTrackSupportedConstraints.json
Labels: data:api :rabbit2:

#2241 API: add HTMLFrameElement
  api/HTMLFrameElement.json
Labels: data:api :rabbit2:

#2249 API: add MediaTrackSettings
  api/MediaTrackSettings.json
Labels: data:api :rabbit2:

#1762 API: add DataTransfer
  api/DataTransfer.json
Labels: data:api :rabbit2:

#1885 Add compat data to api.WheelEvent
  api/WheelEvent.json
Labels: data:api :rabbit2:

#2080 Add compat data for MSGestureEvent
  api/MSGestureEvent.json
Labels: data:api :rabbit2:

#2593 fix(api.ServiceWorker): Fix Microsoft Edge compat data
  api/Navigator.json
  api/ServiceWorker.json
  api/ServiceWorkerContainer.json
  api/ServiceWorkerMessageEvent.json
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#2440 Update registerProtocolHandler/registerContentHandler
  api/Navigator.json
Labels: data:api :rabbit2:

#1881 Add Service Worker support in Safari 11.1
  api/Navigator.json
  api/ServiceWorker.json
  api/ServiceWorkerContainer.json
  api/ServiceWorkerGlobalScope.json
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:, rebase-needed :construction:

#1763 API: add DataTransferItem
  api/DataTransferItem.json
Labels: data:api :rabbit2:

#1764 API: add DataTransferItemList
  api/DataTransferItemList.json
Labels: data:api :rabbit2:

#2616 update SVG <use> browser support - mobile safari has no support for "…
  svg/elements/use.json
Labels: data:svg :paintbrush:

#2615 Update RTCDataChannel for bug 1335206
  api/RTCDataChannel.json
Labels: data:api :rabbit2:

#1690 Add Location
  api/Location.json
Labels: data:api :rabbit2:

#1753 Add compat data for EventSource
  api/EventSource.json
Labels: data:api :rabbit2:

#1884 Add compat data for api.UIEvent
  api/UIEvent.json
Labels: data:api :rabbit2:

#2316 Add compat data for Element
  api/Element.json
Labels: data:api :rabbit2:, rebase-needed :construction:

#2237 API: add VTTCue
  api/VTTCue.json
Labels: data:api :rabbit2:

#2236 API: add WebSocket
  api/WebSocket.json
Labels: data:api :rabbit2:

#2603 Add node methods
  api/Node.json
Labels: data:api :rabbit2:

#2585 Correct support for windowTypes parameter in browser.windows methods
  webextensions/api/windows.json
Labels: data:webext :game_die:

#2619 Numeric font weights are supported in Chrome as of release 62
  css/properties/font-weight.json
Labels: data:css :art:

#2623 Add Promise.finally support in Safari 11.1
  javascript/builtins/Promise.json
Labels: data:js :pager:

#2625 Fix DataTransferItemList export
  api/DataTransferItemList.json
Labels: data:api :rabbit2:

#2626 Add more directives to Feature Policy header
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#2627 fix(html.elements.applet): <applet> was removed in Chrome 47
  html/elements/applet.json
Labels: data:html :page_facing_up:

#2628 fix(css.properties.display): Correct hierarchy of XUL display values
  css/properties/display.json
Labels: data:css :art:

#2630 Support for RGBA hex notation landed in Chrome 62, not 63
  css/properties/color.json
Labels: data:css :art:

#2624 Bug 1471947 / Bug 1471948 ‑ WebComponents are shipping in Firefox 63
  api/CustomElementRegistry.json
  api/Element.json
  api/HTMLSlotElement.json
  api/ShadowRoot.json
  api/Slotable.json
  api/Window.json
  css/selectors/host.json
  css/selectors/hostfunction.json
  css/selectors/slotted.json
  html/elements/slot.json
  html/global_attributes.json
Labels: data:api :rabbit2:

#2545 Indicate that SharedArrayBuffer was reenabled on Chrome.
  javascript/builtins/Atomics.json
  javascript/builtins/SharedArrayBuffer.json
Labels: data:js :pager:

#1916 Add compat data for apis MouseScrollEvent and MouseWheelEvent
  api/MouseScrollEvent.json
  api/MouseWheelEvent.json
Labels: data:api :rabbit2:

#2622 Fix BluetoothDevice URL
  api/BluetoothDevice.json
Labels: data:api :rabbit2:

#2621 Correct devices -> device
  api/BluetoothRemoteGATTServer.json
Labels: data:api :rabbit2:

#2308 Create TypeScript Definition File
  index.d.ts
  package.json
Labels: help wanted, infra :building_construction:

#2103 Add compat data for Screen
  api/Screen.json
Labels: data:api :rabbit2:

#2632 fix(css.selectors.placeholder-shown): Firefox supports non‑text types
  css/selectors/placeholder-shown.json
Labels: data:css :art:

#2106 Add compat data for StorageQuota
  api/StorageQuota.json
Labels: data:api :rabbit2:

#1699 Add compat data for NonDocumentTypeChildNode
  api/NonDocumentTypeChildNode.json
Labels: data:api :rabbit2:

#2222 API: add HTMLDocument
  api/HTMLDocument.json
Labels: data:api :rabbit2:

#2572 Add MediaCapabilities interface
  api/MediaCapabilities.json
Labels: data:api :rabbit2:

#1265 HtmlHyperlinkElementUtils
  api/HTMLHyperlinkElementUtils.json
Labels: data:api :rabbit2:

#2153 Adding compatibility data for HTMLImageElement
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#1855 API: add Permissions
  api/Permissions.json
Labels: data:api :rabbit2:

#2500 fix(css): fix edge support table for gap, row-gap and column-gap
  css/properties/column-gap.json
  css/properties/gap.json
  css/properties/row-gap.json
Labels: data:css :art:, rebase-needed :construction:

#2641 added mediaCapabilities to Navigator API
  api/Navigator.json
Labels: data:api :rabbit2:

#2639 Unprefixed logical CSS properties are shipping in Chromium 69
  css/properties/margin-block-end.json
  css/properties/margin-block-start.json
  css/properties/margin-inline-end.json
  css/properties/margin-inline-start.json
  css/properties/padding-block-end.json
  css/properties/padding-block-start.json
  css/properties/padding-inline-end.json
  css/properties/padding-inline-start.json
Labels: data:css :art:

#1720 Add compat data for GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#2637 fix(css.properties.place‑*): Split grid and flex context
  css/properties/align-self.json
  css/properties/justify-content.json
  css/properties/justify-items.json
  css/properties/justify-self.json
  css/properties/place-content.json
  css/properties/place-items.json
  css/properties/place-self.json
Labels: data:css :art:

#2643 Firefox 63 ships Clear-Site-Data header
  http/headers/clear-site-data.json
Labels: data:http :mountain_cableway:

#2638 Add feature policy JS API.
  api/Document.json
  api/HTMLIFrameElement.json
  api/Policy.json
Labels: data:api :rabbit2:

#2645 Performance: add Safari 11 updates
  api/Performance.json
  api/PerformanceEntry.json
  api/PerformanceMark.json
  api/PerformanceMeasure.json
  api/PerformanceObserver.json
  api/PerformanceObserverEntryList.json
Labels: data:api :rabbit2:

#2646 Correct sensor policies.
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#2163 Add mobile versions and correct api.URL
  api/URL.json
Labels: data:api :rabbit2:

#2522 update FileReaderSync compat data to only show availability in Workers
  api/FileReaderSync.json
Labels: data:api :rabbit2:

#2644 Firefox 63 ships SecurityPolicyViolationEvent (bug 1472661)
  api/SecurityPolicyViolationEvent.json
Labels: data:api :rabbit2:

#2651 Object.entries is supported in iOS Safari from 10.1.
  javascript/builtins/Object.json
Labels: data:js :pager:

#2652 XDomainRequest was removed in IE11, not IE10.
  api/XDomainRequest.json
Labels: data:api :rabbit2:

#2653 fix(html.elements.slot): Firefox supports the [name] attribute
  html/elements/slot.json
Labels: data:html :page_facing_up:

#2658 Fix mdn_url for NonDocumentTypeChildNode.nextElementSibling
  api/NonDocumentTypeChildNode.json
Labels: data:api :rabbit2:

#2647 Add Generic Sensor API.
  api/AbsoluteOrientationSensor.json
  api/Accelerometer.json
  api/AmbientLightSensor.json
  api/Gyroscope.json
  api/LinearAccelerationSensor.json
  api/Magnetometer.json
  api/OrientationSensor.json
  api/RelativeOrientationSensor.json
  api/Sensor.json
  api/SensorErrorEvent.json
Labels: data:api :rabbit2:

#2657 Fix mdn_url for URLSearchParams.toString
  api/URLSearchParams.json
Labels: data:api :rabbit2:

#2671 fix(css.selectors): Correct spelling mistakes in `Namespaces`
  css/selectors/type.json
  css/selectors/universal.json
Labels: data:css :art:

#2659 Add DOMQuad compat data.
  api/DOMQuad.json
Labels: data:api :rabbit2:

#2661 Add CompositionEvent constructor.
  api/CompositionEvent.json
Labels: data:api :rabbit2:

#2663 Add ReadableStreamDefaultReader compat data
  api/ReadableStreamDefaultReader.json
Labels: data:api :rabbit2:

#2664 Add compat data for WritableStreamDefaultController
  api/WritableStreamDefaultController.json
Labels: data:api :rabbit2:

#2665 Add data for ScriptProcessorNode API
  api/ScriptProcessorNode.json
Labels: data:api :rabbit2:
