Repository mdn/browser-compat-data, pull requests merged in 2018-11, with the labels that each got.

#2990 Adding Storage Access API compat data
  api/Document.json
  html/elements/iframe.json
Labels: data:api :rabbit2:

#3038 Update browser compatibility for rest_in_objects
  javascript/operators/destructuring.json
  javascript/operators/object_initializer.json
Labels: data:js :pager:

#2949 Merge DOMSettableTokenList with DOMTokenList.
  api/DOMTokenList.json
  api/HTMLIFrameElement.json
  api/HTMLLinkElement.json
  api/HTMLOutputElement.json
Labels: data:api :rabbit2:

#3043 FileSystem: Edge Note: Fix tag escaping
  api/FileSystem.json
Labels: data:api :rabbit2:

#3045 Add `object-fit` and `object-position` Safari Support Details
  css/properties/object-fit.json
  css/properties/object-position.json
Labels: data:css :art:

#3044 Bug 1496617: Unprefix `image-rendering: crisp-edges`
  css/properties/image-rendering.json
Labels: data:css :art:

#3046 adding ScrollToOptions browser support information
  api/Element.json
  api/ScrollToOptions.json
  api/Window.json
Labels: data:api :rabbit2:

#2816 Tabs highlight
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#3053 Adding all the missing scroll-snap properties
  css/properties/scroll-margin-block-end.json
  css/properties/scroll-margin-block-start.json
  css/properties/scroll-margin-block.json
  css/properties/scroll-margin-bottom.json
  css/properties/scroll-margin-inline-end.json
  css/properties/scroll-margin-inline-start.json
  css/properties/scroll-margin-inline.json
  css/properties/scroll-margin-left.json
  css/properties/scroll-margin-right.json
  css/properties/scroll-margin-top.json
  css/properties/scroll-margin.json
  css/properties/scroll-padding-block-end.json
  css/properties/scroll-padding-block-start.json
  css/properties/scroll-padding-block.json
  css/properties/scroll-padding-bottom.json
  css/properties/scroll-padding-inline-end.json
  css/properties/scroll-padding-inline-start.json
  css/properties/scroll-padding-inline.json
  css/properties/scroll-padding-left.json
  css/properties/scroll-padding-right.json
  css/properties/scroll-padding-top.json
  css/properties/scroll-padding.json
  css/properties/scroll-snap-align.json
  css/properties/scroll-snap-stop.json
  css/properties/scroll-snap-type.json
Labels: data:css :art:

#3056 updating support info for FF64
  css/at-rules/media.json
Labels: data:css :art:

#3057 Update Firefox compatibility for Window.event
  api/Window.json
Labels: data:api :rabbit2:

#3060 [Chrome] Improve scroll data.
  api/Element.json
  api/ScrollToOptions.json
  api/Window.json
  css/properties/scroll-margin-block.json
  css/properties/scroll-padding-block.json
  css/properties/scroll-padding-inline.json
  css/properties/scroll-snap-stop.json
Labels: data:api :rabbit2:

#3063 Add to scrollbar-width data to show it is enabled in Fx 64
  css/properties/scrollbar-width.json
Labels: data:css :art:

#3050 making some updates to Pointer Events API BCD
  api/Element.json
  api/GlobalEventHandlers.json
  api/PointerEvent.json
Labels: data:api :rabbit2:, rebase-needed :construction:

#3061 Add support for `getParameters`
  api/RTCRtpSender.json
Labels: data:api :rabbit2:

#2155 Use yargs to parse the arguments passed to the linter
  package.json
  test/lint.js
Labels: linter :house_with_garden:

#3024 Added scrollbar-color, removed the two previous properties
  css/properties/scrollbar-color.json
  css/properties/scrollbar-track-color.json
Labels: data:css :art:

#3048 Support data for the signal feature (from AbortController API).
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#2979 Add `intrinsicsize` to HTML Media elements (img, video)
  html/elements/img.json
  html/elements/video.json
Labels: data:html :page_facing_up:

#3062 removing mozbrowser API features from HTMLIFrameElement
  api/HTMLIFrameElement.json
Labels: data:api :rabbit2:

#3080 adding Android support for prefers-reduced-motion media feature
  css/at-rules/media.json
Labels: data:css :art:

#3078 column-span is in Nightly
  css/properties/column-span.json
Labels: data:css :art:

#3072 Safari 10.0 does not support fetch()
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#3070 Bug 1462233: Implement CSS Environment Variables
  css/properties/custom-property.json
Labels: data:css :art:

#3066 Update aspect-ratio for safari_ios
  css/at-rules/media.json
Labels: data:css :art:

#3064 Bug 1487982: Rename `applications` to `browser_specific_settings`
  webextensions/manifest/browser_specific_settings.json
Labels: data:webext :game_die:

#3047 Add targetElementId to browser.menus.onClickData
  webextensions/api/menus.json
Labels: data:webext :game_die:

#3071 Update HTMLElement.nonce
  api/HTMLElement.json
Labels: data:api :rabbit2:

#3097 updating Firefox compat data for Window.event
  api/Window.json
Labels: data:api :rabbit2:

#3110 updating buildID compat data
  api/Navigator.json
Labels: data:api :rabbit2:

#3125 Add Firefox versions to isPrototypeOf and propertyIsEnumerable
  javascript/builtins/Object.json
Labels: data:js :pager:

#3124 Add data for well-formed JSON.stringify
  javascript/builtins/JSON.json
Labels: data:js :pager:

#3128 Adding data for missing border-radius logical mappings.
  css/properties/border-end-end-radius.json
  css/properties/border-end-start-radius.json
  css/properties/border-start-end-radius.json
  css/properties/border-start-start-radius.json
Labels: data:css :art:

#3095 Add/rename image directives to Feature Policy
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#3132 making webNavigation transitionType compat data clearer and more deta…
  webextensions/api/webNavigation.json
Labels: data:webext :game_die:

#3129 updating Fx support data for ServiceWorkerContainer.startMessages
  api/ServiceWorkerContainer.json
Labels: data:api :rabbit2:

#3119 updating setSinkId compat data
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#3121 fix(css): Correct Firefox custom properties compatibility data
  css/properties/custom-property.json
Labels: data:css :art:

#3114 adding data about getAllResponseHeaders() returning all lower case he…
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#3112 adding data point about only allowing one window.open() call per event
  api/Window.json
Labels: data:api :rabbit2:

#3109 Update meter information for iOS Safari
  html/elements/meter.json
Labels: data:html :page_facing_up:

#3086 moving data for innerText from Node to HTMLElement
  api/HTMLElement.json
  api/Node.json
Labels: data:api :rabbit2:

#3111 updating window.sidebar and adding window.external
  api/External.json
  api/Window.json
Labels: data:api :rabbit2:

#3088 Bug 1425874: Make <marquee> construct HTMLMarqueeElement
  api/HTMLMarqueeElement.json
  html/elements/marquee.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#3081 Use array form of support statement object
  http/headers/content-security-policy.json
Labels: data:http :mountain_cableway:

#3158 Issue #2041: Add writing release notes to the publishing procedures
  CONTRIBUTING.md
Labels: docs :writing_hand:
