Repository mdn/browser-compat-data, pull requests merged in 2018-03, with the labels that each got.

#1231 Correct AudioContest.outputLatency
  api/AudioContext.json
Labels: data:api :rabbit2:

#1230 Reinstate toolbar_vertical_separator
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#1077 Add UC (international and Chinese) for Android as a browsers
  browsers/uc_android.json
  browsers/uc_chinese_android.json
  schemas/browsers.schema.json
  schemas/compat-data-schema.md
  schemas/compat-data.schema.json
Labels: data:browsers :earth_africa:

#1078 Add QQ browser identifier (qq_android)
  browsers/qq_android.json
  schemas/browsers.schema.json
  schemas/compat-data-schema.md
  schemas/compat-data.schema.json
Labels: data:browsers :earth_africa:

#1121 Adds DOMTokenList compat data
  api/DOMTokenList.json
Labels: data:api :rabbit2:

#1069 Adds compat data for XMLHttpRequest
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#1128 add compat data for SourceBuffer
  api/SourceBuffer.json
  api/SourceBufferList.json
Labels: data:api :rabbit2:

#1134 add compat data for VideoPlaybackQuality
  api/VideoPlaybackQuality.json
Labels: data:api :rabbit2:

#1147 Add compat data for TextTrack
  api/TextTrack.json
Labels: data:api :rabbit2:

#1150 Add browser compat data for IDBOpenDBRequest
  api/IDBOpenDBRequest.json
Labels: data:api :rabbit2:

#1151 Add compat data for IDBRequest
  api/IDBRequest.json
Labels: data:api :rabbit2:

#1171 Add browser compat data for IDBVersionChangeEvent
  api/IDBVersionChangeEvent.json
Labels: data:api :rabbit2:

#1172 Add browser compat for IDBVersionChangeRequest
  api/IDBVersionChangeRequest.json
Labels: data:api :rabbit2:

#1091 Add compat data for IDBKeyRange
  api/IDBKeyRange.json
Labels: data:api :rabbit2:

#1088 Add compat data for IDBFactory
  api/IDBFactory.json
Labels: data:api :rabbit2:

#1074 Add compat data for IDBCursorWithValue
  api/IDBCursorWithValue.json
Labels: data:api :rabbit2:

#1135 Add compat data for IDBObjectStore
  api/IDBObjectStore.json
Labels: data:api :rabbit2:

#1165 Add compat data for HTMLDListElement
  api/HTMLDListElement.json
Labels: data:api :rabbit2:

#1167 Add compat data for HTMLDataElement
  api/HTMLDataElement.json
Labels: data:api :rabbit2:

#1169 Add compat data for HTMLDialogElement
  api/HTMLDialogElement.json
Labels: data:api :rabbit2:

#1184 Add compat data for DocumentFragment
  api/DocumentFragment.json
Labels: data:api :rabbit2:

#1181 Document or shadow root 2
  api/DocumentOrShadowRoot.json
Labels: data:api :rabbit2:

#1239 Sync Firefox compat data for HTMLDialogElement and <dialog>
  api/HTMLDialogElement.json
  html/elements/dialog.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#1246 Prevent tag auto-closing and correctly syntax highlight
  css/properties/background-size.json
Labels: data:css :art:

#1257 Correct links in SharedWorkerGlobalScope
  api/SharedWorkerGlobalScope.json
Labels: data:api :rabbit2:

#1101 Add compat data for SubtleCrypto
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#1255 Correct ServiceWorkerRegistration
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#1259 Correct WorkerGlobalScope
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#1256 Correct Worker
  api/Worker.json
Labels: data:api :rabbit2:

#1252 Correct XMLHttpRequest
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#1020 Adds compat data for AnimationTimeline
  api/AnimationTimeline.json
Labels: data:api :rabbit2:

#1164 Add compat data for HTMLContentElement
  api/HTMLContentElement.json
Labels: data:api :rabbit2:

#1155 add compat data for MediaError
  api/MediaError.json
Labels: data:api :rabbit2:

#1287 Improve -moz-border-*-colors notes formatting
  css/properties/-moz-border-bottom-colors.json
  css/properties/-moz-border-left-colors.json
  css/properties/-moz-border-right-colors.json
  css/properties/-moz-border-top-colors.json
Labels: data:css :art:

#976 SpeechGrammar API
  api/SpeechGrammar.json
Labels: data:api :rabbit2:

#1070 Add compat data for RTCPeerConnection
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#1081 Add compat data for IDBDatabaseException
  api/IDBDatabaseException.json
Labels: data:api :rabbit2:

#1112 Add compat data for MediaKeyStatusMap
  api/MediaKeyStatusMap.json
Labels: data:api :rabbit2:

#1116 Add compat data for HTMLAnchorElement
  api/HTMLAnchorElement.json
Labels: data:api :rabbit2:

#1295 adding correct compat data about link rel=preload
  html/elements/link.json
Labels: data:html :page_facing_up:

#1280 Add Safari and Node WebAssembly results
  javascript/builtins/WebAssembly.json
Labels: data:js :pager:

#1179 Add compat data for Node (just properties to start)
  api/Node.json
Labels: data:api :rabbit2:

#1180 add compat data for HTMLAudioElement
  api/HTMLAudioElement.json
Labels: data:api :rabbit2:

#1188 Add compat data for HTMLVideoElement
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#1198 add compat data for MediaDeviceInfo
  api/MediaDeviceInfo.json
Labels: data:api :rabbit2:

#1195 Add HTMLShadowElement
  api/HTMLShadowElement.json
Labels: data:api :rabbit2:

#1282 Add missing HTML global attributes
  html/global_attributes.json
Labels: data:html :page_facing_up:

#1203 Add compat data for NodeFilter
  api/NodeFilter.json
Labels: data:api :rabbit2:

#1204 Add compat data for NodeList
  api/NodeList.json
Labels: data:api :rabbit2:

#1205 Add compat data for ParentNode
  api/ParentNode.json
Labels: data:api :rabbit2:

#1206 Add compat data for XMLDocument
  api/XMLDocument.json
Labels: data:api :rabbit2:

#1217 Add compat data for XMLSerializer
  api/XMLSerializer.json
Labels: data:api :rabbit2:

#1218 Add compat data for XSLTProcessor
  api/XSLTProcessor.json
Labels: data:api :rabbit2:

#1219 Add compat data for XMLHttpRequestEventTarget
  api/XMLHttpRequestEventTarget.json
Labels: data:api :rabbit2:

#1223 Add :matches() BCD data
  css/selectors/any.json
  css/selectors/matches.json
Labels: data:css :art:

#1216 adding compat data for HTMLFormElement
  api/HTMLFormElement.json
Labels: data:api :rabbit2:

#1191 Add compat data for PositionSensorVRDevice
  api/PositionSensorVRDevice.json
Labels: data:api :rabbit2:

#1220 Add compat data for MIDIAccess
  api/MIDIAccess.json
Labels: data:api :rabbit2:

#1222 Add compat data for MIDIInput
  api/MIDIInput.json
Labels: data:api :rabbit2:

#1226 Add compat data for MIDIInputMap
  api/MIDIInputMap.json
Labels: data:api :rabbit2:

#1227 Add compat data for MIDIOutputMap
  api/MIDIOutputMap.json
Labels: data:api :rabbit2:

#1232 Add compat data for Slotable api
  api/Slotable.json
Labels: data:api :rabbit2:

#1299 add compat data for AnimationEffectTimingProperties
  api/AnimationEffectTimingProperties.json
Labels: data:api :rabbit2:

#1076 Add compat data for IDBDatabase
  api/IDBDatabase.json
Labels: data:api :rabbit2:

#1090 Add compat data for IDBIndex
  api/IDBIndex.json
Labels: data:api :rabbit2:

#1186 Add compat data for MediaRecorder
  api/MediaRecorder.json
Labels: data:api :rabbit2:

#1271 Update display: contents compat table
  css/properties/display.json
Labels: data:css :art:

#1212 adding compat data for MediaStream
  api/MediaStream.json
Labels: data:api :rabbit2:

#1228 Add compat data for NavigatorConcurrentHardware
  api/NavigatorConcurrentHardware.json
Labels: data:api :rabbit2:

#1229 Add compat data for NavigatorGeolocation
  api/NavigatorGeolocation.json
Labels: data:api :rabbit2:

#1233 Add compat data for MediaQueryListListener api
  api/MediaQueryListListener.json
Labels: data:api :rabbit2:

#1234 Add compat data for MediaQueryListEvent api
  api/MediaQueryListEvent.json
Labels: data:api :rabbit2:

#1236 Add compat data for SVGAnimateElement
  api/SVGAnimateElement.json
Labels: data:api :rabbit2:

#1241 Add compat data for NavigatorPlugins
  api/NavigatorPlugins.json
Labels: data:api :rabbit2:

#1253 Correct ShadowRoot
  api/ShadowRoot.json
Labels: data:api :rabbit2:

#1268 Add :-moz-system-metric(…)
  css/selectors/-moz-system-metric.json
Labels: data:css :art:

#1313 Update chrome browser releases data
  browsers/chrome.json
Labels: data:browsers :earth_africa:

#1281 Added mandatory applicationServerKey for chrome
  api/PushManager.json
Labels: data:api :rabbit2:

#1122 Add URL API
  api/URL.json
Labels: data:api :rabbit2:

#1244 Add compat data for MediaStreamContraints
  api/MediaStreamConstraints.json
Labels: data:api :rabbit2:

#1245 Add compat data for MediaStreamTrackEvent
  api/MediaStreamTrackEvent.json
Labels: data:api :rabbit2:

#1247 Add compat data MediaStreamEvent
  api/MediaStreamEvent.json
Labels: data:api :rabbit2:

#1248 Add compat data MediaStreamTrack
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#1250 add compat data for HTMLMeterElement
  api/HTMLMeterElement.json
Labels: data:api :rabbit2:

#1261 Add compat data for FontFaceSetLoadEvent
  api/FontFaceSetLoadEvent.json
Labels: data:api :rabbit2:

#1323 Add compat data for :scope selector: Not supported in Edge
  css/selectors/scope.json
Labels: data:css :art:

#1309 Add -moz-image-rect(…)
  css/types/-moz-image-rect.json
Labels: data:css :art:

#1329 Update nodejs compat for Object.values()
  javascript/builtins/Object.json
Labels: data:js :pager:

#1326 Update compat data
  api/MediaStream.json
Labels: data:api :rabbit2:

#1325 add compat data for HTMLUnknownElement
  api/HTMLUnknownElement.json
Labels: data:api :rabbit2:

#1341 Fix note about "defer" attribute in IE
  html/elements/script.json
Labels: data:html :page_facing_up:

#1335 Fix cosmetic details in text-align-last
  css/properties/text-align-last.json
Labels: data:css :art:

#1340 Updates css.property.display compat for Edge for Grid value
  css/properties/display.json
Labels: data:css :art:

#1266 Update CSS caret-support support for Safari
  css/properties/caret-color.json
Labels: data:css :art:

#1344 Update object.entries() and object.values().
  javascript/builtins/Object.json
Labels: data:js :pager:

#1348 Add version numbers for getCapabilities().
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#1345 Correct Chrome version numbers.
  api/ImageBitmapRenderingContext.json
Labels: data:api :rabbit2:

#1352 update firefox and firefox_android versions data
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#1350 Add Chromium to Fetch AbortSignal and AbortController.
  api/AbortController.json
  api/AbortSignal.json
Labels: data:api :rabbit2:

#1330 Update nodejs compat for Array.includes()
  javascript/builtins/Array.json
Labels: data:js :pager:

#1327 Fix NavigatorPlugins nesting
  api/NavigatorPlugins.json
Labels: data:api :rabbit2:

#1338 Check for invalid combinations of `version_added` and `version_removed`
  api/BlobBuilder.json
  test/test-versions.js
Labels: linter :house_with_garden:

#1354 Correct text-align-last.json
  css/properties/text-align-last.json
Labels: data:css :art:

#1319 Add flags information to AnimationTimeline
  api/AnimationTimeline.json
Labels: data:api :rabbit2:

#1273 add compat data for HTMLParamElement
  api/HTMLParamElement.json
Labels: data:api :rabbit2:

#1274 add compat data for HTMLParagraph Element
  api/HTMLParagraphElement.json
Labels: data:api :rabbit2:

#1275 add compat data for HTMLMetaElement
  api/HTMLMetaElement.json
Labels: data:api :rabbit2:

#1276 add compat data for HTMLModElement
  api/HTMLModElement.json
Labels: data:api :rabbit2:

#1289 add compat data for HTMLSpanElement
  api/HTMLSpanElement.json
Labels: data:api :rabbit2:

#1290 add compat data for HTMLOptGroupElement
  api/HTMLOptGroupElement.json
Labels: data:api :rabbit2:

#1293 add compat data for HTMLPreElement
  api/HTMLPreElement.json
Labels: data:api :rabbit2:

#1302 Add compat data for HTMLTableCaptionElement
  api/HTMLTableCaptionElement.json
Labels: data:api :rabbit2:

#1365 Trailing arrow function parameter commas do work in node
  javascript/functions.json
Labels: data:js :pager:

#1307 adding compat data for api.HTMLHeadElement
  api/HTMLHeadElement.json
Labels: data:api :rabbit2:

#1304 add compat data for HTMLPictureElement
  api/HTMLPictureElement.json
Labels: data:api :rabbit2:

#1292 add compat data for HTMLStyleElement
  api/HTMLStyleElement.json
Labels: data:api :rabbit2:

#1291 add compat data for HTMLOListElement
  api/HTMLOListElement.json
Labels: data:api :rabbit2:

#1279 add compat data for HTMLOptionElement
  api/HTMLOptionElement.json
Labels: data:api :rabbit2:

#1278 add compat data for HTMLOptionsCollection
  api/HTMLOptionsCollection.json
Labels: data:api :rabbit2:

#1277 add compat data for HTMLOutputElement
  api/HTMLOutputElement.json
Labels: data:api :rabbit2:

#1334 update PerformanceResourceTiming support since safari(mac/ios) 11
  api/PerformanceResourceTiming.json
Labels: data:api :rabbit2:

#1366 Opera support
  javascript/classes.json
Labels: data:js :pager:

#1371 Let's start adding SVG compat data :)
  README.md
  index.js
  schemas/compat-data-schema.md
  svg/elements/a.json
  test/lint.js
Labels: data:svg :paintbrush:

#1374 Add compat data for SVG <rect>
  svg/elements/rect.json
Labels: data:svg :paintbrush:

#1364 Add HMDVRDevice
  api/HMDVRDevice.json
Labels: data:api :rabbit2:

#1380 Create version_name
  webextensions/manifest/version_name.json
Labels: data:webext :game_die:

#1386 Correct HTMLOptionElement
  api/HTMLOptionElement.json
Labels: data:api :rabbit2:

#1387 Correct HTMLStyleElement
  api/HTMLStyleElement.json
Labels: data:api :rabbit2:

#1391 Add compat data for SVG <g>
  svg/elements/g.json
Labels: HackOnMDNParis2018 :fr:, data:svg :paintbrush:

#1396 Update Samsung Internet versions, add limited status
  browsers/samsunginternet_android.json
  schemas/browsers-schema.md
  schemas/browsers.schema.json
Labels: HackOnMDNParis2018 :fr:, data:browsers :earth_africa:

#1410 Fix and Update structure of BCD data for WebGL interfaces
  api/WebGLObject.json
  api/WebGLShaderPrecisionFormat.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1267 Add the deprecated `options_page` manifest key
  webextensions/manifest/options_page.json
Labels: data:webext :game_die:

#1417 WebDriver initial push
  README.md
  index.js
  schemas/compat-data-schema.md
  test/lint.js
  webdriver/commands/Get_Element_Tag_Name.json
Labels: HackOnMDNParis2018 :fr:, data:webdriver :racing_car:

#1433 Fixed Windows issue related to schema validation of browser info
  test/lint.js
Labels: HackOnMDNParis2018 :fr:, linter :house_with_garden:

#1214 Add Microsoft Edge compat data for the `applications` manifest key
  webextensions/manifest/applications.json
Labels: data:webext :game_die:

#1432 Add compat data for SVG <feDistantLight>
  svg/elements/feDistantLight.json
Labels: HackOnMDNParis2018 :fr:, data:svg :paintbrush:

#1373 Add compat data for SVG <circle>
  svg/elements/circle.json
Labels: data:svg :paintbrush:

#1482 Update to Edge browser release dates
  browsers/edge.json
Labels: HackOnMDNParis2018 :fr:, data:browsers :earth_africa:

#1483 Add release dates for Edge Mobile browser
  browsers/edge_mobile.json
Labels: HackOnMDNParis2018 :fr:, data:browsers :earth_africa:

#1400 Update structure of BCD data for fetch interfaces
  api/Request.json
  api/Response.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1540 Extract BCD skeleton for Navigator interface from HTML LS
  api/Navigator.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1402 Update structure of BCD data for Web Animation interfaces
  api/AnimationEffect.json
  api/KeyframeEffect.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1375 Add compat data for SVG <ellipse>
  svg/elements/ellipse.json
Labels: data:svg :paintbrush:

#1438 Update structure of BCD data for Notifcations interfaces
  api/Notification.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1441 Update structure of BCD data for Storage interfaces
  api/StorageManager.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1442 Update structure of BCD data for URL interfaces
  api/URL.json
  api/URLSearchParams.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1447 Update structure of BCD data for App Manifest interfaces
  api/BeforeInstallPromptEvent.json
  api/Window.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1457 Update structure of BCD data for Encoding interfaces
  api/TextDecoder.json
  api/TextEncoder.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1407 Update structure of BCD data for Web Crypto interfaces
  api/Crypto.json
  api/RandomSource.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:

#1544 Some updates for URL.json based on MDN-Confluence.
  api/URL.json
Labels: HackOnMDNParis2018 :fr:, data:api :rabbit2:
