Repository mdn/browser-compat-data, pull requests merged in 2019-05, with the labels that each got.

#3865 Mirror Chrome -> Samsung Internet for html/*
  html/elements/a.json
  html/elements/button.json
  html/elements/canvas.json
  html/elements/embed.json
  html/elements/form.json
  html/elements/iframe.json
  html/elements/img.json
  html/elements/link.json
  html/elements/marquee.json
  html/elements/meta.json
  html/elements/meter.json
  html/elements/textarea.json
  html/elements/video.json
  html/global_attributes.json
Labels: data:html :page_facing_up:

#3981 Bug 332175 & 1328138: Remove `XMLDocument.load()` & `XMLDocument.async`
  api/Document.json
  api/XMLDocument.json
Labels: data:api :rabbit2:

#4008 adding BCD for events mixed bag part 2
  api/Document.json
  api/Element.json
  api/HTMLSlotElement.json
  api/Performance.json
  api/Window.json
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#4032 Add Chromium versions for several CSS properties
  css/properties/align-items.json
  css/properties/align-self.json
  css/properties/animation-timing-function.json
  css/properties/border-image.json
  css/properties/column-gap.json
  css/properties/display.json
  css/properties/font-variant.json
  css/properties/row-gap.json
  css/properties/text-decoration.json
  css/properties/text-size-adjust.json
  css/properties/transition-timing-function.json
  css/properties/width.json
Labels: data:css :art:

#4017 Update <basic-shape> data for Firefox
  css/types/basic-shape.json
Labels: data:css :art:

#3735 feat(api): Complete `RTCDtlsTransport`
  api/RTCDtlsTransport.json
Labels: data:api :rabbit2:

#4018 Finish migration of CSS :scope
  css/selectors/scope.json
Labels: data:css :art:

#3007 Update compat data for PromiseRejectionEvent
  api/PromiseRejectionEvent.json
  api/WindowEventHandlers.json
Labels: data:api :rabbit2:

#4043 Update Node.js globalThis version
  browsers/nodejs.json
  javascript/builtins/globals.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#4034 Bump minimum Node.js version to 8.0.0
  package.json
Labels: infra :building_construction:

#4031 Add Chromium versions for several selectors/types
  css/selectors/-moz-focusring.json
  css/selectors/first.json
  css/selectors/left.json
  css/selectors/placeholder-shown.json
  css/selectors/right.json
  css/types/calc.json
  css/types/image.json
  css/types/resolution.json
  css/types/timing-function.json
Labels: data:css :art:

#4050 Fix release dates for Chrome Android
  browsers/chrome_android.json
Labels: data:browsers :earth_africa:

#4038 Mark marginwidth as deprecated
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#3338 Safari: Added HTMLImageElement.decode() and HTMLImageElement.decoding.
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#4016 [MIXED] Corrections, mostly from confluence.
  api/External.json
  api/HTMLAllCollection.json
  api/HTMLFrameElement.json
  api/InputDeviceInfo.json
  api/MediaEncryptedEvent.json
  api/TextTrackList.json
Labels: data:api :rabbit2:

#4019 Add mouse events
  api/Element.json
Labels: data:api :rabbit2:

#4055 adding Fx support data for word-break: break-word
  css/properties/word-break.json
Labels: data:css :art:

#4058 api.Performance.getEntriesByType: mirror Chrome onto Opera
  api/Performance.json
Labels: data:api :rabbit2:

#4047 Maintenance: Update packages
  package-lock.json
  package.json
Labels: infra :building_construction:

#4048 Enable ora spinner
  test/lint.js
Labels: linter :house_with_garden:

#3970 Add Node.js for-await-of info
  javascript/statements.json
Labels: data:js :pager:

#4046 Maintain consistency in linter files
  test/lint.js
  test/test-prefix.js
  test/test-regexes.js
Labels: linter :house_with_garden:

#4064 test: Don’t start spinner in CI
  test/lint.js
Labels: linter :house_with_garden:

#4069 Update matchAll method spec URLs (now in ES spec)
  javascript/builtins/RegExp.json
  javascript/builtins/String.json
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#4059 CSS: Update Safari from Apple docs (animation properties)
  css/properties/animation-fill-mode.json
  css/properties/animation-play-state.json
  css/properties/mask-clip.json
  css/properties/mask-origin.json
  css/properties/mask-size.json
  css/properties/mask.json
  css/properties/perspective-origin.json
  css/properties/perspective.json
  css/properties/transform-style.json
  css/properties/transition-delay.json
  css/properties/transition-duration.json
  css/properties/transition-property.json
  css/properties/transition-timing-function.json
  css/properties/transition.json
Labels: data:css :art:

#4060 CSS: Update Safari from Apple docs (font/text properties)
  css/at-rules/font-face.json
  css/properties/-webkit-text-fill-color.json
  css/properties/-webkit-text-stroke-color.json
  css/properties/-webkit-text-stroke-width.json
  css/properties/-webkit-text-stroke.json
  css/properties/font-weight.json
  css/properties/line-break.json
  css/properties/text-size-adjust.json
  css/properties/word-break.json
  css/properties/word-wrap.json
Labels: data:css :art:

#4063 CSS: Update Safari from Apple docs (positioning/visibility properties)
  css/properties/direction.json
  css/properties/max-height.json
  css/properties/max-width.json
  css/properties/min-height.json
  css/properties/min-width.json
  css/properties/opacity.json
  css/properties/zoom.json
Labels: data:css :art:

#4065 updating Fx data for InputEvent data and dataTransfer
  api/InputEvent.json
Labels: data:api :rabbit2:

#3857 Mirror Chrome -> Opera for css/*
  css/at-rules/media.json
  css/at-rules/viewport.json
  css/properties/align-items.json
  css/properties/border-image-repeat.json
  css/properties/border-image.json
  css/properties/column-fill.json
  css/properties/cursor.json
  css/properties/custom-property.json
  css/properties/flex-basis.json
  css/properties/font-kerning.json
  css/properties/font-optical-sizing.json
  css/properties/font-style.json
  css/properties/font-weight.json
  css/properties/height.json
  css/properties/justify-content.json
  css/properties/mask-origin.json
  css/properties/mask-position.json
  css/properties/mask-repeat.json
  css/properties/mask-size.json
  css/properties/mask-type.json
  css/properties/offset-distance.json
  css/properties/offset-rotate.json
  css/properties/offset.json
  css/properties/overflow-wrap.json
  css/properties/place-items.json
  css/properties/place-self.json
  css/properties/ruby-position.json
  css/properties/text-align.json
  css/properties/text-rendering.json
  css/properties/white-space.json
  css/properties/width.json
  css/selectors/-webkit-autofill.json
  css/selectors/-webkit-search-cancel-button.json
  css/selectors/-webkit-search-results-button.json
  css/selectors/cue.json
  css/selectors/fullscreen.json
  css/selectors/indeterminate.json
  css/selectors/visited.json
  css/types/calc.json
  css/types/number.json
Labels: data:css :art:

#4073 Fix test-prefix
  test/lint.js
  test/test-prefix.js
Labels: linter :house_with_garden:

#4061 CSS: Update Safari from Apple docs (misc. properties)
  css/properties/-webkit-touch-callout.json
  css/properties/appearance.json
  css/properties/background-clip.json
  css/properties/background-origin.json
  css/properties/column-gap.json
  css/properties/counter-increment.json
  css/properties/counter-reset.json
  css/properties/orphans.json
  css/properties/pointer-events.json
  css/properties/user-modify.json
  css/properties/user-select.json
  css/properties/widows.json
Labels: data:css :art:

#4062 CSS: Update Safari from Apple docs (box properties)
  css/properties/box-align.json
  css/properties/box-direction.json
  css/properties/box-flex-group.json
  css/properties/box-flex.json
  css/properties/box-lines.json
  css/properties/box-ordinal-group.json
  css/properties/box-orient.json
  css/properties/box-pack.json
Labels: data:css :art:

#4071 Fix OS notes in css.properties.font-smooth
  css/properties/font-smooth.json
Labels: data:css :art:

#3987 test: Refactor lint script to avoid globally mutable state
  test/lint.js
  test/test-browsers.js
Labels: linter :house_with_garden:

#4036 test: Prefer template literals over string concatenation for logging
  test/lint.js
  test/test-browsers.js
  test/test-prefix.js
  test/test-schema.js
  test/test-style.js
  test/test-versions.js
Labels: linter :house_with_garden:

#4023 Add IE11 to Document.documentElement compatibility table
  api/Document.json
Labels: data:api :rabbit2:

#4075 SetConfiguration is unsupported in Firefox
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#4037 Edge and Firefox getUserMedia not secure
  api/MediaDevices.json
Labels: data:api :rabbit2:

#4056 Web Midi is unsupported in IE
  api/MIDIAccess.json
  api/MIDIConnectionEvent.json
  api/MIDIInput.json
  api/MIDIInputMap.json
  api/MIDIMessageEvent.json
  api/MIDIOutput.json
  api/MIDIOutputMap.json
  api/MIDIPort.json
Labels: data:api :rabbit2:

#4057 Presentation API is unsupported in IE
  api/Presentation.json
  api/PresentationAvailability.json
  api/PresentationConnection.json
  api/PresentationConnectionAvailableEvent.json
  api/PresentationConnectionCloseEvent.json
  api/PresentationConnectionList.json
  api/PresentationReceiver.json
  api/PresentationRequest.json
Labels: data:api :rabbit2:

#4028 Paint API is unsupported in IE
  api/PaintRenderingContext2D.json
  api/PaintSize.json
  api/PaintWorkletGlobalScope.json
Labels: data:api :rabbit2:

#4078 test(style): Fix browser name sorting diff
  test/test-style.js
Labels: linter :house_with_garden:

#4015 test: Use chalk for output styling
  package-lock.json
  package.json
  scripts/release-notes.js
  test/test-browsers.js
  test/test-prefix.js
  test/test-schema.js
  test/test-style.js
  test/test-versions.js
Labels: infra :building_construction:, linter :house_with_garden:

#3877 Add engines to browsers
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/edge.json
  browsers/edge_mobile.json
  browsers/firefox.json
  browsers/firefox_android.json
  browsers/ie.json
  browsers/nodejs.json
  browsers/opera.json
  browsers/opera_android.json
  browsers/safari.json
  browsers/safari_ios.json
  browsers/samsunginternet_android.json
  browsers/webview_android.json
  schemas/browsers-schema.md
  schemas/browsers.schema.json
  types.d.ts
Labels: data:browsers :earth_africa:, schema :gear:

#4085 Mark parent as true when children are truthy in http/* and javascript/*
  http/headers/content-security-policy.json
  javascript/builtins/Intl.json
  javascript/builtins/WebAssembly.json
Labels: data:http :mountain_cableway:, data:js :pager:

#4082 Linter: remove redundant array length test
  test/test-versions.js
Labels: linter :house_with_garden:

#4092 updating -moz-binding data to show that it has been removed
  css/properties/-moz-binding.json
Labels: data:css :art:

#4091 update notifications secure context fx data
  api/Notification.json
Labels: data:api :rabbit2:

#4089 adding data point for external protocol URLs being blocked in iframes
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#4086 RTCIceCandidate.usernameFragment added in Firefox 67
  api/RTCIceCandidate.json
  api/RTCIceCandidateInit.json
Labels: data:api :rabbit2:

#4022 Update prefixed Fx support for intrinsic sizing
  css/properties/block-size.json
  css/properties/flex-basis.json
  css/properties/inline-size.json
  css/properties/max-block-size.json
  css/properties/max-inline-size.json
  css/properties/min-block-size.json
  css/properties/min-inline-size.json
Labels: data:css :art:

#4090 adding data point about strict mime checks on importScripts
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#4094 adding browser compat data for the hashbang grammar
  javascript/grammar.json
Labels: data:js :pager:

#4093 Firefox 67 implements MediaDeviceInfo.groupId
  api/MediaDeviceInfo.json
Labels: data:api :rabbit2:

#4105 EXT_float_blend not behind a pref on Firefox
  api/EXT_float_blend.json
Labels: data:api :rabbit2:

#4111 CSS cursor: Firefox 32x32 px limit & no Firefox Android support
  css/properties/cursor.json
Labels: data:css :art:

#4110 updating fx compat data for dynamic imports
  javascript/statements.json
Labels: data:js :pager:

#4109 Add Feature-Policy: display-capture
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#4108 adding data for the autocomplete global attribute
  html/global_attributes.json
Labels: data:html :page_facing_up:

#4112 Fix Bug 1548460
  javascript/builtins/BigInt.json
Labels: data:js :pager:

#4107 Update Edge/IE support for CSS hyphens
  css/properties/hyphens.json
Labels: data:css :art:

#4102 Mark css.properties.text-combine-upright as supported in IE 11
  css/properties/text-combine-upright.json
Labels: data:css :art:

#4097 Linter: improve color formatting
  test/lint.js
  test/test-browsers.js
  test/test-prefix.js
  test/test-schema.js
  test/test-style.js
  test/test-versions.js
Labels: linter :house_with_garden:

#4100 Refactor test-browsers.js and test-schema.js
  test/test-browsers.js
  test/test-schema.js
Labels: linter :house_with_garden:

#4076 Add Chromium versions for CSS selectors
  css/selectors/defined.json
  css/selectors/host-context.json
  css/selectors/host.json
  css/selectors/hostfunction.json
  css/selectors/invalid.json
  css/selectors/valid.json
Labels: data:css :art:

#4113 Add Chrome version for css.properties.border-radius.percentages
  css/properties/border-radius.json
Labels: data:css :art:

#4115 Add Chrome -webkit- prefix versions for animation properties
  css/properties/animation-delay.json
  css/properties/animation-direction.json
  css/properties/animation-fill-mode.json
  css/properties/animation-iteration-count.json
  css/properties/animation-name.json
  css/properties/animation-play-state.json
  css/properties/animation-timing-function.json
  css/properties/animation.json
Labels: data:css :art:

#4104 Add insertFromPasteAsQuotation inputType value
  api/InputEvent.json
Labels: data:api :rabbit2:

#4118 Update :-webkit-autofill compat data
  css/selectors/-webkit-autofill.json
Labels: data:css :art:

#4119 Update :-webkit-file-upload-button compat data
  css/selectors/-webkit-file-upload-button.json
Labels: data:css :art:

#4116 CSS viewport lengths: Move Firefox specific details into notes
  css/types/length-percentage.json
  css/types/length.json
Labels: data:css :art:

#4117 Mark hyphens dictionaries as unsupported in Chromiums
  css/properties/hyphens.json
Labels: data:css :art:

#4039 Update Safari (+ iOS) compatibility
  api/PerformanceNavigationTiming.json
Labels: data:api :rabbit2:

#4040 Update Safari (+ iOS) compatibility
  api/PerformanceTiming.json
Labels: data:api :rabbit2:

#4103 Updated CSS transition events for Google Chrome
  api/HTMLElement.json
Labels: data:api :rabbit2:

#4122 Add a test-real-values.js linter
  test/lint.js
  test/test-real-values.js
Labels: linter :house_with_garden:

#4099 Refactor test-style.js
  test/test-style.js
Labels: linter :house_with_garden:

#4123 Bugfix 1548460 additional request: flag removal
  javascript/builtins/BigInt.json
Labels: data:js :pager:

#4098 Refactor test-versions.js
  test/test-versions.js
Labels: linter :house_with_garden:

#4124 Set BigInt as supported in Firefox Android 68
  javascript/builtins/BigInt.json
Labels: data:js :pager:

#4125 Sort features alphabetically in webextensions/*
  webextensions/api/browserAction.json
  webextensions/api/events.json
  webextensions/api/runtime.json
  webextensions/api/sidebarAction.json
  webextensions/api/tabs.json
  webextensions/api/webRequest.json
  webextensions/api/windows.json
  webextensions/manifest/chrome_url_overrides.json
  webextensions/manifest/commands.json
  webextensions/manifest/incognito.json
  webextensions/manifest/page_action.json
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#4126 Sort features alphabetically in svg/*
  svg/elements/animate.json
  svg/elements/animateMotion.json
  svg/elements/cursor.json
  svg/elements/feDropShadow.json
  svg/elements/font.json
  svg/elements/marker.json
  svg/elements/mask.json
  svg/elements/missing-glyph.json
  svg/elements/pattern.json
  svg/elements/radialGradient.json
  svg/elements/style.json
  svg/elements/use.json
Labels: data:svg :paintbrush:

#4129 Sort features alphabetically in http/*
  http/headers/cache-control.json
  http/headers/set-cookie.json
Labels: data:http :mountain_cableway:

#4130 Sort features alphabetically in html/*
  html/elements/area.json
  html/elements/button.json
  html/elements/iframe.json
  html/elements/input/color.json
  html/elements/li.json
  html/elements/meta.json
  html/elements/style.json
  html/global_attributes.json
Labels: data:html :page_facing_up:

#4088 Note that CORP is broken in Chrome >= 73 && < 75
  http/headers/cross-origin-resource-policy.json
Labels: data:http :mountain_cableway:

#4127 Sort features alphabetically in mathml/*
  mathml/elements/menclose.json
  mathml/elements/mmultiscripts.json
  mathml/elements/mo.json
  mathml/elements/mspace.json
Labels: data:mathml :heavy_division_sign:

#4140 Update Node.js Object.fromEntries version
  javascript/builtins/Object.json
Labels: data:js :pager:

#4070 Update mpadded.json: support of lspace, width, height
  mathml/elements/mpadded.json
Labels: data:mathml :heavy_division_sign:

#4120 Add traverse script
  package.json
  scripts/traverse.js
Labels: infra :building_construction:

#3942 Consistency: child false when parent false
  api/AudioParam.json
  api/AudioProcessingEvent.json
  api/HTMLDialogElement.json
  api/MIDIAccess.json
  api/MIDIInput.json
  api/MIDIMessageEvent.json
  api/MIDIOutput.json
  api/PaymentRequest.json
Labels: data:api :rabbit2:

#3922 Fix Firefox flex property data
  css/properties/flex.json
Labels: data:css :art:

#4139 Add data for toolbar_field_highlight[_text]
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#4079 notification.onclick is working in Firefox
  api/Notification.json
Labels: data:api :rabbit2:

#4149 Firefox 67 releases on 2019-05-21
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#4146 No longer mark list-style-types as experimental
  css/properties/list-style-type.json
Labels: data:css :art:

#4152 Update list-style-type part 1 (A to C)
  css/properties/list-style-type.json
Labels: data:css :art:

#4154 Update list-style-type part 3 (G to K)
  css/properties/list-style-type.json
Labels: data:css :art:

#4155 Update list-style-type part 4 (L to P)
  css/properties/list-style-type.json
Labels: data:css :art:

#4156 Update list-style-type part 5 (S to T)
  css/properties/list-style-type.json
Labels: data:css :art:

#4157 Update list-style-type part 6 (U to end)
  css/properties/list-style-type.json
Labels: data:css :art:

#4153 Update list-style-type part 2 (D to F)
  css/properties/list-style-type.json
Labels: data:css :art:

#4159 Add missing "webkit" prefix in api.PerformanceEntry
  api/PerformanceEntry.json
Labels: data:api :rabbit2:

#4143 Update support for api.Navigator.oscpu
  api/Navigator.json
Labels: data:api :rabbit2:

#4084 Mark parent as true when children are truthy in css/*
  css/properties/cursor.json
  css/properties/image-rendering.json
  css/properties/justify-content.json
  css/properties/mask-clip.json
  css/properties/mask-origin.json
  css/properties/max-width.json
  css/properties/min-height.json
  css/properties/min-width.json
  css/properties/overflow.json
  css/properties/touch-action.json
  css/properties/word-break.json
  css/selectors/placeholder-shown.json
Labels: data:css :art:

#4163 Typo/Styling (style header value stale-if-error within <code/>)
  http/headers/cache-control.json
Labels: data:http :mountain_cableway:

#4095 Part of the touch event API was removed on Firefox Desktop 67
  api/Document.json
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#4114 Add Chrome version for css.properties.align-items.grid_context.start_end
  css/properties/align-items.json
Labels: data:css :art:

#4161 Reorganize project docs into /docs/ folder
  .npmignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  docs/contributing.md
  docs/publishing.md
  docs/testing.md
  docs/using-confluence.md
Labels: docs :writing_hand:

#4168 Rename crossfade feature to reflect its actual hyphen
  css/types/image.json
Labels: data:css :art:

#4165 Add subfeature for non-shift secondary modifier
  webextensions/manifest/commands.json
Labels: data:webext :game_die:

#4142 Added -webkit-line-clamp CSS property
  css/properties/-webkit-line-clamp.json
Labels: data:css :art:

#4166 Add number input html compat data for Edge
  html/elements/input/number.json
Labels: data:html :page_facing_up:

#4171 Fix `margin-inline-end` Safari iOS alternative
  css/properties/margin-inline-end.json
Labels: data:css :art:

#4167 Update compat data for webkit-spin-button selectors
  css/selectors/-webkit-inner-spin-button.json
  css/selectors/-webkit-outer-spin-button.json
Labels: data:css :art:

#4174 Remove unneeded 'sloppy' data points
  javascript/statements.json
Labels: data:js :pager:

#4176 Enforce real Firefox values for javascript/
  test/test-real-values.js
Labels: data:js :pager:, linter :house_with_garden:

#4173 Update Firefox CSS support
  css/at-rules/supports.json
  css/properties/align-items.json
  css/properties/appearance.json
  css/properties/background-image.json
  css/properties/border-inline-end-color.json
  css/properties/border-inline-end-style.json
  css/properties/border-inline-end-width.json
  css/properties/border-inline-start-color.json
  css/properties/border-inline-start-style.json
  css/properties/border-radius.json
  css/properties/box-align.json
  css/properties/box-decoration-break.json
  css/properties/box-direction.json
  css/properties/box-flex.json
  css/properties/box-ordinal-group.json
  css/properties/box-orient.json
  css/properties/box-pack.json
  css/properties/column-rule-style.json
  css/properties/display.json
  css/properties/resize.json
  css/properties/text-combine-upright.json
Labels: data:css :art:

#4172 Update scroll-snap data
  css/properties/scroll-margin-block-end.json
  css/properties/scroll-margin-block-start.json
  css/properties/scroll-margin-block.json
  css/properties/scroll-margin-bottom.json
  css/properties/scroll-margin-inline-end.json
  css/properties/scroll-margin-inline-start.json
  css/properties/scroll-margin-inline.json
  css/properties/scroll-margin-left.json
  css/properties/scroll-margin-right.json
  css/properties/scroll-margin-top.json
  css/properties/scroll-margin.json
  css/properties/scroll-padding-block-end.json
  css/properties/scroll-padding-block-start.json
  css/properties/scroll-padding-block.json
  css/properties/scroll-padding-bottom.json
  css/properties/scroll-padding-inline-end.json
  css/properties/scroll-padding-inline-start.json
  css/properties/scroll-padding-inline.json
  css/properties/scroll-padding-left.json
  css/properties/scroll-padding-right.json
  css/properties/scroll-padding-top.json
  css/properties/scroll-padding.json
  css/properties/scroll-snap-align.json
  css/properties/scroll-snap-coordinate.json
  css/properties/scroll-snap-destination.json
  css/properties/scroll-snap-points-x.json
  css/properties/scroll-snap-points-y.json
  css/properties/scroll-snap-stop.json
  css/properties/scroll-snap-type-x.json
  css/properties/scroll-snap-type-y.json
  css/properties/scroll-snap-type.json
Labels: data:css :art:

#4181 feat(css): Add `‑moz‑window‑shadow`
  css/properties/-moz-window-shadow.json
Labels: data:css :art:

#4175 Revise publishing process in contributor docs
  docs/contributing.md
  docs/publishing.md
Labels: docs :writing_hand:

#4191 [Chromium] Set insertFromPasteAsQuotation as false.
  api/InputEvent.json
Labels: data:api :rabbit2:

#4187 Set css.properties.font-smooth to unsupported in Edge
  css/properties/font-smooth.json
Labels: data:css :art:

#4188 Set -webkit-box-align as supported since Edge 12
  css/properties/box-align.json
Labels: data:css :art:

#4189 Set -webkit-box-ordinal-group as supported since Edge 12
  css/properties/box-ordinal-group.json
Labels: data:css :art:

#4066 prefers-color-scheme: Add Chrome versions
  css/at-rules/media.json
Labels: data:css :art:

#4183 Update Location.json
  api/Location.json
Labels: data:api :rabbit2:

#4080 Updating SetAttribute browser compatibility on IE
  api/Element.json
Labels: data:api :rabbit2:

#4184 Add missing real values for Firefox/FxA
  css/properties/appearance.json
  css/properties/clip-path.json
  css/properties/column-rule-color.json
  css/properties/column-rule-width.json
  css/properties/column-rule.json
  css/properties/flex-direction.json
  css/properties/height.json
  css/properties/justify-content.json
  css/properties/max-block-size.json
  css/properties/max-height.json
  css/properties/max-width.json
  css/properties/min-height.json
  css/properties/min-inline-size.json
  css/properties/min-width.json
  css/properties/offset-path.json
  css/properties/outline-color.json
  css/properties/outline-style.json
  css/properties/place-content.json
  css/properties/position.json
  css/properties/text-size-adjust.json
  css/properties/transform-box.json
  css/properties/transform-origin.json
  css/properties/transition-property.json
  css/properties/width.json
  css/selectors/any-link.json
  css/selectors/before.json
  css/selectors/placeholder-shown.json
  css/selectors/read-write.json
  css/types/dimension.json
  css/types/image.json
  css/types/length-percentage.json
  css/types/length.json
  test/test-real-values.js
Labels: data:css :art:

#4194 Bug 1492739: Unprefix `user‑select`
  css/properties/user-select.json
Labels: data:css :art:

#4185 Complete Edge data for a few at-rules
  css/at-rules/counter-style.json
  css/at-rules/document.json
  css/at-rules/keyframes.json
  css/at-rules/page.json
Labels: data:css :art:

#4186 Complete Edge data for CSS selectors
  css/selectors/-moz-color-swatch.json
  css/selectors/-moz-focusring.json
  css/selectors/-webkit-search-cancel-button.json
  css/selectors/-webkit-search-results-button.json
  css/selectors/after.json
  css/selectors/before.json
  css/selectors/default.json
  css/selectors/first-letter.json
  css/selectors/first-line.json
  css/selectors/in-range.json
  css/selectors/out-of-range.json
  css/selectors/placeholder.json
  css/selectors/read-only.json
  css/selectors/read-write.json
  css/selectors/slotted.json
Labels: data:css :art:

#4202 Update link to GOVERNANCE.md
  .github/CODEOWNERS
  README.md
Labels: docs :writing_hand:

#4201 Add Element.getAnimations entry
  api/Element.json
Labels: data:api :rabbit2:

#4198 Add compat data for fullscreen events
  api/Document.json
  api/Element.json
Labels: data:api :rabbit2:

#4204 Correct data about HTMLMediaElement.setSinkId.
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#4052 Intl.Locale updates
  javascript/builtins/Intl.json
Labels: data:js :pager:

#4208 colors/frame is supported in Fennec
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#4215 Added missing information about iOS Safari support for `backdrop-filter`
  css/properties/backdrop-filter.json
Labels: data:css :art:

#4214 [bug] fix PluralRules support for nodejs
  javascript/builtins/Intl.json
Labels: data:js :pager:

#4221 Device width deprecated
  css/at-rules/media.json
Labels: data:css :art:

#4203 Add IE/Edge data for KeyboardEvent.code
  api/KeyboardEvent.json
Labels: data:api :rabbit2:

#4205 [Chrome] Update perf APIs.
  api/PerformanceMark.json
  api/PerformanceMeasure.json
  api/PerformanceNavigation.json
  api/PerformanceObserver.json
  api/PerformanceTiming.json
Labels: data:api :rabbit2:

#4209 Update compatibility table for location.origin
  api/Location.json
Labels: data:api :rabbit2:

#4217 Complete media at-rule data for Edge
  css/at-rules/media.json
Labels: data:css :art:

#4219 Update Edge support for CSS properties
  css/properties/animation-timing-function.json
  css/properties/appearance.json
  css/properties/background-image.json
  css/properties/color.json
  css/properties/content.json
  css/properties/custom-property.json
  css/properties/font-style.json
  css/properties/font-weight.json
  css/properties/list-style.json
  css/properties/mask-image.json
  css/properties/mask.json
  css/properties/ruby-position.json
  css/properties/text-align.json
  css/properties/text-size-adjust.json
  css/properties/text-underline-position.json
  css/properties/transform-origin.json
  css/properties/user-modify.json
  css/properties/word-break.json
  css/properties/word-spacing.json
  css/properties/writing-mode.json
Labels: data:css :art:

#4228 Chromium is reconsidering immutable Cache-Control header
  http/headers/cache-control.json
Labels: data:http :mountain_cableway:

#2973 feat(exslt): Convert EXSLT compat data
  xslt/exslt/exsl.json
  xslt/exslt/math.json
  xslt/exslt/regexp.json
  xslt/exslt/set.json
  xslt/exslt/str.json
Labels: data:xslt :tractor:

#4216 Update Edge compat data for CSS types
  css/types/global_keywords.json
  css/types/image.json
  css/types/length-percentage.json
  css/types/length.json
  css/types/resolution.json
Labels: data:css :art:
