Repository mdn/browser-compat-data, pull requests merged in 2019-01, with the labels that each got.

#3159 feat(css): Add the `::‑webkit‑scrollbar` selectors
  css/selectors/-webkit-resizer.json
  css/selectors/-webkit-scrollbar-button.json
  css/selectors/-webkit-scrollbar-corner.json
  css/selectors/-webkit-scrollbar-thumb.json
  css/selectors/-webkit-scrollbar-track-piece.json
  css/selectors/-webkit-scrollbar-track.json
  css/selectors/-webkit-scrollbar.json
Labels: data:css :art:

#3236 Update animateMotion.json for basic Safari compatibility
  svg/elements/animateMotion.json
Labels: data:svg :paintbrush:

#3238 fix(css): update edge support table for basic-shape and shape-outside
  css/properties/shape-outside.json
  css/types/basic-shape.json
Labels: data:css :art:

#3185 [Chrome] Add window.oninstall.
  api/Window.json
Labels: data:api :rabbit2:

#3174 Add OverconstrainedError.
  api/OverconstrainedError.json
  api/Window.json
Labels: data:api :rabbit2:

#3241 Update AbortController Safari compatibility
  api/AbortController.json
Labels: data:api :rabbit2:

#3244 Update env() support in Chrome for Desktop
  css/properties/custom-property.json
Labels: data:css :art:

#3245 Safari iOS cannot enter multiple email addresses
  html/elements/input/email.json
Labels: data:html :page_facing_up:

#3242 Add RTCIceCandidateType to BCD
  api/RTCIceCandidateType.json
Labels: data:api :rabbit2:

#3248 Bug 1342012: Implement dynamic import behind pref
  javascript/statements.json
Labels: data:js :pager:

#3191 Update URLSearchParams for Safari
  api/URLSearchParams.json
Labels: data:api :rabbit2:

#3247 Add CredentialUserData interface.
  api/CredentialUserData.json
Labels: data:api :rabbit2:

#3255 [Chrome] Correct MediaQueryList.
  api/MediaQueryList.json
Labels: data:api :rabbit2:

#3251 Fix Chrome compatibility data of ServiceWorkerContainer.getRegistrations
  api/ServiceWorkerContainer.json
Labels: data:api :rabbit2:

#3252 [Firefox] Add RTCDataChannel.maxRetransmits and .maxPacketLifeTime
  api/RTCDataChannel.json
Labels: data:api :rabbit2:

#3145 Update navigator.oscpu to false for Safari iOS
  api/Navigator.json
Labels: data:api :rabbit2:

#3231 Avoid line ending inconsistencies
  .gitattributes
  test/test-style.js
Labels: linter :house_with_garden:

#2338 Make the linter print better error messages
  index.js
  package-lock.json
  package.json
  test/lint.js
  test/test-schema.js
Labels: infra :building_construction:, linter :house_with_garden:

#3117 Remove Edge Mobile 16/17/18
  api/AbortController.json
  api/AbortSignal.json
  api/ByteLengthQueuingStrategy.json
  api/Client.json
  api/CountQueuingStrategy.json
  api/DOMTokenList.json
  api/EXT_blend_minmax.json
  api/EXT_color_buffer_half_float.json
  api/EXT_shader_texture_lod.json
  api/ExtendableMessageEvent.json
  api/FetchEvent.json
  api/HTMLBaseFontElement.json
  api/HTMLFormElement.json
  api/HTMLLinkElement.json
  api/HTMLMediaElement.json
  api/HTMLTextAreaElement.json
  api/MediaQueryList.json
  api/MediaSource.json
  api/NodeIterator.json
  api/Notification.json
  api/OES_vertex_array_object.json
  api/ParentNode.json
  api/PerformanceResourceTiming.json
  api/ReadableStream.json
  api/SVGElement.json
  api/SourceBuffer.json
  api/URLSearchParams.json
  api/WEBGL_color_buffer_float.json
  api/WEBGL_draw_buffers.json
  api/WEBGL_lose_context.json
  api/WebGLVertexArrayObjectOES.json
  api/WindowOrWorkerGlobalScope.json
  api/WorkerGlobalScope.json
  api/WritableStream.json
  api/WritableStreamDefaultWriter.json
  browsers/edge_mobile.json
  css/at-rules/media.json
  css/properties/backdrop-filter.json
  css/properties/display.json
  css/properties/font-variation-settings.json
  css/properties/grid-area.json
  css/properties/grid-auto-columns.json
  css/properties/grid-auto-flow.json
  css/properties/grid-auto-rows.json
  css/properties/grid-column-end.json
  css/properties/grid-column-start.json
  css/properties/grid-column.json
  css/properties/grid-row-end.json
  css/properties/grid-row-start.json
  css/properties/grid-row.json
  css/properties/grid-template-areas.json
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
  css/properties/grid-template.json
  css/properties/grid.json
  css/properties/justify-items.json
  css/properties/justify-self.json
  css/properties/position.json
  css/types/flex.json
  html/elements/script.json
Labels: data:browsers :earth_africa:

#3123 Safari supports HTMLHyperlinkElementUtils properties
  api/HTMLHyperlinkElementUtils.json
Labels: data:api :rabbit2:

#3152 Updates to service worker and related API data.
  api/Cache.json
  api/CacheStorage.json
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#2931 update(api.HTMLElement.tabIndex): update Edge and IE compatibility
  api/HTMLElement.json
Labels: data:api :rabbit2:

#3232 Set deprecated of getCoalescedEvents to false
  api/PointerEvent.json
Labels: data:api :rabbit2:

#3266 Add PluralRules constructor; Remove duplicate PluralRules data
  javascript/builtins/Intl.json
  javascript/builtins/PluralRules.json
Labels: data:js :pager:

#3186 [Chrome] Add preventScroll option.
  api/HTMLElement.json
Labels: data:api :rabbit2:

#3268 fix(html): Mark <nobr> as supported in all browsers
  html/elements/nobr.json
Labels: data:html :page_facing_up:

#3156 updating web authn spec compat data
  api/AuthenticatorAssertionResponse.json
  api/AuthenticatorAttestationResponse.json
  api/AuthenticatorResponse.json
  api/PublicKeyCredential.json
Labels: data:api :rabbit2:

#3261 Add note for Cache-Control header
  http/headers/cache-control.json
Labels: data:http :mountain_cableway:

#2487 Ensure that edge‑case browsers are only allowed in specific categories
  api/AudioContext.json
  api/AudioContextOptions.json
  api/HTMLInputElement.json
  api/MediaStream.json
  api/MediaStreamConstraints.json
  api/MediaStreamEvent.json
  api/MediaStreamTrack.json
  api/MediaStreamTrackEvent.json
  test/lint.js
  test/test-browsers.js
Labels: linter :house_with_garden:

#3178 [Chrome] Updates to Symbol.
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#3067 Updated compatibility for Performance.toJSON()
  api/Performance.json
Labels: data:api :rabbit2:

#3262 [Chrome] Fix a few items in Navigator.
  api/Navigator.json
Labels: data:api :rabbit2:

#3269 Add the supported regions pref for Firefox to PaymentItem
  api/PaymentItem.json
Labels: data:api :rabbit2:

#3237 BCD for closeTabsByDoubleClick
  webextensions/api/browserSettings.json
Labels: data:webext :game_die:

#3190 Web API: PerformanceNavigation - Correct to Show as Unsupported in Firefox
  api/PerformanceNavigation.json
Labels: data:api :rabbit2:

#3141 Update Element based on confluence.
  api/Element.json
Labels: data:api :rabbit2:

#3277 Updated CSS.supports value
  api/CSS.json
Labels: data:api :rabbit2:

#3278 [Chrome] Fix errors introduced by Confluence.
  api/Element.json
Labels: data:api :rabbit2:

#3175 Update Public key pinning
  http/headers/content-security-policy-report-only.json
  http/headers/public-key-pins.json
Labels: data:http :mountain_cableway:

#3282 Fix the note for position:fixed in IE
  css/properties/position.json
Labels: data:css :art:

#3199 Add a script to generate GitHub release notes
  CONTRIBUTING.md
  package.json
  test/release-notes.js
Labels: infra :building_construction:

#3283 Adding request credential default for chromium/edge/safari
  api/Request.json
Labels: data:api :rabbit2:

#3284 Move utility scripts to `scripts` directory
  package.json
  scripts/release-notes.js
  scripts/render.js
Labels: infra :building_construction:

#3279 Add note about false positives in Chrome 43
  USING-CONFLUENCE.md
Labels: docs :writing_hand:

#3288 Update Chrome browser releases
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#3289 Add String matchAll
  javascript/builtins/RegExp.json
  javascript/builtins/String.json
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#3270 Update SVGImageElement
  api/SVGImageElement.json
Labels: data:api :rabbit2:

#3287 [All] Improvements to RTCPeerConnection.json
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#3292 feat(JavaScript): Complete RegExp lookbehind assertions
  javascript/builtins/RegExp.json
Labels: data:js :pager:

#3286 add full-size-kana to text-transform
  css/properties/text-transform.json
Labels: data:css :art:

#3294 Feature-Policy support behind a pref in Firefox 65
  api/Document.json
  api/HTMLIFrameElement.json
  http/headers/feature-policy.json
Labels: data:api :rabbit2:, data:http :mountain_cableway:

#3293 updating URL and URLSearchParams BCD
  api/URL.json
  api/URLSearchParams.json
Labels: data:api :rabbit2:

#3295 Add worker support to FontFace interfaces.
  api/FontFace.json
  api/FontFaceSet.json
Labels: data:api :rabbit2:

#3290 getDisplayMedia available in Firefox 66 + clarify Chrome/Edge versions
  api/MediaDevices.json
Labels: data:api :rabbit2:

#3297 Fix issue 1702: Mark TRACE support as null
  http/methods.json
Labels: data:http :mountain_cableway:

#3296 adding step() with jump- keyterms.
  css/properties/animation-timing-function.json
  css/properties/transition-timing-function.json
  css/types/timing-function.json
Labels: data:css :art:

#3281 overflow-wrap: anywhere
  css/properties/overflow-wrap.json
Labels: data:css :art:

#3300 Fix quot entity.
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#3302 Fix the compat data fo subfeatures of Intl.RelativeTimeFormat
  javascript/builtins/Intl.json
Labels: data:js :pager:

#3301 adding referrerPolicy for script elements compat data
  api/HTMLScriptElement.json
  html/elements/script.json
Labels: data:api :rabbit2:

#3303 storage access api enabled in Fx65 desktop by default
  api/Document.json
Labels: data:api :rabbit2:

#3304 Update Array.prototype.flat() support in Node.js
  javascript/builtins/Array.json
Labels: data:js :pager:

#3205 Media constraint and setting updates for Screen Capture
  api/MediaTrackConstraints.json
  api/MediaTrackSettings.json
  api/MediaTrackSupportedConstraints.json
Labels: data:api :rabbit2:

#3299 Updated browser support for document.adoptNode()
  api/Document.json
Labels: data:api :rabbit2:

#3307 Updating Fx support data for readable streams
  api/Body.json
  api/ReadableStream.json
  api/ReadableStreamDefaultController.json
  api/ReadableStreamDefaultReader.json
  api/Request.json
Labels: data:api :rabbit2:

#3315 Splitting up break-inside support
  css/properties/break-inside.json
Labels: data:css :art:

#3316 only repeating linear gradient was missing url
  css/types/image.json
Labels: data:css :art:

#3323 Mark Proxy.revocable as available since Edge 12
  javascript/builtins/Proxy.json
Labels: data:js :pager:

#3320 Added BCD for cookieStoreId
  webextensions/api/windows.json
Labels: data:webext :game_die:

#3305 Compat data for WebExt OnClickData.button field.
  webextensions/api/menus.json
Labels: data:webext :game_die:

#3314 updating web components-related firefox support information, to make …
  api/CustomElementRegistry.json
  api/DocumentOrShadowRoot.json
  api/Element.json
  api/HTMLSlotElement.json
  api/ShadowRoot.json
  api/Slotable.json
  api/Window.json
  css/selectors/host.json
  css/selectors/hostfunction.json
  css/selectors/slotted.json
  html/elements/slot.json
  html/global_attributes.json
Labels: data:api :rabbit2:

#3327 Splitting up break-before
  css/properties/break-before.json
Labels: data:css :art:

#3312 Add missing Edge 16 data based on Confluence
  api/DOMTokenList.json
  api/HTMLScriptElement.json
  api/MediaKeyStatusMap.json
  api/Notification.json
  api/PaymentRequest.json
  api/PerformanceEntry.json
  api/Response.json
  api/WritableStreamDefaultController.json
Labels: data:api :rabbit2:

#3324 Complete Intl.RelativeTimeFormat
  javascript/builtins/Intl.json
Labels: data:js :pager:

#3310 Add missing Edge 14 data based on Confluence
  api/AudioContext.json
  api/CanvasRenderingContext2D.json
  api/CustomEvent.json
  api/DataTransferItem.json
  api/HTMLAllCollection.json
  api/HTMLDataElement.json
  api/HTMLFieldSetElement.json
  api/HTMLOutputElement.json
  api/HTMLScriptElement.json
  api/HTMLTimeElement.json
  api/Headers.json
  api/IIRFilterNode.json
  api/MimeType.json
  api/Navigator.json
  api/Notification.json
  api/OfflineAudioContext.json
  api/Request.json
  api/Response.json
  api/Selection.json
  api/SpeechSynthesis.json
  api/SpeechSynthesisEvent.json
  api/SpeechSynthesisUtterance.json
  api/SpeechSynthesisVoice.json
  api/Window.json
Labels: data:api :rabbit2:

#3322 Updated support for Samsung internet
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#3333 Add globalThis compat data
  javascript/builtins/globals.json
Labels: data:js :pager:

#3335 Move resume() from BaseAudioContext back to AudioContext
  api/AudioContext.json
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#3336 Update Number.prototype.toLocaleString to match Intl.NumberFormat
  javascript/builtins/Number.json
Labels: data:js :pager:

#3332 pointer-events support versions
  css/properties/pointer-events.json
Labels: data:css :art:

#3341 update support for overflow block and inline
  css/at-rules/media.json
Labels: data:css :art:

#3345 Update Firefox data as version 65.0 released
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#3347 adding Fx support data for InputEvent.inputType
  api/InputEvent.json
Labels: data:api :rabbit2:

#3105 Extension alarms set in the past fire immediately in 64
  webextensions/api/alarms.json
Labels: data:webext :game_die:

#3340 Add "New Window" WebDriver command
  webdriver/commands/NewWindow.json
Labels: data:webdriver :racing_car:

#3330 Splitting up compat data for break-after
  css/properties/break-after.json
Labels: data:css :art:

#3356 Update createTouch/createTouchList
  api/Document.json
Labels: data:api :rabbit2:

#3349 Upgrade current browser to version 72
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#3357 updating firefox support info for window.event, and event.returnValue
  api/Event.json
  api/Window.json
Labels: data:api :rabbit2:

#3348 Add Safari support for DOMPoint
  api/DOMPoint.json
  api/DOMPointReadOnly.json
Labels: data:api :rabbit2:

#3346 Prefixed Fullscreen API removed in Firefox 65
  api/Document.json
  api/DocumentOrShadowRoot.json
  api/Element.json
  css/selectors/fullscreen.json
Labels: data:api :rabbit2:, data:css :art:
