Repository mdn/browser-compat-data, pull requests merged in 2019-08, with the labels that each got.

#4541 Optional chaining operator addition -stage 3
  javascript/operators/optional_chaining.json
Labels: data:js :pager:

#4529 Update http/headers/content-security-policy.json
  http/headers/content-security-policy.json
Labels: data:http :mountain_cableway:

#4547 Mirror font-variant data to text-transform for Turkic I characters
  css/properties/text-transform.json
Labels: data:css :art:

#4548 Update font-variant and text-transform ß (eszett, sharp s) daa
  css/properties/font-variant.json
  css/properties/text-transform.json
Labels: data:css :art:

#4533 Update :host() function compatibility table
  css/selectors/hostfunction.json
Labels: data:css :art:

#4226 Update compat data for CSS resolution media query and types
  css/at-rules/media.json
  css/types/resolution.json
Labels: data:css :art:

#4556 Add IE 9 as first version that supports Element.localName
  api/Element.json
Labels: data:api :rabbit2:

#4464 Add RelativeTimeFormat constructor
  javascript/builtins/Intl.json
Labels: data:js :pager:

#4416 Fix URLs in api.PaintWorkletGlobalScope
  api/PaintWorkletGlobalScope.json
Labels: data:api :rabbit2:

#4563 Update image/gradient data
  css/types/image.json
Labels: data:css :art:

#4566 Drop '1in is always 96px'
  css/types/length-percentage.json
  css/types/length.json
Labels: data:css :art:

#4565 Update CSS ex unit support
  css/types/length-percentage.json
  css/types/length.json
Labels: data:css :art:

#4564 Correct css.types.counters
  css/types/counters.json
Labels: data:css :art:

#4535 Update CSS <angle> compat data
  css/types/angle-percentage.json
  css/types/angle.json
Labels: data:css :art:

#4559 Added stable sub-feature for Array.prototype.sort.
  javascript/builtins/Array.json
Labels: data:js :pager:

#4567 Update CSS calc Safari support
  css/types/calc.json
Labels: data:css :art:

#4404 Fix requestFullscreen version info for Chromium.
  api/Element.json
Labels: data:api :rabbit2:

#4562 DocumentFragment constructor at safari
  api/DocumentFragment.json
Labels: data:api :rabbit2:

#4576 Audio capture support in Chrome > 74
  api/MediaDevices.json
Labels: data:api :rabbit2:

#4481 [CORRECTION] Safari supports canvas.clip(path)
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#4573 Cover text-transform: capitalize in general
  css/properties/text-transform.json
Labels: data:css :art:

#4575 Update text-justify CSS property data
  css/properties/text-justify.json
Labels: data:css :art:

#4560 Firefox 69: navigator.mediaDevices requires secure context
  api/Navigator.json
Labels: data:api :rabbit2:

#4582 Update letter-spacing data
  css/properties/letter-spacing.json
Labels: data:css :art:

#4574 Add Feature-Policy directive webauthn
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#4581 added new blob reading methods
  api/Blob.json
Labels: data:api :rabbit2:

#4542 WebXR API files, part I.
  api/Navigator.json
  api/XR.json
  api/XRBoundedReferenceSpace.json
  api/XRFrame.json
  api/XRFrameRequestCallback.json
Labels: data:api :rabbit2:

#4499 Add repeating conic gradients; update conic gradients
  css/types/image.json
Labels: data:css :art:

#4586 Alphabetize XR, XRFrame, XSLTProcessor APIs
  api/XR.json
  api/XRFrame.json
  api/XSLTProcessor.json
Labels: data:api :rabbit2:

#4587 Updated version information for text-decoration-skip-ink for Firefox
  css/properties/text-decoration-skip-ink.json
Labels: data:css :art:

#4571 Firefox 69: CSS ::cue limitations enforced
  css/selectors/cue.json
Labels: data:api :rabbit2:

#4583 Add support for version ranges
  schemas/compat-data-schema.md
  scripts/statistics.js
  test/test-versions.js
Labels: linter :house_with_garden:, schema :gear:

#4532 Firefox does not support linearRampToValueAtTime or exponentialRampToValueAtTime
  api/AudioParam.json
Labels: data:api :rabbit2:

#4515 Update OffscreenCanvas.json for `convertToBlob` quirks in Firefox
  api/OffscreenCanvas.json
Labels: data:api :rabbit2:

#4585 Update Opera release data; no Opera 61
  api/Document.json
  api/FeaturePolicy.json
  api/HTMLIFrameElement.json
  api/ServiceWorkerContainer.json
  browsers/opera.json
Labels: data:browsers :earth_africa:

#4595 Update user-select: all data
  css/properties/user-select.json
Labels: data:css :art:

#4597 Corrections to Blob.
  api/Blob.json
Labels: data:api :rabbit2:

#4572 CORP is still behind a pref in Firefox
  http/headers/cross-origin-resource-policy.json
Labels: data:http :mountain_cableway:

#4579 Firefox 69: TextTrack no longer loads cue files when disabled
  api/TextTrack.json
Labels: data:api :rabbit2:

#4600 Add data for Digest and Want-Digest
  http/headers/digest.json
  http/headers/want-digest.json
Labels: data:http :mountain_cableway:

#4594 Add version numbers grid-template-(rows|columns) repeat
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
Labels: data:css :art:

#4601 Statistics script: add optional folder argument
  docs/testing.md
  scripts/statistics.js
Labels: docs :writing_hand:, infra :building_construction:

#4593 Add Opera Android and Safari iOS version release dates
  browsers/opera_android.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#4590 Add Chromium + Safari versions for -webkit-text-orientation
  css/properties/text-orientation.json
Labels: data:css :art:

#4592 Set Chromium + Safari version for text-rendering auto value
  css/properties/text-rendering.json
Labels: data:css :art:

#4591 Add Safari version for css.properties.text-emphasis-position.left_and_right
  css/properties/text-emphasis-position.json
Labels: data:css :art:

#4608 Update font-variant and text-transform with Greek accented characters
  css/properties/font-variant.json
  css/properties/text-transform.json
Labels: data:css :art:

#4607 Add Safari versions for place-content and place-items CSS properties
  css/properties/place-content.json
  css/properties/place-items.json
Labels: data:css :art:

#4604 Add Safari versions for several align/justify-content/items values
  css/properties/align-content.json
  css/properties/align-items.json
  css/properties/justify-content.json
Labels: data:css :art:

#4603 Add Chromium + Safari version for outline-style: auto
  css/properties/outline-style.json
Labels: data:css :art:

#4611 Update touch-action for Safari for iOS
  css/properties/touch-action.json
Labels: data:css :art:

#4613 Update absolutely positioned flex children data
  css/properties/order.json
  css/properties/position.json
Labels: data:css :art:

#4614 Move prevent-duplicate-values to a Firefox note
  css/properties/place-content.json
Labels: data:css :art:

#4612 Add text-decoration-thickness and text-underline-offset
  css/properties/text-decoration-thickness.json
  css/properties/text-underline-offset.json
Labels: data:css :art:

#4619 Update Safari var() versions; dont mark as experimental
  css/properties/custom-property.json
Labels: data:css :art:

#4617 [Firefox] Bug 1038294: Implement display property multi‑keyword syntax
  css/properties/display.json
Labels: data:css :art:

#4620 Chrome doesn't support css filters on svg elements
  css/properties/filter.json
Labels: data:css :art:

#4623 Update Chinese list-style-type types
  css/properties/list-style-type.json
Labels: data:css :art:

#4624 Compat data for white-space
  css/properties/white-space.json
Labels: data:css :art:

#4625 Add Firefox to supported browsers of backdrop-filter
  css/properties/backdrop-filter.json
Labels: data:css :art:

#4621 Mark image-rendering: pixelated as supported in Safari 10
  css/properties/image-rendering.json
Labels: data:css :art:

#4615 Update to account for the latest theme changes
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#4622 Update performance.now() version for opera_android
  api/Performance.json
Labels: data:api :rabbit2:

#4627 Updated HTMLTimeElement API support in Safari
  api/HTMLTimeElement.json
Labels: data:api :rabbit2:

#4632 fix: Apply MDN URL fixes from #3913
  api/CharacterData.json
  api/HTMLSelectElement.json
  css/properties/flex-basis.json
  css/selectors/cue.json
  webextensions/api/browsingData.json
Labels: data:api :rabbit2:, data:css :art:, data:webext :game_die:, enhancement :1st_place_medal:

#4588 WebVR deprecation and compatibility data update
  api/Gamepad.json
  api/Navigator.json
  api/VRDisplay.json
  api/VRDisplayCapabilities.json
  api/VRDisplayEvent.json
  api/VREyeParameters.json
  api/VRFieldOfView.json
  api/VRFrameData.json
  api/VRLayerInit.json
  api/VRPose.json
  api/VRStageParameters.json
  api/Window.json
Labels: data:api :rabbit2:

#4643 Chromium supports api.DOMException constructor
  api/DOMException.json
Labels: data:api :rabbit2:

#4644 Add Safari support for href attribute on select SVG elements
  svg/attributes/href.json
  svg/elements/a.json
  svg/elements/cursor.json
  svg/elements/feImage.json
  svg/elements/pattern.json
  svg/elements/use.json
Labels: data:svg :paintbrush:

#4642 Add HTTP 409 Conflict status
  http/status.json
Labels: data:http :mountain_cableway:

#4641 Add version_removed for Accept-Charset header
  http/headers/accept-charset.json
Labels: data:http :mountain_cableway:

#4640 Mark dir=auto as unsupported in IE/Edge
  html/global_attributes.json
Labels: data:html :page_facing_up:

#4577 CORS: Add data for wildcard support to certain headers
  http/headers/access-control-allow-headers.json
  http/headers/access-control-allow-methods.json
  http/headers/access-control-expose-headers.json
Labels: data:http :mountain_cableway:

#4646 Adding Firefox 69 support for line-break
  css/properties/line-break.json
Labels: data:css :art:

#4635 Update Safari support for api.Request.prototype.url
  api/Request.json
Labels: data:api :rabbit2:

#4634 Updates insertCSS() cssOrigin param for Chrome
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#4504 Mark OffscreenCanvas support as partial in Firefox
  api/OffscreenCanvas.json
Labels: data:api :rabbit2:

#4648 Samsung Internet browser 9.4
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#4631 Set Safari+Chrome versions for several misc. CSS properties (part 3)
  css/properties/user-select.json
  css/properties/visibility.json
  css/properties/white-space.json
  css/properties/word-break.json
  css/properties/word-spacing.json
Labels: data:css :art:

#4639 Update Safari compatibility for CSS text-decoration shorthand
  css/properties/text-decoration.json
Labels: data:css :art:

#4645 Add Safari versions for Gamepad API
  api/Gamepad.json
  api/GamepadButton.json
  api/GamepadEvent.json
Labels: data:api :rabbit2:

#4638 Update version consistency linter to allow ranged values
  test/test-versions.js
Labels: linter :house_with_garden:

#4647 camera and microphone enabled in Safari 11
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#4628 Update Safari support for DOMTokenList API
  api/DOMTokenList.json
Labels: data:api :rabbit2:

#4602 Add documentation for traverse script
  docs/testing.md
Labels: docs :writing_hand:

#4616 Set Safari+Chrome versions for several misc. CSS properties
  css/properties/break-after.json
  css/properties/break-before.json
  css/properties/display.json
  css/properties/height.json
  css/properties/hyphens.json
  css/properties/transform-origin.json
Labels: data:css :art:

#4651 Update data for transform-origin's 3-value syntax
  css/properties/transform-origin.json
Labels: data:css :art:

#4630 Set Safari versions for several misc. CSS properties (part 2)
  css/properties/height.json
  css/properties/max-height.json
  css/properties/min-height.json
  css/properties/overflow-wrap.json
  css/properties/width.json
  css/properties/writing-mode.json
Labels: data:css :art:

#4652 Clean up <display-outside> data
  css/properties/display.json
Labels: data:css :art:

#4655 Update Firefox support for webkit masks
  css/properties/-webkit-mask-composite.json
  css/properties/-webkit-mask-position-x.json
  css/properties/-webkit-mask-position-y.json
Labels: data:css :art:

#4653 Safari doesn't support Permissions API
  api/Navigator.json
  api/PermissionStatus.json
  api/Permissions.json
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#4378 Fix consistency of Firefox and Safari in API files
  api/AnimationEvent.json
  api/Coordinates.json
  api/ImageBitmap.json
  api/MediaEncryptedEvent.json
  api/MediaTrackConstraints.json
  api/TextTrackList.json
  api/Window.json
  api/WindowEventHandlers.json
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#4605 Fx69: Removed keygen element
  api/HTMLKeygenElement.json
  html/elements/keygen.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#4656 Update image-rendering: optimize{speed,quality}
  css/properties/image-rendering.json
Labels: data:css :art:

#4654 Add Samsung Internet support for modules in scripts
  html/elements/script.json
Labels: data:html :page_facing_up:

#4629 Correct Chrome support for Screen interface.
  api/Screen.json
Labels: data:api :rabbit2:

#4657 Adding the subgrid value
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
Labels: data:css :art:

#4561 Firefox 69: Add deviceId/facingMode/groupId to track settings
  api/MediaTrackConstraints.json
  api/MediaTrackSettings.json
Labels: data:api :rabbit2:

#4049 Consistency: fix consistency of CSS files
  css/properties/align-self.json
  css/properties/display.json
  css/properties/grid-template-columns.json
  css/properties/min-block-size.json
  css/properties/min-inline-size.json
  css/properties/text-size-adjust.json
  css/selectors/placeholder-shown.json
  css/types/calc.json
Labels: data:css :art:

#4570 Firefox 69: GroupData.value now supports scheduled changes
  api/AudioParam.json
Labels: data:api :rabbit2:

#4661 Add Chrome + Safari versions for css.properties.appearance.compat
  css/properties/appearance.json
Labels: data:css :art:

#4662 Set Chrome+Safari values for css.properties.content.element_replacement
  css/properties/content.json
Labels: data:css :art:

#4663 Update data for fit-content for Safari
  css/properties/min-width.json
  css/properties/width.json
Labels: data:css :art:

#4664 Update sticky table positioning data for Chrome and Safari
  css/properties/position.json
Labels: data:css :art:

#4659 Correct Chrome support for Screen interface (cont.)
  api/Screen.json
Labels: data:api :rabbit2:

#4606 Mark storage event as supported in Chrome
  api/Window.json
  api/WindowEventHandlers.json
Labels: data:api :rabbit2:

#4550 WebXR API files, part II.
  api/XRInputSource.json
  api/XRInputSourceArray.json
  api/XRInputSourceEvent.json
  api/XRInputSourcesChangeEvent.json
  api/XRPose.json
Labels: data:api :rabbit2:

#4666 [NodeJS] Add support for `Promise.allSettled(…)`
  browsers/nodejs.json
  javascript/builtins/Promise.json
Labels: data:browsers :earth_africa:, data:js :pager:

#4490 Add fix script to sort browsers and features
  package.json
  scripts/compare-features.js
  scripts/fix-browser-order.js
  scripts/fix-feature-order.js
  scripts/fix.js
  scripts/migrations/001-sort-features.js
  test/lint.js
  test/test-compare-features.js
Labels: bulk_update 📦, linter :house_with_garden:

#4665 Enforce browser sorting
  test/test-style.js
Labels: linter :house_with_garden:

#4668 Fix node.js 12.9.0 release date
  browsers/nodejs.json
Labels: data:browsers :earth_africa:

#4667 Add tip about fix script to browser sort linter
  test/test-style.js
Labels: linter :house_with_garden:

#4672 Fix Chrome version of @font-face CSS rule
  css/at-rules/font-face.json
Labels: data:css :art:

#4673 Fix Safari iOS version of @media CSS rule
  css/at-rules/media.json
Labels: data:css :art:

#4674 Fix Samsung Internet data for clip-path CSS property
  css/properties/clip-path.json
Labels: data:css :art:

#4675 Fix a typo from #4457 in Chrome version
  css/properties/image-rendering.json
Labels: data:css :art:

#4676 Fix Opera Android + Webview versions in letter-spacing CSS property
  css/properties/letter-spacing.json
Labels: data:css :art:

#4677 Fix Safari consistency of mask-clip property
  css/properties/mask-clip.json
Labels: data:css :art:

#4678 Fix Safari iOS + Samsung Internet versions for outline-style
  css/properties/outline-style.json
Labels: data:css :art:

#4680 Add Safari iOS version to word-spacing CSS property
  css/properties/word-spacing.json
Labels: data:css :art:

#4681 Fix Safari iOS version of placeholder-shown CSS selector
  css/selectors/placeholder-shown.json
Labels: data:css :art:

#4683 Fix versions of text-rendering CSS property
  css/properties/text-rendering.json
Labels: data:css :art:

#4682 Fix Opera consistency of length[-percentage] CSS type
  css/types/length-percentage.json
  css/types/length.json
Labels: data:css :art:

#4690 Fix data for image-rendering.
  css/properties/image-rendering.json
Labels: data:css :art:

#4689 Fold subfeature into Firefox note
  css/properties/position.json
Labels: data:css :art:

#4693 Disallow null and true values for Chrome and Safari in css/
  test/test-real-values.js
Labels: linter :house_with_garden:

#4691 Add Safari bug ID to several fields
  html/elements/input/date.json
  html/elements/input/datetime-local.json
  html/elements/input/month.json
  html/elements/input/time.json
  html/elements/input/week.json
Labels: data:html :page_facing_up:

#3427 Enforce feature order
  test/test-style.js
Labels: bulk_update 📦, linter :house_with_garden:

#4698 Fix Safari iOS version of CSS word-break: break-word
  css/properties/word-break.json
Labels: data:css :art:

#4699 Fix consistency of Safari iOS in user-select property
  css/properties/user-select.json
Labels: data:css :art:

#4702 Set Safari iOS version for track HTML element
  html/elements/track.json
Labels: data:html :page_facing_up:

#4701 Set Safari versions for feature-policy HTTP header and iframe allow property
  html/elements/iframe.json
  http/headers/feature-policy.json
Labels: data:html :page_facing_up:, data:http :mountain_cableway:

#4703 Fix Opera/Samsung Internet versions for api.RTCRtpReceiver.getSynchronizationSources
  api/RTCRtpReceiver.json
Labels: data:api :rabbit2:

#4704 Set feImage SVG element to True for Safari
  svg/elements/feImage.json
Labels: data:svg :paintbrush:

#4711 Add JS class fields compat data
  javascript/classes.json
Labels: data:js :pager:

#4707 Fix Chromium data for border-inline-* CSS
  css/properties/border-inline-color.json
  css/properties/border-inline-end.json
  css/properties/border-inline-start.json
  css/properties/border-inline-style.json
  css/properties/border-inline-width.json
  css/properties/border-inline.json
Labels: data:css :art:

#4685 Updated Firefox support of the 'contain' CSS property
  css/properties/contain.json
Labels: data:css :art:

#4706 Fix Chromium data for border-block-* CSS properties
  css/properties/border-block-color.json
  css/properties/border-block-end.json
  css/properties/border-block-start.json
  css/properties/border-block-style.json
  css/properties/border-block-width.json
  css/properties/border-block.json
Labels: data:css :art:

#4694 test: Move linter implementation into `test/linter/` subdirectory
  test/lint.js
  test/linter/index.js
  test/linter/test-browsers.js
  test/linter/test-prefix.js
  test/linter/test-real-values.js
  test/linter/test-schema.js
  test/linter/test-style.js
  test/linter/test-versions.js
Labels: linter :house_with_garden:

#4713 Chrome supports :is() selector since M68
  css/selectors/is.json
Labels: data:css :art:

#4718 updating ResizeObserver compat data for Firefox
  api/ResizeObserver.json
  api/ResizeObserverEntry.json
Labels: data:api :rabbit2:

#4695 Update data for ParentNode.children
  api/ParentNode.json
Labels: data:api :rabbit2:

#4717 Firefox 70 implements RelativeTimeformat#formatToParts
  javascript/builtins/Intl.json
Labels: data:js :pager:

#4553 WebXR API files, part IV.
  api/XRSpace.json
  api/XRView.json
  api/XRViewerPose.json
  api/XRViewport.json
  api/XRWebGLLayer.json
Labels: data:api :rabbit2:

#4722 Disallow true,null for more browsers in css/*
  test/linter/test-real-values.js
Labels: linter :house_with_garden:

#4723 Fix sorting for #4553
  api/XRWebGLLayer.json
Labels: data:api :rabbit2:

#4684 Correct Firefox PointerEvent.getCoalescedEvents data
  api/PointerEvent.json
Labels: data:api :rabbit2:

#4724 Fixes to api.HTMLImageElement
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#4731 Fix broken links in data guidelines table of contents
  docs/data-guidelines.md
Labels: docs :writing_hand:

#4728 Change backslash-escaped asterisk into a footnote in testing.md
  docs/testing.md
Labels: docs :writing_hand:

#4721 Correct border-*-radius properties for Chromium browsers
  css/properties/border-bottom-left-radius.json
  css/properties/border-bottom-right-radius.json
  css/properties/border-top-left-radius.json
  css/properties/border-top-right-radius.json
Labels: data:css :art:
