Repository mdn/browser-compat-data, pull requests merged in 2019-11, with the labels that each got.

#5071 Update support data for Document() constructor
  api/Document.json
Labels: data:api :rabbit2:

#5061 feat(css): Add the CSS4 behaviour of `:empty`
  css/selectors/blank.json
  css/selectors/empty.json
Labels: data:css :art:

#5073 'TextEncoder' is not defined in Edge
  api/TextEncoder.json
Labels: data:api :rabbit2:

#5079 Event.composed is not supported in IE/Edge
  api/Event.json
Labels: data:api :rabbit2:

#5081 Add window.print() support for Internet Explorer
  api/Window.json
Labels: data:api :rabbit2:

#5062 [Chrome] Add transform streams.
  api/TransformStream.json
  api/TransformStreamDefaultController.json
Labels: data:api :rabbit2:

#5086 Update `Clear-Site-Data` to include value descriptions
  http/headers/clear-site-data.json
Labels: data:html :page_facing_up:

#5068 Update Date.toLocaleString (and related) for Nodejs
  javascript/builtins/Date.json
Labels: data:js :pager:

#5090 [Firefox] Bug 1591968: Remove `window.mozPaintCount`
  api/Window.json
Labels: data:api :rabbit2:

#5098 fix: Mark removed `moz`‑prefixed features as deprecated
  api/Window.json
  api/XMLHttpRequest.json
  css/properties/-moz-border-bottom-colors.json
  css/properties/-moz-border-left-colors.json
  css/properties/-moz-border-right-colors.json
  css/properties/-moz-border-top-colors.json
Labels: data:api :rabbit2:, data:css :art:

#5096 adding Fx support data for mediaSource and mediaElement properties
  api/MediaElementAudioSourceNode.json
  api/MediaStreamAudioSourceNode.json
Labels: data:api :rabbit2:

#5099 removing proprietary moz members from DataTransfer
  api/DataTransfer.json
Labels: data:api :rabbit2:

#5083 individual transforms
  css/properties/rotate.json
  css/properties/scale.json
  css/properties/translate.json
Labels: data:css :art:

#5088 Set Chromium versions for JavaScript String builtins
  javascript/builtins/String.json
Labels: data:js :pager:

#5106 Update Chromium versions for top-level JavaScript builtins
  javascript/builtins/globals.json
Labels: data:js :pager:

#5107 Update Chromium versions for JavaScript grammar data
  javascript/grammar.json
Labels: data:js :pager:

#5087 Set Chromium versions for JavaScript RegExp builtins
  javascript/builtins/RegExp.json
Labels: data:js :pager:

#5101 Add data for history.pushState/replaceState's title argument
  api/History.json
Labels: data:api :rabbit2:

#5103 add data for Element.part
  api/Element.json
Labels: data:api :rabbit2:

#5100 Add NodeJS version for queueMicrotask
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#5063 Update Edge data for api.Element.scrollIntoView
  api/Element.json
Labels: data:api :rabbit2:

#5076 Fix statuses for various browsers
  browsers/safari.json
  browsers/safari_ios.json
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#5091 CSS: Add notes for safe/unsafe keywords to Chrome
  css/properties/align-content.json
  css/properties/align-items.json
  css/properties/align-self.json
  css/properties/justify-content.json
Labels: data:css :art:

#5109 Update AmbientLightSensor.illumination.
  api/AmbientLightSensor.json
Labels: data:api :rabbit2:

#5102 CSS: Update flex-direction compat data
  css/properties/flex-direction.json
Labels: data:css :art:

#5120 Fix WebView support for Object.assign()
  javascript/builtins/Object.json
Labels: data:js :pager:

#5105 Update Chromium versions for various JavaScript builtins
  javascript/builtins/Boolean.json
  javascript/builtins/DataView.json
  javascript/builtins/Intl.json
  javascript/builtins/JSON.json
  javascript/builtins/Map.json
  javascript/builtins/Set.json
  javascript/builtins/WeakMap.json
  javascript/builtins/WeakSet.json
Labels: data:js :pager:

#5121 Update Chromium versions for JavaScript operators
  javascript/operators/arithmetic.json
  javascript/operators/assignment.json
  javascript/operators/bitwise.json
  javascript/operators/comma.json
  javascript/operators/comparison.json
  javascript/operators/conditional.json
  javascript/operators/delete.json
  javascript/operators/function.json
  javascript/operators/function_star.json
  javascript/operators/grouping.json
  javascript/operators/in.json
  javascript/operators/instanceof.json
  javascript/operators/logical.json
  javascript/operators/new.json
  javascript/operators/property_accessors.json
  javascript/operators/this.json
  javascript/operators/typeof.json
  javascript/operators/void.json
  javascript/operators/yield_star.json
Labels: data:js :pager:

#5127 Update Chromium versions for JavaScript statements
  javascript/statements.json
Labels: data:js :pager:

#5132 Add dateStyle/timeStyle options for JavaScript DateTimeFormat
  javascript/builtins/Intl.json
Labels: data:js :pager:

#5128 IE + Edge have no support for inputmode
  html/global_attributes.json
Labels: data:html :page_facing_up:

#5038 Update Samsung Internet Data, Updating folder javascript/
  javascript/builtins/Array.json
  javascript/builtins/Atomics.json
  javascript/builtins/BigInt64Array.json
  javascript/builtins/BigUint64Array.json
  javascript/builtins/Boolean.json
  javascript/builtins/DataView.json
  javascript/builtins/Date.json
  javascript/builtins/Function.json
  javascript/builtins/Intl.json
  javascript/builtins/JSON.json
  javascript/builtins/Map.json
  javascript/builtins/Number.json
  javascript/builtins/Object.json
  javascript/builtins/Promise.json
  javascript/builtins/Proxy.json
  javascript/builtins/RegExp.json
  javascript/builtins/Set.json
  javascript/builtins/SharedArrayBuffer.json
  javascript/builtins/String.json
  javascript/builtins/Symbol.json
  javascript/builtins/TypedArray.json
  javascript/builtins/WeakMap.json
  javascript/builtins/WeakSet.json
  javascript/builtins/WebAssembly.json
  javascript/builtins/globals.json
  javascript/functions.json
  javascript/grammar.json
  javascript/operators/destructuring.json
  javascript/operators/object_initializer.json
  javascript/statements.json
Labels: data:js :pager:

#5136 Add Chrome versions for JavaScript imports in workers
  javascript/statements.json
Labels: data:js :pager:

#5137 Prevent non-real values for Chrome in javascript/*
  test/linter/test-real-values.js
Labels: data:js :pager:, linter :house_with_garden:

#5037 Update Samsung Internet Data, Updating folder http/
  http/data-url.json
  http/headers/accept-ch-lifetime.json
  http/headers/accept-ch.json
  http/headers/clear-site-data.json
  http/headers/content-dpr.json
  http/headers/content-security-policy.json
  http/headers/device-memory.json
  http/headers/downlink.json
  http/headers/dpr.json
  http/headers/ect.json
  http/headers/expect-ct.json
  http/headers/feature-policy.json
  http/headers/public-key-pins-report-only.json
  http/headers/public-key-pins.json
  http/headers/report-to.json
  http/headers/rtt.json
  http/headers/save-data.json
  http/headers/server-timing.json
  http/headers/snapshot-content-location.json
  http/headers/viewport-width.json
  http/headers/width.json
  http/headers/x-content-type-options.json
  http/headers/x-xss-protection.json
Labels: data:http :mountain_cableway:

#5145 Make Richard Bloor a BCD peer for WebExtensions data
  .github/CODEOWNERS
  GOVERNANCE.md
Labels: docs :writing_hand:, infra :building_construction:

#5092 CSD: "executionContexts" is not supported in Chrome
  http/headers/clear-site-data.json
Labels: data:http :mountain_cableway:

#5116 update nextSibling IE compatibiliy
  api/Node.json
Labels: data:api :rabbit2:

#5118 adding data for IDBTransaction.commit
  api/IDBTransaction.json
Labels: data:api :rabbit2:

#5122 marker in Chrome
  css/selectors/marker.json
Labels: data:css :art:

#5123 Add animation event info for IE and Edge
  api/Document.json
Labels: data:api :rabbit2:

#4841 Correct details of UIEvent.detail for Internet Explorer
  api/UIEvent.json
Labels: data:api :rabbit2:, info needed :mag:

#5139 Mirror Chrome -> Chrome Android for javascript/*
  javascript/builtins/Array.json
  javascript/builtins/ArrayBuffer.json
  javascript/builtins/DataView.json
  javascript/builtins/Date.json
  javascript/builtins/Float32Array.json
  javascript/builtins/Float64Array.json
  javascript/builtins/Function.json
  javascript/builtins/Generator.json
  javascript/builtins/Int16Array.json
  javascript/builtins/Int32Array.json
  javascript/builtins/Int8Array.json
  javascript/builtins/Intl.json
  javascript/builtins/Math.json
  javascript/builtins/Number.json
  javascript/builtins/Object.json
  javascript/builtins/String.json
  javascript/builtins/TypedArray.json
  javascript/builtins/Uint16Array.json
  javascript/builtins/Uint32Array.json
  javascript/builtins/Uint8Array.json
  javascript/builtins/Uint8ClampedArray.json
  javascript/builtins/globals.json
  javascript/classes.json
  javascript/statements.json
Labels: data:js :pager:

#5140 Update IE compatibility for History API
  api/History.json
Labels: data:api :rabbit2:

#4712 Migration 002: Remove WebView entries with flags
  scripts/migrations/002-remove-webview-flags.js
  scripts/migrations/002-remove-webview-flags.test.js
  test/lint.js
  test/test-migrations.js
Labels: bulk_update :package:, infra :building_construction:, linter :house_with_garden:

#5129 Add compat data for nullish coalescing operator
  javascript/operators/nullish_coalescing.json
Labels: data:js :pager:

#5142 chore(deps): update dependency ora to v4
  package-lock.json
  package.json
Labels: dependencies :chains:, infra :building_construction:

#5152 Update Samsung Internet Data, Updating folder css/at-rules/
  css/at-rules/charset.json
  css/at-rules/font-face.json
  css/at-rules/media.json
  css/at-rules/namespace.json
  css/at-rules/page.json
  css/at-rules/supports.json
  css/at-rules/viewport.json
Labels: data:css :art:

#5143 chore(deps): update dependency chalk to v3
  package-lock.json
  package.json
Labels: dependencies :chains:, infra :building_construction:

#5144 chore(deps): update dependency yargs to v15
  package-lock.json
  package.json
Labels: dependencies :chains:, infra :building_construction:

#5157 Update Samsung Internet Data, Updating folder css/types/
  css/types/attr.json
  css/types/basic-shape.json
  css/types/calc.json
  css/types/dimension.json
  css/types/flex.json
  css/types/global_keywords.json
  css/types/image.json
  css/types/length-percentage.json
  css/types/length.json
  css/types/percentage.json
  css/types/position.json
  css/types/resolution.json
  css/types/shape.json
  css/types/string.json
  css/types/transform-function.json
  css/types/url.json
Labels: data:css :art:

#5151 Removing experimental flag for logical properties
  css/properties/border-block-color.json
  css/properties/border-block-end-color.json
  css/properties/border-block-end-style.json
  css/properties/border-block-end-width.json
  css/properties/border-block-end.json
  css/properties/border-block-start-color.json
  css/properties/border-block-start-style.json
  css/properties/border-block-start-width.json
  css/properties/border-block-start.json
  css/properties/border-block-style.json
  css/properties/border-block-width.json
  css/properties/border-block.json
  css/properties/border-end-end-radius.json
  css/properties/border-end-start-radius.json
  css/properties/border-inline-color.json
  css/properties/border-inline-end-color.json
  css/properties/border-inline-end-style.json
  css/properties/border-inline-end-width.json
  css/properties/border-inline-end.json
  css/properties/border-inline-start-color.json
  css/properties/border-inline-start-style.json
  css/properties/border-inline-start-width.json
  css/properties/border-inline-start.json
  css/properties/border-inline-style.json
  css/properties/border-inline-width.json
  css/properties/border-inline.json
  css/properties/border-start-end-radius.json
  css/properties/border-start-start-radius.json
  css/properties/caption-side.json
  css/properties/clear.json
  css/properties/float.json
  css/properties/inset-block-end.json
  css/properties/inset-block-start.json
  css/properties/inset-block.json
  css/properties/inset-inline-end.json
  css/properties/inset-inline-start.json
  css/properties/inset-inline.json
  css/properties/inset.json
  css/properties/margin-block-end.json
  css/properties/margin-block-start.json
  css/properties/margin-block.json
  css/properties/margin-inline-end.json
  css/properties/margin-inline-start.json
  css/properties/margin-inline.json
  css/properties/overflow-block.json
  css/properties/overflow-inline.json
  css/properties/padding-block-end.json
  css/properties/padding-block-start.json
  css/properties/padding-block.json
  css/properties/padding-inline-end.json
  css/properties/padding-inline-start.json
  css/properties/padding-inline.json
  css/properties/text-align.json
Labels: data:css :art:

#5158 test(lint): Fix `testLinks(…)` variable assignment typo
  test/lint.js
Labels: linter :house_with_garden:

#5078 Update various properties for Chromium data for URL API
  api/URL.json
Labels: data:api :rabbit2:

#5150 Update data for api.Navigator.connection for Firefox
  api/Navigator.json
Labels: data:api :rabbit2:

#5149 Update IE support for api.PageTransitionEvent.persisted
  api/PageTransitionEvent.json
Labels: data:api :rabbit2:

#5174 CSS clip-path is non-experimental for HTML elements
  css/properties/clip-path.json
Labels: data:css :art:

#5175 column-gap calc and percentage
  css/properties/column-gap.json
Labels: data:css :art:

#5178 set filter to not be experimental
  css/properties/filter.json
Labels: data:css :art:

#5179 Firefox 71 ships OES_fbo_render_mipmap
  api/OES_fbo_render_mipmap.json
Labels: data:api :rabbit2:

#5184 correcting offset properties
  css/properties/offset-path.json
  css/properties/offset.json
Labels: data:css :art:

#5176 set contain to not experimental
  css/properties/contain.json
Labels: data:css :art:

#5173 Mark Object.setPrototypeOf as unsuppoorted in the Android webview
  javascript/builtins/Object.json
Labels: data:js :pager:

#5177 Update display values to non-experimental; remove display: subgrid
  css/properties/display.json
Labels: data:css :art:

#5147 adding Chrome support for jump
  api/EffectTiming.json
  css/properties/animation-timing-function.json
  css/properties/transition-timing-function.json
  css/types/timing-function.json
Labels: data:api :rabbit2:, data:css :art:

#5124 The proxy permission in the browser extension manifest is supported by Chrome
  webextensions/manifest/permissions.json
Labels: data:webext :game_die:

#5168 adding compat data for FormDataEvent
  api/FormDataEvent.json
  api/GlobalEventHandlers.json
  api/HTMLFormElement.json
Labels: data:api :rabbit2:

#5170 Firefox 72 disables Public-Key-Pins header
  http/headers/public-key-pins.json
Labels: data:http :mountain_cableway:

#5186 Update readme for 1.0.0
  README.md
Labels: docs :writing_hand:

#5191 Update publishing docs and release notes script
  docs/publishing.md
  scripts/release-notes.js
Labels: docs :writing_hand:

#5195 Delete incorrect reference
  api/Document.json
Labels: data:api :rabbit2:

#5204 Change Array.prototype & BigInt.prototype MDN URL
  javascript/builtins/Array.json
  javascript/builtins/BigInt.json
Labels: data:js :pager:

#5205 Symbol.prototype.description is now in the ES spec
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#5206 globalThis is now in ES spec; update spec URL
  javascript/builtins/globals.json
Labels: data:js :pager:

#5112 Add Node.js support for dynamic import, export, and export default
  javascript/statements.json
Labels: data:js :pager:

#5211 change experimental flag paint-order
  css/properties/paint-order.json
Labels: data:css :art:

#5097 Fix Chromium compatibility data for webkit-prefixed URL API
  api/URL.json
Labels: data:api :rabbit2:

#5155 Migration 002: Perform removal of WebView flagged entries
  api/AuthenticationAssertion.json
  api/Headers.json
  api/MediaCapabilities.json
  api/Navigator.json
  api/PaymentCurrencyAmount.json
  api/Response.json
  api/ScopedCredential.json
  api/ScopedCredentialInfo.json
  api/VideoTrackList.json
  api/WebAuthentication.json
  css/properties/color.json
  css/properties/column-gap.json
  css/properties/grid-column-start.json
  css/properties/grid-column.json
  css/properties/line-height-step.json
  css/properties/text-align-last.json
  css/selectors/is.json
  css/types/image.json
  html/elements/img.json
  html/elements/video.json
  html/global_attributes.json
  http/headers/feature-policy.json
Labels: data:api :rabbit2:, data:css :art:, data:html :page_facing_up:, data:http :mountain_cableway:

#5198 Update list-style-type.json: <string>, add Chrome
  css/properties/list-style-type.json
Labels: data:css :art:

#5196 Data for captivePortal
  webextensions/api/captivePortal.json
  webextensions/manifest/permissions.json
Labels: data:webext :game_die:

#5225 FeaturePolicy.features is behind a pref as well
  api/FeaturePolicy.json
Labels: data:api :rabbit2:

#5207 Updating gap percentage and calc values
  css/properties/gap.json
Labels: data:css :art:

#5208 Remove experimental flags for image-rendering
  css/properties/image-rendering.json
Labels: data:css :art:

#5209 Remove experimental flag for line-break property
  css/properties/line-break.json
Labels: data:css :art:

#5210 changing experimental flags overflow and overflow-anchor
  css/properties/overflow-anchor.json
  css/properties/overflow.json
Labels: data:css :art:

#5215 removing experimental flags for CSS types
  css/types/length-percentage.json
  css/types/length.json
  css/types/max.json
  css/types/min.json
Labels: data:css :art:

#5217 remove experimental flag from ::selection
  css/selectors/selection.json
Labels: data:css :art:

#5218 Remove experimental flag for placeholder and placeholder-shown
  css/selectors/placeholder-shown.json
  css/selectors/placeholder.json
Labels: data:css :art:

#5219 remove experimental flag on part()
  css/selectors/part.json
Labels: data:css :art:

#5220 remove experimental flag on marker
  css/selectors/marker.json
Labels: data:css :art:

#5221 remove experimental flag for host
  css/selectors/hostfunction.json
Labels: data:css :art:

#5222 remove experimental flags on fullscreen pseudo
  css/selectors/fullscreen.json
Labels: data:css :art:

#5223 remove experimental flag backdrop pseudo
  css/selectors/backdrop.json
Labels: data:css :art:

#5192 Fix all old Chrome bug URLs
  api/PerformanceFrameTiming.json
  css/properties/-webkit-print-color-adjust.json
  http/headers/cache-control.json
Labels: data:api :rabbit2:, data:css :art:, data:http :mountain_cableway:

#5133 Fx71 MediaRecorder updates
  api/MediaRecorder.json
Labels: data:api :rabbit2:

#5227 Update packages to fix security audits
  package-lock.json
  package.json
Labels: dependencies :chains:, infra :building_construction:

#5213 Update list-style-type.json: <string>, add Opera
  css/properties/list-style-type.json
Labels: data:css :art:

#5193 Feature Policy update: battery, webauthn, publickey-credentials, xr-spatial-tracking, and vr
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#5146 test(lint): Fix JSDoc types
  test/linter/test-browsers.js
  test/linter/test-consistency.js
  test/linter/test-descriptions.js
  test/linter/test-links.js
  test/linter/test-prefix.js
  test/linter/test-real-values.js
Labels: linter :house_with_garden:

#5148 Migration 002: Prevent WebView entries from containing flags
  test/linter/test-versions.js
Labels: linter :house_with_garden:

#5231 IDBTransaction.commit() not available in Fx 71 afterall
  api/IDBTransaction.json
Labels: data:api :rabbit2:

#5229 tabHide is a permission, not an API method
  webextensions/api/permissions.json
  webextensions/manifest/permissions.json
Labels: data:webext :game_die:

#5230 Fix userScripts API compat data and add manifest compat data
  webextensions/api/userScripts.json
  webextensions/manifest/user_scripts.json
Labels: data:webext :game_die:
