Repository mdn/browser-compat-data, pull requests merged in 2019-02, with the labels that each got.

#3352 Fix compatibility tables for caretRangeFromPoint and caretPositionFromPoint
  api/Document.json
  api/DocumentOrShadowRoot.json
Labels: data:api :rabbit2:

#2937 update CSS :matches()
  css/selectors/matches.json
Labels: data:css :art:

#3362 Sort browsers alphabetically
  api/Element.json
  css/properties/justify-content.json
Labels: data:api :rabbit2:, data:css :art:

#1882 Enforce alphabetical order of browsers in the `support` block
  schemas/browsers.schema.json
  schemas/compat-data.schema.json
  test/sample-data.json
  test/test-style.js
Labels: linter :house_with_garden:, rebase-needed :construction:

#3361 Fix URL.hash data for IE
  api/URL.json
Labels: data:api :rabbit2:

#3140 Improvements to HTMLMediaElement
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#2917 Added compat data for management.install() method.
  webextensions/api/management.json
Labels: data:webext :game_die:

#3015 Create offline_enabled.json
  webextensions/manifest/offline_enabled.json
Labels: data:webext :game_die:

#3276 Bug 1370077: Don’t log warning when `background.persistent` is `true`
  webextensions/manifest/background.json
Labels: data:webext :game_die:

#2918 Added compat data for sameSite cookies.
  webextensions/api/cookies.json
Labels: data:webext :game_die:

#3363 updating :matches() to :is()
  css/selectors/is.json
Labels: data:css :art:

#3325 Update Chrome support as most commands are now mostly supported.
  webdriver/commands/AcceptAlert.json
  webdriver/commands/AddCookie.json
  webdriver/commands/Back.json
  webdriver/commands/CloseWindow.json
  webdriver/commands/DeleteAllCookies.json
  webdriver/commands/DeleteCookie.json
  webdriver/commands/DeleteSession.json
  webdriver/commands/DismissAlert.json
  webdriver/commands/ElementClear.json
  webdriver/commands/ElementClick.json
  webdriver/commands/ElementSendKeys.json
  webdriver/commands/ExecuteAsyncScript.json
  webdriver/commands/ExecuteScript.json
  webdriver/commands/FindElement.json
  webdriver/commands/FindElementFromElement.json
  webdriver/commands/FindElements.json
  webdriver/commands/FindElementsFromElement.json
  webdriver/commands/Forward.json
  webdriver/commands/FullscreenWindow.json
  webdriver/commands/GetActiveElement.json
  webdriver/commands/GetAlertText.json
  webdriver/commands/GetAllCookies.json
  webdriver/commands/GetCurrentURL.json
  webdriver/commands/GetElementAttribute.json
  webdriver/commands/GetElementCSSValue.json
  webdriver/commands/GetElementProperty.json
  webdriver/commands/GetElementRect.json
  webdriver/commands/GetElementTagName.json
  webdriver/commands/GetElementText.json
  webdriver/commands/GetNamedCookie.json
  webdriver/commands/GetPageSource.json
  webdriver/commands/GetTimeouts.json
  webdriver/commands/GetTitle.json
  webdriver/commands/GetWindowHandle.json
  webdriver/commands/GetWindowHandles.json
  webdriver/commands/GetWindowRect.json
  webdriver/commands/IsElementEnabled.json
  webdriver/commands/IsElementSelected.json
  webdriver/commands/MaximizeWindow.json
  webdriver/commands/MinimizeWindow.json
  webdriver/commands/NavigateTo.json
  webdriver/commands/NewSession.json
  webdriver/commands/Refresh.json
  webdriver/commands/SendAlertText.json
  webdriver/commands/SetTimeouts.json
  webdriver/commands/SetWindowRect.json
  webdriver/commands/Status.json
  webdriver/commands/SwitchToFrame.json
  webdriver/commands/SwitchToParentFrame.json
  webdriver/commands/SwitchToWindow.json
  webdriver/commands/TakeElementScreenshot.json
  webdriver/commands/TakeScreenshot.json
Labels: data:webdriver :racing_car:

#3360 Nest conic-gradient correctly; sort alphabetically
  css/types/image.json
Labels: data:css :art:

#3371 Enforce shorter URLs for Webkit bugs
  api/AbortController.json
  api/CanvasRenderingContext2D.json
  api/Console.json
  api/HTMLCanvasElement.json
  api/Range.json
  api/URL.json
  api/URLSearchParams.json
  api/Window.json
  api/WindowEventHandlers.json
  css/at-rules/viewport.json
  css/properties/background-image.json
  css/properties/text-align-last.json
  css/properties/text-rendering.json
  css/properties/text-transform.json
  css/properties/touch-action.json
  css/selectors/first-line.json
  css/selectors/in-range.json
  css/selectors/indeterminate.json
  css/types/-moz-image-rect.json
  css/types/image.json
  css/types/resolution.json
  html/elements/applet.json
  html/elements/script.json
  html/elements/textarea.json
  mathml/elements/maction.json
  mathml/elements/math.json
  mathml/elements/menclose.json
  svg/elements/textpath.json
  test/test-style.js
Labels: linter :house_with_garden:

#3373 Update flat and flatMap to non-experimental
  javascript/builtins/Array.json
Labels: data:js :pager:

#3374 More updates to fragmentation properties
  css/properties/break-after.json
  css/properties/break-before.json
  css/properties/break-inside.json
Labels: data:css :art:

#3370 Linter: Ensure version_added earlier than version_removed
  javascript/builtins/TypedArray.json
  package-lock.json
  package.json
  test/test-versions.js
Labels: linter :house_with_garden:

#3382 Fix version inconsistencies in webextensions/*
  webextensions/api/menus.json
  webextensions/manifest/incognito.json
  webextensions/manifest/permissions.json
Labels: data:webext :game_die:

#3384 URLSearchParams: Add Edge version that supports it
  api/URLSearchParams.json
Labels: data:api :rabbit2:

#3387 Mention Firefox Android camera bug on FileReader.readAsDataURL()
  api/FileReader.json
Labels: data:api :rabbit2:

#3378 Fix version inconsistencies in http/*
  http/headers/content-security-policy.json
  http/headers/feature-policy.json
  http/headers/public-key-pins.json
Labels: data:http :mountain_cableway:

#3400 Flag anywhere as unsupported on Google Chrome
  css/properties/overflow-wrap.json
Labels: data:css :art:

#3380 Fix version inconsistencies in mathml/*
  mathml/elements/mo.json
  mathml/elements/mphantom.json
  mathml/elements/mroot.json
  mathml/elements/mrow.json
Labels: data:mathml :heavy_division_sign:

#3377 Fix version inconsistencies in html/*
  html/elements/menu.json
  html/elements/menuitem.json
Labels: data:html :page_facing_up:

#3381 Fix version inconsistencies in svg/*
  svg/elements/altGlyph.json
  svg/elements/animate.json
  svg/elements/animateColor.json
  svg/elements/animateMotion.json
  svg/elements/animateTransform.json
  svg/elements/color-profile.json
  svg/elements/cursor.json
  svg/elements/discard.json
  svg/elements/feComposite.json
  svg/elements/font.json
  svg/elements/hatch.json
  svg/elements/hatchpath.json
  svg/elements/hkern.json
  svg/elements/mpath.json
  svg/elements/tref.json
  svg/elements/view.json
Labels: data:svg :paintbrush:

#3399 Mark document.applets as available from Edge 12
  api/Document.json
Labels: data:api :rabbit2:

#3386 Add BCD for CryptoKeyPair
  api/CryptoKeyPair.json
Labels: data:api :rabbit2:

#3414 Adding BCD for tabs.moveInSuccession()
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#3391 Updates to document.all.
  api/Document.json
Labels: data:api :rabbit2:

#3394 Add unicode property escapes to regular expressions.
  javascript/builtins/RegExp.json
Labels: data:js :pager:

#3396 Add Chrome support for 'nosniff' directive.
  http/headers/x-content-type-options.json
Labels: data:http :mountain_cableway:

#3393 Alphabetize RTCPeerConnection.json.
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#3419 Update the documentation on required browsers
  schemas/compat-data-schema.md
Labels: docs :writing_hand:

#3379 Fix version inconsistencies in javascript/*
  javascript/builtins/Atomics.json
  javascript/builtins/Function.json
  javascript/builtins/Intl.json
  javascript/builtins/RegExp.json
  javascript/builtins/SharedArrayBuffer.json
  javascript/functions.json
  javascript/operators/destructuring.json
  javascript/operators/function_star.json
  javascript/statements.json
Labels: data:js :pager:

#3409 Updates to NetworkInformation interface.
  api/NetworkInformation.json
Labels: data:api :rabbit2:

#3415 Add version info of IE for response property
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#3397 prefetch attribute is only supported on secure contexts.
  html/elements/link.json
Labels: data:html :page_facing_up:

#3405 Add fractional coord support for PointerEvents.
  api/PointerEvent.json
Labels: data:api :rabbit2:

#3408 Add assignedElement to HTMLSlotElement.
  api/HTMLSlotElement.json
Labels: data:api :rabbit2:

#3417 Add Safari support for MediaQueryList
  api/MediaQueryList.json
Labels: data:api :rabbit2:

#3431 Corrections to feComposite element.
  svg/elements/feComposite.json
Labels: data:svg :paintbrush:

#3428 Add minimum required Node version
  package.json
Labels: infra :building_construction:

#3430 Edge doesn't support HTMLDialogElement
  api/HTMLDialogElement.json
Labels: data:api :rabbit2:

#3421 Firefox does not support the options parameter of createImageBitmap
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#3388 updating all CSS value
  css/properties/all.json
Labels: data:css :art:

#3351 Update zoom: reset
  css/properties/zoom.json
Labels: data:css :art:

#3416 Mark <datalist> support for Safari 12.1
  browsers/safari.json
  browsers/safari_ios.json
  html/elements/datalist.json
Labels: data:html :page_facing_up:

#3407 feat(browsers): Add `pref_url` for feature flags page
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/edge.json
  browsers/edge_mobile.json
  browsers/firefox.json
  browsers/firefox_android.json
  schemas/browsers-schema.md
  schemas/browsers.schema.json
Labels: data:browsers :earth_africa:, schema :gear:

#3317 updated rotate bcd
  css/properties/rotate.json
Labels: data:css :art:

#3395 Add/update info for reportValidity() method
  api/HTMLButtonElement.json
  api/HTMLFieldSetElement.json
  api/HTMLInputElement.json
  api/HTMLOutputElement.json
  api/HTMLSelectElement.json
  api/HTMLTextAreaElement.json
Labels: data:api :rabbit2:

#3424 Tested reset() in IE and Edge
  api/HTMLFormElement.json
Labels: data:api :rabbit2:

#3435 Separate api.TextMetrics.advanced_text_metrics
  api/TextMetrics.json
Labels: data:api :rabbit2:

#3437 Mark webextensions.api.tabs.hide as non-experimental
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#3449 Fix DOMImplementation IE versions
  api/DOMImplementation.json
Labels: data:api :rabbit2:

#3453 Add NumberFormat data for Android webview.
  javascript/builtins/Intl.json
Labels: data:js :pager:

#3418 Clarify IE support for input's files property
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#3439 Define Firefox versions for several css files
  css/at-rules/import.json
  css/at-rules/media.json
  css/properties/-moz-image-region.json
  css/properties/-moz-user-focus.json
Labels: data:css :art:, not ready :no_entry:

#3422 Upgrade the mdn-confluence dependency for new/better defaults
  package-lock.json
  package.json
Labels: infra :building_construction:

#3459 FormData not available in worker in Safari
  api/FormData.json
Labels: data:api :rabbit2:

#3461 Add missing Edge 13 data based on Confluence
  api/DeviceLightEvent.json
  api/Document.json
  api/Element.json
  api/File.json
  api/HTMLImageElement.json
  api/HTMLInputElement.json
  api/HTMLMediaElement.json
  api/HTMLSourceElement.json
  api/MouseEvent.json
  api/Navigator.json
  api/Window.json
Labels: data:api :rabbit2:

#3462 Complete the compat data for Array in Edge
  javascript/builtins/Array.json
Labels: data:js :pager:

#3450 fix(css): `font-weight: <number>` is supported in latest Edge
  css/properties/font-weight.json
Labels: data:css :art:

#3438 Setting Node.baseURI to true for Firefox & Safari
  api/Node.json
Labels: data:api :rabbit2:

#3372 Update Safari (macOS/iOS) AudioContext support
  api/AudioContext.json
Labels: data:api :rabbit2:

#3436 Add support in Firefox for webextensions.api.tabs.sessionId
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#3472 Firefox doesn't support worklets yet
  api/Worklet.json
Labels: data:api :rabbit2:

#3467 [Chrome] Add takeRecords to PerformanceObserver.
  api/PerformanceObserver.json
Labels: data:api :rabbit2:

#3468 Update SameSite cookie attribute data for Edge and Safari
  http/headers/set-cookie.json
Labels: data:http :mountain_cableway:

#3475 Add missing Edge 18 data based on Confluence
  api/Document.json
  api/FormData.json
  api/HTMLAnchorElement.json
  api/HTMLAreaElement.json
  api/HTMLButtonElement.json
  api/HTMLInputElement.json
  api/HTMLLabelElement.json
  api/HTMLMeterElement.json
  api/HTMLObjectElement.json
  api/HTMLOutputElement.json
  api/HTMLProgressElement.json
  api/HTMLSelectElement.json
  api/HTMLTextAreaElement.json
  api/MediaDeviceInfo.json
  api/MessagePort.json
  api/PerformanceResourceTiming.json
  api/PointerEvent.json
  api/RadioNodeList.json
  api/SourceBuffer.json
  api/Worker.json
  javascript/builtins/Intl.json
Labels: data:api :rabbit2:, data:js :pager:

#3477 Update Edge 16 support for SharedArrayBuffer and Atomics
  javascript/builtins/Atomics.json
  javascript/builtins/SharedArrayBuffer.json
Labels: data:js :pager:

#3466 [Chrome] sync-xhr was enabled by default in 65.
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#3476 Firefox only supports three-parameter calls to scale()
  api/DOMMatrixReadOnly.json
Labels: data:api :rabbit2:

#3364 Remove x moz errormessage
  html/elements/input/input.json
Labels: data:html :page_facing_up:, question :grey_question:

#3478 Update mdn-confluence to ^1.0.3
  package-lock.json
  package.json
Labels: infra :building_construction:

#3448 Add debug() method to console interface
  api/Console.json
Labels: data:api :rabbit2:

#3451 Logical shorthands and mappings
  css/properties/border-block-color.json
  css/properties/border-block-style.json
  css/properties/border-block-width.json
  css/properties/border-block.json
  css/properties/border-end-end-radius.json
  css/properties/border-end-start-radius.json
  css/properties/border-inline-color.json
  css/properties/border-inline-style.json
  css/properties/border-inline-width.json
  css/properties/border-inline.json
  css/properties/border-start-end-radius.json
  css/properties/border-start-start-radius.json
  css/properties/margin-block.json
  css/properties/margin-inline.json
  css/properties/padding-block.json
  css/properties/padding-inline.json
Labels: data:css :art:

#3483 Mark Symbol.species as available in Edge 13 (was 14)
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#3479 Remove experimental flags form the source element
  html/elements/source.json
Labels: data:html :page_facing_up:

#3454 [Chrome] Add data for CSS Painting API Level 1.
  api/PaintRenderingContext2D.json
  api/PaintSize.json
  api/PaintWorkletGlobalScope.json
Labels: data:api :rabbit2:

#3433 Update Chrome versions.
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#3481 Add pointer events
  api/Document.json
  api/Element.json
Labels: data:api :rabbit2:

#3420 Add WebSpeech events
  api/SpeechRecognition.json
  api/SpeechSynthesis.json
  api/SpeechSynthesisUtterance.json
Labels: data:api :rabbit2:

#3495 Object.assign was added in Opera for Android 32
  javascript/builtins/Object.json
Labels: data:js :pager:

#3490 [Chrome] Webview also supports destination.
  api/Request.json
Labels: data:api :rabbit2:

#3491 [Chrome] Webview also supports RTCRtpSender.replaceTrack.
  api/RTCRtpSender.json
Labels: data:api :rabbit2:

#3487 Async iterator updates
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#3469 Add indexeddb events
  api/IDBDatabase.json
  api/IDBOpenDBRequest.json
  api/IDBRequest.json
  api/IDBTransaction.json
Labels: data:api :rabbit2:

#3484 Update the ReadableStream support for Edge
  api/ReadableStream.json
Labels: data:api :rabbit2:

#3492 adding webvr eventcompat data
  api/Window.json
Labels: data:api :rabbit2:

#3500 Alphabetize CSSTransformValue.
  api/CSSTransformValue.json
Labels: data:api :rabbit2:

#3465 [Chrome] Add information on display:none.
  css/properties/display.json
Labels: data:css :art:

#3442 test: Add support for Node < 6
  test/lint.js
  test/test-schema.js
  test/test-style.js
  test/test-versions.js
Labels: infra :building_construction:, linter :house_with_garden:

#2784 fix(api): Complete `Worklet` compat data
  api/Worklet.json
Labels: data:api :rabbit2:, rebase-needed :construction:

#3510 Fix capitalization of the WebKitMutationObserver prefix
  api/MutationObserver.json
Labels: data:api :rabbit2:

#3512 [Chrome] Fill in Android data for background.
  css/properties/background.json
Labels: data:css :art:

#3493 [Chrome] Add/correct relList version number.
  api/HTMLAnchorElement.json
  api/HTMLAreaElement.json
  api/HTMLLinkElement.json
Labels: data:api :rabbit2:

#3503 Update DocumentOrShadowRoot.adoptedStyleSheets data
  api/DocumentOrShadowRoot.json
Labels: data:api :rabbit2:

#3482 Bring location.json->hostname inline with HTMLHyperlinkElementUtils/hostname
  api/Location.json
Labels: data:api :rabbit2:

#3489 [Chrome] Add removal version for set-cookie.
  html/elements/meta.json
Labels: data:html :page_facing_up:

#3506 [Chrome] Correct/update Request.
  api/Request.json
Labels: data:api :rabbit2:

#3515 [Chrome] Mark ignoreMutedMedia as removed.
  api/MediaRecorder.json
Labels: data:api :rabbit2:

#3511 Add CSSUnparsedSegment getter/setter.
  api/CSSUnparsedValue.json
Labels: data:api :rabbit2:

#3471 Add compatibility data for prefers-color-scheme
  css/at-rules/media.json
Labels: data:css :art:

#3480 Update HTMLCollection.json
  api/HTMLCollection.json
Labels: data:api :rabbit2:

#3497 [All] Update CSS interface from confluence.
  api/CSS.json
Labels: data:api :rabbit2:

#3498 [All] Update CSSStyleDeclaration from confluence.
  api/CSSStyleDeclaration.json
Labels: data:api :rabbit2:

#3474 Add WebGL events
  api/HTMLCanvasElement.json
Labels: data:api :rabbit2:

#3499 [Chrome,Safari] Update CSSStyleRule.
  api/CSSStyleRule.json
Labels: data:api :rabbit2:

#3501 New Element data for several items.
  api/Element.json
Labels: data:api :rabbit2:

#3470 Define Firefox versions for several css files (2nd pass)
  css/properties/-moz-binding.json
  css/properties/-moz-outline-radius.json
  css/properties/-moz-user-input.json
  css/properties/align-content.json
  css/properties/align-self.json
  css/properties/background-attachment.json
  css/properties/background-image.json
  css/properties/background-position.json
  css/properties/background-repeat.json
  css/properties/background-size.json
  css/properties/border-bottom-left-radius.json
  css/properties/border-bottom-right-radius.json
  css/properties/border-bottom-style.json
  css/properties/border-radius.json
  css/properties/border-top-left-radius.json
  css/properties/border-top-right-radius.json
  css/properties/border-top-style.json
  css/properties/caption-side.json
  css/properties/color.json
  css/properties/contain.json
  css/properties/justify-content.json
  css/properties/mask.json
  css/properties/pointer-events.json
  css/properties/text-rendering.json
  css/properties/transform.json
  css/properties/user-modify.json
  css/properties/user-select.json
  css/properties/visibility.json
  css/properties/z-index.json
  css/selectors/-moz-color-swatch.json
  css/selectors/-moz-only-whitespace.json
  css/selectors/-moz-page-sequence.json
  css/selectors/-moz-page.json
  css/selectors/-moz-range-progress.json
  css/selectors/-moz-range-thumb.json
  css/selectors/-moz-range-track.json
  css/selectors/-moz-scrolled-page-sequence.json
  css/selectors/indeterminate.json
  css/selectors/read-only.json
  css/selectors/read-write.json
  css/types/number.json
  css/types/percentage.json
  css/types/ratio.json
  css/types/resolution.json
  css/types/string.json
  css/types/transform-function.json
Labels: data:css :art:

#3540 Move pointer events from Element->HTMLElement
  api/Element.json
  api/HTMLElement.json
Labels: data:api :rabbit2:

#3536 feat(webext/manifest): Add `manifest_version` values
  webextensions/manifest/manifest_version.json
Labels: data:webext :game_die:

#3535 Bug 1345474: Add support for `incognito: "not_allowed"`
  webextensions/manifest/incognito.json
Labels: data:webext :game_die:

#3542 Add Document Drag & Drop events
  api/Document.json
Labels: data:api :rabbit2:

#3486 Update the support status for `initAnimationEvent`
  api/AnimationEvent.json
Labels: data:api :rabbit2:

#3543 Revise confusing Console.exception description
  api/Console.json
Labels: data:api :rabbit2:

#3537 fix(webextensions/manifest): Un‑squash manifest.json data
  webextensions/manifest/background.json
  webextensions/manifest/browser_action.json
  webextensions/manifest/content_scripts.json
  webextensions/manifest/omnibox.json
  webextensions/manifest/options_ui.json
  webextensions/manifest/page_action.json
  webextensions/manifest/sidebar_action.json
Labels: data:webext :game_die:

#3532 Add BCD data for WebRTC events
  api/RTCDTMFSender.json
  api/RTCDataChannel.json
  api/RTCIceTransport.json
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#3521 Reland #2058 (mark periodicSync as unsupported)
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#3550 CSP report-to enabled in Chrome 70
  http/headers/content-security-policy.json
  http/headers/report-to.json
Labels: data:http :mountain_cableway:

#3507 [Chrome] Version numbers for RTCDTMFSender.
  api/RTCDTMFSender.json
Labels: data:api :rabbit2:

#3517 Fix consistency of html.elements.link for IE
  html/elements/link.json
Labels: data:html :page_facing_up:

#3520 [Chrome] Ignore <a download> for cross-origin URLs.
  html/elements/a.json
Labels: data:html :page_facing_up:

#3527 Add Chrome version data for performance.getEntries/webkitGetEntries
  api/Performance.json
Labels: data:api :rabbit2:

#3522 [Chrome] Add Bug Note for Intl.DateTimeFormat.formatToParts
  javascript/builtins/Intl.json
Labels: data:js :pager:

#3541 Update Safari compat data for `KeyboardEvent.isComposing`
  api/KeyboardEvent.json
Labels: data:api :rabbit2:

#3544 Add note about bug fix to select methods.
  api/DocumentOrShadowRoot.json
Labels: data:api :rabbit2:

#3551 Fix CSPRO being marked deprecated instead of HPKPRO
  http/headers/content-security-policy-report-only.json
  http/headers/public-key-pins-report-only.json
Labels: data:http :mountain_cableway:

#3547 [Chrome] Add Snapshot-Content-Location header.
  http/headers/snapshot-content-location.json
Labels: data:http :mountain_cableway:

#3539 Add new behavior for window.focus as a note.
  api/Window.json
Labels: data:api :rabbit2:
