Repository mdn/browser-compat-data, pull requests merged in 2019-06, with the labels that each got.

#4233 Update css.properties.zoom
  css/properties/zoom.json
Labels: data:css :art:

#4238 Update String#matchAll support in nodejs 12
  javascript/builtins/RegExp.json
  javascript/builtins/String.json
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#4218 Progressive Web Apps manifest compatibility
  html/manifest/background_color.json
  html/manifest/categories.json
  html/manifest/description.json
  html/manifest/dir.json
  html/manifest/display.json
  html/manifest/iarc_rating_id.json
  html/manifest/icons.json
  html/manifest/lang.json
  html/manifest/name.json
  html/manifest/orientation.json
  html/manifest/prefer_related_applications.json
  html/manifest/related_applications.json
  html/manifest/scope.json
  html/manifest/screenshots.json
  html/manifest/serviceworker.json
  html/manifest/short_name.json
  html/manifest/start_url.json
  html/manifest/theme_color.json
Labels: data:html :page_facing_up:

#4243 Update data for 1in = 96px
  css/types/length-percentage.json
  css/types/length.json
Labels: data:css :art:

#4225 Mark getFloatTimeDomain as not supported in safari
  api/AnalyserNode.json
Labels: data:api :rabbit2:

#4229 DocumentOrShadowRoot.elementsFromPoint not in IE 11
  api/DocumentOrShadowRoot.json
Labels: data:api :rabbit2:

#4232 fix fetch() support data of iOS Safari
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#4241 Update Safari on iOS compatibility for HTMLCanvasElement.toBlob
  api/HTMLCanvasElement.json
Labels: data:api :rabbit2:

#4245 remove special "alpha hex value" entry
  css/properties/background-color.json
Labels: data:css :art:

#4231 Mark -webkit-animation media query deprecated
  css/at-rules/media.json
Labels: data:css :art:

#4211 Update font-family.json
  css/properties/font-family.json
Labels: data:css :art:

#4246 Update chrome stable version to M75
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#4244 Add note about i18n.getUILanguage bug in older versions of Firefox
  webextensions/api/i18n.json
Labels: data:webext :game_die:

#4195 fix: Correct broken HTML and remove title tags in links for notes
  api/AudioContext.json
  api/AudioContextOptions.json
  api/BatteryManager.json
  api/CharacterData.json
  css/properties/transition.json
Labels: data:api :rabbit2:, data:css :art:

#4251 test: Simplify spinner CI check
  test/lint.js
Labels: enhancement :1st_place_medal:, linter :house_with_garden:

#4235 Mark api/CSS `escape` not supported by Edge
  api/CSS.json
Labels: data:api :rabbit2:

#4242 Complete data for Edge flexbox/grid support
  css/properties/align-self.json
  css/properties/column-gap.json
  css/properties/column-width.json
  css/properties/flex-basis.json
  css/properties/gap.json
  css/properties/min-height.json
  css/properties/place-items.json
  css/properties/place-self.json
  css/properties/row-gap.json
Labels: data:css :art:

#4253 Fix support for unprefixed transform properties in Chrome
  css/properties/backface-visibility.json
  css/properties/perspective-origin.json
  css/properties/perspective.json
  css/properties/transform-origin.json
  css/properties/transform-style.json
  css/properties/transform.json
Labels: data:css :art:

#4254 Prefixed support for transition properties in IE 10, 11
  css/properties/transition-delay.json
  css/properties/transition-duration.json
  css/properties/transition-property.json
  css/properties/transition-timing-function.json
  css/properties/transition.json
Labels: data:css :art:

#4258 [Chromium] Add Android O note to notification.vibrate.
  api/Notification.json
Labels: data:api :rabbit2:

#4257 Enforce real values for Edge in css/
  css/types/dimension.json
  test/test-real-values.js
Labels: data:css :art:, linter :house_with_garden:

#4250 refactor(css): Fold `:‑moz‑focusring` into `:focus‑visible`
  css/selectors/-moz-focusring.json
  css/selectors/focus-visible.json
Labels: data:css :art:

#4266 fix: Correct type of preference flags
  css/selectors/focus-visible.json
Labels: data:css :art:

#4268 [bug] fix RelativeTimeFormat support for nodejs
  javascript/builtins/Intl.json
Labels: data:js :pager:

#4247 Add Safari 13 beta browser data
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#3682 [Chrome] bug 818643: Implement `RTCSctpTransport`
  api/RTCPeerConnection.json
  api/RTCSctpTransport.json
Labels: data:api :rabbit2:, not ready :no_entry:, rebase-needed :construction:

#4234 CSS counters() function
  css/types/counters.json
Labels: data:css :art:

#4286 Adding counter-set
  css/properties/counter-set.json
Labels: data:css :art:

#4283 Document statistics script
  docs/testing.md
Labels: docs :writing_hand:

#4255 Expand BigInt data to cover full API
  javascript/builtins/BigInt.json
Labels: data:js :pager:

#4248 Add BigInt TypedArray API
  javascript/builtins/BigInt.json
  javascript/builtins/BigInt64Array.json
  javascript/builtins/BigUint64Array.json
  javascript/builtins/DataView.json
Labels: data:js :pager:

#4290 Update -webkit-appearance button and textfield values
  css/properties/appearance.json
Labels: data:css :art:

#4291 Clean up -webkit-background-clip data
  css/properties/background-clip.json
Labels: data:css :art:

#4279 Remove Edge Mobile in xslt/*
  xslt/elements/stylesheet.json
Labels: data:xslt :tractor:

#4278 Remove Edge Mobile in xpath/*
  xpath/axes/self.json
Labels: data:xpath :railway_track:

#4277 Remove Edge Mobile in webdriver/*
  test/test-real-values.js
  webdriver/commands/AcceptAlert.json
  webdriver/commands/AddCookie.json
  webdriver/commands/Back.json
  webdriver/commands/CloseWindow.json
  webdriver/commands/DeleteAllCookies.json
  webdriver/commands/DeleteCookie.json
  webdriver/commands/DeleteSession.json
  webdriver/commands/DismissAlert.json
  webdriver/commands/ElementClear.json
  webdriver/commands/ElementClick.json
  webdriver/commands/ElementSendKeys.json
  webdriver/commands/ExecuteAsyncScript.json
  webdriver/commands/ExecuteScript.json
  webdriver/commands/FindElement.json
  webdriver/commands/FindElementFromElement.json
  webdriver/commands/FindElements.json
  webdriver/commands/FindElementsFromElement.json
  webdriver/commands/Forward.json
  webdriver/commands/FullscreenWindow.json
  webdriver/commands/GetActiveElement.json
  webdriver/commands/GetAlertText.json
  webdriver/commands/GetAllCookies.json
  webdriver/commands/GetCurrentURL.json
  webdriver/commands/GetElementAttribute.json
  webdriver/commands/GetElementCSSValue.json
  webdriver/commands/GetElementProperty.json
  webdriver/commands/GetElementRect.json
  webdriver/commands/GetElementTagName.json
  webdriver/commands/GetElementText.json
  webdriver/commands/GetNamedCookie.json
  webdriver/commands/GetPageSource.json
  webdriver/commands/GetTimeouts.json
  webdriver/commands/GetTitle.json
  webdriver/commands/GetWindowHandle.json
  webdriver/commands/GetWindowHandles.json
  webdriver/commands/GetWindowRect.json
  webdriver/commands/IsElementEnabled.json
  webdriver/commands/IsElementSelected.json
  webdriver/commands/MaximizeWindow.json
  webdriver/commands/MinimizeWindow.json
  webdriver/commands/NavigateTo.json
  webdriver/commands/NewSession.json
  webdriver/commands/NewWindow.json
  webdriver/commands/PerformActions.json
  webdriver/commands/Refresh.json
  webdriver/commands/ReleaseActions.json
  webdriver/commands/SendAlertText.json
  webdriver/commands/SetTimeouts.json
  webdriver/commands/SetWindowRect.json
  webdriver/commands/Status.json
  webdriver/commands/SwitchToFrame.json
  webdriver/commands/SwitchToParentFrame.json
  webdriver/commands/SwitchToWindow.json
  webdriver/commands/TakeElementScreenshot.json
  webdriver/commands/TakeScreenshot.json
Labels: data:webdriver :racing_car:

#4220 Add Cross-Origin-Opener-Policy header
  http/headers/cross-origin-opener-policy.json
Labels: data:http :mountain_cableway:

#4320 Add spec URLs for BigInt members
  javascript/builtins/BigInt.json
Labels: data:js :pager:

#4145 Update Event.eventPhase for ie
  api/Event.json
Labels: data:api :rabbit2:

#4319 Update Object.fromEntries spec URL; now in ES spec
  javascript/builtins/Object.json
Labels: data:js :pager:

#4284 Add support data for CSSPseudoElement
  api/CSSPseudoElement.json
Labels: data:api :rabbit2:

#4325 Update background-blend-mode
  css/properties/background-blend-mode.json
Labels: data:css :art:

#4326 Update background-origin
  css/properties/background-origin.json
Labels: data:css :art:

#4327 Update background-position-*
  css/properties/background-position-x.json
  css/properties/background-position-y.json
Labels: data:css :art:

#4310 Show support in Edge for @charset
  css/at-rules/charset.json
Labels: data:css :art:

#4331 Fix Samsung version (resolve build failure)
  css/properties/background-origin.json
Labels: data:css :art:

#4288 Update versions for nodeList.forEach()
  api/NodeList.json
Labels: data:api :rabbit2:

#4210 latest firefox and safari@12 support RTCDataChannel.buffered​Amount
  api/RTCDataChannel.json
Labels: data:api :rabbit2:

#4345 HTMLImageElement.decode() added to Firefox 68
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#4287 Mark touch-action supported by the next version of Safari
  css/properties/touch-action.json
Labels: data:css :art:

#4348 Clean up border-radius
  css/properties/border-radius.json
Labels: data:css :art:

#4261 ie version 10 added for History.state
  api/History.json
Labels: data:api :rabbit2:

#4324 Add negotiated to RTCDataChannel in Firefox 68
  api/RTCDataChannel.json
Labels: data:api :rabbit2:

#4328 Add RTCIceCredentialType enum
  api/RTCIceCredentialType.json
Labels: data:api :rabbit2:

#4332 [Firefox] Bug 1470695: Implement `overflow‑*` logical properties
  css/properties/overflow-block.json
  css/properties/overflow-inline.json
Labels: data:css :art:

#4317 Add IDBFactory.databases
  api/IDBFactory.json
Labels: data:api :rabbit2:

#4337 Update background-repeat data
  css/properties/background-repeat.json
Labels: data:css :art:

#4338 Update SVG-as-backgrounds data
  css/properties/background-size.json
  css/properties/background.json
Labels: data:css :art:

#4339 Object.entries support in iOS Safari
  javascript/builtins/Object.json
Labels: data:js :pager:

#4344 Object.fromEntries is supported on Opera60
  javascript/builtins/Object.json
Labels: data:js :pager:

#4346 Update border-image data
  css/properties/border-image.json
Labels: data:css :art:

#4347 VisualViewport enabled by default in Firefox 68 Android
  api/VisualViewport.json
Labels: data:api :rabbit2:

#4351 HTMLDocument.cookie -> Document.cookie in Firefox 68
  api/Document.json
Labels: data:api :rabbit2:

#4352 CORP shipping in Firefox :tada:
  http/headers/cross-origin-resource-policy.json
Labels: data:http :mountain_cableway:

#4354 Update Element with changes to click/dblclick/auxclick
  api/Element.json
Labels: data:api :rabbit2:

#4355 fix(4336) location.hostname is supported on IE
  api/Location.json
Labels: data:api :rabbit2:

#4358 Firefox 68: resize event no longer sent before first paint
  api/Window.json
Labels: data:api :rabbit2:

#4314 Mark pointer events supported by the next version of Safari
  api/PointerEvent.json
Labels: data:api :rabbit2:

#4364 Remove superfluous version_added: false lines for PointerEvent
  api/PointerEvent.json
Labels: data:api :rabbit2:

#4316 Update -webkit-device-pixel-ratio range media feature
  css/at-rules/media.json
Labels: data:css :art:

#4311 Correct user-select: all Edge compat
  css/properties/user-select.json
Labels: data:css :art:

#4329 Safari 12.1 dropped Do Not Track header
  http/headers/dnt.json
Labels: data:http :mountain_cableway:

#4249 The `Error.stack` property seems to be supported by Edge:
  javascript/builtins/Error.json
Labels: data:js :pager:

#4349 Remove moz-chunked-arraybuffer in Firefox 68
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#4362 Set IE version for api.History
  api/History.json
Labels: data:api :rabbit2:

#4361 Add Safari version for Payment Request API
  api/PaymentRequest.json
Labels: data:api :rabbit2:

#4363 Add release date for Safari iOS 12.2
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#4365 Remove edge_mobile from javascript/*
  javascript/builtins/BigInt.json
  javascript/builtins/BigInt64Array.json
  javascript/builtins/BigUint64Array.json
  javascript/builtins/DataView.json
  javascript/builtins/Error.json
Labels: data:js :pager:

#4342 Add meta name="color-scheme"
  html/elements/meta.json
Labels: data:html :page_facing_up:

#4353 Correct AudioWorkletNode processorerror event handler
  api/AudioWorkletNode.json
Labels: data:api :rabbit2:

#4341 Mark the http-equiv value set-cookie as deprecated
  html/elements/meta.json
Labels: data:html :page_facing_up:

#4340 Add audio/video track support data to RTCRtpReceiver source get…
  api/RTCRtpReceiver.json
Labels: data:api :rabbit2:

#4360 Support for -webkit-mask-size in Chrome
  css/properties/mask-size.json
Labels: data:css :art:

#4377 Fix consistency of Chromium in API files
  api/Coordinates.json
  api/DedicatedWorkerGlobalScope.json
  api/EffectTiming.json
  api/External.json
  api/FontFaceSet.json
  api/GlobalEventHandlers.json
  api/NavigatorStorage.json
  api/PublicKeyCredentialCreationOptions.json
  api/PublicKeyCredentialRequestOptions.json
  api/SpeechGrammarList.json
  api/SpeechRecognition.json
  api/TextTrackList.json
  api/WindowOrWorkerGlobalScope.json
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#4379 Support for prefers-color-scheme in Safari for iOS
  css/at-rules/media.json
Labels: data:css :art:

#4380 Updates to CSSStyleRule for Firefox 68
  api/CSSStyleSheet.json
Labels: data:api :rabbit2:

#4382 Firefox only supports one repeated column in grid layout
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
Labels: data:css :art:

#4373 require-for-sri removed from CSP in Firefox 68
  http/headers/content-security-policy.json
Labels: data:http :mountain_cableway:

#4386 Firefox 68 adds support for rejectionhandled/unhandledrejection
  api/PromiseRejectionEvent.json
  api/Window.json
  api/WindowEventHandlers.json
Labels: data:api :rabbit2:

#4389 Chrome started requiring a secure context for AppCache v70
  html/elements/html.json
Labels: data:html :page_facing_up:

#4390 Edge Support on Console.timeStamp
  api/Console.json
Labels: data:api :rabbit2:

#4335 Update Navigator to note secure context needed for getUserMedia()
  api/Navigator.json
Labels: data:api :rabbit2:

#4359 HTMLElement/SVGElement focus() options in Firefox 68
  api/HTMLElement.json
  api/SVGElement.json
Labels: data:api :rabbit2:

#4395 Update Safari versions for api.CustomEvent
  api/CustomEvent.json
Labels: data:api :rabbit2:

#4388 Fix Chrome/Opera Android versions in css.properties.mask-size
  css/properties/mask-size.json
Labels: data:css :art:

#3955 Fix consistency of css.properties.mask-*
  css/properties/-webkit-mask-attachment.json
  css/properties/-webkit-mask-box-image.json
  css/properties/-webkit-mask-composite.json
  css/properties/-webkit-mask-position-x.json
  css/properties/-webkit-mask-position-y.json
  css/properties/-webkit-mask-repeat-x.json
  css/properties/-webkit-mask-repeat-y.json
  css/properties/mask-clip.json
  css/properties/mask-composite.json
  css/properties/mask-mode.json
  css/properties/mask-origin.json
  css/properties/mask-position.json
  css/properties/mask-repeat.json
  css/properties/mask-size.json
  css/properties/mask-type.json
  css/properties/mask.json
Labels: data:css :art:

#3826 Mirror Chrome -> Chrome Android for api/*
  api/BaseAudioContext.json
  api/Blob.json
  api/BlobBuilder.json
  api/CSSPrimitiveValue.json
  api/CSSValue.json
  api/CSSValueList.json
  api/CanvasRenderingContext2D.json
  api/Console.json
  api/Coordinates.json
  api/DOMParser.json
  api/DocumentFragment.json
  api/EffectTiming.json
  api/FileSystem.json
  api/FormData.json
  api/Geolocation.json
  api/GlobalEventHandlers.json
  api/HTMLCanvasElement.json
  api/HTMLInputElement.json
  api/ImageData.json
  api/MediaStreamEvent.json
  api/MessageEvent.json
  api/MouseWheelEvent.json
  api/ParentNode.json
  api/PublicKeyCredentialCreationOptions.json
  api/PublicKeyCredentialRequestOptions.json
  api/RTCCertificate.json
  api/RTCDataChannel.json
  api/RTCPeerConnectionIceEvent.json
  api/Response.json
  api/SVGAElement.json
  api/SVGAltGlyphElement.json
  api/SVGMPathElement.json
  api/SVGMatrix.json
  api/SVGUseElement.json
  api/ServiceWorkerContainer.json
  api/StorageQuota.json
  api/TextTrack.json
  api/WEBGL_debug_renderer_info.json
  api/Window.json
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#4399 Fix opera support for CSS.escape
  api/CSS.json
Labels: data:api :rabbit2:

#4374 Fix consistency of versions in API files
  api/InputEvent.json
  api/PerformanceNavigation.json
  api/PerformanceNavigationTiming.json
  api/PerformanceObserver.json
  api/RTCDataChannel.json
  api/RTCIceCredentialType.json
  api/WindowOrWorkerGlobalScope.json
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#4394 Add trimLeft and trimRight javascript String aliases in NodeJS
  javascript/builtins/String.json
Labels: data:js :pager:

#4368 Set real values for various Chromium + Safari CSS @rules
  css/at-rules/font-face.json
  css/at-rules/import.json
  css/at-rules/keyframes.json
  css/at-rules/media.json
  css/at-rules/page.json
Labels: data:css :art:

#4401 Add unprefixed CSS filter support for Safari
  css/properties/filter.json
Labels: data:css :art:

#4356 Add Safari status for CSS clip-path
  css/properties/clip-path.json
Labels: data:css :art:

#4333 Make parameter for addIceCandidate() optional
  api/RTCIceCandidate.json
  api/RTCIceCandidateInit.json
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:
