Repository mdn/browser-compat-data, pull requests merged in 2019-03, with the labels that each got.

#3494 [Chrome] Add AudioWorklet data.
  api/AudioParamMap.json
  api/AudioWorklet.json
  api/AudioWorkletNode.json
  api/AudioWorkletProcessor.json
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#3502 [Chrome,Safari] Improvements to HTMLElement.
  api/HTMLElement.json
Labels: data:api :rabbit2:

#3553 Add IE support for HTMLSelectElement.options
  api/HTMLSelectElement.json
Labels: data:api :rabbit2:

#3556 add mdn_url for strict-dynamic
  http/headers/content-security-policy.json
Labels: data:http :mountain_cableway:

#3350 Add the compat data for Intl.ListFormat
  javascript/builtins/Intl.json
Labels: data:js :pager:

#3375 Fix version inconsistencies in api/* (A through F)
  api/Animation.json
  api/AnimationEvent.json
  api/AudioBufferSourceNode.json
  api/AudioContext.json
  api/AudioParamMap.json
  api/BaseAudioContext.json
  api/BlobEvent.json
  api/Body.json
  api/CSS.json
  api/Cache.json
  api/CanvasCaptureMediaStreamTrack.json
  api/CanvasRenderingContext2D.json
  api/Client.json
  api/Console.json
  api/ConstantSourceNode.json
  api/Crypto.json
  api/CustomElementRegistry.json
  api/DOMTokenList.json
  api/DataTransfer.json
  api/DeviceMotionEvent.json
  api/DeviceOrientationEvent.json
  api/Document.json
  api/DocumentTimeline.json
  api/EventSource.json
  api/EventTarget.json
  api/ExtendableMessageEvent.json
  api/FetchEvent.json
  api/FileSystemDirectoryReader.json
  api/FileSystemEntry.json
Labels: data:api :rabbit2:

#3548 IE does not support nextElementSibling on CharacterData nodes
  api/NonDocumentTypeChildNode.json
Labels: data:api :rabbit2:

#3569 Add WebGL extension EXT_float_blend
  api/EXT_float_blend.json
Labels: data:api :rabbit2:

#3570 Add WebGL extension OES_fbo_render_mipmap
  api/OES_fbo_render_mipmap.json
Labels: data:api :rabbit2:

#3549 Add calc() to @media.
  css/at-rules/media.json
  css/types/calc.json
Labels: data:css :art:

#3574 Add a note to Firefox about default Accept value change
  http/headers/accept.json
Labels: data:http :mountain_cableway:

#3559 Add WebGL bptc/rgtc compression extensions
  api/EXT_texture_compression_bptc.json
  api/EXT_texture_compression_rgtc.json
Labels: data:api :rabbit2:

#3457 Updating intrinsic sizing keywords data
  css/properties/block-size.json
  css/properties/height.json
  css/properties/inline-size.json
  css/properties/max-block-size.json
  css/properties/max-height.json
  css/properties/max-inline-size.json
  css/properties/max-width.json
  css/properties/min-block-size.json
  css/properties/min-height.json
  css/properties/min-inline-size.json
  css/properties/min-width.json
  css/properties/width.json
Labels: data:css :art:

#3004 feat(infra): Split the TypeScript type declaration
  index.d.ts
  types.d.ts
Labels: infra :building_construction:

#3566 Fix issue 3452
  css/selectors/is.json
Labels: data:css :art:

#3565 Update sendBeacon compatibility for iOS >11.1
  api/Navigator.json
Labels: data:api :rabbit2:

#3545 fix(:defined): update Edge and Edge Mobile compatibility
  css/selectors/defined.json
Labels: data:css :art:

#3562 Add VisualViewport event handlers and Fx support data
  api/VisualViewport.json
Labels: data:api :rabbit2:

#3579 String#matchAll ships in Firefox 67
  javascript/builtins/RegExp.json
  javascript/builtins/String.json
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#3546 Linter: don't allow version_added === version_removed
  api/RTCPeerConnection.json
  css/properties/custom-property.json
  test/test-versions.js
Labels: data:api :rabbit2:, data:css :art:, linter :house_with_garden:

#3376 Fix version inconsistencies in css/*
  css/at-rules/font-face.json
  css/at-rules/media.json
  css/at-rules/page.json
  css/at-rules/viewport.json
  css/properties/align-self.json
  css/properties/break-after.json
  css/properties/break-before.json
  css/properties/custom-property.json
  css/properties/display.json
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
  css/properties/mask-image.json
  css/properties/text-combine-upright.json
  css/properties/text-underline-position.json
  css/properties/touch-action.json
  css/properties/transform.json
  css/properties/word-break.json
  css/properties/word-spacing.json
  css/selectors/fullscreen.json
  css/selectors/scope.json
  css/types/image.json
  css/types/resolution.json
Labels: data:css :art:

#3597 Re-add data regarding constant() alias to env()
  css/properties/custom-property.json
Labels: data:css :art:

#3587 Invert SVG and HTML support data in css/properties/clip-path.json
  css/properties/clip-path.json
Labels: data:css :art:

#3567 Add missing data for the element function
  css/types/image.json
Labels: data:css :art:

#3575 Moz extensions
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#3426 Migrate data about AudioContext out of BaseAudioContext
  api/AudioContext.json
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#3518 [Chrome] Add MediaCapabilitiesInfo dictionary.
  api/MediaCapabilitiesInfo.json
Labels: data:api :rabbit2:

#3599 Fix wrong mdn_url entries in RTCIceCandidateStats
  api/RTCIceCandidateStats.json
Labels: data:api :rabbit2:

#3403 Fix version inconsistencies in api/* (N through S)
  api/Navigator.json
  api/NetworkInformation.json
  api/Node.json
  api/OffscreenCanvas.json
  api/ParentNode.json
  api/Path2D.json
  api/PaymentRequest.json
  api/PaymentResponse.json
  api/Permissions.json
  api/PictureInPicture.json
  api/PointerEvent.json
  api/PresentationConnection.json
  api/PushSubscription.json
  api/RTCDTMFSender.json
  api/RTCDataChannel.json
  api/RTCDataChannelEvent.json
  api/RTCIceServer.json
  api/RTCIceTransport.json
  api/RTCPeerConnection.json
  api/RTCRtpReceiver.json
  api/RTCRtpSender.json
  api/RTCSctpTransport.json
  api/Range.json
  api/ReadableStream.json
  api/Request.json
  api/Response.json
  api/SVGAnimationElement.json
  api/SVGClipPathElement.json
  api/SVGGraphicsElement.json
  api/SVGPatternElement.json
  api/ServiceWorkerContainer.json
  api/ServiceWorkerGlobalScope.json
  api/ServiceWorkerRegistration.json
  api/ShadowRoot.json
  api/SharedWorker.json
  api/SharedWorkerGlobalScope.json
  api/SourceBuffer.json
  api/StereoPannerNode.json
  api/SyncManager.json
Labels: data:api :rabbit2:

#3605 Edge supports -ms-input- prefix for ::placeholder
  css/selectors/placeholder.json
Labels: data:css :art:

#3404 Fix version inconsistencies in api/* (T through Z)
  api/TextDecoder.json
  api/TextMetrics.json
  api/TextTrack.json
  api/Touch.json
  api/TouchList.json
  api/URL.json
  api/URLSearchParams.json
  api/ValidityState.json
  api/WebGL2RenderingContext.json
  api/WebGLRenderingContext.json
  api/WindowClient.json
  api/WindowEventHandlers.json
  api/WindowOrWorkerGlobalScope.json
  api/WritableStreamDefaultController.json
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#3564 Added HTMLMediaElement Events
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#3627 Add Chrome support for Object.fromEntries
  javascript/builtins/Object.json
Labels: data:js :pager:

#3525 Add TransitionEvent.propertyName support to Chromium et-al
  api/TransitionEvent.json
Labels: data:api :rabbit2:

#3594 Add data for composition events
  api/Element.json
Labels: data:api :rabbit2:

#3563 Add BCD for animation and transition events
  api/Document.json
  api/HTMLElement.json
  api/Window.json
Labels: data:api :rabbit2:

#3637 adding beforeprint_event back in...
  api/Window.json
Labels: data:api :rabbit2:

#3620 Update Chrome 73 release date
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#3581 Adding compat data for TextEncoder.encodeInto() method
  api/TextEncoder.json
Labels: data:api :rabbit2:

#3633 Fullscreen API only works on iOS on iPad
  api/DocumentOrShadowRoot.json
Labels: data:api :rabbit2:

#3639 Add load and unload events
  api/Document.json
  api/Window.json
Labels: data:api :rabbit2:

#3572 Animation support for grid-template properties
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
Labels: data:css :art:

#3629 Fix incomplete Request constructor notes
  api/Request.json
Labels: data:api :rabbit2:

#3643 Reference crbug for "bookmark" context type in extensions API
  webextensions/api/menus.json
Labels: data:webext :game_die:

#3628 Add data for RTCIceCandidatePairStats
  api/RTCIceCandidatePairStats.json
Labels: data:api :rabbit2:

#3636 Fixing Chrome version_added for pointer events from 35 to 55
  api/Document.json
  api/GlobalEventHandlers.json
  api/HTMLElement.json
Labels: data:api :rabbit2:

#3577 Add compat info for legacy RTCPeerConnection.getStats()
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#3598 Microsoft Edge does not support BatteryManager
  api/BatteryManager.json
  api/Navigator.json
Labels: data:api :rabbit2:

#3638 Create basic support for css.clip-path
  css/properties/clip-path.json
Labels: data:css :art:

#3635 Un-deprecate the CSP child-src directive
  http/headers/content-security-policy.json
Labels: data:http :mountain_cableway:

#3557 Add data statistics script for MDN 2019 key result goal
  package.json
  scripts/statistics.js
Labels: infra :building_construction:

#3560 [All] Update FontFace data.
  api/FontFace.json
  api/FontFaceSet.json
Labels: data:api :rabbit2:

#3524 added step(jump-*)
  api/EffectTiming.json
Labels: data:api :rabbit2:

#3663 Fix jump feature description consistency
  api/EffectTiming.json
Labels: data:api :rabbit2:

#3588 Add Firefox Android 64 support for flex.
  css/properties/flex.json
Labels: data:css :art:

#3650 Add BCD for focus events
  api/Element.json
  api/Window.json
Labels: data:api :rabbit2:

#3571 [ALL] Corrections to Performance.
  api/Performance.json
Labels: data:api :rabbit2:

#3678 Firefox 66 "The Sound of Silence"
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#3534 Touch events
  api/Document.json
  api/Element.json
Labels: data:api :rabbit2:

#3671 update BCD for window.parent
  api/Window.json
Labels: data:api :rabbit2:

#3580 adding web components-related changes found so far in 2019
  api/DocumentOrShadowRoot.json
  api/Element.json
  api/HTMLSlotElement.json
Labels: data:api :rabbit2:

#3591 Add qpSum to Firefox 66
  api/RTCRtpStreamStats.json
Labels: data:api :rabbit2:

#3596 Edge doesn't support srcdoc
  api/HTMLIFrameElement.json
Labels: data:api :rabbit2:

#3606 Update CSS Counters data
  css/properties/counter-increment.json
  css/properties/counter-reset.json
Labels: data:css :art:

#3610 Fix compat data for Safari for api.SVGPathElement
  api/SVGPathElement.json
Labels: data:api :rabbit2:

#3608 Add new SVG attribute data from old browser compat tables
  svg/attributes/data.json
  svg/attributes/href.json
  svg/attributes/paint-order.json
  svg/attributes/textLength.json
Labels: data:svg :paintbrush:

#3609 Fix compat data for api.CanvasRenderingContext2D
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#3651 Mark `-moz-context-properties` as not supported in non-Gecko browsers
  css/properties/-moz-context-properties.json
Labels: data:css :art:

#3662 Expand -webkit-font-smoothing/-moz-osx-font-smoothing
  css/properties/font-smooth.json
Labels: data:css :art:

#3618 Fix the data structure for hz and khz units
  css/types/frequency-percentage.json
  css/types/frequency.json
Labels: data:css :art:

#3692 Add cross-origin resource policy compat data
  http/headers/cross-origin-resource-policy.json
Labels: data:http :mountain_cableway:

#3601 chrome for android does not support mix-blend-mode as of crhome 72
  css/properties/mix-blend-mode.json
Labels: data:css :art:

#3607 Add new API data from old browser compat tables
  api/Document.json
  api/Element.json
  api/HTMLElement.json
  api/Window.json
Labels: data:api :rabbit2:

#3701 Update import.meta data for Safari
  javascript/statements.json
Labels: data:js :pager:

#3589 Improve Edge JS builtins data part 1
  javascript/builtins/ArrayBuffer.json
  javascript/builtins/AsyncFunction.json
  javascript/builtins/Boolean.json
  javascript/builtins/DataView.json
  javascript/builtins/Date.json
  javascript/builtins/Error.json
  javascript/builtins/EvalError.json
  javascript/builtins/Float32Array.json
  javascript/builtins/Float64Array.json
  javascript/builtins/Function.json
Labels: data:js :pager:

#3612 Update api.CanvasPattern
  api/CanvasPattern.json
Labels: data:api :rabbit2:

#3592 Adding protocol property to FederatedCredential
  api/FederatedCredential.json
Labels: data:api :rabbit2:

#3590 Add real values for all MathML features
  mathml/elements/maction.json
  mathml/elements/menclose.json
  mathml/elements/merror.json
  mathml/elements/mfenced.json
  mathml/elements/mfrac.json
  mathml/elements/mglyph.json
  mathml/elements/mi.json
  mathml/elements/mlabeledtr.json
  mathml/elements/mmultiscripts.json
  mathml/elements/mn.json
  mathml/elements/mo.json
  mathml/elements/mover.json
  mathml/elements/mpadded.json
  mathml/elements/mphantom.json
  mathml/elements/mroot.json
  mathml/elements/mrow.json
  mathml/elements/ms.json
  mathml/elements/mspace.json
  mathml/elements/msqrt.json
  mathml/elements/msub.json
  mathml/elements/msubsup.json
  mathml/elements/msup.json
  mathml/elements/mtable.json
  mathml/elements/mtd.json
  mathml/elements/mtext.json
  mathml/elements/mtr.json
  mathml/elements/munder.json
  mathml/elements/munderover.json
  mathml/elements/semantics.json
Labels: data:mathml :heavy_division_sign:

#3695 Demo change to show contributor workflow
  javascript/builtins/Boolean.json
Labels: data:js :pager:

#3631 Add feature matching hints to the schema
  css/properties/color.json
  css/properties/transform-origin.json
  css/properties/transform.json
  css/selectors/backdrop.json
  schemas/compat-data-schema.md
  schemas/compat-data.schema.json
  test/test-regexes.js
Labels: data:css :art:, schema :gear:

#3687 feat(api): #3686 safari support for replaceWith, remove experimental
  api/ChildNode.json
Labels: data:api :rabbit2:

#3693 Add data of passive true on document level wheel event
  api/EventTarget.json
Labels: data:api :rabbit2:

#3614 Fix Opera data for api.ResizeObserver
  api/ResizeObserver.json
Labels: data:api :rabbit2:

#3698 Migrate old WebSockets data from MDN docs
  api/WebSocket.json
Labels: data:api :rabbit2:

#3711 Add WebStorm as a project using the data
  README.md
Labels: docs :writing_hand:

#3615 Add additional support for css.list-style-type
  css/properties/list-style-type.json
Labels: data:css :art:

#3644 Adds support information for DOMMatrixReadOnly.translate
  api/DOMMatrixReadOnly.json
Labels: data:api :rabbit2:

#3681 chore(package): Update yargs to version 13.2.2
  package-lock.json
  package.json
  test/lint.js
Labels: infra :building_construction:

#3604 Update Media Capabilities API data
  api/MediaCapabilities.json
  api/MediaCapabilitiesInfo.json
Labels: data:api :rabbit2:

#3661 update notes on link rel=preload to reflect reality
  html/elements/link.json
Labels: data:html :page_facing_up:

#3664 Mark transform as available unprefixed in Edge 12
  css/properties/transform.json
Labels: data:css :art:

#3665 Mark column-rule/column-rule-width as available unprefixed in Edge 12
  css/properties/column-rule-width.json
  css/properties/column-rule.json
Labels: data:css :art:

#3630 Set CSS properties to not supported based on `CSS.support` tests
  css/properties/border-inline-end.json
  css/properties/border-inline-start.json
  css/properties/contain.json
  css/properties/font-optical-sizing.json
  css/properties/font-size-adjust.json
  css/properties/image-orientation.json
  css/properties/inset-block-end.json
  css/properties/inset-block-start.json
  css/properties/inset-inline-end.json
  css/properties/inset-inline-start.json
  css/properties/line-height-step.json
  css/properties/mask-mode.json
  css/properties/mask-size.json
  css/properties/mask-type.json
  css/properties/offset-distance.json
  css/properties/offset-path.json
  css/properties/offset-rotate.json
  css/properties/offset.json
  css/properties/ruby-align.json
  css/properties/ruby-position.json
  css/properties/shape-margin.json
  css/properties/text-decoration-line.json
  css/properties/text-orientation.json
Labels: data:css :art:

#3647 [Chrome][Safari] Update PaymentRequest.
  api/PaymentRequest.json
Labels: data:api :rabbit2:

#3654 Describing getTransports() method of AuthenticatorAttestationResponse
  api/AuthenticatorAttestationResponse.json
Labels: data:api :rabbit2:

#3659 Partial support for NetworkInformation API in Chromium
  api/NetworkInformation.json
Labels: data:api :rabbit2:

#3689 Mark many interface members as not supported in Chrome
  api/AudioContext.json
  api/HTMLMediaElement.json
  api/RTCCertificate.json
  api/RTCDataChannel.json
  api/RTCIceCandidate.json
  api/RTCPeerConnectionIceEvent.json
  api/Response.json
  api/SVGAElement.json
  api/SVGUseElement.json
  api/ServiceWorkerContainer.json
  api/TextTrack.json
Labels: data:api :rabbit2:

#3652 Add exact Chrome versions for 3 CSS properties
  css/properties/column-fill.json
  css/properties/paint-order.json
  css/properties/text-decoration-line.json
Labels: data:css :art:

#3696 Mark ServiceWorkerContainer.startMessages as shipping in Chromium 74
  api/ServiceWorkerContainer.json
Labels: data:api :rabbit2:

#3699 Utilize Prefix parameter in CSSMatrix
  api/CSSMatrix.json
Labels: data:api :rabbit2:

#3656 Set support for api.MSGestureEvent to False in non-MS browsers
  api/MSGestureEvent.json
Labels: data:api :rabbit2:

#3676 Standardize secure_context_required fields
  api/Navigator.json
  api/Notification.json
  api/Position.json
  api/PositionError.json
  api/PresentationRequest.json
  html/elements/html.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#3691 Fix properties of api.MutationRecord and add Chromium/Firefox/Safari info
  api/MutationRecord.json
Labels: data:api :rabbit2:

#3666 Mark a bunch of CSS properties as unsupported in Edge
  css/properties/-webkit-border-before.json
  css/properties/-webkit-box-reflect.json
  css/properties/-webkit-mask-attachment.json
  css/properties/-webkit-mask-box-image.json
  css/properties/-webkit-print-color-adjust.json
  css/properties/box-flex-group.json
  css/properties/box-lines.json
  css/properties/initial-letter.json
  css/properties/mask-clip.json
  css/properties/mask-origin.json
  css/properties/shape-image-threshold.json
  css/properties/text-decoration-color.json
  css/properties/text-emphasis-color.json
  css/properties/text-emphasis-position.json
  css/properties/text-emphasis-style.json
  css/properties/text-emphasis.json
  css/properties/text-rendering.json
Labels: data:css :art:

#3706 adding compat data for inset shorthands
  css/properties/inset-block.json
  css/properties/inset-inline.json
  css/properties/inset.json
Labels: data:css :art:

#3707 updating overflow-anchor support for Fx mobile
  css/properties/overflow-anchor.json
Labels: data:css :art:

#3714 removed `caputreTab` support from FF for Android
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#3675 update Chrome support for browserAction.openPopup
  webextensions/api/browserAction.json
Labels: data:webext :game_die:

#3717 Chrome support for some of the logical properties border-* longhands.
  css/properties/border-block-color.json
  css/properties/border-block-end.json
  css/properties/border-block-start-style.json
  css/properties/border-block-start.json
  css/properties/border-inline-color.json
  css/properties/border-inline-end.json
  css/properties/border-inline-start.json
Labels: data:css :art:

#3719 Fix all relative URLs in notes
  api/Animation.json
  api/BlobBuilder.json
  api/Element.json
  api/FileError.json
  api/HMDVRDevice.json
  api/PositionSensorVRDevice.json
Labels: data:api :rabbit2:

#3613 Add compat data for api.Window.find
  api/Window.json
Labels: data:api :rabbit2:

#3704 Add Chrome/Firefox support for ANGLE/EXT/OES/WebGL APIs
  api/ANGLE_instanced_arrays.json
  api/EXT_blend_minmax.json
  api/EXT_frag_depth.json
  api/EXT_sRGB.json
  api/EXT_shader_texture_lod.json
  api/EXT_texture_filter_anisotropic.json
  api/OES_element_index_uint.json
  api/OES_standard_derivatives.json
  api/OES_texture_float.json
  api/OES_texture_float_linear.json
  api/OES_texture_half_float.json
  api/OES_texture_half_float_linear.json
  api/OES_vertex_array_object.json
  api/WEBGL_color_buffer_float.json
  api/WEBGL_compressed_texture_atc.json
  api/WEBGL_compressed_texture_etc.json
  api/WEBGL_compressed_texture_etc1.json
  api/WEBGL_compressed_texture_pvrtc.json
  api/WEBGL_compressed_texture_s3tc.json
  api/WEBGL_compressed_texture_s3tc_srgb.json
  api/WEBGL_depth_texture.json
  api/WEBGL_draw_buffers.json
  api/WEBGL_lose_context.json
Labels: data:api :rabbit2:

#3603 Lint: disallow relative links in notes
  test/test-style.js
Labels: linter :house_with_garden:

#3684 Mark some CSS properties as first available in Safari 5 / 5.1
  css/properties/-webkit-border-before.json
  css/properties/-webkit-mask-repeat-x.json
  css/properties/-webkit-mask-repeat-y.json
Labels: data:css :art:

#3646 [Chrome][Safari][FF] More TransitionEvent data.
  api/TransitionEvent.json
Labels: data:api :rabbit2:

#3694 Added the Search event
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#3648 [Chrome] Add support for any-link.
  css/selectors/any-link.json
Labels: data:css :art:

#3623 Add Firefox versions for css.inset-inline and css.inset-block
  css/properties/inset-block-end.json
  css/properties/inset-block-start.json
  css/properties/inset-block.json
  css/properties/inset-inline-end.json
  css/properties/inset-inline-start.json
  css/properties/inset-inline.json
Labels: data:css :art:

#3723 Add missing descriptions to selectors
  css/selectors/any-link.json
  css/selectors/cue.json
Labels: data:css :art:

#3653 [All] Update DTMF-related interfaces.
  api/RTCDTMFSender.json
  api/RTCDTMFToneChangeEvent.json
Labels: data:api :rabbit2:

#3657 Add unprefixed support for Safari for :any-link
  css/selectors/any-link.json
Labels: data:css :art:

#3674 Safari doesn't support EventTarget inheritance on MediaQueryList
  api/MediaQueryList.json
Labels: data:api :rabbit2:

#3655 Add autocomplete to HTMLSelectElement and HTMLTextAreaElement; alphabetize features
  api/HTMLSelectElement.json
  api/HTMLTextAreaElement.json
Labels: data:api :rabbit2:

#3726 fix(api): `RTCPeerConnection.sctp` is unsupported
  api/RTCPeerConnection.json
  api/RTCSctpTransport.json
Labels: data:api :rabbit2:

#3736 Set support to true for HTML data URLs
  http/data-url.json
Labels: data:http :mountain_cableway:

#3624 tweaking CSS max-content and min-content support info
  css/properties/block-size.json
  css/properties/flex-basis.json
  css/properties/height.json
  css/properties/inline-size.json
  css/properties/max-block-size.json
  css/properties/max-height.json
  css/properties/max-inline-size.json
  css/properties/max-width.json
  css/properties/min-block-size.json
  css/properties/min-height.json
  css/properties/min-inline-size.json
  css/properties/min-width.json
  css/properties/width.json
Labels: data:css :art:
