Repository mdn/browser-compat-data, pull requests merged in 2020-07, with the labels that each got.

#6358 Firefox 79 supports dateStyle and timeStyle
  javascript/builtins/intl/DateTimeFormat.json
Labels: data:js :pager:

#6357 Firefox 79 ships COOP+COEP
  http/headers/cross-origin-embedder-policy.json
  http/headers/cross-origin-opener-policy.json
Labels: data:http :mountain_cableway:

#6356 SAB returns in Firefox 79
  api/WebGL2RenderingContext.json
  api/WebGLRenderingContext.json
  javascript/builtins/DataView.json
  javascript/builtins/SharedArrayBuffer.json
Labels: data:api :rabbit2:, data:js :pager:

#6359 adding firefox data for allow-top-navigation-by-user-activation token
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#6361 Update autocapitalize attribute support for Safari.
  html/global_attributes.json
Labels: data:html :page_facing_up:

#6362 Safari 13 supports Intl.PluralRules
  javascript/builtins/intl/PluralRules.json
Labels: data:js :pager:

#6256 Add full MediaMetadata support in both Opera and Chrome
  api/MediaMetadata.json
Labels: data:api :rabbit2:

#6360 removal of no-preference value of prefers-color-scheme
  css/at-rules/media.json
Labels: data:css :art:

#6353 Atomics on non-shared buffers
  javascript/builtins/Atomics.json
Labels: data:js :pager:

#6363 Add logical assignment operators
  javascript/operators/logical_and_assignment.json
  javascript/operators/logical_nullish_assignment.json
  javascript/operators/logical_or_assignment.json
Labels: data:js :pager:

#6364 adding note about loadstart event firing async in Fx 79 onwards
  api/FileReader.json
Labels: data:api :rabbit2:

#6365 adding data about dommatrix support in CanvasPattern.setTransform()
  api/CanvasPattern.json
Labels: data:api :rabbit2:

#6371 Typo fix: api/CSSMathNegate/values->value
  api/CSSMathNegate.json
Labels: data:api :rabbit2:

#6373 Add api.Gamepad.vibrationActuator
  api/Gamepad.json
Labels: data:api :rabbit2:

#6374 Update data for GamepadHapticActuator API
  api/GamepadHapticActuator.json
Labels: data:api :rabbit2:

#6370 Chrome supports gap for flex starting in 84
  css/properties/gap.json
Labels: data:css :art:

#6366 adding data about implicit rel=noopener behavior
  html/elements/a.json
  html/elements/area.json
Labels: data:html :page_facing_up:

#6348 Add missing mdn_url for background-image/element()"
  css/properties/background-image.json
Labels: data:css :art:

#6375 Add api.HTMLVideoElement.cancel/requestVideoFrameCallback
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#6384 Set experimental to false for wasm shared memory
  javascript/builtins/webassembly/Memory.json
Labels: data:js :pager:

#6386 Correct version number for 'no-preference' removal.
  css/at-rules/media.json
Labels: data:css :art:

#6390 Update 308 HTTP status with support start versions
  http/status.json
Labels: data:http :mountain_cableway:

#6387 Add the RTCRemoteOutboundRtpStreamStats dictionary
  api/RTCRemoteOutboundRtpStreamStats.json
Labels: data:api :rabbit2:

#6382 add supported version for prefers-reduced-data
  css/at-rules/media.json
Labels: data:css :art:

#6381 add a note about buggy behaviour of Number#toLocaleString in IE11
  javascript/builtins/Number.json
  javascript/builtins/intl/NumberFormat.json
Labels: data:js :pager:

#6397 Add data for tabs.warmup()
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#6385 Add data for the CSSAnimations interface.
  api/CSSAnimation.json
Labels: data:api :rabbit2:

#6391 Samsung 12.0 is stable
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#6396 fix opera version on import/export
  javascript/statements.json
Labels: data:js :pager:

#6405 COOP is in Chromium 83
  http/headers/cross-origin-opener-policy.json
Labels: data:http :mountain_cableway:

#6399 Note that sync storage limits were not enforced before Firefox 79
  webextensions/api/storage.json
Labels: data:webext :game_die:

#6393 Add versions to CanvasRenderingContext2D for features in CanvasPath mixin
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#6409 Correct values for COOP/COEP in WebView.
  http/headers/cross-origin-embedder-policy.json
  http/headers/cross-origin-opener-policy.json
Labels: data:http :mountain_cableway:

#6413 Safari 14 support for public class fields
  javascript/classes.json
Labels: data:js :pager:

#6415 Add a reminder to update tracking issues to publishing docs
  docs/publishing.md
Labels: docs :writing_hand:

#6425 Nest tabs.warmup correctly
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#6426 Remove `FinalizationRegistry.prototype.cleanupSome`
  javascript/builtins/FinalizationRegistry.json
Labels: data:js :pager:, needs-release-note :newspaper:

#6427 Link https://webkit.org/b/176454 for overscroll-behavior support
  css/properties/overscroll-behavior-block.json
  css/properties/overscroll-behavior-inline.json
  css/properties/overscroll-behavior-x.json
  css/properties/overscroll-behavior-y.json
  css/properties/overscroll-behavior.json
Labels: data:css :art:

#6428 Add data for GamepadEvent API constructor
  api/GamepadEvent.json
Labels: data:api :rabbit2:

#6416 Update DataTransfer contructor support in IE
  api/DataTransfer.json
Labels: data:api :rabbit2:

#6424 Add hexo-compat-table to README.md
  README.md
Labels: docs :writing_hand:

#6418 Remove archived -moz CSS features
  css/properties/-moz-border-bottom-colors.json
  css/properties/-moz-border-left-colors.json
  css/properties/-moz-border-right-colors.json
  css/properties/-moz-border-top-colors.json
  css/properties/-moz-text-blink.json
  css/properties/-moz-window-shadow.json
  css/selectors/-moz-full-screen-ancestor.json
  css/selectors/-moz-system-metric.json
Labels: data:css :art:, needs-release-note :newspaper:

#6394 add `export * as ns` support data
  javascript/statements.json
Labels: data:js :pager:

#6429 Update guideline for irrelevant features
  docs/data-guidelines.md
Labels: docs :writing_hand:, needs-release-note :newspaper:

#6407 Remove compat data for -ms prefixed selectors
  css/selectors/-ms-browse.json
  css/selectors/-ms-check.json
  css/selectors/-ms-clear.json
  css/selectors/-ms-fill-lower.json
  css/selectors/-ms-fill-upper.json
  css/selectors/-ms-fill.json
  css/selectors/-ms-reveal.json
  css/selectors/-ms-value.json
Labels: data:css :art:, needs-release-note :newspaper:

#6398 Update support for getBytesInUse
  webextensions/api/storage.json
Labels: data:webext :game_die:

#6434 preservesPitch property is supported by Safari
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#6433 HTMLDialogElement cancel event is supported on Firefox
  api/HTMLDialogElement.json
Labels: data:api :rabbit2:

#6445 Update chrome to release 84
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#6410 Add PeriodicSyncManager/PeriodicSyncEvent APIs
  api/PeriodicSyncEvent.json
  api/PeriodicSyncManager.json
Labels: data:api :rabbit2:

#6446 updating Fx version info, now Fx 79 has been released
  browsers/firefox.json
Labels: data:browsers :earth_africa:

#6442 appinstalled was mistakenly added
  api/Window.json
Labels: data:api :rabbit2:

#6440 docs: update Intl.Locale support in Safari
  javascript/builtins/intl/Locale.json
Labels: data:js :pager:

#6436 Update allowfullscreen/webkitallowfullscreen data for Chromium
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#6430 Fix data for allowFullscreen on HTMLIFrameElement
  api/HTMLIFrameElement.json
Labels: data:api :rabbit2:

#6448 docs: update Intl.Locale notes after Safari TP 111 release
  javascript/builtins/intl/Locale.json
Labels: data:js :pager:

#6453 Update DisplayNames spec URL to correct section
  javascript/builtins/intl/DisplayNames.json
Labels: data:js :pager:

#6452 Fix incorrect spec URL for AggregateError
  javascript/builtins/AggregateError.json
Labels: data:js :pager:

#6451 Updates edge browser data to version 84
  browsers/edge.json
Labels: data:browsers :earth_africa:

#6450 Add Intl.PluralRules.prototype.select spec URL
  javascript/builtins/intl/PluralRules.json
Labels: data:js :pager:

#6439 Browsers supports gap, row-gap, column-gap for flex
  css/properties/column-gap.json
  css/properties/gap.json
  css/properties/row-gap.json
Labels: data:css :art:

#6417 Add immersive-ar and hit test
  api/XRSession.json
  api/XRSessionMode.json
  browsers/samsunginternet_android.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#6438 Add info regarding support of module workers
  api/Worker.json
  browsers/nodejs.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#6454 Fix parentheses mismatch in data guidelines
  docs/data-guidelines.md
Labels: docs :writing_hand:

#6403 Update MediaQueryList with details about Safari
  api/MediaQueryList.json
Labels: data:api :rabbit2:

#6457 Add more GamepadEvent data.
  api/GamepadEvent.json
Labels: data:api :rabbit2:
