Repository mdn/browser-compat-data, pull requests merged in 2020-10, with the labels that each got.

#6781 Update Safari data for AudioBuffer + AudioBufferSourceNode
  api/AudioBuffer.json
  api/AudioBufferSourceNode.json
Labels: data:api :rabbit2:

#6790 Use mdn-bcd-collector to update version numbers for a few Web Audio APIs
  api/AudioParamMap.json
  api/AudioProcessingEvent.json
  api/AudioScheduledSourceNode.json
  api/AudioTrack.json
  api/AudioWorkletNode.json
Labels: data:api :rabbit2:

#6792 Mirror Chrome -> Opera for Bluetooth APIs
  api/BluetoothAdvertisingData.json
  api/BluetoothCharacteristicProperties.json
  api/BluetoothDevice.json
  api/BluetoothRemoteGATTService.json
Labels: data:api :rabbit2:

#6691 DOMTokenList: separate whitespace trim/duplicate removal; add versions
  api/DOMTokenList.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#6784 aspect-ratio internal mapping supported Safari 14
  css/properties/aspect-ratio.json
Labels: data:css :art:

#6777 Add mdn- and Node.js 8 deprecation warnings for 1.1 release
  README.md
  UPGRADE-2.0.x.md
  index.js
Labels: docs :writing_hand:, needs-release-note :newspaper:

#6778 Update CODEOWNERS
  .github/CODEOWNERS
Labels: infra :building_construction:

#6795 Add compatibility notes about reported viewport values on iOS
  api/Window.json
Labels: data:api :rabbit2:

#6791 Use mdn-bcd-collector to update Web Audio API nodes
  api/AnalyserNode.json
  api/BiquadFilterNode.json
  api/ChannelMergerNode.json
  api/ChannelSplitterNode.json
  api/ConvolverNode.json
  api/DelayNode.json
  api/DynamicsCompressorNode.json
  api/GainNode.json
  api/IIRFilterNode.json
  api/OscillatorNode.json
  api/PannerNode.json
  api/WaveShaperNode.json
Labels: data:api :rabbit2:

#6794 Update BlobBuilder (removed everywhere)
  api/BlobBuilder.json
Labels: data:api :rabbit2:

#6774 forgiving selector list support for is and where pseudos
  css/selectors/is.json
  css/selectors/where.json
Labels: data:css :art:

#6805 Fix Safari version for api.CanvasPattern.setTransform
  api/CanvasPattern.json
Labels: data:api :rabbit2:

#6803 Opera Android 60 supports String.replaceAll
  javascript/builtins/String.json
Labels: data:js :pager:

#6798 file-selector-button
  css/selectors/-webkit-file-upload-button.json
  css/selectors/file-selector-button.json
Labels: data:css :art:

#6804 Update CanvasGradient API
  api/CanvasGradient.json
Labels: data:api :rabbit2:

#6799 Remove duplicate api.AudioContext.createConstantSource
  api/AudioContext.json
Labels: data:api :rabbit2:

#6802 Update versions ANGLE_instanced_arrays
  api/ANGLE_instanced_arrays.json
Labels: data:api :rabbit2:

#6806 Update Document() data with mdn-bcd-collector data
  api/Document.json
Labels: data:api :rabbit2:

#6800 Update Edge versions for AudioContext using mdn-bcd-collector
  api/AudioContext.json
Labels: data:api :rabbit2:

#6801 Update AudioContext() data
  api/AudioContext.json
Labels: data:api :rabbit2:

#6827 Updates to allow-downloads
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#6818 Add/update Firefox data for Document API
  api/Document.json
Labels: data:api :rabbit2:

#6819 Add/update IE/EdgeHTML data for Document API
  api/Document.json
Labels: data:api :rabbit2:

#6824 Add/update IE/EdgeHTML data for Window API
  api/Window.json
Labels: data:api :rabbit2:

#6823 Add/update Firefox data for Window API
  api/Window.json
Labels: data:api :rabbit2:

#6831 Fix data in Console API using mdn-bcd-collector
  api/Console.json
Labels: data:api :rabbit2:

#6814 Add Logger class for linters
  test/linter/test-browsers.js
  test/linter/test-descriptions.js
  test/linter/test-links.js
  test/linter/test-real-values.js
  test/linter/test-style.js
  test/linter/test-versions.js
  test/linter/utils.js
  test/utils.js
Labels: linter :house_with_garden:

#6793 Add note about HTTP Content-Disposition inline directive FF82
  http/headers/content-disposition.json
Labels: data:http :mountain_cableway:

#6710 Mark ondragexit handler and dragexit event as standard_track:false, and deprecated:true
  api/Document.json
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, data:svg :paintbrush:, needs-release-note :newspaper:

#6850 Remove api.Document.contains and clarify IE support is just HTMLElement
  api/Document.json
  api/Node.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#6820 Add/update Safari data for Document API
  api/Document.json
Labels: data:api :rabbit2:

#6828 Add/update IE/EdgeHTML data for Navigator API
  api/Navigator.json
Labels: data:api :rabbit2:

#6829 Add/update WebKit + Blink data for Navigator API
  api/Navigator.json
Labels: data:api :rabbit2:

#6830 Add/update Firefox data for Navigator API
  api/Navigator.json
Labels: data:api :rabbit2:

#6847 Mark CSS place-self supported in Safari 11+
  css/properties/place-self.json
Labels: data:css :art:

#6853 @supports selector() not supported Safari 14
  css/at-rules/supports.json
Labels: data:css :art:

#6825 Add/update Safari data for Window API
  api/Window.json
Labels: data:api :rabbit2:

#6838 Add/update Chromium data for Window API
  api/Window.json
Labels: data:api :rabbit2:

#6787 Allow arbitrary previous version for release notes
  scripts/release-notes.js
Labels: scripts :scroll:

#6849 Update Safari onvisibilitychange support
  api/Document.json
Labels: data:api :rabbit2:

#6835 Add/update Opera Presto data for Document API
  api/Document.json
Labels: data:api :rabbit2:

#6833 Fix visibilitychange event data for IE/Edge
  api/Document.json
Labels: data:api :rabbit2:

#6837 Add/update Opera data for Window API
  api/Window.json
Labels: data:api :rabbit2:

#6866 Safari 13.1/Safari iOS/iPadOS 13.4 is retired
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#6868 Add real values for Chromium for WebGL2RenderingContext
  api/WebGL2RenderingContext.json
Labels: data:api :rabbit2:

#6869 Add Chrome versions for console substitution strings
  api/Console.json
Labels: data:api :rabbit2:

#6870 Fix Console API version for Firefox
  api/Console.json
Labels: data:api :rabbit2:

#6871 Add Firefox version for api.Console.exception.substitution_strings
  api/Console.json
Labels: data:api :rabbit2:

#6836 Add/update Chromium data for Document API
  api/Document.json
Labels: data:api :rabbit2:

#6864 Mirror Chrome -> Chromium Android for Document API
  api/Document.json
Labels: data:api :rabbit2:

#6808 Force LF line ending for all text files
  .gitattributes
Labels: infra :building_construction:

#6874 Update compat data for insertAdjacent* methods
  api/Element.json
Labels: data:api :rabbit2:

#6881 Remove accidental "Edge OS" strings
  api/BluetoothCharacteristicProperties.json
  api/MediaDevices.json
Labels: data:api :rabbit2:

#6876 Add Safari version for api.Document.URL
  api/Document.json
Labels: data:api :rabbit2:

#6872 Fix broken link to upgrade doc in the README
  README.md
Labels: docs :writing_hand:

#6890 (Re)Mark Safari visibilitychange support partial
  api/Document.json
Labels: data:api :rabbit2:

#6899 Set Firefox data for api.CSS.paintWorklet
  api/CSS.json
Labels: data:api :rabbit2:

#6897 Mirror Chrome -> Opera for Authentication APIs
  api/AuthenticationAssertion.json
  api/Credential.json
  api/CredentialUserData.json
  api/CryptoKey.json
  api/CryptoKeyPair.json
  api/FederatedCredential.json
  api/PasswordCredential.json
  api/PublicKeyCredentialCreationOptions.json
  api/PublicKeyCredentialRequestOptions.json
  api/ScopedCredential.json
  api/ScopedCredentialInfo.json
  api/WebAuthentication.json
Labels: data:api :rabbit2:

#6900 Set Firefox data for CSSAnimation API
  api/CSSAnimation.json
Labels: data:api :rabbit2:

#6901 Set Safari data for CSSAnimation API
  api/CSSAnimation.json
Labels: data:api :rabbit2:

#6902 Mirror Chrome -> Opera for CSSAnimation API
  api/CSSAnimation.json
Labels: data:api :rabbit2:

#6886 window.name is reset on cross domain load - FF82
  api/Window.json
Labels: data:api :rabbit2:

#6873 Update WritableStream.json to set experimental to false
  api/WritableStream.json
Labels: data:api :rabbit2:

#6776 Add note for two new tabs.captureTab options
  webextensions/api/extensionTypes.json
Labels: data:webext :game_die:

#6842 Document.execCommand - note that calls cannot be nested
  api/Document.json
Labels: data:api :rabbit2:

#6834 text-combine-upright note
  css/properties/text-combine-upright.json
Labels: data:css :art:

#6913 Update Safari data for CSSKeyframesRule API
  api/CSSKeyframesRule.json
Labels: data:api :rabbit2:

#6908 Update Chrome data for CSSKeyframesRule API
  api/CSSKeyframesRule.json
Labels: data:api :rabbit2:

#6909 Update Firefox data for CSSKeyframesRule API
  api/CSSKeyframesRule.json
Labels: data:api :rabbit2:

#6910 Update Opera data for CSSKeyframesRule API
  api/CSSKeyframesRule.json
Labels: data:api :rabbit2:

#6911 Update IE data for CSSKeyframesRule API
  api/CSSKeyframesRule.json
Labels: data:api :rabbit2:

#6891 Add HTMLElement.enterKeyHint
  api/HTMLElement.json
  html/global_attributes.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#6840 mdn-bcd-collector: update data for WebGL EXT_ extensions
  api/EXT_blend_minmax.json
  api/EXT_color_buffer_half_float.json
  api/EXT_disjoint_timer_query.json
  api/EXT_frag_depth.json
  api/EXT_sRGB.json
  api/EXT_shader_texture_lod.json
  api/EXT_texture_compression_bptc.json
  api/EXT_texture_compression_rgtc.json
  api/EXT_texture_filter_anisotropic.json
Labels: data:api :rabbit2:

#6904 add conic-gradient support data for Firefox
  css/types/image.json
Labels: data:css :art:

#6898 Update Safari data for visibilityState
  api/Document.json
Labels: data:api :rabbit2:

#6895 Mark LargestContentfulPaint experimental
  api/LargestContentfulPaint.json
Labels: data:api :rabbit2:

#6912 Chromium-based Opera supports trailing commas in function parameters
  javascript/grammar.json
Labels: data:js :pager:

#6658 Update when getUserMedia() shipped in Chromium
  api/MediaDevices.json
  api/Navigator.json
Labels: data:api :rabbit2:

#6782 inputmode is supported on Firefox 79 for Android
  api/HTMLElement.json
  html/global_attributes.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#6919 Update page-margin-boxes mdn_url
  css/at-rules/page.json
Labels: data:css :art:

#6907 Edge 16+ supports ...rest in array destructuring
  javascript/operators/destructuring.json
Labels: data:js :pager:

#6888 Deprecate HTMLIFrameElement: allowPaymentRequest
  api/HTMLIFrameElement.json
Labels: data:api :rabbit2:

#6844 Mark navigator.canShare() experimental and nonstandard
  api/Navigator.json
Labels: data:api :rabbit2:

#6858 adding inert support for firefox
  api/HTMLElement.json
Labels: data:api :rabbit2:

#6963 Fix Chrome version for keyframes at-rule
  css/at-rules/keyframes.json
Labels: data:css :art:

#6969 Update data for CSSNamespaceRule
  api/CSSNamespaceRule.json
Labels: data:api :rabbit2:

#6967 Update Edge data for CSSGroupingRule
  api/CSSGroupingRule.json
Labels: data:api :rabbit2:

#6966 Update CSSConditionRule API data
  api/CSSConditionRule.json
Labels: data:api :rabbit2:

#6968 Update data for CSSMediaRule API
  api/CSSMediaRule.json
Labels: data:api :rabbit2:

#6973 Update data for CSSPrimitiveValue API
  api/CSSPrimitiveValue.json
Labels: data:api :rabbit2:

#6972 Update data for CSSPageRule
  api/CSSPageRule.json
Labels: data:api :rabbit2:

#6974 Update data for CSSRule[List] API
  api/CSSRule.json
  api/CSSRuleList.json
Labels: data:api :rabbit2:

#6976 Update data for CSSStyleDeclaration API
  api/CSSStyleDeclaration.json
Labels: data:api :rabbit2:

#6977 Update data for CSSStyleRule API
  api/CSSStyleRule.json
Labels: data:api :rabbit2:

#6978 Update data for CSSStyleSheet API
  api/CSSStyleSheet.json
Labels: data:api :rabbit2:

#6980 Correct <tspan rotate=""> support for Firefox.
  svg/elements/tspan.json
Labels: data:svg :paintbrush:

#6984 Safari 14 added EventTarget constructor support
  api/EventTarget.json
Labels: data:api :rabbit2:

#6988 Updated Trusted Types support for Chromium-based browsers.
  http/headers/content-security-policy.json
Labels: data:http :mountain_cableway:

#6993 Safari 14 does not support `ParentNode.prototype.replaceChildren`.
  api/ParentNode.json
Labels: data:api :rabbit2:

#6920 WebKitCSSMatrix: update MDN URL and description to reflect alias
  api/WebKitCSSMatrix.json
Labels: data:api :rabbit2:

#6999 fixing incorrect alternative name for edge
  css/properties/grid-template-columns.json
Labels: data:css :art:

#7002 Remove polyfill notes from MediaDeviceInfo API for Chrome
  api/MediaDeviceInfo.json
Labels: data:api :rabbit2:

#7000 Mirror Chrome -> Opera for MediaDeviceInfo API
  api/MediaDeviceInfo.json
Labels: data:api :rabbit2:

#6882 Set Chromium version for api.MediaDeviceInfo.toJSON
  api/MediaDeviceInfo.json
Labels: data:api :rabbit2:

#7005 Remove remaining polyfill notes from MediaDeviceInfo API for Opera
  api/MediaDeviceInfo.json
Labels: data:api :rabbit2:

#6924 Remove never-supported Budget APIs
  api/BudgetService.json
  api/BudgetState.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#7007 Update feGaussianBlur IE, Chrome compatibility
  svg/elements/feGaussianBlur.json
Labels: data:svg :paintbrush:

#7011 Mark CSS focus-visible with enabled-by-default support in Chrome (86+)
  css/selectors/focus-visible.json
Labels: data:css :art:

#6965 Update data for CSSKeyframeRule API
  api/CSSKeyframeRule.json
Labels: data:api :rabbit2:

#7012 Remove notes about document.all being readonly
  api/Document.json
Labels: data:api :rabbit2:

#7013 Fixing private class fields compat table data of safari on mac and iOS
  javascript/classes.json
Labels: data:js :pager:

#7008 Remove note about @keyframes in <style scoped> for Firefox
  css/at-rules/keyframes.json
Labels: data:css :art:

#6970 WeakRef, FinalizationRegistry: nodejs version
  javascript/builtins/FinalizationRegistry.json
  javascript/builtins/WeakRef.json
Labels: data:js :pager:

#7015 Add node 15.0.0 release to browser data
  browsers/nodejs.json
Labels: data:browsers :earth_africa:

#7014 Updates chrome to version 86
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#7018 Fix 15.0.0 version-number typo in browsers/nodejs.json
  browsers/nodejs.json
Labels: data:browsers :earth_africa:

#7004 updating firefox browser versions inline with the Firefox 82 release
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#6997 New features support added to Nodejs 15.0.0
  javascript/builtins/AggregateError.json
  javascript/builtins/Promise.json
  javascript/builtins/String.json
  javascript/operators/logical_and_assignment.json
  javascript/operators/logical_nullish_assignment.json
  javascript/operators/logical_or_assignment.json
Labels: data:js :pager:

#7023 Set true/null -> Chrome 1 for HTMLAnchorElement API
  api/HTMLAnchorElement.json
Labels: data:api :rabbit2:

#7024 Update Opera data for HTMLAnchorElement
  api/HTMLAnchorElement.json
Labels: data:api :rabbit2:

#7026 Fix IE data for Object.prototype.constructor
  javascript/builtins/Object.json
Labels: data:js :pager:

#6992 Mark HTMLImageElement.p.lowsrc deprecated
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#6990 Mark CanvasRenderingContext2D.p.currentTransform non-standard
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#6989 Mark CSSPositionValue & subfeatures nonstandard
  api/CSSPositionValue.json
Labels: data:api :rabbit2:

#6987 Drop window.restore (unspecified & unimplemented)
  api/Window.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#6983 Mark InstallEvent and subfeatures non-standard
  api/InstallEvent.json
Labels: data:api :rabbit2:

#6964 set place-self version_added for safari(ios) from false to 11 (#1)
  css/properties/place-self.json
Labels: data:css :art:

#6797 Use Node.js ≥10 for CI and drop Travis
  .github/workflows/node.js.yml
  .github/workflows/release.yml
  .travis.yml
  README.md
Labels: docs :writing_hand:, infra :building_construction:

#7048 Set Chromium to 1 for HTMLAreaElement
  api/HTMLAreaElement.json
Labels: data:api :rabbit2:

#7049 Set Chromium to 1 for HTMLBaseElement
  api/HTMLBaseElement.json
Labels: data:api :rabbit2:

#7102 Set Opera to ≤12.1 for HTMLDivElement
  api/HTMLDivElement.json
Labels: data:api :rabbit2:

#7101 Set Opera to ≤12.1 for HTMLDataListElement
  api/HTMLDataListElement.json
Labels: data:api :rabbit2:

#7100 Set Opera to ≤12.1 for HTMLDListElement
  api/HTMLDListElement.json
Labels: data:api :rabbit2:

#7050 Set Chromium to 1 for HTMLButtonElement
  api/HTMLButtonElement.json
Labels: data:api :rabbit2:

#7051 Set Chromium to 1 for HTMLDListElement
  api/HTMLDListElement.json
Labels: data:api :rabbit2:

#7094 Set Opera to ≤12.1 for HTMLAreaElement
  api/HTMLAreaElement.json
Labels: data:api :rabbit2:

#7096 Set Opera to ≤12.1 for HTMLBRElement
  api/HTMLBRElement.json
Labels: data:api :rabbit2:

#7097 Set Opera to ≤12.1 for HTMLBaseElement
  api/HTMLBaseElement.json
Labels: data:api :rabbit2:

#7098 Set Opera to ≤12.1 for HTMLBodyElement
  api/HTMLBodyElement.json
Labels: data:api :rabbit2:

#7099 Set Opera to ≤12.1 for HTMLButtonElement
  api/HTMLButtonElement.json
Labels: data:api :rabbit2:

#7052 Set Chromium to 1 for HTMLDivElement
  api/HTMLDivElement.json
Labels: data:api :rabbit2:

#7053 Set Chromium to 1 for HTMLEmbedElement
  api/HTMLEmbedElement.json
Labels: data:api :rabbit2:

#7104 Set Opera to ≤12.1 for HTMLEmbedElement
  api/HTMLEmbedElement.json
Labels: data:api :rabbit2:

#7055 Set Chromium to 1 for HTMLFontElement
  api/HTMLFontElement.json
Labels: data:api :rabbit2:

#7106 Set Opera to ≤12.1 for HTMLFontElement
  api/HTMLFontElement.json
Labels: data:api :rabbit2:

#7057 Set Chromium to 1 for HTMLFrameElement
  api/HTMLFrameElement.json
Labels: data:api :rabbit2:

#7108 Set Opera to ≤12.1 for HTMLFrameElement
  api/HTMLFrameElement.json
Labels: data:api :rabbit2:

#7058 Set Chromium to 1 for HTMLFrameSetElement
  api/HTMLFrameSetElement.json
Labels: data:api :rabbit2:

#7109 Set Opera to ≤12.1 for HTMLFrameSetElement
  api/HTMLFrameSetElement.json
Labels: data:api :rabbit2:

#7059 Set Chromium to 1 for HTMLHRElement
  api/HTMLHRElement.json
Labels: data:api :rabbit2:
