Repository mdn/browser-compat-data, pull requests merged in 2020-04, with the labels that each got.

#5915 Safari 13.1 is released
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#5921 Complete nodejs support data for JS Math & Number
  javascript/builtins/Math.json
  javascript/builtins/Number.json
Labels: data:js :pager:

#5848 Add BackgroundFetch Data
  api/BackgroundFetchEvent.json
  api/BackgroundFetchManager.json
  api/BackgroundFetchRecord.json
  api/BackgroundFetchRegistration.json
  api/BackgroundFetchUpdateUIEvent.json
  api/ServiceWorkerGlobalScope.json
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#5927 Chrome implements `@supports selector(…)` in v83 | Microsoft Edge is skipping version 82
  browsers/edge.json
  css/at-rules/supports.json
Labels: data:browsers :earth_africa:, data:css :art:

#5924 Complete nodejs support data for typed array features
  javascript/builtins/ArrayBuffer.json
  javascript/builtins/DataView.json
  javascript/builtins/Float32Array.json
  javascript/builtins/Float64Array.json
  javascript/builtins/Int16Array.json
  javascript/builtins/Int32Array.json
  javascript/builtins/Int8Array.json
  javascript/builtins/TypedArray.json
  javascript/builtins/Uint16Array.json
  javascript/builtins/Uint32Array.json
  javascript/builtins/Uint8Array.json
  javascript/builtins/Uint8ClampedArray.json
Labels: data:js :pager:

#5929 Add Michael Smith as a BCD Peer
  GOVERNANCE.md
Labels: docs :writing_hand:

#5923 Complete nodejs support data for JS operators
  javascript/operators/arithmetic.json
  javascript/operators/assignment.json
  javascript/operators/bitwise.json
  javascript/operators/comma.json
  javascript/operators/comparison.json
  javascript/operators/conditional.json
  javascript/operators/delete.json
  javascript/operators/destructuring.json
  javascript/operators/function.json
  javascript/operators/function_star.json
  javascript/operators/grouping.json
  javascript/operators/in.json
  javascript/operators/instanceof.json
  javascript/operators/logical.json
  javascript/operators/new.json
  javascript/operators/object_initializer.json
  javascript/operators/property_accessors.json
  javascript/operators/spread.json
  javascript/operators/super.json
  javascript/operators/this.json
  javascript/operators/typeof.json
  javascript/operators/void.json
Labels: data:js :pager:

#5935 Move subgrid to correct sub feature position
  css/properties/grid-template-columns.json
Labels: data:css :art:

#5870 Update link rel="preconnect" data
  html/elements/link.json
Labels: data:html :page_facing_up:

#5672 Remove constructor test from styling test file
  test/linter/test-style.js
Labels: linter :house_with_garden:

#5671 Move a link test from styling to links
  test/linter/test-links.js
  test/linter/test-style.js
Labels: linter :house_with_garden:

#5871 Add Feature-Policy: wake-lock
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#5938 Complete nodejs support data for more JS builtins
  javascript/builtins/Boolean.json
  javascript/builtins/JSON.json
  javascript/builtins/globals.json
Labels: data:js :pager:

#5937 Complete nodejs support data for JS errors
  javascript/builtins/Error.json
  javascript/builtins/EvalError.json
  javascript/builtins/RangeError.json
  javascript/builtins/ReferenceError.json
  javascript/builtins/SyntaxError.json
  javascript/builtins/TypeError.json
  javascript/builtins/URIError.json
Labels: data:js :pager:

#5936 Fix file names of SVG files
  svg/elements/clipPath.json
  svg/elements/textPath.json
Labels: data:svg :paintbrush:

#5944 Mark CSP nonce as supported in Safari 10+
  api/HTMLElement.json
Labels: data:api :rabbit2:

#5941 Update Safari support for ::part
  css/selectors/part.json
Labels: data:css :art:

#5943 Chrome/Safari support color-adjust with alt. name
  css/properties/color-adjust.json
Labels: data:css :art:

#5951 Single number support for ratio CSS type behind a flag in Firefox
  css/types/ratio.json
Labels: data:css :art:

#5956 Firefox Android doesn't support prefers-color-scheme
  css/at-rules/media.json
Labels: data:css :art:

#5955 [CSS: width: stretch] Correct Safari data
  css/properties/width.json
Labels: data:css :art:

#5948 macOS + Firefox 56+ don't support :checked on option elements
  css/selectors/checked.json
Labels: data:css :art:

#5949 Add row for CSS content property alt-text
  css/properties/content.json
Labels: data:css :art:

#5952 Chromium has no unprefixed support for text-emphasis-*
  css/properties/text-emphasis-color.json
  css/properties/text-emphasis-position.json
  css/properties/text-emphasis-style.json
  css/properties/text-emphasis.json
Labels: data:css :art:

#5926 Api/xhr progress event ie
  api/XMLHttpRequest.json
  api/XMLHttpRequestEventTarget.json
  api/XMLHttpRequestUpload.json
Labels: data:api :rabbit2:

#5965 Drop "prefix" key for "slot" attribute Safari data
  html/global_attributes.json
Labels: data:html :page_facing_up:

#5925 Update username & password data for Location
  api/Location.json
Labels: data:api :rabbit2:

#5945 Update Safari’s and iOS’s support for Clipboard API
  api/Clipboard.json
  api/Navigator.json
Labels: data:api :rabbit2:

#5920 Complete nodejs support for JS String
  javascript/builtins/String.json
Labels: data:js :pager:

#5967 Safari macOS 13.1/iOS 13.4 supports optional chaining
  javascript/operators/optional_chaining.json
Labels: data:js :pager:

#5960 Deprecate BeforeInstallPromptEvent & appinstalled
  api/BeforeInstallPromptEvent.json
  api/Window.json
Labels: data:api :rabbit2:

#5874 Cache API is supported in Safari iOS
  api/Cache.json
Labels: data:api :rabbit2:

#5942 IE doesn't support changes to animation-duration
  css/properties/animation-duration.json
Labels: data:css :art:

#5865 Update IE support for api.HTMLElement.innerText
  api/HTMLElement.json
Labels: data:api :rabbit2:

#5860 Separate ::cue(<selector>) support into subfeature
  css/selectors/cue.json
Labels: data:css :art:

#5969 Correct meta[name=referrer] misspelling "referer"
  html/elements/meta.json
Labels: data:html :page_facing_up:

#5940 Added Safari version for ResizeObserver
  api/ResizeObserver.json
Labels: data:api :rabbit2:

#5875 Add WebExtensions Tabs.Tab.successorTabId
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#5978 Move rel=noopener out of <link>, into <area> & <a>
  html/elements/a.json
  html/elements/area.json
  html/elements/link.json
Labels: data:html :page_facing_up:

#5968 Update rejectionhandled & unhandledrejection data
  api/Window.json
Labels: data:api :rabbit2:

#5970 Add data for meta[name="theme-color"]
  html/elements/meta.json
Labels: data:html :page_facing_up:

#5977 Add Location.p.ancestorOrigins
  api/Location.json
Labels: data:api :rabbit2:

#5979 Add data for link[rel="prefetch"]
  html/elements/link.json
Labels: data:html :page_facing_up:

#5980 Add mdn_url values for link[rel] keywords
  html/elements/link.json
Labels: data:html :page_facing_up:

#5981 Add data for link[rel="prerender"]
  html/elements/link.json
Labels: data:html :page_facing_up:

#5983 Add data for rel=noreferrer for <a> and <area>
  html/elements/a.json
  html/elements/area.json
Labels: data:html :page_facing_up:

#5984 Fix mdn_url for the "autocomplete" attribute
  html/global_attributes.json
Labels: data:html :page_facing_up:

#5985 Add mdn_url for <img> "loading" attribute
  html/elements/img.json
Labels: data:html :page_facing_up:

#5988 Opera 67 now supports nullish coalescing operator
  javascript/operators/nullish_coalescing.json
Labels: data:js :pager:

#5972 Add data for link[rel="icon"]
  html/elements/link.json
Labels: data:html :page_facing_up:

#5999 IE has no support for Element.toggleAttribute
  api/Element.json
Labels: data:api :rabbit2:

#5995 Update Safari support for TypedArray.copyWithin
  javascript/builtins/TypedArray.json
Labels: data:js :pager:

#5993 CSS alt text for the content property is not supported in safari
  css/properties/content.json
Labels: data:css :art:

#5992 No WorkerNavigator.permissons in Firefox yet
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#5990 feat(html): Add global enterkeyhint attribute
  html/global_attributes.json
Labels: data:html :page_facing_up:

#5986 Update `gap` Safari support
  css/properties/gap.json
Labels: data:css :art:

#6001 Fix Chromium support for content property alt text
  css/properties/content.json
Labels: data:css :art:

#6003 Adding notes to `transform-origin` for SVGs in Safari
  css/properties/transform-origin.json
Labels: data:css :art:

#5971 Complete nodejs support data for JS statements
  javascript/statements.json
Labels: data:js :pager:

#5994 Add Network Error Logging compatibility data
  http/headers/nel.json
Labels: data:http :mountain_cableway:

#5989 Set correct compatibility for storage event in safari
  api/StorageEvent.json
Labels: data:api :rabbit2:

#5976 Update DataTransfer.json
  api/DataTransfer.json
Labels: data:api :rabbit2:, info needed :mag:

#6008 Narrow range for dev dependencies
  package.json
Labels: dependencies :chains:, infra :building_construction:

#6010 Update Intl.RelativeTimeFormat Edge support
  javascript/builtins/intl/RelativeTimeFormat.json
Labels: data:js :pager:

#5997 Correct note for classes for Opera
  javascript/classes.json
Labels: data:js :pager:

#5998 SubmitEvent supported in Chrome 81
  api/SubmitEvent.json
Labels: data:api :rabbit2:

#6020 Add WebView number for enterkeyhint
  html/global_attributes.json
Labels: data:html :page_facing_up:

#6018 Add guideline for removal of irrelevant data
  docs/data-guidelines.md
Labels: docs :writing_hand:

#6017 Remove legacy generator data
  javascript/operators/legacy_generator_function.json
  javascript/statements.json
Labels: data:js :pager:

#6023 Fixed 'getDisplayMedia' incorrectly stating Safari on iOS 13 as supported
  api/MediaDevices.json
Labels: data:api :rabbit2:

#6021 Update for Node 14
  browsers/nodejs.json
  javascript/operators/nullish_coalescing.json
  javascript/operators/optional_chaining.json
Labels: data:browsers :earth_africa:, data:js :pager:

#6024 Mark all CSS Shadow Parts features as supported in Safari 13.1
  api/Element.json
  html/global_attributes.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#6014 Add mdn_url value for theme-color meta name
  html/elements/meta.json
Labels: data:html :page_facing_up:

#6013 Mark "referrer" meta name value as not deprecated
  html/elements/meta.json
Labels: data:html :page_facing_up:

#6012 Structure ES6 classes data for Chromium browsers
  javascript/classes.json
  javascript/statements.json
Labels: data:js :pager:

#6027 Add internet explorer support for document.title
  api/Document.json
Labels: data:api :rabbit2:

#6034 Remove arguments.caller
  javascript/functions.json
Labels: data:js :pager:

#6035 Remove JS comprehensions
  javascript/operators/array_comprehensions.json
  javascript/operators/generator_comprehensions.json
Labels: data:js :pager:

#6037 Remove JS observe API
  javascript/builtins/Array.json
  javascript/builtins/Object.json
Labels: data:js :pager:

#6038 Remove for-each-in data
  javascript/statements.json
Labels: data:js :pager:

#6040 Remove Number.toInteger
  javascript/builtins/Number.json
Labels: data:js :pager:

#6039 Remove obsolete Function methods
  javascript/builtins/Function.json
Labels: data:js :pager:

#5901 Add Web NFC API
  api/NDEFMessage.json
  api/NDEFReader.json
  api/NDEFReadingEvent.json
  api/NDEFRecord.json
  api/NDEFWriter.json
Labels: data:api :rabbit2:

#5975 Add compat data for @font-face format descriptor
  css/at-rules/font-face.json
Labels: data:css :art:

#6015 Update mdn_urls for Intl pages
  javascript/builtins/intl/Collator.json
  javascript/builtins/intl/DateTimeFormat.json
  javascript/builtins/intl/ListFormat.json
  javascript/builtins/intl/Locale.json
  javascript/builtins/intl/NumberFormat.json
  javascript/builtins/intl/PluralRules.json
  javascript/builtins/intl/RelativeTimeFormat.json
Labels: data:js :pager:

#6036 Remove expression closures
  javascript/operators/expression_closures.json
Labels: data:js :pager:

#6042 fix(api/font-face): version_added to edge 79
  api/FontFace.json
Labels: data:api :rabbit2:

#6044 Remove obsolete enumerate methods
  javascript/builtins/Proxy.json
  javascript/builtins/Reflect.json
Labels: data:js :pager:

#6045 Remove obsolete Object members
  javascript/builtins/Object.json
Labels: data:js :pager:

#6048 Update Chrome/Safari support for input type="tel"
  html/elements/input/tel.json
Labels: data:html :page_facing_up:

#6054 Correct Chrome + Safari data for Element.getAttribute()
  api/Element.json
Labels: data:api :rabbit2:

#5974 Add WebXR permissions
  api/XRPermissionDescriptor.json
  api/XRPermissionStatus.json
Labels: data:api :rabbit2:

#6011 Update BCD - Firefox support for iceRestart in 48
  api/RTCOfferOptions.json
Labels: data:api :rabbit2:

#6050 Most (Base)AudioContext members in iOS Safari 6
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#6053 removal of Firefox desktop support for window.onappinstalled
  api/Window.json
Labels: data:api :rabbit2:

#6049 AudioContext.p.state|onstatechange in Safari 9
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#6055 Async Methods Safari and Safari iOS
  javascript/functions.json
Labels: data:js :pager:
