Repository mdn/browser-compat-data, pull requests merged in 2020-05, with the labels that each got.

#6051 Make various support updates to BaseAudioContext
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#6026 Add another caveat related to CORP in Chrome
  http/headers/cross-origin-resource-policy.json
Labels: data:http :mountain_cableway:

#6057 fix(Request): Safari 12.1+ supports `"same-origin"` default
  api/Request.json
Labels: data:api :rabbit2:

#6061 Update data for Document.getAnimations()
  api/Document.json
Labels: data:api :rabbit2:

#6067 el.(set|release|has)PointerCapture() in Safari 13
  api/Element.json
Labels: data:api :rabbit2:

#6068 File.p.(webkitRelativePath|lastModified) in Safari
  api/File.json
Labels: data:api :rabbit2:

#6071 Mark DataTransferItem supported in Safari 5.1
  api/DataTransferItem.json
Labels: data:api :rabbit2:

#6075 Fill in missing IE compat data for DOMTokenList
  api/DOMTokenList.json
Labels: data:api :rabbit2:

#6072 Mark DataTransferItemList supported in Safari 6
  api/DataTransferItemList.json
Labels: data:api :rabbit2:

#6081 Mark DataTransferItem supported in Chrome 11
  api/DataTransferItem.json
Labels: data:api :rabbit2:

#6073 DataTransferItemList.p.remove support in Safari 6
  api/DataTransferItemList.json
Labels: data:api :rabbit2:

#6030 Update support for periodicSync of ServiceWorkerRegistration
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#6059 Update status of BeforeInstallPromptEvent
  api/BeforeInstallPromptEvent.json
  api/Window.json
Labels: data:api :rabbit2:

#6004 Fixed #5649 - set CSS logical properties shorthands as flag enabled in Chromium
  css/properties/margin-block.json
  css/properties/margin-inline.json
  css/properties/padding-block.json
  css/properties/padding-inline.json
Labels: data:css :art:

#6090 Layoutshift
  api/LayoutShift.json
  api/LayoutShiftAttribution.json
  api/Window.json
Labels: data:api :rabbit2:

#6089 Add data for LargestContentfulPaint.
  api/LargestContentfulPaint.json
Labels: data:api :rabbit2:

#6074 Update DataTransferItemList Chrome support data
  api/DataTransferItemList.json
Labels: data:api :rabbit2:

#6092 Add Opera Android 57
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#6094 Fix engine version in Opera Android 57
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#6101 Chrome doesn't support autocomplete=off
  html/global_attributes.json
Labels: data:html :page_facing_up:

#6098 Add statuses for NodeJS releases
  browsers/nodejs.json
Labels: data:browsers :earth_africa:

#6093 Opera 68 is released
  browsers/opera.json
Labels: data:browsers :earth_africa:

#6097 Firefox 76 is released
  browsers/firefox.json
Labels: data:browsers :earth_africa:

#6096 Edge 81 is released
  browsers/edge.json
Labels: data:browsers :earth_africa:

#6085 Rename Feature Policy directive for WebAuthn
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#6091 Add PerformanceEventTiming data.
  api/PerformanceEventTiming.json
Labels: data:api :rabbit2:

#6095 Chrome 81 is released
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#6105 Handle final VR removals. 
  api/Gamepad.json
  api/VRStageParameters.json
  api/Window.json
Labels: data:api :rabbit2:

#6107 Fix Edge note for HTML summary element
  html/elements/summary.json
Labels: data:html :page_facing_up:

#6078 fix: add NodeJS support for Symbol.toPrimitive
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#6077 fix: add NodeJS support for non constructrable generator methods
  javascript/functions.json
Labels: data:js :pager:

#6076 fix: add NodeJS support for Intl.NumberFormat
  javascript/builtins/intl/NumberFormat.json
Labels: data:js :pager:

#6086 MouseEvent.p.(movementX|movementY) in Safari 9
  api/MouseEvent.json
Labels: data:api :rabbit2:

#6069 File and Directory Entries API in Safari 11.1
  api/DataTransferItem.json
  api/FileSystem.json
  api/FileSystemDirectoryEntry.json
  api/FileSystemDirectoryReader.json
  api/FileSystemEntry.json
  api/FileSystemFileEntry.json
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#6112 Various new optional permissions
  webextensions/manifest/optional_permissions.json
Labels: data:webext :game_die:

#6087 More object details properties for webRequest.onHeadersReceived
  webextensions/api/webRequest.json
Labels: data:webext :game_die:

#6124 Internet Explorer does not support Web Audio API
  api/AudioParamMap.json
  api/AudioWorklet.json
  api/AudioWorkletGlobalScope.json
  api/AudioWorkletNode.json
  api/AudioWorkletProcessor.json
Labels: data:api :rabbit2:

#6123 addition of HTMLInputElement#setRangeText
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#6114 Update data for AbsoluteOrientationSensor API
  api/AbsoluteOrientationSensor.json
Labels: data:api :rabbit2:

#6116 Update data for AmbientLightSensor API
  api/AmbientLightSensor.json
Labels: data:api :rabbit2:

#6115 Update data for Accelerometer API
  api/Accelerometer.json
Labels: data:api :rabbit2:

#6127 Mark window.visualViewport supported in Safari 13
  api/Window.json
Labels: data:api :rabbit2:

#6128 Mark all Budget API features deprecated, per spec
  api/BudgetService.json
  api/BudgetState.json
Labels: data:api :rabbit2:

#6031 Safari supports CSP header for worker scripts
  http/headers/content-security-policy.json
Labels: data:http :mountain_cableway:

#6113 Update for Samsung Internet 11.2 and 12.0
  api/ANGLE_instanced_arrays.json
  api/AnimationEvent.json
  api/Blob.json
  api/CSS.json
  api/Clipboard.json
  api/EffectTiming.json
  api/FormDataEvent.json
  api/GeolocationPosition.json
  api/GeolocationPositionError.json
  api/HTMLFormElement.json
  api/IDBCursor.json
  api/IDBTransaction.json
  api/LargestContentfulPaint.json
  api/LayoutShift.json
  api/LayoutShiftAttribution.json
  api/Navigator.json
  api/OffscreenCanvas.json
  api/PerformanceEventTiming.json
  api/RTCPeerConnection.json
  api/RTCRtpEncodingParameters.json
  api/RTCRtpTransceiver.json
  api/RTCRtpTransceiverDirection.json
  api/RTCRtpTransceiverInit.json
  api/RTCSctpTransport.json
  api/SpeechRecognitionErrorEvent.json
  api/SubmitEvent.json
  api/TextMetrics.json
  api/WebGLRenderingContext.json
  api/Window.json
  api/XRBoundedReferenceSpace.json
  api/XREnvironmentBlendMode.json
  api/XREye.json
  api/XRFrame.json
  api/XRFrameRequestCallback.json
  api/XRInputSource.json
  api/XRInputSourceArray.json
  api/XRInputSourceEvent.json
  api/XRInputSourcesChangeEvent.json
  api/XRPose.json
  api/XRReferenceSpace.json
  api/XRReferenceSpaceEvent.json
  api/XRRigidTransform.json
  api/XRSession.json
  api/XRSessionEvent.json
  api/XRSessionMode.json
  api/XRSpace.json
  api/XRSystem.json
  api/XRView.json
  api/XRViewerPose.json
  api/XRViewport.json
  api/XRWebGLLayer.json
  api/XRWebGLLayerInit.json
  browsers/samsunginternet_android.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#6131 Implement-permissions-API-events
  webextensions/api/permissions.json
Labels: data:webext :game_die:

#6060 fix(Request): Firefox 65+ support `credentials` and `"same-origin"`
  api/Request.json
Labels: data:api :rabbit2:

#6136 Firefox 77 ships String.prototype.replaceAll()
  javascript/builtins/String.json
Labels: data:js :pager:

#6149 Remove mozbrowser feature
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#6140 Option label behaves per spec in Fx 77
  html/elements/option.json
Labels: data:html :page_facing_up:

#6139 Revise notes to avoid exclusionary word choice
  api/HTMLVideoElement.json
  api/MediaDevices.json
  api/MediaSource.json
  api/Navigator.json
  api/SourceBuffer.json
  api/SourceBufferList.json
  api/VideoPlaybackQuality.json
Labels: data:api :rabbit2:

#6142 Update Safari data for css clamp()
  css/types/clamp.json
Labels: data:css :art:

#6141 Update Safari data for AnalyserNode API
  api/AnalyserNode.json
Labels: data:api :rabbit2:

#6147 Update versions for Attr API
  api/Attr.json
Labels: data:api :rabbit2:

#6052 Correct Android data for Element.getAnimations()
  api/Element.json
Labels: data:api :rabbit2:

#6082 Update autocapitalize attribute support.
  html/global_attributes.json
Labels: data:html :page_facing_up:

#6084 Update sharedwokers
  api/SharedWorker.json
Labels: data:api :rabbit2:

#6109 Update Chromium/Safari data for form novalidate
  html/elements/form.json
Labels: data:html :page_facing_up:

#6117 Update Opera Android + Safari data for contenteditable types
  html/global_attributes.json
Labels: data:html :page_facing_up:

#6155 Safari supports trailing commas in functions
  javascript/grammar.json
Labels: data:js :pager:

#6152 Safari supports javascript.builtins.String.matchAll
  javascript/builtins/String.json
Labels: data:js :pager:

#6111 Fix wording in note
  html/elements/option.json
Labels: data:html :page_facing_up:

#6159 Update docs for NodeJS status clarity
  schemas/browsers-schema.md
Labels: docs :writing_hand:, schema :gear:

#6158 Samsung Internet 11.0 and 11.2 are retired
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#6153 Safari supports Rest in arrays
  javascript/operators/destructuring.json
Labels: data:js :pager:

#6119 Update Push-in-Fx-ESR notes; remove outdated notes
  api/PushEvent.json
Labels: data:api :rabbit2:

#6162 Fix typo in Permissions API descriptions
  api/Permissions.json
Labels: data:api :rabbit2:

#5886 Update versions for ANGLE_instanced_arrays API
  api/ANGLE_instanced_arrays.json
Labels: data:api :rabbit2:

#6168 Fix browser data to remove multiple `current` versions
  browsers/opera.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#6171 Opera Android 58 is released
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#6173 Support tabs.goForward and tabs.goBack
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#6164 Add-the-ability-to-duplicate-tab-to-a-specified-index
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#6143 Document and element animation events support in IE
  api/Document.json
  api/HTMLElement.json
Labels: data:api :rabbit2:

#5862 Firefox 75: Add loading attribute to <img> element
  api/HTMLImageElement.json
Labels: data:api :rabbit2:, info needed :mag:

#5884 Web Crypto now needs a secure context
  api/Crypto.json
  api/CryptoKey.json
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#6169 Chromium supports image-orientation
  css/properties/image-orientation.json
Labels: data:css :art:

#6177 updating firefox support for idbcursor.request
  api/IDBCursor.json
Labels: data:api :rabbit2:

#6181 Update Attr API data for Safari
  api/Attr.json
Labels: data:api :rabbit2:

#6184 Remove String.match flags sub feature
  javascript/builtins/String.json
Labels: data:js :pager:

#6183 Remove data for Date.toLocaleFormat
  javascript/builtins/Date.json
Labels: data:js :pager:

#6188 Updated Safari version for flow-root
  css/properties/display.json
Labels: data:css :art:

#6156 Permissions API permissions descriptions linter
  docs/data-guidelines.md
  test/linter/test-descriptions.js
Labels: docs :writing_hand:, linter :house_with_garden:

#6194 IE does not support Media Session API
  api/MediaMetadata.json
  api/MediaSession.json
  api/Navigator.json
Labels: data:api :rabbit2:

#6157 Safari (on)animation(end|start|iteration) support
  api/Document.json
  api/GlobalEventHandlers.json
  api/HTMLElement.json
  api/Window.json
Labels: data:api :rabbit2:

#5946 Update safari and safari_ios support for RTCDataChannel
  api/RTCDataChannel.json
Labels: data:api :rabbit2:

#6195 Firefox 75 supports SubmitEvent
  api/SubmitEvent.json
Labels: data:api :rabbit2:

#5950 Update Chrome/Safari data for CSS font-kerning
  css/properties/font-kerning.json
Labels: data:css :art:

#5868 IE/Edge treats all custom elements as the same type until Edge 16
  css/selectors/first-of-type.json
  css/selectors/last-of-type.json
  css/selectors/nth-last-of-type.json
  css/selectors/nth-of-type.json
  css/selectors/only-of-type.json
Labels: data:css :art:

#5869 Move javascript.statements.default.exports to exports.default; remove default.switch
  javascript/statements.json
Labels: data:js :pager:

#6186 Add desktop value for autocapitalize.
  html/global_attributes.json
Labels: data:html :page_facing_up:

#6182 Add transform-origin to presentation SVG element
  svg/attributes/presentation.json
Labels: data:svg :paintbrush:

#6130 HTTP Referer header length limit
  http/headers/referer.json
Labels: data:http :mountain_cableway:

#6192 Remove try-catch cond clauses
  javascript/statements.json
Labels: data:js :pager:

#5953 Update Chromium support for min-intrinsic
  css/properties/width.json
Labels: data:css :art:

#6191 Track PRs for release notes
  scripts/release-notes.js
Labels: scripts :scroll:

#6196 Chrome/ium 84 ships FP publickey-credentials-get
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#6151 CSS Transitions/Animations DOM events in Safari
  api/Document.json
  api/GlobalEventHandlers.json
  api/HTMLElement.json
  api/Window.json
Labels: data:api :rabbit2:

#6179 updating firefox support data for :is(); adding support data for :where()
  css/selectors/is.json
  css/selectors/where.json
Labels: data:css :art:

#6198 Chrome 83 has been released
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#6200 Add compat data for Proxy() constructor
  javascript/builtins/Proxy.json
Labels: data:js :pager:

#6201 Update compat data for all new RegExp features in Fx78
  javascript/builtins/RegExp.json
Labels: data:js :pager:

#6199 Mark String.p.replaceAll supported in Chrome
  javascript/builtins/String.json
Labels: data:js :pager:

#6205 Actually mark all toSource methods as removed
  javascript/builtins/Error.json
  javascript/builtins/Function.json
  javascript/builtins/Number.json
  javascript/builtins/String.json
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#6207 Remove data for String.quote
  javascript/builtins/String.json
Labels: data:js :pager:

#6206 Remove String.replace flags sub feature
  javascript/builtins/String.json
Labels: data:js :pager:

#6208 docs: Link to finding-browser-versions MDN article
  docs/contributing.md
Labels: docs :writing_hand:

#5963 updates according to the Firefox 75 Web Animations API additions
  api/Animation.json
  api/AnimationTimeline.json
  api/Document.json
  api/DocumentTimeline.json
  api/Element.json
Labels: data:api :rabbit2:

#6193 IE11: mark Intl.NumberFormat support as partial
  javascript/builtins/intl/NumberFormat.json
Labels: data:js :pager:

#6176 summary tag - set version_added to true for safari on ios
  html/elements/summary.json
Labels: data:html :page_facing_up:

#5962 Add intrinsic and make width: fit-content consistent
  css/properties/width.json
Labels: data:css :art:

#6163 Update api.lFileSystem(Sync) status and URLs
  api/LocalFileSystem.json
  api/LocalFileSystemSync.json
  api/Window.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#6215 Add prettier and git config files to labeler config
  .github/labels.yml
Labels: infra :building_construction:

#6203 Implicit rollback in setRemoteDescription added in Chrome M80
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#6187 updating compat data for pageshow and pagehide events
  api/Window.json
Labels: data:api :rabbit2:

#6219 Samsung Internet 12.0 is actually in beta
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#6209 Update Safari compat data for ::marker
  css/selectors/marker.json
Labels: data:css :art:

#5246 fix(api): Correct `XMLDocument` support information
  api/XMLDocument.json
Labels: data:api :rabbit2:, not ready :no_entry:
