Repository mdn/browser-compat-data, pull requests merged in 2020-12, with the labels that each got.

#7518 Update preservesPitch (shipped in Chromium 86)
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:, rebase needed :construction:

#7551 Note support for window.home() in Opera 12.16 (Presto)
  api/Window.json
Labels: data:api :rabbit2:

#7385 Mark SpeechSynthesisUtterance.p.onboundary partial
  api/SpeechSynthesisUtterance.json
Labels: data:api :rabbit2:

#7515 Add real values for Firefox for Node/NodeList API
  api/Node.json
  api/NodeList.json
Labels: data:api :rabbit2:

#7553 Add CSSTransformComponent.toString method
  api/CSSTransformComponent.json
Labels: data:api :rabbit2:

#7549 Set CSS math-style property as experimental
  css/properties/math-style.json
Labels: data:css :art:

#7469 Add BCD entry for fractionalSecondDigits option in DateTimeFormat
  javascript/builtins/intl/DateTimeFormat.json
Labels: data:js :pager:

#7562 Update nodejs initial version to 0.10.0
  schemas/compat-data-schema.md
Labels: docs :writing_hand:, schema :gear:

#7554 Remove prefix claims for Web Speech API member subfeatures
  api/SpeechGrammarList.json
  api/SpeechRecognition.json
  api/SpeechRecognitionAlternative.json
  api/SpeechRecognitionEvent.json
  api/SpeechRecognitionResult.json
  api/SpeechRecognitionResultList.json
Labels: data:api :rabbit2:

#7468 Conic-gradient support update
  css/types/image.json
Labels: data:css :art:

#7489 Update modifier keys
  api/KeyboardEvent.json
Labels: data:api :rabbit2:

#7565 Remove incorrect claims of prefixed Web Speech interfaces
  api/SpeechRecognitionAlternative.json
  api/SpeechRecognitionResult.json
  api/SpeechRecognitionResultList.json
Labels: data:api :rabbit2:

#7576 Update SamsungInternet 13
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#7579 Update description for leading_zero_strings_as_decimal
  javascript/builtins/globals.json
Labels: data:js :pager:

#7567 Complete nodejs data for functions
  javascript/builtins/Function.json
  javascript/builtins/Generator.json
  javascript/builtins/GeneratorFunction.json
  javascript/functions.json
Labels: data:js :pager:

#7572 Complete nodejs data for objects
  javascript/builtins/Object.json
Labels: data:js :pager:

#7607 Require real values for nodejs in javascript/
  test/linter/test-real-values.js
Labels: linter :house_with_garden:

#7552 Set <menuitem> HTML element and contextmenu global attribute as non-standard
  html/elements/menuitem.json
  html/global_attributes.json
Labels: data:html :page_facing_up:

#7556 Update CSS text-combine-upright
  css/properties/text-combine-upright.json
Labels: data:css :art:

#7559 Update CSS AlignSelf For Safari
  css/properties/align-self.json
Labels: data:css :art:

#7566 removing experimental status from ParentNode features
  api/ParentNode.json
Labels: data:api :rabbit2:

#7604 Add api.HTMLVideoElement.playsInline
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#7603 Add missing Picture-In-Picture features of HTMLVideoElement API
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#7573 Add additional features for CSSCounterStyleRule
  api/CSSCounterStyleRule.json
Labels: data:api :rabbit2:

#7574 CSSFontFaceRule supported in Opera ≤12.1
  api/CSSFontFaceRule.json
Labels: data:api :rabbit2:

#7575 CSSImportRule supported in Opera ≤12.1
  api/CSSImportRule.json
Labels: data:api :rabbit2:

#7578 Add CSSFontFeatureValuesRule API
  api/CSSFontFeatureValuesRule.json
Labels: data:api :rabbit2:

#7583 Add checkValidity/setCustomValidity features of HTMLButtonElement API
  api/HTMLButtonElement.json
Labels: data:api :rabbit2:

#7587 Add checkValidity/setCustomValidity features of HTMLFieldSetElement API
  api/HTMLFieldSetElement.json
Labels: data:api :rabbit2:

#7612 Update Opera Android 61 Current
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#7532 Add real values for Firefox for Window API
  api/Window.json
Labels: data:api :rabbit2:

#7596 Add missing features for HTMLMarqueeElement API
  api/HTMLMarqueeElement.json
Labels: data:api :rabbit2:

#7568 Add incumbent realm tracking support to Promises table
  javascript/builtins/Promise.json
Labels: data:js :pager:

#7249 masonry properties and values
  css/properties/align-tracks.json
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
  css/properties/justify-tracks.json
  css/properties/masonry-auto-flow.json
Labels: data:css :art:

#7621 Fix name of j.o.subtraction_assignment
  javascript/operators/subtraction_assignment.json
Labels: data:js :pager:

#7240 Drop all data for UC & QQ browsers, and remove them the JSON schema/docs, and from other infra bits
  api/HTMLInputElement.json
  browsers/qq_android.json
  browsers/uc_android.json
  browsers/uc_chinese_android.json
  css/properties/-ms-scrollbar-track-color.json
  css/properties/column-gap.json
  css/properties/gap.json
  css/properties/line-height.json
  css/properties/row-gap.json
  css/properties/scrollbar-3dlight-color.json
  css/properties/scrollbar-arrow-color.json
  css/properties/scrollbar-base-color.json
  css/properties/scrollbar-darkshadow-color.json
  css/properties/scrollbar-face-color.json
  css/properties/scrollbar-highlight-color.json
  css/properties/scrollbar-shadow-color.json
  css/selectors/-webkit-resizer.json
  css/selectors/-webkit-scrollbar-button.json
  css/selectors/-webkit-scrollbar-corner.json
  css/selectors/-webkit-scrollbar-thumb.json
  css/selectors/-webkit-scrollbar-track-piece.json
  css/selectors/-webkit-scrollbar-track.json
  css/selectors/-webkit-scrollbar.json
  css/selectors/attribute.json
  css/selectors/column.json
  css/selectors/has.json
  css/types/-moz-image-rect.json
  html/global_attributes.json
  schemas/browsers.schema.json
  schemas/compat-data-schema.md
  schemas/compat-data.schema.json
  test/linter/test-browsers.js
  types.d.ts
Labels: data:api :rabbit2:, data:browsers :earth_africa:, data:css :art:, data:html :page_facing_up:, needs-release-note :newspaper:, schema :gear:

#7584 Mark top level await supported behind a flag in Firefox 85
  javascript/operators/await.json
Labels: data:js :pager:

#7610 Mark Application Cache features non-standard
  api/SharedWorkerGlobalScope.json
  html/elements/html.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#7616 Drop OverconstrainedError message and name members
  api/OverconstrainedError.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#7617 Mark OverconstrainedErrorEvent non-standard
  api/OverconstrainedErrorEvent.json
Labels: data:api :rabbit2:

#7613 Rename NDEFReader.prototype.onerror to NDEFReader.prototype.onreadingerror
  api/NDEFReader.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#7619 Mark RTCRtpSynchronizationSource: voiceActivityFlag non-standard and deprecated
  api/RTCRtpSynchronizationSource.json
Labels: data:api :rabbit2:

#7597 Add HTMLMediaElement.getStartDate API (#7597)
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#7593 Add missing features for HTMLLIElement
  api/HTMLLIElement.json
  html/elements/li.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#7620 Mark ShadowRoot.p.delegatesFocus non-standard
  api/ShadowRoot.json
Labels: data:api :rabbit2:

#7618 Edge 87 adds support for text-[decoration-thickness,underline-offset]
  css/properties/text-decoration-thickness.json
  css/properties/text-underline-offset.json
  css/properties/text-underline-position.json
Labels: data:css :art:

#7352 Add missing URLs.
  api/CSSMathNegate.json
  api/CSSTransition.json
  api/ContentIndex.json
  api/ContentIndexEvent.json
  api/TextDecoderStream.json
  api/TextEncoderStream.json
Labels: data:api :rabbit2:

#7387 Remove css.properties.word-wrap
  css/properties/word-wrap.json
Labels: data:css :art:, needs-release-note :newspaper:

#7615 Document a public API and SemVer policy
  README.md
Labels: docs :writing_hand:, needs-release-note :newspaper:

#7622 Add ApplicationCache API
  api/ApplicationCache.json
Labels: data:api :rabbit2:

#7435 Add FileSystem*Handle APIs
  api/FileSystemDirectoryHandle.json
  api/FileSystemFileHandle.json
  api/FileSystemHandle.json
Labels: data:api :rabbit2:

#7594 Add missing features for HTMLLegendElement
  api/HTMLLegendElement.json
  html/elements/legend.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#7591 Add missing features for HTMLIFrameElement
  api/HTMLIFrameElement.json
  html/elements/iframe.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#7590 Add api.HTMLHtmlElement.version
  api/HTMLHtmlElement.json
Labels: data:api :rabbit2:

#7589 Add missing features for HTMLHRElement
  api/HTMLHRElement.json
  html/elements/hr.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#7581 Add/update data for dir HTML element
  api/HTMLDirectoryElement.json
  html/elements/dir.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#7582 Add various orientation properties
  api/HTMLBodyElement.json
  api/Window.json
Labels: data:api :rabbit2:

#7599 Add missing Option constructor of HTMLOptionElement
  api/HTMLOptionElement.json
Labels: data:api :rabbit2:

#7601 Add missing features for textarea element API
  api/HTMLTextAreaElement.json
  html/elements/textarea.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#7623 Add CompressionStream + DecompressionStream APIs
  api/CompressionStream.json
  api/DecompressionStream.json
Labels: data:api :rabbit2:

#7624 Add CookieStore and CookieStoreManager APIs
  api/CookieStore.json
  api/CookieStoreManager.json
Labels: data:api :rabbit2:

#7629 Add BarProp API
  api/BarProp.json
Labels: data:api :rabbit2:

#7631 Add ElementInternals API
  api/ElementInternals.json
Labels: data:api :rabbit2:

#7655 Update nodejs features based on v8/chrome support
  javascript/builtins/BigInt.json
  javascript/builtins/JSON.json
  javascript/builtins/webassembly/Global.json
Labels: data:js :pager:

#7635 Add PictureInPictureWindow
  api/PictureInPictureWindow.json
Labels: data:api :rabbit2:

#7636 Add RemotePlayback API
  api/RemotePlayback.json
Labels: data:api :rabbit2:

#7643 Add WebGLTimerQueryEXT API
  api/WebGLTimerQueryEXT.json
Labels: data:api :rabbit2:

#7651 Add real Chromium/Opera versions for History API
  api/History.json
Labels: data:api :rabbit2:

#7652 Update Chromium data for LocalMediaStream
  api/LocalMediaStream.json
Labels: data:api :rabbit2:

#7656 Set Chromium real values for api.Navigator.registerContentHandler
  api/Navigator.json
Labels: data:api :rabbit2:

#7649 Add missing select method of HTMLInputElement API
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#7660 Mark FileSystem*Handle APIs as non-standard
  api/FileSystemDirectoryHandle.json
  api/FileSystemFileHandle.json
  api/FileSystemHandle.json
Labels: data:api :rabbit2:

#7650 Update Edge support for JavaScript features in Chromium
  javascript/builtins/AggregateError.json
  javascript/builtins/AsyncIterator.json
  javascript/builtins/Promise.json
  javascript/builtins/intl/DateTimeFormat.json
  javascript/builtins/webassembly/Global.json
Labels: data:js :pager:

#7644 Add XPathEvaluator
  api/XPathEvaluator.json
Labels: data:api :rabbit2:

#7657 Add real values for Chromium for NamedNodeMap API
  api/NamedNodeMap.json
Labels: data:api :rabbit2:

#7659 Add Chromium real values for Node API
  api/Node.json
Labels: data:api :rabbit2:

#7598 Add missing features for HTMLMetaElement API
  api/HTMLMetaElement.json
  html/elements/meta.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#7586 Add missing features for HTMLEmbedElement
  api/HTMLEmbedElement.json
  html/elements/embed.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#7386 Added Chrome version for prefer_related_applications
  html/manifest/prefer_related_applications.json
  html/manifest/related_applications.json
Labels: data:html :page_facing_up:

#7382 Update exportparts HTML attribute
  html/global_attributes.json
Labels: data:html :page_facing_up:

#7654 Add Chromium real values for MediaList API
  api/MediaList.json
Labels: data:api :rabbit2:

#7666 Mark deprecated HTMLHRElement API features
  api/HTMLHRElement.json
Labels: data:api :rabbit2:

#7663 Update CSS env() function MDN URL
  css/properties/custom-property.json
Labels: data:css :art:

#7665 Mark FileSystem*Handle APIs as experimental
  api/FileSystemDirectoryHandle.json
  api/FileSystemFileHandle.json
  api/FileSystemHandle.json
Labels: data:api :rabbit2:

#7367 HTTP Upgrade header
  http/headers/upgrade.json
Labels: data:http :mountain_cableway:

#7671 Remove api.HTMLInputElement.weight; add api.HTMLInputElement.width
  api/HTMLInputElement.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#7670 Correct data for "loading" attr in img/iframe
  html/elements/iframe.json
  html/elements/img.json
Labels: data:html :page_facing_up:

#7719 Undeprecate HTMLMapElement "areas" & "name" attributes
  api/HTMLMapElement.json
Labels: data:api :rabbit2:

#7713 Undeprecate DOMPointReadOnly.p.matrixTransform
  api/DOMPointReadOnly.json
Labels: data:api :rabbit2:

#7712 Undeprecate the "type" attribute of the script element and HTMLScriptElement interface
  api/HTMLScriptElement.json
  html/elements/script.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#7711 Undeprecate the usemap/useMap attribute of img/HTMLImageElement
  api/HTMLImageElement.json
  html/elements/img.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#7502 Correct Firefox version numbers for HTML element APIs
  api/HTMLElement.json
  api/HTMLFormElement.json
  api/HTMLHeadElement.json
  api/HTMLIFrameElement.json
  api/HTMLImageElement.json
  api/HTMLKeygenElement.json
  api/HTMLMediaElement.json
  api/HTMLModElement.json
  api/HTMLObjectElement.json
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#7505 Correct Firefox to false for unsupported HTML element APIs
  api/HTMLElement.json
  api/HTMLIFrameElement.json
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#7542 Add/update Chromium data for CanvasRenderingContext2D
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#7638 Add RTCError API and update RTCErrorEvent API data
  api/RTCError.json
  api/RTCErrorEvent.json
Labels: data:api :rabbit2:

#7633 Add EventCounts API
  api/EventCounts.json
Labels: data:api :rabbit2:

#7522 Add real values for Firefox for Media APIs
  api/MediaDeviceInfo.json
  api/MediaKeySession.json
  api/MediaKeyStatusMap.json
  api/MediaKeySystemAccess.json
  api/MediaKeys.json
  api/MediaMetadata.json
  api/MediaRecorder.json
  api/TextTrack.json
Labels: data:api :rabbit2:

#7625 Note an issue with text-decoration-thickness in Chrome, Edge
  css/properties/text-decoration-thickness.json
Labels: data:css :art:

#7647 Add missing (standard track) attributes for HTMLInputElement API
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#7672 Add missing features for Attr API
  api/Attr.json
Labels: data:api :rabbit2:

#7673 Add Chromium versions for Range API
  api/Range.json
Labels: data:api :rabbit2:

#7674 Add/correct Opera data for Range API
  api/Range.json
Labels: data:api :rabbit2:

#7675 Update Chrome + Opera data for api.Range.detach
  api/Range.json
Labels: data:api :rabbit2:

#7676 Add real values for Chrome + Opera for Selection API
  api/Selection.json
Labels: data:api :rabbit2:

#7677 Add versions for IE for FileReaderSync API
  api/FileReaderSync.json
Labels: data:api :rabbit2:

#7678 Add/update IE+Edge versions for HTMLAllCollection API
  api/HTMLAllCollection.json
Labels: data:api :rabbit2:

#7679 Add IE versions for HTMLCollection API
  api/HTMLCollection.json
Labels: data:api :rabbit2:

#7680 Add version for IE for HTMLDocument API
  api/HTMLDocument.json
Labels: data:api :rabbit2:

#7681 Update IE/Edge data for HTMLImageElement API
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#7683 Add IE versions for HTMLMenuElement API
  api/HTMLMenuElement.json
Labels: data:api :rabbit2:

#7684 Add IE/Edge versions for Navigator API
  api/Navigator.json
Labels: data:api :rabbit2:

#7685 Add IE/Edge versions for SVGAngle API
  api/SVGAngle.json
Labels: data:api :rabbit2:

#7686 Add/update IE/Edge versions for SVGAnimated* APIs
  api/SVGAnimatedAngle.json
  api/SVGAnimatedBoolean.json
  api/SVGAnimatedEnumeration.json
  api/SVGAnimatedInteger.json
  api/SVGAnimatedLength.json
  api/SVGAnimatedLengthList.json
  api/SVGAnimatedNumber.json
  api/SVGAnimatedNumberList.json
  api/SVGAnimatedPreserveAspectRatio.json
  api/SVGAnimatedRect.json
Labels: data:api :rabbit2:

#7687 Add IE/Edge versions for SVGAnimatedTransformList API
  api/SVGAnimatedTransformList.json
Labels: data:api :rabbit2:

#7688 Add IE/Edge versions for SVGLength[List] APIs
  api/SVGLength.json
  api/SVGLengthList.json
Labels: data:api :rabbit2:

#7689 Add IE/Edge versions for SVGNumber[List] APIs
  api/SVGNumber.json
  api/SVGNumberList.json
Labels: data:api :rabbit2:

#7690 Add IE versions for SVGPoint API
  api/SVGPoint.json
Labels: data:api :rabbit2:

#7691 Add IE versions for SVGRect API
  api/SVGRect.json
Labels: data:api :rabbit2:

#7693 Add IE versions for CharacterData API
  api/CharacterData.json
Labels: data:api :rabbit2:

#7696 Add Firefox versions for HTMLCollection API
  api/HTMLCollection.json
Labels: data:api :rabbit2:

#7697 Add Firefox versions for HTMLDocument API
  api/HTMLDocument.json
Labels: data:api :rabbit2:

#7698 Add Firefox versions for HTMLOptionsCollection API
  api/HTMLOptionsCollection.json
Labels: data:api :rabbit2:

#7703 Add Firefox versions for RTCCertificate API
  api/RTCCertificate.json
Labels: data:api :rabbit2:

#7704 Add Firefox versions for RTCDTMFSender API
  api/RTCDTMFSender.json
Labels: data:api :rabbit2:

#7705 Add Firefox versions for SVGAltGlyphDefElement API
  api/SVGAltGlyphDefElement.json
Labels: data:api :rabbit2:

#7714 Add Firefox versions for SVGAltGlyphItemElement API
  api/SVGAltGlyphItemElement.json
Labels: data:api :rabbit2:

#7715 Add Firefox versions for SVGAngle API
  api/SVGAngle.json
Labels: data:api :rabbit2:

#7716 Add Firefox versions for SVGAnimated* APIs
  api/SVGAnimatedAngle.json
  api/SVGAnimatedBoolean.json
  api/SVGAnimatedEnumeration.json
  api/SVGAnimatedInteger.json
  api/SVGAnimatedLength.json
  api/SVGAnimatedLengthList.json
  api/SVGAnimatedNumber.json
  api/SVGAnimatedNumberList.json
  api/SVGAnimatedPoints.json
  api/SVGAnimatedPreserveAspectRatio.json
  api/SVGAnimatedRect.json
  api/SVGAnimatedString.json
Labels: data:api :rabbit2:

#7718 Add Firefox versions for SVGExternalResourcesRequired API
  api/SVGExternalResourcesRequired.json
Labels: data:api :rabbit2:

#7720 Add Firefox versions for SVGFilterPrimitiveStandardAttributes API
  api/SVGFilterPrimitiveStandardAttributes.json
Labels: data:api :rabbit2:

#7721 Add Firefox versions for SVGFont* APIs
  api/SVGFontElement.json
  api/SVGFontFaceElement.json
  api/SVGFontFaceFormatElement.json
  api/SVGFontFaceNameElement.json
  api/SVGFontFaceSrcElement.json
  api/SVGFontFaceUriElement.json
Labels: data:api :rabbit2:

#7722 Add Firefox versions for SVGGlyphElement API
  api/SVGGlyphElement.json
Labels: data:api :rabbit2:

#7723 Add Firefox versions for SVGGlyphRefElement API
  api/SVGGlyphRefElement.json
Labels: data:api :rabbit2:

#7724 Add Firefox versions for SVGLength[List] APIs
  api/SVGLength.json
  api/SVGLengthList.json
Labels: data:api :rabbit2:

#7725 Add Firefox versions for SVGMatrix API
  api/SVGMatrix.json
Labels: data:api :rabbit2:

#7726 Add Firefox versions for SVGMissingGlyphElement API
  api/SVGMissingGlyphElement.json
Labels: data:api :rabbit2:

#7727 Add Firefox versions for SVGNumber[List] APIs
  api/SVGNumber.json
  api/SVGNumberList.json
Labels: data:api :rabbit2:

#7728 Add Firefox versions for SVGPoint API
  api/SVGPoint.json
Labels: data:api :rabbit2:

#7729 Add Firefox versions for SVGPreserveAspectRatio API
  api/SVGPreserveAspectRatio.json
Labels: data:api :rabbit2:

#7730 Add Firefox versions for SVGRect API
  api/SVGRect.json
Labels: data:api :rabbit2:

#7731 Add Firefox versions for SVGRenderingIntent API
  api/SVGRenderingIntent.json
Labels: data:api :rabbit2:

#7732 Add Firefox versions for SVGSolidcolorElement API
  api/SVGSolidcolorElement.json
Labels: data:api :rabbit2:

#7733 Add Firefox versions for SVGStylable API
  api/SVGStylable.json
Labels: data:api :rabbit2:

#7734 Add Firefox versions for SVGTRefElement API
  api/SVGTRefElement.json
Labels: data:api :rabbit2:

#7735 Add Firefox versions for SVGTextContentElement API
  api/SVGTextContentElement.json
Labels: data:api :rabbit2:

#7736 Add Firefox versions for SVGTransform API
  api/SVGTransform.json
Labels: data:api :rabbit2:

#7737 Add Firefox versions for SVGTransformList API
  api/SVGTransformList.json
Labels: data:api :rabbit2:

#7751 [HOTFIX] Remove duplicate "width" feature from HTMLInputElement API
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#7740 Add Firefox versions for SVGUnitTypes API
  api/SVGUnitTypes.json
Labels: data:api :rabbit2:

#7741 Add Firefox versions for SVGUseElement API
  api/SVGUseElement.json
Labels: data:api :rabbit2:
