Repository mdn/browser-compat-data, pull requests merged in 2020-03, with the labels that each got.

#5770 Tidy up compat-data-helper
  .github/compat-data-helper/index.js
  .github/compat-data-helper/package-lock.json
  .github/compat-data-helper/package.json
  .github/compat-data-helper/test/fixtures/get_comments.json
Labels: dependencies :chains:, infra :building_construction:

#5763 Update dependencies (ajv, compare-versions, yargs)
  package-lock.json
  package.json
Labels: dependencies :chains:, infra :building_construction:

#5716 Update fractional coordinates data for pointer events
  api/PointerEvent.json
Labels: data:api :rabbit2:

#5750 Intl.DTF: Move ctor features under ctor tree
  javascript/builtins/intl/DateTimeFormat.json
Labels: data:js :pager:

#5769 Added feature for support of percentage values to text-decoration-thickness
  css/properties/text-decoration-thickness.json
Labels: data:css :art:

#5772 Update Chrome support data for XRSystem
  api/XRSystem.json
Labels: data:api :rabbit2:

#5777 RelativeTimeFormat now in ECMA402; update spec URLs
  javascript/builtins/intl/RelativeTimeFormat.json
Labels: data:js :pager:

#5778 Locale object now in ECMA402; update spec URLs
  javascript/builtins/intl/Locale.json
Labels: data:js :pager:

#5768 Add support data for KeyframeEffect.pseudoElement
  api/Element.json
  api/KeyframeEffect.json
Labels: data:api :rabbit2:

#5755 Revert change to compatibility data for font-size-adjust in Chromium browsers
  css/properties/font-size-adjust.json
Labels: data:css :art:

#5771 Added Firefox support in 74 for text-underline-position
  css/properties/text-underline-position.json
Labels: data:css :art:

#5774 Added a feature to text-underline-position for from-font keyword
  css/properties/text-underline-position.json
Labels: data:css :art:

#5779 svg/discard will be removed in chrome 81
  svg/elements/discard.json
Labels: data:svg :paintbrush:

#5789 getDisplayMedia not supported on Opera Mobile
  api/MediaDevices.json
Labels: data:api :rabbit2:

#5800 Update theme_experiment.json
  webextensions/manifest/theme_experiment.json
Labels: data:webext :game_die:

#5819 Add support for 'all' keyword in Fx 75
  css/properties/text-decoration-skip-ink.json
Labels: data:css :art:

#5810 Opera supports CSS font-optical-sizing
  css/properties/font-optical-sizing.json
Labels: data:css :art:

#5809 Opera for Android doesn't support x-xss-protection header
  http/headers/x-xss-protection.json
Labels: data:http :mountain_cableway:

#5808 Fix wrong version of Opera support for Optional Chaining
  javascript/operators/optional_chaining.json
Labels: data:js :pager:

#5807 Chromium adds support for color-scheme meta tag
  html/elements/meta.json
Labels: data:html :page_facing_up:

#5788 Add Safari support for text-underline-position
  css/properties/text-underline-position.json
Labels: data:css :art:

#5786 Samsung Internet does not support Web Auth yet
  api/AuthenticatorAssertionResponse.json
  api/AuthenticatorResponse.json
  api/PublicKeyCredential.json
  api/PublicKeyCredentialCreationOptions.json
  api/PublicKeyCredentialRequestOptions.json
Labels: data:api :rabbit2:

#5690 Update version numbers for document APIs
  api/Document.json
  api/DocumentFragment.json
  api/DocumentOrShadowRoot.json
Labels: data:api :rabbit2:

#5817 Update Intl.Locale compat data
  javascript/builtins/intl/Locale.json
Labels: data:js :pager:

#5821 Add support for min(), max(), and clamp() in Fx75
  css/types/clamp.json
  css/types/max.json
  css/types/min.json
Labels: data:css :art:

#5783 [Chrome] Bug 979041: Implement `@supports selector(…)`
  css/at-rules/supports.json
Labels: data:css :art:

#5801 HTML summary element: fix typo in notes
  html/elements/summary.json
Labels: data:html :page_facing_up:

#5793 Update compat-data-helper deployment instructions
  .github/compat-data-helper/README.md
Labels: docs :writing_hand:, infra :building_construction:

#5832 Firefox 74 has been released
  browsers/firefox.json
Labels: data:browsers :earth_africa:

#5743 Update data for Element.getAnimations()
  api/Element.json
Labels: data:api :rabbit2:

#5815 Update KeyframeEffectOptions (ie Element.animate subfeatures)
  api/Element.json
Labels: data:api :rabbit2:

#5806 Bump supported Node.js version to v10
  .github/compat-data-helper/package.json
  .travis.yml
  package.json
Labels: dependencies :chains:, infra :building_construction:

#5833 Fix "[Array]" printing in consistency linter when data is "null"
  test/linter/test-consistency.js
Labels: linter :house_with_garden:

#5816 The 'status' property is not optional
  schemas/compat-data-schema.md
Labels: docs :writing_hand:, schema :gear:

#5826 Add zoomSiteSpecific and zoomFullPage settings to browserSettings API
  webextensions/api/browserSettings.json
Labels: data:webext :game_die:

#5836 Add fileName property to pageSettings in tabs.saveAsPDF()
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#5823 Firefox 75 supports static class fields
  javascript/classes.json
Labels: data:js :pager:

#5803 Added Notes on Safari Scroll Anchoring Bugs
  css/properties/scroll-margin-block-end.json
  css/properties/scroll-margin-block-start.json
  css/properties/scroll-margin-bottom.json
  css/properties/scroll-margin-inline-end.json
  css/properties/scroll-margin-inline-start.json
  css/properties/scroll-margin-left.json
  css/properties/scroll-margin-right.json
  css/properties/scroll-margin-top.json
  css/properties/scroll-margin.json
  css/properties/scroll-padding-block-end.json
  css/properties/scroll-padding-block-start.json
  css/properties/scroll-padding-bottom.json
  css/properties/scroll-padding-inline-end.json
  css/properties/scroll-padding-inline-start.json
  css/properties/scroll-padding-left.json
  css/properties/scroll-padding-right.json
  css/properties/scroll-padding-top.json
  css/properties/scroll-padding.json
Labels: data:css :art:

#5805 Update version for HTMLFormElement API
  api/HTMLFormElement.json
Labels: data:api :rabbit2:

#5784 Update firefox pref name for CSSPseudoElement
  api/CSSPseudoElement.json
Labels: data:api :rabbit2:

#5839 Mark AbortController as supported in Safari 12.1+
  api/AbortController.json
Labels: data:api :rabbit2:

#5802 WWW-Authenticate, One of the oldest auth methods, goes back to 1997-ish
  http/headers/www-authenticate.json
Labels: data:http :mountain_cableway:

#5792 Update versions for XHR API
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#5785 Update versions for HTML APIs
  api/HTMLCollection.json
  api/HTMLElement.json
  api/HTMLFormElement.json
  api/HTMLIFrameElement.json
  api/HTMLImageElement.json
  api/HTMLInputElement.json
  api/HTMLMediaElement.json
  api/HTMLSelectElement.json
  api/HTMLTableElement.json
  api/HTMLTextAreaElement.json
Labels: data:api :rabbit2:

#5791 Update versions for Worker APIs
  api/WindowEventHandlers.json
  api/WindowOrWorkerGlobalScope.json
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#5747 Update versions for Event APIs
  api/CloseEvent.json
  api/CustomEvent.json
  api/Event.json
  api/EventSource.json
  api/EventTarget.json
Labels: data:api :rabbit2:

#5846 Add data for Safari 13.1 and iOS 13.4 beta
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#5830 Update nullish coalescing compatibility for Safari
  javascript/operators/nullish_coalescing.json
Labels: data:js :pager:

#5847 Mark StaticRange() supported in Safari 13.1/13.4
  api/StaticRange.json
Labels: data:api :rabbit2:

#5790 Update versions for Window API
  api/Window.json
Labels: data:api :rabbit2:

#5740 Update versions for Element API
  api/Element.json
Labels: data:api :rabbit2:

#5849 [Chrome] Add ANGLEInstancedArrays.
  api/ANGLE_instanced_arrays.json
Labels: data:api :rabbit2:

#5764 Add BCD for TextDecoderStream/TextEncoderStream
  api/TextDecoderStream.json
  api/TextEncoderStream.json
Labels: data:api :rabbit2:

#5835 Update Opera release data
  browsers/opera.json
Labels: data:browsers :earth_africa:

#5854 IE versions before 8 do not support NodeList.
  api/NodeList.json
Labels: data:api :rabbit2:

#5859 Remove Safari 4.1 from BCD
  browsers/safari.json
  css/at-rules/media.json
  css/properties/background-repeat.json
  css/properties/background-size.json
  css/properties/border-radius.json
  css/properties/list-style-type.json
  css/properties/transform-origin.json
  css/selectors/-webkit-inner-spin-button.json
  css/selectors/-webkit-outer-spin-button.json
  css/types/length-percentage.json
  css/types/length.json
  css/types/ratio.json
  html/elements/article.json
  html/elements/aside.json
  html/elements/footer.json
  html/elements/header.json
  html/elements/hgroup.json
  html/elements/nav.json
  html/elements/section.json
  javascript/builtins/Array.json
  javascript/builtins/Date.json
Labels: data:browsers :earth_africa:, data:css :art:, data:html :page_facing_up:, data:js :pager:

#5861 Safari does not support Web Bluetooth
  api/Bluetooth.json
  api/BluetoothAdvertisingData.json
  api/BluetoothCharacteristicProperties.json
  api/BluetoothDevice.json
  api/BluetoothRemoteGATTCharacteristic.json
  api/BluetoothRemoteGATTDescriptor.json
  api/BluetoothRemoteGATTServer.json
  api/BluetoothRemoteGATTService.json
Labels: data:api :rabbit2:

#5863 Revert nodejs version bump
  .travis.yml
  package.json
Labels: dependencies :chains:, infra :building_construction:

#5840 Make privacy an optional permission
  webextensions/manifest/optional_permissions.json
Labels: data:webext :game_die:

#5864 Mark api.Document.origin as unsupported in Edge + Opera
  api/Document.json
Labels: data:api :rabbit2:

#5822 Mirror Chrome Android to Samsung Internet 11.0
  api/AudioContext.json
  api/AudioContextOptions.json
  api/BluetoothDevice.json
  api/Console.json
  api/DeviceMotionEventAcceleration.json
  api/DeviceMotionEventRotationRate.json
  api/Document.json
  api/DocumentOrShadowRoot.json
  api/EventTarget.json
  api/FeaturePolicy.json
  api/FetchEvent.json
  api/HTMLElement.json
  api/HTMLIFrameElement.json
  api/HTMLVideoElement.json
  api/Navigator.json
  api/OVR_multiview2.json
  api/PerformanceObserver.json
  api/RTCDtlsTransport.json
  api/RTCIceCandidate.json
  api/RTCPeerConnection.json
  api/RTCRtpReceiver.json
  api/Request.json
  api/ServiceWorkerContainer.json
  api/TextEncoder.json
  api/VideoPlaybackQuality.json
Labels: data:api :rabbit2:

#4729 Add mirroring script
  docs/contributing.md
  package.json
  scripts/mirror.js
Labels: docs :writing_hand:, infra :building_construction:, scripts :scroll:

#5552 Traverse script: take "all" as value for folder argument
  docs/testing.md
  scripts/traverse.js
Labels: docs :writing_hand:, scripts :scroll:

#5506 Update statistics script (yargs, coloring, code formatting)
  docs/testing.md
  scripts/statistics.js
Labels: docs :writing_hand:, scripts :scroll:

#5866 Samsung Internet doesn't support flags
  api/Element.json
  html/elements/img.json
  html/elements/video.json
  test/linter/test-versions.js
Labels: data:api :rabbit2:, data:html :page_facing_up:, linter :house_with_garden:

#5856 Firefox 75: click() works on detached elements
  api/HTMLElement.json
Labels: data:api :rabbit2:

#5877 update ios CSS.escape compat
  api/CSS.json
Labels: data:api :rabbit2:

#5876 Document.registerElement removed in Chrome 80
  api/Document.json
Labels: data:api :rabbit2:

#5881 Update `n` standard track state
  javascript/builtins/RegExp.json
Labels: data:js :pager:

#5814 Add implicit description to setLocal/RemoteDescription
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#5828 No SourceBuffer.prototype.*Tracks support
  api/SourceBuffer.json
Labels: data:api :rabbit2:

#5867 Remove double spacing in notes
  api/Console.json
  api/DOMTokenList.json
  api/Document.json
  api/Element.json
  api/Location.json
  api/MutationObserverInit.json
  api/Navigator.json
  api/NonDocumentTypeChildNode.json
  css/selectors/first-child.json
  http/headers/cross-origin-resource-policy.json
  http/headers/expect-ct.json
  javascript/builtins/Date.json
  webextensions/api/devtools.json
Labels: data:api :rabbit2:, data:css :art:, data:http :mountain_cableway:, data:js :pager:, data:webext :game_die:

#5887 Add IDBCursor.request
  api/IDBCursor.json
Labels: data:api :rabbit2:

#5880 Remove Chrome 82.
  api/XRSystem.json
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
  css/at-rules/supports.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:, data:css :art:

#5824 Add RTCDataChannel.onclosing
  api/RTCDataChannel.json
Labels: data:api :rabbit2:

#5909 Fix api.Permissions.*.__compat.description
  api/Permissions.json
Labels: data:api :rabbit2:

#5910 Update NumberFormat.formatToParts for IE11
  javascript/builtins/intl/NumberFormat.json
Labels: data:js :pager:

#5889 Note about type='text/css' in Fx75
  html/elements/style.json
Labels: data:html :page_facing_up:

#5892 Fix mdn_url values for CSS combinator features
  css/selectors/adjacent_sibling.json
  css/selectors/child.json
  css/selectors/descendant.json
  css/selectors/general_sibling.json
Labels: data:css :art:

#5908 Update Feature-Policy `xr-spatial-tracking` data
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#5896 Replace outdated webkit-scrollbar-* mdn_url values
  css/selectors/-webkit-resizer.json
  css/selectors/-webkit-scrollbar-button.json
  css/selectors/-webkit-scrollbar-corner.json
  css/selectors/-webkit-scrollbar-thumb.json
  css/selectors/-webkit-scrollbar-track-piece.json
  css/selectors/-webkit-scrollbar-track.json
Labels: data:css :art:

#5897 Replace outdated overflow-clip-* mdn_url values
  css/properties/overflow-clip-box-block.json
  css/properties/overflow-clip-box-inline.json
  css/properties/overflow-clip-box.json
Labels: data:css :art:

#5898 Mark SpeechRecognition as prefix-required in Edge
  api/SpeechRecognition.json
Labels: data:api :rabbit2:

#5899 Canvas context filter not supported until Edge 79
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#5902 Update outdated mdn_url values for CryptoKey
  api/CryptoKey.json
Labels: data:api :rabbit2:

#5900 Mark RegExp.prototype.toSource as removed in Firefox
  javascript/builtins/RegExp.json
Labels: data:js :pager:

#5903 Drop onrejectionhandled from Window (duplicated)
  api/Window.json
Labels: data:api :rabbit2:

#5905 Chrome 80 removed Feature-Policy vr directive
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#5906 Replace outdated mdn_url for HTMLElement/style
  api/HTMLElement.json
Labels: data:api :rabbit2:

#5907 Drop onselectionchange from Document.json
  api/Document.json
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#5888 Firefox 75 supports nonce
  api/HTMLElement.json
Labels: data:api :rabbit2:

#5912 Narrow range for yargs dev dependency
  package.json
Labels: dependencies :chains:, infra :building_construction:

#5818 WebRTC chrome updates
  api/RTCRtpEncodingParameters.json
  api/RTCRtpTransceiver.json
  api/RTCRtpTransceiverDirection.json
  api/RTCRtpTransceiverInit.json
  api/RTCTrackEvent.json
  api/RTCTrackEventInit.json
Labels: data:api :rabbit2:

#5885 Update some Safari performance related API
  api/PerformanceObserver.json
  api/PerformancePaintTiming.json
  api/PerformanceResourceTiming.json
Labels: data:api :rabbit2:

#5914 Update some HTMLElement/SVGElement mdn_url values
  api/HTMLElement.json
  api/SVGElement.json
Labels: data:api :rabbit2:

#5878 Break out SameSite features; mention Safari bug
  http/headers/set-cookie.json
Labels: data:http :mountain_cableway:

#5834 Update versions for misc. APIs (A-G)
  api/AudioContext.json
  api/Blob.json
  api/Body.json
  api/CSSStyleDeclaration.json
  api/CacheStorage.json
  api/ChildNode.json
  api/Crypto.json
  api/DOMParser.json
  api/DOMTokenList.json
  api/DataTransfer.json
  api/DeviceMotionEvent.json
  api/DeviceOrientationEvent.json
  api/Document.json
  api/DragEvent.json
  api/File.json
  api/FileList.json
  api/FileReader.json
  api/FileSystemSync.json
  api/FormData.json
  api/Geolocation.json
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#5844 Update versions for misc. APIs (H-M)
  api/HTMLAudioElement.json
  api/History.json
  api/ImageData.json
  api/IntersectionObserver.json
  api/KeyboardEvent.json
  api/Location.json
  api/MediaDevices.json
  api/MediaRecorder.json
  api/MediaSource.json
  api/MediaStream.json
  api/MediaStreamTrack.json
  api/MessageEvent.json
  api/MouseEvent.json
  api/MutationObserver.json
Labels: data:api :rabbit2:

#5857 Update versions for misc. APIs (N-S)
  api/Navigator.json
  api/NavigatorLanguage.json
  api/NavigatorOnLine.json
  api/Node.json
  api/NodeList.json
  api/ParentNode.json
  api/Performance.json
  api/RTCPeerConnection.json
  api/Range.json
  api/Request.json
  api/Response.json
  api/Selection.json
  api/SpeechRecognition.json
  api/Storage.json
Labels: data:api :rabbit2:

#5858 Update versions for misc. APIs (T-Z)
  api/TouchEvent.json
  api/URL.json
  api/URLSearchParams.json
  api/WebSocket.json
Labels: data:api :rabbit2:

#5918 Complete nodejs support data for JS Array
  javascript/builtins/Array.json
Labels: data:js :pager:

#5919 Complete nodejs support data for JS Date
  javascript/builtins/Date.json
Labels: data:js :pager:

#5922 Response headers works on Chrome on Android
  api/Response.json
Labels: data:api :rabbit2:
