Repository mdn/browser-compat-data, pull requests merged in 2020-09, with the labels that each got.

#6624 Correct ResizeObserverEntry and add ResizeObserverSize.
  api/ResizeObserverEntry.json
  api/ResizeObserverSize.json
Labels: data:api :rabbit2:

#6622 Safari: Change some ServiceWorkerRegistration properties and NavigationPreloadManager to not supported
  api/NavigationPreloadManager.json
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#6627 Firefox Android 60 is not ESR
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#6621 CSS Update easing-function jump keyword
  css/types/easing-function.json
Labels: data:css :art:

#6606 Update CSS white-space:break-spaces
  css/properties/white-space.json
Labels: data:css :art:

#6568 Results from mdn-bcd-collector for DOM* APIs
  api/DOMException.json
  api/DOMMatrixReadOnly.json
  api/DOMPointReadOnly.json
  api/DOMQuad.json
  api/DOMRect.json
  api/DOMRectReadOnly.json
  api/DOMStringList.json
  api/DOMStringMap.json
  api/DOMTokenList.json
Labels: data:api :rabbit2:

#6629 Samsung Internet 13.0 is released
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#6614 Mark the <rb> element as non-standard
  html/elements/rb.json
Labels: data:html :page_facing_up:

#6554 Added in support for nowrap in white-space CSS
  css/properties/white-space.json
Labels: data:css :art:

#6592 Results from mdn-bcd-collector for Element API
  api/Element.json
Labels: data:api :rabbit2:

#6619 Document Body.p.formData as always rejecting
  api/Body.json
Labels: data:api :rabbit2:

#6631 Drop parens() from cancelValuesAndHoldAtTime() alternative_name
  api/AudioParam.json
Labels: data:api :rabbit2:

#6611 Fix Firefox data for MediaMetadata API
  api/MediaMetadata.json
Labels: data:api :rabbit2:

#6613 Mark the <rb> element with partial_implementation for Chrome and Safari
  html/elements/rb.json
Labels: data:html :page_facing_up:

#6634 Mark WindowOrWorkerGlobalScope.p.origin as supported in Safari 11+
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#6548 Update Microsoft Edge support for forced-colors media feature
  css/at-rules/media.json
Labels: data:css :art:

#6597 fix(css): text-size-adjust prefix order in Firefox
  css/properties/text-size-adjust.json
Labels: data:css :art:

#6600 Update SVG <discard> support data (only implementation removed)
  svg/elements/discard.json
Labels: data:svg :paintbrush:, needs-release-note :newspaper:

#6608 Remove irrelevant bugfix note on FF WebSocket
  api/WebSocket.json
Labels: data:api :rabbit2:

#6632 Samsung Internet 13.0 is actually in beta
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#6639 tabs.saveAsPDF() is now supported on maOS
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#6638 Remove AudioParam.cancelValuesAndHoldAtTime which never shipped
  api/AudioParam.json
Labels: data:api :rabbit2:

#6584 fix(css): remove false Safari `column-gap` data
  css/properties/column-gap.json
Labels: data:css :art:

#6593 fix(css): safari order for 'max-inline-size'
  css/properties/max-inline-size.json
Labels: data:css :art:

#6605 fix(css): text-combine-upright note consistency
  css/properties/text-combine-upright.json
Labels: data:css :art:

#6323 Specify inert as hidden behind the flag
  api/HTMLElement.json
Labels: data:api :rabbit2:

#6595 fix(css): no writing-mode prefixes needed for IE
  css/properties/writing-mode.json
Labels: data:css :art:

#6581 Update versions for the initial WebKit implementation of Request
  api/Request.json
Labels: data:api :rabbit2:

#6645 fix(css): unprefix 'line-break' for iOS Safari 11+
  css/properties/line-break.json
Labels: data:css :art:

#6649 fix(css): support 'flex-basis: auto' in Safaris
  css/properties/flex-basis.json
Labels: data:css :art:

#6604 feat(css): unprefixed grid gap props for Safari
  css/properties/column-gap.json
  css/properties/row-gap.json
Labels: data:css :art:

#6651 docs: improve data quality reporting step in package publishing guide
  docs/publishing.md
Labels: docs :writing_hand:

#6650 Move api.Console.timestamp -> api.Console.timeStamp
  api/Console.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#6648 Add version numbers for Console API
  api/Console.json
Labels: data:api :rabbit2:

#6643 CSS ::marker shipping in Chromium 86
  css/selectors/marker.json
Labels: data:css :art:

#6493 adding note about the fullscreen directive bug
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#6633 CSS BackdropFilter Update
  css/properties/backdrop-filter.json
Labels: data:css :art:

#6599 fix(css): grid-template alternatives for IE 10+
  css/properties/-ms-grid-columns.json
  css/properties/-ms-grid-rows.json
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
Labels: data:css :art:, needs-release-note :newspaper:

#6659 Add Firefox 80 for Android
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#6590 Update WebExtensions compatibility for Firefox for Android 79
  webextensions/api/browserAction.json
  webextensions/api/browsingData.json
  webextensions/api/downloads.json
  webextensions/api/tabs.json
  webextensions/api/topSites.json
Labels: data:webext :game_die:

#6596 fix(css): prefix order of user-select in Firefox
  css/properties/user-select.json
Labels: data:css :art:

#6655 Sort out AudioTrack and VideoTrack support in Chromium
  api/AudioTrack.json
  api/AudioTrackList.json
  api/HTMLMediaElement.json
  api/SourceBuffer.json
  api/VideoTrack.json
  api/VideoTrackList.json
Labels: data:api :rabbit2:

#6664 Remove the Gamepad() constructor subfeature
  api/Gamepad.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#6587 Mirror Firefox -> Fenix for 79
  api/CanvasPattern.json
  api/FileReader.json
  api/KeyframeEffect.json
  api/RTCRemoteOutboundRtpStreamStats.json
  css/at-rules/media.json
  css/selectors/marker.json
  html/elements/a.json
  html/elements/area.json
  html/elements/iframe.json
  http/headers/cross-origin-embedder-policy.json
  http/headers/cross-origin-opener-policy.json
  javascript/builtins/AggregateError.json
  javascript/builtins/Atomics.json
  javascript/builtins/DataView.json
  javascript/builtins/FinalizationRegistry.json
  javascript/builtins/Promise.json
  javascript/builtins/SharedArrayBuffer.json
  javascript/builtins/WeakRef.json
  javascript/builtins/intl/DateTimeFormat.json
  javascript/operators/logical_and_assignment.json
  javascript/operators/logical_nullish_assignment.json
  javascript/operators/logical_or_assignment.json
Labels: bulk_update :package:, data:api :rabbit2:, data:css :art:, data:html :page_facing_up:, data:http :mountain_cableway:, data:js :pager:

#6642 Results from mdn-bcd-collector for various Multimedia APIs
  api/AudioBuffer.json
  api/AudioBufferSourceNode.json
  api/AudioParam.json
  api/AudioParamMap.json
  api/AudioProcessingEvent.json
  api/AudioScheduledSourceNode.json
  api/AudioTrack.json
  api/IIRFilterNode.json
  api/MediaCapabilities.json
  api/MediaDevices.json
  api/MediaEncryptedEvent.json
  api/MediaError.json
  api/MediaKeyMessageEvent.json
  api/MediaKeySession.json
  api/MediaKeyStatusMap.json
  api/MediaKeySystemAccess.json
  api/MediaKeys.json
  api/MediaSession.json
  api/Navigator.json
  api/OscillatorNode.json
  api/VideoTrack.json
Labels: data:api :rabbit2:

#6673 Set IE to false for all ServiceWorker-specific APIs
  api/AbortPaymentEvent.json
  api/CanMakePaymentEvent.json
  api/NotificationEvent.json
  api/PaymentRequestEvent.json
  api/PushSubscriptionChangeEvent.json
  api/SyncEvent.json
Labels: data:api :rabbit2:

#6677 CSS ::marker animations and transitions not supported in WebKit
  css/selectors/marker.json
Labels: data:css :art:

#6579 fix(css): alternative names for `column-gap`
  css/properties/column-gap.json
Labels: data:css :art:

#6685 datalist doesn't work starting Firefox for Android v67
  html/elements/datalist.json
Labels: data:html :page_facing_up:

#6657 fix(css): unprefix content size values for Safari and Opera
  css/properties/max-height.json
  css/properties/max-width.json
  css/properties/min-height.json
  css/properties/min-width.json
Labels: data:css :art:

#6693 Update Edge browser data.
  browsers/edge.json
Labels: data:browsers :earth_africa:

#6694 Add release information for WakeLockSentinel.released
  api/WakeLockSentinel.json
Labels: data:api :rabbit2:

#6676 Firefox Android supports String.replaceAll since v79
  javascript/builtins/String.json
Labels: data:js :pager:

#6684 Fix the names of the IE11 fullscreen events
  api/Document.json
Labels: data:api :rabbit2:

#6696 Add Firefox for Android 81
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#6687 Update data for DOMError API
  api/DOMError.json
Labels: data:api :rabbit2:

#6690 Update data for Acceleration/Orientation Sensor APIs
  api/AbsoluteOrientationSensor.json
  api/Accelerometer.json
  api/Gyroscope.json
  api/LinearAccelerationSensor.json
  api/OrientationSensor.json
  api/RelativeOrientationSensor.json
Labels: data:api :rabbit2:

#6695 Update data for Sensor and SensorErrorEvent APIs
  api/Sensor.json
  api/SensorErrorEvent.json
Labels: data:api :rabbit2:

#6707 Remove constructor from CSSTransition
  api/CSSTransition.json
Labels: data:api :rabbit2:

#6668 Update <iframe sandbox=allow-downloads> for Firefox and Chrome
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#6706 Drop the "light-level" Media Queries at-rule
  css/at-rules/media.json
Labels: data:css :art:, needs-release-note :newspaper:

#6692 Update Firefox releases 79-84
  browsers/firefox.json
Labels: data:browsers :earth_africa:

#6688 Update the mirroring section in contributing.md
  docs/contributing.md
Labels: docs :writing_hand:

#6670 Add irrelevant flag data removal data guideline
  docs/data-guidelines.md
Labels: docs :writing_hand:

#6671 Publish package with GitHub Actions workflow
  .github/workflows/node.js.yml
  .github/workflows/release.yml
  .travis.yml
  docs/publishing.md
Labels: infra :building_construction:

#6714 Fix registry typo in publishing workflow
  .github/workflows/release.yml
Labels: infra :building_construction:

#6699 Fix AmbientLightSensor+Magnetometer API data
  api/AmbientLightSensor.json
  api/Magnetometer.json
Labels: data:api :rabbit2:

#6672 Fix docs labeling
  .github/labeler.yml
Labels: infra :building_construction:

#6743 Safari 14 is released
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#6744 Update descriptions for indeterminate/valid/invalid CSS selectors
  css/selectors/indeterminate.json
  css/selectors/invalid.json
  css/selectors/valid.json
Labels: data:css :art:

#6644 Update audioTracks/videoTracks/textTracks versions for Safari
  api/HTMLMediaElement.json
  api/SourceBuffer.json
Labels: data:api :rabbit2:

#6679 Update data for Payment APIs
  api/AbortPaymentEvent.json
  api/PaymentAddress.json
  api/PaymentInstruments.json
  api/PaymentManager.json
  api/PaymentMethodChangeEvent.json
  api/PaymentRequest.json
  api/PaymentRequestEvent.json
  api/PaymentRequestUpdateEvent.json
  api/PaymentResponse.json
Labels: data:api :rabbit2:

#6288 feat(JavaScript): Add `Iterator` and `AsyncIterator`
  javascript/builtins/AsyncIterator.json
  javascript/builtins/Iterator.json
Labels: data:js :pager:

#6751 Remove the api.Element.name entry
  api/Element.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#6745 Results from mdn-bcd-collector for Safari 14
  api/AudioScheduledSourceNode.json
  api/EXT_color_buffer_half_float.json
  api/HTMLElement.json
  api/HTMLScriptElement.json
  api/IDBFactory.json
  api/MediaQueryList.json
  api/MediaQueryListEvent.json
  api/SVGAElement.json
  css/properties/scroll-behavior.json
  css/properties/text-orientation.json
Labels: data:api :rabbit2:, data:css :art:

#6746 Remove the api.Element.accessKey entry
  api/Element.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#6756 Update Opera releases
  browsers/opera.json
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#6713 Implement 2.0.0 breaking changes
  GOVERNANCE.md
  README.md
  docs/contributing.md
  docs/publishing.md
  package-lock.json
  package.json
  schemas/browsers-schema.md
  schemas/compat-data-schema.md
Labels: dependencies :chains:, docs :writing_hand:, infra :building_construction:, schema :gear:

#6682 Credit SauceLabs and BrowserStack open source programs
  README.md
Labels: docs :writing_hand:

#6757 Chromiums support counter-set
  css/properties/counter-set.json
Labels: data:css :art:

#6754 Add missed features for Samsung Internet
  api/DOMQuad.json
  api/ParentNode.json
  api/Response.json
  api/ServiceWorkerRegistration.json
  api/SubtleCrypto.json
  api/Window.json
  css/at-rules/font-face.json
  css/at-rules/media.json
  css/at-rules/supports.json
  css/properties/animation-timing-function.json
  css/properties/appearance.json
  css/properties/aspect-ratio.json
  css/properties/content.json
  css/properties/font-optical-sizing.json
  css/properties/font-size.json
  css/properties/font-variant.json
  css/properties/image-orientation.json
  css/properties/list-style-type.json
  css/properties/offset-anchor.json
  css/properties/opacity.json
  css/properties/overflow-wrap.json
  css/properties/overscroll-behavior-block.json
  css/properties/overscroll-behavior-inline.json
  css/properties/scroll-snap-stop.json
  css/properties/shape-image-threshold.json
  css/properties/text-rendering.json
  css/properties/transition-timing-function.json
  css/properties/white-space.json
  css/selectors/part.json
  css/types/clamp.json
  css/types/easing-function.json
  css/types/image.json
  css/types/max.json
  css/types/min.json
Labels: data:api :rabbit2:, data:css :art:

#6755 Undo Firefox javascript.options.experimental.iterator_helpers preference data
  javascript/builtins/AsyncIterator.json
  javascript/builtins/Iterator.json
Labels: data:js :pager:

#6492 Add MediaSessionActionDetails.json
  api/MediaSessionActionDetails.json
Labels: data:api :rabbit2:

#6488 Add the MediaSessionAction enum
  api/MediaSessionAction.json
Labels: data:api :rabbit2:

#6716 Support for tabs.captureTab for Firefox for Android 82
  browsers/firefox_android.json
  webextensions/api/tabs.json
Labels: data:browsers :earth_africa:, data:webext :game_die:

#6750 appearance is no longer experimental + other fixes
  css/properties/appearance.json
Labels: data:css :art:

#6760 Add MediaSession.setPositionState() in Firefox 76 (flagged)
  api/MediaSession.json
Labels: data:api :rabbit2:

#6753 CSS: text-underline-offset in development in chrome
  css/properties/text-underline-offset.json
Labels: data:css :art:

#6769 adds support for overflow: clip in Firefox
  css/properties/overflow-x.json
  css/properties/overflow-y.json
  css/properties/overflow.json
Labels: data:css :art:

#6763 Add visibilitychange event; Safari support partial
  api/Document.json
Labels: data:api :rabbit2:

#6752 Mark URL constructor support in Safari as partial
  api/URL.json
Labels: data:api :rabbit2:

#6767 Update intrinsicsize attribute support in Firefox and Chrome
  html/elements/img.json
  html/elements/video.json
Labels: data:html :page_facing_up:

#6775 Fix two mistakes about AudioWorklet interfaces availability
  api/AudioWorklet.json
  api/AudioWorkletNode.json
  api/AudioWorkletProcessor.json
  api/BaseAudioContext.json
  api/Worklet.json
Labels: data:api :rabbit2:

#6780 Firefox Android 81 is shipped, 82 is beta and 83 is nightly
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:
