Repository mdn/browser-compat-data, pull requests merged in 2020-06, with the labels that each got.

#6189 Add ReportingObserver API.
  api/ReportingObserver.json
Labels: data:api :rabbit2:

#6221 Add Chromium numbers for pagehide and pageshow.
  api/Window.json
Labels: data:api :rabbit2:

#6220 Enable testing with GitHub Actions
  .github/workflows/node.js.yml
Labels: infra :building_construction:

#6227 HTMLMediaElement.p.srcObject supported in Safari
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#6230 Firefox 77 release
  browsers/firefox.json
Labels: data:browsers :earth_africa:

#6225 Update (Audio|Video)TrackList Edge support data
  api/AudioTrackList.json
  api/VideoTrackList.json
Labels: data:api :rabbit2:

#6228 Scrub "EdgeHTML" from notes
  api/Console.json
  api/DOMTokenList.json
  api/Document.json
  api/Location.json
  api/MutationObserverInit.json
  api/NonDocumentTypeChildNode.json
  api/SVGPolygonElement.json
  api/SVGPolylineElement.json
  api/SVGRectElement.json
  css/selectors/first-of-type.json
  css/selectors/last-of-type.json
  css/selectors/nth-last-of-type.json
  css/selectors/nth-of-type.json
  css/selectors/only-of-type.json
Labels: data:api :rabbit2:, data:css :art:

#6197 Clean up Chromium min-width: min-intrinsic/min-content
  css/properties/min-width.json
Labels: data:css :art:

#6180 Add urls to HTMLInputElement.json.
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#5928 Update versions for Animation APIs
  api/Animation.json
  api/AnimationEffect.json
  api/AnimationEvent.json
  api/AnimationPlaybackEvent.json
  api/AnimationTimeline.json
Labels: data:api :rabbit2:

#5913 Inputmode info for Firefox
  html/global_attributes.json
Labels: data:html :page_facing_up:

#6238 Firefox 78 ships Intl.ListFormat
  javascript/builtins/intl/ListFormat.json
Labels: data:js :pager:

#6235 Split JS logical operator data
  javascript/operators/logical.json
  javascript/operators/logical_and.json
  javascript/operators/logical_not.json
  javascript/operators/logical_or.json
Labels: data:js :pager:, needs-release-note :newspaper:

#6237 Update previousSibling IE compatability
  api/Node.json
Labels: data:api :rabbit2:

#6232 Add Safari support for ChildNode.after and .before
  api/ChildNode.json
Labels: data:api :rabbit2:

#6245 Add desynchronized WebGL context attribute
  api/HTMLCanvasElement.json
Labels: data:api :rabbit2:

#6241 Safari ios has addTransceiver
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#6244 updating BCD for :read-only and :read-write
  css/selectors/read-only.json
  css/selectors/read-write.json
Labels: data:css :art:

#6231 Update Element.attributes IE value
  api/Element.json
Labels: data:api :rabbit2:

#6202 Complete NodeJS support data for all Intl APIs
  javascript/builtins/intl/Collator.json
  javascript/builtins/intl/DateTimeFormat.json
  javascript/builtins/intl/Intl.json
  javascript/builtins/intl/ListFormat.json
  javascript/builtins/intl/Locale.json
  javascript/builtins/intl/NumberFormat.json
  javascript/builtins/intl/PluralRules.json
  javascript/builtins/intl/RelativeTimeFormat.json
Labels: data:js :pager:

#6246 Split arithmetic operators
  javascript/operators/addition.json
  javascript/operators/arithmetic.json
  javascript/operators/decrement.json
  javascript/operators/division.json
  javascript/operators/exponentiation.json
  javascript/operators/increment.json
  javascript/operators/multiplication.json
  javascript/operators/remainder.json
  javascript/operators/subtraction.json
  javascript/operators/unary_negation.json
  javascript/operators/unary_plus.json
Labels: data:js :pager:

#6259 Safari 13.1 supports image-orientation
  css/properties/image-orientation.json
Labels: data:css :art:

#6254 Add that Safari supports X-Content-Type-Options (as of 11.0).
  http/headers/x-content-type-options.json
Labels: data:http :mountain_cableway:

#6252 Update toLocaleString notes for NodeJS to match Intl API notes
  javascript/builtins/Array.json
  javascript/builtins/Date.json
  javascript/builtins/Number.json
  javascript/builtins/String.json
Labels: data:js :pager:

#6234 adding in compat data for ParentNode querySelector and replaceChildren
  api/ParentNode.json
Labels: data:api :rabbit2:

#6251 Update Safari compat data for <data>, HTMLDataElement
  api/HTMLDataElement.json
  html/elements/data.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#6262 feat(javascript): `Symbol.toStringTag` is available on all DOM objects
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#6268 Add Intl.DisplayNames
  javascript/builtins/intl/DisplayNames.json
Labels: data:js :pager:

#6261 Mark SubmitEvent as unsupported in IE
  api/SubmitEvent.json
Labels: data:api :rabbit2:

#6263 Chrome 83 supports CSP: trusted-types
  http/headers/content-security-policy.json
Labels: data:http :mountain_cableway:

#6276 Split comparison operators
  javascript/operators/comparison.json
  javascript/operators/equality.json
  javascript/operators/greater_than.json
  javascript/operators/greater_than_or_equal.json
  javascript/operators/inequality.json
  javascript/operators/less_than.json
  javascript/operators/less_than_or_equal.json
  javascript/operators/strict_equality.json
  javascript/operators/strict_inequality.json
Labels: data:js :pager:, needs-release-note :newspaper:

#6264 Clean up activeVRDisplays data
  api/Navigator.json
Labels: data:api :rabbit2:

#6255 Add support for MediaSession in Opera
  api/MediaSession.json
Labels: data:api :rabbit2:

#6279 Add data for HTMLInputElement.webkitEntries.
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#6280 Add Screen Wake Lock API.
  api/WakeLock.json
  api/WakeLockSentinel.json
Labels: data:api :rabbit2:

#6282 HTMLImageElement.currentSrc Safari
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#6250 Add BarcodeDector data.
  api/BarcodeDetector.json
Labels: data:api :rabbit2:

#6257 feat(css): Update `appearance` data for `menulist‑button` changes
  css/properties/appearance.json
Labels: data:css :art:

#6287 Initial compatibility info for WeakRef and FinalizationQueue
  javascript/builtins/FinalizationRegistry.json
  javascript/builtins/WeakRef.json
Labels: data:js :pager:

#6253 Move Intl.Collator caseFirst option under the constructor
  javascript/builtins/intl/Collator.json
Labels: data:js :pager:, needs-release-note :newspaper:

#6289 IntersectionObserver() support for document as root
  api/IntersectionObserver.json
Labels: data:api :rabbit2:

#6277 Add ContactsManager.json.
  api/ContactsManager.json
Labels: data:api :rabbit2:

#6278 Add CSSPropertyRule.json.
  api/CSSPropertyRule.json
Labels: data:api :rabbit2:

#6273 Update EffectTiming.json.
  api/EffectTiming.json
Labels: data:api :rabbit2:

#6294 Complete nodejs data for SharedArrayBuffer
  javascript/builtins/DataView.json
  javascript/builtins/SharedArrayBuffer.json
Labels: data:js :pager:

#6165 Remove flag from viewport.
  css/at-rules/viewport.json
Labels: data:css :art:

#6297 Atomics ships in Fx78, Wasm.Memory accepts 'shared'
  javascript/builtins/Atomics.json
  javascript/builtins/webassembly/Memory.json
Labels: data:js :pager:

#6286 Revert "Bring location.json->hostname inline with HTMLHyperlinkElemen…
  api/Location.json
Labels: data:api :rabbit2:

#6224 Update AudioTrack and VideoTrack support data
  api/AudioTrack.json
  api/VideoTrack.json
Labels: data:api :rabbit2:

#6298 Mark all HTMLElement.p.offset* experimental:false
  api/HTMLElement.json
Labels: data:api :rabbit2:

#6291 Add Chrome file system data.
  api/FileSystem.json
  api/FileSystemDirectoryEntry.json
  api/FileSystemDirectoryReader.json
  api/FileSystemEntry.json
  api/FileSystemFileEntry.json
Labels: data:api :rabbit2:

#6300 Fix copy/paste errors.
  api/FileSystemDirectoryEntry.json
Labels: data:api :rabbit2:

#6301 Add a note about the effect on topSites.get() of disabling topsites
  webextensions/api/topSites.json
Labels: data:webext :game_die:

#6275 Add ClipboardItem.json.
  api/ClipboardItem.json
Labels: data:api :rabbit2:

#6304 Drop "form" content attribute from label element
  html/elements/label.json
Labels: data:html :page_facing_up:

#6307 Remove Richard from peer list; Add peers and owners emeriti section
  GOVERNANCE.md
Labels: docs :writing_hand:

#6303 Note dropped support for "xbl" ResourceType value
  webextensions/api/webRequest.json
Labels: data:webext :game_die:

#6302 Correct clipboard read/write version numbers.
  api/Clipboard.json
Labels: data:api :rabbit2:

#6308 Make Will a code owner for webextensions/
  .github/CODEOWNERS
Labels: infra :building_construction:

#6312 Firefox 78 doesn't ship Intl.DisplayNames
  javascript/builtins/intl/DisplayNames.json
Labels: data:js :pager:

#6310 Add note about new cookie behavior value
  webextensions/api/privacy.json
Labels: data:webext :game_die:

#6299 Add new NumberFormat options
  javascript/builtins/intl/NumberFormat.json
Labels: data:js :pager:

#6314 Drop now-nonexistent Streams API constructors
  api/ReadableByteStreamController.json
  api/ReadableStreamBYOBRequest.json
  api/ReadableStreamDefaultController.json
  api/WritableStreamDefaultController.json
Labels: data:api :rabbit2:

#6311 Add note about AddSearchProvider() becoming a no-op
  api/External.json
  api/Window.json
Labels: data:api :rabbit2:

#6319 Rename the "Slotable" mixin to "Slottable"
  api/Slottable.json
Labels: data:api :rabbit2:

#6309 Firefox 78esr ships Service Worker and Push
  api/Cache.json
  api/CacheStorage.json
  api/Client.json
  api/Clients.json
  api/ExtendableEvent.json
  api/ExtendableMessageEvent.json
  api/FetchEvent.json
  api/InstallEvent.json
  api/Navigator.json
  api/NotificationEvent.json
  api/PushEvent.json
  api/PushManager.json
  api/PushMessageData.json
  api/PushSubscription.json
  api/ServiceWorker.json
  api/ServiceWorkerContainer.json
  api/ServiceWorkerGlobalScope.json
  api/ServiceWorkerMessageEvent.json
  api/ServiceWorkerRegistration.json
  api/WindowClient.json
Labels: data:api :rabbit2:

#6305 Document behavior when unrecognized resource types are present
  webextensions/api/webRequest.json
Labels: data:webext :game_die:

#6324 Update Safari 13.1 and 14 release notes
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#6322 Add more accuracy to notes on document.readyState support for IE
  api/Document.json
Labels: data:api :rabbit2:

#6316 fix navigator.registerProtocolHandler mobile browser support
  api/Navigator.json
Labels: data:api :rabbit2:

#6317 Fix balance-all support versions for column-fill property
  css/properties/column-fill.json
Labels: data:css :art:

#6329 Note non-support of windowId and tabId filter properties before version 78
  webextensions/api/proxy.json
Labels: data:webext :game_die:

#6332 Complete nodejs data for grammar
  javascript/grammar.json
Labels: data:js :pager:

#6331 Complete nodejs data for Symbol
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#6318 Chrome 83+ supports CSS selector: :where() behind a flag
  css/selectors/where.json
Labels: data:css :art:

#6336 Add an entry for iOS Safari 13.3
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#6328 Update WebAuthentication API data for Safari.
  api/AuthenticatorAssertionResponse.json
  api/AuthenticatorAttestationResponse.json
  api/AuthenticatorResponse.json
  api/Credential.json
  api/CredentialsContainer.json
  api/PublicKeyCredential.json
  api/PublicKeyCredentialCreationOptions.json
  api/PublicKeyCredentialRequestOptions.json
  api/WebAuthentication.json
Labels: data:api :rabbit2:

#6327 Add implementation details to registerProtocolHandler().
  api/Navigator.json
Labels: data:api :rabbit2:

#6313 Clipboard
  api/Clipboard.json
Labels: data:api :rabbit2:

#6335 Fix getter/setter support in firefox
  javascript/functions.json
Labels: data:js :pager:

#6340 Brought clientTop/Left in line with clientHeight/Width
  api/Element.json
Labels: data:api :rabbit2:

#6347 Textarea autocomplete atrribute support in Chromium 66
  html/elements/textarea.json
Labels: data:html :page_facing_up:

#6343 ParentNode.p.replaceChildren supported in Safari
  api/ParentNode.json
Labels: data:api :rabbit2:

#6339 Safari 14 support private class fields of Javascript
  javascript/classes.json
Labels: data:js :pager:

#6333 Update Edge data to version 83
  browsers/edge.json
Labels: data:browsers :earth_africa:

#6334 Opera update to version 69
  browsers/opera.json
Labels: data:browsers :earth_africa:

#6330 Set audioWorklet features support to false for legacy Edge & Safari
  api/AudioWorklet.json
  api/AudioWorkletGlobalScope.json
  api/AudioWorkletNode.json
  api/AudioWorkletProcessor.json
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#6342 Increase consistency for :is() notes
  css/selectors/is.json
Labels: data:css :art:

#6351 Firefox 78 release
  browsers/firefox.json
Labels: data:browsers :earth_africa:

#6352 Add Promise.any and AggregateError
  javascript/builtins/AggregateError.json
  javascript/builtins/Promise.json
Labels: data:js :pager:

#6350 Fix `-webkit-` prefix typos
  css/properties/font-kerning.json
  css/properties/text-underline-position.json
Labels: data:css :art:
