Repository mdn/browser-compat-data, pull requests merged in 2021-04, with the labels that each got.

#9700 Add Edge versions for FocusEvent API
  api/FocusEvent.json
Labels: data:api :rabbit2:

#9701 Add Edge versions for ClipboardItem API
  api/ClipboardItem.json
Labels: data:api :rabbit2:

#9702 Add Edge versions for FileError API
  api/FileError.json
Labels: data:api :rabbit2:

#9703 Add Edge versions for HTMLSelectElement API
  api/HTMLSelectElement.json
Labels: data:api :rabbit2:

#9704 Add WebView versions for IDBCursorWithValue API
  api/IDBCursorWithValue.json
Labels: data:api :rabbit2:

#9695 :user-valid and :user-invalid updates
  css/selectors/user-invalid.json
  css/selectors/user-valid.json
Labels: data:css :art:, needs-release-note :newspaper:

#9652 Mark customized built-in element support as shipped in Chromium 67
  api/CustomElementRegistry.json
  html/global_attributes.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#9641 Link WebKit RESOLVED WONTFIX bug for custom built-in elements
  api/CustomElementRegistry.json
  html/global_attributes.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#9640 Remove the api.FormData.SupportForOf entry (dupe of @@iterator)
  api/FormData.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9634 Remove the api.WorkerGlobalScope.console entry
  api/Console.json
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9630 Mirror Android data for NodeFilter and TreeWalker APIs
  api/Document.json
  api/NodeFilter.json
  api/NodeIterator.json
  api/TreeWalker.json
Labels: data:api :rabbit2:

#9625 Update versions for FormData.append() filename argument support
  api/FormData.json
Labels: data:api :rabbit2:

#9696 Added MDN and spec links to Symbol.asyncIterator
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#9611 Update when webkitCreateShadowRoot was removed in Chromium
  api/Element.json
Labels: data:api :rabbit2:

#9628 Add release information for GravitySensor API
  api/GravitySensor.json
Labels: data:api :rabbit2:

#9609 Update data for CreateOscillator and related APIs
  api/BaseAudioContext.json
  api/OscillatorNode.json
  api/PeriodicWave.json
Labels: data:api :rabbit2:

#9708 Prepare release v3.2.3
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: dependencies :chains:, docs :writing_hand:, infra :building_construction:

#9717 Remove irrelevant flags in Firefox for Crypto API
  api/Crypto.json
Labels: data:api :rabbit2:

#9718 Remove irrelevant flags in Firefox for CSS API
  api/CSS.json
Labels: data:api :rabbit2:

#9714 Remove irrelevant flags in Firefox for ByteLengthQueuingStrategy API
  api/ByteLengthQueuingStrategy.json
Labels: data:api :rabbit2:

#9716 Remove irrelevant flags in Firefox for CountQueuingStrategy API
  api/CountQueuingStrategy.json
Labels: data:api :rabbit2:

#9721 Remove irrelevant flags in Firefox for api.Document.*fullscreen
  api/Document.json
Labels: data:api :rabbit2:

#9738 Remove irrelevant flags in Firefox for Gamepad API
  api/Gamepad.json
  api/GamepadButton.json
  api/GamepadEvent.json
Labels: data:api :rabbit2:

#9735 Remove irrelevant flags in Firefox for api.Element.shadowdom
  api/Element.json
Labels: data:api :rabbit2:

#9731 Remove irrelevant flags in Firefox for api.Document.select_events
  api/Document.json
Labels: data:api :rabbit2:

#9727 Remove irrelevant full-screen-api.unprefix.enabled flag
  api/Element.json
  api/_mixins/DocumentOrShadowRoot__Document.json
Labels: data:api :rabbit2:

#9728 Remove irrelevant dom.webcomponents.shadowdom.enabled flag
  api/_mixins/DocumentOrShadowRoot__ShadowRoot.json
Labels: data:api :rabbit2:

#9756 Remove irrelevant flags in Chromium for PaymentCurrencyAmount API
  api/PaymentCurrencyAmount.json
Labels: data:api :rabbit2:

#9754 Remove irrelevant flags in Firefox for MediaSource API
  api/MediaSource.json
Labels: data:api :rabbit2:

#9752 Remove irrelevant flags in Firefox for IdleDeadline API
  api/IdleDeadline.json
Labels: data:api :rabbit2:

#9744 Remove irrelevant flags in Firefox for HTMLImageElement API
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#9745 Remove irrelevant flags in Firefox for HTMLPictureElement API
  api/HTMLPictureElement.json
Labels: data:api :rabbit2:

#9746 Remove irrelevant flags in Firefox for HTMLScriptElement API
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#9747 Remove irrelevant flags in Firefox for HTMLSlotElement API
  api/HTMLSlotElement.json
Labels: data:api :rabbit2:

#9748 Remove irrelevant flags in Firefox for HTMLSourceElement API
  api/HTMLSourceElement.json
Labels: data:api :rabbit2:

#9749 Remove irrelevant flags in Firefox for HTMLTrackElement API
  api/HTMLTrackElement.json
Labels: data:api :rabbit2:

#9750 Remove irrelevant flags in Firefox for HTMLVideoElement API
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#9753 Remove irrelevant flags in all browsers for MediaDevices API
  api/MediaDevices.json
Labels: data:api :rabbit2:

#9769 AbortSignal is not experimental
  api/AbortSignal.json
Labels: data:api :rabbit2:

#9767 Remove remaining cases of Firefox's full-screen-api.unprefix flag
  css/selectors/fullscreen.json
Labels: data:css :art:

#9715 Remove irrelevant flags in all browsers for CanvasRenderingContext2D API
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#9663 Updating visibility: collapse for ruby annotations
  css/properties/visibility.json
Labels: data:css :art:

#9624 Support for image-set in Firefox 88
  css/types/image.json
Labels: data:css :art:

#9650 browserSettings.ftpProtocolEnabled readonly in FF88
  webextensions/api/browserSettings.json
Labels: data:webext :game_die:

#9683 Remove old flags for CSS Grid
  css/properties/column-gap.json
  css/properties/gap.json
  css/properties/grid-area.json
  css/properties/grid-auto-columns.json
  css/properties/grid-auto-flow.json
  css/properties/grid-auto-rows.json
  css/properties/grid-column-end.json
  css/properties/grid-column-start.json
  css/properties/grid-column.json
  css/properties/grid-row-end.json
  css/properties/grid-row-start.json
  css/properties/grid-row.json
  css/properties/grid-template-areas.json
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
  css/properties/grid-template.json
  css/properties/grid.json
  css/properties/row-gap.json
Labels: data:css :art:

#9725 String.prototype.replace is not fully supported until IE5.5 (#8908)
  javascript/builtins/String.json
Labels: data:js :pager:

#9787 Mark `Notification` constructor as never supported on Chrome for Android
  api/Notification.json
Labels: data:api :rabbit2:

#9792 Mark most -ms-prefixed CSS properties as removed in Edge 79
  css/properties/grid-auto-columns.json
  css/properties/grid-auto-rows.json
  css/properties/text-combine-upright.json
Labels: data:css :art:

#9789 Includes support for font-variant-caps in Safari
  css/properties/font-variant-caps.json
Labels: data:css :art:

#9788 Update Chrome_Android version in Manifest fields
  html/manifest/categories.json
  html/manifest/description.json
  html/manifest/screenshots.json
Labels: data:html :page_facing_up:

#9783 Mark moz-prefixed fullscreen APIs as still shipping in Firefox
  api/Document.json
  api/Element.json
  api/_mixins/DocumentOrShadowRoot__Document.json
  api/_mixins/DocumentOrShadowRoot__ShadowRoot.json
  css/selectors/fullscreen.json
Labels: data:api :rabbit2:, data:css :art:

#9763 Update browser support for file-selector-button
  css/selectors/file-selector-button.json
Labels: data:css :art:

#9722 Update api.FormData.get support for Safari
  api/FormData.json
Labels: data:api :rabbit2:

#9800 Update FormData compat data for Safari
  api/FormData.json
Labels: data:api :rabbit2:

#9799 Update forced-color-adjust for Edge
  css/properties/forced-color-adjust.json
Labels: data:css :art:

#6954 Add notes for never-supported CSS types
  css/types/attr.json
  css/types/frequency-percentage.json
  css/types/frequency.json
  css/types/image.json
Labels: data:css :art:

#9803 Prepare release v3.2.4
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: dependencies :chains:, docs :writing_hand:, infra :building_construction:

#9807 Remove Edge "Enable service workers" flag
  api/Navigator.json
  api/PushEvent.json
  api/PushManager.json
  api/ServiceWorker.json
  api/ServiceWorkerContainer.json
  api/ServiceWorkerMessageEvent.json
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#9684 Remove old flags for CSS Flexbox
  css/properties/align-content.json
  css/properties/align-items.json
  css/properties/align-self.json
  css/properties/display.json
  css/properties/flex-basis.json
  css/properties/flex-direction.json
  css/properties/flex-flow.json
  css/properties/flex-grow.json
  css/properties/flex-shrink.json
  css/properties/flex.json
  css/properties/justify-content.json
  css/properties/order.json
Labels: data:css :art:

#9685 Remove old flags for Firefox CSS features
  css/at-rules/font-face.json
  css/at-rules/font-feature-values.json
  css/at-rules/supports.json
  css/properties/background-clip.json
  css/properties/block-size.json
  css/properties/border-block-end-color.json
  css/properties/border-block-end-style.json
  css/properties/border-block-end-width.json
  css/properties/border-block-end.json
  css/properties/border-block-start-color.json
  css/properties/border-block-start-style.json
  css/properties/border-block-start-width.json
  css/properties/border-block-start.json
  css/properties/border-inline-end-color.json
  css/properties/border-inline-end-style.json
  css/properties/border-inline-end-width.json
  css/properties/border-inline-end.json
  css/properties/border-inline-start-color.json
  css/properties/border-inline-start-style.json
  css/properties/border-inline-start-width.json
  css/properties/border-inline-start.json
  css/properties/clip-path.json
  css/properties/custom-property.json
  css/properties/display.json
  css/properties/font-kerning.json
  css/properties/font-language-override.json
  css/properties/font-optical-sizing.json
  css/properties/font-synthesis.json
  css/properties/font-variant-alternates.json
  css/properties/font-variant-caps.json
  css/properties/font-variant-east-asian.json
  css/properties/font-variant-ligatures.json
  css/properties/font-variant-numeric.json
  css/properties/font-variant-position.json
  css/properties/font-variant.json
  css/properties/font-variation-settings.json
  css/properties/inline-size.json
  css/properties/inset-block-end.json
  css/properties/inset-block-start.json
  css/properties/inset-block.json
  css/properties/inset-inline-end.json
  css/properties/inset-inline-start.json
  css/properties/inset-inline.json
  css/properties/margin-block-end.json
  css/properties/margin-block-start.json
  css/properties/margin-inline-end.json
  css/properties/margin-inline-start.json
  css/properties/max-block-size.json
  css/properties/max-inline-size.json
  css/properties/min-block-size.json
  css/properties/min-inline-size.json
  css/properties/padding-block-end.json
  css/properties/padding-block-start.json
  css/properties/padding-inline-end.json
  css/properties/padding-inline-start.json
  css/properties/position.json
  css/properties/text-combine-upright.json
  css/properties/text-orientation.json
  css/properties/writing-mode.json
Labels: data:css :art:

#9805 Fix presentation API removal back to FF88
  api/Navigator.json
  api/Presentation.json
  api/PresentationAvailability.json
  api/PresentationConnection.json
  api/PresentationConnectionAvailableEvent.json
  api/PresentationConnectionCloseEvent.json
  api/PresentationConnectionList.json
  api/PresentationReceiver.json
  api/PresentationRequest.json
Labels: data:api :rabbit2:

#6949 Add notes for unimplemented CSS mask-origin keywords
  css/properties/mask-origin.json
Labels: data:css :art:

#9619 Add spec URLs for SVG elements "a" to "filter"
  svg/elements/a.json
  svg/elements/altGlyph.json
  svg/elements/altGlyphDef.json
  svg/elements/altGlyphItem.json
  svg/elements/animate.json
  svg/elements/animateColor.json
  svg/elements/animateMotion.json
  svg/elements/animateTransform.json
  svg/elements/circle.json
  svg/elements/clipPath.json
  svg/elements/color-profile.json
  svg/elements/cursor.json
  svg/elements/defs.json
  svg/elements/desc.json
  svg/elements/discard.json
  svg/elements/ellipse.json
  svg/elements/feBlend.json
  svg/elements/feColorMatrix.json
  svg/elements/feComponentTransfer.json
  svg/elements/feComposite.json
  svg/elements/feConvolveMatrix.json
  svg/elements/feDiffuseLighting.json
  svg/elements/feDisplacementMap.json
  svg/elements/feDistantLight.json
  svg/elements/feDropShadow.json
  svg/elements/feFlood.json
  svg/elements/feFuncA.json
  svg/elements/feFuncB.json
  svg/elements/feFuncG.json
  svg/elements/feFuncR.json
  svg/elements/feGaussianBlur.json
  svg/elements/feImage.json
  svg/elements/feMerge.json
  svg/elements/feMergeNode.json
  svg/elements/feMorphology.json
  svg/elements/feOffset.json
  svg/elements/fePointLight.json
  svg/elements/feSpecularLighting.json
  svg/elements/feSpotLight.json
  svg/elements/feTile.json
  svg/elements/feTurbulence.json
  svg/elements/filter.json
Labels: data:svg :paintbrush:

#9620 Add spec URLs for SVG elements "font-face" to "vkern"
  svg/elements/font-face-format.json
  svg/elements/font-face-name.json
  svg/elements/font-face-src.json
  svg/elements/font-face-uri.json
  svg/elements/font-face.json
  svg/elements/font.json
  svg/elements/foreignObject.json
  svg/elements/g.json
  svg/elements/glyph.json
  svg/elements/glyphRef.json
  svg/elements/hkern.json
  svg/elements/image.json
  svg/elements/line.json
  svg/elements/linearGradient.json
  svg/elements/marker.json
  svg/elements/mask.json
  svg/elements/metadata.json
  svg/elements/missing-glyph.json
  svg/elements/mpath.json
  svg/elements/path.json
  svg/elements/pattern.json
  svg/elements/polygon.json
  svg/elements/polyline.json
  svg/elements/radialGradient.json
  svg/elements/rect.json
  svg/elements/script.json
  svg/elements/set.json
  svg/elements/stop.json
  svg/elements/style.json
  svg/elements/svg.json
  svg/elements/switch.json
  svg/elements/symbol.json
  svg/elements/textPath.json
  svg/elements/title.json
  svg/elements/tref.json
  svg/elements/tspan.json
  svg/elements/use.json
  svg/elements/view.json
  svg/elements/vkern.json
Labels: data:svg :paintbrush:

#9615 Add spec URLs for SVG attributes
  svg/attributes/conditional_processing.json
  svg/attributes/core.json
  svg/attributes/data.json
  svg/attributes/events.json
  svg/attributes/href.json
  svg/attributes/paint-order.json
  svg/attributes/style.json
  svg/attributes/textLength.json
  svg/attributes/xlink.json
Labels: data:svg :paintbrush:

#9829 Set Opera 75 to current
  browsers/opera.json
Labels: data:browsers :earth_africa:

#9827 Release process improvements
  docs/publishing.md
  package.json
  scripts/release-notes.js
  scripts/release-pulls.js
  scripts/release-stats.js
  scripts/release-utils.js
  scripts/statistics.js
Labels: dependencies :chains:, docs :writing_hand:, infra :building_construction:, scripts :scroll:

#9832 Fix mis-typed tag in URL for changes in v3.2.4
  RELEASE_NOTES.md
Labels: docs :writing_hand:

#9775 Add protocol_handlers subfeature ftp
  webextensions/api/proxy.json
  webextensions/manifest/protocol_handlers.json
Labels: data:webext :game_die:

#9713 Remove irrelevant flags in Firefox for AnimationTimeline API
  api/AnimationTimeline.json
Labels: data:api :rabbit2:

#9812 updates backdrop-filter for Opera
  css/properties/backdrop-filter.json
Labels: data:css :art:

#9618 Add spec URLs for SVG presentation attributes
  svg/attributes/presentation.json
Labels: data:svg :paintbrush:

#9621 Add spec URLs for SVG "text" element
  svg/elements/text.json
Labels: data:svg :paintbrush:

#9836 Drop mdn_url for the appcache "manifest" attribute
  html/elements/html.json
Labels: data:html :page_facing_up:

#9508 Added data for RegExp.prototype.hasIndices
  javascript/builtins/RegExp.json
Labels: data:js :pager:

#9470 Update <a> ping attribute
  api/SVGAElement.json
  html/elements/a.json
  html/elements/area.json
  svg/elements/a.json
Labels: data:api :rabbit2:, data:html :page_facing_up:, data:svg :paintbrush:

#9840 Add opera support for ::marker
  css/selectors/marker.json
Labels: data:css :art:

#9841 Add opera support for :focus-visible
  css/selectors/focus-visible.json
Labels: data:css :art:

#9845 Add spec URLs for all API features starting w/ “A”
  api/AbortController.json
  api/AbortSignal.json
  api/AbsoluteOrientationSensor.json
  api/AbstractRange.json
  api/AbstractWorker.json
  api/Accelerometer.json
  api/AmbientLightSensor.json
  api/AnalyserNode.json
  api/Animation.json
  api/AnimationEffect.json
  api/AnimationEvent.json
  api/AnimationPlaybackEvent.json
  api/AnimationTimeline.json
  api/Attr.json
  api/AudioBuffer.json
  api/AudioBufferSourceNode.json
  api/AudioContext.json
  api/AudioContextOptions.json
  api/AudioDestinationNode.json
  api/AudioListener.json
  api/AudioNode.json
  api/AudioNodeOptions.json
  api/AudioParam.json
  api/AudioScheduledSourceNode.json
  api/AudioTrack.json
  api/AudioTrackList.json
  api/AudioWorklet.json
  api/AudioWorkletGlobalScope.json
  api/AudioWorkletNode.json
  api/AudioWorkletProcessor.json
  api/AuthenticatorAssertionResponse.json
  api/AuthenticatorAttestationResponse.json
  api/AuthenticatorResponse.json
Labels: data:api :rabbit2:

#9847 Add spec URLs for all API features starting w/ “B”
  api/BaseAudioContext.json
  api/BasicCardRequest.json
  api/BasicCardResponse.json
  api/BeforeUnloadEvent.json
  api/BiquadFilterNode.json
  api/Blob.json
  api/BlobEvent.json
  api/Bluetooth.json
  api/BluetoothCharacteristicProperties.json
  api/BluetoothDevice.json
  api/BluetoothRemoteGATTCharacteristic.json
  api/BluetoothRemoteGATTDescriptor.json
  api/BluetoothRemoteGATTServer.json
  api/BluetoothRemoteGATTService.json
  api/Body.json
  api/BroadcastChannel.json
  api/ByteLengthQueuingStrategy.json
Labels: data:api :rabbit2:

#9849 Add spec URLs for all API features starting w/ “Canvas”
  api/CanvasCaptureMediaStreamTrack.json
  api/CanvasGradient.json
  api/CanvasPattern.json
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#9583 Add MathML spec URLs
  mathml/elements/maction.json
  mathml/elements/math.json
  mathml/elements/menclose.json
  mathml/elements/merror.json
  mathml/elements/mfrac.json
  mathml/elements/mi.json
  mathml/elements/mmultiscripts.json
  mathml/elements/mn.json
  mathml/elements/mo.json
  mathml/elements/mover.json
  mathml/elements/mpadded.json
  mathml/elements/mphantom.json
  mathml/elements/mroot.json
  mathml/elements/mrow.json
  mathml/elements/ms.json
  mathml/elements/mspace.json
  mathml/elements/msqrt.json
  mathml/elements/mstyle.json
  mathml/elements/msub.json
  mathml/elements/msubsup.json
  mathml/elements/msup.json
  mathml/elements/mtable.json
  mathml/elements/mtd.json
  mathml/elements/mtext.json
  mathml/elements/mtr.json
  mathml/elements/munder.json
  mathml/elements/munderover.json
  mathml/elements/semantics.json
Labels: data:mathml :heavy_division_sign:

#9848 Add spec URLs for all API features starting w/ “CSS”
  api/CSS.json
  api/CSSConditionRule.json
  api/CSSCounterStyleRule.json
  api/CSSGroupingRule.json
  api/CSSImageValue.json
  api/CSSKeyframeRule.json
  api/CSSKeyframesRule.json
  api/CSSKeywordValue.json
  api/CSSMathSum.json
  api/CSSMathValue.json
  api/CSSMediaRule.json
  api/CSSNamespaceRule.json
  api/CSSNumericValue.json
  api/CSSPageRule.json
  api/CSSPseudoElement.json
  api/CSSRule.json
  api/CSSRuleList.json
  api/CSSStyleDeclaration.json
  api/CSSStyleRule.json
  api/CSSStyleSheet.json
  api/CSSStyleValue.json
  api/CSSSupportsRule.json
  api/CSSTransformComponent.json
  api/CSSUnitValue.json
  api/CSSUnparsedValue.json
  api/CSSVariableReferenceValue.json
Labels: data:api :rabbit2:

#9850 Add spec URLs for all API features starting w/ “C”
  api/CDATASection.json
  api/Cache.json
  api/CacheStorage.json
  api/CaretPosition.json
  api/ChannelMergerNode.json
  api/ChannelSplitterNode.json
  api/CharacterData.json
  api/ChildNode.json
  api/Client.json
  api/Clients.json
  api/Clipboard.json
  api/ClipboardEvent.json
  api/ClipboardItem.json
  api/CloseEvent.json
  api/Comment.json
  api/CompositionEvent.json
  api/Console.json
  api/ConstantSourceNode.json
  api/ConstrainBoolean.json
  api/ConstrainDOMString.json
  api/ConstrainDouble.json
  api/ConstrainULong.json
  api/ContactsManager.json
  api/ContentIndex.json
  api/ContentIndexEvent.json
  api/ConvolverNode.json
  api/CookieChangeEvent.json
  api/CountQueuingStrategy.json
  api/CredentialsContainer.json
  api/Crypto.json
  api/CryptoKey.json
  api/CryptoKeyPair.json
  api/CustomElementRegistry.json
  api/CustomEvent.json
Labels: data:api :rabbit2:

#9853 Add more Bluetooth* and BarcodeDetector spec URLs
  api/BarcodeDetector.json
  api/Bluetooth.json
  api/BluetoothCharacteristicProperties.json
Labels: data:api :rabbit2:

#9856 Update some html/manifest spec URLs
  html/manifest/categories.json
  html/manifest/description.json
  html/manifest/iarc_rating_id.json
  html/manifest/screenshots.json
Labels: data:html :page_facing_up:

#9842 Fix the nesting of not_match_link features
  css/selectors/any-link.json
  css/selectors/link.json
Labels: data:css :art:, needs-release-note :newspaper:

#9839 Update Chromium version for ping content attributes
  html/elements/a.json
  html/elements/area.json
Labels: data:html :page_facing_up:

#9858 Add spec URL for the CSS @property rule
  css/at-rules/property.json
Labels: data:css :art:

#9859 Fix api.WorkerNavigator.serial.mdn_url
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#9866 Add spec URLs for all E to F API features
  api/EffectTiming.json
  api/ErrorEvent.json
  api/Event.json
  api/EventListener.json
  api/EventSource.json
  api/EventTarget.json
  api/ExtendableCookieChangeEvent.json
  api/ExtendableEvent.json
  api/ExtendableMessageEvent.json
  api/FederatedCredential.json
  api/FetchEvent.json
  api/File.json
  api/FileList.json
  api/FileReader.json
  api/FileReaderSync.json
  api/FileSystem.json
  api/FileSystemDirectoryEntry.json
  api/FileSystemDirectoryHandle.json
  api/FileSystemEntry.json
  api/FileSystemFileEntry.json
  api/FileSystemFileHandle.json
  api/FileSystemFlags.json
  api/FileSystemHandle.json
  api/FocusEvent.json
  api/FontFace.json
  api/FontFaceSet.json
  api/FontFaceSetLoadEvent.json
  api/FormData.json
  api/FormDataEvent.json
  api/FullscreenOptions.json
Labels: data:api :rabbit2:

#9873 Bump mdn-confluence from 2.2.0 to 2.2.2
  package-lock.json
  package.json
Labels: dependencies :chains:, infra :building_construction:

#9863 Add spec URLs for all API features starting w/ “D”
  api/DOMException.json
  api/DOMHighResTimestamp.json
  api/DOMImplementation.json
  api/DOMMatrix.json
  api/DOMMatrixReadOnly.json
  api/DOMParser.json
  api/DOMPoint.json
  api/DOMPointInit.json
  api/DOMPointReadOnly.json
  api/DOMQuad.json
  api/DOMRect.json
  api/DOMRectReadOnly.json
  api/DOMStringList.json
  api/DOMTokenList.json
  api/DataTransfer.json
  api/DataTransferItem.json
  api/DataTransferItemList.json
  api/DedicatedWorkerGlobalScope.json
  api/DelayNode.json
  api/DeviceMotionEvent.json
  api/DeviceMotionEventAcceleration.json
  api/DeviceMotionEventRotationRate.json
  api/DocumentFragment.json
  api/DocumentTimeline.json
  api/DocumentType.json
  api/DoubleRange.json
  api/DragEvent.json
  api/DynamicsCompressorNode.json
Labels: data:api :rabbit2:

#9862 Add all spec URLs for the Element object
  api/Element.json
Labels: data:api :rabbit2:

#9861 Add all spec URLs for the Document object
  api/Document.json
Labels: data:api :rabbit2:

#7398 Publish pre-built bundles to npm
  .github/workflows/release.yml
  .gitignore
  .npmignore
  .prettierignore
  package.json
  scripts/release-build.js
  scripts/release-build.test.js
Labels: dependencies :chains:, infra :building_construction:, needs-release-note :newspaper:, scripts :scroll:

#5576 Fix a bug when comparing ranged version to non-ranged version
  test/linter/test-versions.js
Labels: linter :house_with_garden:

#9623 -moz-submit-invalid behind a flag
  css/selectors/-moz-submit-invalid.json
Labels: data:css :art:

#9860 Edge and Opera data border-radius logical props
  css/properties/border-end-end-radius.json
  css/properties/border-end-start-radius.json
  css/properties/border-start-end-radius.json
  css/properties/border-start-start-radius.json
Labels: data:css :art:

#9828 Add `text-decoration-thickness` to Chromium `text-decoration` shorthand
  css/properties/text-decoration.json
Labels: data:css :art:

#9809 Add summary display: list-item support on Chrome, Edge and Opera
  html/elements/summary.json
Labels: data:html :page_facing_up:

#9865 Prepare release v3.3.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: dependencies :chains:, docs :writing_hand:, infra :building_construction:

#9877 Fix Node.js version for publishing workflow
  .github/workflows/release.yml
Labels: infra :building_construction:

#9879 Drop "edited" as a release event for the publishing workflow (retry)
  .github/workflows/release.yml
Labels: infra :building_construction:

#9626 Clean up the data for navigator.getBattery()
  api/BatteryManager.json
  api/Navigator.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9894 Updates chrome to version 90
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#9911 Add spec URL for DOMParser.p.parseFromString
  api/DOMParser.json
Labels: data:api :rabbit2:

#9912 Edge 90 is released
  browsers/edge.json
Labels: data:browsers :earth_africa:

#9810 Remove irrelevant "dom.animations-api.core.enabled" flag
  api/CSSPseudoElement.json
  api/Document.json
  api/DocumentTimeline.json
  api/Element.json
Labels: data:api :rabbit2:

#9896 Drop the ToC from docs/data-guidelines.md
  docs/data-guidelines.md
Labels: docs :writing_hand:

#9963 Update Edge versions for BackgroundFetch* API
  api/BackgroundFetchEvent.json
  api/BackgroundFetchManager.json
  api/BackgroundFetchRecord.json
  api/BackgroundFetchRegistration.json
  api/BackgroundFetchUpdateUIEvent.json
Labels: data:api :rabbit2:

#9960 Remove irrelevant Chromium flag data for nel HTTP feature
  http/headers/nel.json
Labels: data:http :mountain_cableway:

#9976 update fx browsers post 88 release
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#9980 Add Edge versions for BeforeInstallPromptEvent API
  api/BeforeInstallPromptEvent.json
Labels: data:api :rabbit2:

#9915 Remove irrelevant Firefox flag data for GlobalEventHandlers API
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#9936 Remove irrelevant "media.webvtt.enabled" flag
  html/elements/track.json
Labels: data:html :page_facing_up:

#9941 Remove irrelevant Firefox flag data for filter CSS property
  css/properties/filter.json
Labels: data:css :art:

#9949 Remove irrelevant Firefox flag data for text-justify CSS property
  css/properties/text-justify.json
Labels: data:css :art:

#9951 Remove irrelevant Firefox flag data for transform-box CSS property
  css/properties/transform-box.json
Labels: data:css :art:

#9952 Remove irrelevant Firefox flag data for transform-origin CSS property
  css/properties/transform-origin.json
Labels: data:css :art:

#9957 Remove irrelevant Chromium flag data for color CSS type
  css/types/color.json
Labels: data:css :art:

#9947 Remove irrelevant Chromium flag data for text-align-last CSS property
  css/properties/text-align-last.json
Labels: data:css :art:

#9939 Remove irrelevant Chromium flag data for custom-property CSS property
  css/properties/custom-property.json
Labels: data:css :art:

#9919 Remove irrelevant Chromium flag data for PublicKeyCredential API
  api/PublicKeyCredential.json
Labels: data:api :rabbit2:

#9920 Remove irrelevant "dom.streams.enabled" flag
  api/ReadableStream.json
  api/ReadableStreamDefaultController.json
  api/ReadableStreamDefaultReader.json
Labels: data:api :rabbit2:

#9921 Remove irrelevant Firefox flag data for SecurityPolicyViolationEvent API
  api/SecurityPolicyViolationEvent.json
Labels: data:api :rabbit2:

#9922 Remove irrelevant Firefox flag data for ShadowRoot API
  api/ShadowRoot.json
Labels: data:api :rabbit2:

#9990 Add Background Fetch spec URLs
  api/BackgroundFetchManager.json
  api/BackgroundFetchRecord.json
Labels: data:api :rabbit2:

#9991 Add more CSS API spec URLs
  api/CSSAnimation.json
  api/CSSPropertyRule.json
  api/CSSTransformValue.json
  api/CSSTransition.json
Labels: data:api :rabbit2:

#9999 Update Chromium versions for DocumentTimeline API
  api/DocumentTimeline.json
Labels: data:api :rabbit2:

#10000 Update Edge data for api.Gamepad.displayId
  api/Gamepad.json
Labels: data:api :rabbit2:

#9981 Add Edge versions for ContentIndex[Event] API
  api/ContentIndex.json
  api/ContentIndexEvent.json
Labels: data:api :rabbit2:

#9918 Remove irrelevant Opera flag data for api.MediaDevices.getDisplayMedia
  api/MediaDevices.json
Labels: data:api :rabbit2:

#9923 Remove irrelevant "media.mediasource.enabled" flag
  api/SourceBuffer.json
  api/SourceBufferList.json
  api/VideoPlaybackQuality.json
Labels: data:api :rabbit2:

#9924 Remove irrelevant "media.webspeech.synth.enabled" flag
  api/SpeechSynthesis.json
  api/SpeechSynthesisErrorEvent.json
  api/SpeechSynthesisEvent.json
  api/SpeechSynthesisUtterance.json
  api/SpeechSynthesisVoice.json
Labels: data:api :rabbit2:

#9926 Remove irrelevant Firefox flag data for SubtleCrypto API
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#9927 Remove irrelevant Firefox flag data for Window API
  api/Window.json
Labels: data:api :rabbit2:

#9928 Remove irrelevant Firefox flag data for WEBGL_debug_renderer_info API
  api/WEBGL_debug_renderer_info.json
Labels: data:api :rabbit2:

#9929 Remove irrelevant Firefox flag data for WEBGL_draw_buffers API
  api/WEBGL_draw_buffers.json
Labels: data:api :rabbit2:

#9992 Add ContactsManager spec URL; fix exitPictureInPicture spec URL
  api/ContactsManager.json
  api/Document.json
Labels: data:api :rabbit2:

#9995 Add spec URLs for GlobalEventHandlers members
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#9997 Add spec URLs for G* APIs
  api/GainNode.json
  api/Gamepad.json
  api/GamepadButton.json
  api/GamepadEvent.json
  api/GamepadHapticActuator.json
  api/GamepadPose.json
  api/Geolocation.json
  api/GeolocationCoordinates.json
  api/GeolocationPosition.json
  api/GeolocationPositionError.json
  api/GeometryUtils.json
  api/GravitySensor.json
  api/Gyroscope.json
Labels: data:api :rabbit2:

#10003 Update spec URLs for WeakRef
  javascript/builtins/FinalizationRegistry.json
  javascript/builtins/WeakRef.json
Labels: data:js :pager:

#10004 Update proposal URLs to main ECMA-262 spec
  javascript/builtins/AggregateError.json
  javascript/builtins/Promise.json
  javascript/builtins/String.json
  javascript/operators/logical_and_assignment.json
  javascript/operators/logical_nullish_assignment.json
  javascript/operators/logical_or_assignment.json
  javascript/operators/optional_chaining.json
  javascript/statements.json
Labels: data:js :pager:

#10007 Update intl proposal URLs to main ECMA 402 spec
  javascript/builtins/intl/DateTimeFormat.json
  javascript/builtins/intl/DisplayNames.json
  javascript/builtins/intl/ListFormat.json
Labels: data:js :pager:

#10008 Update Save-Data spec url
  http/headers/save-data.json
Labels: data:http :mountain_cableway:

#10011 Update wasm spec links
  javascript/builtins/webassembly/WebAssembly.json
Labels: data:js :pager:

#9874 Load individual JSON files with fs instead of require()'ing
  index.js
Labels: infra :building_construction:

#9887 Add api.ServiceWorkerGlobalScope.periodicsync_event
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#9875 Don't let compare-versions cover up schema errors
  test/linter/test-versions.js
Labels: linter :house_with_garden:
