Repository mdn/browser-compat-data, pull requests merged in 2021-03, with the labels that each got.

#9293 Firefox 86 is released
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#9185 Add @property descriptors
  css/at-rules/property.json
Labels: data:css :art:

#9135 feImage note: doesn't work with doc fragments on Firefox
  svg/elements/feImage.json
Labels: data:svg :paintbrush:

#9074 feComposite support for operator lighter property
  api/SVGFECompositeElement.json
  svg/elements/feComposite.json
Labels: data:api :rabbit2:, data:svg :paintbrush:, needs-release-note :newspaper:

#9322 Add Chrome 89 release information.
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#9311 Update forced-colors Chrome version status
  css/at-rules/media.json
  css/properties/forced-color-adjust.json
Labels: data:css :art:

#9289 Add spec_url for CSS selectors G-O
  css/selectors/general_sibling.json
  css/selectors/grammar-error.json
  css/selectors/has.json
  css/selectors/host-context.json
  css/selectors/host.json
  css/selectors/hostfunction.json
  css/selectors/hover.json
  css/selectors/id.json
  css/selectors/in-range.json
  css/selectors/indeterminate.json
  css/selectors/invalid.json
  css/selectors/is.json
  css/selectors/lang.json
  css/selectors/last-child.json
  css/selectors/last-of-type.json
  css/selectors/left.json
  css/selectors/link.json
  css/selectors/list.json
  css/selectors/marker.json
  css/selectors/namespace.json
  css/selectors/not.json
  css/selectors/nth-child.json
  css/selectors/nth-last-child.json
  css/selectors/nth-last-of-type.json
  css/selectors/nth-of-type.json
  css/selectors/only-child.json
  css/selectors/only-of-type.json
  css/selectors/optional.json
  css/selectors/out-of-range.json
Labels: data:css :art:

#9290 Add spec_url for CSS selectors P-W
  css/selectors/part.json
  css/selectors/past.json
  css/selectors/placeholder-shown.json
  css/selectors/placeholder.json
  css/selectors/read-only.json
  css/selectors/read-write.json
  css/selectors/required.json
  css/selectors/right.json
  css/selectors/root.json
  css/selectors/scope.json
  css/selectors/selection.json
  css/selectors/slotted.json
  css/selectors/spelling-error.json
  css/selectors/target-text.json
  css/selectors/target-within.json
  css/selectors/target.json
  css/selectors/type.json
  css/selectors/universal.json
  css/selectors/user-invalid.json
  css/selectors/valid.json
  css/selectors/visited.json
  css/selectors/where.json
Labels: data:css :art:

#9335 Mirror Response.ok for Android browsers
  api/Response.json
Labels: data:api :rabbit2:

#9330 Clipboard Item updates
  api/ClipboardItem.json
Labels: data:api :rabbit2:

#9333 PerformanceObserver.supportedEntryTypes in Firefox
  api/PerformanceObserver.json
Labels: data:api :rabbit2:

#9334 PerformancePaintTiming in Firefox
  api/PerformancePaintTiming.json
Labels: data:api :rabbit2:

#9321 Prepare release v3.1.3
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: dependencies :chains:, docs :writing_hand:, infra :building_construction:

#9345 Update focus-visible for Edge
  css/selectors/focus-visible.json
Labels: data:css :art:

#9288 Add spec_url for CSS selectors A-F
  css/selectors/active.json
  css/selectors/adjacent_sibling.json
  css/selectors/after.json
  css/selectors/any-link.json
  css/selectors/attribute.json
  css/selectors/autofill.json
  css/selectors/backdrop.json
  css/selectors/before.json
  css/selectors/blank.json
  css/selectors/checked.json
  css/selectors/child.json
  css/selectors/class.json
  css/selectors/column.json
  css/selectors/cue.json
  css/selectors/default.json
  css/selectors/defined.json
  css/selectors/descendant.json
  css/selectors/dir.json
  css/selectors/disabled.json
  css/selectors/empty.json
  css/selectors/enabled.json
  css/selectors/first-child.json
  css/selectors/first-letter.json
  css/selectors/first-line.json
  css/selectors/first-of-type.json
  css/selectors/first.json
  css/selectors/focus-visible.json
  css/selectors/focus-within.json
  css/selectors/focus.json
  css/selectors/fullscreen.json
  css/selectors/future.json
Labels: data:css :art:

#9139 Revert changes that marked api.Notification as unsupported in Chrome for Android
  api/Notification.json
Labels: data:api :rabbit2:

#9379 Edge89 Release
  browsers/edge.json
Labels: data:browsers :earth_africa:

#9343 Rename SVGFECompositeElement.in back to in1
  api/SVGFECompositeElement.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9388 Remove the api.Window.layoutShift entry
  api/Window.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9015 Require that version_removed is either a string or true
  http/headers/x-xss-protection.json
  schemas/compat-data-schema.md
  schemas/compat-data.schema.json
Labels: data:http :mountain_cableway:, docs :writing_hand:, needs-release-note :newspaper:, schema :gear:

#9401 Remove the api.Window.OverconstrainedError entry
  api/Window.json
Labels: data:api :rabbit2:

#9400 Remove 3 PasswordCredential attributes which were unshipped
  api/PasswordCredential.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9398 Remove AuthenticationAssertion, ScopedCredential and ScopedCredentialInfo
  api/AuthenticationAssertion.json
  api/ScopedCredential.json
  api/ScopedCredentialInfo.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9394 Add spec_url for -webkit to background* CSS properties
  css/properties/-webkit-line-clamp.json
  css/properties/-webkit-text-fill-color.json
  css/properties/-webkit-text-stroke-color.json
  css/properties/-webkit-text-stroke-width.json
  css/properties/-webkit-text-stroke.json
  css/properties/align-content.json
  css/properties/align-items.json
  css/properties/align-self.json
  css/properties/align-tracks.json
  css/properties/all.json
  css/properties/animation-delay.json
  css/properties/animation-direction.json
  css/properties/animation-duration.json
  css/properties/animation-fill-mode.json
  css/properties/animation-iteration-count.json
  css/properties/animation-name.json
  css/properties/animation-play-state.json
  css/properties/animation-timing-function.json
  css/properties/animation.json
  css/properties/appearance.json
  css/properties/aspect-ratio.json
  css/properties/backdrop-filter.json
  css/properties/backface-visibility.json
  css/properties/background-attachment.json
  css/properties/background-blend-mode.json
  css/properties/background-clip.json
  css/properties/background-color.json
  css/properties/background-image.json
  css/properties/background-origin.json
  css/properties/background-position-x.json
  css/properties/background-position-y.json
  css/properties/background-position.json
  css/properties/background-repeat.json
  css/properties/background-size.json
  css/properties/background.json
Labels: data:css :art:

#9397 Add spec_url for border-inline to bottom CSS properties
  css/properties/border-inline-color.json
  css/properties/border-inline-end-color.json
  css/properties/border-inline-end-style.json
  css/properties/border-inline-end-width.json
  css/properties/border-inline-end.json
  css/properties/border-inline-start-color.json
  css/properties/border-inline-start-style.json
  css/properties/border-inline-start-width.json
  css/properties/border-inline-start.json
  css/properties/border-inline-style.json
  css/properties/border-inline-width.json
  css/properties/border-inline.json
  css/properties/border-left-color.json
  css/properties/border-left-style.json
  css/properties/border-left-width.json
  css/properties/border-left.json
  css/properties/border-radius.json
  css/properties/border-right-color.json
  css/properties/border-right-style.json
  css/properties/border-right-width.json
  css/properties/border-right.json
  css/properties/border-spacing.json
  css/properties/border-start-end-radius.json
  css/properties/border-start-start-radius.json
  css/properties/border-style.json
  css/properties/border-top-color.json
  css/properties/border-top-left-radius.json
  css/properties/border-top-right-radius.json
  css/properties/border-top-style.json
  css/properties/border-top-width.json
  css/properties/border-top.json
  css/properties/border-width.json
  css/properties/border.json
  css/properties/bottom.json
Labels: data:css :art:

#9405 Update support for ReadableBytestreamController for Chrome 89
  api/ReadableByteStreamController.json
Labels: data:api :rabbit2:

#9393 Mark week input as unsupported for Safari
  html/elements/input/week.json
Labels: data:html :page_facing_up:

#9338 Deprecate NavigatorPlugins, its subfeatures, and related objects
  api/MimeType.json
  api/MimeTypeArray.json
  api/NavigatorPlugins.json
  api/Plugin.json
  api/PluginArray.json
Labels: data:api :rabbit2:

#9350 fix unhandledrejection_event / onunhandledrejection edge compatibility
  api/Window.json
  api/WindowEventHandlers.json
Labels: data:api :rabbit2:

#9395 Add spec_url for border-block* to border-image* CSS properties
  css/properties/border-block-color.json
  css/properties/border-block-end-color.json
  css/properties/border-block-end-style.json
  css/properties/border-block-end-width.json
  css/properties/border-block-end.json
  css/properties/border-block-start-color.json
  css/properties/border-block-start-style.json
  css/properties/border-block-start-width.json
  css/properties/border-block-start.json
  css/properties/border-block-style.json
  css/properties/border-block-width.json
  css/properties/border-block.json
  css/properties/border-bottom-color.json
  css/properties/border-bottom-left-radius.json
  css/properties/border-bottom-right-radius.json
  css/properties/border-bottom-style.json
  css/properties/border-bottom-width.json
  css/properties/border-bottom.json
  css/properties/border-collapse.json
  css/properties/border-color.json
  css/properties/border-end-end-radius.json
  css/properties/border-end-start-radius.json
  css/properties/border-image-outset.json
  css/properties/border-image-repeat.json
  css/properties/border-image-slice.json
  css/properties/border-image-source.json
  css/properties/border-image-width.json
  css/properties/border-image.json
Labels: data:css :art:

#9424 Link Chromium/WebKit bugs for grid animations and subgrid
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
Labels: data:css :art:

#9408 Clear-Site-Data header: secure context is standard compliant
  http/headers/clear-site-data.json
Labels: data:http :mountain_cableway:

#9387 Fix the capitalization of two SVG API entries
  api/SVGTests.json
  api/SVGViewElement.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9386 Remove api.Response.useFinalURL entry
  api/Response.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9427 Fix isPointInPath Path Parameter support info for Safari
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#9404 Prepare release v3.2.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: dependencies :chains:, docs :writing_hand:, infra :building_construction:

#9432 Add new Chromium beta and canary.
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#9434 Mark ShadowRoot.getSelection as not supported in Firefox or Safari and as non-standard
  api/_mixins/DocumentOrShadowRoot__ShadowRoot.json
Labels: data:api :rabbit2:

#9192 Remove irrelevant flags in Firefox for Animation API
  api/Animation.json
Labels: data:api :rabbit2:

#9429 Move DocumentOrShadowRoot.getAnimations into mixin structure
  api/Document.json
  api/_mixins/DocumentOrShadowRoot__Document.json
  api/_mixins/DocumentOrShadowRoot__ShadowRoot.json
Labels: data:api :rabbit2:

#9435 Mark all Web MIDI APIs as not supported on Firefox
  api/MIDIAccess.json
  api/MIDIConnectionEvent.json
  api/MIDIInput.json
  api/MIDIInputMap.json
  api/MIDIMessageEvent.json
  api/MIDIOutput.json
  api/MIDIOutputMap.json
  api/MIDIPort.json
Labels: data:api :rabbit2:

#9431 Move getSelection to Document and ShadowRoot; Mark ShadowRoot.getSelection as non-standard.
  api/Document.json
  api/ShadowRoot.json
  api/_mixins/DocumentOrShadowRoot__Document.json
  api/_mixins/DocumentOrShadowRoot__ShadowRoot.json
Labels: data:api :rabbit2:

#9438 Update Picture-in-Picture API compat data
  api/Document.json
  api/HTMLVideoElement.json
  api/PictureInPicture.json
  api/PictureInPictureEvent.json
  api/PictureInPictureWindow.json
  api/_mixins/DocumentOrShadowRoot__Document.json
  api/_mixins/DocumentOrShadowRoot__ShadowRoot.json
Labels: data:api :rabbit2:

#9439 caretPositionFromPoint is only defined for Document
  api/Document.json
  api/_mixins/DocumentOrShadowRoot__Document.json
  api/_mixins/DocumentOrShadowRoot__ShadowRoot.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9444 Update api.Navigator.share for Chrome 89
  api/Navigator.json
Labels: data:api :rabbit2:

#9446 Update api.Console.trace for Firefox 6
  api/Console.json
Labels: data:api :rabbit2:

#9436 Mirror Firefox desktop data to Android for the Animation API
  api/Animation.json
Labels: data:api :rabbit2:

#9445 Mark <content> and <shadow> elements as removed in Chromium
  api/HTMLContentElement.json
  api/HTMLShadowElement.json
  html/elements/content.json
  html/elements/shadow.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#9382 Remove DOMErrorHandler entry
  api/DOMErrorHandler.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9458 Delete Burnable.json
  api/Burnable.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9459 Delete StorageQuota.json
  api/StorageQuota.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9465 Mirror javascript.builtins.String.matchAll for Samsung Internet
  javascript/builtins/String.json
Labels: data:js :pager:

#9463 Show removal of runtime flag for module support in Node.js
  javascript/statements.json
Labels: data:js :pager:

#9467 Update support for DataTransfer.items for Safari
  api/DataTransfer.json
Labels: data:api :rabbit2:

#9475 Updates api.ResizeObserver in Firefox for Android v79
  api/ResizeObserver.json
Labels: data:api :rabbit2:

#9481 beforeinput & getTargetRanges shipped in FF 87
  api/HTMLElement.json
  api/InputEvent.json
Labels: data:api :rabbit2:

#9468 Update stop-opacity for Safari iOS and remove duplications (#9402)
  svg/attributes/presentation.json
  svg/elements/stop.json
Labels: data:svg :paintbrush:, needs-release-note :newspaper:

#9472 Remove spread in destructuring
  javascript/operators/spread.json
Labels: data:js :pager:, needs-release-note :newspaper:

#9483 Fix sort of api.PushEvent features for Edge
  api/PushEvent.json
Labels: data:api :rabbit2:

#9378 Add spec URLs for newly-added CSS @property descriptors
  css/at-rules/property.json
Labels: data:css :art:

#9488 updating link pseudos
  css/selectors/any-link.json
  css/selectors/link.json
  css/selectors/visited.json
Labels: data:css :art:

#9487 Add spec_url for box-* to c* CSS properties
  css/properties/block-size.json
  css/properties/box-decoration-break.json
  css/properties/box-shadow.json
  css/properties/box-sizing.json
  css/properties/break-after.json
  css/properties/break-before.json
  css/properties/break-inside.json
  css/properties/caption-side.json
  css/properties/caret-color.json
  css/properties/clear.json
  css/properties/clip-path.json
  css/properties/clip.json
  css/properties/color-adjust.json
  css/properties/color.json
  css/properties/column-count.json
  css/properties/column-fill.json
  css/properties/column-gap.json
  css/properties/column-rule-color.json
  css/properties/column-rule-style.json
  css/properties/column-rule-width.json
  css/properties/column-rule.json
  css/properties/column-span.json
  css/properties/column-width.json
  css/properties/columns.json
  css/properties/contain-intrinsic-size.json
  css/properties/contain.json
  css/properties/content-visibility.json
  css/properties/content.json
  css/properties/counter-increment.json
  css/properties/counter-reset.json
  css/properties/counter-set.json
  css/properties/cursor.json
  css/properties/custom-property.json
Labels: data:css :art:

#9482 iOS Safari -> Safari on iOS
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#9480 Update SVGGeometryElement's isPointIn* Edge / Firefox data
  api/SVGGeometryElement.json
Labels: data:api :rabbit2:

#9491 Document getTransports availability in Chrome as of v74
  api/AuthenticatorAttestationResponse.json
Labels: data:api :rabbit2:

#9433 Fix descriptions and Safari versions for canvas Path2D overloads
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9383 Put navigator.permissions.request/requestAll/revoke behind a flag
  api/Permissions.json
Labels: data:api :rabbit2:

#9374 Fix compat notes for Firefox of permissions.request
  webextensions/api/permissions.json
Labels: data:webext :game_die:

#7376 complex selector support
  css/selectors/not.json
Labels: data:css :art:

#7311 Sync deprecation flag from MDN, phase 2
  api/BaseAudioContext.json
  api/CanvasRenderingContext2D.json
  api/CloseEvent.json
  api/DataTransfer.json
  api/DeviceProximityEvent.json
  api/FileReaderSync.json
  api/GlobalEventHandlers.json
  api/MerchantValidationEvent.json
  api/Node.json
  api/PaymentCurrencyAmount.json
  api/PaymentRequest.json
  api/Permissions.json
  api/RTCIceCandidatePairStats.json
  api/TrackDefault.json
  api/TrackDefaultList.json
  api/URLUtilsReadOnly.json
  api/UserProximityEvent.json
  api/Window.json
Labels: data:api :rabbit2:

#9466 Prepare release v3.2.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: dependencies :chains:, docs :writing_hand:, infra :building_construction:

#9456 Add safelisted cors header subfeature
  http/headers/content-length.json
Labels: data:http :mountain_cableway:

#9455 Fix up FF-Android, opera, safari pointerevents
  api/Document.json
  api/GlobalEventHandlers.json
  api/HTMLElement.json
Labels: data:api :rabbit2:

#9371 Mark Intl.NumberFormat support partial in Safari
  javascript/builtins/intl/NumberFormat.json
Labels: data:js :pager:

#9527 Add spec_url for D to G CSS properties
  css/properties/direction.json
  css/properties/display.json
  css/properties/empty-cells.json
  css/properties/filter.json
  css/properties/float.json
  css/properties/font-family.json
  css/properties/font-feature-settings.json
  css/properties/font-kerning.json
  css/properties/font-language-override.json
  css/properties/font-optical-sizing.json
  css/properties/font-size-adjust.json
  css/properties/font-size.json
  css/properties/font-stretch.json
  css/properties/font-style.json
  css/properties/font-synthesis.json
  css/properties/font-variant-caps.json
  css/properties/font-variant-east-asian.json
  css/properties/font-variant-ligatures.json
  css/properties/font-variant-numeric.json
  css/properties/font-variant-position.json
  css/properties/font-variant.json
  css/properties/font-variation-settings.json
  css/properties/font-weight.json
  css/properties/font.json
  css/properties/forced-color-adjust.json
  css/properties/gap.json
  css/properties/grid-area.json
  css/properties/grid-auto-columns.json
  css/properties/grid-auto-flow.json
  css/properties/grid-auto-rows.json
  css/properties/grid-column-end.json
  css/properties/grid-column-start.json
  css/properties/grid-column.json
  css/properties/grid-row-end.json
  css/properties/grid-row-start.json
  css/properties/grid-row.json
  css/properties/grid-template-areas.json
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
  css/properties/grid-template.json
  css/properties/grid.json
Labels: data:css :art:

#9531 Add spec_url for m* CSS properties
  css/properties/margin-block-end.json
  css/properties/margin-block-start.json
  css/properties/margin-block.json
  css/properties/margin-bottom.json
  css/properties/margin-inline-end.json
  css/properties/margin-inline-start.json
  css/properties/margin-inline.json
  css/properties/margin-top.json
  css/properties/margin-trim.json
  css/properties/margin.json
  css/properties/mask-border-outset.json
  css/properties/mask-border-repeat.json
  css/properties/mask-border-slice.json
  css/properties/mask-border-source.json
  css/properties/mask-border-width.json
  css/properties/mask-border.json
  css/properties/mask-clip.json
  css/properties/mask-composite.json
  css/properties/mask-image.json
  css/properties/mask-mode.json
  css/properties/mask-origin.json
  css/properties/mask-position.json
  css/properties/mask-repeat.json
  css/properties/mask-size.json
  css/properties/mask-type.json
  css/properties/mask.json
  css/properties/masonry-auto-flow.json
  css/properties/math-style.json
  css/properties/max-block-size.json
  css/properties/max-height.json
  css/properties/max-inline-size.json
  css/properties/max-width.json
  css/properties/min-block-size.json
  css/properties/min-height.json
  css/properties/min-inline-size.json
  css/properties/mix-blend-mode.json
Labels: data:css :art:

#9533 Add spec_url for P to R CSS properties
  css/properties/padding-block-end.json
  css/properties/padding-block-start.json
  css/properties/padding-block.json
  css/properties/padding-bottom.json
  css/properties/padding-inline-end.json
  css/properties/padding-inline-start.json
  css/properties/padding-inline.json
  css/properties/padding-left.json
  css/properties/padding-right.json
  css/properties/padding-top.json
  css/properties/padding.json
  css/properties/page-break-after.json
  css/properties/page-break-before.json
  css/properties/page-break-inside.json
  css/properties/paint-order.json
  css/properties/perspective-origin.json
  css/properties/perspective.json
  css/properties/place-content.json
  css/properties/place-items.json
  css/properties/place-self.json
  css/properties/pointer-events.json
  css/properties/position.json
  css/properties/quotes.json
  css/properties/resize.json
  css/properties/right.json
  css/properties/rotate.json
  css/properties/row-gap.json
  css/properties/ruby-align.json
  css/properties/ruby-position.json
Labels: data:css :art:

#9494 Clean up notes for theme-color
  html/elements/meta.json
Labels: data:html :page_facing_up:

#9492 Revise notes for historic window.close() behavior
  api/Window.json
Labels: data:api :rabbit2:

#9495 Rewrite Path2D EdgeHTML-only note (and change Path2D status)
  api/Path2D.json
Labels: data:api :rabbit2:

#9496 Link to Firefox bug for lazy-loading iframes
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#9504 Mirror api.AuthenticatorAttestationResponse.getTransports
  api/AuthenticatorAttestationResponse.json
Labels: data:api :rabbit2:

#9505 Remove WebAuthn support for WebView
  api/AuthenticatorAssertionResponse.json
  api/AuthenticatorAttestationResponse.json
  api/AuthenticatorResponse.json
  api/PublicKeyCredential.json
Labels: data:api :rabbit2:

#9529 Add spec_url for H to L CSS properties
  css/properties/hanging-punctuation.json
  css/properties/height.json
  css/properties/hyphens.json
  css/properties/image-orientation.json
  css/properties/image-rendering.json
  css/properties/ime-mode.json
  css/properties/initial-letter-align.json
  css/properties/initial-letter.json
  css/properties/inline-size.json
  css/properties/inset-block-end.json
  css/properties/inset-block-start.json
  css/properties/inset-block.json
  css/properties/inset-inline-end.json
  css/properties/inset-inline-start.json
  css/properties/inset-inline.json
  css/properties/inset.json
  css/properties/isolation.json
  css/properties/justify-content.json
  css/properties/justify-items.json
  css/properties/justify-self.json
  css/properties/justify-tracks.json
  css/properties/left.json
  css/properties/letter-spacing.json
  css/properties/line-break.json
  css/properties/line-height-step.json
  css/properties/line-height.json
  css/properties/list-style-image.json
  css/properties/list-style-position.json
  css/properties/list-style-type.json
  css/properties/list-style.json
Labels: data:css :art:

#9532 Add spec_url for o* CSS properties
  css/properties/object-fit.json
  css/properties/object-position.json
  css/properties/offset-anchor.json
  css/properties/offset-distance.json
  css/properties/offset-path.json
  css/properties/offset-position.json
  css/properties/offset-rotate.json
  css/properties/offset.json
  css/properties/opacity.json
  css/properties/orphans.json
  css/properties/outline-color.json
  css/properties/outline-offset.json
  css/properties/outline-style.json
  css/properties/outline-width.json
  css/properties/outline.json
  css/properties/overflow-anchor.json
  css/properties/overflow-block.json
  css/properties/overflow-clip-margin.json
  css/properties/overflow-inline.json
  css/properties/overflow-wrap.json
  css/properties/overflow-x.json
  css/properties/overflow-y.json
  css/properties/overflow.json
  css/properties/overscroll-behavior-block.json
  css/properties/overscroll-behavior-inline.json
  css/properties/overscroll-behavior-x.json
  css/properties/overscroll-behavior-y.json
  css/properties/overscroll-behavior.json
Labels: data:css :art:

#9513 Mark parts of Web Audio API as shipping in Chrome 14 (not 10)
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#9515 Mirror Web Audio API shipping in Firefox 25 to Android (was 26)
  api/AnalyserNode.json
  api/AudioBuffer.json
  api/AudioBufferSourceNode.json
  api/AudioContext.json
  api/AudioDestinationNode.json
  api/AudioListener.json
  api/AudioNode.json
  api/AudioParam.json
  api/AudioProcessingEvent.json
  api/BaseAudioContext.json
  api/BiquadFilterNode.json
  api/ChannelMergerNode.json
  api/ChannelSplitterNode.json
  api/ConvolverNode.json
  api/DelayNode.json
  api/DynamicsCompressorNode.json
  api/GainNode.json
  api/MediaElementAudioSourceNode.json
  api/MediaStreamAudioDestinationNode.json
  api/MediaStreamAudioSourceNode.json
  api/OfflineAudioCompletionEvent.json
  api/OfflineAudioContext.json
  api/OscillatorNode.json
  api/PannerNode.json
  api/WaveShaperNode.json
Labels: data:api :rabbit2:

#9516 Add separate entries from BaseAudioContext before it existed
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#9545 Add spec_url for s* CSS properties
  css/properties/scale.json
  css/properties/scroll-behavior.json
  css/properties/scroll-margin-block-end.json
  css/properties/scroll-margin-block-start.json
  css/properties/scroll-margin-block.json
  css/properties/scroll-margin-bottom.json
  css/properties/scroll-margin-inline-end.json
  css/properties/scroll-margin-inline-start.json
  css/properties/scroll-margin-inline.json
  css/properties/scroll-margin-left.json
  css/properties/scroll-margin-right.json
  css/properties/scroll-margin-top.json
  css/properties/scroll-margin.json
  css/properties/scroll-padding-block-end.json
  css/properties/scroll-padding-block-start.json
  css/properties/scroll-padding-block.json
  css/properties/scroll-padding-bottom.json
  css/properties/scroll-padding-inline-end.json
  css/properties/scroll-padding-inline-start.json
  css/properties/scroll-padding-inline.json
  css/properties/scroll-padding-left.json
  css/properties/scroll-padding-right.json
  css/properties/scroll-padding-top.json
  css/properties/scroll-padding.json
  css/properties/scroll-snap-align.json
  css/properties/scroll-snap-stop.json
  css/properties/scroll-snap-type.json
  css/properties/scrollbar-color.json
  css/properties/scrollbar-gutter.json
  css/properties/scrollbar-width.json
  css/properties/shape-image-threshold.json
  css/properties/shape-margin.json
  css/properties/shape-outside.json
Labels: data:css :art:

#9452 Mark more of the Web Animations API as shipped in Firefox for Android
  api/AnimationTimeline.json
  api/DocumentTimeline.json
  api/Element.json
  api/KeyframeEffect.json
Labels: data:api :rabbit2:

#9546 Add spec_url for t* CSS properties
  css/properties/tab-size.json
  css/properties/table-layout.json
  css/properties/text-align-last.json
  css/properties/text-align.json
  css/properties/text-combine-upright.json
  css/properties/text-decoration-color.json
  css/properties/text-decoration-line.json
  css/properties/text-decoration-skip-ink.json
  css/properties/text-decoration-skip.json
  css/properties/text-decoration-style.json
  css/properties/text-decoration-thickness.json
  css/properties/text-decoration.json
  css/properties/text-emphasis-color.json
  css/properties/text-emphasis-position.json
  css/properties/text-emphasis-style.json
  css/properties/text-emphasis.json
  css/properties/text-indent.json
  css/properties/text-justify.json
  css/properties/text-orientation.json
  css/properties/text-overflow.json
  css/properties/text-rendering.json
  css/properties/text-shadow.json
  css/properties/text-size-adjust.json
  css/properties/text-transform.json
  css/properties/text-underline-offset.json
  css/properties/text-underline-position.json
  css/properties/top.json
  css/properties/touch-action.json
  css/properties/transform-box.json
  css/properties/transform-origin.json
  css/properties/transform-style.json
  css/properties/transform.json
  css/properties/transition-delay.json
  css/properties/transition-duration.json
  css/properties/transition-property.json
  css/properties/transition-timing-function.json
  css/properties/transition.json
  css/properties/translate.json
Labels: data:css :art:

#9547 Add spec_url for U to Z CSS properties
  css/properties/unicode-bidi.json
  css/properties/user-select.json
  css/properties/vertical-align.json
  css/properties/white-space.json
  css/properties/widows.json
  css/properties/width.json
  css/properties/will-change.json
  css/properties/word-break.json
  css/properties/word-spacing.json
  css/properties/writing-mode.json
  css/properties/z-index.json
Labels: data:css :art:

#9479 Merge duplicate SVGGeometryElement+SVGPathElement entries
  api/SVGGeometryElement.json
  api/SVGPathElement.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9352 SameSite: Add schemeful, corrections, statuses for Android browsers
  http/headers/set-cookie.json
Labels: data:http :mountain_cableway:

#9550 Update CSS border-spacing spec URL to drafts.csswg.org
  css/properties/border-spacing.json
Labels: data:css :art:

#9552 Fix CSS font-variant spec URL
  css/at-rules/font-face.json
Labels: data:css :art:

#9551 Update spec URL for CSS grid media feature
  css/at-rules/media.json
Labels: data:css :art:

#9553 Drop redundant CSS text-align spec URL
  css/properties/text-align.json
Labels: data:css :art:

#9554 Update CSS shadow-parts "part" attribute spec URL
  html/global_attributes.json
Labels: data:html :page_facing_up:

#9520 Use relative paths in markdown files
  GOVERNANCE.md
  README.md
  RELEASE_NOTES.md
  docs/contributing.md
  docs/data-guidelines.md
  docs/migrations.md
  docs/testing.md
  docs/using-confluence.md
  schemas/browsers-schema.md
  schemas/compat-data-schema.md
Labels: docs :writing_hand:, schema :gear:

#9541 Firefox Android -> Firefox for Android
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#9489 adding color-mix()
  css/types/color.json
Labels: data:css :art:

#9406 Adding asyncgenerator and asyncgeneratorfunction
  javascript/builtins/AsyncGenerator.json
  javascript/builtins/AsyncGeneratorFunction.json
  javascript/operators/async_function_star.json
  javascript/statements.json
Labels: data:js :pager:

#9392 api.Navigator.share - Note Firefox for Android's lack of text sharing support
  api/Navigator.json
Labels: data:api :rabbit2:

#9565 Set Attr and related APIs as supported since Safari 1
  api/Attr.json
  api/Element.json
Labels: data:api :rabbit2:

#9561 Remove api.Node.localName/namespaceURI/prefix
  api/Attr.json
  api/Element.json
  api/Node.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9572 Deprecate BluetoothRemoteGATTCharacteristic.writeValue
  api/BluetoothRemoteGATTCharacteristic.json
Labels: data:api :rabbit2:

#9579 Add spec URLs for WebDriver commands
  webdriver/commands/CloseWindow.json
  webdriver/commands/GetElementAttribute.json
  webdriver/commands/GetElementProperty.json
  webdriver/commands/GetElementTagName.json
  webdriver/commands/GetTimeouts.json
  webdriver/commands/GetWindowHandles.json
  webdriver/commands/GetWindowRect.json
  webdriver/commands/NewWindow.json
  webdriver/commands/SetTimeouts.json
  webdriver/commands/SetWindowRect.json
Labels: data:webdriver :racing_car:

#9580 Add XPath/XSLT spec URLs
  xpath/axes/self.json
  xslt/elements/stylesheet.json
Labels: data:xpath :railway_track:, data:xslt :tractor:

#9559 Change branch name in docs to "main"
  GOVERNANCE.md
  docs/contributing.md
  docs/publishing.md
  docs/using-confluence.md
Labels: docs :writing_hand:

#9585 Add CSP spec URLs
  http/headers/content-security-policy.json
Labels: data:http :mountain_cableway:

#9588 Add spec URLs for HTTP methods and status codes
  http/methods.json
  http/status.json
Labels: data:http :mountain_cableway:

#9582 updating fx release version to 87
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#9584 Add A-E HTTP header spec URLs
  http/headers/accept-charset.json
  http/headers/accept-encoding.json
  http/headers/accept-language.json
  http/headers/accept-ranges.json
  http/headers/accept.json
  http/headers/access-control-allow-credentials.json
  http/headers/access-control-allow-headers.json
  http/headers/access-control-allow-methods.json
  http/headers/access-control-allow-origin.json
  http/headers/access-control-expose-headers.json
  http/headers/access-control-max-age.json
  http/headers/access-control-request-headers.json
  http/headers/access-control-request-method.json
  http/headers/age.json
  http/headers/content-encoding.json
  http/headers/content-language.json
  http/headers/content-length.json
  http/headers/content-location.json
  http/headers/content-range.json
  http/headers/content-type.json
  http/headers/cookie.json
  http/headers/cross-origin-embedder-policy.json
  http/headers/cross-origin-opener-policy.json
  http/headers/cross-origin-resource-policy.json
  http/headers/date.json
  http/headers/device-memory.json
  http/headers/dnt.json
  http/headers/early-data.json
  http/headers/etag.json
  http/headers/expect.json
  http/headers/expires.json
Labels: data:http :mountain_cableway:

#9587 Add F-X HTTP header spec URLs
  http/headers/forwarded.json
  http/headers/from.json
  http/headers/host.json
  http/headers/if-match.json
  http/headers/if-modified-since.json
  http/headers/if-none-match.json
  http/headers/if-range.json
  http/headers/if-unmodified-since.json
  http/headers/keep-alive.json
  http/headers/last-modified.json
  http/headers/location.json
  http/headers/nel.json
  http/headers/origin.json
  http/headers/pragma.json
  http/headers/proxy-authenticate.json
  http/headers/public-key-pins-report-only.json
  http/headers/public-key-pins.json
  http/headers/range.json
  http/headers/referer.json
  http/headers/referrer-policy.json
  http/headers/retry-after.json
  http/headers/save-data.json
  http/headers/sec-fetch-dest.json
  http/headers/sec-fetch-mode.json
  http/headers/sec-fetch-site.json
  http/headers/sec-fetch-user.json
  http/headers/server-timing.json
  http/headers/server.json
  http/headers/set-cookie.json
  http/headers/te.json
  http/headers/timing-allow-origin.json
  http/headers/tk.json
  http/headers/trailer.json
  http/headers/transfer-encoding.json
  http/headers/upgrade-insecure-requests.json
  http/headers/upgrade.json
  http/headers/user-agent.json
  http/headers/vary.json
  http/headers/via.json
  http/headers/warning.json
  http/headers/www-authenticate.json
  http/headers/x-content-type-options.json
Labels: data:http :mountain_cableway:

#9592 Disambiguate function expression and statement feature descriptions
  javascript/operators/async_function_.json
  javascript/operators/async_generator_function.json
  javascript/operators/function.json
  javascript/operators/generator_function.json
  javascript/statements.json
Labels: data:js :pager:, needs-release-note :newspaper:

#9586 Add Permissions Policy (aka Feature Policy) spec URLs
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#9604 Drop Permissions Policy spec URL for XHR
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#9594 Reconcile "Trailing comma" features
  javascript/grammar.json
  javascript/operators/function.json
Labels: data:js :pager:

#9605 Mark Permissions Policy for XHR non-standard
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#9603 Mark BatteryManager as never shipped in Safari iOS
  api/BatteryManager.json
Labels: data:api :rabbit2:

#9601 Update when webkitConvertPointFromNodeToPage/PageToNode were removed
  api/Window.json
Labels: data:api :rabbit2:

#9602 Update when initProgressEvent was removed
  api/ProgressEvent.json
Labels: data:api :rabbit2:

#9510 Testing shows SVG <set> works on FF desktop/android
  svg/elements/set.json
Labels: data:svg :paintbrush:

#9590 Make Android data for BaseAudioContext more consistent
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#9599 Remove duplicate AudioScheduledSourceNode start/stop/onended entries
  api/AudioBufferSourceNode.json
  api/AudioScheduledSourceNode.json
  api/ConstantSourceNode.json
  api/OscillatorNode.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9608 Add Opera for Android 62
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#9612 Update webkitConvertPointFromNodeToPage/PageToNode again
  api/Window.json
Labels: data:api :rabbit2:

#9514 Add entries for webkitOfflineAudioContext
  api/OfflineAudioContext.json
Labels: data:api :rabbit2:

#9578 Mark link[as] Chrome support partial, with note
  html/elements/link.json
Labels: data:html :page_facing_up:

#9576 Update Safari support for unicode-bidi
  css/properties/unicode-bidi.json
Labels: data:css :art:

#9407 css.at-rules.media.prefers-color-scheme - Firefox Android fixes #9171
  css/at-rules/media.json
Labels: data:css :art:

#9549 Prepare release v3.2.2
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: dependencies :chains:, docs :writing_hand:, infra :building_construction:

#9540 Update the note of `Element: paste event` and `DragEvent`
  api/DragEvent.json
  api/Element.json
Labels: data:api :rabbit2:

#9562 api.EventTarget.addEventListener.options - add signal option
  api/EventTarget.json
Labels: data:api :rabbit2:

#9614 Add more Permssions Policy spec URLs
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#9617 Cut obsolete/superfluous Content-Encoding spec URL
  http/headers/content-encoding.json
Labels: data:http :mountain_cableway:

#9637 Update Samsung Internet support for Promise.allSettled()
  javascript/builtins/Promise.json
Labels: data:js :pager:

#9606 Add originAgentCluster attribute (enabled in Chrome 88)
  api/Window.json
Labels: data:api :rabbit2:

#9648 Add AbortSignal.abort() static method
  api/AbortSignal.json
Labels: data:api :rabbit2:

#9671 Drop object[typemustmatch] and typeMustMatch IDL attribute
  api/HTMLObjectElement.json
  html/elements/object.json
Labels: data:api :rabbit2:, data:html :page_facing_up:, needs-release-note :newspaper:

#9622 Updates api.Blob.text in Opera Browser
  api/Blob.json
Labels: data:api :rabbit2:

#9678 Add missing entries for Firefox for Android
  api/BroadcastChannel.json
  api/IntersectionObserver.json
  api/IntersectionObserverEntry.json
Labels: data:api :rabbit2:

#9677 Add missing entries for Chrome for Android
  api/CDATASection.json
  api/HTMLMeterElement.json
  api/Text.json
Labels: data:api :rabbit2:

#9667 Update -webkit-mask-attachment removal versions
  css/properties/-webkit-mask-attachment.json
Labels: data:css :art:

#9665 Update WebView Android versions for -webkit-prefixed at-rules
  css/at-rules/media.json
Labels: data:css :art:

#9664 Mark WebKitMutationObserver as still supported
  api/MutationObserver.json
Labels: data:api :rabbit2:

#9661 Remove prefix for element.requestFullscreen() in Presto
  api/Element.json
Labels: data:api :rabbit2:

#9654 Remove Firefox flags for custom elements
  api/CustomElementRegistry.json
  api/Window.json
  html/global_attributes.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#9670 Presentation API mark version removal
  api/Navigator.json
  api/Presentation.json
  api/PresentationAvailability.json
  api/PresentationConnection.json
  api/PresentationConnectionAvailableEvent.json
  api/PresentationConnectionCloseEvent.json
  api/PresentationConnectionList.json
  api/PresentationReceiver.json
  api/PresentationRequest.json
Labels: data:api :rabbit2:
