Repository mdn/browser-compat-data, pull requests merged in 2021-02, with the labels that each got.

#8764 Add HTML global attribute nonce
  html/global_attributes.json
Labels: data:html :page_facing_up:

#8899 Remove several needless "Enabled by default" notes
  api/Window.json
  css/properties/border-inline-end-color.json
  css/properties/border-inline-end-style.json
  css/properties/border-inline-end-width.json
  css/properties/border-inline-start-color.json
  css/properties/border-inline-start-style.json
  css/properties/border-inline-start-width.json
Labels: data:api :rabbit2:, data:css :art:

#8783 Add worker_support info for CacheStorage
  api/CacheStorage.json
Labels: data:api :rabbit2:

#8869 Remove Chromium 89 from String.at.
  javascript/builtins/Array.json
  javascript/builtins/String.json
  javascript/builtins/TypedArray.json
Labels: data:js :pager:

#7303 Update Safari data for api.HTMLElement.nonce
  api/HTMLElement.json
Labels: data:api :rabbit2:

#8842 Add spec_url for CSS types A-F
  css/types/angle-percentage.json
  css/types/angle.json
  css/types/attr.json
  css/types/basic-shape.json
  css/types/blend-mode.json
  css/types/calc.json
  css/types/clamp.json
  css/types/color.json
  css/types/counter.json
  css/types/counters.json
  css/types/dimension.json
  css/types/easing-function.json
  css/types/flex.json
  css/types/frequency-percentage.json
  css/types/frequency.json
Labels: data:css :art:

#8932 Add data for Set.prototype.keys (alias of values)
  javascript/builtins/Set.json
Labels: data:js :pager:

#8841 Add spec_url for CSS at-rules
  css/at-rules/charset.json
  css/at-rules/counter-style.json
  css/at-rules/font-face.json
  css/at-rules/font-feature-values.json
  css/at-rules/import.json
  css/at-rules/keyframes.json
  css/at-rules/media.json
  css/at-rules/namespace.json
  css/at-rules/page.json
  css/at-rules/supports.json
  css/at-rules/viewport.json
Labels: data:css :art:

#8949 Opera 74 is released
  browsers/opera.json
Labels: data:browsers :earth_africa:

#8963 Fix inaccuracy in Opera support for FinalizationRegistry
  javascript/builtins/FinalizationRegistry.json
Labels: data:js :pager:

#8803 Add Chrome support for overflow-clip-margin and overflow: clip
  css/properties/overflow-clip-margin.json
  css/properties/overflow.json
Labels: data:css :art:

#8823 Updates CSSStyleSheet() constructor compatability for chromium
  api/CSSStyleSheet.json
Labels: data:api :rabbit2:

#8850 Add FF android webshare support
  api/Navigator.json
Labels: data:api :rabbit2:

#8925 Update DocumentFragment.json
  api/DocumentFragment.json
Labels: data:api :rabbit2:

#8934 Remove api.WEBGL_color_buffer_float.RGB32F_EXT constant
  api/WEBGL_color_buffer_float.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#8898 Update windows.create BCD to indicate focused:false is currently ignored
  webextensions/api/windows.json
Labels: data:webext :game_die:

#8951 Update Chrome/Safari versions for api.CSSStyleSheet.insertRule.optional_index
  api/CSSStyleSheet.json
Labels: data:api :rabbit2:

#8926 Cache: Add worker support info
  api/Cache.json
  api/CacheStorage.json
Labels: data:api :rabbit2:

#8935 Intl.DisplayNames has been added to FF86
  javascript/builtins/intl/DisplayNames.json
Labels: data:js :pager:

#8953 Add Safari versions for HTMLLinkElement API properties
  api/HTMLLinkElement.json
Labels: data:api :rabbit2:

#8937 Add Safari and Safari iOS versions for skipWaiting
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#8942 Update data for CSS types min, max, and clamp on Android
  css/types/clamp.json
  css/types/max.json
  css/types/min.json
Labels: data:css :art:

#8943 Update Edge data for :where()
  css/selectors/where.json
Labels: data:css :art:

#8960 Mark -o-prefixed support from Presto as removed in Opera 15/14
  api/AnimationEvent.json
  css/properties/object-fit.json
  css/properties/object-position.json
  css/properties/tab-size.json
  css/properties/text-overflow.json
  css/properties/transform-origin.json
Labels: data:api :rabbit2:, data:css :art:

#8954 Add Safari versions for MimeType API
  api/MimeType.json
Labels: data:api :rabbit2:

#8955 Add Safari versions for api.SVGMaskElement.mask[Content]Units
  api/SVGMaskElement.json
Labels: data:api :rabbit2:

#8961 Mark object-fit/object-position as supported in Chrome 32 (not 31)
  css/properties/object-fit.json
  css/properties/object-position.json
Labels: data:css :art:

#8962 Better reflect EdgeHTML's partial support for object-fit/object-position
  css/properties/object-fit.json
  css/properties/object-position.json
Labels: data:css :art:

#8990 Add Safari and Safari iOS versions for Clients
  api/Clients.json
Labels: data:api :rabbit2:

#8973 Add IE/Edge versions for HTMLBaseFontElement API
  api/HTMLBaseFontElement.json
Labels: data:api :rabbit2:

#8974 Add IE/Edge versions for DocumentOrShadowRoot API
  api/DocumentOrShadowRoot.json
Labels: data:api :rabbit2:

#8976 Update note for Firefox support for CSS flex-direction with reverse
  css/properties/flex-direction.json
Labels: data:css :art:

#8975 Add IE/Edge versions for GlobalEventHandlers API
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#8977 Add IE/Edge versions for HTMLDirectoryElement API
  api/HTMLDirectoryElement.json
Labels: data:api :rabbit2:

#8978 Add IE/Edge versions for HTMLDocument API
  api/HTMLDocument.json
Labels: data:api :rabbit2:

#8979 Add IE/Edge versions for HTMLElement API
  api/HTMLElement.json
Labels: data:api :rabbit2:

#8980 Add IE/Edge versions for HTMLEmbedElement API
  api/HTMLEmbedElement.json
Labels: data:api :rabbit2:

#8981 Add IE/Edge versions for HTMLHRElement API
  api/HTMLHRElement.json
Labels: data:api :rabbit2:

#8982 Add IE/Edge versions for HTMLHeadElement API
  api/HTMLHeadElement.json
Labels: data:api :rabbit2:

#8983 Add IE/Edge versions for HTMLHtmlElement API
  api/HTMLHtmlElement.json
Labels: data:api :rabbit2:

#8984 Add IE/Edge versions for HTMLImageElement API
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#8986 Add IE/Edge versions for NamedNodeMap API
  api/NamedNodeMap.json
Labels: data:api :rabbit2:

#8987 Add IE/Edge versions for HTMLInputElement API
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#8988 Add IE/Edge versions for HTMLLIElement API
  api/HTMLLIElement.json
Labels: data:api :rabbit2:

#8989 Add IE/Edge versions for HTMLLinkElement API
  api/HTMLLinkElement.json
Labels: data:api :rabbit2:

#8991 Add IE/Edge versions for HTMLMarqueeElement API
  api/HTMLMarqueeElement.json
Labels: data:api :rabbit2:

#8992 Add IE/Edge versions for HTMLMetaElement API
  api/HTMLMetaElement.json
Labels: data:api :rabbit2:

#8993 Add IE/Edge versions for HTMLOptionElement API
  api/HTMLOptionElement.json
Labels: data:api :rabbit2:

#8994 Add IE/Edge versions for HTMLSelectElement API
  api/HTMLSelectElement.json
Labels: data:api :rabbit2:

#8995 Add IE/Edge versions for HTMLTextAreaElement API
  api/HTMLTextAreaElement.json
Labels: data:api :rabbit2:

#8952 Add Safari version for api.HTMLImageElement.lowsrc
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#8998 Add IE/Edge versions for NavigatorID API
  api/NavigatorID.json
Labels: data:api :rabbit2:

#8999 Add IE/Edge versions for NavigatorOnLine API
  api/NavigatorOnLine.json
Labels: data:api :rabbit2:

#9001 Add IE/Edge versions for Node API
  api/Node.json
Labels: data:api :rabbit2:

#9002 Add IE/Edge versions for NodeList API
  api/NodeList.json
Labels: data:api :rabbit2:

#9003 Add IE/Edge versions for Plugin API
  api/Plugin.json
Labels: data:api :rabbit2:

#9004 Add IE/Edge versions for PluginArray API
  api/PluginArray.json
Labels: data:api :rabbit2:

#9005 Add IE/Edge versions for Screen API
  api/Screen.json
Labels: data:api :rabbit2:

#9006 Add IE/Edge versions for StyleSheetList API
  api/StyleSheetList.json
Labels: data:api :rabbit2:

#9008 Add IE/Edge versions for api.Window.closed
  api/Window.json
Labels: data:api :rabbit2:

#9000 Add IE/Edge versions for NavigatorPlugins API
  api/NavigatorPlugins.json
Labels: data:api :rabbit2:

#8785 Clear-Site-Data requires secure context
  http/headers/clear-site-data.json
Labels: data:http :mountain_cableway:

#8784 Add worker_support to PushManager
  api/PushManager.json
Labels: data:api :rabbit2:

#8972 html.elements.legend: Remove range if parent is at same version
  html/elements/legend.json
Labels: data:html :page_facing_up:

#8921 Add the ::target-text pseudo
  css/selectors/target-text.json
Labels: data:css :art:

#8948 css.properties.list-style-image - Add a note for Firefox <image> support
  css/properties/list-style-image.json
Labels: data:css :art:

#8877 Rename :-webkit-autofill to :autofill
  css/selectors/-webkit-autofill.json
  css/selectors/autofill.json
Labels: data:css :art:, needs-release-note :newspaper:

#8996 Update Safari version for arrayBuffer()
  api/Blob.json
Labels: data:api :rabbit2:

#8853 Add worker_support for XMLHttpRequest
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#8886 CanvasRenderingContext2d createConicGradient
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#9017 Update picture-in-picture feature policy for Chrome
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#9043 Fix mirroring of Chrome -> WebView for css.selectors.hover
  css/selectors/hover.json
Labels: data:css :art:

#9042 Fix mirroring of Chrome -> WebView for css.properties.word-spacing
  css/properties/word-spacing.json
Labels: data:css :art:

#9041 Fix Opera Android version for min-width CSS property
  css/properties/min-width.json
Labels: data:css :art:

#9040 Fix mirroring of Chrome -> WebView for css.properties.background-repeat
  css/properties/background-repeat.json
Labels: data:css :art:

#8970 [api] Remove range if parent is at same version
  api/AudioScheduledSourceNode.json
  api/HTMLDetailsElement.json
  api/HTMLLegendElement.json
  api/HTMLMenuElement.json
  api/Navigator.json
  api/SharedWorkerGlobalScope.json
  api/ValidityState.json
Labels: data:api :rabbit2:

#9049 details for the different types in URLSearchParams.constructor
  api/URLSearchParams.json
Labels: data:api :rabbit2:

#7555 Add time pseudo-class selectors (:current, :future:, :past)
  css/selectors/future.json
  css/selectors/past.json
Labels: data:css :art:

#9052 html.elements.video: Fix crossorigin support for Firefox
  html/elements/video.json
Labels: data:html :page_facing_up:

#9026 Mark Animation constructor and members as shipped in Safari 13.1/13.4
  api/Animation.json
Labels: data:api :rabbit2:

#8965 Mark three-value syntax for object-position as removed everywhere
  css/properties/object-position.json
Labels: data:css :art:

#9060 api.HTMLCanvasElement.getContext.powerPreference works on macOS only
  api/HTMLCanvasElement.json
Labels: data:api :rabbit2:

#8933 Flatten HTMLHyperlinkElementUtils mixin to HTMLAnchorElement/HTMLAreaElement
  api/_mixins/HTMLHyperlinkElementUtils__HTMLAnchorElement.json
  api/_mixins/HTMLHyperlinkElementUtils__HTMLAreaElement.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9016 Add a guideline for mixins
  docs/data-guidelines.md
Labels: docs :writing_hand:, needs-release-note :newspaper:

#9048 Demix Slottable
  api/Element.json
  api/Slottable.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9046 Remove CredentialUserData mixin
  api/Credential.json
  api/CredentialUserData.json
  api/FederatedCredential.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#7888 Added in manifest info
  html/manifest/description.json
  html/manifest/display.json
  html/manifest/icons.json
  html/manifest/name.json
  html/manifest/orientation.json
  html/manifest/scope.json
  html/manifest/short_name.json
  html/manifest/start_url.json
  html/manifest/theme_color.json
Labels: data:html :page_facing_up:

#9066 fix: window.scrollTo safari compatibility
  api/Window.json
Labels: data:api :rabbit2:

#9045 Demix DocumentOrShadowRoot
  api/ShadowRoot.json
  api/_mixins/DocumentOrShadowRoot__Document.json
  api/_mixins/DocumentOrShadowRoot__ShadowRoot.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#8967 Add IE versions for Attr API
  api/Attr.json
Labels: data:api :rabbit2:

#7260 Update Chromium data for visibilityState and visibilitychange event
  api/Document.json
Labels: data:api :rabbit2:

#9007 Add IE versions for CharacterData/Text API
  api/CharacterData.json
  api/Text.json
Labels: data:api :rabbit2:

#9080 Mirror Safari -> Safari iOS for HTMLElement, HTMLLIElement, ImageData
  api/HTMLElement.json
  api/HTMLLIElement.json
  api/ImageData.json
Labels: data:api :rabbit2:

#9081 Add Edge versions for Attr API
  api/Attr.json
Labels: data:api :rabbit2:

#9089 Add Edge versions for DeviceLightEvent API
  api/DeviceLightEvent.json
Labels: data:api :rabbit2:

#9085 Add Edge versions for Cache API
  api/Cache.json
Labels: data:api :rabbit2:

#9088 Update Edge versions for CustomEvent API
  api/CustomEvent.json
Labels: data:api :rabbit2:

#9091 Add Edge versions for External API
  api/External.json
Labels: data:api :rabbit2:

#9090 Add Edge versions for ExtendableMessageEvent API
  api/ExtendableMessageEvent.json
Labels: data:api :rabbit2:

#9092 Add Edge versions for Headers API
  api/Headers.json
Labels: data:api :rabbit2:

#9093 Add Edge versions for api.ImageData.ImageData
  api/ImageData.json
Labels: data:api :rabbit2:

#9095 Add Edge versions for MediaKeyMessageEvent API
  api/MediaKeyMessageEvent.json
Labels: data:api :rabbit2:

#9096 Add Edge versions for MediaKeys API
  api/MediaKeys.json
Labels: data:api :rabbit2:

#9097 Add Edge versions for MediaEncryptedEvent API
  api/MediaEncryptedEvent.json
Labels: data:api :rabbit2:

#9098 Add Edge versions for MediaKeySession API
  api/MediaKeySession.json
Labels: data:api :rabbit2:

#9099 Add Edge versions for MediaKeyStatusMap API
  api/MediaKeyStatusMap.json
Labels: data:api :rabbit2:

#9100 Add Edge versions for MediaCapabilities API
  api/MediaCapabilities.json
Labels: data:api :rabbit2:

#9101 Add Edge versions for MediaError API
  api/MediaError.json
Labels: data:api :rabbit2:

#9102 Add Edge versions for MediaKeySystemAccess API
  api/MediaKeySystemAccess.json
Labels: data:api :rabbit2:

#9116 Add Edge versions for api.Range.Range
  api/Range.json
Labels: data:api :rabbit2:

#9109 Add Edge versions for MediaStreamTrackEvent API
  api/MediaStreamTrackEvent.json
Labels: data:api :rabbit2:

#9108 Add Edge versions for MediaStreamEvent API
  api/MediaStreamEvent.json
Labels: data:api :rabbit2:

#9106 Add Edge versions for MediaStream API
  api/MediaStream.json
Labels: data:api :rabbit2:

#9105 Add Edge versions for MediaSession API
  api/MediaSession.json
Labels: data:api :rabbit2:

#9110 Add Edge versions for OES_element_index_uint API
  api/OES_element_index_uint.json
Labels: data:api :rabbit2:

#9112 Add Edge versions for Path2D API
  api/Path2D.json
Labels: data:api :rabbit2:

#9115 Add Edge versions for RTCSessionDescription API
  api/RTCSessionDescription.json
Labels: data:api :rabbit2:

#9065 Demix NonDocumentTypeChildNode
  api/CharacterData.json
  api/Element.json
  api/NonDocumentTypeChildNode.json
Labels: data:api :rabbit2:

#9058 Update Firefox Clipboard API support
  api/Clipboard.json
  api/ClipboardItem.json
Labels: data:api :rabbit2:

#9064 Remix ParentNode
  api/Document.json
  api/DocumentFragment.json
  api/Element.json
  api/ParentNode.json
  api/_mixins/ParentNode__Document.json
  api/_mixins/ParentNode__DocumentFragment.json
  api/_mixins/ParentNode__Element.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9061 Remove subfeatures of api.Element.getBoundingClientRect
  api/Element.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9134 Split IE suppport for element.children into two (partial support <9)
  api/_mixins/ParentNode__Element.json
Labels: data:api :rabbit2:

#9086 Add Edge versions for ChannelMergerNode API
  api/ChannelMergerNode.json
Labels: data:api :rabbit2:

#9087 Add Edge versions for ChannelSplitterNode API
  api/ChannelSplitterNode.json
Labels: data:api :rabbit2:

#9094 Add Edge versions for MediaElementAudioSourceNode API
  api/MediaElementAudioSourceNode.json
Labels: data:api :rabbit2:

#9082 Add Edge versions for AudioListener API
  api/AudioListener.json
Labels: data:api :rabbit2:

#9103 Add Edge versions for api.MediaQueryList.onchange
  api/MediaQueryList.json
Labels: data:api :rabbit2:

#9104 Add Edge versions for MediaQueryListEvent API
  api/MediaQueryListEvent.json
Labels: data:api :rabbit2:

#9107 Add Edge versions for MediaStreamAudioSourceNode API
  api/MediaStreamAudioSourceNode.json
Labels: data:api :rabbit2:

#9114 Add Edge versions for RTCPeerConnection API
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#9069 Set explicit version for api.SharedWorker.SharedWorker.name_option
  api/SharedWorker.json
Labels: data:api :rabbit2:

#9113 Add Edge versions for RTCIceCandidate API
  api/RTCIceCandidate.json
Labels: data:api :rabbit2:

#9149 Mark Cache API + methods non-experimental
  api/Cache.json
Labels: data:api :rabbit2:

#9137 Replace ranged Edge ≤79 versions with 79 for Web Bluetooth
  api/Bluetooth.json
  api/BluetoothCharacteristicProperties.json
  api/BluetoothDevice.json
  api/BluetoothRemoteGATTCharacteristic.json
  api/BluetoothRemoteGATTDescriptor.json
  api/BluetoothRemoteGATTServer.json
  api/BluetoothRemoteGATTService.json
Labels: data:api :rabbit2:

#9078 Move "masonry" under "grid-template-rows" so it is treated as a value rather than a property
  css/properties/grid-template-rows.json
Labels: data:css :art:, needs-release-note :newspaper:

#6959 Remove never-supported SVG textPath method
  svg/elements/textPath.json
Labels: data:svg :paintbrush:, needs-release-note :newspaper:

#6942 Remove never-supported Window features
  api/Window.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#9163 Remove flag data for the Body mixin
  api/Body.json
Labels: data:api :rabbit2:

#8827 Track release notes in Git
  RELEASE_NOTES.md
Labels: docs :writing_hand:

#9169 Remove irrelevant flag data and mixin notes for WindowOrWorkerGlobalScope
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#8743 Remove Chromium notes for navigator.language/languages
  api/NavigatorLanguage.json
Labels: data:api :rabbit2:

#7233 Drop reference to wpt.fyi results for api.Animation.commitStyles
  api/Animation.json
Labels: data:api :rabbit2:, not ready :no_entry:

#9174 Add release notes for 2021-02-18 / v3.1.1
  RELEASE_NOTES.md
Labels: docs :writing_hand:

#9083 Add Edge versions for AudioParam API
  api/AudioParam.json
Labels: data:api :rabbit2:

#9111 Add Edge versions for PannerNode API
  api/PannerNode.json
Labels: data:api :rabbit2:

#8843 Add spec_url for CSS types G-U
  css/types/global_keywords.json
  css/types/image.json
  css/types/integer.json
  css/types/length-percentage.json
  css/types/length.json
  css/types/max.json
  css/types/min.json
  css/types/number.json
  css/types/percentage.json
  css/types/position.json
  css/types/ratio.json
  css/types/resolution.json
  css/types/shape.json
  css/types/string.json
  css/types/time-percentage.json
  css/types/time.json
  css/types/transform-function.json
  css/types/url.json
Labels: data:css :art:

#9182 Update Edge versions for AnimationTimeline API
  api/AnimationTimeline.json
Labels: data:api :rabbit2:

#9184 Add Edge versions for BroadcastChannel API
  api/BroadcastChannel.json
Labels: data:api :rabbit2:

#9186 Add Edge versions for CacheStorage API
  api/CacheStorage.json
Labels: data:api :rabbit2:

#9187 Add Edge versions for Client API
  api/Client.json
Labels: data:api :rabbit2:
