Repository mdn/browser-compat-data, pull requests merged in 2021-12, with the labels that each got.

#12907 Add IE versions for api.Element.[copy/cut/paste]_event
  api/Element.json
  api/HTMLElement.json
Labels: data:api :rabbit2:

#12397 Remove MediaStreamConstraints dictionary from BCD
  api/MediaStreamConstraints.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#12652 Add a guideline for global APIs (api/_globals/ folder)
  docs/data-guidelines.md
Labels: docs :writing_hand:, needs-release-note :newspaper:

#13824 Remove S3 upload from release
  .github/workflows/release.yml
Labels: infra :building_construction:

#13825 Release v4.1.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#12439 Safari TP 132, 133, 134 and 135 additions
  api/BroadcastChannel.json
  api/Crypto.json
  api/FileSystemDirectoryHandle.json
  api/FileSystemFileHandle.json
  api/FileSystemHandle.json
  api/FileSystemWritableFileStream.json
  api/HTMLElement.json
  api/PerformanceNavigationTiming.json
  api/RTCDataChannel.json
  api/RTCDtlsTransport.json
  api/RTCError.json
  api/RTCErrorEvent.json
  api/RTCPeerConnection.json
  api/RTCSctpTransport.json
  api/ResizeObserverEntry.json
  api/ServiceWorkerGlobalScope.json
  api/StorageManager.json
  api/_globals/structuredClone.json
  css/properties/accent-color.json
  css/properties/appearance.json
  css/properties/backface-visibility.json
  css/properties/flex-basis.json
  css/properties/scroll-behavior.json
  css/properties/text-decoration-skip-ink.json
  css/selectors/backdrop.json
  css/selectors/marker.json
  html/elements/dialog.json
  html/elements/img.json
  http/headers/content-security-policy.json
  http/headers/cross-origin-embedder-policy.json
  http/headers/cross-origin-opener-policy.json
  javascript/builtins/Array.json
  javascript/builtins/Object.json
  javascript/builtins/SharedArrayBuffer.json
  javascript/builtins/String.json
  javascript/builtins/TypedArray.json
  webextensions/manifest/externally_connectable.json
Labels: data:http :mountain_cableway:, data:webext :game_die:, data:api :rabbit2:, data:css :art:, data:js :pager:, data:html :page_facing_up:, rebase needed :construction:

#12277 Update flag data for Payment APIs; delete PaymentDetailsUpdate dictionary
  api/PaymentDetailsUpdate.json
  api/PaymentMethodChangeEvent.json
  api/PaymentRequest.json
  api/PaymentRequestUpdateEvent.json
  api/PaymentResponse.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#12600 Change Chrome's SameSite cookie version
  http/headers/set-cookie.json
Labels: data:http :mountain_cableway:

#13836 Add Safari versions for ResizeObserverEntry API
  api/ResizeObserverEntry.json
Labels: data:api :rabbit2:

#13702 Update line_breaks Firefox compability
  html/elements/textarea.json
Labels: data:html :page_facing_up:

#13808 Eyedropper API requires secure context
  api/EyeDropper.json
Labels: data:api :rabbit2:

#13837 Rename api.MediaDevices.getUserMedia.audio-capture-support
  api/MediaDevices.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#12107 Add all browsers versions for MediaStreamTrackEvent API
  api/MediaStreamTrackEvent.json
Labels: data:api :rabbit2:

#12108 Add all browsers versions for TrackEvent API
  api/TrackEvent.json
Labels: data:api :rabbit2:

#13843 Add Safari iOS versions for api.TouchEvent.altKey
  api/TouchEvent.json
Labels: data:api :rabbit2:

#13803 Add share_target compat data.
  html/manifest/share_target.json
Labels: data:html :page_facing_up:

#13856 Mirror Firefox Android data (null to false) for api/
  api/MediaSource.json
  api/VRDisplay.json
  api/VREyeParameters.json
  api/VRFieldOfView.json
  api/VRPose.json
Labels: data:api :rabbit2:

#13871 Update Window API VR data for Samsung Internet
  api/Window.json
Labels: data:api :rabbit2:

#13816 WakeLockSentinel: onrelease -> release_event
  api/WakeLockSentinel.json
Labels: data:api :rabbit2:

#13597 XRSession: Use single entry for events
  api/XRSession.json
Labels: data:api :rabbit2:

#13484 XRSystem: Use single entry for event
  api/XRSystem.json
Labels: data:api :rabbit2:

#13483 XRReferenceSpace: Use single entry for event
  api/XRReferenceSpace.json
Labels: data:api :rabbit2:

#13374 XRLightProbe: Use single entry for event
  api/XRLightProbe.json
Labels: data:api :rabbit2:

#13879 Link Chrome and Safari bugs for initial-letter
  css/properties/initial-letter.json
Labels: data:css :art:

#13878 Add Opera versions for api.Document.createTreeWalker.expandEntityReferences_parameter
  api/Document.json
Labels: data:api :rabbit2:

#13874 Update Safari versions for api.XMLHttpRequest.upload
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#13855 Mirror Firefox Android data (nonreal to version) for api/
  api/AudioContext.json
  api/CanvasRenderingContext2D.json
  api/Comment.json
  api/DOMParser.json
  api/DragEvent.json
  api/Element.json
  api/FetchEvent.json
  api/FormData.json
  api/HashChangeEvent.json
  api/IDBCursor.json
  api/IDBIndex.json
  api/IDBKeyRange.json
  api/MediaDevices.json
  api/MediaRecorder.json
  api/MediaStreamTrack.json
  api/MessageEvent.json
  api/Navigator.json
  api/RTCIceCandidate.json
  api/RTCPeerConnection.json
  api/Request.json
  api/Response.json
  api/SVGSVGElement.json
  api/SubmitEvent.json
  api/WebGL2RenderingContext.json
  api/Window.json
  api/WindowEventHandlers.json
  api/_globals/createImageBitmap.json
Labels: data:api :rabbit2:

#13850 Add real values for early Opera versions for api/
  api/Blob.json
  api/CloseEvent.json
  api/DOMParser.json
  api/DOMTokenList.json
  api/DeviceMotionEventAcceleration.json
  api/DeviceMotionEventRotationRate.json
  api/Document.json
  api/Element.json
  api/EventSource.json
  api/GlobalEventHandlers.json
  api/HTMLImageElement.json
  api/HTMLInputElement.json
  api/HTMLOptionsCollection.json
  api/HTMLTemplateElement.json
  api/IDBDatabase.json
  api/KeyboardEvent.json
  api/MediaQueryList.json
  api/MediaStream.json
  api/MediaStreamTrack.json
  api/MessageEvent.json
  api/NodeIterator.json
  api/Performance.json
  api/RTCConfiguration.json
  api/RTCDTMFSender.json
  api/RTCDTMFToneChangeEvent.json
  api/RTCPeerConnectionIceEvent.json
  api/StyleSheet.json
  api/StyleSheetList.json
  api/Text.json
  api/TextMetrics.json
  api/TextTrackCue.json
  api/Touch.json
  api/TouchEvent.json
  api/Window.json
  api/WorkerGlobalScope.json
  api/WorkerNavigator.json
  api/XMLDocument.json
Labels: data:api :rabbit2:

#13849 Mirror Chromium to Opera (true to false) for api/
  api/ContactsManager.json
  api/Document.json
  api/MediaTrackConstraints.json
  api/MediaTrackSupportedConstraints.json
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#13848 Mirror Chromium to Opera (null to false) for api/
  api/CSSValue.json
  api/CSSValueList.json
  api/Console.json
  api/DeviceMotionEventAcceleration.json
  api/DeviceMotionEventRotationRate.json
  api/Document.json
  api/FetchEvent.json
  api/GlobalEventHandlers.json
  api/HTMLMediaElement.json
  api/MediaCapabilities.json
  api/MediaTrackConstraints.json
  api/MediaTrackSupportedConstraints.json
  api/MouseEvent.json
  api/Navigator.json
  api/NetworkInformation.json
  api/RTCIceCandidatePairStats.json
  api/RTCIceCandidateStats.json
  api/RTCIdentityAssertion.json
  api/RTCPeerConnectionIceEvent.json
  api/RTCRtpEncodingParameters.json
  api/RTCRtpSendParameters.json
  api/Request.json
  api/ServiceWorkerContainer.json
  api/VRDisplay.json
  api/VRDisplayCapabilities.json
  api/VRDisplayEvent.json
  api/VREyeParameters.json
  api/VRFieldOfView.json
  api/VRFrameData.json
  api/VRPose.json
  api/VRStageParameters.json
  api/Window.json
Labels: data:api :rabbit2:

#13867 Correct data set to Safari 6.1 for CSS data
  css/properties/align-self.json
  css/properties/clip-path.json
  css/properties/display.json
  css/properties/font-feature-settings.json
  css/properties/justify-content.json
  css/properties/min-height.json
  css/properties/position.json
  css/properties/ruby-position.json
  css/properties/width.json
  css/properties/word-spacing.json
  css/selectors/cue.json
  css/selectors/future.json
  css/selectors/past.json
  css/types/image.json
  css/types/length-percentage.json
  css/types/length.json
Labels: data:css :art:

#13868 Add Safari iOS versions for details HTML element
  html/elements/details.json
Labels: data:html :page_facing_up:

#13869 Update Safari versions for javascript.builtins.Array.toLocaleString
  javascript/builtins/Array.json
Labels: data:js :pager:

#13870 Add Safari versions for svg.elements.use.external_uri
  svg/elements/use.json
Labels: data:svg :paintbrush:

#13883 Fix WebKit bug URLs for initial-letter
  css/properties/initial-letter.json
Labels: data:css :art:

#13820 Add a note of URL Constructor in old Edge
  api/URL.json
Labels: data:api :rabbit2:

#13888 Correct Safari versions for flex-wrap CSS property
  css/properties/flex-wrap.json
Labels: data:css :art:

#13845 Limit main eight browsers to real values for api/
  test/linter/test-real-values.js
Labels: linter :house_with_garden:

#11156 Remove Safari 6.1
  browsers/safari.json
  browsers/safari_ios.json
Labels: infra :building_construction:, data:browsers :earth_africa:, needs-release-note :newspaper:

#13852 Update Firefox Android versions for CanvasCaptureMediaStreamTrack API
  api/CanvasCaptureMediaStreamTrack.json
Labels: data:api :rabbit2:

#13565 Adding the display_override manifest member compat data
  html/manifest/display_override.json
Labels: data:html :page_facing_up:

#13810 FF96 supports Navigator.canShare()
  api/Navigator.json
Labels: data:api :rabbit2:

#11700 Update Firefox and Safari support for `display-capture` feature-policy
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#13906 Release v4.1.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:, scripts :scroll:

#12548 Update Firefox support for feature-policy
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:

#13914 Separate and code format certain Node.js notes
  api/Blob.json
  api/BroadcastChannel.json
  api/ByteLengthQueuingStrategy.json
  api/CountQueuingStrategy.json
  api/ReadableByteStreamController.json
  api/ReadableStream.json
  api/ReadableStreamBYOBReader.json
  api/ReadableStreamBYOBRequest.json
  api/ReadableStreamDefaultController.json
  api/ReadableStreamDefaultReader.json
  api/TextDecoderStream.json
  api/TextEncoderStream.json
  api/TransformStream.json
  api/WritableStream.json
  api/WritableStreamDefaultController.json
  api/WritableStreamDefaultWriter.json
Labels: data:api :rabbit2:

#13908 Updates opera browser to version 82
  browsers/opera.json
Labels: data:browsers :earth_africa:

#13899 Add new manifest members.
  html/manifest/display_override.json
  html/manifest/note_taking.json
Labels: data:html :page_facing_up:, rebase needed :construction:

#13915 No longer comment on API statistic issue
  .github/workflows/release.yml
Labels: infra :building_construction:

#13896 FF96 Web Lock API supported
  api/Lock.json
  api/LockManager.json
  api/Navigator.json
Labels: data:api :rabbit2:

#13922 VirtualKeyboard: ongeometrychange -> geometrychange_event
  api/VirtualKeyboard.json
Labels: data:api :rabbit2:

#13923 TaskSignal: onprioritychange -> prioritychange_event
  api/TaskSignal.json
Labels: data:api :rabbit2:

#13945 Require real values for Samsung Internet for api/
  test/linter/test-real-values.js
Labels: linter :house_with_garden:

#13930 HTTP Warning Header is deprecated
  http/headers/warning.json
Labels: data:http :mountain_cableway:

#13961 Update firefox to current version
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#13976 FF96 supports ElementInternals:willValidate
  api/ElementInternals.json
Labels: data:api :rabbit2:

#13966 Link to relevant section on the page
  javascript/operators/await.json
Labels: data:js :pager:

#13900 HTTP Set-Cookie SameSite - add specs
  http/headers/set-cookie.json
Labels: data:http :mountain_cableway:

#13988 Change values for Opera for KeyboardEvent to ranges
  api/KeyboardEvent.json
Labels: data:api :rabbit2:

#13992 Add Opera versions for FileSystemDirectoryEntry API
  api/FileSystemDirectoryEntry.json
Labels: data:api :rabbit2:

#13993 Add Opera versions for FileSystemDirectoryReader API
  api/FileSystemDirectoryReader.json
Labels: data:api :rabbit2:

#13994 Add Firefox versions for api.GlobalEventHandlers.ontouch*
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#13987 FF96 ElementInternals.willValidate behind preference
  api/ElementInternals.json
Labels: data:api :rabbit2:

#13996 Add Firefox versions for api.TouchEvent.TouchEvent
  api/TouchEvent.json
Labels: data:api :rabbit2:

#13997 Add Firefox versions for api.Navigator.vibrate
  api/Navigator.json
Labels: data:api :rabbit2:

#13998 Add Firefox versions for api.HTMLInputElement.capture
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#13999 Add Firefox versions for NetworkInformation API
  api/NetworkInformation.json
Labels: data:api :rabbit2:

#14000 Add Firefox versions for RelativeOrientationSensor API
  api/RelativeOrientationSensor.json
Labels: data:api :rabbit2:

#14003 Require real values for Opera for api/
  test/linter/test-real-values.js
Labels: linter :house_with_garden:

#13884 Single event entries for VisualViewport
  api/VisualViewport.json
Labels: data:api :rabbit2:

#13927 Remove mozmm CSS unit
  css/types/length.json
Labels: data:css :art:

#13748 Mention the existing Chromium attempt for certificate API in WebExtension
  webextensions/api/webRequest.json
Labels: data:webext :game_die:

#13682 Speech API is not (mosty) experimental
  api/SpeechRecognition.json
  api/SpeechSynthesis.json
  api/SpeechSynthesisErrorEvent.json
  api/SpeechSynthesisVoice.json
Labels: data:api :rabbit2:

#13840 Samesite lax
  http/headers/set-cookie.json
Labels: data:http :mountain_cableway:

#13897 FF96 webp supported for Canvas todataurl/blob
  api/HTMLCanvasElement.json
  api/OffscreenCanvas.json
Labels: data:api :rabbit2:

#13989 HTTP Sec-Ch-UA-Bitness header in Chrome 93
  http/headers/sec-ch-ua-bitness.json
Labels: data:http :mountain_cableway:

#13990 HTTP Sec-CH-UA-Full-Version header deprecated
  http/headers/sec-ch-ua-full-version.json
Labels: data:http :mountain_cableway:

#14008 Unmark crossOriginIsolated as experimental
  api/_globals/crossOriginIsolated.json
Labels: data:api :rabbit2:

#14010 Release v4.1.2
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#13126 Add insertable stream interfaces.
  api/MediaStreamTrackGenerator.json
  api/MediaStreamTrackProcessor.json
Labels: data:api :rabbit2:

#13596 Compat data for navigator.windowControlsOverlay API
  api/Navigator.json
Labels: data:api :rabbit2:

#14006 Set Safari 15.2 as current
  browsers/safari.json
  browsers/safari_ios.json
  http/headers/cross-origin-embedder-policy.json
  http/headers/cross-origin-opener-policy.json
Labels: data:http :mountain_cableway:, data:browsers :earth_africa:

#13940 An array of cookieStoreId supported in the tabs.query API
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#14012 Correct iOS support for asyncIterator
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#14028 Include Safari 15.2 release notes
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#13974 HTTP Clear-Site-Data cache is behind pref
  http/headers/clear-site-data.json
Labels: data:http :mountain_cableway:

#13802 WebSocket: Single event entries
  api/WebSocket.json
Labels: data:api :rabbit2:

#14001 Add Firefox versions for api.Window.orientation
  api/Window.json
Labels: data:api :rabbit2:

#14002 Add Firefox versions for api.Screen.onorientationchange
  api/Screen.json
Labels: data:api :rabbit2:

#14013 Update Chromium versions for api.WorkerGlobalScope.ononlineoffline
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#14014 Update Edge versions for SVGAElement API
  api/SVGAElement.json
Labels: data:api :rabbit2:

#14015 Update Edge versions for SVGMPathElement API
  api/SVGMPathElement.json
Labels: data:api :rabbit2:

#14017 Update Edge versions for api.Text.assignedSlot
  api/Text.json
Labels: data:api :rabbit2:

#14025 Add Edge versions for SpeechSynthesis API
  api/SpeechSynthesis.json
Labels: data:api :rabbit2:

#14026 Add Edge versions for SpeechSynthesisVoice API
  api/SpeechSynthesisVoice.json
Labels: data:api :rabbit2:

#14027 Add Edge versions for OES_texture_half_float_linear API
  api/OES_texture_half_float_linear.json
Labels: data:api :rabbit2:

#14029 Add Edge versions for api.Window.requestFileSystem
  api/Window.json
Labels: data:api :rabbit2:

#14037 Add Edge versions for WebVR APIs
  api/VRDisplay.json
  api/VRDisplayCapabilities.json
  api/VRDisplayEvent.json
  api/VREyeParameters.json
  api/VRFieldOfView.json
  api/VRFrameData.json
  api/VRPose.json
  api/VRStageParameters.json
Labels: data:api :rabbit2:

#14040 Add Edge versions for api.CacheStorage.worker_support
  api/CacheStorage.json
Labels: data:api :rabbit2:

#14041 Add Edge versions for api.Notification.worker_support
  api/Notification.json
Labels: data:api :rabbit2:

#14042 Add Edge versions for api.PerformanceResourceTiming.worker_support
  api/PerformanceResourceTiming.json
Labels: data:api :rabbit2:

#14043 Add Edge versions for WEBGL_compressed_texture_s3tc_srgb API
  api/WEBGL_compressed_texture_s3tc_srgb.json
Labels: data:api :rabbit2:

#14045 Clean up data for file system APIs
  api/FileSystem.json
  api/FileSystemDirectoryEntry.json
  api/FileSystemDirectoryReader.json
  api/FileSystemEntry.json
  api/FileSystemFileEntry.json
  api/FileSystemSync.json
Labels: data:api :rabbit2:

#14049 Update browsers for Deno 1.17 release
  browsers/deno.json
Labels: data:browsers :earth_africa:

#14050 Add api.AbortSignal.throwIfAborted
  api/AbortSignal.json
Labels: data:api :rabbit2:

#14051 SublteCrypto updates for Deno 1.17
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#14055 Correct Safari support for ImageBitmap
  api/ImageBitmap.json
Labels: data:api :rabbit2:

#14056 Show Safari support for SharedArrayBuffer
  http/headers/cross-origin-embedder-policy.json
  http/headers/cross-origin-opener-policy.json
  javascript/builtins/SharedArrayBuffer.json
Labels: data:http :mountain_cableway:, data:js :pager:

#14057 Fix support data for TypedArray.from
  javascript/builtins/TypedArray.json
Labels: data:js :pager:

#14021 Add IE/Edge versions for api.Document.copy_event
  api/Document.json
Labels: data:api :rabbit2:

#14022 Add IE/Edge versions for api.Document.cut_event
  api/Document.json
Labels: data:api :rabbit2:

#14023 Add IE/Edge versions for api.Window.cut_event
  api/Window.json
Labels: data:api :rabbit2:

#14024 Add IE/Edge versions for api.Window.copy_event
  api/Window.json
Labels: data:api :rabbit2:

#14016 Update IE/Edge versions for Screen API
  api/Screen.json
Labels: data:api :rabbit2:

#14039 Add Edge versions for api.RTCPeerConnection.track_event
  api/RTCPeerConnection.json
  api/RTCTrackEvent.json
Labels: data:api :rabbit2:

#14058 Add cookieStoreId to contentScripts.register
  webextensions/api/contentScripts.json
Labels: data:webext :game_die:

#14090 Add missing api.WorkerNavigator.fonts feature
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#14088 Add missing api.ContactAddress features
  api/ContactAddress.json
Labels: data:api :rabbit2:

#14072 Remove MediaStreamTrackAudioSourceOptions API from BCD
  api/MediaStreamTrackAudioSourceOptions.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#14091 Element.requestPointerLock - Chromium returns promise
  api/Element.json
Labels: data:api :rabbit2:

#14096 Add support for :has() with STP 137
  css/selectors/has.json
Labels: data:css :art:

#14101 NodeJS supports `Error.cause`
  javascript/builtins/Error.json
Labels: data:js :pager:

#14115 Update data for WebView 4.4/4.4.3
  api/AnalyserNode.json
  api/AudioBuffer.json
  api/AudioBufferSourceNode.json
  api/AudioDestinationNode.json
  api/AudioListener.json
  api/AudioNode.json
  api/BaseAudioContext.json
  api/BiquadFilterNode.json
  api/ChannelMergerNode.json
  api/ChannelSplitterNode.json
  api/ConvolverNode.json
  api/DynamicsCompressorNode.json
  api/External.json
  api/HTMLDataListElement.json
  api/HTMLInputElement.json
  api/MediaElementAudioSourceNode.json
  api/PannerNode.json
  api/WaveShaperNode.json
  api/WebGLRenderingContext.json
  api/Window.json
  api/Worker.json
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#14126 Add note regarding api.SVGGraphicsElement.getScreenCTM() issue
  api/SVGGraphicsElement.json
Labels: data:api :rabbit2:

#14142 Correct description for css.types.transform-function.translateZ
  css/types/transform-function.json
Labels: data:css :art:

#14144 Mark CustomElementRegistry API as non-experimental
  api/CustomElementRegistry.json
Labels: data:api :rabbit2:

#14170 Update Firefox Android versions for AbstractRange API
  api/AbstractRange.json
Labels: data:api :rabbit2:

#14173 Update all browsers versions for api.AnalyserNode.getFloatTimeDomainData
  api/AnalyserNode.json
Labels: data:api :rabbit2:

#14175 Update Opera versions for AnimationEvent API
  api/AnimationEvent.json
Labels: data:api :rabbit2:

#14177 Update WebView versions for Animation API
  api/Animation.json
Labels: data:api :rabbit2:

#14178 Update WebView versions for AnimationPlaybackEvent API
  api/AnimationPlaybackEvent.json
Labels: data:api :rabbit2:

#14179 Update WebView versions for AnimationTimeline API
  api/AnimationTimeline.json
Labels: data:api :rabbit2:

#14180 Update Firefox Android versions for AudioContext API
  api/AudioContext.json
Labels: data:api :rabbit2:

#14181 Update Opera versions for api.AudioEncoder.encodeQueueSize
  api/AudioEncoder.json
Labels: data:api :rabbit2:

#14182 Update Chromium versions for AudioWorkletNode API
  api/AudioWorkletNode.json
Labels: data:api :rabbit2:

#14183 Update Opera versions for AuthenticatorAssertionResponse API
  api/AuthenticatorAssertionResponse.json
Labels: data:api :rabbit2:

#14184 Update Opera versions for AuthenticatorAttestationResponse API
  api/AuthenticatorAttestationResponse.json
Labels: data:api :rabbit2:

#14185 Update Opera versions for AuthenticatorResponse API
  api/AuthenticatorResponse.json
Labels: data:api :rabbit2:

#14186 Update Chromium versions for BarProp API
  api/BarProp.json
Labels: data:api :rabbit2:

#14187 Update Chromium versions for BaseAudioContext API
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#14222 Name Chrome OS and macOS consistently in descriptions
  api/Document.json
  api/HTMLCanvasElement.json
  api/MediaDevices.json
  api/Navigator.json
  webextensions/api/notifications.json
Labels: data:webext :game_die:, data:api :rabbit2:

#14146 Correct Chromium data for navigator.[set/clear]AppBadge
  api/Navigator.json
Labels: data:api :rabbit2:

#14130 Remove mesh SVG element from BCD
  svg/elements/mesh.json
  svg/elements/meshgradient.json
  svg/elements/meshpatch.json
  svg/elements/meshrow.json
Labels: data:svg :paintbrush:, needs-release-note :newspaper:

#14119 Mark some CanvasRenderingContext2D features as non-experimental
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#12766 Remove FileSystemFlags dictionary from BCD
  api/FileSystemFlags.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#13669 Firefox for Android permissions.request can't be triggered by browserAction.onClicked
  webextensions/api/permissions.json
Labels: data:webext :game_die:

#13828 css.at-rules.font-face.src: add browser support for format("*-variations")
  css/at-rules/font-face.json
Labels: data:css :art:

#12840 Remove MediaKeySystemConfiguration API from BCD
  api/MediaKeySystemAccess.json
  api/MediaKeySystemConfiguration.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:
