Repository mdn/browser-compat-data, pull requests merged in 2021-06, with the labels that each got.

#10588 Change Android WebView from 1 to ≤37 for API A-G
  api/AnimationEvent.json
  api/CanvasRenderingContext2D.json
  api/Console.json
  api/DOMStringList.json
  api/Document.json
  api/Element.json
  api/FileList.json
  api/GlobalEventHandlers.json
  api/_mixins/DocumentOrShadowRoot__Document.json
  api/_mixins/ParentNode__DocumentFragment.json
  api/_mixins/ParentNode__Element.json
Labels: data:api :rabbit2:

#10589 Change Android WebView from 1 to ≤37 for API H-M
  api/HTMLAudioElement.json
  api/HTMLButtonElement.json
  api/HTMLCanvasElement.json
  api/HTMLElement.json
  api/HTMLFieldSetElement.json
  api/HTMLIFrameElement.json
  api/HTMLInputElement.json
  api/HTMLMarqueeElement.json
  api/HTMLMediaElement.json
  api/HTMLOptionsCollection.json
  api/HTMLScriptElement.json
  api/HTMLSelectElement.json
  api/HTMLSourceElement.json
  api/HTMLTableElement.json
  api/HTMLTextAreaElement.json
  api/HTMLVideoElement.json
  api/ImageData.json
  api/KeyboardEvent.json
  api/MediaError.json
  api/MessageEvent.json
  api/MimeTypeArray.json
  api/MouseEvent.json
Labels: data:api :rabbit2:

#10655 Change Android WebView from 1 to ≤37 for API U-Z
  api/Window.json
  api/WindowOrWorkerGlobalScope.json
  api/XSLTProcessor.json
Labels: data:api :rabbit2:

#10564 Mark SVGGraphicsElement members as supported since ancient times
  api/SVGGraphicsElement.json
Labels: data:api :rabbit2:

#10691 Demix SVGTests to SVGAnimationElement and SVGGraphicsElement
  api/SVGTests.json
  api/_mixins/SVGTests__SVGAnimationElement.json
  api/_mixins/SVGTests__SVGGraphicsElement.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#6957 Remove never-supported JavaScript features
  javascript/builtins/AsyncIterator.json
  javascript/builtins/Iterator.json
  javascript/operators/pipeline.json
Labels: data:js :pager:, needs-release-note :newspaper:

#10698 Demix SVGAnimatedPoints to SVGPolygonElement and SVGPolylineElement
  api/SVGAnimatedPoints.json
  api/_mixins/SVGAnimatedPoints__SVGPolygonElement.json
  api/_mixins/SVGAnimatedPoints__SVGPolylineElement.json
Labels: data:api :rabbit2:

#10703 Add Chromium versions for api.CloseEvent.CloseEvent
  api/CloseEvent.json
Labels: data:api :rabbit2:

#10704 Add Chromium versions for ExtendableMessageEvent API
  api/ExtendableMessageEvent.json
Labels: data:api :rabbit2:

#10705 Add Chromium versions for api.FetchEvent.targetClientId
  api/FetchEvent.json
Labels: data:api :rabbit2:

#10706 Add Chromium versions for RTCPeerConnectionIceErrorEvent API
  api/RTCPeerConnectionIceErrorEvent.json
Labels: data:api :rabbit2:

#10707 Add Chromium versions for api.Request.Request.referrer_init
  api/Request.json
Labels: data:api :rabbit2:

#10713 Add Chromium versions for WebGLObject API
  api/WebGLObject.json
Labels: data:api :rabbit2:

#10716 Add Chromium versions for api.Window.dialogArguments
  api/Window.json
Labels: data:api :rabbit2:

#10720 Fix spec URL for WebGLVertexArrayObjectOES
  api/WebGLVertexArrayObjectOES.json
Labels: data:api :rabbit2:

#10721 Demix GeometryUtils to Document/Element/Text.getBoxQuads
  api/GeometryUtils.json
  api/_mixins/GeometryUtils__Document.json
  api/_mixins/GeometryUtils__Element.json
  api/_mixins/GeometryUtils__Text.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#10717 Mark FetchEvent.targetClientId as deprecated and non-standard
  api/FetchEvent.json
Labels: data:api :rabbit2:

#10708 Add Chromium versions for SVGAltGlyphDefElement API
  api/SVGAltGlyphDefElement.json
Labels: data:api :rabbit2:

#10709 Add Chromium versions for SVGAltGlyphItemElement API
  api/SVGAltGlyphItemElement.json
Labels: data:api :rabbit2:

#10711 Add Chromium versions for SVGHKernElement API
  api/SVGHKernElement.json
Labels: data:api :rabbit2:

#10715 Add Chromium versions for WebGLVertexArrayObjectOES API
  api/WebGLVertexArrayObjectOES.json
Labels: data:api :rabbit2:

#10718 Add Chromium versions for WorkerNavigator API
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#10687 Mirror Opera Android and Samsung Internet support for flex gap
  css/properties/gap.json
  css/properties/row-gap.json
Labels: data:css :art:

#9821 Remove extend dependency, becoming a zero-dependency package
  index.js
  package-lock.json
  package.json
Labels: dependencies :chains:, infra :building_construction:

#10683 Make Firefox notes around documeny.body consistent with other notes
  api/Document.json
Labels: data:api :rabbit2:

#10722 Add Chromium versions for api.Headers.lexicographical_sorting
  api/Headers.json
Labels: data:api :rabbit2:

#10729 Set api.Permission.camera_permission value
  api/Permissions.json
Labels: data:api :rabbit2:

#10725 Remove WebRTC Extensions ghost features
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#10714 Remove instanceRoot and animatedInstanceRoot entries
  api/SVGUseElement.json
Labels: data:api :rabbit2:

#10738 Add/correct Chromium data for OverconstrainedErrorEvent (and related)
  api/MediaStreamTrack.json
  api/OverconstrainedErrorEvent.json
Labels: data:api :rabbit2:

#10739 Add Chromium versions for MediaStreamTrack API
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#10742 adding spec and MDN URLs.
  api/OTPCredential.json
Labels: data:api :rabbit2:

#10740 Add mdn link for SVGGraphicsElement.getBBox
  api/SVGGraphicsElement.json
Labels: data:api :rabbit2:

#10681 Test for outdated spec URLs that aren't in w3c/browser-specs
  package-lock.json
  package.json
  test/spec-urls.test.js
Labels: dependencies :chains:, infra :building_construction:, linter :house_with_garden:

#10733 index.js: only perform extend() if there's data to add
  index.js
Labels: bug :bug:, infra :building_construction:

#10747 Set api.RTCPtpReceiver.getCapabilities as unsupported by Firefox
  api/RTCRtpReceiver.json
Labels: data:api :rabbit2:

#10748 Ensure that extend's second argument is not undefined
  index.js
Labels: infra :building_construction:

#10702 Add support of WebKitCSSMatrix alias in Firefox
  api/WebKitCSSMatrix.json
Labels: data:api :rabbit2:

#10743 Copy data from api.PaymentRequest.onmerchantvalidation to its event
  api/PaymentRequest.json
Labels: data:api :rabbit2:

#10751 Update padding-inline.json
  css/properties/padding-inline.json
Labels: data:css :art:

#10741 Add Chromium versions for api.ExtendableEvent.waitUntil.async_waitUntil
  api/ExtendableEvent.json
Labels: data:api :rabbit2:

#10758 Update data for Service Worker APIs shipped in Safari 11.1 / iOS 11.3
  api/ExtendableEvent.json
  api/ExtendableMessageEvent.json
  api/FetchEvent.json
  api/ServiceWorkerContainer.json
  api/ServiceWorkerGlobalScope.json
  api/WindowClient.json
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#10762 Add all browsers versions for Point API
  api/Point.json
Labels: data:api :rabbit2:

#10763 Add Chromium versions for PushSubscriptionChangeEvent API
  api/PushSubscriptionChangeEvent.json
Labels: data:api :rabbit2:

#10621 Remove notes about nightly build from PaymentAddress
  api/PaymentAddress.json
Labels: data:api :rabbit2:

#10632 Add Opera 75, Opera Android 63 and Edge 89 support for top level await
  javascript/operators/await.json
Labels: data:js :pager:

#10764 Update Chromium versions for ReadableStreamDefaultController API
  api/ReadableStreamDefaultController.json
Labels: data:api :rabbit2:

#10765 Update Chromium versions for ReadableStreamDefaultReader API
  api/ReadableStreamDefaultReader.json
Labels: data:api :rabbit2:

#10766 Add Chromium versions for RTCIdentityProviderGlobalScope API
  api/RTCIdentityProviderGlobalScope.json
Labels: data:api :rabbit2:

#10767 Add Chromium versions for RTCIdentityProviderRegistrar API
  api/RTCIdentityProviderRegistrar.json
Labels: data:api :rabbit2:

#10761 Mark ServiceWorkerContainer.onerror as supported only in Firefox
  api/ServiceWorkerContainer.json
Labels: data:api :rabbit2:

#10660 Added Opera Android support for ::file-selector-button
  css/selectors/file-selector-button.json
Labels: data:css :art:

#10661 Added Edge support for ::placeholder
  css/selectors/placeholder.json
Labels: data:css :art:

#10662 Added Edge support for ::backdrop
  css/selectors/backdrop.json
Labels: data:css :art:

#10663 Added Opera Android support for ::target-text
  css/selectors/target-text.json
Labels: data:css :art:

#10770 Add Chromium versions for api.SourceBuffer.trackDefaults
  api/SourceBuffer.json
Labels: data:api :rabbit2:

#10679 Firefox 90 supports HTTP Fetch Sec-Fetch- headers
  http/headers/sec-fetch-dest.json
  http/headers/sec-fetch-mode.json
  http/headers/sec-fetch-site.json
  http/headers/sec-fetch-user.json
Labels: data:http :mountain_cableway:

#10771 Add Chromium versions for api.TouchList.identifiedTouch
  api/TouchList.json
Labels: data:api :rabbit2:

#10773 Add Chromium versions for WebKitCSSMatrix API
  api/WebKitCSSMatrix.json
Labels: data:api :rabbit2:

#10727 Prepare release v3.3.6
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: dependencies :chains:, docs :writing_hand:, infra :building_construction:

#10745 Remove irrelevant MediaStreamTrack entries
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#10697 Update DOMException versions to show support in Opera 12.1
  api/DOMException.json
Labels: data:api :rabbit2:

#10696 Replace Opera ≤15 versions with something more precise
  css/properties/-webkit-tap-highlight-color.json
  svg/elements/feComposite.json
Labels: data:css :art:, data:svg :paintbrush:

#10694 Add exact versions for toggle force argument
  api/DOMTokenList.json
Labels: data:api :rabbit2:

#10693 Add exact versions for insertRule optional index
  api/CSSStyleSheet.json
Labels: data:api :rabbit2:

#10783 Add WebView versions for api.SubtleCrypto.unwrapKey
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#10785 Add Chrome Android versions for HTMLMediaElement API
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#10786 Add Chromium versions for api.SourceBuffer.appendStream
  api/SourceBuffer.json
Labels: data:api :rabbit2:

#10788 Add Chromium versions for VideoPlaybackQuality API
  api/VideoPlaybackQuality.json
Labels: data:api :rabbit2:

#10781 Fix a few CSSOM View spec URLs
  api/Element.json
Labels: data:api :rabbit2:

#10772 Add Chromium versions for api.URL.createObjectURL.no_MediaStream_argument
  api/URL.json
Labels: data:api :rabbit2:

#10769 Chrome doesn't implement strict MIME checks for Workers
  api/SharedWorker.json
  api/Worker.json
Labels: data:api :rabbit2:

#10310 Add Edge versions for PushSubscriptionOptions API
  api/PushSubscriptionOptions.json
Labels: data:api :rabbit2:

#10794 Update IE versions for DataTransfer API
  api/DataTransfer.json
Labels: data:api :rabbit2:

#10787 Add Chromium versions for SourceBuffer API
  api/SourceBuffer.json
Labels: data:api :rabbit2:

#10791 Add IE versions for api.BeforeUnloadEvent.user_interaction
  api/BeforeUnloadEvent.json
Labels: data:api :rabbit2:

#10307 Add Edge versions for CloseEvent API constructor
  api/CloseEvent.json
Labels: data:api :rabbit2:

#10793 Update Chromium versions for api.ServiceWorkerGlobalScope.onpush
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#10712 Add Chromium versions for api.ServiceWorkerGlobalScope
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#10801 Add IE/Edge versions for api.IDB*.worker_support
  api/IDBCursor.json
  api/IDBCursorWithValue.json
  api/IDBDatabase.json
  api/IDBFactory.json
  api/IDBIndex.json
  api/IDBKeyRange.json
  api/IDBObjectStore.json
  api/IDBOpenDBRequest.json
  api/IDBRequest.json
  api/IDBTransaction.json
  api/IDBVersionChangeEvent.json
Labels: data:api :rabbit2:

#10802 Add IE versions for api.SubtleCrypto.worker_support
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#10805 Add IE/Edge versions for MediaSessionAction API
  api/MediaSessionAction.json
Labels: data:api :rabbit2:

#10806 Add IE/Edge versions for MediaSessionActionDetails API
  api/MediaSessionActionDetails.json
Labels: data:api :rabbit2:

#10808 Add IE/Edge versions for ProcessingInstruction API
  api/ProcessingInstruction.json
Labels: data:api :rabbit2:

#10744 Demix AbstractWorker↠ Worker/SharedWorker/ServiceWorker.onerror
  api/AbstractWorker.json
  api/ServiceWorker.json
  api/SharedWorker.json
  api/Worker.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#10810 Add IE versions for SVGViewElement API
  api/SVGViewElement.json
Labels: data:api :rabbit2:

#10809 Add IE versions for RequestDestination API
  api/RequestDestination.json
Labels: data:api :rabbit2:

#10797 Add IE versions for api.GlobalEventHandlers.onanimationcancel
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#10798 Add IE versions for GlobalEventHandlers API
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#10799 Add Chromium versions for DOMPointInit API
  api/DOMPointInit.json
Labels: data:api :rabbit2:

#10800 Add all browsers versions for api.Window.open.once_per_event
  api/Window.json
Labels: data:api :rabbit2:

#10803 Update Chromium versions for ServiceWorkerGlobalScope API
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#10804 Add IE/Edge versions for api.GlobalEventHandlers.onmousewheel
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#10811 Add IE versions for SourceBuffer API
  api/SourceBuffer.json
Labels: data:api :rabbit2:

#10820 Remove onsort event handler attribute as irrelevant
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#10812 Add IE/Edge versions for WorkerLocation API
  api/WorkerLocation.json
Labels: data:api :rabbit2:

#10813 Add IE/Edge versions for api.WindowOrWorkerGlobalScope.isSecureContext
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#10822 Add Edge versions for KeyframeEffect API
  api/KeyframeEffect.json
Labels: data:api :rabbit2:

#10823 Add Edge versions for api.Request.context
  api/Request.json
Labels: data:api :rabbit2:

#10824 Update Edge versions for SVGSVGElement API
  api/SVGSVGElement.json
Labels: data:api :rabbit2:

#10826 Add Edge versions for Element API
  api/Element.json
Labels: data:api :rabbit2:

#10831 Add IE/Edge versions for api.WebSocket.worker_support
  api/WebSocket.json
Labels: data:api :rabbit2:

#10836 Add IE versions for api.Window.animationcancel_event
  api/Window.json
Labels: data:api :rabbit2:

#10838 Add Firefox versions for CanMakePaymentEvent API
  api/CanMakePaymentEvent.json
Labels: data:api :rabbit2:

#10839 Add Firefox versions for api.DeviceMotionEvent.DeviceMotionEvent
  api/DeviceMotionEvent.json
Labels: data:api :rabbit2:

#10847 Add Firefox versions for MediaKeyMessageEvent API
  api/MediaKeyMessageEvent.json
Labels: data:api :rabbit2:

#10846 Add Firefox versions for MediaEncryptedEvent API
  api/MediaEncryptedEvent.json
Labels: data:api :rabbit2:

#10845 Add Firefox versions for FontFaceSetLoadEvent API
  api/FontFaceSetLoadEvent.json
Labels: data:api :rabbit2:

#10843 Add Firefox versions for DeviceOrientationEvent API
  api/DeviceOrientationEvent.json
Labels: data:api :rabbit2:

#10815 Add IE/Edge versions for message/messageerror events
  api/DedicatedWorkerGlobalScope.json
  api/MessagePort.json
  api/ServiceWorkerGlobalScope.json
  api/WindowEventHandlers.json
  api/Worker.json
Labels: data:api :rabbit2:

#10582 Remove WebRTC APIs that has never been supported
  api/RTCCertificate.json
  api/RTCIceTransport.json
  api/RTCRemoteOutboundRtpStreamStats.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#10690 Improve XSLTProcessor notes
  api/XSLTProcessor.json
Labels: data:api :rabbit2:

#10686 Demix ElementCSSInlineStyle
  api/Element.json
  api/HTMLElement.json
  api/MathMLElement.json
  api/SVGElement.json
  api/_mixins/ElementCSSInlineStyle__HTMLElement.json
  api/_mixins/ElementCSSInlineStyle__MathMLElement.json
  api/_mixins/ElementCSSInlineStyle__SVGElement.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#10652 Adds clear method to MIDIOutput
  api/MIDIOutput.json
Labels: data:api :rabbit2:

#10442 Include CanIUse Embed as a project using the data
  README.md
Labels: docs :writing_hand:

#10880 Add Firefox versions for WebGLObject API
  api/WebGLObject.json
Labels: data:api :rabbit2:

#10877 Add Firefox versions for UIEvent API
  api/UIEvent.json
Labels: data:api :rabbit2:

#10874 Add Firefox versions for api.ServiceWorkerRegistration.paymentManager
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#10871 Add Firefox versions for api.SVGImageElement.crossOrigin
  api/SVGImageElement.json
Labels: data:api :rabbit2:

#10873 Add Firefox versions for SyncEvent API
  api/SyncEvent.json
Labels: data:api :rabbit2:

#10870 Add Firefox versions for SVGHKernElement API
  api/SVGHKernElement.json
Labels: data:api :rabbit2:

#10869 Add Firefox versions for ResizeObserverSize API
  api/ResizeObserverSize.json
Labels: data:api :rabbit2:

#10856 Add Firefox versions for Lock API
  api/Lock.json
Labels: data:api :rabbit2:

#10857 Add Firefox versions for LockManager API
  api/LockManager.json
Labels: data:api :rabbit2:

#10858 Add Firefox versions for OverconstrainedError API
  api/OverconstrainedError.json
Labels: data:api :rabbit2:

#10859 Add Firefox versions for OverconstrainedErrorEvent API
  api/OverconstrainedErrorEvent.json
Labels: data:api :rabbit2:

#10862 Add Firefox versions for PushRegistrationManager API
  api/PushRegistrationManager.json
Labels: data:api :rabbit2:

#10863 Add Firefox versions for PushSubscriptionChangeEvent API
  api/PushSubscriptionChangeEvent.json
Labels: data:api :rabbit2:

#10865 Add Firefox versions for RTCIdentityAssertion API
  api/RTCIdentityAssertion.json
Labels: data:api :rabbit2:

#10866 Add Firefox versions for RTCPeerConnectionIceErrorEvent API
  api/RTCPeerConnectionIceErrorEvent.json
Labels: data:api :rabbit2:

#9464 Remove entries representing indexed property getters
  api/CSSNumericArray.json
  api/CSSUnparsedValue.json
  api/DataTransferItemList.json
  api/SourceBufferList.json
  api/TrackDefaultList.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#10828 Deprecate SVGSVGElement currentView/useCurrentView & link bugs
  api/SVGSVGElement.json
Labels: data:api :rabbit2:

#10776 Firefox 90 aliases webkit-image-set() to image-set()
  css/types/image.json
Labels: data:css :art:

#10860 Add Firefox versions for api.PerformanceObserver.worker_support
  api/PerformanceObserver.json
Labels: data:api :rabbit2:

#10868 Add Firefox versions for RTCRtpSender API
  api/RTCRtpSender.json
Labels: data:api :rabbit2:

#10724 Demix LinkStyle mixin
  api/HTMLStyleElement.json
  api/LinkStyle.json
  api/_mixins/LinkStyle__HTMLLinkElement.json
  api/_mixins/LinkStyle__HTMLStyleElement.json
  api/_mixins/LinkStyle__ProcessingInstruction.json
  api/_mixins/LinkStyle__SVGStyleElement.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#10888 Adds Edge support for @counter-style
  css/at-rules/counter-style.json
Labels: data:css :art:

#10887 updating Chrome support for @counter-style API
  api/CSSCounterStyleRule.json
Labels: data:api :rabbit2:

#10032 Cascade Opera support for `:where()` to subfeature
  css/selectors/where.json
Labels: data:css :art:

#10309 Update Chromium versions for PushSubscriptionChangeEvent API
  api/PushSubscriptionChangeEvent.json
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#10377 Add IE versions for BeforeUnloadEvent API
  api/BeforeUnloadEvent.json
Labels: data:api :rabbit2:

#10924 Correct data for crypto.subtle and crypto.webkitSubtle in WebKit
  api/Crypto.json
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#10905 Update Safari versions for AnimationPlaybackEvent API
  api/AnimationPlaybackEvent.json
Labels: data:api :rabbit2:

#10906 Add Safari versions for AudioNode API
  api/AudioNode.json
Labels: data:api :rabbit2:

#10907 Add Safari versions for AudioParam API
  api/AudioParam.json
Labels: data:api :rabbit2:

#10911 Add Safari iOS versions for api.IDBCursor.worker_support
  api/IDBCursor.json
Labels: data:api :rabbit2:

#10915 Add Safari versions for CanMakePaymentEvent API
  api/CanMakePaymentEvent.json
Labels: data:api :rabbit2:

#10893 Add release note for SVGAnimatedPoints demix (retroactively)
  RELEASE_NOTES.md
Labels: docs :writing_hand:

#10923 Update spec URLs for Class Fields
  javascript/classes.json
Labels: data:js :pager:

#10917 Add Safari versions for DedicatedWorkerGlobalScope API
  api/DedicatedWorkerGlobalScope.json
Labels: data:api :rabbit2:
