Repository mdn/browser-compat-data, pull requests merged in 2021-10, with the labels that each got.

#12508 JS class static inititialization blocks
  javascript/classes.json
Labels: data:js :pager:

#12636 Move the crypto property to api.crypto (in _globals)
  api/Window.json
  api/_globals/crypto.json
Labels: data:api :rabbit2:

#12094 Remove irrelevant api.HTMLMediaElement.onmozinterrupt feature
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#12698 Drop the spec URL for FontFaceSet»entries()
  api/FontFaceSet.json
Labels: data:api :rabbit2:

#12684 Add spec_url for init*Event()
  api/CompositionEvent.json
  api/MessageEvent.json
  api/MouseEvent.json
  api/StorageEvent.json
  api/UIEvent.json
Labels: data:api :rabbit2:

#12682 Add Safari 15.1 beta
  browsers/safari.json
Labels: data:browsers :earth_africa:

#12633 URLPattern: add mdn urls
  api/URLPattern.json
Labels: data:api :rabbit2:

#13142 Further Safari 15 updates
  api/CanvasRenderingContext2D.json
  api/EXT_color_buffer_float.json
  api/EXT_float_blend.json
  api/EXT_frag_depth.json
  api/HTMLSourceElement.json
  api/IDBCursor.json
  api/IDBTransaction.json
  api/ImageBitmapRenderingContext.json
  api/MediaError.json
  api/Performance.json
  api/PerformanceNavigationTiming.json
  api/PerformanceObserver.json
  api/SecurityPolicyViolationEvent.json
  api/SubmitEvent.json
  api/WEBGL_color_buffer_float.json
  api/WEBGL_draw_buffers.json
  api/WEBGL_multi_draw.json
  api/_globals/createImageBitmap.json
  browsers/safari.json
  browsers/safari_ios.json
  css/properties/list-style-type.json
Labels: data:api :rabbit2:, data:css :art:, data:browsers :earth_africa:

#13186 Safari 15 supports private class methods
  javascript/classes.json
Labels: data:js :pager:

#13065 Add Chrome/Safari versions for api.HTMLTableRowElement.insertCell.index_parameter_negative_one
  api/HTMLTableRowElement.json
Labels: data:api :rabbit2:

#13078 Add Chrome/Safari versions for api.Selection.collapse.offset_parameter_optional
  api/Selection.json
Labels: data:api :rabbit2:

#13079 Add Chrome/Safari versions for api.Selection.extend.offset_parameter_optional
  api/Selection.json
Labels: data:api :rabbit2:

#13180 Add Chrome/Safari versions for api.Selection.containsNode.partialContainment_parameter_optional
  api/Selection.json
Labels: data:api :rabbit2:

#13140 Update Chromium support for StaticRange constructor
  api/StaticRange.json
Labels: data:api :rabbit2:

#13132 Update Blob support on Firefox for Android.
  api/Blob.json
Labels: data:api :rabbit2:

#13130 Updates edge to version 95
  browsers/edge.json
Labels: data:browsers :earth_africa:

#13103 Mark many ServiceWorkerGlobalScope members as not supported in Safari
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#13202 Add IE versions for api.MouseEvent.getModifierState.accel_support
  api/MouseEvent.json
Labels: data:api :rabbit2:

#13207 Add IE versions for api.FormData.append.filename_parameter
  api/FormData.json
Labels: data:api :rabbit2:

#13201 Add IE versions for api.Window.beforeunload_event.return_string_activation
  api/Window.json
Labels: data:api :rabbit2:

#13200 Add IE versions for api.Window.beforeunload_event.event_returnvalue_activation
  api/Window.json
Labels: data:api :rabbit2:

#13196 Add Safari versions for api.KeyboardEvent.key
  api/KeyboardEvent.json
Labels: data:api :rabbit2:
