Repository mdn/browser-compat-data, pull requests merged in 2021-07, with the labels that each got.

#11334 Rename entries for Worker constructor parameters
  api/Worker.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#11298 Fix redirected mdn_url for <image> functions
  css/types/image.json
Labels: data:css :art:

#11289 Fix mdn_url Proxy/handler -> Proxy/Proxy
  javascript/builtins/Proxy.json
Labels: data:js :pager:

#11297 Add Safari versions for api.Element.error_event
  api/Element.json
Labels: data:api :rabbit2:

#11321 Add Safari versions for MediaStreamEvent API
  api/MediaStreamEvent.json
Labels: data:api :rabbit2:

#11339 Mark MediaStreamEvent as non-standard and link Chrome bug
  api/MediaStreamEvent.json
Labels: data:api :rabbit2:

#11340 Link Chrome bug for RTCPeerConnection.addStream() and related APIs
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#10281 Reconcile `css.properties.overflow-{x,y}.clip` with `css.properties.overflow.clip`
  css/properties/overflow-x.json
  css/properties/overflow-y.json
  css/properties/overflow.json
Labels: data:css :art:

#11347 Prepare release v3.3.10
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: dependencies :chains:, docs :writing_hand:, infra :building_construction:

#11338 Add Safari versions for api.EventSource.EventSource.cors_support
  api/EventSource.json
Labels: data:api :rabbit2:

#11355 Remove PushRegistrationManager.json
  api/PushRegistrationManager.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#11350 Added opera android support for :where()
  css/selectors/where.json
Labels: data:css :art:

#11346 canvas2d createConicGradient
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#11360 Add .github/workflows/ping-other-repos.yml
  .github/workflows/ping-other-repos.yml
Labels: infra :building_construction:

#11349 Update browser support and experimental status of window.isSecureContext
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:

#11362 Debug ping workflow
  .github/workflows/ping-other-repos.yml
Labels: infra :building_construction:

#11363 Update XMLHttpRequest.json
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#11315 Add spec URLs for BluetoothRemoteGattCharacteristic methods
  api/BluetoothRemoteGATTCharacteristic.json
Labels: data:api :rabbit2:, not ready :no_entry:

#11356 Update HTMLOrForeignElement mdn_urls for demixing
  api/HTMLElement.json
  api/SVGElement.json
Labels: data:api :rabbit2:

#11361 Rename Point -> WebKitPoint
  api/Point.json
  api/Window.json
Labels: data:api :rabbit2:, needs content update 📝, needs-release-note :newspaper:

#11367 Add Safari versions for api.XMLHttpRequest.send
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#11366 Add Safari versions for api.ImageData.worker_support
  api/ImageData.json
Labels: data:api :rabbit2:

#11100 Remove non-standard api.Event.getPreventDefault
  api/Event.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#11101 Remove non-standard api.Event.preventBubble/preventCapture
  api/Event.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#11369 Add data for CSS ellipse() method
  css/types/basic-shape.json
Labels: data:css :art:

#11370 Add Safari versions for api.Element.keyboard_events
  api/Element.json
Labels: data:api :rabbit2:

#11181 Update the javascript/ folder for Samsung Internet
  javascript/builtins/AggregateError.json
  javascript/builtins/BigInt.json
  javascript/builtins/FinalizationRegistry.json
  javascript/builtins/JSON.json
  javascript/builtins/Object.json
  javascript/builtins/Promise.json
  javascript/builtins/RegExp.json
  javascript/builtins/String.json
  javascript/builtins/Symbol.json
  javascript/builtins/WeakRef.json
  javascript/builtins/intl/Collator.json
  javascript/builtins/intl/DateTimeFormat.json
  javascript/builtins/intl/DisplayNames.json
  javascript/builtins/intl/Intl.json
  javascript/builtins/intl/ListFormat.json
  javascript/builtins/intl/RelativeTimeFormat.json
  javascript/classes.json
Labels: data:js :pager:, scripts :scroll:

#11392 Add spec_url to TransformStreamDefaultController
  api/TransformStreamDefaultController.json
Labels: data:api :rabbit2:

#11396 Remove LocaleMediaStream.json
  api/LocalMediaStream.json
Labels: data:api :rabbit2:

#11399 Update HTTP specs to point to httpwg; update exception list
  http/headers/accept-encoding.json
  http/headers/accept-language.json
  http/headers/accept-ranges.json
  http/headers/accept.json
  http/headers/age.json
  http/headers/alt-svc.json
  http/headers/cache-control.json
  http/headers/connection.json
  http/headers/content-disposition.json
  http/headers/content-encoding.json
  http/headers/content-language.json
  http/headers/content-length.json
  http/headers/content-location.json
  http/headers/content-range.json
  http/headers/content-type.json
  http/headers/cookie.json
  http/headers/date.json
  http/headers/early-data.json
  http/headers/etag.json
  http/headers/expect.json
  http/headers/expires.json
  http/headers/from.json
  http/headers/host.json
  http/headers/if-match.json
  http/headers/if-modified-since.json
  http/headers/if-none-match.json
  http/headers/if-range.json
  http/headers/if-unmodified-since.json
  http/headers/keep-alive.json
  http/headers/last-modified.json
  http/headers/location.json
  http/headers/pragma.json
  http/headers/proxy-authenticate.json
  http/headers/range.json
  http/headers/referer.json
  http/headers/retry-after.json
  http/headers/server.json
  http/headers/set-cookie.json
  http/headers/te.json
  http/headers/trailer.json
  http/headers/transfer-encoding.json
  http/headers/upgrade.json
  http/headers/user-agent.json
  http/headers/vary.json
  http/headers/via.json
  http/headers/warning.json
  http/headers/www-authenticate.json
  http/methods.json
  http/status.json
  test/spec-urls.test.js
Labels: data:http :mountain_cableway:, not ready :no_entry:

#11405 Adding matrix protocol to web extensions manifest
  webextensions/manifest/protocol_handlers.json
Labels: data:webext :game_die:

#11406 Updates Edge manifest support
  html/manifest/background_color.json
  html/manifest/categories.json
  html/manifest/description.json
  html/manifest/display.json
  html/manifest/icons.json
  html/manifest/name.json
  html/manifest/orientation.json
  html/manifest/prefer_related_applications.json
  html/manifest/related_applications.json
  html/manifest/scope.json
  html/manifest/screenshots.json
  html/manifest/short_name.json
  html/manifest/start_url.json
  html/manifest/theme_color.json
Labels: data:html :page_facing_up:

#11412 Update spec exception list for browser-specs 2.1
  http/headers/keep-alive.json
  test/spec-urls.test.js
Labels: data:http :mountain_cableway:, linter :house_with_garden:

#11415 Replace httpwg spec URLs with readable-anchor equivalents
  http/headers/accept-encoding.json
  http/headers/accept-language.json
  http/headers/accept-ranges.json
  http/headers/accept.json
  http/headers/age.json
  http/headers/alt-svc.json
  http/headers/cache-control.json
  http/headers/connection.json
  http/headers/content-disposition.json
  http/headers/content-encoding.json
  http/headers/content-language.json
  http/headers/content-length.json
  http/headers/content-location.json
  http/headers/content-range.json
  http/headers/content-type.json
  http/headers/cookie.json
  http/headers/date.json
  http/headers/early-data.json
  http/headers/etag.json
  http/headers/expect.json
  http/headers/expires.json
  http/headers/from.json
  http/headers/host.json
  http/headers/if-match.json
  http/headers/if-modified-since.json
  http/headers/if-none-match.json
  http/headers/if-range.json
  http/headers/if-unmodified-since.json
  http/headers/keep-alive.json
  http/headers/last-modified.json
  http/headers/location.json
  http/headers/pragma.json
  http/headers/proxy-authenticate.json
  http/headers/range.json
  http/headers/referer.json
  http/headers/retry-after.json
  http/headers/server.json
  http/headers/set-cookie.json
  http/headers/te.json
  http/headers/trailer.json
  http/headers/transfer-encoding.json
  http/headers/upgrade.json
  http/headers/user-agent.json
  http/headers/vary.json
  http/headers/via.json
  http/headers/warning.json
  http/headers/www-authenticate.json
  http/methods.json
  http/status.json
Labels: data:http :mountain_cableway:

#11413 Demix Navigator* mixins into Navigator and WorkerNavigator
  api/Navigator.json
  api/NavigatorConcurrentHardware.json
  api/NavigatorID.json
  api/NavigatorLanguage.json
  api/NavigatorOnLine.json
  api/NavigatorPlugins.json
  api/NavigatorStorage.json
  api/WorkerNavigator.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#11414 Demix paymentDetailsBase and remove it
  api/PaymentDetailsBase.json
  api/PaymentDetailsInit.json
  api/PaymentDetailsUpdate.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#11424 Remove unsupported WebGL2ComputeRenderingContext API
  api/WebGL2ComputeRenderingContext.json
Labels: data:api :rabbit2:

#11364 Consolidate data for AudioContext constructor parameters
  api/AudioContext.json
  api/AudioContextOptions.json
Labels: data:api :rabbit2:, needs content update 📝

#11419 Add Opera Android support for aspect-ratio CSS property
  css/properties/aspect-ratio.json
Labels: data:css :art:

#11428 Add missing XRLightProbe API
  api/XRLightProbe.json
Labels: data:api :rabbit2:

#11429 Add missing XRWebGLBinding API
  api/XRWebGLBinding.json
Labels: data:api :rabbit2:

#11431 Add missing XRDepthInformation API
  api/XRDepthInformation.json
Labels: data:api :rabbit2:

#11432 Add missing XRCPUDepthInformation API
  api/XRCPUDepthInformation.json
Labels: data:api :rabbit2:

#11433 Add missing XRWebGLDepthInformation API
  api/XRWebGLDepthInformation.json
Labels: data:api :rabbit2:

#11434 adds spec URLs for LargestContentfulPaint subpages
  api/LargestContentfulPaint.json
Labels: data:api :rabbit2:

#11436 Spec URLs for layout instability API
  api/LayoutShift.json
  api/LayoutShiftAttribution.json
Labels: data:api :rabbit2:

#11417 Update support for text-decoration-thickness
  css/properties/text-decoration-thickness.json
  css/properties/text-decoration.json
Labels: data:css :art:

#11422 Add Firefox versions for api.CanvasRenderingContext2D.imageSmoothingEnabled
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#11423 Add IE/Edge versions for api.CanvasRenderingContext2D.imageSmoothingEnabled
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#11438 Remove deprecated XDomainRequest API
  api/XDomainRequest.json
Labels: data:api :rabbit2:, needs content update 📝, needs-release-note :newspaper:

#11444 Add missing spec_url in api.*
  api/MIDIOutput.json
  api/MIDIPort.json
  api/RTCPeerConnection.json
  api/SVGPointList.json
Labels: data:api :rabbit2:

#11439 Add missing XR depth features
  api/XRFrame.json
  api/XRSession.json
Labels: data:api :rabbit2:

#11440 Add missing XR lighting features
  api/XRFrame.json
  api/XRSession.json
Labels: data:api :rabbit2:

#11450 Add Firefox versions for api.WorkerNavigator.serviceWorker
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#11449 Add Firefox versions for api.RTCPeerConnection.onicecandidateerror
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#11461 Add Firefox versions for api.EventTarget.addEventListener.options.passive_true_wheel
  api/EventTarget.json
Labels: data:api :rabbit2:

#11455 Add Firefox versions for TextTrackList API
  api/TextTrackList.json
Labels: data:api :rabbit2:

#11456 Add Firefox versions for TextTrackCue API
  api/TextTrackCue.json
Labels: data:api :rabbit2:

#11460 Add Firefox versions for api.WindowEventHandlers.onmessage
  api/WindowEventHandlers.json
Labels: data:api :rabbit2:

#11453 Add IE versions for UIEvent API
  api/UIEvent.json
Labels: data:api :rabbit2:

#11451 Unmarked Intl.ListFormat as experimental
  javascript/builtins/intl/ListFormat.json
Labels: data:js :pager:

#11401 Add missing MutationEvent API
  api/MutationEvent.json
Labels: data:api :rabbit2:

#11452 Remove api.WindowOrWorkerGlobalScope.setTimeout.tracking_throttling
  api/WindowOrWorkerGlobalScope.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#11425 Add missing NavigatorUAData API
  api/Navigator.json
  api/NavigatorUAData.json
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#11442 Add missing DataCue API
  api/DataCue.json
Labels: data:api :rabbit2:

#11469 Added Opera Android version 64
  api/AbstractRange.json
  api/CSSCounterStyleRule.json
  api/GravitySensor.json
  api/TrustedHTML.json
  api/TrustedScript.json
  api/TrustedScriptURL.json
  browsers/opera_android.json
  css/at-rules/counter-style.json
  css/properties/overflow-clip-margin.json
  javascript/classes.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:, data:css :art:, data:js :pager:

#11486 Adds unprefixed tab-size
  css/properties/tab-size.json
Labels: data:css :art:

#11488 Use rfc-editor.org as URL targets for IETF RFCs
  http/data-url.json
  http/headers/accept-ch.json
  http/headers/content-disposition.json
  http/headers/forwarded.json
  http/headers/origin.json
  http/headers/public-key-pins-report-only.json
  http/headers/public-key-pins.json
  http/headers/strict-transport-security.json
  http/headers/x-frame-options.json
  http/status.json
  package.json
  test/spec-urls.test.js
Labels: data:http :mountain_cableway:, dependencies :chains:, infra :building_construction:, linter :house_with_garden:

#11480 Fix capitalization of webkitIsFullScreen alt. name entries
  api/Document.json
Labels: data:api :rabbit2:

#11502 Make entries for parameter object features more consistent
  api/CSSStyleSheet.json
  api/Clients.json
  api/Document.json
  api/Element.json
  api/EventTarget.json
  api/HTMLTableRowElement.json
  api/IntersectionObserver.json
  api/MediaRecorder.json
  api/Node.json
  api/RTCPeerConnection.json
  api/Range.json
  api/Request.json
  api/SharedWorker.json
  javascript/builtins/Array.json
  javascript/builtins/intl/Collator.json
  javascript/builtins/intl/NumberFormat.json
Labels: data:api :rabbit2:, data:js :pager:, needs-release-note :newspaper:

#11489 Mark originAgentCluster as shipped in Opera
  api/Window.json
Labels: data:api :rabbit2:

#11481 Fold api.FullscreenOptions into api.Element.requestFullscreen
  api/Element.json
  api/FullscreenOptions.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#11498 Removed experimental flag from VisualViewport data
  api/VisualViewport.json
Labels: data:api :rabbit2:

#11475 Fix browser support data for `:is()`
  css/selectors/is.json
Labels: data:css :art:

#11476 Fix browser support data for `user-select` property
  css/properties/user-select.json
Labels: data:css :art:

#11493 Added Opera support for unprefixed `text-orientation`
  css/properties/text-orientation.json
Labels: data:css :art:

#11494 Add `::-ms-browse` as alternative name to `::file-selector-button`
  css/selectors/file-selector-button.json
Labels: data:css :art:

#11150 Fix RTCPeerConnection
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:, rebase needed :construction:

#11514 Update CSS accent-color spec URL
  css/properties/accent-color.json
Labels: data:css :art:

#11513 Fix support for moz-prefixed WebRTC APIs
  api/RTCIceCandidate.json
  api/RTCPeerConnection.json
  api/RTCSessionDescription.json
Labels: data:api :rabbit2:

#11500 Rename/move entries for Selection method parameters
  api/Selection.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#11499 Remove api.MouseEvent.MouseEvent.region_support entry
  api/MouseEvent.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#11487 Add real versions for DOMActivate event support
  api/Element.json
Labels: data:api :rabbit2:

#11306 Mark api.GlobalEventHandlers.onloadend as non-standard and link Gecko bug
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#11492 Fixed erroneous edge support data for some mask related CSS properties
  css/properties/mask-image.json
  css/properties/mask-position.json
  css/properties/mask-repeat.json
  css/properties/mask-size.json
  css/properties/mask.json
Labels: data:css :art:

#11515 Correct support of WebRTC Identity APIs in Firefox
  api/RTCIdentityAssertion.json
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#11511 Set Firefox 90 as release version
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#11152 Remove entries for cloneNode() and importNode() deep parameters
  api/Document.json
  api/Node.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:, rebase needed :construction:

#11520 Drop Sanitizer.p.sanitizeToString
  api/Sanitizer.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#10821 Update IE versions for api.Document.transition_events
  api/Document.json
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#11162 Update Safari versions for fullscreen properties
  api/Document.json
  api/Element.json
  api/HTMLIFrameElement.json
Labels: data:api :rabbit2:

#11458 Add Safari versions for copy/cut/paste_event
  api/Document.json
  api/Element.json
  api/Window.json
Labels: data:api :rabbit2:

#11524 Remove clipboardData subfeatures in favor of ClipboardEvent
  api/ClipboardEvent.json
  api/Document.json
  api/Element.json
  api/Window.json
Labels: data:api :rabbit2:

#11525 Mark webkitfullscreenerror as supported since Safari 6 (not 5.1)
  api/Document.json
  api/Element.json
Labels: data:api :rabbit2:

#11526 Use partial_implementation and notes for Fullscreen API on iPad
  api/Element.json
  api/HTMLIFrameElement.json
  api/_mixins/DocumentOrShadowRoot__Document.json
Labels: data:api :rabbit2:

#11403 Add spec_url for window.closed
  api/Window.json
Labels: data:api :rabbit2:

#11462 Add Firefox versions for api.KeyboardEvent.KeyboardEvent.code_and_key_in_init
  api/KeyboardEvent.json
Labels: data:api :rabbit2:

#10013 Add `::-webkit-details-marker`
  css/selectors/-webkit-details-marker.json
Labels: data:css :art:

#11391 `clip-path` works from FF 54
  css/types/basic-shape.json
Labels: data:css :art:

#11416 Update Firefox compat of URL.pathname, URL.search
  api/URL.json
Labels: data:api :rabbit2:

#11497 FF91: Intl.DateTimeFormat.prototype.formatRangeToParts() and formatRange
  javascript/builtins/intl/DateTimeFormat.json
Labels: data:js :pager:

#11529 Update Chromium support for Fullscreen API
  api/Document.json
  api/Element.json
  api/_mixins/DocumentOrShadowRoot__Document.json
Labels: data:api :rabbit2:

#10197 Update Chromium versions for BluetoothRemoteGATTService API
  api/BluetoothRemoteGATTService.json
Labels: data:api :rabbit2:

#11531 Updated Edge support for `hyphens` property
  css/properties/hyphens.json
Labels: data:css :art:

#11528 Add spec links for some <iframe> attributes
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#11312 Update NodeJS releases (add v16)
  browsers/nodejs.json
Labels: data:browsers :earth_africa:

#11522 Remove spec_urls to Web IDL iterable/maplike/setlike declarations
  api/CSSTransformValue.json
  api/CSSUnparsedValue.json
  api/CustomStateSet.json
  api/DOMTokenList.json
  api/FileSystemDirectoryHandle.json
  api/FormData.json
  api/Headers.json
  api/KeyboardLayoutMap.json
  api/MediaKeyStatusMap.json
  api/NodeList.json
  api/StylePropertyMapReadOnly.json
  api/URLSearchParams.json
  api/XRInputSourceArray.json
Labels: data:api :rabbit2:

#10889 Add scripts for tracking demixes (and other interesting feature diffs)
  .gitignore
  scripts/diff-features.js
  scripts/enumerate-features.js
Labels: infra :building_construction:, scripts :scroll:

#11535 Remove XRSessionMode enum
  api/XRSessionMode.json
Labels: data:api :rabbit2:

#11541 Prepare release v3.3.11
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: dependencies :chains:, docs :writing_hand:, infra :building_construction:

#11542 Add/update URLs for WebRTC Identity
  api/RTCIdentityAssertion.json
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#11534 Lowercase console to match the name of the namespace and MDN
  api/Console.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#11151 Fix RTCPeerConnectionIceErrorEvent
  api/RTCPeerConnectionIceErrorEvent.json
Labels: data:api :rabbit2:

#11546 Rename Point.json to WebKitPoint.json
  api/WebKitPoint.json
Labels: data:api :rabbit2:

#11550 Add spec/mdn urls to XRSession.interactionMode
  api/XRSession.json
Labels: data:api :rabbit2:

#11547 Add missing features for api.BeforeUnloadEvent.returnValue
  api/BeforeUnloadEvent.json
Labels: data:api :rabbit2:

#11505 adds spec data to MIDI interfaces
  api/MIDIAccess.json
  api/MIDIConnectionEvent.json
  api/MIDIInput.json
  api/MIDIMessageEvent.json
Labels: data:api :rabbit2:

#11551 Remove XREnvironmentBlendMode enum
  api/XREnvironmentBlendMode.json
Labels: data:api :rabbit2:

#11549 Mark PaymentRequestEvent.p.instrumentKey deprecated and non-standard
  api/PaymentRequestEvent.json
Labels: data:api :rabbit2:

#11516 Updates to font-size-adjust
  css/properties/font-size-adjust.json
Labels: data:css :art:

#11175 Remove Safari iOS 5.1
  api/Console.json
  api/DOMTokenList.json
  api/DedicatedWorkerGlobalScope.json
  api/HTMLInputElement.json
  api/KeyboardEvent.json
  api/MessageChannel.json
  api/MessagePort.json
  api/Navigator.json
  api/SharedWorker.json
  api/WebSocket.json
  api/Window.json
  api/WindowEventHandlers.json
  api/Worker.json
  api/WorkerGlobalScope.json
  api/WorkerNavigator.json
  api/XMLHttpRequest.json
  browsers/safari_ios.json
  css/properties/-webkit-border-before.json
  css/properties/letter-spacing.json
  css/properties/word-spacing.json
  css/properties/writing-mode.json
  css/selectors/-webkit-outer-spin-button.json
  css/selectors/before.json
  html/elements/figcaption.json
  html/elements/figure.json
  html/elements/input/range.json
  http/headers/content-security-policy.json
  javascript/builtins/DataView.json
  javascript/builtins/Date.json
  mathml/elements/math.json
  mathml/elements/mfrac.json
  mathml/elements/mstyle.json
  mathml/elements/munder.json
  svg/attributes/presentation.json
  svg/elements/use.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:, data:css :art:, data:html :page_facing_up:, data:http :mountain_cableway:, data:js :pager:, data:mathml :heavy_division_sign:, needs-release-note :newspaper:

#11555 Fix typo of ContentIndexEvent's "id" property (was "in")
  api/ContentIndexEvent.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#11556 Remove duplicate/misplaced api.Element.attachInternals entry
  api/Element.json
  api/HTMLElement.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#11565 Add missing features for DedicatedWorkerGlobalScope API
  api/DedicatedWorkerGlobalScope.json
Labels: data:api :rabbit2:

#11552 Update Edge support from String.prototype.trimStart/trimEnd
  javascript/builtins/String.json
Labels: data:js :pager:

#11558 Add missing features for CloseEvent API
  api/CloseEvent.json
Labels: data:api :rabbit2:

#11562 Add missing api.DOMRect.fromRect feature
  api/DOMRect.json
Labels: data:api :rabbit2:

#11557 Remove obsolete worker.close() and related entries
  api/DedicatedWorkerGlobalScope.json
  api/SharedWorkerGlobalScope.json
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:, needs content update 📝, needs-release-note :newspaper:

#11580 Update Opera support for Fullscreen API
  api/Document.json
  api/Element.json
  api/_mixins/DocumentOrShadowRoot__Document.json
Labels: data:api :rabbit2:

#11570 Add missing api.Document.rootElement feature
  api/Document.json
Labels: data:api :rabbit2:

#11572 Add missing features for DocumentFragment API
  api/DocumentFragment.json
Labels: data:api :rabbit2:

#11575 Add missing features for FetchEvent API
  api/FetchEvent.json
Labels: data:api :rabbit2:

#11588 Add missing api.PageTransitionEvent.constructor feature
  api/PageTransitionEvent.json
Labels: data:api :rabbit2:

#11584 Add missing api.KeyboardEvent.initKeyboardEvent feature
  api/KeyboardEvent.json
Labels: data:api :rabbit2:

#11576 Add missing api.HTMLSlotElement.assign feature
  api/HTMLSlotElement.json
Labels: data:api :rabbit2:

#11590 Add missing api.PaymentRequestEvent.changePaymentMethod feature
  api/PaymentRequestEvent.json
Labels: data:api :rabbit2:

#11591 Add missing api.Performance.measureUserAgentSpecificMemory feature
  api/Performance.json
Labels: data:api :rabbit2:

#11583 Add missing features for HashChangeEvent API
  api/HashChangeEvent.json
Labels: data:api :rabbit2:

#11589 Add missing features for Path2D API
  api/Path2D.json
Labels: data:api :rabbit2:

#11573 Add missing Element API features
  api/Element.json
  api/_mixins/ARIAMixin__Element.json
Labels: data:api :rabbit2:

#11561 Add missing features for DOMMatrix API
  api/DOMMatrix.json
Labels: data:api :rabbit2:

#11592 Correct Safari version for Path2D API
  api/Path2D.json
Labels: data:api :rabbit2:

#11627 Add consistent descriptions and URLs for DOM*.from* static methods
  api/DOMMatrix.json
  api/DOMMatrixReadOnly.json
  api/DOMPoint.json
  api/DOMPointReadOnly.json
  api/DOMQuad.json
  api/DOMRect.json
  api/DOMRectReadOnly.json
Labels: data:api :rabbit2:

#11593 Add missing features for PointerEvent API
  api/PointerEvent.json
Labels: data:api :rabbit2:

#11595 Add missing features for RTCErrorEvent API
  api/RTCErrorEvent.json
Labels: data:api :rabbit2:

#11596 Add missing api.RTCTrackEvent.RTCTrackEvent feature
  api/RTCTrackEvent.json
Labels: data:api :rabbit2:

#11597 Add missing api.SVGAElement.href feature
  api/SVGAElement.json
Labels: data:api :rabbit2:

#11598 Add missing features for SVGAnimatedTransformList API
  api/SVGAnimatedTransformList.json
Labels: data:api :rabbit2:

#11600 Add missing api.SVGFEImageElement.href feature
  api/SVGFEImageElement.json
Labels: data:api :rabbit2:

#11601 Add missing api.SVGGradientElement.href feature
  api/SVGGradientElement.json
Labels: data:api :rabbit2:
