Repository mdn/browser-compat-data, pull requests merged in 2022-03, with the labels that each got.

#15104 Update scroll-snap-type bug link
  css/properties/scroll-snap-type.json
Labels: data:css :art:

#14981 FF98 registerProtcolHandler() supports ftp, sftp, ftps
  api/Navigator.json
Labels: data:api :rabbit2:

#15087 Default support for hyphenate-character from FF98
  css/properties/hyphenate-character.json
Labels: data:css :art:

#15102 Update support data for forgiving selector lists in is/where for Safari
  css/selectors/is.json
  css/selectors/where.json
Labels: data:css :art:

#15152 FF97 navigator.requestMIDIAccess() supported behind flag
  api/Navigator.json
Labels: data:api :rabbit2:

#15135 Add support for Error cause in Edge
  javascript/builtins/Error.json
Labels: data:js :pager:

#15217 Release v4.1.10
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#15256 FF99 Navigator.requestMIDIAccess() - add secure context subfeature
  api/Navigator.json
Labels: data:api :rabbit2:

#15141 Add spec URLs for SVG “by” and “spreadMethod” attributes
  svg/elements/animateColor.json
  svg/elements/animateTransform.json
  svg/elements/linearGradient.json
  svg/elements/radialGradient.json
Labels: data:svg :paintbrush:

#15088 Adding details for runtime.getFrameId
  webextensions/api/runtime.json
Labels: data:webext :game_die:

#15064 Fix Safari version for clearLiveSeekableRange
  api/MediaSource.json
Labels: data:api :rabbit2:

#14174 Update Firefox versions for AnimationEvent API
  api/AnimationEvent.json
Labels: data:api :rabbit2:

#14176 Update Safari versions for AnimationEvent API
  api/AnimationEvent.json
Labels: data:api :rabbit2:

#14713 Update note wording for TextDecoder/TextEncoder NodeJS availability
  api/TextDecoder.json
  api/TextEncoder.json
Labels: data:api :rabbit2:

#15131 Adapt FileReader API to new events structure
  api/FileReader.json
Labels: data:api :rabbit2:

#15132 Adapt FontFaceSet API to new events structure
  api/FontFaceSet.json
Labels: data:api :rabbit2:

#15154 Adapt HID API to new events structure
  api/HID.json
Labels: data:api :rabbit2:

#15160 Adapt HTMLMarqueeElement API to new events structure
  api/HTMLMarqueeElement.json
Labels: data:api :rabbit2:

#15185 Adapt PresentationConnection API to new events structure
  api/PresentationConnection.json
Labels: data:api :rabbit2:

#15186 Adapt api.PresentationConnectionList.onconnectionavailable to new events structure
  api/PresentationConnectionList.json
Labels: data:api :rabbit2:

#15190 Adapt RTCDtlsTransport API to new events structure
  api/RTCDtlsTransport.json
Labels: data:api :rabbit2:

#15193 Adapt api.RTCSctpTransport.onstatechange to new events structure
  api/RTCSctpTransport.json
Labels: data:api :rabbit2:

#15159 Adapt api.HTMLInputElement.onsearch to new events structure
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#15257 FF99 WebMIDI API released
  api/MIDIAccess.json
  api/MIDIConnectionEvent.json
  api/MIDIInput.json
  api/MIDIInputMap.json
  api/MIDIMessageEvent.json
  api/MIDIOutput.json
  api/MIDIOutputMap.json
  api/MIDIPort.json
  api/Navigator.json
Labels: data:api :rabbit2:

#15271 Updates edge to version 99
  browsers/edge.json
Labels: data:browsers :earth_africa:

#15206 Adapt api.Performance.onresourcetimingbufferfull to new events structure
  api/Performance.json
Labels: data:api :rabbit2:

#15179 Adapt api.OfflineAudioContext.oncomplete to new events structure
  api/OfflineAudioContext.json
Labels: data:api :rabbit2:

#15183 Adapt api.PresentationAvailability.onchange to new events structure
  api/PresentationAvailability.json
Labels: data:api :rabbit2:

#15202 Adapt api.SharedWorker.onerror to new events structure
  api/SharedWorker.json
Labels: data:api :rabbit2:

#15233 Adapt api.Window.onappinstalled to new events structure
  api/Window.json
Labels: data:api :rabbit2:

#15303 FF99 NavigationPreloadManager - behind pref and in nightly
  api/NavigationPreloadManager.json
Labels: data:api :rabbit2:

#15301 Navigator.requestMIDIAccess - chrome secure context info
  api/Navigator.json
Labels: data:api :rabbit2:

#10897 Update visibilitychange data to reflect Safari 14 fix
  api/Document.json
Labels: data:api :rabbit2:

#15182 Adapt api.PictureInPictureWindow.onresize to new events structure
  api/PictureInPictureWindow.json
Labels: data:api :rabbit2:

#15304 Fix some spec URLs for SVG <mask> attributes
  svg/elements/mask.json
Labels: data:svg :paintbrush:

#15308 Updates firefox to version 98
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#15262 Mark animation* events supported since Firefox 5
  api/Document.json
Labels: data:api :rabbit2:

#15268 Add Safari versions for api.EventTarget.addEventListener.options_signal_parameter
  api/EventTarget.json
Labels: data:api :rabbit2:

#15209 CSS counters() - Changed the version of WebView Android to 37 from 1 (#15208)
  css/properties/counter-increment.json
  css/properties/counter-reset.json
  css/types/counter.json
Labels: data:css :art:

#15281 offset-anchor
  css/properties/offset-anchor.json
Labels: data:css :art:

#15326 Removing onmidimessage
  api/MIDIInput.json
Labels: data:api :rabbit2:

#15149 Update History pushstate|replacestate note about “unused” param (was “title”)
  api/History.json
Labels: data:api :rabbit2:

#15328 Release v4.1.11
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#15090 SameSite - IE 11 started supporting it on recent Windows 10 (#12535)
  http/headers/set-cookie.json
Labels: data:http :mountain_cableway:

#15337 FF99 supports RTCPeerConnection.setConfiguration()
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#15292 FF98 Navigator.pdfViewerEnabled - supported
  api/Navigator.json
Labels: data:api :rabbit2:

#15342 Update some CSS Shapes spec URLs
  css/types/basic-shape.json
Labels: data:css :art:

#15354 Update the TypedArray.prototype.set() spec URL
  javascript/builtins/TypedArray.json
Labels: data:js :pager:

#15230 Adapt api.Document.onpointerlock[change/error] to new events structure
  api/Document.json
Labels: data:api :rabbit2:

#15086 Adapt EventSource API to new events structure
  api/EventSource.json
Labels: data:api :rabbit2:

#15164 Adapt api.IdleDetector.onchange to new events structure
  api/IdleDetector.json
Labels: data:api :rabbit2:, needs content update 📝

#15165 Adapt api.MediaDevices.ondevicechange to new events structure
  api/MediaDevices.json
Labels: data:api :rabbit2:, needs content update 📝

#15168 Adapt api.MediaQueryList.onchange to new events structure
  api/MediaQueryList.json
Labels: data:api :rabbit2:

#15205 Adapt api.PaymentResponse.onpayerdetailchange to new events structure
  api/PaymentResponse.json
Labels: data:api :rabbit2:

#15361 Navigator.pdfViewerEnabled and return_ values fix typos
  api/Navigator.json
Labels: data:api :rabbit2:

#15369 Add inert IDL attribute spec link
  api/HTMLElement.json
Labels: data:api :rabbit2:

#15376 Add spec URL for midimessage_event
  api/MIDIInput.json
Labels: data:api :rabbit2:

#15084 Adapt api.Document.onvisibilitychange to new events structure
  api/Document.json
Labels: data:api :rabbit2:

#15196 Adapt api.Screen.onorientationchange to new events structure
  api/Screen.json
Labels: data:api :rabbit2:

#15187 Adapt api.PresentationRequest.onconnectionavailable to new events structure
  api/PresentationRequest.json
Labels: data:api :rabbit2:

#15203 Adapt api.Worker.onerror to new events structure
  api/Worker.json
Labels: data:api :rabbit2:

#15231 Adapt api.SharedWorkerGlobalScope.onconnect to new events structure
  api/SharedWorkerGlobalScope.json
Labels: data:api :rabbit2:

#15162 Adapt HTMLVideoElement API to new events structure
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#15238 Adapt api.Window.onorientationchange to new events structure
  api/Window.json
Labels: data:api :rabbit2:, rebase needed :construction:

#15169 Adapt MediaRecorder API to new events structure
  api/MediaRecorder.json
Labels: data:api :rabbit2:, needs content update 📝

#15384 Remove irrelevant Mediarecorder.ignoreMutedMedia property
  api/MediaRecorder.json
Labels: data:api :rabbit2:

#15372 Safari 15.4: CSS text-align supports match-parent
  css/properties/text-align.json
Labels: data:css :art:

#15388 Release v4.1.12
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#15191 Adapt RTCIceTransport API to new events structure
  api/RTCIceTransport.json
Labels: data:api :rabbit2:

#15197 Adapt api.ScreenOrientation.onchange to new events structure
  api/ScreenOrientation.json
Labels: data:api :rabbit2:

#15405 Delete HTTP headers Cookie2 and Set-Cookie2
  http/headers/cookie2.json
  http/headers/set-cookie2.json
Labels: data:http :mountain_cableway:

#15199 Adapt ServiceWorker API to new events structure
  api/ServiceWorker.json
Labels: data:api :rabbit2:

#15161 Adapt HTMLMediaElement API to new events structure
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#15171 Adapt MediaStreamTrack API to new events structure
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#15180 Adapt PaymentRequest API to new events structure
  api/PaymentRequest.json
Labels: data:api :rabbit2:

#15195 Adapt SVGAnimationElement API to new events structure
  api/SVGAnimationElement.json
Labels: data:api :rabbit2:

#15422 Update spec URLs for WebSocket features
  api/CloseEvent.json
  api/WebSocket.json
Labels: data:api :rabbit2:

#15192 Adapt RTCPeerConnection API to new events structure
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#15170 Adapt MediaStream API to new events structure
  api/MediaStream.json
Labels: data:api :rabbit2:

#15341 Update background-attachment: fixed support in Firefox
  css/properties/background-attachment.json
Labels: data:css :art:

#15177 Adapt NetworkInformation API to new events structure
  api/NetworkInformation.json
Labels: data:api :rabbit2:

#15428 removing onstatechange from MIDIPort
  api/MIDIPort.json
Labels: data:api :rabbit2:

#15426 removing MIDIAccess onstatechange
  api/MIDIAccess.json
Labels: data:api :rabbit2:

#15411 Update CSP support in Safari 15.4
  http/headers/content-security-policy.json
Labels: data:http :mountain_cableway:

#15331 FF WebMIDI gated by permission add on
  api/Navigator.json
Labels: data:api :rabbit2:

#15305 Fix spec URL of repeating-conic-gradient
  css/types/image.json
Labels: data:css :art:

#15099 Add bcd for Intl.NumberFormat.options_signDisplay_parameter.negative
  javascript/builtins/intl/NumberFormat.json
Labels: data:js :pager:

#15445 runtime.getFrameId for Safari tech preview note
  webextensions/api/runtime.json
Labels: data:webext :game_die:

#15455 NavigationPreloadManager - not experimental
  api/NavigationPreloadManager.json
Labels: data:api :rabbit2:

#15440 Safari 15.4 is released
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#15456 ClipboardEvent is not experimental
  api/ClipboardEvent.json
Labels: data:api :rabbit2:

#15194 Adapt RemotePlayback API to new events structure
  api/RemotePlayback.json
Labels: data:api :rabbit2:

#15393 Update Safari with support for smooth scroll behavior
  api/Element.json
Labels: data:api :rabbit2:

#15365 FF99 HTTP header Service-Worker-Navigation-Preload
  http/headers/service-worker-navigation-preload.json
Labels: data:http :mountain_cableway:

#15332 Remove incorrect version for `font-variation-settings`
  css/at-rules/font-face.json
Labels: data:css :art:

#15181 Adapt api.PermissionStatus.onchange to new events structure
  api/PermissionStatus.json
Labels: data:api :rabbit2:

#15240 Adapt api.Window.onvr* to new events structure
  api/Window.json
Labels: data:api :rabbit2:

#15344 Fix Safari support for api.WindowClient.navigate
  api/WindowClient.json
Labels: data:api :rabbit2:

#15254 Add note about safari's event restrictions
  api/Clipboard.json
Labels: data:api :rabbit2:

#15046 Adapt Worker/Message API to new events structure
  api/DedicatedWorkerGlobalScope.json
  api/ServiceWorkerContainer.json
  api/Window.json
  api/WindowEventHandlers.json
  api/Worker.json
Labels: data:api :rabbit2:, needs content update 📝

#15089 Referrer-Policy - Update for "Safari on iOS", Safari and IE (#14675)
  html/elements/meta.json
  http/headers/referrer-policy.json
Labels: data:http :mountain_cableway:, data:html :page_facing_up:

#15474 Add spec_url for HTMLMediaElement.preservesPitch
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#15175 Adapt MessagePort API to new events structure
  api/MessagePort.json
Labels: data:api :rabbit2:, needs content update 📝

#15157 Adapt HTMLElement API to new events structure
  api/HTMLElement.json
Labels: data:api :rabbit2:, needs content update 📝

#15188 Adapt api.RTCDTMFSender.ontonechange to new events structure
  api/RTCDTMFSender.json
Labels: data:api :rabbit2:

#15236 Adapt api.Window.onbeforeinstallprompt to new events structure
  api/Window.json
Labels: data:api :rabbit2:

#15176 Adapt NDEFReader API to new events structure
  api/NDEFReader.json
Labels: data:api :rabbit2:

#15178 Adapt Notification API to new events structure
  api/Notification.json
Labels: data:api :rabbit2:

#15189 Adapt RTCDataChannel API to new events structure
  api/RTCDataChannel.json
Labels: data:api :rabbit2:

#15485 Add Safari support for focus visible
  css/selectors/focus-visible.json
Labels: data:css :art:

#15204 Adapt WorkerGlobalScope API to new events structure
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#15498 usageDetails is non-standard and chromium specific
  api/StorageManager.json
Labels: data:api :rabbit2:

#15158 Delete api.HTMLFrameSetElement.onstorage
  api/HTMLFrameSetElement.json
Labels: data:api :rabbit2:

#15237 Adapt api.Window.ondevice* to new events structure
  api/Window.json
Labels: data:api :rabbit2:

#15493 Adapt IDBRequest API to new events structure
  api/IDBRequest.json
Labels: data:api :rabbit2:

#15363 FF99 NetworkInformation API pref disabled on Android
  api/Navigator.json
  api/NetworkInformation.json
Labels: data:api :rabbit2:, rebase needed :construction:

#15509 Updates opera browser to version 85
  browsers/opera.json
Labels: data:browsers :earth_africa:

#15521 App badging not supported on WebView.
  api/Navigator.json
Labels: data:api :rabbit2:

#15489 Added browser compat data for priority-hints
  api/HTMLIFrameElement.json
  api/HTMLImageElement.json
  api/HTMLLinkElement.json
  api/HTMLScriptElement.json
  api/Request.json
  html/elements/iframe.json
  html/elements/img.json
  html/elements/link.json
  html/elements/script.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#15484 Fix duplicate news scheme label in registerProtocolHandler
  api/Navigator.json
Labels: data:api :rabbit2:

#15505 Release 99 Intl.Locale Chromium adds support for some new properties
  javascript/builtins/intl/Locale.json
Labels: data:js :pager:

#15207 Adapt ServiceWorkerGlobalScope API to new events structure
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#15535 Unmark content-visibility as experimental
  css/properties/content-visibility.json
Labels: data:css :art:

#15546 Add Chromium versions for css.at-rules.font-face.font-display
  css/at-rules/font-face.json
Labels: data:css :art:

#15547 Mark lazy loading as non-experimental
  html/elements/img.json
Labels: data:html :page_facing_up:

#15537 Update spec urls for some FileSystemAccess APIs and mark as standard
  api/FileSystemDirectoryHandle.json
  api/FileSystemFileHandle.json
  api/FileSystemHandle.json
  api/FileSystemWritableFileStream.json
  api/StorageManager.json
Labels: data:api :rabbit2:

#15524 Add revert-layer to bcd table and add spec url
  css/types/global_keywords.json
Labels: data:css :art:

#15548 Make Chrome experimental flag name consistent
  api/CanvasRenderingContext2D.json
  api/Element.json
  api/KeyframeEffect.json
  api/MouseEvent.json
  api/TextMetrics.json
  css/properties/backdrop-filter.json
  css/properties/font-size-adjust.json
  css/properties/math-style.json
  css/properties/scrollbar-gutter.json
  css/properties/text-justify.json
  css/selectors/marker.json
  javascript/statements.json
Labels: data:api :rabbit2:, data:css :art:, data:js :pager:

#15562 Update standad track for `revert-layer`
  css/types/global_keywords.json
Labels: data:css :art:

#15156 Remove api.HTMLBodyElement.orientationchange event
  api/HTMLBodyElement.json
Labels: data:api :rabbit2:

#15166 Adapt api.MediaKeySession.onkeystatuseschange to new events structure
  api/MediaKeySession.json
Labels: data:api :rabbit2:

#15167 Adapt api.MediaKeySession.onmessage to new events structure
  api/MediaKeySession.json
Labels: data:api :rabbit2:

#15567 FF100 Remove and deprecate Large-Allocation HTTP header
  http/headers/large-allocation.json
Labels: data:http :mountain_cableway:

#15551 Remove flags from unsupported features
  api/PaymentRequest.json
  api/Window.json
Labels: data:api :rabbit2:

#15574 Add specific engine versions for Safari 15.4
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#15576 Remove revert row from BCD table for all property
  css/properties/all.json
Labels: data:css :art:

#15561 Fix #6725: MediaSource clearLiveSeekableRange/setLiveSeekableRange is…
  api/MediaSource.json
Labels: data:api :rabbit2:

#15296 Copied "invert" status to outline
  css/properties/outline.json
Labels: data:css :art:

#15577 Release v4.1.14
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#15580 Updates chrome to version 100
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#15585 Adds mix-blend-mode: plus-lighter - shipped in Chrome, Firefox, and Safari
  css/properties/mix-blend-mode.json
Labels: data:css :art:

#15586 hwb() color notation in Chrome 101
  css/types/color.json
Labels: data:css :art:

#15587 Adds HIDDevice.forget()
  api/HIDDevice.json
Labels: data:api :rabbit2:

#15596 Fix opera android data for nullish coalescing
  javascript/operators/nullish_coalescing.json
Labels: data:js :pager:

#15599 Un-deprecate navigator.platform
  api/Navigator.json
Labels: data:api :rabbit2:

#15552 Remove notes linking to polyfills
  webextensions/api/contentScripts.json
  webextensions/api/permissions.json
Labels: data:webext :game_die:
