Repository mdn/browser-compat-data, pull requests merged in 2022-09, with the labels that each got.

#17632 Update sub-dependencies
  package-lock.json
Labels: infra :building_construction:, dependencies :chains:

#17594 Format .github folder
  .github/ISSUE_TEMPLATE/data-problem.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/add-push-artifacts.yml
  .github/workflows/close-incomplete-issues.yml
  .github/workflows/labeler.yml
  .github/workflows/node.js.yml
  .github/workflows/ping-other-repos.yml
  .github/workflows/pr-rebase-needed.yml
  .github/workflows/release.yml
  .prettierignore
  .prettierrc
Labels: infra :building_construction:

#17633 Update permissions for rebase-needed workflow
  .github/workflows/pr-rebase-needed.yml
Labels: infra :building_construction:

#17634 Fix permissions for pr-rebase-needed workflow
  .github/workflows/pr-rebase-needed.yml
Labels: infra :building_construction:

#17636 Update mfenced support for Firefox Android
  mathml/elements/mfenced.json
Labels: data:mathml :heavy_division_sign:

#17419 Update Chromium versions for api.PushManager.permissionState
  api/PushManager.json
Labels: data:api :rabbit2:

#17383 Update Firefox versions for api.HTMLSourceElement.media
  api/HTMLSourceElement.json
Labels: data:api :rabbit2:

#17637 Mirror Samsung Internet data for SubtleCrypto
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#17431 Update Chromium versions for api.SubtleCrypto.deriveBits
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#17647 Remove hashbang spec exception
  test/linter/test-spec-urls.ts
Labels: linter :house_with_garden:

#17648 Update Firefox release data
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#17646 Updates to edge browser data
  browsers/edge.json
Labels: data:browsers :earth_africa:

#17649 Update Device Memory spec
  api/Navigator.json
  api/WorkerNavigator.json
  http/headers/Device-Memory.json
  test/linter/test-spec-urls.ts
Labels: data:http :mountain_cableway:, data:api :rabbit2:, linter :house_with_garden:

#17652 Update descriptions test to prepare for fix list
  test/linter/test-descriptions.ts
Labels: linter :house_with_garden:

#17653 Update dependencies
  package-lock.json
Labels: infra :building_construction:, dependencies :chains:

#17626 Fix spec_url of margin-block-start
  css/properties/margin-block-end.json
Labels: data:css :art:

#17638 MathML: Mark 'maction' deprecated
  mathml/elements/maction.json
Labels: data:mathml :heavy_division_sign:

#17657 Add missing api.KeyboardLayoutMap.@@iterator feature
  api/KeyboardLayoutMap.json
Labels: data:api :rabbit2:

#17655 Add missing api.HTMLFormElement.rel[List] feature
  api/HTMLFormElement.json
Labels: data:api :rabbit2:

#17650 Add missing api.HTMLAnchorElement.attributionSourceId feature
  api/HTMLAnchorElement.json
Labels: data:api :rabbit2:

#17664 Update data for math-depth property and font-size: math
  css/properties/font-size.json
  css/properties/math-depth.json
Labels: data:css :art:

#17670 Add missing api.RTCStatsReport.@@iterator feature
  api/RTCStatsReport.json
Labels: data:api :rabbit2:

#17669 Add missing api.RTCRtpSender.transform feature
  api/RTCRtpSender.json
Labels: data:api :rabbit2:

#17668 Add missing api.PublicKeyCredential.authenticatorAttachment feature
  api/PublicKeyCredential.json
Labels: data:api :rabbit2:

#17667 Add missing api.PerformanceEventTiming.interactionId feature
  api/PerformanceEventTiming.json
Labels: data:api :rabbit2:

#17660 Add missing api.MediaStreamTrack.getCaptureHandle feature
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#17659 Add missing api.MediaStreamTrack.capturehandlechange_event feature
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#17665 Add missing api.OffscreenCanvas.context[lost/restored]_event feature
  api/OffscreenCanvas.json
Labels: data:api :rabbit2:

#17666 Add missing api.Path2D.roundRect feature
  api/Path2D.json
Labels: data:api :rabbit2:

#17673 Remove Document.visibilityState's prerender value
  api/Document.json
Labels: data:api :rabbit2:

#17662 Add compat data for font-family: math
  css/properties/font-family.json
Labels: data:css :art:

#17671 Add missing api.Screen.isExtended feature
  api/Screen.json
Labels: data:api :rabbit2:

#17676 Add missing api.WebGL2RenderingContext.lineWidth feature
  api/WebGL2RenderingContext.json
Labels: data:api :rabbit2:

#17678 Add missing CropTarget API
  api/CropTarget.json
Labels: data:api :rabbit2:

#17677 Add missing BrowserCaptureMediaStreamTrack API
  api/BrowserCaptureMediaStreamTrack.json
Labels: data:api :rabbit2:

#17684 Add missing features for ScreenDetailed API
  api/ScreenDetailed.json
Labels: data:api :rabbit2:

#17683 Add missing OES_draw_buffers_indexed API
  api/OES_draw_buffers_indexed.json
Labels: data:api :rabbit2:

#17686 Add missing WebTransport APIs
  api/WebTransport.json
  api/WebTransportBidirectionalStream.json
  api/WebTransportDatagramDuplexStream.json
  api/WebTransportError.json
Labels: data:api :rabbit2:

#17658 Add missing api.MediaDevices.setCaptureHandleConfig feature
  api/MediaDevices.json
Labels: data:api :rabbit2:

#17689 Updates chrome browser to version 105
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#17645 Fontface openfont tables
  css/at-rules/font-face.json
Labels: data:css :art:

#17641 Correcting and updating WCO compat data
  api/Navigator.json
  api/WindowControlsOverlay.json
  api/WindowControlsOverlayGeometryChangeEvent.json
  css/properties/custom-property.json
Labels: data:api :rabbit2:, data:css :art:

#17644 Remove BlobBuilder
  api/BlobBuilder.json
Labels: data:api :rabbit2:

#17692 Add compat data for the math-shift property
  css/properties/math-shift.json
Labels: data:css :art:

#17697 fix the broken link to CSS `path()`
  svg/elements/path.json
Labels: data:svg :paintbrush:

#17700 Update Safari versions for AudioBufferSourceNode API
  api/AudioBufferSourceNode.json
Labels: data:api :rabbit2:

#17703 Release v5.2.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#17705 Set workflow permissions for release workflow
  .github/workflows/release.yml
Labels: infra :building_construction:

#17706 Remove api.CanvasRenderingContext2D.drawWindow from BCD
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#17702 Update compat data for the <semantics> element
  mathml/elements/semantics.json
Labels: data:mathml :heavy_division_sign:

#17721 Mark WindowControlsOverlayGeometryChangeEvent as experimental
  api/WindowControlsOverlayGeometryChangeEvent.json
Labels: data:api :rabbit2:

#17720 Mark WindowControlsOverlay as experimental
  api/WindowControlsOverlay.json
Labels: data:api :rabbit2:

#17711 Update compat data for the <maction> element
  mathml/elements/maction.json
Labels: data:mathml :heavy_division_sign:

#17694 Correct Safari support for Worklet.addModule
  api/Worklet.json
Labels: data:api :rabbit2:

#17728 Add “d as CSS property supports path()” SVG path subfeature spec URL
  svg/elements/path.json
Labels: data:svg :paintbrush:

#17691 Update CSS font-palette spec URL
  css/properties/font-palette.json
Labels: data:css :art:

#17642 Add Element(Internals).ariaColIndexText/ariaRowIndexText
  api/Element.json
  api/ElementInternals.json
Labels: data:api :rabbit2:

#17732 Finalize freeze of IE data
  .github/ISSUE_TEMPLATE/data-problem.yml
  RELEASE_NOTES.md
  schemas/compat-data-schema.md
Labels: schema :gear:, infra :building_construction:, docs :writing_hand:

#17630 Update formatting globs
  package.json
Labels: infra :building_construction:, dependencies :chains:

#17735 Remove compat data for mfrac@bevelled
  mathml/elements/mfrac.json
Labels: data:mathml :heavy_division_sign:

#17740 Add mdn_urls for HID events
  api/HID.json
Labels: data:api :rabbit2:

#17741 Add compat data for deprecated MathML 1 style attributes
  mathml/elements/mstyle.json
Labels: data:mathml :heavy_division_sign:

#17722 Add Global Privacy Control data
  api/Navigator.json
  http/headers/Sec-GPC.json
  webextensions/api/privacy.json
Labels: data:http :mountain_cableway:, data:webext :game_die:, data:api :rabbit2:

#17708 Update Firefox versions for api.CanvasRenderingContext2D.measureText
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#17714 Mirror javascript.builtins to WebView
  javascript/builtins/String.json
  javascript/builtins/TypedArray.json
Labels: data:js :pager:

#17712 Mirror javascript.builtins to Opera
  javascript/builtins/Array.json
  javascript/builtins/Intl.json
  javascript/builtins/Intl/Locale.json
  javascript/builtins/Map.json
  javascript/builtins/String.json
  javascript/builtins/TypedArray.json
  javascript/builtins/WeakRef.json
  javascript/builtins/WebAssembly/Global.json
Labels: data:js :pager:

#17710 Update Firefox versions for Console API
  api/Console.json
Labels: data:api :rabbit2:

#17734 Add Firefox version removed information for menuitem element
  api/Element.json
  api/HTMLElement.json
  api/HTMLMenuElement.json
  api/HTMLMenuItemElement.json
  html/elements/menu.json
  html/elements/menuitem.json
  html/global_attributes.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#17709 Update Firefox versions for api.CloseEvent.CloseEvent
  api/CloseEvent.json
Labels: data:api :rabbit2:

#17713 Update Chromium versions for javascript.builtins.Intl.Locale.collations
  javascript/builtins/Intl/Locale.json
Labels: data:js :pager:

#17716 Update Edge versions for javascript.builtins.Array.values
  javascript/builtins/Array.json
Labels: data:js :pager:

#17718 Update Opera versions for align-content CSS property
  css/properties/align-content.json
Labels: data:css :art:

#17719 Update Opera versions for align-items CSS property
  css/properties/align-items.json
Labels: data:css :art:

#17745 Fix broken links in browser data guidelines
  docs/data-guidelines/browsers.md
Labels: docs :writing_hand:

#17715 Update Chromium versions for javascript.builtins.Array.isArray
  javascript/builtins/Array.json
Labels: data:js :pager:

#17717 Update Safari versions for javascript.builtins.ArrayBuffer.slice
  javascript/builtins/ArrayBuffer.json
Labels: data:js :pager:

#17479 Add a note regarding Firefox's lack of support for non-textual types for datalist
  html/elements/datalist.json
Labels: data:html :page_facing_up:

#17679 Add missing FontData API
  api/FontData.json
  api/Window.json
Labels: data:api :rabbit2:

#17685 Add missing ScreenDetails API
  api/ScreenDetails.json
  api/Window.json
Labels: data:api :rabbit2:

#17748 Deprecate RTCIceServer»credentialType & RTCIceCredentialType
  api/RTCIceCredentialType.json
  api/RTCIceServer.json
Labels: data:api :rabbit2:

#17384 Update Chromium versions for api.HTMLSourceElement.sizes
  api/HTMLSourceElement.json
Labels: data:api :rabbit2:

#17754 Better word guideline for unsupported features
  docs/data-guidelines/index.md
Labels: docs :writing_hand:

#17755 Fix: update webextensions.api.devtools MDN URLs
  webextensions/api/devtools.json
Labels: data:webext :game_die:

#17682 Add missing LaunchQueue/LaunchParams API
  api/LaunchParams.json
  api/LaunchQueue.json
  api/Window.json
Labels: data:api :rabbit2:

#17765 FF105 TextEncoderStream and TextDecoderStream
  api/TextDecoderStream.json
  api/TextEncoderStream.json
Labels: data:api :rabbit2:

#17758 Update Safari versions for Array JavaScript builtin
  javascript/builtins/Array.json
Labels: data:js :pager:

#17761 Update Safari versions for Date JavaScript builtin
  javascript/builtins/Date.json
Labels: data:js :pager:

#17759 Update Chromium versions for javascript.builtins.Date.now
  javascript/builtins/Date.json
Labels: data:js :pager:

#17760 Update Firefox versions for javascript.builtins.Date.now
  javascript/builtins/Date.json
Labels: data:js :pager:

#17764 Update Chromium versions for javascript.builtins.Map.@@iterator
  javascript/builtins/Map.json
Labels: data:js :pager:

#17675 Add missing api.WebGL[2]RenderingContext.[drawingBuffer/unpack]ColorSpace feature
  api/WebGL2RenderingContext.json
  api/WebGLRenderingContext.json
Labels: data:api :rabbit2:

#17427 Update Chromium versions for api.SVGStyleElement.sheet
  api/SVGStyleElement.json
Labels: data:api :rabbit2:

#17388 Update Chrome/Safari versions for MessageEvent API
  api/MessageEvent.json
Labels: data:api :rabbit2:

#17752 webNavigation.TransitionQualifier from_address_bar support udate
  webextensions/api/webNavigation.json
Labels: data:webext :game_die:

#17769 Safari 16 is released
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#17246 Remove incorrect notes on `MediaQueryList.addEventListener`
  api/MediaQueryList.json
Labels: data:api :rabbit2:

#17779 Release v5.2.2
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#17778 Add CSSContainerRule interface
  api/CSSContainerRule.json
Labels: data:api :rabbit2:

#17780 Fix release script permissions
  .github/workflows/release.yml
Labels: infra :building_construction:

#17212 scroll-timeline at-rule removed from spec; drop from BCD
  css/at-rules/scroll-timeline.json
Labels: data:css :art:

#17781 Update Safari versions for ApplicationCache API
  api/ApplicationCache.json
Labels: data:api :rabbit2:

#17783 Add Safari versions for AuthenticatorAttestationResponse API
  api/AuthenticatorAttestationResponse.json
Labels: data:api :rabbit2:

#17784 Add Safari versions for api.CanvasRenderingContext2D.roundRect
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#17788 Add Safari versions for api.Path2D.roundRect
  api/Path2D.json
Labels: data:api :rabbit2:

#17785 Add Safari versions for EXT_texture_compression_bptc API
  api/EXT_texture_compression_bptc.json
Labels: data:api :rabbit2:

#17786 Add Safari versions for EXT_texture_norm16 API
  api/EXT_texture_norm16.json
Labels: data:api :rabbit2:

#17787 Add Safari versions for OES_draw_buffers_indexed API
  api/OES_draw_buffers_indexed.json
Labels: data:api :rabbit2:

#17789 Add CSS container-* properties and shorthand
  css/properties/container-name.json
  css/properties/container-type.json
  css/properties/container.json
Labels: data:css :art:

#17625 Add Husky for pre-commit formatting hooks
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
Labels: infra :building_construction:, dependencies :chains:

#17772 Make Safari 5.1 mirror to iOS 5 (not 6)
  api/CanvasGradient.json
  api/HTMLMarqueeElement.json
  api/HashChangeEvent.json
  api/Window.json
  css/properties/border-radius.json
  css/properties/hyphens.json
  css/selectors/left.json
  css/selectors/right.json
  css/types/image.json
  javascript/builtins/ArrayBuffer.json
  javascript/builtins/Function.json
  javascript/builtins/Object.json
  javascript/statements.json
  scripts/release/mirror.test.ts
  scripts/release/mirror.ts
Labels: data:api :rabbit2:, data:css :art:, data:js :pager:, scripts :scroll:

#17770 Update partial support for CSS.supports()
  api/CSS.json
Labels: data:api :rabbit2:

#17798 Synchronize pre-commit hook with mdn/content
  .husky/pre-commit
Labels: infra :building_construction:

#17799 Label any PR changing files starting with a dot as "infra"
  .github/labeler.yml
Labels: infra :building_construction:

#17802 Finalize replace drafts.csswg.org -> w3c.github.io/csswg-drafts URL
  test/linter/test-spec-urls.ts
Labels: linter :house_with_garden:

#17803 Updates opera browser to version 91
  browsers/opera.json
Labels: data:browsers :earth_africa:

#17806 Add .nvmrc
  .nvmrc
Labels: infra :building_construction:

#17805 Fix .lintstagedrc
  .lintstagedrc
Labels: infra :building_construction:

#17804 Add Chromium versions for api.Request.body
  api/Request.json
Labels: data:api :rabbit2:

#17808 Update Chromium versions for api.Sanitizer.getConfiguration
  api/Sanitizer.json
Labels: data:api :rabbit2:

#17812 Update compat data for the MathML <mo> element
  mathml/elements/mo.json
Labels: data:mathml :heavy_division_sign:

#17811 Remove "default values" notes for Web Audio constructors
  api/AudioBufferSourceNode.json
  api/BiquadFilterNode.json
  api/DelayNode.json
  api/DynamicsCompressorNode.json
  api/GainNode.json
  api/IIRFilterNode.json
  api/MediaElementAudioSourceNode.json
  api/MediaStreamAudioDestinationNode.json
  api/MediaStreamAudioSourceNode.json
  api/OfflineAudioCompletionEvent.json
  api/OscillatorNode.json
  api/PannerNode.json
  api/PeriodicWave.json
  api/StereoPannerNode.json
  api/WaveShaperNode.json
Labels: data:api :rabbit2:

#17814 Update Chromium compat data for math@display
  mathml/elements/math.json
Labels: data:mathml :heavy_division_sign:

#17830 Chrome support for ic unit
  css/types/length.json
Labels: data:css :art:

#17828 feat(css): Add CSS Values Level 4 `<calc-constant>` compatibility data
  css/types/calc-constant.json
Labels: data:css :art:

#17834 FF105 CSP script- and style- src-elem and src-attr directives
  http/headers/Content-Security-Policy.json
Labels: data:http :mountain_cableway:

#17820 Add Chrome data for mfrac@linethickness
  mathml/elements/mfrac.json
Labels: data:mathml :heavy_division_sign:

#17816 Add back pointerlock{error|change} events
  api/Document.json
Labels: data:api :rabbit2:

#17836 Updates opera for android to version 71
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#17838 Remove javascript.builtins.Date.toSource
  javascript/builtins/Date.json
Labels: data:js :pager:

#17831 Chrome support unprefixed hyphenate-character
  css/properties/hyphenate-character.json
Labels: data:css :art:

#17826 Safari does not support browser.storage.local.{get,remove} with empty keys
  webextensions/api/storage.json
Labels: data:webext :game_die:

#17815 FF105 @font-face src: tech() option
  css/at-rules/font-face.json
Labels: data:css :art:

#17794 Update early support for CanvasGradient and CanvasPattern
  api/CanvasGradient.json
  api/CanvasPattern.json
Labels: data:api :rabbit2:

#17829 update subgrid and animation support
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
Labels: data:css :art:

#17843 Mirror Safari iOS support for CanvasGradient
  api/CanvasGradient.json
Labels: data:api :rabbit2:

#17850 Mark support for UrlFilter in Safari.
  webextensions/api/events.json
Labels: data:webext :game_die:

#17848 Change share_target to level 2 spec url
  html/manifest/share_target.json
Labels: data:html :page_facing_up:

#17847 Update compat data for the mspace element
  mathml/elements/mspace.json
Labels: data:mathml :heavy_division_sign:

#17846 docs(CSS): add compat info on color-scheme for embedded elements
  css/at-rules/media.json
Labels: data:css :art:

#17844 Link Chrome and Firefox bugs for the cross-fade() CSS function
  css/types/image.json
Labels: data:css :art:

#17840 FF104 supports CSS contains-intrinsic-size behind pref
  css/properties/contain-intrinsic-size.json
Labels: data:css :art:

#17824 NetworkInformation is removed from Firefox Desktop in version 32
  api/Navigator.json
  api/NetworkInformation.json
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#17800 Update data for HTTP header Expect-CT
  http/headers/Expect-CT.json
Labels: data:http :mountain_cableway:

#17851 Release v5.2.3
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#17505 feat(css): Update Firefox support for CSS trigonometric functions
  css/types/acos.json
  css/types/asin.json
  css/types/atan.json
  css/types/atan2.json
Labels: data:css :art:, not ready :no_entry:

#17661 Update data about overflow-clip-margin
  css/properties/overflow-clip-margin.json
Labels: data:css :art:

#17455 Update Opera versions for api.Window.appinstalled_event
  api/Window.json
Labels: data:api :rabbit2:

#17813 Sort out Safari 5.1 vs iOS 6 data
  api/HTMLMarqueeElement.json
  api/HashChangeEvent.json
  api/Window.json
  css/properties/border-radius.json
  css/properties/hyphens.json
  css/types/image.json
  javascript/builtins/Object.json
  javascript/statements.json
Labels: data:api :rabbit2:, data:css :art:, data:js :pager:

#17852 Update support for @page :left/:right pseudo-classes
  css/selectors/left.json
  css/selectors/right.json
Labels: data:css :art:

#17832 add the WebCodecs dequeue event
  api/AudioDecoder.json
  api/AudioEncoder.json
  api/VideoDecoder.json
  api/VideoEncoder.json
Labels: data:api :rabbit2:
