Repository mdn/browser-compat-data, pull requests merged in 2022-12, with the labels that each got.

#18351 All RegExp legacy features are standard and deprecated
  javascript/builtins/RegExp.json
Labels: data:js :pager:

#18346 Deno does not support Cache.add/addAll/keys
  api/Cache.json
Labels: data:api :rabbit2:

#18347 Note about dynamic imports in `deno compile`
  javascript/operators/import.json
Labels: data:js :pager:

#18345 Deno support for Wasm Exceptions
  javascript/builtins/WebAssembly/Exception.json
  javascript/builtins/WebAssembly/Tag.json
Labels: data:js :pager:

#18344 Deno support for Intl Locale Info proposal
  javascript/builtins/Intl/Locale.json
Labels: data:js :pager:

#18343 Deno support for Intl Enumeration proposal
  javascript/builtins/Intl.json
Labels: data:js :pager:

#18358 Remove Firefox note from PerformanceNavigationTiming
  api/PerformanceNavigationTiming.json
Labels: data:api :rabbit2:

#18373 New Edge 108 version
  browsers/edge.json
Labels: data:browsers :earth_africa:

#18383 Split (Async)?(Generator)?Function class and ctor pages
  javascript/builtins/AsyncFunction.json
  javascript/builtins/AsyncGeneratorFunction.json
  javascript/builtins/GeneratorFunction.json
Labels: data:js :pager:

#18381 [CSS] Implement font-variant-emoji
  css/properties/font-variant-emoji.json
  css/properties/font-variant.json
Labels: data:css :art:

#18380 Use ED spec version for LargestContentfulPaint
  api/LargestContentfulPaint.json
Labels: data:api :rabbit2:

#18372 Add deletable, onDeleteSuggestion, improve accuracy of version_added
  webextensions/api/omnibox.json
Labels: data:webext :game_die:

#18371 Add compat info for SecurityInfo.secretKeyLength
  webextensions/api/webRequest.json
Labels: data:webext :game_die:

#18328 Add PerformanceResourceTiming.responseStatus
  api/PerformanceResourceTiming.json
Labels: data:api :rabbit2:

#18384 Deprecate arguments.callee
  javascript/functions.json
Labels: data:js :pager:

#18391 Apply mirroring to statements that can simply be mirrored
  webextensions/api/omnibox.json
Labels: data:webext :game_die:

#18400 Release v5.2.21
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#18404 Add mdn_url for Element.elementTiming
  api/Element.json
Labels: data:api :rabbit2:

#18304 Update Chromium versions for BrowserCaptureMediaStreamTrack API
  api/BrowserCaptureMediaStreamTrack.json
Labels: data:api :rabbit2:

#18410 Add workflow to auto-merge dependency updates
  .github/workflows/auto-merge.yml
Labels: infra :building_construction:

#18412 Firefox supports `OffscreenCanvas`'s `convertToBlob()`
  api/OffscreenCanvas.json
Labels: data:api :rabbit2:

#18388 add URLPattern() constructor ignoreCase option
  api/URLPattern.json
Labels: data:api :rabbit2:

#18257 put back display-capture directive support
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:

#18389 add compat data for Critical-CH
  http/headers/Critical-CH.json
Labels: data:http :mountain_cableway:

#18428 Release v5.2.22
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#18429 Firefox 108 is released
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#18433 Update Firefox versions for OES_draw_buffers_indexed API
  api/OES_draw_buffers_indexed.json
Labels: data:api :rabbit2:

#18430 Update Chromium versions for api.CSS.vb/vi
  api/CSS.json
Labels: data:api :rabbit2:

#18444 Note Safari limited support for hanging-punctuation
  css/properties/hanging-punctuation.json
Labels: data:css :art:

#18421 Update Edge to support 103 Early Hints
  http/status.json
Labels: data:http :mountain_cableway:

#18413 Add MediaSession actions types
  api/MediaSession.json
Labels: data:api :rabbit2:

#18411 add data for text fragments
  html/elements/a.json
Labels: data:html :page_facing_up:

#18407 releases(API): Fx 109 enables scrollend event by default which indicates scroll is complete
  api/Document.json
  api/Element.json
Labels: data:api :rabbit2:

#18365 Update Chrome Android and WebView data for OPFS features
  api/FileSystemFileHandle.json
  api/FileSystemSyncAccessHandle.json
  api/StorageManager.json
Labels: data:api :rabbit2:

#18272 added the firefox support for font-palette & @font-palette-values
  css/at-rules/font-palette-values.json
  css/properties/font-palette.json
Labels: data:css :art:

#18264 Add Screen Capture API options and constraints
  api/CaptureController.json
  api/MediaDevices.json
  api/MediaTrackConstraints.json
  api/MediaTrackSettings.json
  api/MediaTrackSupportedConstraints.json
Labels: data:api :rabbit2:

#18209 add in some updates to WebTransport data
  api/WebTransport.json
  api/WebTransportBidirectionalStream.json
Labels: data:api :rabbit2:

#18446 chore: modulepreload experimental status expire
  html/elements/link.json
Labels: data:html :page_facing_up:

#18427 update data for web app launch handler api
  api/LaunchParams.json
  api/LaunchQueue.json
  api/Window.json
  html/manifest/launch_handler.json
  html/manifest/shortcuts.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#18419 update local font access API data
  api/FontData.json
  api/Permissions.json
  api/Window.json
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#18431 Update Chromium versions for api.HTMLFormElement.rel(List)
  api/HTMLFormElement.json
Labels: data:api :rabbit2:

#18432 Update Chromium versions for api.PublicKeyCredential.isConditionalMediationAvailable
  api/PublicKeyCredential.json
Labels: data:api :rabbit2:

#18434 Update Firefox versions for api.MIDIInputMap.@@iterator
  api/MIDIInputMap.json
Labels: data:api :rabbit2:

#18435 Update Firefox versions for api.HTMLSourceElement.height/width
  api/HTMLSourceElement.json
Labels: data:api :rabbit2:

#18436 Update Chromium versions for javascript.builtins.Intl.NumberFormat.formatRange(ToParts)
  javascript/builtins/Intl/NumberFormat.json
Labels: data:js :pager:

#18437 Update Chromium versions for javascript.builtins.Intl.PluralRules.selectRange
  javascript/builtins/Intl/PluralRules.json
Labels: data:js :pager:

#18454 CSS @font-face src string allows invalid items
  css/at-rules/font-face.json
Labels: data:css :art:

#18460 Add missing fragment directive URLs to data
  api/Document.json
  api/FragmentDirective.json
Labels: data:api :rabbit2:

#18461 Add `@import layer()`
  css/at-rules/import.json
Labels: data:css :art:

#18459 update data for requestPointerLock unadjustedMovement option
  api/Element.json
Labels: data:api :rabbit2:

#18455 add data for iframe credentialless
  api/Window.json
  html/elements/iframe.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#18464 Release v5.2.23
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#18451 Update <link crossorigin> data to match API
  html/elements/link.json
Labels: data:html :page_facing_up:

#18468 Update all dependencies
  package-lock.json
Labels: infra :building_construction:, dependencies :chains:

#18466 `javascript.builtins.RegExp.hasIndices` supported by Node.js 16
  javascript/builtins/RegExp.json
Labels: data:js :pager:

#18470 Add some missing MDN links
  api/ElementInternals.json
  api/ImageDecoder.json
Labels: data:api :rabbit2:

#18469 Updated the input range tickmark version for FF
  html/elements/input/range.json
Labels: data:html :page_facing_up:

#18482 X-DNS-Prefetch-Control on Safari
  http/headers/X-DNS-Prefetch-Control.json
Labels: data:http :mountain_cableway:

#18478 update __proto__ spec URL
  javascript/builtins/Object.json
Labels: data:js :pager:

#18494 Update all packages
  package-lock.json
Labels: infra :building_construction:, dependencies :chains:

#18496 Remove RTCIceCredentialType API from BCD
  api/RTCIceCredentialType.json
Labels: data:api :rabbit2:

#18498 Fix lint-staged configuration
  .lintstagedrc
Labels: infra :building_construction:

#18258 Remove obsolete API features
  api/CSS.json
  api/DOMMatrixReadOnly.json
  api/DataTransfer.json
  api/Document.json
  api/DocumentType.json
  api/Element.json
  api/HTMLAudioElement.json
  api/HTMLCanvasElement.json
  api/HTMLIFrameElement.json
  api/HTMLKeygenElement.json
  api/HTMLStyleElement.json
  api/HTMLVideoElement.json
  api/Location.json
  api/MediaStreamTrack.json
  api/Navigator.json
  api/Node.json
  api/RTCIceCandidatePairStats.json
  api/RTCIceTransport.json
  api/RTCIdentityProviderGlobalScope.json
  api/RTCIdentityProviderRegistrar.json
  api/RTCPeerConnection.json
  api/RTCRtpEncodingParameters.json
  api/RTCRtpSendParameters.json
  api/SVGElement.json
  api/SVGImageElement.json
  api/SVGSVGElement.json
  api/SVGViewElement.json
  api/SharedWorkerGlobalScope.json
  api/SourceBuffer.json
  api/TransitionEvent.json
  api/URL.json
  api/VRPose.json
  api/WebGLObject.json
  api/WebGLTimerQueryEXT.json
  api/Window.json
  api/XMLDocument.json
  api/XRPermissionStatus.json
Labels: data:api :rabbit2:

#18505 Release v5.2.24
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:
