Repository mdn/browser-compat-data, pull requests merged in 2022-07, with the labels that each got.

#16693 Update preventScroll option support for Android's Web Browsers due to unsupported
  api/HTMLElement.json
Labels: data:api :rabbit2:

#16855 Improve spec URLs for a few events
  api/Document.json
  api/Window.json
Labels: data:api :rabbit2:

#16846 Add some missing spec URLs
  api/DOMQuad.json
  api/HTMLAllCollection.json
  api/MediaEncryptedEvent.json
  api/NDEFMessage.json
  api/PaintRenderingContext2D.json
  api/PaymentInstruments.json
  api/PaymentManager.json
  api/PerformanceMark.json
  api/PresentationConnectionCloseEvent.json
  api/PushSubscriptionChangeEvent.json
  api/SpeechRecognitionEvent.json
  api/TextDecoder.json
  api/XMLHttpRequestUpload.json
  api/XPathEvaluator.json
  api/XSLTProcessor.json
Labels: data:api :rabbit2:

#16854 FF103 Supports Array.findLast and .findLastIndex
  javascript/builtins/Array.json
  javascript/builtins/TypedArray.json
Labels: data:js :pager:

#16816 Chrome 104 has support for individual transform properties
  css/properties/rotate.json
  css/properties/scale.json
  css/properties/translate.json
Labels: data:css :art:

#16858 Add recent major Oculus Browser versions up to 22.0.
  browsers/oculus.json
Labels: data:browsers :earth_africa:

#16856 Remove *.toSource() and uneval()
  javascript/builtins/Array.json
  javascript/builtins/Boolean.json
  javascript/builtins/Function.json
  javascript/builtins/Number.json
  javascript/builtins/Object.json
  javascript/builtins/RegExp.json
  javascript/builtins/String.json
  javascript/builtins/Symbol.json
  javascript/builtins/globals.json
Labels: data:js :pager:, needs-release-note :newspaper:

#16827 Add resize event entry for HTMLVideoElement
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#16865 Note that the video.onresize property was not in IE/EdgeHTML
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#16844 Updates versions/statuses for applicationCache in shared workers
  api/SharedWorkerGlobalScope.json
Labels: data:api :rabbit2:

#16843 Make status of window.styleMedia match StyleMedia interface
  api/Window.json
Labels: data:api :rabbit2:

#16842 Deprecate webkitConvertPointFromNodeToPage + webkitConvertPointFromPageToNode
  api/Window.json
Labels: data:api :rabbit2:

#16841 Fix names and description of fetch parameters
  api/_globals/fetch.json
Labels: data:api :rabbit2:

#16723 Remove resize event from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#16845 Mark PresentationRequest's startWithDevice deprecated
  api/PresentationRequest.json
Labels: data:api :rabbit2:

#16862 Chrome v1.0 supports meta: http-equiv: refresh
  html/elements/meta.json
Labels: data:html :page_facing_up:

#16868 Update IE/Opera/Safari support for <meta http-equiv="refresh">
  html/elements/meta.json
Labels: data:html :page_facing_up:

#16877 Account for "preview" version in mirroring script
  scripts/release/mirror.ts
Labels: scripts :scroll:

#16838 serviceWorkers and indexedDB delete by hostname
  webextensions/api/browsingData.json
Labels: data:webext :game_die:

#16446 Chrome 105 adds Sanitizer API
  api/Sanitizer.json
Labels: data:api :rabbit2:

#16759 Demix touch events from GlobalEventHandlers
  api/Document.json
  api/Element.json
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, needs content update 📝

#16883 Explicitly set flags/webextensions support for all browsers
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/deno.json
  browsers/edge.json
  browsers/firefox.json
  browsers/ie.json
  browsers/nodejs.json
  browsers/oculus.json
  browsers/opera.json
  browsers/opera_android.json
  browsers/safari.json
  browsers/safari_ios.json
  browsers/samsunginternet_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#16884 Assume "false" for accepts_flags if not specified
  test/linter/test-versions.ts
Labels: linter :house_with_garden:

#16885 Make accepts_flags/webextensions required properties
  schemas/browsers.schema.json
Labels: schema :gear:

#16671 Demix mouse events from GlobalEventHandlers
  api/Element.json
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, needs content update 📝

#16880 Update Safari version for TextTrackList's getTrackById()
  api/TextTrackList.json
Labels: data:api :rabbit2:

#16879 Bump all IndexedDB Safari versions to 8 (was 7)
  api/IDBCursor.json
  api/IDBCursorWithValue.json
  api/IDBDatabase.json
  api/IDBFactory.json
  api/IDBIndex.json
  api/IDBKeyRange.json
  api/IDBObjectStore.json
  api/IDBOpenDBRequest.json
  api/IDBRequest.json
  api/IDBTransaction.json
  api/IDBVersionChangeEvent.json
  api/_globals/indexedDB.json
Labels: data:api :rabbit2:

#16658 Demix key events from GlobalEventHandlers
  api/Document.json
  api/Element.json
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#16731 Demix select event from GlobalEventHandlers
  api/Element.json
  api/GlobalEventHandlers.json
  api/HTMLInputElement.json
  api/HTMLTextAreaElement.json
Labels: data:api :rabbit2:

#16544 Demix change event from GlobalEventHandlers
  api/GlobalEventHandlers.json
  api/HTMLElement.json
Labels: data:api :rabbit2:

#16651 Demix input event from GlobalEventHandlers
  api/GlobalEventHandlers.json
  api/HTMLElement.json
Labels: data:api :rabbit2:

#16847 Demix cancel event from GlobalEventHandlers
  api/GlobalEventHandlers.json
  api/HTMLDialogElement.json
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#16732 Remove show event from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#16889 mdn_url: wrong path
  webextensions/api/storage.json
Labels: data:webext :game_die:

#16735 Demix submit event from GlobalEventHandlers
  api/GlobalEventHandlers.json
  api/HTMLFormElement.json
Labels: data:api :rabbit2:

#16609 Demix ended event from GlobalEventHandlers
  api/GlobalEventHandlers.json
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:, needs content update 📝

#16559 Demix emptied event from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, needs content update 📝

#16545 Remove close event from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#16894 Migration 010: Set Oculus to "mirror" for all features
  scripts/migrations/010-set-oculus-to-mirror.ts
Labels: bulk_update :package:, scripts :scroll:

#16611 Remove formdata event from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, needs content update 📝

#16897 Bump ts-node to 10.8.2
  package-lock.json
  package.json
Labels: infra :building_construction:, dependencies :chains:

#16546 Remove contextmenu from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, needs content update 📝

#16876 FF103 transferrable streams
  api/ReadableStream.json
  api/TransformStream.json
  api/WritableStream.json
Labels: data:api :rabbit2:

#16904 Fix formatting for caches.json
  api/_globals/caches.json
Labels: data:api :rabbit2:

#16905 Catch file read errors
  test/lint.ts
  test/utils.ts
Labels: linter :house_with_garden:

#16912 Updates opera browser to version 89
  browsers/opera.json
Labels: data:browsers :earth_africa:

#16915 Opera Android 70 is released
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#16674 Demix pointer events from GlobalEventHandlers
  api/Document.json
  api/Element.json
  api/GlobalEventHandlers.json
  api/HTMLElement.json
Labels: data:api :rabbit2:, needs content update 📝

#16896 Simplify mirroring for Chromium forks
  scripts/release/mirror.ts
Labels: scripts :scroll:

#16749 Update the CSS color-contrast spec URL
  css/types/color.json
  test/linter/test-spec-urls.ts
Labels: data:css :art:, linter :house_with_garden:

#16529 Demix click events from GlobalEventHandlers
  api/Element.json
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#16359 Adapt selectstart/selectionchange events to new event structure
  api/Document.json
  api/GlobalEventHandlers.json
  api/HTMLInputElement.json
  api/HTMLTextAreaElement.json
  api/Node.json
  api/Selection.json
Labels: data:api :rabbit2:

#16953 Update css/at-rules/import spec URL
  css/at-rules/import.json
Labels: data:css :art:

#16950 Update Opera versions for structuredClone API
  api/_globals/structuredClone.json
Labels: data:api :rabbit2:

#16949 Update WebView versions for crossOriginIsolated API
  api/_globals/crossOriginIsolated.json
Labels: data:api :rabbit2:

#16948 Update Opera versions for crossOriginIsolated API
  api/_globals/crossOriginIsolated.json
Labels: data:api :rabbit2:

#16947 Update Firefox Android versions for crossOriginIsolated API
  api/_globals/crossOriginIsolated.json
Labels: data:api :rabbit2:

#16946 Update Samsung Internet versions for URLPattern API
  api/URLPattern.json
Labels: data:api :rabbit2:

#16945 Update Opera versions for SpeechRecognition API
  api/SpeechRecognition.json
Labels: data:api :rabbit2:

#16944 Update Chromium versions for api.SVGImageElement.decode
  api/SVGImageElement.json
Labels: data:api :rabbit2:

#16943 Update Chromium versions for api.RTCRtpTransceiver.stopped
  api/RTCRtpTransceiver.json
Labels: data:api :rabbit2:

#16942 Add Firefox Android versions for RTCRtpReceiver API
  api/RTCRtpReceiver.json
Labels: data:api :rabbit2:

#16937 Update Firefox Android versions for MimeType API
  api/MimeType.json
Labels: data:api :rabbit2:

#16935 Add Opera versions for api.HTMLObjectElement.contentWindow
  api/HTMLObjectElement.json
Labels: data:api :rabbit2:

#16934 Update Chromium versions for HTMLMediaElement API
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#16931 Update Firefox versions for Gamepad API
  api/Gamepad.json
Labels: data:api :rabbit2:

#16875 Add Chromium versions for AbortSignal API
  api/AbortSignal.json
Labels: data:api :rabbit2:

#16922 Add Firefox Android versions for api.DOMRectReadOnly.fromRect
  api/DOMRectReadOnly.json
Labels: data:api :rabbit2:

#16927 Update Safari versions for api.CanvasRenderingContext2D.drawFocusIfNeeded.path_parameter
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#16926 Remove api.CloseEvent.initCloseEvent from BCD
  api/CloseEvent.json
Labels: data:api :rabbit2:

#16917 Deno supports Navigator.userAgent
  api/Navigator.json
Labels: data:api :rabbit2:

#16958 Release v5.1.4
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#16956 Add Chrome/Safari version for AbortSignal.abort() reason parameter
  api/AbortSignal.json
Labels: data:api :rabbit2:

#16957 Use "mirror" where data got out of sync in previous changes
  api/AudioContext.json
  api/CSSTransition.json
  api/DOMTokenList.json
  api/MutationRecord.json
  api/RTCDataChannelEvent.json
  api/Response.json
Labels: data:api :rabbit2:

#16955 Add spec URL for Selection.prototype.modify
  api/Selection.json
Labels: data:api :rabbit2:

#16959 Bump support of element.matches() from Safari 7 to 8
  api/Element.json
Labels: data:api :rabbit2:

#16960 Bump Safari support for background-repeat round and space keywords
  css/properties/background-repeat.json
Labels: data:css :art:

#16929 Update Firefox versions for api.FetchEvent.preloadResponse
  api/FetchEvent.json
Labels: data:api :rabbit2:

#16938 Add Firefox versions for api.MouseEvent.region
  api/MouseEvent.json
Labels: data:api :rabbit2:

#16964 Remove Public-Key-Pins / Public-Key-Pins-Report-Only data
  http/headers/public-key-pins-report-only.json
  http/headers/public-key-pins.json
Labels: data:http :mountain_cableway:, needs content update 📝

#16961 Fix Safari support for sizes/srcset attributes/properties
  api/HTMLSourceElement.json
  html/elements/source.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#16941 Update Edge versions for RTCDtlsTransport API
  api/RTCDtlsTransport.json
Labels: data:api :rabbit2:

#16933 Update Chromium versions for fetchPriority members
  api/HTMLImageElement.json
  api/HTMLLinkElement.json
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#16971 Mirror WorkerGlobalScope for Chrome Android
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#16973 Remove <basefont> and HTMLBaseFontElement
  api/HTMLBaseFontElement.json
  html/elements/basefont.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#16970 Improve structure of CacheStorage entries for Chromium
  api/CacheStorage.json
Labels: data:api :rabbit2:

#16975 Update Chromium versions for Object.is
  javascript/builtins/Object.json
Labels: data:js :pager:

#16974 Reflect referrerPolicy property capitalization mishap
  api/HTMLAnchorElement.json
  api/HTMLAreaElement.json
  api/HTMLIFrameElement.json
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#16989 Update dependencies
  package-lock.json
Labels: infra :building_construction:, dependencies :chains:

#16758 Demix transition events from GlobalEventHandlers
  api/Document.json
  api/Element.json
  api/GlobalEventHandlers.json
  api/HTMLElement.json
  api/Window.json
Labels: data:api :rabbit2:, needs content update 📝

#16727 Demix scroll event from GlobalEventHandlers
  api/Document.json
  api/Element.json
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#16981 Move html.elements.menu.type.type_menu up a level
  html/elements/menu.json
Labels: data:html :page_facing_up:

#16979 Add __compat to spread operator
  javascript/operators/spread.json
Labels: data:js :pager:

#16991 Specify file extension for ts-node commands
  package.json
Labels: infra :building_construction:, dependencies :chains:

#16594 Manually map Safari versions in getMatchingBrowserVersion
  api/PerformanceNavigationTiming.json
  scripts/release/mirror.test.ts
  scripts/release/mirror.ts
Labels: data:api :rabbit2:, scripts :scroll:

#16531 Demix animation events from GlobalEventHandlers
  api/Document.json
  api/Element.json
  api/GlobalEventHandlers.json
  api/HTMLElement.json
  api/Window.json
Labels: data:api :rabbit2:

#16993 Remove unreachable line in diff.ts
  scripts/diff.ts
Labels: scripts :scroll:

#16984 Update initial support for Payment Request in Chrome Android
  api/PaymentAddress.json
  api/PaymentRequestUpdateEvent.json
  api/PaymentResponse.json
Labels: data:api :rabbit2:

#16996 Don't combine statements in mirroring
  scripts/release/mirror.ts
Labels: scripts :scroll:

#17000 Simplify Chromium statements for api.Clients.openWindow
  api/Clients.json
Labels: data:api :rabbit2:

#17002 Remove duplicated notes in CustomElementRegistry API
  api/CustomElementRegistry.json
Labels: data:api :rabbit2:

#17003 Simplify Chromium statements for css.selectors.descendant
  css/selectors/descendant.json
Labels: data:css :art:

#17004 Simplify Chromium statements for html.global_attributes.autocomplete
  html/global_attributes.json
Labels: data:html :page_facing_up:

#17007 Update Chrome/Safari versions for api.Document.securitypolicyviolation_event
  api/Document.json
Labels: data:api :rabbit2:

#16969 Demix loadend event from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, needs content update 📝

#16930 Update Safari versions for api.FontFace.variant
  api/FontFace.json
Labels: data:api :rabbit2:

#17009 Don't retain notes etc. when mirroring results in version_added false
  scripts/release/mirror.ts
Labels: scripts :scroll:

#17018 Update spec URLs for animation events
  api/Element.json
Labels: data:api :rabbit2:

#17017 Add spec URLs for javascript.operators.spread
  javascript/operators/spread.json
Labels: data:js :pager:

#17011 Update support for <marquee>
  api/HTMLMarqueeElement.json
  html/elements/marquee.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#16995 Add data for MathML global attributes
  mathml/global_attributes.json
Labels: data:mathml :heavy_division_sign:

#16924 Update SVGAnimatedNumber support in IE/Edge
  api/SVGAnimatedNumber.json
Labels: data:api :rabbit2:

#16733 Demix slotchange event from GlobalEventHandlers
  api/GlobalEventHandlers.json
  api/HTMLSlotElement.json
  api/ShadowRoot.json
Labels: data:api :rabbit2:, needs content update 📝

#16311 Change HTMLMediaElement.volume support for safari_ios to partial_implementation
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#17008 FF103 Errors are serializable (support structuredClone)
  javascript/builtins/AggregateError.json
  javascript/builtins/Error.json
  javascript/builtins/EvalError.json
  javascript/builtins/RangeError.json
  javascript/builtins/ReferenceError.json
  javascript/builtins/SyntaxError.json
  javascript/builtins/TypeError.json
  javascript/builtins/URIError.json
Labels: data:js :pager:

#16891 WebAssembly.Global - Add implementation note about v128
  javascript/builtins/webassembly/Global.json
Labels: data:js :pager:

#16650 Demix got/lostpointercapture events from GlobalEventHandlers
  api/Document.json
  api/Element.json
  api/GlobalEventHandlers.json
  api/HTMLElement.json
Labels: data:api :rabbit2:

#17025 Add bug link to api.SVGImageElement.crossOrigin
  api/SVGImageElement.json
Labels: data:api :rabbit2:

#17038 Simplify mirroring for Edge
  scripts/release/mirror.ts
Labels: scripts :scroll:

#17037 Add a destructuring spec URL
  javascript/operators/destructuring.json
Labels: data:js :pager:

#17013 background-position-* 2-value syntax support in Safari 15.4
  css/properties/background-position-x.json
  css/properties/background-position-y.json
Labels: data:css :art:

#17014 Unprefixed user-select not in Safari 16
  css/properties/user-select.json
Labels: data:css :art:

#16913 Remove incorrect computed aspect ratio data
  html/elements/embed.json
  html/elements/iframe.json
  html/elements/object.json
Labels: data:html :page_facing_up:

#17035 Support for `text-align-last` in Safari 16
  css/properties/text-align-last.json
Labels: data:css :art:

#17039 Mark <iframe fetchpriority> as not supported and link bug
  api/HTMLIFrameElement.json
  html/elements/iframe.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#16985 Remove PaymentAddress's languageCode property
  api/PaymentAddress.json
Labels: data:api :rabbit2:, needs content update 📝

#17045 Release v5.1.5
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#16825 Remove copy/cut/paste events except for on Element
  api/Document.json
  api/Element.json
  api/HTMLElement.json
  api/Window.json
Labels: data:api :rabbit2:

#17049 Disallow {version_added: false} in arrays of support statements
  test/linter/test-versions.ts
Labels: linter :house_with_garden:

#17052 Remove unused variables and functions
  scripts/fix/status.ts
  scripts/migrations/010-set-oculus-to-mirror.ts
  scripts/release/mirror.ts
Labels: bulk_update :package:, scripts :scroll:

#17050 Simplify mirroring code around flattening statements
  scripts/release/mirror.ts
Labels: scripts :scroll:

#16919 FF102 readable stream releaseLock() rejects pending read requests
  api/ReadableStreamBYOBReader.json
  api/ReadableStreamDefaultReader.json
Labels: data:api :rabbit2:

#16983 Update "Secure context required" for Web Crypto API
  api/Crypto.json
  api/CryptoKey.json
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#16998 Update Firefox support for FileSystemEntry's getParent()
  api/FileSystemEntry.json
Labels: data:api :rabbit2:

#17010 Update versions for iframe's reflected allow property
  api/HTMLIFrameElement.json
Labels: data:api :rabbit2:

#17055 Update deno.json with v1.24
  browsers/deno.json
Labels: data:browsers :earth_africa:

#17054 Deno 1.24 supports the PromiseRejectionEvent
  api/PromiseRejectionEvent.json
Labels: data:api :rabbit2:

#17051 Deno 1.24 supports the unhandledrejection event
  api/Window.json
Labels: data:api :rabbit2:

#16817 Deno 1.24 supports the beforeunload event
  api/BeforeUnloadEvent.json
  api/Window.json
Labels: data:api :rabbit2:

#17032 Update Safari 16 support for permissions API to include specific permissions
  api/Permissions.json
Labels: data:api :rabbit2:

#17016 fix: deno supports performance.timeorigin and performance.tojson
  api/Performance.json
Labels: data:api :rabbit2:

#17034 Update support for :has() in Chrome
  css/selectors/has.json
Labels: data:css :art:

#17069 Mark element.msMatchesSelector() removed in Edge 79
  api/Element.json
Labels: data:api :rabbit2:

#17068 Fix: #17015
  css/properties/clip-path.json
Labels: data:css :art:

#17066 Add Firefox notes for mspace@width
  mathml/elements/mspace.json
Labels: data:mathml :heavy_division_sign:

#17065 Add Firefox notes for semantics
  mathml/elements/semantics.json
Labels: data:mathml :heavy_division_sign:

#17061 Make notes around event handler properties more consistent
  api/DeviceOrientationEvent.json
  api/Element.json
  api/SVGAnimationElement.json
  api/ServiceWorkerContainer.json
  api/VisualViewport.json
  api/Window.json
Labels: data:api :rabbit2:

#17060 Remove notes about old Firefox ESR releases
  api/Cache.json
  api/CacheStorage.json
  api/Client.json
  api/Clients.json
  api/ExtendableEvent.json
  api/ExtendableMessageEvent.json
  api/FetchEvent.json
  api/InstallEvent.json
  api/Navigator.json
  api/NotificationEvent.json
  api/PushEvent.json
  api/PushManager.json
  api/PushMessageData.json
  api/PushSubscription.json
  api/ServiceWorker.json
  api/ServiceWorkerContainer.json
  api/ServiceWorkerGlobalScope.json
  api/ServiceWorkerRegistration.json
  api/WindowClient.json
  javascript/builtins/webassembly/CompileError.json
  javascript/builtins/webassembly/Instance.json
  javascript/builtins/webassembly/LinkError.json
  javascript/builtins/webassembly/Memory.json
  javascript/builtins/webassembly/Module.json
  javascript/builtins/webassembly/RunTimeError.json
  javascript/builtins/webassembly/Table.json
  javascript/builtins/webassembly/WebAssembly.json
Labels: data:api :rabbit2:, data:js :pager:

#17067 Add browser notes regarding displaystyle/scriptlevel/mathvariant
  mathml/global_attributes.json
Labels: data:mathml :heavy_division_sign:

#17073 Mar performance.setResourceTimingBufferSize() and event supported in iOS
  api/Performance.json
Labels: data:api :rabbit2:
