Repository mdn/browser-compat-data, pull requests merged in 2022-02, with the labels that each got.

#14764 Update <img loading> support for Firefox Android
  html/elements/img.json
Labels: data:html :page_facing_up:

#14416 More data for JS Class features
  browsers/nodejs.json
  javascript/classes.json
Labels: data:js :pager:, data:browsers :earth_africa:

#14749 Add Safari 15.4 support for CSS Cascade Layers
  css/at-rules/layer.json
Labels: data:css :art:

#14750 Add Safari 15.4 support for :has()
  css/selectors/has.json
Labels: data:css :art:

#14751 Add Safari 15.4 accent-color property support
  css/properties/accent-color.json
Labels: data:css :art:

#14753 Add Safari 15.4 support for CSS Contaimment
  css/properties/contain.json
  css/properties/content-visibility.json
Labels: data:css :art:

#14754 Add Safari 15.4 scroll-behavior property support
  css/properties/scroll-behavior.json
Labels: data:css :art:

#14755 Add Safari 15.4 support for text-decoration-skip-ink
  css/properties/text-decoration-skip-ink.json
Labels: data:css :art:

#14756 Add Safari 15.4 support for more CSS length types
  css/types/length.json
Labels: data:css :art:

#14758 Add Safari 15.4 support for ResizeObserverSize
  api/ResizeObserverEntry.json
  api/ResizeObserverSize.json
Labels: data:api :rabbit2:

#14761 Added Safari 15.4 support for the Web Locks API
  api/Lock.json
  api/LockManager.json
  api/Navigator.json
Labels: data:api :rabbit2:

#14762 Added Safari 15.4 support for externally_connectable:matches
  webextensions/manifest/externally_connectable.json
Labels: data:webext :game_die:

#14763 Add Safari 15.4 JavaScript feature support
  javascript/builtins/Array.json
  javascript/builtins/Object.json
  javascript/builtins/String.json
  javascript/builtins/TypedArray.json
Labels: data:js :pager:

#14273 Update Firefox versions for MessageEvent API
  api/MessageEvent.json
Labels: data:api :rabbit2:

#14263 Update Chromium versions for Keyboard API
  api/Keyboard.json
Labels: data:api :rabbit2:

#14262 Update all browsers versions for ImageData API
  api/CanvasRenderingContext2D.json
  api/ImageData.json
Labels: data:api :rabbit2:

#14247 Update Chromium versions for FileReader API
  api/FileReader.json
Labels: data:api :rabbit2:

#14240 Update Firefox versions for EventCounts API
  api/EventCounts.json
  api/Performance.json
Labels: data:api :rabbit2:

#14233 Update Edge versions for EXT_disjoint_timer_query API
  api/EXT_disjoint_timer_query.json
Labels: data:api :rabbit2:

#14757 Add Safari 15.4 support for Dialog element and ::backdrop
  api/HTMLDialogElement.json
  css/selectors/backdrop.json
  html/elements/dialog.json
Labels: data:api :rabbit2:, data:css :art:, data:html :page_facing_up:

#14691 @layer removed from behind a pref in FF
  css/at-rules/layer.json
Labels: data:css :art:

#14778 Release v4.1.6
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#14760 Corrected Safari 15.4 support for the FileSystem API
  api/FileSystemHandle.json
  api/FileSystemWritableFileStream.json
  api/StorageManager.json
Labels: data:api :rabbit2:

#14759 Added Safari 15.4 support for BroadcastChannel
  api/BroadcastChannel.json
Labels: data:api :rabbit2:

#13926 Sensor: onxxx events -> xxx_events
  api/Sensor.json
Labels: data:api :rabbit2:

#14783 Added Safari 15.4 support for ServiceWorker Navigation Preload
  api/FetchEvent.json
  api/NavigationPreloadManager.json
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#14784 Added update Safari 15.4 WebRTC feature support
  api/RTCDataChannel.json
  api/RTCDtlsTransport.json
  api/RTCEncodedAudioFrame.json
  api/RTCEncodedVideoFrame.json
  api/RTCError.json
  api/RTCErrorEvent.json
  api/RTCIceTransport.json
  api/RTCPeerConnection.json
  api/RTCRtpReceiver.json
  api/RTCRtpSender.json
  api/RTCSctpTransport.json
Labels: data:api :rabbit2:

#14785 Added Safari 15.4 support for unprefixed CSS properties
  css/properties/appearance.json
  css/properties/backface-visibility.json
  css/properties/color-adjust.json
  css/properties/mask-clip.json
  css/properties/mask-composite.json
  css/properties/mask-image.json
  css/properties/mask-mode.json
  css/properties/mask-origin.json
  css/properties/mask-position.json
  css/properties/mask-repeat.json
  css/properties/mask-size.json
  css/properties/text-combine-upright.json
Labels: data:css :art:

#14781 Added Safari 15.4 support for lazy loading images
  api/HTMLImageElement.json
  html/elements/img.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#14796 Added Safari 15.4 MediaCapabilities support updates
  api/MediaCapabilities.json
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#14797 Added Safari 15.4 support for requestVideoFrameCallback
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#14782 Added Safari 15.4 autofocus attribute support
  api/HTMLElement.json
  api/SVGElement.json
Labels: data:api :rabbit2:

#14798 Added Safari 15.4 updates for worker support
  api/WorkerNavigator.json
  api/_globals/reportError.json
  api/_globals/structuredClone.json
Labels: data:api :rabbit2:

#14799 Added Safari 15.4 support for highWaterMark
  api/ByteLengthQueuingStrategy.json
  api/CountQueuingStrategy.json
Labels: data:api :rabbit2:

#14800 Added Safari 15.4 support for randomUUID
  api/Crypto.json
Labels: data:api :rabbit2:

#14801 Added Safari 15.4 support for VideoColorSpace
  api/VideoColorSpace.json
Labels: data:api :rabbit2:

#14802 Added Safari 15.4 support for SubmitEvent.submitter
  api/SubmitEvent.json
Labels: data:api :rabbit2:

#14795 Set Chrome 98 as current
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#14735 Add specs for svg.elements.path.d
  svg/elements/path.json
Labels: data:svg :paintbrush:

#13885 Single event entries for VideoTrackList
  api/VideoTrackList.json
Labels: data:api :rabbit2:

#14662 Adding scroll-timeline css at rule
  css/at-rules/scroll-timeline.json
Labels: data:css :art:

#14811 Add Safari 15 support for multi-keyword display values
  css/properties/display.json
Labels: data:css :art:

#14813 Add Safari 15.2 support for colorSpace in ImageData
  api/ImageData.json
Labels: data:api :rabbit2:

#14353 Update WebView versions for USB API
  api/Navigator.json
  api/USB.json
  api/USBAlternateInterface.json
  api/USBConfiguration.json
  api/USBConnectionEvent.json
  api/USBDevice.json
  api/USBEndpoint.json
  api/USBInTransferResult.json
  api/USBInterface.json
  api/USBIsochronousInTransferPacket.json
  api/USBIsochronousInTransferResult.json
  api/USBIsochronousOutTransferPacket.json
  api/USBIsochronousOutTransferResult.json
  api/USBOutTransferResult.json
  api/WorkerNavigator.json
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#14816 Fix Safari notes for captureVisibleTab
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#14833 Updates edge to version 98
  browsers/edge.json
Labels: data:browsers :earth_africa:

#14681 Complete nodejs data on worker support
  api/SubtleCrypto.json
  api/_globals/atob.json
  api/_globals/btoa.json
  api/_globals/queueMicrotask.json
Labels: data:api :rabbit2:

#14172 Update Chromium versions for ANGLE_instanced_arrays API
  api/ANGLE_instanced_arrays.json
Labels: data:api :rabbit2:

#14257 Update all versions for Headers API
  api/Headers.json
Labels: data:api :rabbit2:

#14320 Update all browsers versions for RadioNodeList API
  api/RadioNodeList.json
Labels: data:api :rabbit2:

#14208 Update Chromium versions for CountQueuingStrategy API
  api/CountQueuingStrategy.json
Labels: data:api :rabbit2:

#14209 Update Firefox versions for Crypto API
  api/Crypto.json
Labels: data:api :rabbit2:

#14215 Update Safari versions for DOMTokenList API
  api/DOMTokenList.json
Labels: data:api :rabbit2:

#14698 Add sub-feature versions on setLocalDescription & setRemoteDescription.
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:, rebase needed :construction:

#14817 FF96 Same-Site - lax changes reverted
  http/headers/set-cookie.json
Labels: data:http :mountain_cableway:

#14848 Use "accepts_flags" hint in browser JSON for linting
  test/linter/test-versions.js
Labels: linter :house_with_garden:

#14503 Add a note of `Option` before IE 10
  api/HTMLOptionElement.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#14822 FF98 Ship form associated custom elements
  api/ElementInternals.json
Labels: data:api :rabbit2:

#14873 Sec-CH-UA-Full-Version-List supported in Chrome 98 et al
  http/headers/sec-ch-ua-full-version-list.json
Labels: data:http :mountain_cableway:

#14488 CSS hyphenate-character property - add
  css/properties/hyphenate-character.json
Labels: data:css :art:

#14881 Remove SpeechRecognition.serviceURI
  api/SpeechRecognition.json
Labels: data:api :rabbit2:

#14877 FF98 HTMLElement.outerText - add support and mark as standard
  api/HTMLElement.json
Labels: data:api :rabbit2:

#13890 Single event entries for Speech APIs
  api/SpeechRecognition.json
  api/SpeechSynthesis.json
  api/SpeechSynthesisUtterance.json
Labels: data:api :rabbit2:

#14890 Release v4.1.7
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#14891 Fix spec_url of "javascript.operators.right_shift"
  javascript/operators/right_shift.json
Labels: data:js :pager:

#14889 Fix Safari data for the browser.tabs.onreplaced event
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#14892 Mark font-variant-alternates as not deprecated
  css/properties/font-variant-alternates.json
Labels: data:css :art:

#14858 Mirror Firefox -> Firefox Android WebGL data
  api/ANGLE_instanced_arrays.json
  api/EXT_blend_minmax.json
  api/EXT_color_buffer_float.json
  api/EXT_color_buffer_half_float.json
  api/EXT_float_blend.json
  api/EXT_frag_depth.json
  api/EXT_sRGB.json
  api/EXT_shader_texture_lod.json
  api/OES_element_index_uint.json
  api/OES_fbo_render_mipmap.json
  api/OES_standard_derivatives.json
  api/OES_texture_float.json
  api/OES_texture_float_linear.json
  api/OES_texture_half_float.json
  api/OES_texture_half_float_linear.json
  api/OES_vertex_array_object.json
  api/OVR_multiview2.json
  api/WEBGL_color_buffer_float.json
  api/WEBGL_compressed_texture_etc.json
  api/WEBGL_compressed_texture_etc1.json
  api/WEBGL_compressed_texture_pvrtc.json
  api/WEBGL_compressed_texture_s3tc.json
  api/WEBGL_compressed_texture_s3tc_srgb.json
  api/WEBGL_debug_renderer_info.json
  api/WEBGL_debug_shaders.json
  api/WEBGL_draw_buffers.json
  api/WEBGL_lose_context.json
  api/WebGLActiveInfo.json
  api/WebGLBuffer.json
  api/WebGLFramebuffer.json
  api/WebGLProgram.json
  api/WebGLRenderbuffer.json
  api/WebGLRenderingContext.json
  api/WebGLShader.json
  api/WebGLShaderPrecisionFormat.json
  api/WebGLTexture.json
  api/WebGLUniformLocation.json
  api/WebGLVertexArrayObjectOES.json
Labels: data:api :rabbit2:

#14896 Adapt BackgroundFetchRegistration events to new structure
  api/BackgroundFetchRegistration.json
Labels: data:api :rabbit2:

#14850 Remove irrelevant Safari flag data for Document API
  api/Document.json
Labels: data:api :rabbit2:

#14851 Remove irrelevant Safari flag data for Element API
  api/Element.json
Labels: data:api :rabbit2:

#14852 Remove irrelevant Safari flag data for HTMLElement API
  api/HTMLElement.json
Labels: data:api :rabbit2:

#14853 Remove irrelevant Chromium flag data for api.ServiceWorkerRegistration.paymentManager
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#14854 Remove irrelevant Edge flag data for TouchEvent API
  api/TouchEvent.json
Labels: data:api :rabbit2:

#14855 Remove irrelevant Safari flag data for Window API
  api/Window.json
Labels: data:api :rabbit2:

#14898 Require real values for Firefox Android for api/
  test/linter/test-real-values.js
Labels: linter :house_with_garden:

#14900 Events abort signal
  api/AbortSignal.json
Labels: data:api :rabbit2:

#14786 Added Safari 15.4 updates for JavaScript Intl support
  javascript/builtins/intl/DateTimeFormat.json
  javascript/builtins/intl/Intl.json
  javascript/builtins/intl/Locale.json
  javascript/builtins/intl/NumberFormat.json
  javascript/builtins/intl/PluralRules.json
Labels: data:js :pager:

#14510 Update release html dialog which is switch on by default in Firefox 98
  api/HTMLDialogElement.json
  html/elements/dialog.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#14914 Adapt Animation events to new structure
  api/Animation.json
Labels: data:api :rabbit2:

#13799 XHR API: Single event entries
  api/XMLHttpRequest.json
  api/XMLHttpRequestEventTarget.json
  api/XMLHttpRequestUpload.json
Labels: data:api :rabbit2:

#14921 Update Safari support for Web App Manifest
  html/manifest/categories.json
  html/manifest/dir.json
  html/manifest/icons.json
  html/manifest/related_applications.json
  html/manifest/theme_color.json
Labels: data:html :page_facing_up:

#14923 Add Safari referrerpolicy attribute support
  html/elements/a.json
  html/elements/iframe.json
  html/elements/img.json
  html/elements/link.json
  html/elements/script.json
  svg/elements/a.json
Labels: data:html :page_facing_up:, data:svg :paintbrush:

#14939 Adapt Document fullscreen events to new structure
  api/Document.json
Labels: data:api :rabbit2:

#14964 WEBGL_debug_renderer_info - FF deprecated
  api/WEBGL_debug_renderer_info.json
Labels: data:api :rabbit2:

#14960 FF97 @scroll-timeline is behind a preference
  css/at-rules/scroll-timeline.json
Labels: data:css :art:

#14965 FF98 Array.groupBy()/.groupByToMap()
  javascript/builtins/Array.json
Labels: data:js :pager:

#14935 Adapt `ApplicationCache` to the new event structure
  api/ApplicationCache.json
Labels: data:api :rabbit2:

#14934 Adapt CookieStore change event to new structure
  api/CookieStore.json
Labels: data:api :rabbit2:

#14969 Adapt BroadcastChannel events to the new event structure
  api/BroadcastChannel.json
Labels: data:api :rabbit2:

#14953 Add missing nodejs entries for Crypto and CryptoKey
  api/Crypto.json
  api/CryptoKey.json
Labels: data:api :rabbit2:

#14954 Add last missing nodejs values for api.*
  api/ByteLengthQueuingStrategy.json
  api/CountQueuingStrategy.json
  api/Worker.json
  api/WritableStreamDefaultController.json
Labels: data:api :rabbit2:

#14970 Link Chromium bug for ic unit
  api/CSS.json
  css/types/length-percentage.json
  css/types/length.json
Labels: data:api :rabbit2:, data:css :art:

#14100 Element.requestPointerLock - non spec behaviour all chromiums
  api/Element.json
Labels: data:api :rabbit2:

#14967 Add mozilla bug for Worker modules
  api/Worker.json
Labels: data:api :rabbit2:

#14977 Firefox Android 97 is released
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#14978 Opera Android 67 is released
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#14990 Deno 1.19 supports (De)CompressionStream
  api/CompressionStream.json
  api/DecompressionStream.json
Labels: data:api :rabbit2:

#14991 Deno 1.19 is released
  browsers/deno.json
Labels: data:browsers :earth_africa:

#14874 FF97 WebMidi support - desktop
  api/MIDIAccess.json
  api/MIDIConnectionEvent.json
  api/MIDIInput.json
  api/MIDIInputMap.json
  api/MIDIMessageEvent.json
  api/MIDIOutput.json
  api/MIDIOutputMap.json
  api/MIDIPort.json
Labels: data:api :rabbit2:

#14926 Add yarn.lock to .gitignore
  .gitignore
Labels: infra :building_construction:

#14944 Adapt Element fullscreen events to new structure
  api/Element.json
Labels: data:api :rabbit2:

#14994 Adding Firefox 79 for Android supports for line-break
  css/properties/line-break.json
Labels: data:css :art:

#13805 Update supported platforms for BarcodeDetector in Chrome
  api/BarcodeDetector.json
Labels: data:api :rabbit2:

#14899 Add support for HTMLScriptElement.supports() in Chromium Based Browsers
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#14993 Adapt BatteryManager events to the new event structure
  api/BatteryManager.json
Labels: data:api :rabbit2:, needs content update 📝

#14128 Update svg: paint-order support in firefox
  svg/attributes/paint-order.json
Labels: data:svg :paintbrush:

#12368 Drop the “type” attribute from ImageDecoder
  api/ImageDecoder.json
Labels: data:api :rabbit2:

#14963 Adapt AudioScheduledSourceNode ended event to new structure
  api/AudioScheduledSourceNode.json
Labels: data:api :rabbit2:

#15001 Adapt Bluetooth API events to new structure
  api/Bluetooth.json
Labels: data:api :rabbit2:

#15004 Adapt BluetoothDevice API events to new structure
  api/BluetoothDevice.json
Labels: data:api :rabbit2:

#14930 add chrome & edge 98 to structuredClone compat data
  api/_globals/structuredClone.json
Labels: data:api :rabbit2:

#15006 Adapt IDBTransaction & IDBDatabase events to the new event structure
  api/IDBDatabase.json
  api/IDBTransaction.json
Labels: data:api :rabbit2:

#14775 Remove "Streaming response body" compat data
  api/_globals/fetch.json
Labels: data:api :rabbit2:

#14917 grammar: template_literal_revision not experimental anymore
  javascript/grammar.json
Labels: data:js :pager:

#14219 Update Opera versions for DataTransferItem API
  api/DataTransferItem.json
Labels: data:api :rabbit2:

#15018 Update a bunch of Permissions Policy spec URLs
  api/Permissions.json
  http/headers/feature-policy.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#15014 Update BCD for dump()
  api/Window.json
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#14938 Adapt Document clipboard events to new structure
  api/Document.json
Labels: data:api :rabbit2:

#14264 Update Chromium versions for KeyboardLayoutMap API
  api/KeyboardLayoutMap.json
Labels: data:api :rabbit2:

#15020 Fix structure of `dump()` data
  api/Window.json
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#14948 Document upcoming DOM changes streams in Firefox 99
  api/ReadableByteStreamController.json
  api/ReadableStreamBYOBReader.json
  api/ReadableStreamBYOBRequest.json
  api/WritableStream.json
  api/WritableStreamDefaultController.json
  api/WritableStreamDefaultWriter.json
Labels: data:api :rabbit2:

#14291 Update all browsers versions for OfflineAudioContext API
  api/OfflineAudioContext.json
Labels: data:api :rabbit2:

#15000 Add missing StyleMedia API
  api/StyleMedia.json
Labels: data:api :rabbit2:

#15029 Adapt AudioTrackList API to new events structure
  api/AudioTrackList.json
Labels: data:api :rabbit2:

#15019 Adapt BaseAudioContext API to new events structure
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#15044 Adapt api.AudioWorkletNode.processorerror_event to new events structure
  api/AudioWorkletNode.json
Labels: data:api :rabbit2:

#15065 Adapt api.BluetoothRemoteGATTCharacteristic.characteristicvaluechanged to new events structure
  api/BluetoothRemoteGATTCharacteristic.json
Labels: data:api :rabbit2:

#15045 Fix incorrectly nested attributes of <output>
  html/elements/output.json
Labels: data:html :page_facing_up:

#15051 Firefox does not support HTTP header Expect-CT
  http/headers/expect-ct.json
Labels: data:http :mountain_cableway:

#15069 Update Chromium versions for api.AbortSignal.reason
  api/AbortSignal.json
Labels: data:api :rabbit2:

#14246 Update all browsers versions for File API
  api/File.json
Labels: data:api :rabbit2:

#15070 Adapt Document.*scriptexecute to new events structure
  api/Document.json
Labels: data:api :rabbit2:

#13924 SourceBuffer(List) / MediaSource: update event entries
  api/MediaSource.json
  api/SourceBuffer.json
  api/SourceBufferList.json
Labels: data:api :rabbit2:

#14038 Conform gamepad Window events to new style; update Chromium versions
  api/Window.json
Labels: data:api :rabbit2:

#15052 IDBDatabaseException is no longer supported
  api/IDBDatabaseException.json
Labels: data:api :rabbit2:

#15074 Adapt api.Document.onresume to new events structure
  api/Document.json
Labels: data:api :rabbit2:

#15072 Adapt api.Document.onfreeze to new events structure
  api/Document.json
Labels: data:api :rabbit2:

#15078 Updates opera browser to version 84
  browsers/opera.json
Labels: data:browsers :earth_africa:

#15071 adding animation timeline
  css/properties/animation-timeline.json
Labels: data:css :art:

#15062 Fix Chalk expression
  test/linter/test-real-values.js
Labels: linter :house_with_garden:

#15027 fix: Safari has content-length as CORS safelisted
  http/headers/content-length.json
Labels: data:http :mountain_cableway:

#15055 Add support for HTMLInputElement showPicker() in Opera
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#14453 ScreenOrientation.lock - partially supported from 69/79
  api/ScreenOrientation.json
Labels: data:api :rabbit2:

#14821 FF98 WebVR support disabled by default
  api/Gamepad.json
  api/Navigator.json
  api/VRDisplay.json
  api/VRDisplayCapabilities.json
  api/VRDisplayEvent.json
  api/VREyeParameters.json
  api/VRFieldOfView.json
  api/VRFrameData.json
  api/VRPose.json
  api/VRStageParameters.json
  api/Window.json
Labels: data:api :rabbit2:

#15091 Release v4.1.9
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#15098 Add cookieStoreId to userScripts.register
  webextensions/api/userScripts.json
Labels: data:webext :game_die:

#15114 Add some spec URLs for SVG features lacking them
  svg/elements/a.json
  svg/elements/altGlyph.json
  svg/elements/animate.json
  svg/elements/animateMotion.json
  svg/elements/feBlend.json
  svg/elements/feComposite.json
  svg/elements/feDisplacementMap.json
  svg/elements/feGaussianBlur.json
  svg/elements/feMorphology.json
  svg/elements/feSpecularLighting.json
  svg/elements/feSpotLight.json
  svg/elements/font-face-format.json
  svg/elements/font.json
  svg/elements/glyph.json
  svg/elements/hkern.json
  svg/elements/linearGradient.json
  svg/elements/marker.json
  svg/elements/mask.json
  svg/elements/pattern.json
  svg/elements/radialGradient.json
  svg/elements/style.json
  svg/elements/svg.json
  svg/elements/textPath.json
  svg/elements/view.json
Labels: data:svg :paintbrush:

#14498 FF97 CSS basic-shape path() function enabled by default
  css/properties/clip-path.json
  css/types/basic-shape.json
  svg/elements/path.json
Labels: data:css :art:, data:svg :paintbrush:
