Repository mdn/browser-compat-data, pull requests merged in 2022-10, with the labels that each got.

#17927 Add subfeature for selection the visible child of semantics
  mathml/elements/semantics.json
Labels: data:mathml :heavy_division_sign:

#17227 Mirror support for RTCRtpReceiver *_tracks_supported for Firefox Android
  api/RTCRtpReceiver.json
Labels: data:api :rabbit2:

#17924 Split 'color keywords' into named-color and system-color
  css/types/color.json
Labels: data:css :art:

#17935 New Edge release and new release note links
  browsers/edge.json
Labels: data:browsers :earth_africa:

#17936 Release v5.2.5
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#17934 Add compatibility data for legacy MathML lengths
  mathml/attribute_values.json
  mathml/elements/mfrac.json
  mathml/elements/mo.json
  mathml/elements/mspace.json
  mathml/elements/mtable.json
  mathml/global_attributes.json
Labels: data:mathml :heavy_division_sign:

#17901 Removal of support for the object-src directive
  webextensions/manifest/content_security_policy.json
Labels: data:webext :game_die:

#17946 Remove spec_url for features defined in MathML4
  mathml/elements/menclose.json
  mathml/global_attributes.json
  test/linter/test-spec-urls.ts
Labels: linter :house_with_garden:, data:mathml :heavy_division_sign:

#17953 Update compat data for the mpadded element
  mathml/elements/mpadded.json
Labels: data:mathml :heavy_division_sign:

#17962 Re-introduce subfeatures for MathML attributes superscriptshift/subsc…
  mathml/elements/mmultiscripts.json
  mathml/elements/msub.json
  mathml/elements/msubsup.json
  mathml/elements/msup.json
Labels: data:mathml :heavy_division_sign:

#17969 Remove support for MathML <ms>'s lquote/rquote in Firefox 107
  mathml/elements/ms.json
Labels: data:mathml :heavy_division_sign:

#17981 Add BCD for beforematch_event
  api/Element.json
Labels: data:api :rabbit2:

#17952 CSS scroll-timelines-*
  css/properties/scroll-timeline-axis.json
  css/properties/scroll-timeline-name.json
  css/properties/scroll-timeline.json
Labels: data:css :art:

#17983 Update spec URLs for “input” and “slotchange” events
  api/HTMLElement.json
  api/HTMLSlotElement.json
Labels: data:api :rabbit2:

#17985 XRWebGLSubImage/textureHeight|Width → colorTextureHeight|Width
  api/XRWebGLSubImage.json
Labels: data:api :rabbit2:

#17986 Update scroll-timeline spec URLs
  css/properties/scroll-timeline-axis.json
  css/properties/scroll-timeline-name.json
  css/properties/scroll-timeline.json
Labels: data:css :art:

#17987 Fix calc-constant spec URL
  css/types/calc-constant.json
Labels: data:css :art:

#17989 EventCounts is standardized; add spec/mdn_urls
  api/EventCounts.json
  api/Performance.json
Labels: data:api :rabbit2:

#17707 Move api.Element.openOrClosedShadowRoot to webext/
  api/Element.json
  webextensions/api/dom.json
Labels: data:webext :game_die:, data:api :rabbit2:, needs content update 📝

#17200 Update Chromium versions for OVR_multiview2 API
  api/OVR_multiview2.json
Labels: data:api :rabbit2:

#17421 Update Firefox versions for referrerPolicy property
  api/HTMLAnchorElement.json
  api/HTMLAreaElement.json
  api/HTMLIFrameElement.json
  api/HTMLImageElement.json
  api/SVGAElement.json
Labels: data:api :rabbit2:

#17422 Update all browsers versions for SVGAltGlyphElement API
  api/SVGAltGlyphElement.json
  svg/elements/altGlyph.json
Labels: data:api :rabbit2:, data:svg :paintbrush:

#17999 Add missing mdn_urls for PerformanceEventTiming
  api/PerformanceEventTiming.json
Labels: data:api :rabbit2:

#18001 Release v5.2.7
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#17966 Improve ZoomSettings data
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#18031 RTCRtpEncodingParameters.maxFramerate now part of proper spec
  api/RTCRtpEncodingParameters.json
Labels: data:api :rabbit2:

#18008 Update Safari versions for api.ByteLengthQueuingStrategy.highWaterMark
  api/ByteLengthQueuingStrategy.json
Labels: data:api :rabbit2:

#18010 Update Safari versions for api.CountQueuingStrategy.highWaterMark
  api/CountQueuingStrategy.json
Labels: data:api :rabbit2:

#18009 Update Safari versions for api.CSS.escape
  api/CSS.json
Labels: data:api :rabbit2:

#18017 Update Safari versions for HTMLImageElement API
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#18029 Update Safari versions for api.ShadowRoot.activeElement
  api/ShadowRoot.json
Labels: data:api :rabbit2:

#18025 Update Safari versions for api.Path2D.ellipse
  api/Path2D.json
Labels: data:api :rabbit2:

#18035 Update compatibility for Blob on Node.js
  api/Blob.json
Labels: data:api :rabbit2:

#18034 chore(CSS) font-tech() and font-format() functions added in Fx 106
  css/at-rules/supports.json
Labels: data:css :art:

#18023 Update Safari versions for api.Navigator.webdriver
  api/Navigator.json
Labels: data:api :rabbit2:

#18020 Update Safari versions for api.ImageData.ImageData
  api/ImageData.json
Labels: data:api :rabbit2:

#18016 Update Safari versions for File API
  api/File.json
Labels: data:api :rabbit2:

#18028 Update Safari versions for api.SVGFEGaussianBlurElement.edgeMode
  api/SVGFEGaussianBlurElement.json
Labels: data:api :rabbit2:

#18030 Update Safari versions for TextTrack API
  api/TextTrack.json
Labels: data:api :rabbit2:

#18005 Update Safari versions for AudioTrack API
  api/AudioTrack.json
Labels: data:api :rabbit2:

#18007 Update Safari versions for api.BiquadFilterNode.detune
  api/BiquadFilterNode.json
Labels: data:api :rabbit2:

#18011 Update Safari versions for api.Comment.Comment
  api/Comment.json
Labels: data:api :rabbit2:

#18012 Update Safari versions for EXT_blend_minmax API
  api/EXT_blend_minmax.json
Labels: data:api :rabbit2:

#18013 Add Safari versions for EXT_frag_depth API
  api/EXT_frag_depth.json
Labels: data:api :rabbit2:

#18014 Update Safari versions for EXT_sRGB API
  api/EXT_sRGB.json
Labels: data:api :rabbit2:

#18018 Update Safari versions for api.HTMLSelectElement.autocomplete
  api/HTMLSelectElement.json
Labels: data:api :rabbit2:

#18019 Update Safari versions for api.HTMLTextAreaElement.autocomplete
  api/HTMLTextAreaElement.json
Labels: data:api :rabbit2:

#18026 Update Safari versions for api.PerformanceObserver.supportedEntryTypes
  api/PerformanceObserver.json
Labels: data:api :rabbit2:

#18027 Update Safari versions for PublicKeyCredential API
  api/PublicKeyCredential.json
Labels: data:api :rabbit2:

#18047 Updates firefox browser to version 106
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#18054 FF107 SVGSVGElement.useCurrentView - removed
  api/SVGSVGElement.json
Labels: data:api :rabbit2:

#18052 Update data for Deno v1.27
  api/Navigator.json
  browsers/deno.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#18003 Update Safari versions for api.AudioDestinationNode.maxChannelCount
  api/AudioDestinationNode.json
Labels: data:api :rabbit2:

#18024 Update Safari versions for OfflineAudioContext API
  api/OfflineAudioContext.json
Labels: data:api :rabbit2:

#18015 Update Safari versions for EXT_texture_filter_anisotropic API
  api/EXT_texture_filter_anisotropic.json
Labels: data:api :rabbit2:

#18055 Release v5.2.9
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#18059 Opera Android 72 is released
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#17997 Add urls to attributes in HTML element select
  html/elements/select.json
Labels: data:html :page_facing_up:

#17478 Update bgcolor HTML attribute
  html/elements/body.json
  html/elements/col.json
  html/elements/colgroup.json
  html/elements/table.json
  html/elements/tbody.json
  html/elements/td.json
  html/elements/tfoot.json
  html/elements/th.json
  html/elements/thead.json
  html/elements/tr.json
Labels: data:html :page_facing_up:

#18079 Update grid animation support
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
Labels: data:css :art:

#18083 Release v5.2.10
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#18087 Firefox supports PerfMark/Measure.detail & PerfMark ctor
  api/PerformanceMark.json
  api/PerformanceMeasure.json
Labels: data:api :rabbit2:

#18092 add InkPresenter interface
  api/InkPresenter.json
Labels: data:api :rabbit2:

#18046 Include render-blocking status browser compat data
  api/PerformanceResourceTiming.json
Labels: data:api :rabbit2:, needs content update 📝

#18099 Update PerformanceResourceTiming»renderBlockingStatus spec URL
  api/PerformanceResourceTiming.json
Labels: data:api :rabbit2:

#18097 FF99 CSS scroll-snap-type bug in macOS fixed
  css/properties/scroll-snap-type.json
Labels: data:css :art:

#18085 Updates chrome browser to version 107
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#18064 FF101 CSS scroll() function on animation_timeline
  css/properties/animation-timeline.json
Labels: data:css :art:

#18094 fix: broken code tag
  javascript/builtins/Intl/NumberFormat.json
Labels: data:js :pager:

#18089 findLast and findLastIndex compat in node 18.0.0
  javascript/builtins/Array.json
Labels: data:js :pager:

#18077 CSP: Set SecurityPolicyViolationEvent not deprecated
  api/Element.json
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#18067 Add FileSystemSyncAccessHandle data
  api/FileSystemFileHandle.json
  api/FileSystemSyncAccessHandle.json
Labels: data:api :rabbit2:

#18066 EXT_float_blend removed in Safari IOS 16
  api/EXT_float_blend.json
Labels: data:api :rabbit2:

#18100 Release v5.2.11
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#17930 Link Chromium and WebKit bugs for :user-invalid and :user-valid
  css/selectors/user-invalid.json
  css/selectors/user-valid.json
Labels: data:css :art:

#17947 docs(CSP) add compat data for 'wasm-unsafe-eval' source expression
  http/headers/Content-Security-Policy.json
Labels: data:http :mountain_cableway:

#17895 Add object-view-box
  css/properties/object-view-box.json
Labels: data:css :art:

#17954 Note the deviant behavior of Chrome for check()
  api/FontFaceSet.json
Labels: data:api :rabbit2:

#17949 Update descriptions for `<calc-constant>` CSS type
  css/types/calc-constant.json
Labels: data:css :art:

#17970 Indicate Safari 15.4 support for implicit rollback sRD subfeature
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#18056 Update Cache API for Deno
  api/Cache.json
Labels: data:api :rabbit2:

#17860 Remove @viewport
  css/at-rules/viewport.json
Labels: data:css :art:, needs content update 📝

#17598 Consider `outline` not following border-radius a partial implementation
  css/properties/outline.json
Labels: data:css :art:
