Repository mdn/browser-compat-data, pull requests merged in 2022-08, with the labels that each got.

#17171 Remove initProgressEvent()
  api/ProgressEvent.json
Labels: data:api :rabbit2:

#17175 Remove RTCDataChannel's stream property
  api/RTCDataChannel.json
Labels: data:api :rabbit2:

#17172 Remove MediaStream's stop() method
  api/MediaStream.json
Labels: data:api :rabbit2:

#17163 Mirror WebView data where it changes ≤37 to 4.4.3
  api/DOMParser.json
  api/DeviceMotionEvent.json
  api/DeviceMotionEventAcceleration.json
  api/DeviceMotionEventRotationRate.json
  api/SpeechRecognitionErrorEvent.json
  api/SpeechRecognitionEvent.json
  api/URL.json
  api/WheelEvent.json
  api/Window.json
  css/properties/font-variant.json
  css/properties/text-transform.json
  css/selectors/backdrop.json
  javascript/builtins/ArrayBuffer.json
Labels: data:api :rabbit2:, data:css :art:, data:js :pager:

#17161 Mirror WebView data where it changes ≤37 to 37
  api/Document.json
  css/properties/background-blend-mode.json
  html/elements/source.json
  javascript/builtins/Intl/DateTimeFormat.json
  javascript/builtins/Number.json
  javascript/builtins/String.json
Labels: data:api :rabbit2:, data:css :art:, data:js :pager:, data:html :page_facing_up:

#17173 Fix Safari version for navigator.requestMediaKeySystemAccess()
  api/Navigator.json
Labels: data:api :rabbit2:

#17159 Mirror WebView data for RTCPeerConnection
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#17176 Fix typo in notes for Error types
  javascript/builtins/EvalError.json
  javascript/builtins/RangeError.json
  javascript/builtins/ReferenceError.json
  javascript/builtins/SyntaxError.json
  javascript/builtins/TypeError.json
  javascript/builtins/URIError.json
Labels: data:js :pager:

#17170 feat(css): Add CSS Values Level 4 `sin()` compatibility data
  css/types/sin.json
Labels: data:css :art:

#17185 Remove unused imports
  test/linter/test-filename.ts
  test/linter/test-obsolete.test.ts
  test/linter/test-versions.ts
Labels: linter :house_with_garden:

#17201 Add WebGL 1 features to WebGL2RenderingContext
  api/WebGL2RenderingContext.json
  api/WebGLRenderingContext.json
Labels: data:api :rabbit2:

#17164 FF104 Supports SVGStyleElement.disabled
  api/SVGStyleElement.json
Labels: data:api :rabbit2:

#17167 Update Chrome/Opera ProgressEvent data
  api/ProgressEvent.json
Labels: data:api :rabbit2:

#17202 SVGStyleElement.type is deprecated
  api/SVGStyleElement.json
Labels: data:api :rabbit2:

#17155 Update Chromium versions for api.Element.ariaInvalid
  api/Element.json
Labels: data:api :rabbit2:

#17158 Update Chromium versions for api.Element.role
  api/Element.json
Labels: data:api :rabbit2:

#17179 Update Chromium versions for api.HTMLAreaElement.toString
  api/HTMLAreaElement.json
Labels: data:api :rabbit2:

#17180 Add Chromium versions for HTMLContentElement API
  api/HTMLContentElement.json
Labels: data:api :rabbit2:

#17181 Update Opera versions for api.HTMLElement.beforematch_event
  api/HTMLElement.json
Labels: data:api :rabbit2:

#17182 Update Firefox Android versions for api.HTMLElement.dragexit_event
  api/HTMLElement.json
Labels: data:api :rabbit2:

#17183 Update Opera versions for api.HTMLElement.inert
  api/HTMLElement.json
Labels: data:api :rabbit2:

#17186 Update Samsung Internet versions for HTMLPortalElement API
  api/HTMLPortalElement.json
Labels: data:api :rabbit2:

#17187 Update Chromium versions for api.IntersectionObserver.thresholds
  api/IntersectionObserver.json
Labels: data:api :rabbit2:

#17190 Update Chromium versions for api.MediaCapabilities.encodingInfo
  api/MediaCapabilities.json
Labels: data:api :rabbit2:

#17191 Update Chromium versions for api.MediaSession.setPositionState
  api/MediaSession.json
Labels: data:api :rabbit2:

#17192 Update Opera versions for Navigation API
  api/Navigation.json
Labels: data:api :rabbit2:

#17193 Update Chromium versions for NavigationCurrentEntryChangeEvent API
  api/NavigationCurrentEntryChangeEvent.json
Labels: data:api :rabbit2:

#17194 Update Opera versions for NavigationDestination API
  api/NavigationDestination.json
Labels: data:api :rabbit2:

#17195 Update Opera versions for NavigationHistoryEntry API
  api/NavigationHistoryEntry.json
Labels: data:api :rabbit2:

#17196 Update Opera versions for NavigationTransition API
  api/NavigationTransition.json
Labels: data:api :rabbit2:

#17197 Update Chromium versions for OES_fbo_render_mipmap API
  api/OES_fbo_render_mipmap.json
Labels: data:api :rabbit2:

#17198 Update Opera versions for OES_standard_derivatives API
  api/OES_standard_derivatives.json
Labels: data:api :rabbit2:

#17199 Update Opera versions for OES_texture_float API
  api/OES_texture_float.json
Labels: data:api :rabbit2:

#17044 Update MediaSession setActionHandler for Safari/Firefox
  api/MediaSession.json
Labels: data:api :rabbit2:

#16908 Remove never-supported HTML features
  html/manifest/dir.json
  html/manifest/iarc_rating_id.json
  html/manifest/lang.json
Labels: data:html :page_facing_up:, needs content update 📝

#17209 Update some CSS selectors spec URLs
  css/selectors/modal.json
  css/selectors/picture-in-picture.json
Labels: data:css :art:

#17215 Remove api.GestureEvent.GestureEvent from BCD
  api/GestureEvent.json
Labels: data:api :rabbit2:

#16916 Correct support data for gamepad(dis)connected_event
  api/Window.json
Labels: data:api :rabbit2:

#17188 Update Chromium versions for LayoutShiftAttribution API
  api/LayoutShiftAttribution.json
Labels: data:api :rabbit2:

#17216 Fix enumerate-features script when dataFrom argument is used
  scripts/diff-features.ts
  scripts/enumerate-features.ts
Labels: scripts :scroll:

#17217 Fix error message when using GH fallback in diff-features
  scripts/diff-features.ts
Labels: scripts :scroll:

#17219 Release v5.1.7
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#17222 Re-add accidentally-removed subfeatures in WebGL1/2
  api/WebGL2RenderingContext.json
  api/WebGLRenderingContext.json
Labels: data:api :rabbit2:

#17223 Safari 15.6 is released
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#17203 Update Firefox support for pc.iceConnectionState and event
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#17210 Update some WebRTC APIs first (partially) implemented in Firefox 24
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#16867 Update support of break-before/after/inside properties in Opera
  css/properties/break-after.json
  css/properties/break-before.json
  css/properties/break-inside.json
Labels: data:css :art:

#17228 feat(css): Update CSS Values Level 4 `sin()` compatibility data
  css/types/sin.json
Labels: data:css :art:

#17221 feat(css): Add CSS Values Level 4 `atan2()` compatibility data
  css/types/atan2.json
Labels: data:css :art:

#17233 Update Safari support for Number.isSafeInteger()
  javascript/builtins/Number.json
Labels: data:js :pager:

#17232 Update Safari support for String.codePointAt/fromCodePoint/raw
  javascript/builtins/String.json
Labels: data:js :pager:

#17230 Update Firefox support for showNotification() and getNotifications()
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#17229 Update Chrome/Opera support for MediaStreamTrack's stop() method
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#17234 Update Edge 12 support for many TypedArray members
  javascript/builtins/TypedArray.json
Labels: data:js :pager:

#17235 Mirror Android/Opera support for TypedArray copyWithin() and of()
  javascript/builtins/TypedArray.json
Labels: data:js :pager:

#17236 Run scripts/migrations/009-mirror once more
  api/BlobBuilder.json
  api/Crypto.json
  api/CryptoKey.json
  api/FetchEvent.json
  api/LayoutShiftAttribution.json
  api/Navigator.json
  api/SubtleCrypto.json
  api/TransitionEvent.json
  api/WebGL2RenderingContext.json
  css/properties/backdrop-filter.json
  css/selectors/autofill.json
  css/selectors/buffering.json
  css/selectors/muted.json
  css/selectors/paused.json
  css/selectors/playing.json
  css/selectors/seeking.json
  css/selectors/stalled.json
  css/selectors/volume-locked.json
  http/headers/Content-Security-Policy.json
  mathml/global_attributes.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:, data:css :art:, data:mathml :heavy_division_sign:

#17218 feat(css): Add CSS Values Level 4 `acos()` compatibility data
  css/types/acos.json
Labels: data:css :art:

#17205 feat(css): Add CSS Values Level 4 `cos()` compatibility data
  css/types/cos.json
Labels: data:css :art:

#17206 feat(css): Add CSS Values Level 4 `tan()` compatibility data
  css/types/tan.json
Labels: data:css :art:

#17207 feat(css): Add CSS Values Level 4 `asin()` compatibility data
  css/types/asin.json
Labels: data:css :art:

#17231 Update Safari support for Intl.getCanonicalLocales()
  javascript/builtins/Intl.json
Labels: data:js :pager:

#17243 Updates chrome browser to version 104
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#17250 Update docs
  docs/contributing.md
  docs/labels.md
  docs/matching-browser-releases/bugzilla-fixedin-top.png
  docs/matching-browser-releases/bugzilla-relnote-firefox.png
  docs/matching-browser-releases/bugzilla-target.png
  docs/matching-browser-releases/dxr-navigation-box.png
  docs/matching-browser-releases/find-releases-tool.png
  docs/matching-browser-releases/hg-changeset.png
  docs/matching-browser-releases/hg-revisions-ontrack.png
  docs/matching-browser-releases/hg-tooltip-revision.png
  docs/matching-browser-releases/index.md
  schemas/compat-data-schema.md
Labels: schema :gear:, docs :writing_hand:

#17254 Remove the code and documentation for Web Confluence integration
  docs/contributing.md
  docs/using-confluence.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#17248 Remove MediaQueryList's "EventListener_objects" feature
  api/MediaQueryList.json
Labels: data:api :rabbit2:

#17244 Update Chromium versions for api.RTCRtpEncodingParameters.maxFramerate
  api/RTCRtpEncodingParameters.json
Labels: data:api :rabbit2:

#17252 Update Chromium versions for api.AmbientLightSensor.illuminance
  api/AmbientLightSensor.json
Labels: data:api :rabbit2:

#17264 Remove <audio> and <video> attributes that don't exist
  html/elements/audio.json
  html/elements/video.json
Labels: data:html :page_facing_up:

#17268 API: Mark `Attr.specified` deprecated
  api/Attr.json
Labels: data:api :rabbit2:

#17267 Updates edge browser to version 104
  browsers/edge.json
Labels: data:browsers :earth_africa:

#17256 feat(css): Add CSS Values Level 4 `exp()` compatibility data
  css/types/exp.json
Labels: data:css :art:

#17255 feat(css): Add CSS Values Level 4 `log()` compatibility data
  css/types/log.json
Labels: data:css :art:

#17259 Tighten up the types of walk utils to avoid redundant checks
  index.ts
  scripts/migrations/007-experimental-false.ts
  scripts/migrations/009-mirror.ts
  scripts/release/build.ts
  utils/walk.ts
Labels: infra :building_construction:, bulk_update :package:, scripts :scroll:

#17214 Remove Chrome support for Sanitizer functions.
  api/Element.json
  api/Sanitizer.json
Labels: data:api :rabbit2:

#17278 FF104 HTMLElement.focus() param focusVisible
  api/HTMLElement.json
Labels: data:api :rabbit2:

#17265 clip-path: clarifying for Edge, marking as partial for IE
  css/properties/clip-path.json
Labels: data:css :art:

#17253 Update Chromium support for mst.applyConstraints() and getCapabilities()
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#17251 Update Chrome support for mst.getSettings()
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#17249 Update Firefox/Opera support for mst.applyConstraints()
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#17247 Update Safari support for RegExp's dotAll property
  javascript/builtins/RegExp.json
Labels: data:js :pager:

#17245 Mark gl.lineWidth() as actually supported
  api/WebGLRenderingContext.json
Labels: data:api :rabbit2:

#17226 Update WebKit support for innerHTML/outerHTML/innerText/outerText
  api/Element.json
  api/HTMLElement.json
Labels: data:api :rabbit2:

#17057 Remove data for MathML global attributes from MathML elements.
  mathml/elements/maction.json
  mathml/elements/math.json
  mathml/elements/menclose.json
  mathml/elements/merror.json
  mathml/elements/mfenced.json
  mathml/elements/mfrac.json
  mathml/elements/mi.json
  mathml/elements/mmultiscripts.json
  mathml/elements/mn.json
  mathml/elements/mo.json
  mathml/elements/mover.json
  mathml/elements/mpadded.json
  mathml/elements/mphantom.json
  mathml/elements/mroot.json
  mathml/elements/mrow.json
  mathml/elements/ms.json
  mathml/elements/mspace.json
  mathml/elements/msqrt.json
  mathml/elements/msub.json
  mathml/elements/msubsup.json
  mathml/elements/msup.json
  mathml/elements/mtable.json
  mathml/elements/mtd.json
  mathml/elements/mtext.json
  mathml/elements/mtr.json
  mathml/elements/munder.json
  mathml/elements/munderover.json
  mathml/elements/semantics.json
Labels: data:mathml :heavy_division_sign:

#17279 Replace backslashes with forward slashes for filepaths on Windows
  test/lint.ts
  test/linter/test-filename.ts
Labels: linter :house_with_garden:

#17285 Fix TypeScript typedefs for diff-features
  scripts/diff-features.ts
Labels: scripts :scroll:

#17286 Release v5.1.8
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#17120 Remove all Microsoft proprietary features from BCD
  api/Element.json
  api/MSGestureEvent.json
  css/properties/-ms-grid-column-align.json
  css/properties/-ms-grid-column-span.json
  css/properties/-ms-grid-column.json
  css/properties/-ms-grid-row-align.json
  css/properties/-ms-grid-row-span.json
  css/properties/-ms-grid-row.json
  css/properties/-ms-scrollbar-track-color.json
Labels: data:api :rabbit2:, data:css :art:, needs content update 📝

#17291 Overhaul release script
  docs/publishing.md
  package.json
  scripts/lib/pluralize.ts
  scripts/release/changes.ts
  scripts/release/index.ts
  scripts/release/notes.ts
  scripts/release/pulls.ts
  scripts/release/semver-pulls.ts
  scripts/release/stats.ts
  scripts/release/utils.ts
  test/lint.ts
  test/utils.ts
Labels: infra :building_construction:, docs :writing_hand:, linter :house_with_garden:, dependencies :chains:, scripts :scroll:

#17292 Further improve release script
  scripts/release/changes.ts
  scripts/release/index.ts
  scripts/release/semver-pulls.ts
  scripts/release/stats.ts
  scripts/release/utils.ts
Labels: scripts :scroll:

#17303 Copy notes for api.Window.requestAnimationFrame from MDN
  api/Window.json
Labels: data:api :rabbit2:

#17302 Update X-Frame-Options spec links
  http/headers/X-Frame-Options.json
Labels: data:http :mountain_cableway:

#17266 Support for persistAcrossSessions
  webextensions/api/scripting.json
Labels: data:webext :game_die:

#17301 Mark dtx, ptime, and codecPayloadType deprecated
  api/RTCRtpEncodingParameters.json
Labels: data:api :rabbit2:

#17305 Fix datain (data in) typos
  scripts/migrations/002-remove-webview-flags.ts
  scripts/migrations/010-set-oculus-to-mirror.ts
Labels: bulk_update :package:, scripts :scroll:

#17300 Mark `api.Event.cancelBubble` deprecated
  api/Event.json
Labels: data:api :rabbit2:

#17288 api.Bluetooth: fix 'experimental' statuses
  api/BluetoothUUID.json
Labels: data:api :rabbit2:

#17287 api.Document: deprecate domain, queryCommandIndeterm, queryCommandValue
  api/Document.json
Labels: data:api :rabbit2:

#17315 Mark Firefox Android as partial implementation
  html/elements/input/color.json
Labels: data:html :page_facing_up:

#17314 Add css.types.image.paint.additional_parameters subfeature
  css/types/image.json
Labels: data:css :art:

#17313 Add NodeJS versions for Performance API
  api/Performance.json
Labels: data:api :rabbit2:

#17312 Add Opera versions for css.types.color.hwb
  css/types/color.json
Labels: data:css :art:

#17309 Add Chromium versions for javascript.builtins.String.raw
  javascript/builtins/String.json
Labels: data:js :pager:

#17340 Mark 'initStorageEvent' deprecated
  api/StorageEvent.json
Labels: data:api :rabbit2:

#17334 Mark 'subscriptshift' and 'supscriptshift' deprecated
  mathml/elements/msub.json
  mathml/elements/msubsup.json
  mathml/elements/msup.json
Labels: data:mathml :heavy_division_sign:

#17327 Adds missing MDN page links to SVGStyleElement properties
  api/SVGStyleElement.json
Labels: data:api :rabbit2:

#17326 FF103 supports the CSS contain:style option
  css/properties/contain.json
Labels: data:css :art:

#17325 Mark 'scriptsizemultiplier' and 'scriptminsize' deprecated
  mathml/elements/mstyle.json
Labels: data:mathml :heavy_division_sign:

#17324 Mark 'degradationPreference' and 'priority' deprecated
  api/RTCRtpSendParameters.json
Labels: data:api :rabbit2:

#17323 Mark 'rtcpTransport' deprecated
  api/RTCRtpReceiver.json
  api/RTCRtpSender.json
Labels: data:api :rabbit2:

#17322 Mark navigator 'platform' and 'vendor' deprecated
  api/Navigator.json
Labels: data:api :rabbit2:

#17321 Mark 'api.InputDeviceCapabilities' experimental
  api/InputDeviceCapabilities.json
Labels: data:api :rabbit2:

#17328 Add spec-url for spread syntax itself
  javascript/operators/spread.json
Labels: data:js :pager:

#17341 CSS: mark 'overflow: overlay' deprecated
  css/properties/overflow.json
Labels: data:css :art:

#17343 Mark 'moz-opaque' deprecated
  html/elements/canvas.json
Labels: data:html :page_facing_up:

#17342 CSS: mark 'word-break: break-word' deprecated
  css/properties/word-break.json
Labels: data:css :art:

#17345 Add JSDoc descriptions to all files (part 1)
  scripts/diff-features.ts
  scripts/diff.ts
  scripts/enumerate-features.ts
  scripts/fix/links.ts
  scripts/fix/property-order.ts
  scripts/fix/statement-order.ts
  scripts/fix/status.ts
  scripts/generate-types.ts
  scripts/lib/compare-statements.test.ts
  scripts/lib/extend.ts
  scripts/lib/git.ts
  scripts/lib/pluralize.ts
  scripts/migrations/007-experimental-false.ts
  scripts/migrations/009-mirror.ts
  scripts/migrations/010-set-oculus-to-mirror.ts
  scripts/release/build.ts
  scripts/release/changes.ts
  scripts/remove-redundant-flags.ts
Labels: bulk_update :package:, scripts :scroll:

#17346 Update mirroring script to simplify statements
  scripts/release/mirror.ts
Labels: scripts :scroll:

#17347 Add JSDoc descriptions to all files (part 2)
  scripts/release/changes.ts
  scripts/release/index.ts
  scripts/release/mirror.ts
  scripts/release/semver-pulls.ts
  scripts/release/stats.ts
  scripts/release/utils.ts
  scripts/statistics.ts
  scripts/traverse.ts
  test/lint.ts
Labels: linter :house_with_garden:, scripts :scroll:

#17349 Add JSDoc descriptions to all files (part 3)
  test/linter/test-browsers-data.ts
  test/linter/test-browsers-presence.ts
  test/linter/test-consistency.ts
  test/linter/test-descriptions.ts
  test/linter/test-filename.ts
  test/linter/test-links.ts
  test/linter/test-multiple-statements.ts
  test/linter/test-notes.ts
  test/linter/test-obsolete.ts
  test/linter/test-prefix.ts
  test/linter/test-schema.ts
  test/linter/test-spec-urls.ts
  test/linter/test-status.ts
  test/linter/test-style.ts
  test/linter/test-versions.ts
Labels: linter :house_with_garden:

#17350 Add JSDoc descriptions to all files (part 4)
  test/utils.ts
  utils/iter-support.ts
  utils/normalize-path.ts
  utils/walk.ts
  utils/walkingUtils.ts
Labels: infra :building_construction:, linter :house_with_garden:

#17351 Remove unused imports
  scripts/release/utils.ts
  test/linter/test-filename.ts
Labels: linter :house_with_garden:, scripts :scroll:

#17353 FF103 CSS :has() selector
  css/selectors/has.json
Labels: data:css :art:

#17359 Mark 'Report' and 'ReportBody' experimental
  api/Report.json
  api/ReportBody.json
Labels: data:api :rabbit2:

#17357 Mark 'DeprecationReportBody' and 'InterventionReportBody' experimental
  api/DeprecationReportBody.json
  api/InterventionReportBody.json
Labels: data:api :rabbit2:

#17358 FF104 removes IDBFactory.open() options object
  api/IDBFactory.json
Labels: data:api :rabbit2:

#17367 Add NodeJS v16.14.0
  browsers/nodejs.json
Labels: data:browsers :earth_africa:

#17368 Add a browser version tip for Node.js
  test/linter/test-versions.ts
Labels: linter :house_with_garden:

#17372 Add planned Firefox releases
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#17373 Add planned Chrome releases
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#17374 Add Samsung Internet 18.0
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#17390 Update Chromium versions for api.MutationObserver.takeRecords
  api/MutationObserver.json
Labels: data:api :rabbit2:

#17387 Update WebView versions for Navigator API
  api/Navigator.json
Labels: data:api :rabbit2:

#17360 Update Firefox versions for api.Event.composedPath
  api/Event.json
Labels: data:api :rabbit2:

#17364 Update Chromium versions for api.FontFace.loaded
  api/FontFace.json
Labels: data:api :rabbit2:

#17399 Fix contributor get function (due to bad JSON output from GH)
  scripts/release/stats.ts
Labels: scripts :scroll:

#17400 Improve release changelog console output
  scripts/release/changes.ts
Labels: scripts :scroll:

#17401 Release v5.1.9
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#17362 Update Chromium/Safari versions for api.EventSource.url
  api/EventSource.json
Labels: data:api :rabbit2:

#17320 Add Edge versions for Function JavaScript builtin
  javascript/builtins/Function.json
Labels: data:js :pager:

#17319 Update Chromium versions for javascript.builtins.Intl.supportedValuesOf
  javascript/builtins/Intl.json
Labels: data:js :pager:

#17379 Update Firefox versions for api.HTMLFieldSetElement.disabled
  api/HTMLFieldSetElement.json
Labels: data:api :rabbit2:

#17377 Update Firefox versions for api.HTMLElement.hidden
  api/HTMLElement.json
Labels: data:api :rabbit2:

#17318 Split page and avoid-page; correct Firefox data
  css/properties/break-after.json
Labels: data:css :art:

#17416 Document `source_file` property
  schemas/compat-data-schema.md
Labels: schema :gear:, docs :writing_hand:

#17457 Add Oculus Browser 23
  browsers/oculus.json
Labels: data:browsers :earth_africa:

#17459 Update Safari version for element.getElementsByClassName()
  api/Element.json
Labels: data:api :rabbit2:

#17461 Update description for redundant flag removal script
  scripts/remove-redundant-flags.ts
Labels: scripts :scroll:

#17380 Update Firefox versions for api.HTMLFieldSetElement.name
  api/HTMLFieldSetElement.json
Labels: data:api :rabbit2:

#17382 Update Chromium versions for api.HTMLScriptElement.crossOrigin
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#17464 Fix incorrect sentence
  http/headers/Origin.json
Labels: data:http :mountain_cableway:
