Repository mdn/browser-compat-data, pull requests merged in 2022-01, with the labels that each got.

#14364 Update Opera versions for XPathResult API
  api/XPathResult.json
Labels: data:api :rabbit2:

#14356 Update Opera versions for VideoDecoder API
  api/VideoDecoder.json
Labels: data:api :rabbit2:

#14350 Update Opera versions for api.TextEncoder.encodeInfo
  api/TextEncoder.json
Labels: data:api :rabbit2:

#14349 Update Opera versions for SyncManager API
  api/SyncManager.json
Labels: data:api :rabbit2:

#14339 Update Opera versions for SerialPort API
  api/SerialPort.json
Labels: data:api :rabbit2:

#14324 Update Opera versions for ReadableStreamBYOBRequest API
  api/ReadableStreamBYOBRequest.json
Labels: data:api :rabbit2:

#14322 Update Opera versions for ReadableByteStreamController API
  api/ReadableByteStreamController.json
Labels: data:api :rabbit2:

#14319 Update Opera versions for RTCSctpTransport API
  api/RTCSctpTransport.json
Labels: data:api :rabbit2:

#14317 Update Opera versions for RTCEncodedVideoFrame API
  api/RTCEncodedVideoFrame.json
Labels: data:api :rabbit2:

#14316 Update Opera versions for RTCEncodedAudioFrame API
  api/RTCEncodedAudioFrame.json
Labels: data:api :rabbit2:

#14323 Update Opera versions for ReadableStreamBYOBReader API
  api/ReadableStreamBYOBReader.json
Labels: data:api :rabbit2:

#14313 Update Opera versions for PublicKeyCredential API
  api/PublicKeyCredential.json
Labels: data:api :rabbit2:

#14294 Update Opera versions for api.PaymentRequestEvent.changePaymentMethod
  api/PaymentRequestEvent.json
Labels: data:api :rabbit2:

#14288 Update Opera versions for NavigatorUAData API
  api/NavigatorUAData.json
Labels: data:api :rabbit2:

#14269 Update Opera versions for MediaSession API
  api/MediaSession.json
Labels: data:api :rabbit2:

#14237 Update Opera versions for api.ElementInternals.states
  api/ElementInternals.json
Labels: data:api :rabbit2:

#14212 Update Opera versions for CustomStateSet API
  api/CustomStateSet.json
Labels: data:api :rabbit2:

#14210 Update Opera versions for api.Crypto.randomUUID
  api/Crypto.json
Labels: data:api :rabbit2:

#14193 Update Opera versions for api.CSS.registerProperty
  api/CSS.json
Labels: data:api :rabbit2:

#14254 Update Opera versions for HTMLImageElement API
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#14192 Update Safari versions for CSS API
  api/CSS.json
Labels: data:api :rabbit2:

#14363 Update IE versions for api.XMLHttpRequestEventTarget.onload
  api/XMLHttpRequestEventTarget.json
Labels: data:api :rabbit2:

#14362 Update Firefox versions for api.XMLHttpRequest.getAllResponseHeaders
  api/XMLHttpRequest.json
Labels: data:api :rabbit2:

#14361 Update IE versions for XMLDocument API
  api/XMLDocument.json
Labels: data:api :rabbit2:

#14359 Update all browsers versions for Window API
  api/Window.json
Labels: data:api :rabbit2:

#14360 Update WebView versions for WindowClient API
  api/WindowClient.json
Labels: data:api :rabbit2:

#14357 Update all browsers versions for VideoPlaybackQuality API
  api/VideoPlaybackQuality.json
Labels: data:api :rabbit2:

#14354 Update IE versions for VTTCue API
  api/VTTCue.json
Labels: data:api :rabbit2:

#14352 Update Chromium versions for api.TextTrackList.length
  api/TextTrackList.json
Labels: data:api :rabbit2:

#14351 Update all browsers versions for TextMetrics API
  api/TextMetrics.json
Labels: data:api :rabbit2:

#14347 Update Firefox versions for StyleSheetList API
  api/StyleSheetList.json
Labels: data:api :rabbit2:

#14345 Update Firefox Android versions for StaticRange API
  api/StaticRange.json
Labels: data:api :rabbit2:

#14344 Update Firefox versions for api.SharedWorkerGlobalScope.name
  api/SharedWorkerGlobalScope.json
Labels: data:api :rabbit2:

#14343 Update Firefox versions for api.ShadowRoot.slotAssignment
  api/ShadowRoot.json
Labels: data:api :rabbit2:

#14342 Update Chrome/Safari versions for ServiceWorkerRegistration API
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#14341 Update Chromium versions for ServiceWorkerGlobalScope API
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#14191 Update Chromium versions for ByteLengthQueuingStrategy API
  api/ByteLengthQueuingStrategy.json
Labels: data:api :rabbit2:

#14197 Update IE versions for CSSImportRule API
  api/CSSImportRule.json
Labels: data:api :rabbit2:

#14198 Update Firefox Android versions for CSSTransition API
  api/CSSTransition.json
Labels: data:api :rabbit2:

#14200 Update all browsers versions for CanvasCaptureMediaStreamTrack API
  api/CanvasCaptureMediaStreamTrack.json
Labels: data:api :rabbit2:

#14201 Update Firefox versions for CanvasGradient API
  api/CanvasGradient.json
Labels: data:api :rabbit2:

#14326 Update Chrome/Safari versions for SVGAnimatedString API
  api/SVGAnimatedString.json
Labels: data:api :rabbit2:

#14188 Update all browsers versions for Blob API
  api/Blob.json
Labels: data:api :rabbit2:

#14189 Update Firefox versions for BlobEvent API
  api/BlobEvent.json
Labels: data:api :rabbit2:

#14190 Update Safari versions for BlobEvent API
  api/BlobEvent.json
Labels: data:api :rabbit2:

#14333 Update Chromium versions for api.Screen.orientation
  api/Screen.json
Labels: data:api :rabbit2:

#14332 Update Chromium versions for Scheduling API
  api/Scheduling.json
Labels: data:api :rabbit2:

#14330 Update Firefox versions for api.SVGSVGElement.getElementById
  api/SVGSVGElement.json
Labels: data:api :rabbit2:

#14328 Update Firefox versions for SVGComponentTransferFunctionElement API
  api/SVGComponentTransferFunctionElement.json
Labels: data:api :rabbit2:

#14325 Update Firefox versions for ResizeObserverEntry API
  api/ResizeObserverEntry.json
Labels: data:api :rabbit2:

#14321 Update IE versions for api.Range.createContextualFragment
  api/Range.json
Labels: data:api :rabbit2:

#14300 Update IE versions for PerformanceNavigationTiming API
  api/PerformanceNavigationTiming.json
Labels: data:api :rabbit2:

#14232 Update IE versions for DocumentFragment API
  api/DocumentFragment.json
Labels: data:api :rabbit2:

#14231 Update IE versions for DeviceOrientationEvent API
  api/DeviceOrientationEvent.json
Labels: data:api :rabbit2:

#14230 Update IE versions for DeviceMotionEvent API
  api/DeviceMotionEvent.json
Labels: data:api :rabbit2:

#14213 Update IE versions for DOMException API
  api/DOMException.json
Labels: data:api :rabbit2:

#14292 Update WebView versions for OffscreenCanvas API
  api/OffscreenCanvas.json
Labels: data:api :rabbit2:

#14203 Update Firefox versions for api.CanvasRenderingContext2D.isPointInStroke
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#14204 Update Firefox versions for api.CanvasRenderingContext2D.getTransform
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#14205 Update Chromium versions for Clients API
  api/Clients.json
Labels: data:api :rabbit2:

#14206 Update Chromium versions for api.CompositionEvent.data
  api/CompositionEvent.json
Labels: data:api :rabbit2:

#14207 Update Chromium versions for ConstantSourceNode API
  api/ConstantSourceNode.json
Labels: data:api :rabbit2:

#14306 Update Safari versions for PopStateEvent API
  api/PopStateEvent.json
Labels: data:api :rabbit2:

#14216 Update Firefox versions for api.DOMTokenList.length
  api/DOMTokenList.json
Labels: data:api :rabbit2:

#14217 Update Chromium versions for api.DataTransfer.DataTransfer
  api/DataTransfer.json
Labels: data:api :rabbit2:

#14218 Update Firefox versions for api.DataTransfer.setData
  api/DataTransfer.json
Labels: data:api :rabbit2:

#14234 Update Edge versions for EXT_disjoint_timer_query_webgl2 API
  api/EXT_disjoint_timer_query_webgl2.json
Labels: data:api :rabbit2:

#14235 Update Chromium versions for EXT_float_blend API
  api/EXT_float_blend.json
Labels: data:api :rabbit2:

#14238 Update Firefox versions for ErrorEvent API
  api/ErrorEvent.json
Labels: data:api :rabbit2:

#14239 Update all browsers versions for Event API
  api/Event.json
Labels: data:api :rabbit2:

#14241 Update Firefox versions for api.EventSource.EventSource
  api/EventSource.json
Labels: data:api :rabbit2:

#14242 Update WebView versions for ExtendableCookieChangeEvent API
  api/ExtendableCookieChangeEvent.json
Labels: data:api :rabbit2:

#14243 Update Firefox versions for ExtendableMessageEvent API
  api/ExtendableMessageEvent.json
Labels: data:api :rabbit2:

#14244 Update Chromium versions for FederatedCredential API
  api/FederatedCredential.json
Labels: data:api :rabbit2:

#14245 Update Firefox Android versions for api.FetchEvent.handled
  api/FetchEvent.json
Labels: data:api :rabbit2:

#14248 Update Chromium versions for FormData API
  api/FormData.json
Labels: data:api :rabbit2:

#14249 Update Firefox Android versions for FormDataEvent API
  api/FormDataEvent.json
Labels: data:api :rabbit2:

#14250 Update WebView versions for GamepadHapticActuator API
  api/GamepadHapticActuator.json
Labels: data:api :rabbit2:

#14251 Update WebView versions for HTMLCanvasElement API
  api/HTMLCanvasElement.json
Labels: data:api :rabbit2:

#14252 Update Chromium versions for api.HTMLElement.outerText
  api/HTMLElement.json
Labels: data:api :rabbit2:

#14253 Update all browsers versions for HTMLFormControlsCollection API
  api/HTMLFormControlsCollection.json
Labels: data:api :rabbit2:

#14256 Update Chromium versions for HTMLQuoteElement API
  api/HTMLQuoteElement.json
Labels: data:api :rabbit2:

#14258 Update Chromium versions for IdleDetector API
  api/IdleDetector.json
Labels: data:api :rabbit2:

#14265 Update Edge versions for KeyframeEffect API
  api/KeyframeEffect.json
Labels: data:api :rabbit2:

#14266 Update Chromium versions for MediaDeviceInfo API
  api/MediaDeviceInfo.json
Labels: data:api :rabbit2:

#14267 Update Firefox Android versions for api.MediaElementAudioSourceNode.mediaElement
  api/MediaElementAudioSourceNode.json
Labels: data:api :rabbit2:

#14268 Update WebView versions for MediaKeyMessageEvent API
  api/MediaKeyMessageEvent.json
Labels: data:api :rabbit2:

#14271 Update Firefox Android versions for api.MediaStreamAudioSourceNode.mediaStream
  api/MediaStreamAudioSourceNode.json
Labels: data:api :rabbit2:

#14272 Update Chromium versions for MessageChannel API
  api/MessageChannel.json
Labels: data:api :rabbit2:

#14283 Update Chromium versions for NDEF APIs
  api/NDEFMessage.json
  api/NDEFReader.json
  api/NDEFReadingEvent.json
  api/NDEFRecord.json
Labels: data:api :rabbit2:

#14202 Update all browsers versions for CanvasPattern API
  api/CanvasPattern.json
Labels: data:api :rabbit2:

#14290 Update Chromium versions for OTPCredential API
  api/OTPCredential.json
Labels: data:api :rabbit2:

#14293 Update WebView versions for api.OffscreenCanvasRenderingContext2D.canvas
  api/OffscreenCanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#14297 Update Firefox versions for api.PerformanceEventTiming.toJSON
  api/PerformanceEventTiming.json
Labels: data:api :rabbit2:

#14296 Update Chromium versions for PerformanceEventTiming API
  api/PerformanceEventTiming.json
Labels: data:api :rabbit2:

#14298 Update all browsers versions for PerformanceMark API
  api/PerformanceMark.json
Labels: data:api :rabbit2:

#14299 Update Firefox versions for PerformanceMeasure API
  api/PerformanceMeasure.json
Labels: data:api :rabbit2:

#14301 Update WebView versions for PerformanceObserverEntryList API
  api/PerformanceObserverEntryList.json
Labels: data:api :rabbit2:

#14304 Update all browsers versions for PerformanceResourceTiming API
  api/PerformanceResourceTiming.json
Labels: data:api :rabbit2:

#14307 Update Chromium versions for Presentation API
  api/Presentation.json
Labels: data:api :rabbit2:

#14308 Update Chromium versions for PresentationAvailability API
  api/PresentationAvailability.json
Labels: data:api :rabbit2:

#14309 Update Chromium versions for PresentationConnectionAvailableEvent API
  api/PresentationConnectionAvailableEvent.json
Labels: data:api :rabbit2:

#14310 Update Chromium versions for PresentationRequest API
  api/PresentationRequest.json
Labels: data:api :rabbit2:

#14311 Update all browsers versions for ProgressEvent API
  api/ProgressEvent.json
Labels: data:api :rabbit2:

#14312 Update Firefox Android versions for PromiseRejectionEvent API
  api/PromiseRejectionEvent.json
Labels: data:api :rabbit2:

#14315 Update Chromium versions for api.RTCDataChannelEvent.RTCDataChannelEvent
  api/RTCDataChannelEvent.json
Labels: data:api :rabbit2:

#14318 Update Chromium versions for RTCRtpTransceiver API
  api/RTCRtpTransceiver.json
Labels: data:api :rabbit2:

#14348 Update WebView versions for SyncEvent API
  api/SyncEvent.json
Labels: data:api :rabbit2:

#14355 Update all browsers versions for ValidityState API
  api/ValidityState.json
Labels: data:api :rabbit2:

#12931 Updated data for font-synthesis property
  css/properties/font-synthesis-small-caps.json
  css/properties/font-synthesis-style.json
  css/properties/font-synthesis-weight.json
  css/properties/font-synthesis.json
Labels: data:css :art:

#13886 USB events: on(dis)connect -> (dis)connect_event
  api/USB.json
Labels: data:api :rabbit2:

#14340 Update Chromium versions for api.ServiceWorkerContainer.onmessageerror
  api/ServiceWorkerContainer.json
Labels: data:api :rabbit2:

#14433 Set Chrome 97 as current
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#14450 Added release date for Chrome 99
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#14456 Add edge 99
  browsers/edge.json
Labels: data:browsers :earth_africa:

#14444 Add HTMLInputElement showPicker()
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#14465 Mark Gamepad's id property as supported in Safari
  api/Gamepad.json
Labels: data:api :rabbit2:

#13907 Adds member for protocol_handler to manifest section.
  html/manifest/protocol_handlers.json
Labels: data:html :page_facing_up:

#14448 Mark onsecuritypolicyviolation as supported in Chromium 97
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#14445 Fix Chromium data for devicemotion event interfaces
  api/DeviceMotionEvent.json
  api/DeviceMotionEventAcceleration.json
  api/DeviceMotionEventRotationRate.json
  api/Window.json
Labels: data:api :rabbit2:

#14477 Remove entries for justify-content: (first/last) baseline
  css/properties/justify-content.json
Labels: data:css :art:

#14471 Updates edge to version 97
  browsers/edge.json
Labels: data:browsers :earth_africa:

#14469 Fix api.Navigator.mediaDevices.secure_context_required for Safari
  api/Navigator.json
Labels: data:api :rabbit2:

#14468 Mark Web Locks API as supported in Safari Technology Preview
  api/Lock.json
  api/LockManager.json
  api/Navigator.json
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#14467 Link WebKit bug for ElementInternals and attachInternals()
  api/ElementInternals.json
  api/HTMLElement.json
Labels: data:api :rabbit2:

#14466 Link WebKit bug for form.requestSubmit()
  api/HTMLFormElement.json
Labels: data:api :rabbit2:

#14464 Link WebKit bug for FetchEvent.resultingClientId
  api/FetchEvent.json
Labels: data:api :rabbit2:

#14463 Link WebKit bug for FetchEvent.handled
  api/FetchEvent.json
Labels: data:api :rabbit2:

#14462 Link WebKit bug for CanvasRenderingContext2D.filter
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#14461 Put the <dialog> cancel event behind a flag in Firefox
  api/HTMLDialogElement.json
Labels: data:api :rabbit2:

#14459 Link WebKit bug for @counter-style support
  api/CSSCounterStyleRule.json
  css/at-rules/counter-style.json
Labels: data:api :rabbit2:, data:css :art:

#14458 Mark CSSConditionRule and CSSGroupingRule supported in Safari
  api/CSSConditionRule.json
  api/CSSGroupingRule.json
Labels: data:api :rabbit2:

#14457 Fix AudioWorkletGlobalScope/AudioWorkletProcessor support in Safari
  api/AudioWorkletGlobalScope.json
  api/AudioWorkletProcessor.json
Labels: data:api :rabbit2:

#14455 Update the compatible version of `dblclick` events under IE
  api/Element.json
Labels: data:api :rabbit2:

#14454 FF97 supports AnimationFrameProvider in DedicatedWorkerGlobalScope
  api/DedicatedWorkerGlobalScope.json
Labels: data:api :rabbit2:

#14449 Mark onslotchange properties as supported in Chromium 97
  api/GlobalEventHandlers.json
  api/ShadowRoot.json
Labels: data:api :rabbit2:

#14447 Update support for flex-basis property values
  css/properties/flex-basis.json
Labels: data:css :art:

#14443 Link Chromium bug for independent transform properties
  css/properties/rotate.json
  css/properties/scale.json
  css/properties/translate.json
Labels: data:css :art:

#14442 Link Chromium bug for online/offline events in workers
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#14441 Link Chromium bug for VTTCue's lineAlign and positionAlign
  api/VTTCue.json
Labels: data:api :rabbit2:

#14440 Link Chromium bug for inBandMetadataTrackDispatchType
  api/TextTrack.json
Labels: data:api :rabbit2:

#14439 Link Chromium bug for SVGAElement's rel/relList properties
  api/SVGAElement.json
Labels: data:api :rabbit2:

#14438 Add notes for missing onresize/onscroll on VisualViewport
  api/VisualViewport.json
Labels: data:api :rabbit2:

#14431 Link Chromium bug for createConicGradient() method
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#14430 Link Chromium bug for accessKeyLabel
  api/HTMLElement.json
Labels: data:api :rabbit2:

#14429 Update notes for MediaRecorder's error event in Chromium
  api/MediaRecorder.json
  api/MediaRecorderErrorEvent.json
Labels: data:api :rabbit2:

#14428 Initial addition for Intl.Segmenter - Fixes #8894
  javascript/builtins/intl/Segmenter.json
  javascript/builtins/intl/Segments.json
Labels: data:js :pager:

#14427 Link Chromium bug for mediaElement.fastSeek() support
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#14426 Link Chromium bug for Storage Access API
  api/Document.json
Labels: data:api :rabbit2:

#14425 Add support for the animationcancel event in Chromium
  api/Document.json
  api/GlobalEventHandlers.json
  api/HTMLElement.json
  api/Window.json
Labels: data:api :rabbit2:
