Repository mdn/browser-compat-data, pull requests merged in 2022-05, with the labels that each got.

#16075 Fix data-problem template
  .github/ISSUE_TEMPLATE/data-problem.yml
Labels: infra :building_construction:

#16076 Fix indentation in issue template
  .github/ISSUE_TEMPLATE/data-problem.yml
Labels: infra :building_construction:

#16082 Missing spec_url for Document.createAttributeNS
  api/Document.json
Labels: data:api :rabbit2:

#16081 HTMLInputElement.showPicker() - FF101 and OperaAndroid 68
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#16098 Add mdn/spec urls to BluetoothUUID
  api/BluetoothUUID.json
Labels: data:api :rabbit2:

#16101 HTMLInputElement.showPicker - subfeatures for supported inputs
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#16103 Ff101transform streams
  api/ReadableStream.json
  api/TransformStream.json
  api/TransformStreamDefaultController.json
Labels: data:api :rabbit2:

#16104 TransformStreamDefaultController is standard
  api/TransformStreamDefaultController.json
Labels: data:api :rabbit2:

#15272 Add nodejs for fetch
  api/Headers.json
  api/Request.json
  api/Response.json
  api/_globals/fetch.json
  browsers/nodejs.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#16126 Release v4.1.19
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#16128 Updates firefox to version 100
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#16127 Support fetch in Node.js v16 with flag
  api/Headers.json
  api/Request.json
  api/Response.json
  api/_globals/fetch.json
  browsers/nodejs.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#15949 Mark Battery Status API as requiring secure context from Chrome 103
  api/BatteryManager.json
  api/Navigator.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#16130 Mirror script: mirror from Chrome by default
  docs/contributing.md
  scripts/mirror.js
Labels: docs :writing_hand:, scripts :scroll:

#15895 Add workflow to catch for potential duplicates
  .github/workflows/potential-duplicate-issues.yml
Labels: infra :building_construction:

#15931 Create workflow to label PRs needing rebase
  .github/workflows/pr-rebase-needed.yml
Labels: infra :building_construction:

#16133 Mark ::grammar-error and ::spelling-error as experimental
  css/selectors/grammar-error.json
  css/selectors/spelling-error.json
Labels: data:css :art:

#16134 Remove Error.toSource
  javascript/builtins/Error.json
Labels: data:js :pager:, needs content update 📝

#16099 Add some spec_url for input/textarea properties
  api/HTMLInputElement.json
  api/HTMLTextAreaElement.json
Labels: data:api :rabbit2:

#16137 Fix mirroring script for Chrome to Edge
  scripts/mirror.js
Labels: scripts :scroll:

#14302 Add proposal for a no-callbacks data guideline
  docs/data-guidelines.md
Labels: docs :writing_hand:

#16125 Update Chromium versions for api.WritableStreamDefaultController.signal
  api/WritableStreamDefaultController.json
Labels: data:api :rabbit2:

#16123 Update Edge versions for api.Window.beforeinstallprompt_event
  api/Window.json
Labels: data:api :rabbit2:

#16121 Update Opera versions for api.ValidityState.tooLong
  api/ValidityState.json
Labels: data:api :rabbit2:

#16093 Update Opera versions for MediaMetadata API
  api/MediaMetadata.json
Labels: data:api :rabbit2:

#16089 Update Opera versions for api.FeaturePolicy.features
  api/FeaturePolicy.json
Labels: data:api :rabbit2:

#16084 Update Opera versions for api.CanvasPattern.setTransform
  api/CanvasPattern.json
Labels: data:api :rabbit2:

#16120 Update Safari versions for api.ValidityState.badInput
  api/ValidityState.json
Labels: data:api :rabbit2:

#16119 Update WebView versions for URLPattern API
  api/URLPattern.json
Labels: data:api :rabbit2:

#16118 Update Safari versions for api.Text.assignedSlot
  api/Text.json
Labels: data:api :rabbit2:

#16117 Update Firefox Android versions for StaticRange API
  api/StaticRange.json
Labels: data:api :rabbit2:

#16116 Update Safari versions for ShadowRoot API
  api/ShadowRoot.json
Labels: data:api :rabbit2:

#16115 Update Samsung Internet/Safari versions for api.ServiceWorkerGlobalScope
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#16114 Update Firefox versions for api.Selection.setBaseAndExtent
  api/Selection.json
Labels: data:api :rabbit2:

#16113 Update Firefox versions for api.SVGImageElement.decode
  api/SVGImageElement.json
Labels: data:api :rabbit2:

#16112 Update Safari versions for api.SVGElement.nonce
  api/SVGElement.json
Labels: data:api :rabbit2:

#16131 Fixup JSDoc comment in test-browsers
  test/linter/test-browsers.js
Labels: linter :house_with_garden:

#16107 Fix links in NetworkInformation API
  api/NetworkInformation.json
Labels: data:api :rabbit2:

#16106 Update Firefox versions for api.Navigator.credentials
  api/Navigator.json
Labels: data:api :rabbit2:

#16091 Update Firefox versions for api.ImageBitmapRenderingContext.canvas
  api/ImageBitmapRenderingContext.json
Labels: data:api :rabbit2:

#16088 Add Firefox versions for ElementInternals API
  api/ElementInternals.json
Labels: data:api :rabbit2:

#16087 Update Safari versions for api.Element.assignedSlot
  api/Element.json
Labels: data:api :rabbit2:

#16086 Update Chromium versions for api.DedicatedWorkerGlobalScope.name
  api/DedicatedWorkerGlobalScope.json
Labels: data:api :rabbit2:

#16061 Update Firefox versions for api.RTCRtpSender.rtcpTransport
  api/RTCRtpSender.json
Labels: data:api :rabbit2:

#16140 Remove experimental flag for `ExtendableEvent`
  api/ExtendableEvent.json
Labels: data:api :rabbit2:

#16139 Add spec link for ImageBitmapRenderingContext's canvas attribute
  api/ImageBitmapRenderingContext.json
Labels: data:api :rabbit2:

#16144 Add spec url for NDEFReadingEvent() ctor
  api/NDEFReadingEvent.json
Labels: data:api :rabbit2:

#16042 Add subfeatures for RTCDataChannel.binaryType values
  api/RTCDataChannel.json
Labels: data:api :rabbit2:

#16154 Fix experimental flag for Notifications API
  api/Notification.json
  api/NotificationEvent.json
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#16151 Chrome 100 is retired
  browsers/chrome.json
Labels: data:browsers :earth_africa:

#12704 Remove unsupported Window.dialogArguments
  api/Window.json
Labels: data:api :rabbit2:

#6167 Add linter for browser data
  test/lint.js
  test/linter/index.js
  test/linter/test-browsers-data.js
  test/linter/test-browsers-presence.js
Labels: linter :house_with_garden:

#16122 Update Safari versions for `animationcancel` event
  api/Document.json
  api/HTMLElement.json
  api/Window.json
Labels: data:api :rabbit2:

#16158 FontFaceSetLoadEvent is no more experimental
  api/FontFaceSetLoadEvent.json
Labels: data:api :rabbit2:

#15892 Update release publishing document
  docs/publishing.md
Labels: docs :writing_hand:

#16160 Mark TransitionEvent as non-experimental
  api/TransitionEvent.json
Labels: data:api :rabbit2:

#5591 Enforce specific HTML elements and single spaces in notes
  package-lock.json
  package.json
  test/lint.js
  test/linter/index.js
  test/linter/test-notes.js
  test/linter/utils.js
Labels: infra :building_construction:, linter :house_with_garden:, dependencies :chains:

#16161 Fix notes in RTCDataChannel
  api/RTCDataChannel.json
Labels: data:api :rabbit2:

#15917 Add consistent copyright notice + use strict to all JS+TS files
  index.d.ts
  index.js
  scripts/compare-features.js
  scripts/compare-features.test.js
  scripts/diff-features.js
  scripts/enumerate-features.js
  scripts/fix-browser-order.js
  scripts/fix-feature-order.js
  scripts/fix.js
  scripts/migrations/001-sort-features.js
  scripts/migrations/002-remove-webview-flags.js
  scripts/migrations/002-remove-webview-flags.test.js
  scripts/migrations/003-sort-features.js
  scripts/migrations/004-prettify.js
  scripts/mirror.js
  scripts/release-build.js
  scripts/release-build.test.js
  scripts/release-notes.js
  scripts/release-pulls.js
  scripts/release-stats.js
  scripts/release-utils.js
  scripts/statistics.js
  scripts/traverse.js
  test/lint.js
  test/linter/index.js
  test/linter/test-browsers-data.js
  test/linter/test-browsers-presence.js
  test/linter/test-consistency.js
  test/linter/test-consistency.test.js
  test/linter/test-descriptions.js
  test/linter/test-links.js
  test/linter/test-prefix.js
  test/linter/test-real-values.js
  test/linter/test-schema.js
  test/linter/test-style.js
  test/linter/test-versions.js
  test/linter/utils.js
  test/spec-urls.test.js
  test/test-regexes.js
  test/utils.js
  test/utils.test.js
  types.d.ts
  utils/index.js
  utils/iter-support.js
  utils/iter-support.test.js
  utils/query.js
  utils/query.test.js
  utils/visit.js
  utils/visit.test.js
  utils/walk.js
  utils/walk.test.js
  utils/walkingUtils.js
  utils/walkingUtils.test.js
Labels: data:js :pager:, linter :house_with_garden:, bulk_update :package:, scripts :scroll:

#16172 Fix contributing heading/anchor
  docs/contributing.md
Labels: docs :writing_hand:

#16092 Update Edge versions for Ink API
  api/Ink.json
  api/Navigator.json
Labels: data:api :rabbit2:

#16176 Fix Chromium versions for Symbol.unscopables
  javascript/builtins/Symbol.json
Labels: data:js :pager:

#16175 Fix Chromium versions for MIDIAccess.sysexEnabled
  api/MIDIAccess.json
Labels: data:api :rabbit2:

#16177 FF101 Prioritized Task Scheduling
  api/Scheduler.json
  api/TaskController.json
  api/TaskPriorityChangeEvent.json
  api/TaskSignal.json
Labels: data:api :rabbit2:

#16179 Mark HTMLInputElement.webkit* as standard
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#16197 DOMException.code is deprecated
  api/DOMException.json
Labels: data:api :rabbit2:

#16198 Errors are serializable
  javascript/builtins/Error.json
  javascript/builtins/EvalError.json
  javascript/builtins/RangeError.json
  javascript/builtins/ReferenceError.json
  javascript/builtins/SyntaxError.json
  javascript/builtins/TypeError.json
  javascript/builtins/URIError.json
Labels: data:js :pager:

#16227 Remove mdn_url from Node.hasAttributes
  api/Node.json
Labels: data:api :rabbit2:

#16226 Remove long-gone HTMLElement.item*
  api/HTMLElement.json
Labels: data:api :rabbit2:

#16223 Update removal versions of webkitpointerlockchange/error events
  api/Document.json
Labels: data:api :rabbit2:

#16229 Update Chromium versions for MediaStream.active and events
  api/MediaStream.json
Labels: data:api :rabbit2:

#16200 FF101 RTCRtpEncodingParameters.maxFramerate supported
  api/RTCRtpEncodingParameters.json
  test/spec-urls.test.js
Labels: data:api :rabbit2:, linter :house_with_garden:

#16230 Release v4.1.20
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#16231 Update URLs throughout BCD
  api/Element.json
  css/at-rules/font-face.json
  css/properties/box-shadow.json
  css/properties/font-feature-settings.json
  css/properties/text-combine-upright.json
  css/selectors/hover.json
  css/types/image.json
  html/elements/input/reset.json
  html/elements/input/submit.json
Labels: data:api :rabbit2:, data:css :art:, data:html :page_facing_up:

#16224 Remove irrelevant feature Text.replaceWholeText
  api/Text.json
Labels: data:api :rabbit2:

#16242 Add spec URLs for AuthenticatorAttestationResponse API
  api/AuthenticatorAttestationResponse.json
Labels: data:api :rabbit2:

#16240 Add spec URLs for presentation APIs
  api/PresentationConnectionCloseEvent.json
  api/PresentationConnectionList.json
  api/PresentationReceiver.json
Labels: data:api :rabbit2:

#16239 Add spec URLs for geometry APIs
  api/DOMMatrix.json
  api/DOMMatrixReadOnly.json
  api/DOMPointReadOnly.json
  api/DOMQuad.json
  api/DOMRectReadOnly.json
  api/DOMStringList.json
Labels: data:api :rabbit2:

#16236 Add spec URLs for USB APIs
  api/USBAlternateInterface.json
  api/USBEndpoint.json
  api/USBInTransferResult.json
  api/USBInterface.json
  api/USBIsochronousInTransferPacket.json
  api/USBIsochronousInTransferResult.json
  api/USBIsochronousOutTransferPacket.json
  api/USBIsochronousOutTransferResult.json
  api/USBOutTransferResult.json
  api/USBPermissionResult.json
Labels: data:api :rabbit2:

#16233 Add spec URLs for SVG APIs
  api/SVGAElement.json
  api/SVGAngle.json
  api/SVGAnimatedAngle.json
  api/SVGAnimatedBoolean.json
  api/SVGAnimatedEnumeration.json
  api/SVGAnimatedInteger.json
  api/SVGAnimatedLength.json
  api/SVGAnimatedLengthList.json
  api/SVGAnimatedNumber.json
  api/SVGAnimatedNumberList.json
  api/SVGAnimatedPreserveAspectRatio.json
  api/SVGAnimatedRect.json
  api/SVGClipPathElement.json
  api/SVGComponentTransferFunctionElement.json
  api/SVGElement.json
  api/SVGEllipseElement.json
  api/SVGFEBlendElement.json
  api/SVGFEColorMatrixElement.json
  api/SVGFEComponentTransferElement.json
  api/SVGFECompositeElement.json
  api/SVGFEConvolveMatrixElement.json
  api/SVGFEDiffuseLightingElement.json
  api/SVGFEDisplacementMapElement.json
  api/SVGFEDistantLightElement.json
  api/SVGFEDropShadowElement.json
  api/SVGFEGaussianBlurElement.json
  api/SVGFEImageElement.json
  api/SVGFEMergeNodeElement.json
  api/SVGFEMorphologyElement.json
  api/SVGFEOffsetElement.json
  api/SVGFEPointLightElement.json
  api/SVGFESpecularLightingElement.json
  api/SVGFESpotLightElement.json
  api/SVGFETileElement.json
  api/SVGFETurbulenceElement.json
  api/SVGFilterElement.json
  api/SVGForeignObjectElement.json
  api/SVGGradientElement.json
  api/SVGLength.json
  api/SVGLineElement.json
  api/SVGLinearGradientElement.json
  api/SVGMaskElement.json
  api/SVGNumber.json
  api/SVGPatternElement.json
  api/SVGPreserveAspectRatio.json
  api/SVGRadialGradientElement.json
  api/SVGRectElement.json
  api/SVGSVGElement.json
  api/SVGScriptElement.json
  api/SVGStopElement.json
  api/SVGStyleElement.json
  api/SVGTextContentElement.json
  api/SVGTextPathElement.json
  api/SVGTextPositioningElement.json
  api/SVGTransform.json
  api/SVGUseElement.json
Labels: data:api :rabbit2:

#16241 Add spec URLs for service worker APIs
  api/ServiceWorker.json
  api/ServiceWorkerGlobalScope.json
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#16237 Add spec URLs for media APIs
  api/AudioListener.json
  api/AudioParam.json
  api/AudioProcessingEvent.json
  api/AudioWorkletGlobalScope.json
  api/MediaDeviceInfo.json
  api/MediaEncryptedEvent.json
  api/MediaList.json
  api/MediaStream.json
  api/MediaStreamTrack.json
  api/MediaStreamTrackEvent.json
  api/MediaStreamTrackProcessor.json
Labels: data:api :rabbit2:

#16249 Update worker support for Notifications in Chromium
  api/Notification.json
Labels: data:api :rabbit2:

#16248 Update Chromium versions for MediaQueryList
  api/MediaQueryList.json
Labels: data:api :rabbit2:

#16245 Update Chromium versions for MediaStream/MediaStreamTrack's clone()
  api/MediaStream.json
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#16235 Add spec URLs for RTC APIs
  api/RTCCertificate.json
  api/RTCDTMFSender.json
  api/RTCDtlsTransport.json
  api/RTCEncodedAudioFrame.json
  api/RTCEncodedVideoFrame.json
  api/RTCError.json
  api/RTCIceTransport.json
  api/RTCIdentityProviderGlobalScope.json
  api/RTCIdentityProviderRegistrar.json
  api/RTCPeerConnectionIceErrorEvent.json
  api/RTCPeerConnectionIceEvent.json
  api/RTCSctpTransport.json
Labels: data:api :rabbit2:

#16146 MV3 web_accessible_resources
  webextensions/manifest/web_accessible_resources.json
Labels: data:webext :game_die:

#15933 Compatibility data for host_permissions
  webextensions/manifest/host_permissions.json
Labels: data:webext :game_die:

#16220 Update comment on potential duplicates
  .github/workflows/potential-duplicate-issues.yml
Labels: infra :building_construction:

#16219 Don't add reactions to potential duplicate comment
  .github/workflows/potential-duplicate-issues.yml
Labels: infra :building_construction:

#16265 Use fast-json-stable-stringify for built package
  package-lock.json
  package.json
  scripts/release-build.js
Labels: infra :building_construction:, dependencies :chains:, scripts :scroll:

#15568 Remove all flag data for Opera Android
  api/AmbientLightSensor.json
  api/AudioTrack.json
  api/AudioTrackList.json
  api/Gamepad.json
  api/GamepadButton.json
  api/GamepadEvent.json
  api/GamepadHapticActuator.json
  api/HTMLElement.json
  api/HTMLMediaElement.json
  api/Magnetometer.json
  api/MouseEvent.json
  api/Navigator.json
  api/Permissions.json
  api/SourceBuffer.json
  api/VideoTrack.json
  api/VideoTrackList.json
  api/_mixins/DocumentOrShadowRoot__Document.json
  browsers/opera_android.json
  css/at-rules/viewport.json
  css/properties/backdrop-filter.json
  css/properties/font-size-adjust.json
  css/properties/line-height-step.json
  css/properties/text-justify.json
  css/selectors/focus-visible.json
Labels: data:api :rabbit2:, data:css :art:, data:browsers :earth_africa:

#16268 Remove Opera Android flag for html.global_attributes.inert
  html/global_attributes.json
Labels: data:html :page_facing_up:

#16260 Fix names and descriptions of showNotification() parameter entries
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#16252 MV3 Action API
  webextensions/api/action.json
Labels: data:webext :game_die:

#16136 MV3 Content Security Policy
  webextensions/manifest/content_security_policy.json
Labels: data:webext :game_die:

#16064 MV3 background event pages
  webextensions/api/extension.json
  webextensions/manifest/background.json
Labels: data:webext :game_die:

#16262 Add missing mdn_url for AudioEncoder.flush()
  api/AudioEncoder.json
Labels: data:api :rabbit2:

#16261 Fix Chrome/Edge versions for showNotification's options.actions parameter
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#16258 Fix experimental flags for AudioContext
  api/AudioContext.json
Labels: data:api :rabbit2:

#16257 Set experimental flags on Accelerometer.*
  api/Accelerometer.json
Labels: data:api :rabbit2:

#16256 Remove experimental flags for CountQueuingStrategy
  api/CountQueuingStrategy.json
Labels: data:api :rabbit2:

#15944 Update schema to remove "strict mode" warnings
  schemas/compat-data.schema.json
Labels: schema :gear:

#16166 Ensure our notes are HTML-formatted
  css/properties/scrollbar-color.json
  css/selectors/hostfunction.json
Labels: data:css :art:

#7486 Add `npm run diff`
  package-lock.json
  package.json
  scripts/diff.js
  scripts/lib/git.js
Labels: infra :building_construction:, dependencies :chains:, scripts :scroll:

#16273 Run Prettier on GitHub actions files
  .github/workflows/add-push-artifacts.yml
  .github/workflows/node.js.yml
  .github/workflows/pr-rebase-needed.yml
  .github/workflows/release.yml
Labels: infra :building_construction:

#16275 Use `npm ci` in workflows vs. `npm install`
  .github/workflows/add-push-artifacts.yml
  .github/workflows/release.yml
Labels: infra :building_construction:

#16276 Fix Chromium versions for @media (display-mode: ...)
  css/at-rules/media.json
Labels: data:css :art:

#16238 Add spec URLs for Performance APIs
  api/Performance.json
  api/PerformanceEventTiming.json
  api/PerformanceLongTaskTiming.json
  api/PerformanceMark.json
  api/PerformanceMeasure.json
  api/PerformanceNavigation.json
  api/PerformanceTiming.json
Labels: data:api :rabbit2:

#16267 Move layerX/layerY from UIEvent to MouseEvent
  api/MouseEvent.json
  api/UIEvent.json
Labels: data:api :rabbit2:, needs content update 📝

#15872 Scripting API data
  webextensions/api/scripting.json
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#16278 Update browser versions for <feComposite operator="lighter">
  svg/elements/feComposite.json
Labels: data:svg :paintbrush:

#16269 Make individual fix scripts non-executable
  scripts/fix-browser-order.js
  scripts/fix-feature-order.js
Labels: scripts :scroll:

#16155 Bump NodeJS in workflow runs
  .github/workflows/node.js.yml
  .github/workflows/release.yml
Labels: infra :building_construction:

#16165 Use new, faster HTML validator and parser for notes test
  package-lock.json
  package.json
  test/linter/test-notes.js
Labels: infra :building_construction:, linter :house_with_garden:, dependencies :chains:

#16280 Add an additional spec URL for javascript.statements.import
  javascript/statements.json
Labels: data:js :pager:

#6166 Move a version-based test from test-browsers to test-versions
  test/linter/test-browsers-presence.js
  test/linter/test-versions.js
Labels: linter :house_with_garden:

#5891 Refactor: update all JSDocs
  scripts/compare-features.js
  scripts/fix-browser-order.js
  scripts/fix-feature-order.js
  scripts/fix.js
  scripts/migrations/002-remove-webview-flags.js
  scripts/migrations/002-remove-webview-flags.test.js
  scripts/statistics.js
  scripts/traverse.js
  test/linter/test-browsers-presence.js
  test/linter/test-consistency.js
  test/linter/test-links.js
  test/linter/test-prefix.js
  test/linter/test-real-values.js
  test/linter/test-schema.js
  test/linter/test-style.js
  test/linter/test-versions.js
  test/test-regexes.js
Labels: linter :house_with_garden:, bulk_update :package:, scripts :scroll:

#5916 Refactor: Move functions in linters to top-level
  test/linter/test-browsers-presence.js
  test/linter/test-real-values.js
  test/linter/test-versions.js
Labels: linter :house_with_garden:

#6852 Use Logger class for all test scripts
  test/lint.js
  test/linter/test-browsers-data.js
  test/linter/test-browsers-presence.js
  test/linter/test-consistency.js
  test/linter/test-descriptions.js
  test/linter/test-links.js
  test/linter/test-notes.js
  test/linter/test-prefix.js
  test/linter/test-real-values.js
  test/linter/test-schema.js
  test/linter/test-style.js
  test/linter/test-versions.js
  test/linter/utils.js
  test/utils.js
Labels: linter :house_with_garden:, bulk_update :package:, scripts :scroll:

#5653 Refactor and update index.js to use fdir()
  index.js
  package-lock.json
  package.json
Labels: infra :building_construction:, dependencies :chains:

#12182 Reorganize scripts within scripts/ folder
  package.json
  scripts/fix/browser-order.js
  scripts/fix/feature-order.js
  scripts/fix/index.js
  scripts/migrations/001-sort-features.js
  scripts/migrations/003-sort-features.js
  scripts/release/build.js
  scripts/release/build.test.js
  scripts/release/notes.js
  scripts/release/pulls.js
  scripts/release/stats.js
  scripts/release/utils.js
  scripts/statistics.js
Labels: infra :building_construction:, dependencies :chains:, bulk_update :package:, scripts :scroll:

#5484 Add link fix script
  scripts/fix/index.js
  scripts/fix/links.js
  test/linter/index.js
  test/linter/test-links.js
Labels: linter :house_with_garden:, scripts :scroll:

#5605 Add tips/hints to version test
  test/linter/test-versions.js
Labels: linter :house_with_garden:

#4872 Consolidate descriptions linter functions into one
  test/linter/test-descriptions.js
Labels: linter :house_with_garden:

#14903 Statistics script: print table as counts vs. percentages
  scripts/statistics.js
Labels: scripts :scroll:

#15967 Account for newly-added "semver-*-bump" labels in release pulls script
  scripts/release/pulls.js
Labels: scripts :scroll:

#16271 Fix ESLint issues
  scripts/diff.js
  scripts/fix/browser-order.js
  scripts/fix/feature-order.js
  scripts/migrations/002-remove-webview-flags.js
  scripts/mirror.js
  test/linter/test-browsers-data.js
  test/utils.js
Labels: linter :house_with_garden:, bulk_update :package:, scripts :scroll:

#16283 Ensure copyright notice is applied to all files
  scripts/diff.js
  scripts/lib/git.js
  scripts/migrations/006-sort-features.js
  test/linter/test-notes.js
Labels: linter :house_with_garden:, bulk_update :package:, scripts :scroll:

#16282 Remove unused function
  test/linter/test-browsers-presence.js
Labels: linter :house_with_garden:

#16281 Add subfeature for transferable RTCDataChannel
  api/RTCDataChannel.json
Labels: data:api :rabbit2:

#10925 Adds reporting API and other reports
  api/CSPViolationReportBody.json
  api/CrashReportBody.json
  api/DeprecationReportBody.json
  api/InterventionReportBody.json
  api/PermissionsPolicyViolationReportBody.json
  api/Report.json
  api/ReportBody.json
Labels: data:api :rabbit2:

#11506 Migration 007: Set experimental to false
  scripts/migrations/007-experimental-false.js
  scripts/migrations/007-experimental-false.test.js
Labels: bulk_update :package:, scripts :scroll:

#16170 Fix consistency in webextensions.api.webRequest
  webextensions/api/webRequest.json
Labels: data:webext :game_die:

#15817 Add Chrome/Safari versions for text-size-adjust CSS property
  css/properties/text-size-adjust.json
Labels: data:css :art:

#16297 Fix mdn_urls in <transform-function>
  css/types/transform-function.json
Labels: data:css :art:

#16298 Remove parenthesis in mdn_url
  css/types/attr.json
  css/types/basic-shape.json
  css/types/calc.json
  css/types/clamp.json
  css/types/counter.json
  css/types/counters.json
  css/types/filter-function.json
  css/types/image.json
  css/types/max.json
  css/types/min.json
  css/types/url.json
Labels: data:css :art:

#16295 Rename individual input types from input-* to type_*
  html/elements/input/button.json
  html/elements/input/checkbox.json
  html/elements/input/color.json
  html/elements/input/date.json
  html/elements/input/datetime-local.json
  html/elements/input/email.json
  html/elements/input/file.json
  html/elements/input/hidden.json
  html/elements/input/image.json
  html/elements/input/month.json
  html/elements/input/number.json
  html/elements/input/password.json
  html/elements/input/radio.json
  html/elements/input/range.json
  html/elements/input/reset.json
  html/elements/input/search.json
  html/elements/input/submit.json
  html/elements/input/tel.json
  html/elements/input/text.json
  html/elements/input/time.json
  html/elements/input/url.json
  html/elements/input/week.json
Labels: data:html :page_facing_up:

#16284 MV3 content_security_policy clarifications
  webextensions/manifest/content_security_policy.json
Labels: data:webext :game_die:

#15913 Fix experimental+deprecated statuses
  api/CSSPositionValue.json
  api/CSSPrimitiveValue.json
  api/CloseEvent.json
  api/DataTransfer.json
  api/DeviceProximityEvent.json
  api/FileSystemEntry.json
  api/Gamepad.json
  api/HTMLIFrameElement.json
  api/HTMLMediaElement.json
  api/Navigator.json
  api/NetworkInformation.json
  api/Permissions.json
  api/PositionSensorVRDevice.json
  api/RTCPeerConnectionIceErrorEvent.json
  api/Range.json
  api/SpeechRecognitionEvent.json
  api/UserProximityEvent.json
  api/VRDisplay.json
  api/VRDisplayCapabilities.json
  api/VRDisplayEvent.json
  api/VREyeParameters.json
  api/VRFieldOfView.json
  api/VRFrameData.json
  api/VRPose.json
  api/VRStageParameters.json
  api/Window.json
  html/elements/input/input.json
  http/headers/accept-ch-lifetime.json
  http/headers/accept-ch.json
  http/headers/content-dpr.json
  http/headers/content-security-policy.json
  http/headers/dpr.json
  http/headers/large-allocation.json
  http/headers/sec-ch-ua-full-version.json
  http/headers/viewport-width.json
  http/headers/width.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:, data:html :page_facing_up:

#16185 Update Safari versions for Cache API
  api/Cache.json
Labels: data:api :rabbit2:

#16279 Updates edge to version 101
  browsers/edge.json
Labels: data:browsers :earth_africa:

#16300 Remove api.Document.getBoxObjectFor
  api/Document.json
Labels: data:api :rabbit2:

#16192 Update IE versions for api.Document.drag*/drop*_event
  api/Document.json
Labels: data:api :rabbit2:

#16201 Update Safari versions for api.File.File
  api/File.json
Labels: data:api :rabbit2:

#16204 Update Firefox versions for Gamepad API
  api/Gamepad.json
Labels: data:api :rabbit2:

#16205 Update Firefox versions for api.GamepadButton.touched
  api/GamepadButton.json
Labels: data:api :rabbit2:

#16210 Update Chromium versions for HTMLObjectElement API
  api/HTMLObjectElement.json
Labels: data:api :rabbit2:

#5904 Implement ESLint (basic rules)
  .eslintrc.json
  index.js
  package-lock.json
  package.json
  test/linter/test-consistency.js
  test/linter/test-schema.js
Labels: infra :building_construction:, linter :house_with_garden:, dependencies :chains:, scripts :scroll:

#16303 Fix ESLint errors for migration 007
  scripts/migrations/007-experimental-false.js
Labels: bulk_update :package:, scripts :scroll:
