Repository mdn/browser-compat-data, pull requests merged in 2022-06, with the labels that each got.

#16491 Update more HTML element API spec URLs to dev targets
  api/HTMLSelectElement.json
  api/HTMLTextAreaElement.json
  api/HTMLTitleElement.json
  api/HTMLTrackElement.json
Labels: data:api :rabbit2:

#16490 Updates firefox to version 101
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#16492 Fix typedef declarations
  scripts/release/build.js
  types.d.ts
Labels: infra :building_construction:, scripts :scroll:

#16495 Release v5.0.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#16493 Add data for attributes of the HTML input element
  html/elements/input/attributes.json
Labels: data:html :page_facing_up:

#16496 Add spec URLs for FileList»item and FileList»length
  api/FileList.json
Labels: data:api :rabbit2:

#16502 Set more experimental statuses to false
  api/AudioContext.json
  api/GamepadHapticActuator.json
Labels: data:api :rabbit2:

#16501 Add spec_url and mdn_url for more form-control attributes
  html/elements/input/attributes.json
  html/elements/meter.json
  html/elements/progress.json
  html/elements/textarea.json
Labels: data:html :page_facing_up:

#16499 Remove description for HTMLElement.click()
  api/HTMLElement.json
Labels: data:api :rabbit2:

#16497 Simplify TypeScript definitions
  types.d.ts
Labels: infra :building_construction:

#16507 Updating the latest Edge releases
  browsers/edge.json
Labels: data:browsers :earth_africa:

#16508 Fix arguments passed into traverse script
  docs/testing.md
  scripts/traverse.js
Labels: docs :writing_hand:, scripts :scroll:

#15932 Fix status inheritance inconsistency
  api/BluetoothDevice.json
  api/BluetoothRemoteGATTCharacteristic.json
  api/CaretPosition.json
  api/FederatedCredential.json
  api/ImageDecoder.json
  api/NDEFMessage.json
  api/NDEFReader.json
  api/NDEFReadingEvent.json
  api/NDEFRecord.json
  api/Navigator.json
  api/OffscreenCanvas.json
  api/PasswordCredential.json
  api/PaymentManager.json
  api/PerformanceLongTaskTiming.json
  api/SVGGlyphRefElement.json
  api/SpeechRecognitionEvent.json
  api/TaskAttributionTiming.json
  api/XRWebGLBinding.json
  api/XSLTProcessor.json
  api/_globals/crossOriginIsolated.json
  html/elements/html.json
  svg/elements/cursor.json
  svg/elements/missing-glyph.json
  svg/elements/vkern.json
Labels: data:api :rabbit2:, data:html :page_facing_up:, data:svg :paintbrush:

#16520 Update some spec URLs from CSS Typed OM and Painting API specs
  api/CSS.json
  api/PaintSize.json
Labels: data:api :rabbit2:

#16515 Remove irrelevant notes about Firefox "chrome code" for URL
  api/URL.json
Labels: data:api :rabbit2:

#15811 Update Edge versions for -webkit-mask-repeat CSS property
  css/properties/-webkit-mask-repeat-x.json
  css/properties/-webkit-mask-repeat-y.json
Labels: data:css :art:

#16517 Mirror Opera support for Object.fromEntries() and .hasOwn()
  javascript/builtins/Object.json
Labels: data:js :pager:

#16467 TaskSignal: prioritychange_event url fix
  api/TaskSignal.json
Labels: data:api :rabbit2:

#15822 Update Chromium data for Notification API
  api/Notification.json
Labels: data:api :rabbit2:

#15698 Update Firefox data for VR APIs
  api/HMDVRDevice.json
  api/PositionSensorVRDevice.json
Labels: data:api :rabbit2:

#16480 Drop exception for WOFF spec
  test/spec-urls.test.js
Labels: linter :house_with_garden:, not ready :no_entry:

#16525 FF102 Readable/Writable/Transform Streams transferable
  api/ReadableStream.json
  api/TransformStream.json
  api/WritableStream.json
Labels: data:api :rabbit2:

#16511 Fix Safari 3 versions that were in Safari 1
  api/HTMLAnchorElement.json
  api/HTMLAreaElement.json
  api/HTMLLinkElement.json
  api/HTMLStyleElement.json
  api/ProcessingInstruction.json
Labels: data:api :rabbit2:

#16090 Update Chromium versions for api.HTMLScriptElement.supports
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#16522 Convert spec URLs test to linter unit
  test/linter/index.js
  test/linter/test-spec-urls.js
  test/spec-urls.test.js
Labels: linter :house_with_garden:

#16514 Remove api.GlobalEventHandlers.onabort
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, needs content update 📝

#16052 Add fix script to fix property order
  scripts/fix/index.js
  scripts/fix/property-order.js
Labels: scripts :scroll:

#16376 Marking IE11 as retired
  browsers/ie.json
Labels: data:browsers :earth_africa:

#16392 Update Firefox versions for width:fit-content
  css/properties/width.json
Labels: data:css :art:

#16403 Node.js supports DOMException
  api/DOMException.json
Labels: data:api :rabbit2:

#16429 Add linter for obsolete data
  test/linter/index.js
  test/linter/test-obsolete.js
  test/linter/test-obsolete.test.js
Labels: linter :house_with_garden:

#16450 Support for StorageArea.onChanged and Session
  webextensions/api/storage.json
Labels: data:webext :game_die:

#16472 Media features - range syntax and update
  css/at-rules/media.json
Labels: data:css :art:

#16539 Add spec URL for css.at-rules.media.update
  css/at-rules/media.json
Labels: data:css :art:

#15950 Remove remaining Firefox Android flags + old Firefox desktop flags
  browsers/firefox_android.json
  html/elements/shadow.json
  html/global_attributes.json
  html/manifest/icons.json
  html/manifest/name.json
  html/manifest/short_name.json
  html/manifest/theme_color.json
  http/headers/alt-svc.json
  http/headers/content-security-policy.json
  http/headers/cross-origin-opener-policy.json
  http/headers/feature-policy.json
  http/headers/origin.json
  javascript/statements.json
  svg/elements/a.json
Labels: data:http :mountain_cableway:, data:js :pager:, data:html :page_facing_up:, data:browsers :earth_africa:, not ready :no_entry:, data:svg :paintbrush:

#16543 Enforce property order
  scripts/fix/property-order.js
  test/linter/test-style.js
Labels: linter :house_with_garden:, scripts :scroll:

#16551 HPKP: remove irrelevant notes
  http/headers/public-key-pins-report-only.json
  http/headers/public-key-pins.json
Labels: data:http :mountain_cableway:

#16569 Add spec_url to TypeScript typedef
  types.d.ts
Labels: infra :building_construction:

#16571 Generate TypeScript definitions from schema
  .eslintignore
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  schemas/browsers.schema.json
  schemas/compat-data.schema.json
  scripts/generate-types.js
  test/linter/test-prefix.js
  test/linter/test-schema.js
  types.d.ts
Labels: schema :gear:, infra :building_construction:, linter :house_with_garden:, dependencies :chains:, scripts :scroll:

#16535 Improve linter message output
  test/lint.js
  test/linter/test-links.js
  test/linter/test-status.js
  test/linter/test-style.js
  test/linter/test-versions.js
Labels: linter :house_with_garden:

#16552 Ensure that browser key is passed into path for browser linters
  test/lint.js
Labels: linter :house_with_garden:

#16575 Cover TypeScript definitions in semantic versioning
  README.md
Labels: docs :writing_hand:

#16577 Remove BrowserDataFile from TypeScript definitions
  scripts/generate-types.js
Labels: scripts :scroll:

#16580 Ensure that status is required for browser release statement
  schemas/browsers.schema.json
Labels: schema :gear:

#16581 Export __meta object to TypeScript
  scripts/generate-types.js
Labels: scripts :scroll:

#16582 Fix typedef for Identifier
  scripts/generate-types.js
Labels: scripts :scroll:

#16584 Fix a typo in the main linter
  test/lint.js
Labels: linter :house_with_garden:

#16591 Fix typo in typedef
  schemas/compat-data.schema.json
Labels: schema :gear:

#16592 Fix linter output
  test/lint.js
Labels: linter :house_with_garden:

#16588 Tests: minor bug fix and tests
  test/utils.js
  test/utils.test.js
  utils/walkingUtils.js
  utils/walkingUtils.test.js
Labels: linter :house_with_garden:

#16578 Mirror Opera and Samsung Internet support for CSS @layer rule
  css/at-rules/layer.json
Labels: data:css :art:

#12830 Merge RTCConfiguration dict into RTCPeerConnection
  api/RTCConfiguration.json
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:, needs-release-note :newspaper:

#16357 Update Oculus browser release info
  browsers/oculus.json
Labels: data:browsers :earth_africa:

#16510 Fix version filtering in the traverse script
  scripts/traverse.js
Labels: scripts :scroll:

#16605 Fix TypeScript definition for Identifier interface and Browser.upstream
  schemas/browsers.schema.json
  schemas/compat-data.schema.json
  scripts/generate-types.js
Labels: schema :gear:, scripts :scroll:

#16607 Allow for multiple beta browser releases in browser data
  test/linter/test-browsers-data.js
Labels: linter :house_with_garden:

#16555 Update Samsung Internet release data
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#16550 Update Opera release data
  browsers/opera.json
Labels: data:browsers :earth_africa:

#16549 Update Deno release data
  browsers/deno.json
Labels: data:browsers :earth_africa:

#16596 Mark break-before/break-after: always non-standard/deprecated
  css/properties/break-after.json
  css/properties/break-before.json
Labels: data:css :art:

#16599 Mirror Edge support of RTCRtpTransceiver.currentDirection
  api/RTCRtpTransceiver.json
Labels: data:api :rabbit2:

#16602 Mirror Samsung Internet support for a few features
  api/AbortSignal.json
  api/CanvasRenderingContext2D.json
  api/RTCPeerConnection.json
  css/at-rules/media.json
Labels: data:api :rabbit2:, data:css :art:

#16608 Update governance
  GOVERNANCE.md
Labels: docs :writing_hand:

#16616 Updates opera browser to version 88
  browsers/opera.json
Labels: data:browsers :earth_africa:

#16612 Simplify </code><code> in note for page-break-inside
  css/properties/page-break-inside.json
Labels: data:css :art:

#16620 Update typedef generation
  schemas/compat-data.schema.json
  scripts/generate-types.js
Labels: schema :gear:, scripts :scroll:

#16621 Include browser releases in feature enumeration
  .prettierignore
  scripts/enumerate-features.js
  utils/walk.js
Labels: infra :building_construction:, scripts :scroll:

#16622 Ensure that enumeration only includes browser or __compat statements
  scripts/enumerate-features.js
Labels: scripts :scroll:

#16623 Release v5.0.3
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#16624 Make linter asynchronous
  test/lint.js
Labels: linter :house_with_garden:

#16110 Update Chromium versions for PermissionStatus API
  api/PermissionStatus.json
Labels: data:api :rabbit2:

#16615 Fix: cleanup Consistency errors
  api/MediaMetadata.json
  api/Worker.json
  javascript/statements.json
Labels: data:api :rabbit2:, data:js :pager:

#16614 Linter: fix Consistency test, simplify Obsolete test
  test/linter/test-consistency.js
  test/linter/test-consistency.test.js
  test/linter/test-obsolete.js
  test/linter/test-obsolete.test.js
  utils/walkingUtils.test.js
Labels: data:api :rabbit2:, data:js :pager:, linter :house_with_garden:

#16434 Update diff script
  scripts/diff.js
Labels: scripts :scroll:

#16635 Label utils/ as infra
  .github/labeler.yml
Labels: infra :building_construction:

#16334 EXT_texture_compression_bptc and EXT_texture_compression_rgtc added in Chrome 82.
  api/EXT_texture_compression_bptc.json
  api/EXT_texture_compression_rgtc.json
Labels: data:api :rabbit2:

#16636 Use "title" prop to define TypeScript interface names
  schemas/browsers.schema.json
  schemas/compat-data.schema.json
  scripts/generate-types.js
Labels: schema :gear:, scripts :scroll:

#16548 Allow for traversing for mirrored data
  scripts/traverse.js
Labels: scripts :scroll:

#16484 Add migration script for mirroring
  scripts/migrations/009-mirror.js
Labels: bulk_update :package:, scripts :scroll:

#16639 Fix mirror conversion logic
  scripts/migrations/009-mirror.js
Labels: bulk_update :package:, scripts :scroll:

#16629 Remove unused util visit()
  utils/index.js
  utils/visit.js
  utils/visit.test.js
Labels: infra :building_construction:

#16574 Linter: add more JSDoc
  test/lint.js
  test/utils.js
Labels: linter :house_with_garden:

#16445 Test the default mirror.js export more to show many more bugs
  scripts/release/build.js
  scripts/release/mirror.test.js
Labels: scripts :scroll:

#15897 Add a script to remove redundant flags
  package.json
  scripts/remove-redundant-flags.js
  scripts/remove-redundant-flags.test.js
Labels: infra :building_construction:, dependencies :chains:, scripts :scroll:

#16644 Consistency test: mirror statements before comparing values
  test/linter/test-consistency.js
  test/linter/test-consistency.test.js
Labels: linter :house_with_garden:

#16645 Consistency test: mirror statements before comparing values (part 2)
  test/linter/test-consistency.js
Labels: linter :house_with_garden:

#16649 Add exception for 103 Early Hints HTTP status
  test/linter/test-spec-urls.js
Labels: linter :house_with_garden:

#16335 feat: add http.status.103 data
  http/status.json
Labels: data:http :mountain_cableway:

#16647 Array.groupBy/ .groupByToMap renamed to group/groupToMap
  javascript/builtins/Array.json
Labels: data:js :pager:

#16642 Deprecate nonPersistentCookies from privacy.websites.cookieConfig
  webextensions/api/privacy.json
Labels: data:webext :game_die:

#16655 Support for muted in tabs.create
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#16579 Linter: add exceptions attribute
  test/lint.js
  test/linter/test-obsolete.js
  test/utils.js
Labels: linter :house_with_garden:

#16526 Add oklab() and oklch()
  css/types/color.json
Labels: data:css :art:

#16656 Fix property sorting
  css/types/color.json
Labels: data:css :art:

#16382 Update position.json
  css/properties/position.json
Labels: data:css :art:

#16662 Convert mirroring migration script to TypeScript
  scripts/migrations/009-mirror.ts
Labels: bulk_update :package:, scripts :scroll:

#16664 Fix feature enumeration script
  scripts/enumerate-features.ts
Labels: scripts :scroll:

#16663 Add MDN URLs for dynamic-range and video-dynamic-range
  css/at-rules/media.json
Labels: data:css :art:

#16669 Use my patched version of ts-node
  package-lock.json
  package.json
Labels: infra :building_construction:, dependencies :chains:

#16672 Remove unused types in mirroring migration script
  scripts/migrations/009-mirror.ts
Labels: bulk_update :package:, scripts :scroll:

#16675 Introduce a "source_file" compat prop
  index.ts
  schemas/compat-data.schema.json
Labels: schema :gear:, infra :building_construction:, needs-release-note :newspaper:, semver-minor-bump ➕

#16677 Release v5.1.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#16678 Refactor: normalize source_file property
  index.ts
  utils/index.ts
  utils/normalize-path.test.ts
  utils/normalize-path.ts
Labels: infra :building_construction:

#16685 Fix Identifier type
  .c8rc.json
  index.test.ts
  package.json
  schemas/compat-data.schema.json
Labels: schema :gear:, infra :building_construction:, dependencies :chains:

#16684 Ensure mirroring output cannot be "null"
  scripts/release/mirror.test.ts
  scripts/release/mirror.ts
Labels: scripts :scroll:

#16686 Add a unittest to confirm build output "matches" developer output
  scripts/release/build.test.ts
  scripts/release/build.ts
Labels: scripts :scroll:

#16688 Update mirroring script; add build/mirror tests
  scripts/release/build.test.ts
  scripts/release/build.ts
  scripts/release/mirror.test.ts
  scripts/release/mirror.ts
Labels: scripts :scroll:

#16690 Flag removal script: remove cutoff date; remove flags immediately
  scripts/remove-redundant-flags.test.ts
  scripts/remove-redundant-flags.ts
Labels: scripts :scroll:

#16704 Add "nonmirror" value option to traverse script
  scripts/traverse.ts
Labels: scripts :scroll:

#16705 Increase build script test timeout
  scripts/release/build.test.ts
Labels: scripts :scroll:

#16532 Simplify and fix WebView Android (and Edge) mirroring
  api/AudioBufferSourceNode.json
  api/Console.json
  api/Document.json
  api/DocumentType.json
  api/Element.json
  api/Event.json
  api/EventTarget.json
  api/HTMLAnchorElement.json
  api/HTMLButtonElement.json
  api/HTMLElement.json
  api/HTMLIFrameElement.json
  api/HTMLInputElement.json
  api/HTMLLabelElement.json
  api/HTMLLinkElement.json
  api/HTMLMediaElement.json
  api/HTMLScriptElement.json
  api/HTMLSelectElement.json
  api/HTMLTextAreaElement.json
  api/Location.json
  api/Node.json
  api/SVGGraphicsElement.json
  api/SVGUseElement.json
  api/Text.json
  api/WebGLRenderingContext.json
  api/Window.json
  api/XMLHttpRequest.json
  css/at-rules/media.json
  css/properties/font-size.json
  css/properties/list-style-type.json
  javascript/builtins/Function.json
  scripts/release/mirror.test.ts
  scripts/release/mirror.ts
Labels: data:api :rabbit2:, data:css :art:, data:js :pager:, not ready :no_entry:, scripts :scroll:

#16703 Verify types.d.ts after generation
  schemas/compat-data.schema.json
  scripts/generate-types.ts
Labels: schema :gear:, scripts :scroll:

#16707 Default TS export: cast to "any" first
  scripts/release/build.ts
Labels: scripts :scroll:

#16708 Fix paths in build script
  scripts/release/build.ts
Labels: scripts :scroll:

#16702 Fix linter Obsolete test
  test/linter/test-obsolete.test.ts
  test/linter/test-obsolete.ts
Labels: linter :house_with_garden:

#16709 Release v5.1.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#16699 Stricter types
  scripts/diff.ts
  scripts/fix/browser-order.ts
  scripts/fix/feature-order.ts
  scripts/migrations/009-mirror.ts
  scripts/release/build.test.ts
  scripts/release/mirror.test.ts
  scripts/release/mirror.ts
  scripts/release/stats.ts
  scripts/release/utils.ts
  scripts/remove-redundant-flags.test.ts
  scripts/remove-redundant-flags.ts
  scripts/statistics.ts
  test/linter/test-browsers-presence.ts
Labels: schema :gear:, infra :building_construction:, linter :house_with_garden:, bulk_update :package:, scripts :scroll:

#16710 Remove unused imports
  scripts/release/build.ts
Labels: scripts :scroll:

#16711 Disable build match test due to long build times
  scripts/release/build.test.ts
Labels: scripts :scroll:

#16667 TSConfig: noFallthroughCasesInSwitch, allowUnreachableCode
  test/utils.ts
  tsconfig.json
Labels: linter :house_with_garden:

#16725 Mirroring: throw error if source release couldn't be found
  scripts/release/mirror.ts
Labels: scripts :scroll:

#16726 Update my name on governance doc
  GOVERNANCE.md
Labels: docs :writing_hand:

#16729 Use it.skip() to disable build match test rather than comments
  scripts/release/build.test.ts
Labels: scripts :scroll:

#16648 Add a guideline for no all-false features
  docs/data-guidelines.md
Labels: docs :writing_hand:

#16724 Refactor: use optional arguments consistently
  scripts/release/mirror.ts
  test/lint.ts
  test/linter/test-consistency.ts
  utils/walk.ts
Labels: infra :building_construction:, linter :house_with_garden:, bulk_update :package:, scripts :scroll:

#16740 Linter: add message about exceptions
  test/lint.ts
Labels: linter :house_with_garden:

#16743 Remove svg color rendering
  svg/attributes/presentation.json
  test/linter/test-obsolete.ts
Labels: linter :house_with_garden:, data:svg :paintbrush:

#16715 id in history.onTitleChanged
  webextensions/api/history.json
Labels: data:webext :game_die:

#16628 Add entries for break-before/break-after: avoid (in multicol)
  css/properties/break-after.json
  css/properties/break-before.json
Labels: data:css :art:

#16720 Split dynamic import into operators
  javascript/operators/import.json
  javascript/statements.json
Labels: data:js :pager:, needs-release-note :newspaper:

#16714 HTTP status code 103 early hint, add spec on semantics of this status code
  http/status.json
  test/linter/test-spec-urls.ts
Labels: data:http :mountain_cableway:, linter :house_with_garden:

#16745 Update some spec URLs for CSS Animations events
  api/Document.json
  api/HTMLElement.json
  api/Window.json
Labels: data:api :rabbit2:

#16748 Drop some unimplemented webrtc-stats features
  api/RTCIceCandidatePairStats.json
  api/RTCRtpStreamStats.json
Labels: data:api :rabbit2:

#16750 Fix some spec URLs from Array Grouping proposal
  javascript/builtins/Array.json
Labels: data:js :pager:

#16208 Update Safari versions for api.HTMLMediaElement.audioTracks/videoTracks
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#16558 Remove durationchange event from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, needs content update 📝

#16541 Remove canplay event from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, needs content update 📝

#16754 Update CSS video-dynamic-range spec URL
  css/at-rules/media.json
Labels: data:css :art:

#16756 Handle linter code exceptions
  test/utils.ts
Labels: linter :house_with_garden:

#16757 Release v5.1.2
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#16737 Remove timeupdate event from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, needs content update 📝

#16721 Remove ratechange event from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, needs content update 📝

#16718 Remove progress event from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#16760 Remove volumechange event from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#16673 Demix play/playing/pause events from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:, needs content update 📝

#16730 Remove seeked/seeking events from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#16734 Demix stalled event from GlobalEventHandlers
  api/GlobalEventHandlers.json
Labels: data:api :rabbit2:

#16753 Application Cache has been removed
  api/SharedWorkerGlobalScope.json
Labels: data:api :rabbit2:

#16765 Updates chrome browser to version 103
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#16527 Update LargestContentfulPaint spec URLs
  api/LargestContentfulPaint.json
  test/linter/test-spec-urls.ts
Labels: data:api :rabbit2:, linter :house_with_garden:
