Repository mdn/browser-compat-data, pull requests merged in 2023-05, with the labels that each got.

#19597 Update spec URLs that are now in the main spec
  javascript/builtins/Intl.json
  javascript/builtins/Intl/NumberFormat.json
  javascript/builtins/Intl/PluralRules.json
Labels: data:js :pager:

#19593 add Deno version 1.33
  browsers/deno.json
Labels: data:browsers :earth_africa:

#19578 Remove api.AudioListener.dopplerFactor from BCD
  api/AudioListener.json
Labels: data:api :rabbit2:

#19581 Remove api.RTCStatsReport.[inbound/outbound]-rtp.qpSum from BCD
  api/RTCStatsReport.json
Labels: data:api :rabbit2:

#19322 Add missing subfeatures to webextensions.api.action
  webextensions/api/action.json
  webextensions/api/browserAction.json
Labels: data:webext :game_die:

#19463 management.getSelf available in Opera
  webextensions/api/management.json
Labels: data:webext :game_die:

#19606 Add CSSImportRule supportsText property
  api/CSSImportRule.json
Labels: data:api :rabbit2:

#19629 Re-add Estelle as a peer
  GOVERNANCE.md
Labels: docs :writing_hand:

#19617 Update Safari data for EXT_texture_compression_bptc API
  api/EXT_texture_compression_bptc.json
Labels: data:api :rabbit2:

#19616 Update Safari data for api.Document.exitFullscreen.returns_promise
  api/Document.json
Labels: data:api :rabbit2:

#19619 Update Safari data for api.HTMLHeadElement.profile
  api/HTMLHeadElement.json
Labels: data:api :rabbit2:

#19624 Update Safari data for SVG*Element API
  api/SVGAltGlyphDefElement.json
  api/SVGAltGlyphElement.json
  api/SVGAltGlyphItemElement.json
  api/SVGFontElement.json
  api/SVGFontFaceElement.json
  api/SVGFontFaceFormatElement.json
  api/SVGFontFaceNameElement.json
  api/SVGFontFaceSrcElement.json
  api/SVGFontFaceUriElement.json
  api/SVGGlyphElement.json
  api/SVGGlyphRefElement.json
  api/SVGHKernElement.json
  api/SVGMissingGlyphElement.json
  api/SVGTRefElement.json
  api/SVGVKernElement.json
  svg/elements/altGlyph.json
  svg/elements/altGlyphDef.json
  svg/elements/altGlyphItem.json
  svg/elements/font-face-format.json
  svg/elements/font-face-name.json
  svg/elements/font-face-src.json
  svg/elements/font-face-uri.json
  svg/elements/font-face.json
  svg/elements/font.json
  svg/elements/glyph.json
  svg/elements/glyphRef.json
  svg/elements/hkern.json
  svg/elements/missing-glyph.json
  svg/elements/tref.json
  svg/elements/vkern.json
Labels: data:api :rabbit2:, data:svg :paintbrush:

#19635 Mirror Opera data for fetch keepalive
  api/Request.json
  api/_globals/fetch.json
Labels: data:api :rabbit2:

#19634 Add fetch() and Request() constructor priority parameters
  api/Request.json
  api/_globals/fetch.json
Labels: data:api :rabbit2:

#19632 FF114 Android Window.print() update
  api/Window.json
Labels: data:api :rabbit2:

#19586 Update Safari data for css.properties.clear.flow_relative_values
  css/properties/clear.json
Labels: data:css :art:

#19587 Update Safari data for css.properties.float.flow_relative_values
  css/properties/float.json
Labels: data:css :art:

#19588 Update Safari data for list-style-type CSS property
  css/properties/list-style-type.json
Labels: data:css :art:

#19636 `border-image-width`: add notes about interop bug
  css/properties/border-image-width.json
  css/properties/border-image.json
Labels: data:css :art:

#19590 Update Safari data for text-combine-upright CSS property
  css/properties/text-combine-upright.json
Labels: data:css :art:

#19591 Update Safari data for css.properties.quotes.quotes_auto
  css/properties/quotes.json
Labels: data:css :art:

#19605 FF113 Web Transport API updates
  api/WebTransport.json
  api/WebTransportBidirectionalStream.json
  api/WebTransportDatagramDuplexStream.json
  api/WebTransportError.json
Labels: data:api :rabbit2:

#19435 relnote(Fx113): CompressionStream and sub-features supported by default
  api/CompressionStream.json
  api/DecompressionStream.json
Labels: data:api :rabbit2:

#19639 Release v5.2.56
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#19533 Update Firefox data for css.properties.min-height.fit-content
  css/properties/min-height.json
Labels: data:css :art:

#19592 Update Safari data for css.properties.rotate.x_y_z_angle
  css/properties/rotate.json
Labels: data:css :art:

#19589 Update Safari data for scroll-margin-* CSS property
  css/properties/scroll-margin-block-end.json
  css/properties/scroll-margin-block-start.json
  css/properties/scroll-margin-block.json
  css/properties/scroll-margin-inline-end.json
  css/properties/scroll-margin-inline-start.json
  css/properties/scroll-margin-inline.json
Labels: data:css :art:

#19558 Update Chromium data for text-emphasis-position CSS property
  css/properties/text-emphasis-position.json
Labels: data:css :art:

#19440 FF113 supports RTCSctpTransport and RTCPeerConnection.sctp
  api/RTCPeerConnection.json
  api/RTCSctpTransport.json
Labels: data:api :rabbit2:

#19442 FF113 RTCPeerConnection.connectionState and changestatechange event
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#19764 Release v5.2.57
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#19693 FF113 WebTransportReceiveStream - in nightly
  api/WebTransportReceiveStream.json
Labels: data:api :rabbit2:

#19572 FF111 ScreenOrientation.lock() enabled preview (flag FF97)
  api/ScreenOrientation.json
Labels: data:api :rabbit2:

#19439 FF113 RTCRTPSender.getCapabilities() and setStreams()
  api/RTCRtpSender.json
Labels: data:api :rabbit2:

#19717 Correct cookieStoreId in userScript
  webextensions/api/userScripts.json
Labels: data:webext :game_die:

#19774 Add data guideline for dictionaries/enums
  docs/data-guidelines/api.md
Labels: docs :writing_hand:

#19773 Firefox 113 is released
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#19754 Correcting CHIPS data
  api/CookieStore.json
  http/headers/Set-Cookie.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#19813 Add Opera versions for image SVG element
  svg/elements/image.json
Labels: data:svg :paintbrush:

#19815 Add Opera versions for linearGradient SVG element
  svg/elements/linearGradient.json
Labels: data:svg :paintbrush:

#19861 Add Safari versions for Alt-Svc HTTP header
  http/headers/Alt-Svc.json
Labels: data:http :mountain_cableway:

#19852 Add Chrome Android versions for use SVG element
  svg/elements/use.json
Labels: data:svg :paintbrush:

#19851 Add Chrome Android versions for tspan SVG element
  svg/elements/tspan.json
Labels: data:svg :paintbrush:

#19850 Add Opera versions for tref SVG element
  svg/elements/tref.json
Labels: data:svg :paintbrush:

#19849 Add Chrome Android versions for title SVG element
  svg/elements/title.json
Labels: data:svg :paintbrush:

#19848 Add Opera versions for textPath SVG element
  svg/elements/textPath.json
Labels: data:svg :paintbrush:

#19847 Add Chrome Android versions for text SVG element
  svg/elements/text.json
Labels: data:svg :paintbrush:

#19846 Add Opera versions for symbol SVG element
  svg/elements/symbol.json
Labels: data:svg :paintbrush:

#19844 Add Chrome Android versions for svg SVG element
  svg/elements/svg.json
Labels: data:svg :paintbrush:

#19845 Add Opera versions for switch SVG element
  svg/elements/switch.json
Labels: data:svg :paintbrush:

#19840 Add Opera versions for script SVG element
  svg/elements/script.json
Labels: data:svg :paintbrush:

#19842 Add Opera versions for stop SVG element
  svg/elements/stop.json
Labels: data:svg :paintbrush:

#19824 Add Chromium versions for rect SVG element
  svg/elements/rect.json
Labels: data:svg :paintbrush:

#19823 Add Opera versions for radialGradient SVG element
  svg/elements/radialGradient.json
Labels: data:svg :paintbrush:

#19822 Add Chrome Android versions for polyline SVG element
  svg/elements/polyline.json
Labels: data:svg :paintbrush:

#19821 Add Chrome Android versions for polygon SVG element
  svg/elements/polygon.json
Labels: data:svg :paintbrush:

#19820 Add Edge versions for svg.elements.pattern.href
  svg/elements/pattern.json
Labels: data:svg :paintbrush:

#19819 Add Chrome Android versions for path SVG element
  svg/elements/path.json
Labels: data:svg :paintbrush:

#19817 Add Chrome Android versions for metadata SVG element
  svg/elements/metadata.json
Labels: data:svg :paintbrush:

#19816 Add Chrome Android versions for marker SVG element
  svg/elements/marker.json
Labels: data:svg :paintbrush:

#19833 RTCStatsReport - stats - update links to corresponding dicts for peerconnection and some audio
  api/RTCStatsReport.json
Labels: data:api :rabbit2:

#19642 Add all browsers versions for a HTML element
  html/elements/a.json
Labels: data:html :page_facing_up:

#19643 Add Chromium versions for abbr HTML element
  html/elements/abbr.json
Labels: data:html :page_facing_up:

#19644 Add Chrome/Safari versions for address HTML element
  html/elements/address.json
Labels: data:html :page_facing_up:

#19647 Add all browsers versions for area HTML element
  html/elements/area.json
Labels: data:html :page_facing_up:

#19648 Add Chromium versions for article HTML element
  html/elements/article.json
Labels: data:html :page_facing_up:

#19649 Add Chromium versions for aside HTML element
  html/elements/aside.json
Labels: data:html :page_facing_up:

#19650 Add Opera versions for audio HTML element
  html/elements/audio.json
Labels: data:html :page_facing_up:

#19652 Add Chrome/Safari versions for b HTML element
  html/elements/b.json
Labels: data:html :page_facing_up:

#19653 Add Chrome/Safari versions for base HTML element
  html/elements/base.json
Labels: data:html :page_facing_up:

#19654 Add Chrome/Safari versions for bdo HTML element
  html/elements/bdo.json
Labels: data:html :page_facing_up:

#19657 Add Chrome/Safari versions for big HTML element
  html/elements/big.json
Labels: data:html :page_facing_up:

#19659 Add Chrome/Safari versions for body HTML element
  html/elements/body.json
Labels: data:html :page_facing_up:

#19660 Add Chrome/Safari versions for br HTML element
  html/elements/br.json
Labels: data:html :page_facing_up:

#19662 Add all browsers versions for center HTML element
  html/elements/center.json
Labels: data:html :page_facing_up:

#19663 Add Chrome/Safari versions for code HTML element
  html/elements/code.json
Labels: data:html :page_facing_up:

#19664 Add Chrome/Safari versions for col HTML element
  html/elements/col.json
Labels: data:html :page_facing_up:

#19665 Add Chrome/Safari versions for colgroup HTML element
  html/elements/colgroup.json
Labels: data:html :page_facing_up:

#19666 Add Chrome/Safari versions for dd HTML element
  html/elements/dd.json
Labels: data:html :page_facing_up:

#19667 Add Chrome/Safari versions for dt HTML element
  html/elements/dt.json
Labels: data:html :page_facing_up:

#19668 Add Chrome/Safari versions for dl HTML element
  html/elements/dl.json
Labels: data:html :page_facing_up:

#19669 Add Chrome/Safari versions for del HTML element
  html/elements/del.json
Labels: data:html :page_facing_up:

#19672 Add Chrome/Safari versions for dfn HTML element
  html/elements/dfn.json
Labels: data:html :page_facing_up:

#19673 Add Chrome/Safari versions for div HTML element
  html/elements/div.json
Labels: data:html :page_facing_up:

#19674 Add Chrome/Safari versions for em HTML element
  html/elements/em.json
Labels: data:html :page_facing_up:

#19675 Add Chrome/Safari versions for fieldset HTML element
  html/elements/fieldset.json
Labels: data:html :page_facing_up:

#19676 Add Chromium versions for figcaption HTML element
  html/elements/figcaption.json
Labels: data:html :page_facing_up:

#19677 Add Chromium versions for figure HTML element
  html/elements/figure.json
Labels: data:html :page_facing_up:

#19678 Add all browsers versions for font HTML element
  html/elements/font.json
Labels: data:html :page_facing_up:

#19680 Add all browsers versions for form HTML element
  html/elements/form.json
Labels: data:html :page_facing_up:

#19679 Add Chromium versions for footer HTML element
  html/elements/footer.json
Labels: data:html :page_facing_up:

#19684 Add Chrome/Safari versions for head HTML element
  html/elements/head.json
Labels: data:html :page_facing_up:

#19686 Add Chromium versions for hgroup HTML element
  html/elements/hgroup.json
Labels: data:html :page_facing_up:

#19687 Add all browsers versions for html HTML element
  html/elements/html.json
Labels: data:html :page_facing_up:

#19688 Add Chrome/Safari versions for i HTML element
  html/elements/i.json
Labels: data:html :page_facing_up:

#19691 Add all browsers versions for image HTML element
  html/elements/image.json
Labels: data:html :page_facing_up:

#19692 Add all browsers versions for img HTML element
  html/elements/img.json
Labels: data:html :page_facing_up:

#19694 Add Chromium versions for input HTML element
  html/elements/input.json
Labels: data:html :page_facing_up:

#19698 Add all browsers versions for link HTML element
  html/elements/link.json
Labels: data:html :page_facing_up:

#19699 Add Chromium versions for main HTML element
  html/elements/main.json
Labels: data:html :page_facing_up:

#19700 Add Chrome/Safari versions for map HTML element
  html/elements/map.json
Labels: data:html :page_facing_up:

#19701 Add Chrome/Safari versions for mark HTML element
  html/elements/mark.json
Labels: data:html :page_facing_up:

#19706 Add Chromium versions for nav HTML element
  html/elements/nav.json
Labels: data:html :page_facing_up:

#19707 Add all browsers versions for nobr HTML element
  html/elements/nobr.json
Labels: data:html :page_facing_up:

#19708 Add Chrome/Safari versions for ol HTML element
  html/elements/ol.json
Labels: data:html :page_facing_up:

#19709 Add Chrome/Safari versions for ul HTML element
  html/elements/ul.json
Labels: data:html :page_facing_up:

#19710 Add Chrome/Safari versions for optgroup HTML element
  html/elements/optgroup.json
Labels: data:html :page_facing_up:

#19711 Add Chrome/Safari versions for option HTML element
  html/elements/option.json
Labels: data:html :page_facing_up:

#19712 Add Chrome/Safari versions for output HTML element
  html/elements/output.json
Labels: data:html :page_facing_up:

#19713 Add Chrome/Safari versions for p HTML element
  html/elements/p.json
Labels: data:html :page_facing_up:

#19714 Add Chrome/Safari versions for param HTML element
  html/elements/param.json
Labels: data:html :page_facing_up:

#19720 Add Chrome/Safari versions for pre HTML element
  html/elements/pre.json
Labels: data:html :page_facing_up:

#19721 Add Chromium versions for progress HTML element
  html/elements/progress.json
Labels: data:html :page_facing_up:

#19727 Add Chrome/Safari versions for q HTML element
  html/elements/q.json
Labels: data:html :page_facing_up:

#19728 Add Chrome/Safari versions for rb HTML element
  html/elements/rb.json
Labels: data:html :page_facing_up:

#19729 Add Chrome/Safari versions for rp HTML element
  html/elements/rp.json
Labels: data:html :page_facing_up:

#19730 Add Chrome/Safari versions for rt HTML element
  html/elements/rt.json
Labels: data:html :page_facing_up:

#19731 Add Chrome/Safari versions for ruby HTML element
  html/elements/ruby.json
Labels: data:html :page_facing_up:

#19732 Add Chrome/Safari versions for s HTML element
  html/elements/s.json
Labels: data:html :page_facing_up:

#19733 Add Chrome/Safari versions for samp HTML element
  html/elements/samp.json
Labels: data:html :page_facing_up:

#19734 Add Chrome/Safari versions for script HTML element
  html/elements/script.json
Labels: data:html :page_facing_up:

#19735 Add Chromium versions for section HTML element
  html/elements/section.json
Labels: data:html :page_facing_up:

#19736 Add Chrome/Safari versions for select HTML element
  html/elements/select.json
Labels: data:html :page_facing_up:

#19737 Add Chrome/Safari versions for small HTML element
  html/elements/small.json
Labels: data:html :page_facing_up:

#19738 Add Chrome/Safari versions for source HTML element
  html/elements/source.json
Labels: data:html :page_facing_up:

#19740 Add Chrome/Safari versions for span HTML element
  html/elements/span.json
Labels: data:html :page_facing_up:

#19741 Add all browsers versions for strike HTML element
  html/elements/strike.json
Labels: data:html :page_facing_up:

#19743 Add Chrome/Safari versions for sub HTML element
  html/elements/sub.json
Labels: data:html :page_facing_up:

#19744 Add Chrome/Safari versions for sup HTML element
  html/elements/sup.json
Labels: data:html :page_facing_up:

#19745 Add Chrome/Safari versions for summary HTML element
  html/elements/summary.json
Labels: data:html :page_facing_up:

#19746 Add Chrome/Safari versions for table HTML element
  html/elements/table.json
Labels: data:html :page_facing_up:

#19747 Add Chrome/Safari versions for tbody HTML element
  html/elements/tbody.json
Labels: data:html :page_facing_up:

#19748 Add Chrome/Safari versions for td HTML element
  html/elements/td.json
Labels: data:html :page_facing_up:

#19749 Add Opera versions for template HTML element
  html/elements/template.json
Labels: data:html :page_facing_up:

#19750 Add all browsers versions for textarea HTML element
  html/elements/textarea.json
Labels: data:html :page_facing_up:

#19751 Add Chrome/Safari versions for tfoot HTML element
  html/elements/tfoot.json
Labels: data:html :page_facing_up:

#19752 Add Chrome/Safari versions for th HTML element
  html/elements/th.json
Labels: data:html :page_facing_up:

#19753 Add Chrome/Safari versions for thead HTML element
  html/elements/thead.json
Labels: data:html :page_facing_up:

#19755 Add Chrome/Safari versions for title HTML element
  html/elements/title.json
Labels: data:html :page_facing_up:

#19756 Add Chrome/Safari versions for tr HTML element
  html/elements/tr.json
Labels: data:html :page_facing_up:

#19757 Add Chrome/Safari versions for track HTML element
  html/elements/track.json
Labels: data:html :page_facing_up:

#19758 Add all browsers versions for tt HTML element
  html/elements/tt.json
Labels: data:html :page_facing_up:

#19759 Add Chrome/Safari versions for u HTML element
  html/elements/u.json
Labels: data:html :page_facing_up:

#19760 Add Chrome/Safari versions for var HTML element
  html/elements/var.json
Labels: data:html :page_facing_up:

#19761 Add Chromium versions for video HTML element
  html/elements/video.json
Labels: data:html :page_facing_up:

#19762 Add Chrome/Safari versions for wbr HTML element
  html/elements/wbr.json
Labels: data:html :page_facing_up:

#19763 Add Chrome/Safari versions for xmp HTML element
  html/elements/xmp.json
Labels: data:html :page_facing_up:

#19765 Update animation-timeline support
  css/properties/animation-timeline.json
Labels: data:css :art:

#19225 Add path() to browser compat table of shape-outside property
  css/properties/shape-outside.json
Labels: data:css :art:

#19775 Add Chromium versions for a SVG element
  svg/elements/a.json
Labels: data:svg :paintbrush:
