Repository mdn/browser-compat-data, pull requests merged in 2023-06, with the labels that each got.

#20006 Release v5.2.61
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#19999 docs(relnote): Fx114 - crossorigin attribute for image and feImage elements
  api/SVGFEImageElement.json
  api/SVGImageElement.json
  svg/elements/feImage.json
  svg/elements/image.json
Labels: data:api :rabbit2:, data:svg :paintbrush:

#20012 Chromium doesn't support OffscreenCanvas.commit
  api/OffscreenCanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#20014 Remove irrelevant Proximity API entries
  api/DeviceLightEvent.json
  api/DeviceProximityEvent.json
  api/UserProximityEvent.json
  api/Window.json
Labels: data:api :rabbit2:

#20007 Firefox 56 ships WebGL_debug_shaders everywhere
  api/WEBGL_debug_shaders.json
Labels: data:api :rabbit2:

#20011 WebGL contexts have no commit method
  api/WebGL2RenderingContext.json
  api/WebGLRenderingContext.json
Labels: data:api :rabbit2:

#20000 Node.js 20 supports resizable array buffers
  javascript/builtins/ArrayBuffer.json
  javascript/builtins/SharedArrayBuffer.json
Labels: data:js :pager:

#20008 Safari 14.1 implements WEBGL_compressed_texture_s3tc_srgb
  api/WEBGL_compressed_texture_s3tc_srgb.json
Labels: data:api :rabbit2:

#19573 new bcd: line-style enumerated type
  css/types/line-style.json
Labels: data:css :art:

#19483 New BCD: `<overflow>` value type
  css/types/overflow.json
Labels: data:css :art:

#20015 add Deno version 1.34
  browsers/deno.json
Labels: data:browsers :earth_africa:

#20021 Add examples of dynamic import to readme
  README.md
Labels: docs :writing_hand:

#20020 Add unittest to ensure ChromeOS doesn't become EdgeOS/OperaOS
  scripts/release/mirror.test.ts
Labels: scripts :scroll:

#20024 Update Chrome release versions
  browsers/chrome.json
  browsers/chrome_android.json
Labels: data:browsers :earth_africa:

#20019 Update Firefox data for WEBGL_compressed_texture_etc API
  api/WEBGL_compressed_texture_etc.json
  api/WEBGL_compressed_texture_etc1.json
Labels: data:api :rabbit2:

#20016 Update Safari data for CSSGroupingRule API
  api/CSSGroupingRule.json
Labels: data:api :rabbit2:

#20017 Update Firefox data for RTCStatsReport API
  api/RTCStatsReport.json
Labels: data:api :rabbit2:

#20022 Update all browsers data for javascript.builtins.WebAssembly.Tag.type
  javascript/builtins/WebAssembly/Tag.json
Labels: data:js :pager:

#20023 RTCStatsReport - add MDN links and speclinks for maplike
  api/RTCStatsReport.json
Labels: data:api :rabbit2:

#19570 Update Safari data for aspect-ratio CSS property
  css/properties/aspect-ratio.json
Labels: data:css :art:

#20010 Safari 15 supports WebGL2 interfaces
  api/WebGLQuery.json
  api/WebGLSampler.json
  api/WebGLSync.json
  api/WebGLVertexArrayObjectOES.json
Labels: data:api :rabbit2:

#20009 Safari 7 implemented WEBGL_compressed_texture_pvrtc
  api/WEBGL_compressed_texture_pvrtc.json
Labels: data:api :rabbit2:

#20031 Revert "Update Safari data for aspect-ratio CSS property"
  css/properties/aspect-ratio.json
Labels: data:css :art:

#20033 Update Safari data for css.properties.clip-path.fill_and_stroke_box
  css/properties/clip-path.json
Labels: data:css :art:

#20035 Update Safari data for css.properties.opacity.percentages
  css/properties/opacity.json
Labels: data:css :art:

#20036 Update Safari data for css.properties.overflow.multiple_keywords
  css/properties/overflow.json
Labels: data:css :art:

#20037 Update Safari data for css.properties.text-underline-position.from-font
  css/properties/text-underline-position.json
Labels: data:css :art:

#20034 Update Firefox data for mask-origin CSS property
  css/properties/mask-origin.json
Labels: data:css :art:

#19962 Add guideline for namespace documentation
  docs/data-guidelines/api.md
Labels: docs :writing_hand:

#20038 Add decoding attribute to SVG <image>
  api/SVGImageElement.json
  svg/elements/image.json
Labels: data:api :rabbit2:, data:svg :paintbrush:

#20032 Update Chrome/Safari data for css.properties.font-style.oblique-angle
  css/properties/font-style.json
Labels: data:css :art:

#20049 Release v5.2.62
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20054 Update Edge data for api.XRSession.enabledFeatures
  api/XRSession.json
Labels: data:api :rabbit2:

#20070 Fix mirroring ranges from Safari to Safari iOS
  scripts/release/mirror.ts
Labels: scripts :scroll:

#20051 Update Safari data for ImageBitmapRenderingContext API
  api/ImageBitmapRenderingContext.json
Labels: data:api :rabbit2:

#20052 Update Safari data for api.Response.Response.body_parameter_optional
  api/Response.json
Labels: data:api :rabbit2:

#20057 Update Edge data for text-justify CSS property
  css/properties/text-justify.json
Labels: data:css :art:

#20058 Update Chromium data for css.properties.text-orientation.sideways
  css/properties/text-orientation.json
Labels: data:css :art:

#20059 Add back manifest shortcuts compat data
  html/manifest/shortcuts.json
Labels: data:html :page_facing_up:

#20068 fix: Update experimental value for media feature `scripting`
  css/at-rules/media.json
Labels: data:css :art:

#20071 Remove non-standard, unsupported contenteditable types
  html/global_attributes.json
Labels: data:html :page_facing_up:

#20044 Update Safari data for InstallEvent API
  api/InstallEvent.json
Labels: data:api :rabbit2:

#20045 Update Firefox data for api.Event.returnValue
  api/Event.json
Labels: data:api :rabbit2:

#20050 Update Safari data for api.HTMLCanvasElement.getContext.webgl_context
  api/HTMLCanvasElement.json
Labels: data:api :rabbit2:

#20069 Update all browsers data for html.elements.iframe.sandbox
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#20053 Update Safari data for api.TransitionEvent.TransitionEvent
  api/TransitionEvent.json
Labels: data:api :rabbit2:

#20056 Remove css.properties.text-decoration.blink
  css/properties/text-decoration.json
Labels: data:css :art:

#20043 Update Firefox data for api.IDBObjectStore.openKeyCursor
  api/IDBObjectStore.json
Labels: data:api :rabbit2:

#20048 Add a guideline for static API members
  docs/data-guidelines/api.md
Labels: docs :writing_hand:

#20080 Update firefox browser to latest version 114
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#20079 Update Safari data for ScreenOrientation API
  api/ScreenOrientation.json
Labels: data:api :rabbit2:

#20082 FF115 Array.fromAsync() supported
  javascript/builtins/Array.json
Labels: data:js :pager:

#20087 Release v5.2.63
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#19477 Blink subgrid support graduated from 'test' to 'experimental'
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
Labels: data:css :art:

#15033 Add durationFormat compat table
  javascript/builtins/Intl/DurationFormat.json
Labels: data:js :pager:

#18854 Add getdisplaymedia option default values
  api/MediaDevices.json
Labels: data:api :rabbit2:

#20040 Details of support for sessions.storage
  webextensions/api/storage.json
Labels: data:webext :game_die:

#18090 Fix Safari support for `at` in `radial-gradient`
  css/types/image.json
Labels: data:css :art:, info needed :mag:

#20026 Update Safari data for css.properties.background-image.image-set
  css/properties/background-image.json
Labels: data:css :art:

#20083 FF115 Response.json() static supported
  api/Response.json
Labels: data:api :rabbit2:

#20076 Update getInstalledRelatedApps() compat data
  api/Navigator.json
Labels: data:api :rabbit2:

#20096 Update Edge data for api.VideoPlaybackQuality.totalFrameDelay
  api/VideoPlaybackQuality.json
Labels: data:api :rabbit2:

#20095 Update Safari data for HTMLCanvasElement API
  api/HTMLCanvasElement.json
Labels: data:api :rabbit2:

#20092 FF115 Access-Control-Allow-Headers - wildcard not include Authorization header
  http/headers/Access-Control-Allow-Headers.json
Labels: data:http :mountain_cableway:

#20090 Safari enabled strict mime checks for workers
  api/SharedWorker.json
  api/Worker.json
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#20091 Track support for regex unicodeSets flag
  javascript/builtins/RegExp.json
Labels: data:js :pager:

#20084 Update masonry support on Safari TP
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
  css/properties/masonry-auto-flow.json
Labels: data:css :art:

#19941 Add collector report schema
  schemas/collector-report.md
  schemas/collector-report.schema.json
Labels: schema :gear:, docs :writing_hand:

#20093 FF115 URL.canParse() static method
  api/URL.json
Labels: data:api :rabbit2:

#20108 FF115 HTMLMediaElement.mozPreservesPitch disabled by default
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#20109 Update browser data for dirname on firefox
  api/HTMLInputElement.json
  api/HTMLTextAreaElement.json
  html/elements/input.json
  html/elements/textarea.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#20105 Update Firefox data for OffscreenCanvasRenderingContext2D API
  api/OffscreenCanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#20112 Release v5.2.64
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20113 Add a notable change regarding the latest release
  RELEASE_NOTES.md
Labels: docs :writing_hand:

#20111 Add WGSLLanguageFeatures data
  api/GPU.json
  api/WGSLLanguageFeatures.json
Labels: data:api :rabbit2:

#20123 Update Chrome/Safari data for ReadableStreamDefaultController API
  api/ReadableStreamDefaultController.json
Labels: data:api :rabbit2:

#20124 Update Safari data for ReadableStreamDefaultReader API
  api/ReadableStreamDefaultReader.json
Labels: data:api :rabbit2:

#20126 Update Safari data for api.Element.animate.options_id_parameter
  api/Element.json
Labels: data:api :rabbit2:

#20120 Update Safari data for PannerNode API
  api/PannerNode.json
Labels: data:api :rabbit2:

#20133 Remove mdn url for non-existent page (move method of FileSystemHandle interface)
  api/FileSystemHandle.json
Labels: data:api :rabbit2:

#20137 Remove alt. name on XRSystem
  api/XRSystem.json
Labels: data:api :rabbit2:

#20135 origin/setUninstallURL to 1023
  webextensions/api/runtime.json
Labels: data:webext :game_die:

#20150 Release v5.2.65
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20151 Update stage-4 proposal spec URLs
  javascript/builtins/Atomics.json
  javascript/builtins/String.json
Labels: data:js :pager:

#20140 fix support version for scrollend event in chromium-based-browsers
  api/Document.json
  api/Element.json
Labels: data:api :rabbit2:

#20138 Remove api.InstallEvent.activeWorker from BCD
  api/InstallEvent.json
Labels: data:api :rabbit2:

#20142 Update Firefox data for font-variant-emoji CSS property
  css/properties/font-variant-emoji.json
Labels: data:css :art:

#20143 Remove css.properties.line-height.-moz-block-height from BCD
  css/properties/line-height.json
Labels: data:css :art:

#20159 Add Chrome 116
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#20158 Late compat updates for scroll-driven animations
  api/AnimationTimeline.json
  css/properties/timeline-scope.json
Labels: data:api :rabbit2:, data:css :art:

#20147 Update Chromium data for image-rendering CSS property
  css/properties/image-rendering.json
Labels: data:css :art:

#20164 FF84 ApplicationCache disabled - FF115 removed
  api/ApplicationCache.json
Labels: data:api :rabbit2:

#20110 URLSearchParams has() and delete() have new value option
  api/URLSearchParams.json
Labels: data:api :rabbit2:

#20161 Add "mdn_urls" to font-synthesis-* properties
  css/properties/font-synthesis-small-caps.json
  css/properties/font-synthesis-style.json
  css/properties/font-synthesis-weight.json
Labels: data:css :art:

#20166 FF115 supports change array by copy methods
  javascript/builtins/Array.json
  javascript/builtins/TypedArray.json
Labels: data:js :pager:

#20165 Remove duplicate entry for page property in page at-rule
  css/at-rules/page.json
Labels: data:css :art:

#20170 Update Chromium data for css.properties.text-align.match-parent
  css/properties/text-align.json
Labels: data:css :art:, project: 2020+ data

#20144 Update Safari data for page CSS property
  css/at-rules/page.json
  css/properties/page.json
Labels: data:css :art:, project: 2020+ data

#20168 Remove api.Plugin.version from BCD
  api/Plugin.json
Labels: data:api :rabbit2:, project: 2020+ data

#20171 Remove css.properties.width.fill from BCD
  css/properties/width.json
Labels: data:css :art:

#20173 Remove css.properties.text-underline-position.auto-pos from BCD
  css/properties/text-underline-position.json
Labels: data:css :art:

#20172 Remove css.properties.text-underline-position.above_below from BCD
  css/properties/text-underline-position.json
Labels: data:css :art:

#20148 Remove overflow-clip-box CSS property from BCD
  css/properties/overflow-clip-box-block.json
  css/properties/overflow-clip-box-inline.json
  css/properties/overflow-clip-box.json
Labels: data:css :art:, project: 2020+ data

#20179 Release v5.2.66
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20104 Update Firefox data for SpeechSynthesisVoice API
  api/SpeechSynthesisVoice.json
Labels: data:api :rabbit2:

#20167 Remove api.WebTransport.draining from BCD
  api/WebTransport.json
Labels: data:api :rabbit2:, needs content update 📝, project: 2020+ data

#20180 Update Firefox data for api.RTCRtpSender.transport
  api/RTCRtpSender.json
Labels: data:api :rabbit2:, project: 2020+ data

#20181 Update Chromium data for RTCStatsReport API
  api/RTCStatsReport.json
Labels: data:api :rabbit2:, project: 2020+ data

#20187 Update Firefox data for OVR_multiview2 API
  api/OVR_multiview2.json
Labels: data:api :rabbit2:

#20189 Update Safari data for WEBGL_compressed_texture_etc API
  api/WEBGL_compressed_texture_etc.json
  api/WEBGL_compressed_texture_etc1.json
Labels: data:api :rabbit2:

#20190 Edge supports desynchronized parameter since first Chromium
  api/HTMLCanvasElement.json
Labels: data:api :rabbit2:

#20200 Update Safari data for css.properties.list-style-type.ethiopic-halehame-am
  css/properties/list-style-type.json
Labels: data:css :art:, project: 2020+ data

#20201 Update Safari data for WEBGL_compressed_texture_astc API
  api/WEBGL_compressed_texture_astc.json
Labels: data:api :rabbit2:, project: 2020+ data

#20204 Update Safari data for api.SpeechSynthesisEvent.charLength
  api/SpeechSynthesisEvent.json
Labels: data:api :rabbit2:, project: 2020+ data

#20194 Update Firefox data for Touch API
  api/Touch.json
  api/TouchList.json
Labels: data:api :rabbit2:, project: 2020+ data

#20205 Update list of values for css.properties.appearance.compat-auto
  css/properties/appearance.json
Labels: data:css :art:, project: 2020+ data

#20195 Update Safari data for TouchList API
  api/TouchList.json
Labels: data:api :rabbit2:, project: 2020+ data

#20182 Update Safari data for api.RTCStatsReport.type_codec.sdpFmtpLine
  api/RTCStatsReport.json
Labels: data:api :rabbit2:, project: 2020+ data

#20206 Remove USBPermissionResult API from BCD
  api/USBPermissionResult.json
Labels: data:api :rabbit2:

#20160 Update deno data for Cache API
  api/CacheStorage.json
  api/_globals/caches.json
Labels: data:api :rabbit2:

#20212 CSS display property multi-keyword support in Chrome 115
  css/properties/display.json
Labels: data:css :art:

#20025 Update Safari data for background-clip CSS property
  css/properties/background-clip.json
Labels: data:css :art:, project: 2020+ data

#20215 Release v5.2.67
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20211 tabs.Tab.autoDiscardable support in Firefox 116
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#20218 Chrome support for safe/unsafe alignment in flexbox
  css/properties/align-content.json
  css/properties/align-items.json
  css/properties/align-self.json
  css/properties/justify-content.json
Labels: data:css :art:

#20220 Add "mdn_url" and "spec_url" to font-feature-settings descriptor of @font-face
  css/at-rules/font-face.json
Labels: data:css :art:

#20169 FF115 Add Sec-Purpose HTTP header
  http/headers/Sec-Purpose.json
Labels: data:http :mountain_cableway:

#20225 Update Chromium data for api.RTCPeerConnection.RTCPeerConnection.configuration_peerIdentity_parameter
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:, project: 2020+ data

#20226 Update Safari data for api.RTCPeerConnection.RTCPeerConnection.configuration_peerIdentity_parameter
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:, project: 2020+ data

#20227 Update Firefox data for api.RTCPeerConnection.createDTMFSender
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:, project: 2020+ data

#20214 Update Chromium data for css.properties.list-style-type.upper-greek
  css/properties/list-style-type.json
Labels: data:css :art:, project: 2020+ data

#20229 Fix URLs that point to old "master" branch
  browsers/nodejs.json
  docs/testing.md
Labels: docs :writing_hand:, data:browsers :earth_africa:

#20136 Add WebAssembly features as a new category
  README.md
  index.ts
  schemas/compat-data.schema.json
  scripts/fix/index.ts
  scripts/generate-types.ts
  scripts/migrations/002-remove-webview-flags.ts
  scripts/migrations/007-experimental-false.ts
  scripts/migrations/010-set-oculus-to-mirror.ts
  scripts/remove-redundant-flags.ts
  scripts/traverse.ts
  test/lint.ts
  test/linter/test-obsolete.ts
  test/linter/test-spec-urls.ts
  test/linter/test-versions.ts
  utils/walk.test.ts
  webassembly/BigInt-to-i64-integration.json
  webassembly/bulk-memory-operations.json
  webassembly/exception-handling.json
  webassembly/extended-constant-expressions.json
  webassembly/fixed-width-SIMD.json
  webassembly/multi-value.json
  webassembly/mutable-globals.json
  webassembly/non-trapping-float-to-int-conversions.json
  webassembly/reference-types.json
  webassembly/sign-extension-operations.json
  webassembly/tail-calls.json
  webassembly/threads-and-atomics.json
Labels: schema :gear:, infra :building_construction:, docs :writing_hand:, linter :house_with_garden:, bulk_update :package:, scripts :scroll:, semver-minor-bump ➕

#20193 Remove api.Request.Request.navigate_mode from BCD
  api/Request.json
Labels: data:api :rabbit2:, project: 2020+ data

#20232 Release v5.3.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20233 Stage files during release script after user makes modifications
  scripts/release/index.ts
Labels: scripts :scroll:

#20234 Update Firefox data for css.properties.list-style-type.upper-greek
  css/properties/list-style-type.json
Labels: data:css :art:, project: 2020+ data

#20235 Update Chromium data for SpeechRecognitionErrorEvent API
  api/SpeechRecognitionErrorEvent.json
Labels: data:api :rabbit2:

#20236 Update Chrome/Safari data for api.Element.animate.options_composite_parameter
  api/Element.json
Labels: data:api :rabbit2:

#20237 Update Firefox data for api.PushManager.supportedContentEncodings_static
  api/PushManager.json
Labels: data:api :rabbit2:

#20238 Update Edge data for api.PushSubscription.subscriptionId
  api/PushSubscription.json
Labels: data:api :rabbit2:

#20239 fix: add a specs URL to css.properties.caption-side to cover all values
  css/properties/caption-side.json
Labels: data:css :art:

#20107 devtools as optional permission
  webextensions/manifest/optional_permissions.json
  webextensions/manifest/permissions.json
Labels: data:webext :game_die:

#20243 relnote(Fx115): isWellFormed and toWellFormed behind pref in 115
  javascript/builtins/String.json
Labels: data:js :pager:

#20221 Update: Deno supports resizable ArrayBuffers since 1.33
  javascript/builtins/ArrayBuffer.json
  javascript/builtins/SharedArrayBuffer.json
Labels: data:js :pager:

#20257 Update Chromium-based browser release data
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/edge.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#20186 add customelements getname method
  api/CustomElementRegistry.json
Labels: data:api :rabbit2:

#18507 Update background-attachment.json
  css/properties/background-attachment.json
Labels: data:css :art:

#19971 Add mdn-bcd-collector update script
  package-lock.json
  package.json
  scripts/update.test.ts
  scripts/update.ts
  utils/ua-parser.test.ts
  utils/ua-parser.ts
Labels: infra :building_construction:, dependencies :chains:, scripts :scroll:

#20259 FF115 link element supports rel=modulepreload
  html/elements/link.json
Labels: data:html :page_facing_up:
