Repository mdn/browser-compat-data, pull requests merged in 2023-09, with the labels that each got.

#20646 html base element - forbid href with data or javascript url
  html/elements/base.json
Labels: data:html :page_facing_up:

#20587 Add "or" syntax to @media at-rule
  css/at-rules/media.json
Labels: data:css :art:

#20626 New Edge versions
  browsers/edge.json
Labels: data:browsers :earth_africa:

#20618 fix 404
  api/Navigator.json
Labels: data:api :rabbit2:

#20393 Add Sec-CH-Prefers-Reduced-Transparency header
  http/headers/Sec-CH-Prefers-Reduced-Transparency.json
Labels: data:http :mountain_cableway:

#20636 Update Chrome support for scripting media query
  css/at-rules/media.json
Labels: data:css :art:

#20661 Update Firefox data for api.CanvasRenderingContext2D.textRendering
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#20652 relnote(118): CSS math functions enabled (CSS Values 4)
  css/types/abs.json
  css/types/exp.json
  css/types/hypot.json
  css/types/log.json
  css/types/mod.json
  css/types/pow.json
  css/types/rem.json
  css/types/round.json
  css/types/sign.json
  css/types/sqrt.json
Labels: data:css :art:

#20665 Update Firefox data for api.OffscreenCanvasRenderingContext2D.textRendering
  api/OffscreenCanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#20667 Update Firefox data for baseline-source CSS property
  css/properties/baseline-source.json
Labels: data:css :art:

#20655 Chrome 116 ships CSS Motion Path
  css/properties/offset-anchor.json
  css/properties/offset-path.json
  css/properties/offset-position.json
  css/types/basic-shape.json
  css/types/ray.json
Labels: data:css :art:

#20666 Update Firefox data for TextMetrics API
  api/TextMetrics.json
Labels: data:api :rabbit2:

#20650 Firefox 116 ships CSS :first selector
  css/selectors/first.json
Labels: data:css :art:

#20651 Firefox 95 ships page sizes
  css/at-rules/page.json
Labels: data:css :art:

#20617 Clarify devtools.panels.create() path resolution
  webextensions/api/devtools.json
Labels: data:webext :game_die:

#20600 Add complete BCD for Window Management API
  api/Element.json
  api/Permissions.json
  api/ScreenDetailed.json
  api/ScreenDetails.json
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#20672 Update Chrome support for Sec-CH-Prefers-Reduced-Transparency header
  http/headers/Sec-CH-Prefers-Reduced-Transparency.json
Labels: data:http :mountain_cableway:

#20664 Update Safari data for api.Notification.silent
  api/Notification.json
Labels: data:api :rabbit2:

#20641 Removes duplicate link prefetch entry
  html/elements/link.json
Labels: data:html :page_facing_up:

#20673 Descriptions for link rel types
  html/elements/link.json
Labels: data:html :page_facing_up:

#20675 Release v5.3.15
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20678 Correct Chrome support for Sec-CH-Prefers-Reduced-Transparency header
  browsers/chrome.json
  browsers/chrome_android.json
  http/headers/Sec-CH-Prefers-Reduced-Transparency.json
Labels: data:http :mountain_cableway:, data:browsers :earth_africa:

#20680 RTCRtpTranceiver - current/currentDirection support stopped value
  api/RTCRtpTransceiver.json
Labels: data:api :rabbit2:

#20682 FF118 TextMetrics.emHeightAscent/Descent supported
  api/TextMetrics.json
Labels: data:api :rabbit2:

#20691 Chrome supports TextMetrics.emHeightAscent/Descent behind pref
  api/TextMetrics.json
Labels: data:api :rabbit2:

#20693 Firefox 118 supports "from-font" keyword in CSS "font-size-adjust" property
  css/properties/font-size-adjust.json
Labels: data:css :art:

#20709 Fix issue 23837: compat data for generic string display
  api/Window.json
Labels: data:api :rabbit2:

#20716 Fix notes replacement in mirroring
  scripts/release/mirror.test.ts
  scripts/release/mirror.ts
Labels: scripts :scroll:

#20717 Release v5.3.16
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20702 Fix content issue 24453: Response.body is a readable byte stream
  api/Response.json
Labels: data:api :rabbit2:

#20715 HTML `<search>` element - Chrome 118 support
  html/elements/search.json
Labels: data:html :page_facing_up:

#20722 Chrome 118 CSS logical flow-relative values
  css/properties/clear.json
  css/properties/float.json
  css/properties/resize.json
Labels: data:css :art:

#20724 Add Node.js v18.1.0
  browsers/nodejs.json
Labels: data:browsers :earth_africa:

#20694 Transceivers, senders, receivers not included in returned arrays if stopped
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#20692 Add AbortSignal.any
  api/AbortSignal.json
  browsers/nodejs.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#20701 add sms protocol to a element
  html/elements/a.json
Labels: data:html :page_facing_up:

#20688 28841 font synthesis position
  css/properties/font-synthesis-position.json
  css/properties/font-synthesis.json
Labels: data:css :art:

#20671 overlay, starting-style, discrete animations
  api/CSSStartingStyleRule.json
  css/at-rules/starting-style.json
  css/properties/content-visibility.json
  css/properties/display.json
  css/properties/overlay.json
Labels: data:api :rabbit2:, data:css :art:

#20704 Add data for `WebAssembly.*Streaming` in Node.js
  javascript/builtins/WebAssembly.json
Labels: data:js :pager:

#20731 Add missing newlines at end of files
  api/DocumentPictureInPicture.json
  api/DocumentPictureInPictureEvent.json
  api/FileSystemSyncAccessHandle.json
  http/headers/Cookie.json
  javascript/builtins/Map.json
  javascript/builtins/Object.json
  webextensions/api/commands.json
  webextensions/manifest/browser_specific_settings.json
Labels: data:http :mountain_cableway:, data:webext :game_die:, data:api :rabbit2:, data:js :pager:

#20732 Update all browsers data for FileSystemSyncAccessHandle API
  api/FileSystemSyncAccessHandle.json
Labels: data:api :rabbit2:

#20588 Add missing features for javascript.builtins.Intl.NumberFormat
  javascript/builtins/Intl/NumberFormat.json
Labels: data:js :pager:

#20485 Add missing features for html.elements.textarea.wrap.hard
  html/elements/textarea.json
Labels: data:html :page_facing_up:

#20385 Remove OverconstrainedErrorEvent API from BCD
  api/OverconstrainedErrorEvent.json
Labels: data:api :rabbit2:

#20728 update Chrome version for css.selectors.user-valid/user-invalid
  css/selectors/user-invalid.json
  css/selectors/user-valid.json
Labels: data:css :art:

#20736 Add "_static" suffix to api.IdentityProvier.getUserInfo
  api/IdentityProvider.json
Labels: data:api :rabbit2:

#20735 Add missing features for api.GamepadHapticActuator.canPlayEffectType
  api/GamepadHapticActuator.json
Labels: data:api :rabbit2:

#20734 Add missing features for api.AnimationTimeline.duration
  api/AnimationTimeline.json
Labels: data:api :rabbit2:

#20733 FF118 CSSStyleRule inherits from CSSGroupingRule - add props
  api/CSSStyleRule.json
Labels: data:api :rabbit2:

#20726 Mark (synchronous) `import.meta.resolve(…)` as implemented in `node` v20.6.0
  browsers/nodejs.json
  javascript/operators/import_meta.json
Labels: data:js :pager:, data:browsers :earth_africa:

#20723 Revert "Update Firefox data for css.grid-template.fit-content feature"
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
Labels: data:css :art:

#20670 Update Chromium data for timeline-scope CSS property
  css/properties/timeline-scope.json
Labels: data:css :art:

#20737 Add missing features for api.TaskSignal.any_static
  api/TaskSignal.json
Labels: data:api :rabbit2:

#20738 Add missing features for VisibilityStateEntry API
  api/VisibilityStateEntry.json
Labels: data:api :rabbit2:

#20747 Release Firefox 117
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#20744 Safari 17 shipped new Set methods
  javascript/builtins/Set.json
Labels: data:js :pager:

#20755 Release v5.3.17
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20753 CSS Math Functions: Add crbug.com URLs
  css/types/abs.json
  css/types/exp.json
  css/types/hypot.json
  css/types/log.json
  css/types/mod.json
  css/types/pow.json
  css/types/rem.json
  css/types/round.json
  css/types/sign.json
  css/types/sqrt.json
Labels: data:css :art:

#20710 CSS "offset-path" can use url() to specify reference to SVG shape (Fx118)
  css/properties/offset-path.json
Labels: data:css :art:

#20729 FF Clarify Feature-Policy header not sent
  http/headers/Feature-Policy.json
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:

#20782 Release v5.3.18
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20765 Update Opera release data
  browsers/opera.json
Labels: data:browsers :earth_africa:

#20767 Add Deno 1.37, add support data for groupBy()
  browsers/deno.json
  javascript/builtins/Map.json
  javascript/builtins/Object.json
Labels: data:js :pager:, data:browsers :earth_africa:

#20787 chore(`:blank`): added chromium implementation url
  css/selectors/blank.json
Labels: data:css :art:

#20730 Ff118 Nightly enables globalprivacy
  api/Navigator.json
  api/WorkerNavigator.json
  http/headers/Sec-GPC.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#20768 Remove irrelevant `dom.webmidi.enabled` flag in Firefox
  api/MIDIAccess.json
  api/MIDIConnectionEvent.json
  api/MIDIInput.json
  api/MIDIInputMap.json
  api/MIDIMessageEvent.json
  api/MIDIOutput.json
  api/MIDIOutputMap.json
  api/MIDIPort.json
  api/Navigator.json
Labels: data:api :rabbit2:

#20769 Remove irrelevant Chromium flag data for MathML features
  api/MathMLElement.json
  css/properties/display.json
  css/properties/font-family.json
  css/properties/font-size.json
  css/properties/math-depth.json
  css/properties/math-shift.json
  css/properties/math-style.json
  css/properties/text-transform.json
  mathml/elements/maction.json
  mathml/elements/math.json
  mathml/elements/merror.json
  mathml/elements/mfrac.json
  mathml/elements/mmultiscripts.json
  mathml/elements/mn.json
  mathml/elements/mo.json
  mathml/elements/mover.json
  mathml/elements/mpadded.json
  mathml/elements/mphantom.json
  mathml/elements/mroot.json
  mathml/elements/mrow.json
  mathml/elements/ms.json
  mathml/elements/mspace.json
  mathml/elements/msqrt.json
  mathml/elements/mstyle.json
  mathml/elements/msub.json
  mathml/elements/msubsup.json
  mathml/elements/msup.json
  mathml/elements/mtable.json
  mathml/elements/mtd.json
  mathml/elements/mtext.json
  mathml/elements/mtr.json
  mathml/elements/munder.json
  mathml/elements/munderover.json
  mathml/elements/semantics.json
  mathml/global_attributes.json
  svg/attributes/conditional_processing.json
Labels: data:api :rabbit2:, data:css :art:, data:svg :paintbrush:, data:mathml :heavy_division_sign:

#20770 Remove irrelevant `layout.css.math-style.enabled` flag in Firefox
  css/properties/math-depth.json
  css/properties/math-style.json
Labels: data:css :art:

#20772 Remove irrelevant `--experimental-fetch` flag in NodeJS
  api/Headers.json
  api/Request.json
  api/Response.json
  api/_globals/fetch.json
Labels: data:api :rabbit2:

#20773 Remove irrelevant `--experimental-worker` flag in NodeJS
  api/Worker.json
Labels: data:api :rabbit2:

#20774 Remove irrelevant `--experimental-*` flag in NodeJS
  javascript/grammar.json
  javascript/operators/await.json
  javascript/operators/import.json
  javascript/operators/import_meta.json
  javascript/statements.json
Labels: data:js :pager:

#20776 Remove irrelevant `--harmony` flag in NodeJS
  javascript/builtins/Array.json
  javascript/builtins/ArrayBuffer.json
  javascript/builtins/AsyncFunction.json
  javascript/builtins/AsyncGenerator.json
  javascript/builtins/AsyncGeneratorFunction.json
  javascript/builtins/FinalizationRegistry.json
  javascript/builtins/Function.json
  javascript/builtins/Generator.json
  javascript/builtins/GeneratorFunction.json
  javascript/builtins/Map.json
  javascript/builtins/Object.json
  javascript/builtins/Promise.json
  javascript/builtins/RegExp.json
  javascript/builtins/Set.json
  javascript/builtins/String.json
  javascript/builtins/Symbol.json
  javascript/builtins/TypedArray.json
  javascript/builtins/WeakMap.json
  javascript/builtins/WeakRef.json
  javascript/classes.json
  javascript/functions.json
  javascript/grammar.json
  javascript/operators/async_function.json
  javascript/operators/async_generator_function.json
  javascript/operators/await.json
  javascript/operators/class.json
  javascript/operators/exponentiation.json
  javascript/operators/exponentiation_assignment.json
  javascript/operators/spread.json
  javascript/operators/yield.json
  javascript/operators/yield_star.json
  javascript/regular_expressions.json
  javascript/statements.json
Labels: data:js :pager:

#20777 Remove irrelevant `--unstable` flag in Deno
  api/URLPattern.json
Labels: data:api :rabbit2:

#20778 Remove irrelevant Deno flag data for api.Window.localStorage
  api/Window.json
Labels: data:api :rabbit2:

#20779 Remove irrelevant Safari flag data for css.types.color.color-mix
  css/types/color.json
Labels: data:css :art:

#20780 Remove irrelevant Opera flag data for javascript.operators.await.top_level
  javascript/operators/await.json
Labels: data:js :pager:

#20781 Remove irrelevant Firefox flag data for api.HTMLMediaElement.preservesPitch
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#20771 Remove irrelevant `enable-experimental-web-platform-features` flag in Chromium
  api/Element.json
  api/Sanitizer.json
  css/properties/animation-timeline.json
  css/properties/scroll-timeline-axis.json
  css/properties/scroll-timeline-name.json
Labels: data:api :rabbit2:, data:css :art:

#20790 Update CSS `hyphens` full support in Safari 17
  css/properties/hyphenate-character.json
  css/properties/hyphens.json
Labels: data:css :art:

#20789 Add Safari 17 support for `popover`, `popovertarget` and `popovertargetaction` attributes
  html/global_attributes.json
Labels: data:html :page_facing_up:

#20802 css.at-rules.counter-style.suffix supported in S17
  css/at-rules/counter-style.json
Labels: data:css :art:

#20808 New Edge versions
  browsers/edge.json
Labels: data:browsers :earth_africa:

#20823 Release v5.3.19
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20819 docs: added missing Opera releases
  browsers/opera.json
Labels: data:browsers :earth_africa:

#20711 Ff118 Permissions-Policy: publickey-credentials-get supported
  http/headers/Feature-Policy.json
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:

#20328 Remove Feature-Policy HTTP header from BCD
  http/headers/Feature-Policy.json
Labels: data:http :mountain_cableway:

#20833 Firefox 118 release
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#20810 Mark the `gecko_android` webextensions property as android-specific
  webextensions/manifest/browser_specific_settings.json
Labels: data:webext :game_die:

#20841 FF119 Object.groupBy and Map.groupBy
  javascript/builtins/Map.json
  javascript/builtins/Object.json
Labels: data:js :pager:

#20844 Add css.at-rules.scope
  css/at-rules/scope.json
Labels: data:css :art:

#20845 Update Firefox data for CanvasRenderingContext2D API
  api/CanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#20848 Update Firefox data for OffscreenCanvasRenderingContext2D API
  api/OffscreenCanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#20849 Update Edge data for api.TaskSignal.any_static
  api/TaskSignal.json
Labels: data:api :rabbit2:

#20839 FF116 HTMLVideoElement.disablePictureInPicture supported
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#20842 FF119 createBidirectionalStream sendOrder option
  api/WebTransport.json
Labels: data:api :rabbit2:
