Repository mdn/browser-compat-data, pull requests merged in 2023-11, with the labels that each got.

#20743 Update background-clip.json
  css/properties/background-clip.json
Labels: data:css :art:

#21140 add `mdn_url` to some members of `Navigator` interface
  api/Navigator.json
Labels: data:api :rabbit2:

#21141 add missing mdn_url members in `Window` interface
  api/Window.json
Labels: data:api :rabbit2:

#21153 ReadableStream.from_static - deno/nodejs support
  api/ReadableStream.json
Labels: data:api :rabbit2:

#21145 Add Safari preview support for date showPicker()
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#21138 Correct Safari data for window.open() one call per event behavior
  api/Window.json
Labels: data:api :rabbit2:

#21143 Add compatibility for `Intl.DateTimeFormatOptions.calendar` and `numberingSystem`
  javascript/builtins/Intl/DateTimeFormat.json
Labels: data:js :pager:

#21156 Skip beta version if not yet released for edge.json
  scripts/update-browser-releases/edge.ts
Labels: scripts :scroll:

#21133 Clarifies native message support on Android
  webextensions/api/runtime.json
Labels: data:webext :game_die:

#21162 add mdn_url in new items in `Screen` interface
  api/Screen.json
Labels: data:api :rabbit2:

#19577 Remove RTCIceServer API from BCD
  api/RTCIceServer.json
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:, needs content update 📝, project: dictionary removal

#21123 Add details of multi-screen origin support to relevant features
  api/Screen.json
  api/Window.json
Labels: data:api :rabbit2:

#20962 Convert basic bug links in notes to impl_url
  api/HTMLMediaElement.json
  http/headers/Cache-Control.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#21044 Add missing color-adjust CSS property feature
  css/properties/color-adjust.json
Labels: data:css :art:

#19265 Fix Safari support for CSS list-style-position property
  css/properties/list-style-position.json
Labels: data:css :art:

#21169 Bump all dependencies
  package-lock.json
Labels: infra :building_construction:, dependencies :chains:

#21149 Don't display empty sections when a browser release file has not changed for that browser
  scripts/update-browser-releases/chrome.ts
  scripts/update-browser-releases/edge.ts
  scripts/update-browser-releases/firefox.ts
  scripts/update-browser-releases/index.ts
  scripts/update-browser-releases/utils.ts
Labels: scripts :scroll:

#21158 Firefox 120: Add notes for `media` support in `<support>` across firefox releases
  html/elements/source.json
Labels: data:html :page_facing_up:

#21029 Update Firefox data for api.HTMLVideoElement.disablePictureInPicture
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#21176 add mdn_url for navigator.usb
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#21185 Fix JSDoc warnings
  scripts/diff-features.ts
  scripts/lib/stringify-and-order-properties.ts
  test/utils.ts
Labels: linter :house_with_garden:, scripts :scroll:

#21186 Release v5.3.29
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#21190 Bump queengooborg/invalid-issue-closer from 1.2.1 to 1.3.0
  .github/workflows/close-incomplete-issues.yml
Labels: infra :building_construction:

#21192 Update Safari data for AudioTrack API
  api/AudioTrack.json
Labels: data:api :rabbit2:

#21193 Update Safari data for VideoTrack API
  api/VideoTrack.json
Labels: data:api :rabbit2:

#21195 relnote(120): Mark prefixed transition and transform props as removed in Nightly
  css/properties/backface-visibility.json
  css/properties/perspective-origin.json
  css/properties/perspective.json
  css/properties/transform-origin.json
  css/properties/transform-style.json
  css/properties/transform.json
  css/properties/transition-delay.json
  css/properties/transition-duration.json
  css/properties/transition-property.json
  css/properties/transition-timing-function.json
  css/properties/transition.json
Labels: data:css :art:

#21055 Add missing grid-gap CSS property feature
  css/properties/grid-gap.json
Labels: data:css :art:

#21053 Add missing grid-column-gap CSS property feature
  css/properties/grid-column-gap.json
Labels: data:css :art:

#21054 Add missing grid-row-gap CSS property feature
  css/properties/grid-row-gap.json
Labels: data:css :art:

#21057 Add missing speak CSS property feature
  css/properties/speak.json
Labels: data:css :art:

#21056 Add missing lighting-color CSS property feature
  css/properties/lighting-color.json
Labels: data:css :art:

#21051 Add missing flood-opacity CSS property feature
  css/properties/flood-opacity.json
Labels: data:css :art:

#21050 Add missing flood-color CSS property feature
  css/properties/flood-color.json
Labels: data:css :art:

#21197 Fix CSS host-context mdn_url
  css/selectors/host-context.json
Labels: data:css :art:

#21041 Add missing baseline-shift CSS property feature
  css/properties/baseline-shift.json
Labels: data:css :art:

#21040 Add missing alignment-baseline CSS property feature
  css/properties/alignment-baseline.json
Labels: data:css :art:

#21046 Add missing dominant-baseline CSS property feature
  css/properties/dominant-baseline.json
Labels: data:css :art:

#21202 Bump queengooborg/invalid-issue-closer from 1.3.0 to 1.3.1
  .github/workflows/close-incomplete-issues.yml
Labels: infra :building_construction:

#21018 Add missing features for break-inside CSS property
  css/properties/break-inside.json
Labels: data:css :art:

#21203 add mdn link for `Navigator.bluetooth`
  api/Navigator.json
Labels: data:api :rabbit2:

#21043 Add missing CSS properties from SVG 2.0 spec
  css/properties/color-interpolation.json
  css/properties/cx.json
  css/properties/cy.json
  css/properties/d.json
  css/properties/marker-end.json
  css/properties/marker-mid.json
  css/properties/marker-start.json
  css/properties/marker.json
  css/properties/r.json
  css/properties/rx.json
  css/properties/ry.json
  css/properties/shape-rendering.json
  css/properties/text-anchor.json
  css/properties/vector-effect.json
  css/properties/word-wrap.json
  css/properties/x.json
  css/properties/y.json
Labels: data:css :art:

#21059 Add missing stroke-* CSS property feature
  css/properties/stroke-color.json
  css/properties/stroke-dasharray.json
  css/properties/stroke-dashoffset.json
  css/properties/stroke-linecap.json
  css/properties/stroke-linejoin.json
  css/properties/stroke-miterlimit.json
  css/properties/stroke-opacity.json
  css/properties/stroke-width.json
  css/properties/stroke.json
Labels: data:css :art:

#21045 Add missing color-interpolation-filters CSS property feature
  css/properties/color-interpolation-filters.json
Labels: data:css :art:

#21049 Add missing fill CSS property feature
  css/properties/fill.json
Labels: data:css :art:

#21048 Add missing fill-rule CSS property feature
  css/properties/fill-rule.json
Labels: data:css :art:

#21047 Add missing fill-opacity CSS property feature
  css/properties/fill-opacity.json
Labels: data:css :art:

#21052 Add missing glyph-orientation-vertical CSS property feature
  css/properties/glyph-orientation-vertical.json
Labels: data:css :art:

#21160 Add bounds limit note for chormium browsers in `webextensions.api.windows.create`
  webextensions/api/windows.json
Labels: data:webext :game_die:

#21017 Add missing features for break-after CSS property
  css/properties/break-after.json
Labels: data:css :art:

#21016 Add missing features for break-before CSS property
  css/properties/break-before.json
Labels: data:css :art:

#21022 Add missing features for text-underline-position CSS property
  css/properties/text-underline-position.json
Labels: data:css :art:

#17967 SameSite: Corrections on "schemeful" support status
  http/headers/Set-Cookie.json
Labels: data:http :mountain_cableway:

#21020 Add missing css.properties.image-rendering.smooth feature
  css/properties/image-rendering.json
Labels: data:css :art:

#19582 Remove RTCRtpContributingSource API from BCD
  api/RTCRtpContributingSource.json
  api/RTCRtpReceiver.json
Labels: data:api :rabbit2:, project: dictionary removal

#21206 Chrome added HTTP Digest SHA-256 in v117
  http/headers/WWW-Authenticate.json
Labels: data:http :mountain_cableway:

#21083 Updates for Firefox 120
  api/Navigator.json
  api/PublicKeyCredential.json
  api/ToggleEvent.json
  api/UserActivation.json
  api/WorkerNavigator.json
  css/properties/background-image.json
  css/types/-moz-image-rect.json
  css/types/image.json
  http/headers/Sec-GPC.json
  http/status.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:, data:css :art:

#21209 Release v5.3.30
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#21171 Add missing CSS units; update CSS unit support data
  css/types/length.json
Labels: data:css :art:

#20062 Fix incorrect information about path()
  css/types/basic-shape.json
Labels: data:css :art:

#17260 Remove worker support subfeatures that (should) match the parent
  api/_globals/createImageBitmap.json
  api/_globals/crossOriginIsolated.json
  api/_globals/fetch.json
  api/_globals/origin.json
  api/_globals/queueMicrotask.json
  api/_globals/reportError.json
  api/_globals/structuredClone.json
  api/_globals/trustedTypes.json
Labels: data:api :rabbit2:

#21174 Add Safari note to CustomElementRegistry.get
  api/CustomElementRegistry.json
Labels: data:api :rabbit2:

#20984 Add missing features for CSS API
  api/CSS.json
Labels: data:api :rabbit2:

#19019 Fix support data for the CSS mask shorthand property
  css/properties/mask.json
Labels: data:css :art:

#21213 Add nodejs 21.0.0 release
  browsers/nodejs.json
Labels: data:browsers :earth_africa:

#21218 Add CSS Scrollbars support in Chrome 121
  css/properties/scrollbar-color.json
  css/properties/scrollbar-width.json
Labels: data:css :art:

#21150 Add AccentColor and AccentColorTest
  css/types/color.json
Labels: data:css :art:

#21154 add mdn link of `Window` interface
  api/Window.json
Labels: data:api :rabbit2:

#19584 Remove RTCRtpEncodingParameters API from BCD
  api/RTCRtpEncodingParameters.json
  api/RTCRtpSender.json
Labels: data:api :rabbit2:, project: dictionary removal

#20949 Compat data for import attributes
  javascript/statements.json
Labels: data:js :pager:

#21225 Update readme (stale link, update number of features)
  README.md
Labels: docs :writing_hand:

#21226 29786 ship light dark
  css/types/color.json
Labels: data:css :art:

#20178 Mark console functions _static
  api/_globals/console.json
Labels: data:api :rabbit2:

#21207 Add missing `aria[Col/Row]IndexText` features for Element[Internals] API
  api/Element.json
  api/ElementInternals.json
Labels: data:api :rabbit2:

#21232 Remove 404 indeterminate MDN link from HTMLInputElement
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#21235 Release v5.3.31
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#21236 Update Safari version 17.1 (current) and 17.2 (beta)
  browsers/safari.json
Labels: data:browsers :earth_africa:

#21237 Update Safari iOS 17.1 and add iOS 17.2
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#21234 Support for cap unit in Safari
  css/types/length.json
Labels: data:css :art:

#21238 Add Samsung 23.0
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#21239 Add constructor to WebKitPoint
  api/WebKitPoint.json
Labels: data:api :rabbit2:

#21241 Support for the name attribute for details is in Safari 17.2
  html/elements/details.json
Labels: data:html :page_facing_up:

#21240 Mark `color-scheme: only` supported since Chrome 98
  css/properties/color-scheme.json
Labels: data:css :art:

#21245 Mark `:dir()` as shipping in Chrome 120
  css/selectors/dir.json
Labels: data:css :art:

#21246 Link Chrome bug for api.CSSKeyframesRule.length
  api/CSSKeyframesRule.json
Labels: data:api :rabbit2:

#21248 Link Chrome bug for iterationComposite support
  api/KeyframeEffect.json
Labels: data:api :rabbit2:

#21244 Chrome 111 also support "of" syntax in `:nth-last-child`
  css/selectors/nth-last-child.json
Labels: data:css :art:

#21253 Mark @font-feature-values supported since Chrome 111
  css/at-rules/font-feature-values.json
Labels: data:css :art:

#20852 Add data for HTMLSelectElement showPicker
  api/HTMLSelectElement.json
Labels: data:api :rabbit2:

#21219 add mdn_url for `ContactAddress`
  api/ContactAddress.json
Labels: data:api :rabbit2:

#21254 add mdn_url for `ServiceWorkerGlobalScope.serviceWorker`
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#21257 Fix Safari support for api.HTMLElement.nonce
  api/HTMLElement.json
Labels: data:api :rabbit2:

#21260 Update Safari value for CustomElementRegistry.getName
  api/CustomElementRegistry.json
Labels: data:api :rabbit2:

#21261 Update Safari `showPicker()` datalist support
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#21188 Introduce namespaced tagging
  api/IdleDetector.json
  docs/data-guidelines/index.md
  docs/data-guidelines/tags.md
  http/headers/Permissions-Policy.json
  schemas/compat-data-schema.md
  schemas/compat-data.schema.json
  scripts/lib/stringify-and-order-properties.ts
  scripts/traverse.ts
  test/linter/index.ts
  test/linter/test-tags.ts
Labels: schema :gear:, data:http :mountain_cableway:, data:api :rabbit2:, docs :writing_hand:, linter :house_with_garden:, scripts :scroll:, semver-minor-bump ➕

#21262 Fix Safari font-face.font-feature-settings support
  css/at-rules/font-face.json
Labels: data:css :art:

#21148 Updates for Chrome 120 beta
  api/CloseWatcher.json
  api/GPUSupportedLimits.json
  api/HTMLDetailsElement.json
  api/IntersectionObserver.json
  api/Navigator.json
  api/NavigatorLogin.json
  api/URL.json
  css/properties/mask-clip.json
  css/properties/mask-composite.json
  css/properties/mask-image.json
  css/properties/mask-mode.json
  css/properties/mask-origin.json
  css/properties/mask-position.json
  css/properties/mask-repeat.json
  css/properties/mask-size.json
Labels: data:api :rabbit2:, data:css :art:

#21271 Release v5.4.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#21269 Fixed Safari 16.4 decalarativeNetRequest support
  webextensions/api/declarativeNetRequest.json
Labels: data:webext :game_die:

#21273 Deprecate `FileReader.readAsBinaryString()`
  api/FileReader.json
Labels: data:api :rabbit2:

#21275 docs(opera): updated current browsers release
  browsers/opera.json
Labels: data:browsers :earth_africa:

#21274 added support for web streams `deflate-raw` compression in node
  api/CompressionStream.json
  api/DecompressionStream.json
  browsers/nodejs.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#21284 chore(ci): Do not run 'Update browser releases' workflow on forks
  .github/workflows/update-browser-releases.yml
Labels: infra :building_construction:

#21285 Fix engine_version for Safari 15
  browsers/safari.json
Labels: data:browsers :earth_africa:

#21268 Deprecate -moz-image-rect function
  css/properties/background-image.json
  css/types/-moz-image-rect.json
Labels: data:css :art:

#21277 Clear-Site-Data - Safari 17
  http/headers/Clear-Site-Data.json
Labels: data:http :mountain_cableway:

#21280 FF121 Showpicker in preview
  api/HTMLSelectElement.json
Labels: data:api :rabbit2:

#21283 FF121 Custom State in Custom Elements
  api/CustomStateSet.json
  api/ElementInternals.json
Labels: data:api :rabbit2:

#21216 Support details for webRequestAuthProvider permission
  webextensions/manifest/permissions.json
Labels: data:webext :game_die:

#21249 Remove @@toStringTag
  javascript/builtins/Intl.json
  javascript/builtins/Map.json
Labels: data:js :pager:

#21252 Add Set.keys properly
  javascript/builtins/Set.json
Labels: data:js :pager:

#21279 FF121 iframe/HTMLIFrameElement supports loading property
  api/HTMLIFrameElement.json
  html/elements/iframe.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#21281 commands.onCommand add tab
  webextensions/api/commands.json
Labels: data:webext :game_die:

#21265 add mdn_url for `TaskSignal.any`
  api/TaskSignal.json
Labels: data:api :rabbit2:

#21288 Add IdentityProvider.close()
  api/IdentityProvider.json
Labels: data:api :rabbit2:

#21289 Correct WebAssembly statics
  webassembly/api.json
  webassembly/api/Module.json
Labels: data:wasm :mechanical_arm:

#21293 Add HTMLTemplateElement.shadowRootMode
  api/HTMLTemplateElement.json
Labels: data:api :rabbit2:

#21297 Remove obsolete javascript.builtins.String.search.flags
  javascript/builtins/String.json
Labels: data:js :pager:

#21305 Remove obsolete Webextension features; enable lint
  test/linter/test-obsolete.ts
  webextensions/api/downloads.json
  webextensions/manifest/manifest_version.json
  webextensions/manifest/theme.json
Labels: data:webext :game_die:, linter :house_with_garden:

#21310 Firefox 120 supports WasmGC
  webassembly/garbage-collection.json
Labels: data:wasm :mechanical_arm:

#21311 29787 text wrap
  css/properties/text-wrap.json
Labels: data:css :art:

#21315 Remove scroll-timeline-attachment/view-timeline-attachment references
  css/properties/scroll-timeline.json
  css/properties/view-timeline.json
Labels: data:css :art:

#21292 Add Document.requestStorageAccessFor()
  api/Document.json
Labels: data:api :rabbit2:

#21294 Add Managed Device API
  api/Navigator.json
  api/NavigatorManagedData.json
Labels: data:api :rabbit2:

#21314 Firefox 120 removed Window.sizeToContent
  api/Window.json
Labels: data:api :rabbit2:

#21323 Update html.elements.img.decoding mdn_url / spec_url
  html/elements/img.json
Labels: data:html :page_facing_up:

#21306 Add support for Safari in update-browser-releases
  scripts/update-browser-releases/chrome.ts
  scripts/update-browser-releases/edge.ts
  scripts/update-browser-releases/firefox.ts
  scripts/update-browser-releases/index.ts
  scripts/update-browser-releases/safari.ts
  scripts/update-browser-releases/utils.ts
Labels: scripts :scroll:

#21324 Chrome OS -> ChromeOS
  api/BarcodeDetector.json
  api/HTMLCanvasElement.json
  api/MediaDevices.json
  api/Navigator.json
  api/NetworkInformation.json
Labels: data:api :rabbit2:

#21326 Update Chrome support for Managed Configuration API
  api/Navigator.json
  api/NavigatorManagedData.json
Labels: data:api :rabbit2:

#21327 Update Chromium data for css.properties.clip-path.fill_and_stroke_box
  css/properties/clip-path.json
Labels: data:css :art:

#21328 Update Chromium data for font-variant CSS property
  css/properties/font-variant.json
Labels: data:css :art:

#21329 Update Chromium data for css.properties.list-style.symbols
  css/properties/list-style.json
Labels: data:css :art:

#21333 Add WebTransportSendStream interface
  api/WebTransportSendStream.json
Labels: data:api :rabbit2:

#21334 Enable irrelevance linting for MathML
  mathml/attribute_values.json
  mathml/elements/maction.json
  mathml/elements/mpadded.json
  mathml/elements/mtable.json
  test/linter/test-obsolete.ts
Labels: linter :house_with_garden:, data:mathml :heavy_division_sign:

#21337 Firefox 74+ for Android supports allow attribute.
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#21321 updated firefox version added for :has()
  css/selectors/has.json
Labels: data:css :art:

#21344 Release v5.4.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#21345 Update mdn_url for xywh() inbasic-shape.json
  css/types/basic-shape.json
Labels: data:css :art:

#21346 Update Safari data for speak CSS property
  css/properties/speak.json
Labels: data:css :art:

#21342 Add note about support for interpolation of registered custom properties in Fx
  api/CSS.json
  api/CSSPropertyRule.json
  css/at-rules/property.json
Labels: data:api :rabbit2:, data:css :art:

#21357 showPicker for <input type=time> supports on Firefox/Android
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#21348 Remove api.Window.page[X/Y]Offset
  api/Window.json
Labels: data:api :rabbit2:

#21361 Update auto-issue-close text
  .github/workflows/close-incomplete-issues.yml
Labels: infra :building_construction:

#21350 mark experimental false of `Navigator.deviceMemory` and `Device-Memory`
  api/Navigator.json
  http/headers/Device-Memory.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#21363 Chrome 114 ships wasm extended-const
  webassembly/extended-constant-expressions.json
Labels: data:wasm :mechanical_arm:

#21336 Update Storage Access API data
  api/Document.json
  api/Permissions.json
Labels: data:api :rabbit2:

#21338 Update Safari releases according to Apple release notes
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#21367 Update Safari data for fullscreen CSS selector
  css/selectors/fullscreen.json
Labels: data:css :art:

#21366 Correcting Safari's support of length-percentage
  css/types/length-percentage.json
Labels: data:css :art:

#21368 Add missing api.MediaKeys.getStatusForPolicy feature
  api/MediaKeys.json
Labels: data:api :rabbit2:

#21263 Restore FF116 HTMLVideoElement.disablePictureInPicture
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:
