Repository mdn/browser-compat-data, pull requests merged in 2023-01, with the labels that each got.

#18301 Update Chromium versions for Audio APIs
  api/AudioContext.json
  api/AudioDestinationNode.json
  api/AudioNode.json
  api/BaseAudioContext.json
  api/BiquadFilterNode.json
  api/DelayNode.json
  api/DynamicsCompressorNode.json
  api/GainNode.json
  api/MediaStreamAudioDestinationNode.json
  api/MediaStreamAudioSourceNode.json
  api/ScriptProcessorNode.json
  api/WaveShaperNode.json
Labels: data:api :rabbit2:

#18500 Add note for document.domain on Chrome
  api/Document.json
Labels: data:api :rabbit2:

#18523 Release v5.2.25
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#18522 Updates opera browser release versions
  browsers/opera.json
Labels: data:browsers :earth_africa:

#18526 Safari 16.2 is released
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#18529 Update Safari versions for font-variant-alternates CSS property
  css/properties/font-variant-alternates.json
Labels: data:css :art:

#18528 Update Safari versions for CSSFontFeatureValuesRule API
  api/CSSFontFeatureValuesRule.json
Labels: data:api :rabbit2:

#18542 Remove api.DOMMatrixReadOnly.transform from BCD
  api/DOMMatrixReadOnly.json
Labels: data:api :rabbit2:

#18515 FF109: CSS system-color add Mark, MarkText, ButtonBorder
  css/types/color.json
Labels: data:css :art:

#18537 Add data for FileSystemHandle.remove()
  api/FileSystemHandle.json
Labels: data:api :rabbit2:

#18521 Set Brotli as supported on Safari iOS
  http/headers/Content-Encoding.json
Labels: data:http :mountain_cableway:

#18564 Release v5.2.26
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#18568 [gh-actions] Ignore dependabot for ping-other-repos workflow
  .github/workflows/ping-other-repos.yml
Labels: infra :building_construction:

#18511 Add Chrome version numbers for tabs webextensions API
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#18547 Update Safari versions for api.GamepadButton.touched
  api/GamepadButton.json
Labels: data:api :rabbit2:

#18548 Update WebView versions for api.GamepadHapticActuator.pulse
  api/GamepadHapticActuator.json
Labels: data:api :rabbit2:

#18545 Update Safari iOS version for api.Document.exitPointerLock
  api/Document.json
Labels: data:api :rabbit2:

#18590 Fix bad merge from #16206
  api/GamepadHapticActuator.json
Labels: data:api :rabbit2:

#18600 Update Firefox versions for Performance API
  api/Performance.json
Labels: data:api :rabbit2:

#18602 Update Chromium versions for api.PerformanceMark.detail
  api/PerformanceMark.json
Labels: data:api :rabbit2:

#18577 Update Chromium versions for api.ElementInternals.shadowRoot
  api/ElementInternals.json
Labels: data:api :rabbit2:

#18586 Update Firefox versions for api.IDBIndex.getAllKeys
  api/IDBIndex.json
Labels: data:api :rabbit2:

#18556 Adding in release note URL for Edge and Safari
  docs/contributing.md
Labels: docs :writing_hand:

#18544 Update WebView versions for api.Document/HTMLVideoElement.pictureInPicture*
  api/Document.json
  api/HTMLVideoElement.json
  api/PictureInPictureEvent.json
  api/PictureInPictureWindow.json
Labels: data:api :rabbit2:

#18554 Remove api.MediaStreamTrackAudioSourceNode.mediaStreamTrack from BCD
  api/MediaStreamTrackAudioSourceNode.json
Labels: data:api :rabbit2:

#18549 Update Chromium versions for api.HTMLMediaElement.sinkId
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#18575 Link bug for SharedWorker support on Chrome Android
  api/SharedWorker.json
Labels: data:api :rabbit2:

#18607 Add flag data for api.IDBIndex.[isAuto]locale
  api/IDBIndex.json
Labels: data:api :rabbit2:

#18573 Update Firefox versions for api.DOMPoint.fromPoint
  api/DOMPoint.json
Labels: data:api :rabbit2:

#18574 Update Firefox versions for api.DedicatedWorkerGlobalScope.animationFrame
  api/DedicatedWorkerGlobalScope.json
Labels: data:api :rabbit2:

#18609 Release v5.2.27
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#18578 Update Chromium versions for api.ExtendableEvent.ExtendableEvent
  api/ExtendableEvent.json
Labels: data:api :rabbit2:

#18581 Update Chromium versions for api.FetchEvent.FetchEvent
  api/FetchEvent.json
Labels: data:api :rabbit2:

#18584 Update WebView versions for api.HTMLInputElement.webkitEntries
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#18585 Update Chromium versions for api.IDBFactory.databases
  api/IDBFactory.json
Labels: data:api :rabbit2:

#18592 Update Edge versions for MediaDeviceInfo API
  api/MediaDeviceInfo.json
Labels: data:api :rabbit2:

#18595 Update Chromium versions for api.MediaStreamTrackEvent.MediaStreamTrackEvent
  api/MediaStreamTrackEvent.json
Labels: data:api :rabbit2:

#18599 Update Chromium versions for api.Notification.image
  api/Notification.json
Labels: data:api :rabbit2:

#18604 Update WebView versions for PeriodicSyncEvent API
  api/PeriodicSyncEvent.json
Labels: data:api :rabbit2:

#18605 Update WebView versions for PeriodicSyncManager API
  api/PeriodicSyncManager.json
Labels: data:api :rabbit2:

#18516 Add setSinkId data
  api/AudioContext.json
  api/AudioSinkInfo.json
Labels: data:api :rabbit2:

#18480 feat(css): Update CSS Values Level 4 `rem()` compatibility data
  css/types/rem.json
Labels: data:css :art:

#18462 Remove support for video-dynamic-range
  css/at-rules/media.json
Labels: data:css :art:

#18364 Add Safari support for `overflow-wrap: anywhere`
  css/properties/overflow-wrap.json
Labels: data:css :art:

#18615 Replace browser-specs with web-specs
  package-lock.json
  package.json
  test/linter/test-spec-urls.ts
Labels: infra :building_construction:, linter :house_with_garden:, dependencies :chains:

#18617 Fix WebExtension mirroring warnings
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#18616 Update spec exception list
  http/headers/Digest.json
  http/headers/Expect-CT.json
  http/headers/Want-Digest.json
  test/linter/test-spec-urls.ts
Labels: data:http :mountain_cableway:, linter :house_with_garden:

#18583 Partially revert Firefox versions for referrerPolicy property
  api/HTMLAnchorElement.json
  api/HTMLAreaElement.json
  api/HTMLIFrameElement.json
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#18598 Update Samsung Internet versions for NavigatorUAData API
  api/NavigatorUAData.json
Labels: data:api :rabbit2:

#18561 Permissions - reorder permission strings together
  api/Permissions.json
Labels: data:api :rabbit2:

#18541 Remove CrashReportBody API from BCD
  api/CrashReportBody.json
Labels: data:api :rabbit2:

#18571 Update Chromium versions for ClipboardItem API
  api/ClipboardItem.json
Labels: data:api :rabbit2:

#18619 Chrome 109 is released
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#18620 Make mirroring linter an error vs. a warning
  test/linter/test-mirror.ts
Labels: linter :house_with_garden:

#18463 Update chrome version for media session slides actions
  api/MediaSession.json
Labels: data:api :rabbit2:

#18624 Enable css lenght type lh for chrome
  css/types/length.json
  test/linter/test-obsolete.ts
Labels: data:css :art:, linter :house_with_garden:

#18640 Adding spec url for Navigator unregisterProtocolHandler
  api/Navigator.json
Labels: data:api :rabbit2:

#18627 added firefox version_added for content-visibility
  css/properties/content-visibility.json
Labels: data:css :art:

#18631 Update Edge versions for api.TextTrack.id
  api/TextTrack.json
Labels: data:api :rabbit2:

#18632 Update Chromium versions for api.UserActivation.isActive
  api/UserActivation.json
Labels: data:api :rabbit2:

#18633 Update Edge versions for api.TransitionEvent.TransitionEvent
  api/TransitionEvent.json
Labels: data:api :rabbit2:

#18636 Update Safari versions for WEBGL_compressed_texture_astc API
  api/WEBGL_compressed_texture_astc.json
Labels: data:api :rabbit2:

#18637 Update Safari versions for WEBGL_compressed_texture_etc API
  api/WEBGL_compressed_texture_etc.json
Labels: data:api :rabbit2:

#18641 Update Chromium versions for api.Window.originAgentCluster
  api/Window.json
Labels: data:api :rabbit2:

#18630 Update Firefox versions for api.Selection.setBaseAndExtent
  api/Selection.json
Labels: data:api :rabbit2:

#18649 New edge 109 browser data
  browsers/edge.json
Labels: data:browsers :earth_africa:

#18651 Release v5.2.28
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#18648 XRSession.environmentBlendMode shipped in Chromium 81
  api/XRSession.json
Labels: data:api :rabbit2:

#18653 Fix support data for picture-in-picture in chromium-based-browsers
  css/selectors/picture-in-picture.json
Labels: data:css :art:

#18492 Update Payment Handler API data
  api/CanMakePaymentEvent.json
  api/PaymentInstruments.json
  api/PaymentManager.json
  api/PaymentRequestEvent.json
  api/ServiceWorkerGlobalScope.json
  api/ServiceWorkerRegistration.json
  html/manifest/serviceworker.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#18638 Update Chromium versions for WebTransport API
  api/WebTransport.json
  api/WebTransportBidirectionalStream.json
Labels: data:api :rabbit2:

#18673 Release v5.2.29
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#18665 webRequestFilterResponse Permission
  webextensions/manifest/optional_permissions.json
  webextensions/manifest/permissions.json
Labels: data:webext :game_die:

#18557 releases(108): Fx 108 adds support for 'effective-directive' and 'status-code' props
  api/CSPViolationReportBody.json
Labels: data:api :rabbit2:

#18628 Add data points for new FedCM features
  api/CredentialsContainer.json
  api/IdentityCredential.json
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#18650 Chromium renamed XR to XRSystem in 83
  api/XRSystem.json
Labels: data:api :rabbit2:

#18679 Updates firefox browser to version 109
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#18591 Add CHIPs data additions
  api/CookieStore.json
  http/headers/Set-Cookie.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#18332 Add fetch keepalive compat data
  api/_globals/fetch.json
Labels: data:api :rabbit2:

#18681 Remove api.Document.registerElement from BCD
  api/Document.json
Labels: data:api :rabbit2:, needs content update 📝

#18680 Fixed to webRequestFilterResponse.serviceWorkerScript
  webextensions/manifest/optional_permissions.json
Labels: data:webext :game_die:

#18690 Release v5.2.30
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#18697 Ensure that `alternative_name` can't just be `prefix`ed
  test/linter/test-prefix.ts
Labels: linter :house_with_garden:

#18696 Mark 'lh' and 'rlh' units as standard compliant
  css/types/length.json
  test/linter/test-obsolete.ts
Labels: data:css :art:, linter :house_with_garden:

#18708 update css.properties.text-decoration.text-decoration-thickness
  css/properties/text-decoration.json
Labels: data:css :art:

#18685 Add compat data for the form and largeop attributes of the mo element
  mathml/elements/mo.json
Labels: data:mathml :heavy_division_sign:

#18704 Update Safari versions for WEBGL_compressed_texture_pvrtc API
  api/WEBGL_compressed_texture_pvrtc.json
Labels: data:api :rabbit2:

#18678 Add missing features for CSS API
  api/CSS.json
Labels: data:api :rabbit2:

#18698 Mirror data to `css.properties.background-image.image-set` from `css.types.image.image-set`
  css/properties/background-image.json
Labels: data:css :art:

#18694 Add Opera versions for api.Element.requestFullscreen.returns_promise
  api/Element.json
Labels: data:api :rabbit2:

#18695 Update Firefox Android versions for api.HTMLFormElement.formdata_event
  api/HTMLFormElement.json
Labels: data:api :rabbit2:

#18699 Fix spec URL for css.types.image.linear-gradient
  css/types/image.json
Labels: data:css :art:

#18703 Add Firefox versions for webextensions.manifest/manifest_version.v3
  webextensions/manifest/manifest_version.json
Labels: data:webext :game_die:

#18705 Update Safari versions for css.selectors.user-valid/user-invalid
  css/selectors/user-invalid.json
  css/selectors/user-valid.json
Labels: data:css :art:

#18688 Find API option to match diacritics
  webextensions/api/find.json
Labels: data:webext :game_die:

#18717 Mirror MathML features for Safari iOS
  mathml/elements/mi.json
  mathml/elements/mn.json
  mathml/elements/mo.json
  mathml/elements/mphantom.json
  mathml/elements/mroot.json
  mathml/elements/mrow.json
  mathml/elements/msqrt.json
  mathml/elements/mtable.json
  mathml/elements/mtd.json
  mathml/elements/mtext.json
  mathml/elements/mtr.json
Labels: data:mathml :heavy_division_sign:

#18553 Update Chromium versions for api.MediaDevices.setCaptureHandleConfig
  api/MediaDevices.json
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#18701 Correct release version for webRequestFilterResponse.serviceWorkerScript
  webextensions/manifest/optional_permissions.json
  webextensions/manifest/permissions.json
Labels: data:webext :game_die:

#18700 Rename "logical nullish assignment" to "nullish coalescing assignment"
  javascript/operators/nullish_coalescing_assignment.json
Labels: data:js :pager:, needs content update 📝

#18723 FF110 Nightly supports StorageManager.getDirectory() - OPFS
  api/StorageManager.json
Labels: data:api :rabbit2:

#18724 FF110 Permission API midi permission
  api/Permissions.json
Labels: data:api :rabbit2:

#18733 Release v5.2.31
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#18736 Safari 16.3 is released
  browsers/safari.json
  browsers/safari_ios.json
Labels: data:browsers :earth_africa:

#18740 Remove require-sri-for
  http/headers/Content-Security-Policy.json
Labels: data:http :mountain_cableway:

#18647 WebXR Hand Input is in Edge 93 (Hololens 2)
  api/XRFrame.json
  api/XRHand.json
  api/XRInputSource.json
  api/XRJointPose.json
  api/XRJointSpace.json
Labels: data:api :rabbit2:

#18399 Safari supports `start` and `end`
  css/properties/align-content.json
  css/properties/align-items.json
  css/properties/align-self.json
  css/properties/justify-content.json
Labels: data:css :art:

#18742 Add missing api.CSS.sv* features
  api/CSS.json
Labels: data:api :rabbit2:

#18743 Add missing api.CSSKeyframesRule.length feature
  api/CSSKeyframesRule.json
Labels: data:api :rabbit2:

#18746 Opera Android 73 is released
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#18747 Add missing api.MathMLElement.attributeStyleMap feature
  api/MathMLElement.json
Labels: data:api :rabbit2:

#18749 Add missing features for XRHand API
  api/XRHand.json
Labels: data:api :rabbit2:

#18738 icons.json: mirrored Opera and Edge to Chrome
  webextensions/manifest/icons.json
Labels: data:webext :game_die:

#18751 Revert "releases(108): Fx 108 support for 'effective-directive' and 'status-code' props"
  api/CSPViolationReportBody.json
Labels: data:api :rabbit2:

#18760 Release v5.2.32
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#18759 Fx(110): 'unsafe-hashes' CSP keyword is enabled
  http/headers/Content-Security-Policy.json
Labels: data:http :mountain_cableway:

#18780 Fix Firefox compatibility data for the Link HTTP header
  http/headers/Link.json
Labels: data:http :mountain_cableway:

#18787 Fx(109): 'unsafe-hashes' CSP keyword is enabled
  http/headers/Content-Security-Policy.json
Labels: data:http :mountain_cableway:

#18720 CSS Custom Highlight API follow-ups
  api/Highlight.json
  api/HighlightRegistry.json
  css/selectors/highlight.json
Labels: data:api :rabbit2:, data:css :art:

#18793 CSSImportRule.layerName: add link to MDN
  api/CSSImportRule.json
Labels: data:api :rabbit2:

#18794 Fix names of constructor features for Temporal API objects
  javascript/builtins/Temporal/Calendar.json
  javascript/builtins/Temporal/Duration.json
  javascript/builtins/Temporal/Instant.json
  javascript/builtins/Temporal/PlainDate.json
  javascript/builtins/Temporal/PlainDateTime.json
  javascript/builtins/Temporal/PlainMonthDay.json
  javascript/builtins/Temporal/PlainTime.json
  javascript/builtins/Temporal/PlainYearMonth.json
  javascript/builtins/Temporal/TimeZone.json
  javascript/builtins/Temporal/ZonedDateTime.json
Labels: data:js :pager:

#18801 Add support of EXT_texture_norm16 WebGL Extension for Edge
  api/EXT_texture_norm16.json
Labels: data:api :rabbit2:

#18764 Add missing features for MathMLElement API
  api/MathMLElement.json
Labels: data:api :rabbit2:

#18748 Add missing features for OffscreenCanvasRenderingContext2D API
  api/OffscreenCanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#18763 Add missing api.MIDIOutputMap.@@iterator feature
  api/MIDIOutputMap.json
Labels: data:api :rabbit2:

#18765 Add missing features for PaymentRequestEvent API
  api/PaymentRequestEvent.json
Labels: data:api :rabbit2:

#18770 Update Chromium, Safari versions for `Element.animate()` `options.pseudoElement`
  api/Element.json
Labels: data:api :rabbit2:

#18776 Add data for `Element.animate()` `options.timeline`
  api/Element.json
Labels: data:api :rabbit2:

#18782 Add Opera versions for api.BarProp.visible.returns_popup
  api/BarProp.json
Labels: data:api :rabbit2:

#18783 Add Chromium versions for api.CanMakePaymentEvent.modifiers
  api/CanMakePaymentEvent.json
Labels: data:api :rabbit2:

#18791 FF110 Error state serializable in workers
  javascript/builtins/Error.json
  javascript/builtins/EvalError.json
  javascript/builtins/RangeError.json
  javascript/builtins/ReferenceError.json
  javascript/builtins/SyntaxError.json
  javascript/builtins/TypeError.json
  javascript/builtins/URIError.json
Labels: data:js :pager:

#18795 Remove redundant worker_support from each MediaSource subfeature
  api/MediaSource.json
Labels: data:api :rabbit2:

#18693 Add Chromium versions for api.Element.scrollLeft
  api/Element.json
Labels: data:api :rabbit2:

#18802 Release v5.2.33
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:
