Repository mdn/browser-compat-data, pull requests merged in 2023-07, with the labels that each got.

#20272 Update link to HTMLImageElement img src attribute
  api/HTMLImageElement.json
Labels: data:api :rabbit2:

#20268 Remove title param from Navigator.registerProtocolHandler
  api/Navigator.json
Labels: data:api :rabbit2:

#20267 Firefox 114 supports api.Worker.Worker.options_type_parameter
  api/Worker.json
Labels: data:api :rabbit2:

#20274 Fix css-typed-om spec URLs
  api/CSS.json
  api/CSSMathClamp.json
  api/MathMLElement.json
Labels: data:api :rabbit2:

#20276 Fix various CSS spec URLs
  api/Element.json
  api/ScrollTimeline.json
  api/ViewTimeline.json
  css/at-rules/keyframes.json
  css/properties/animation-range-end.json
  css/properties/animation-range-start.json
  css/properties/animation-range.json
  css/properties/animation-timeline.json
  css/properties/view-timeline-axis.json
  css/properties/view-timeline-inset.json
  css/properties/view-timeline-name.json
  css/properties/view-timeline.json
  css/types/line-style.json
  css/types/overflow.json
Labels: data:api :rabbit2:, data:css :art:

#20280 Fix Intl.DurationFormat.supportedLocalesOf() spec URL
  javascript/builtins/Intl/DurationFormat.json
Labels: data:js :pager:

#20101 Update data for WebOTP API
  api/CredentialsContainer.json
  html/global_attributes.json
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:, data:html :page_facing_up:

#20281 New WebGPU support items Chrome 113-115
  api/GPU.json
  api/GPURenderBundleEncoder.json
  api/GPURenderPassEncoder.json
Labels: data:api :rabbit2:

#20277 Fix scroll-animations spec URL
  api/ScrollTimeline.json
  api/ViewTimeline.json
  css/at-rules/keyframes.json
  css/properties/animation-range-end.json
  css/properties/animation-range-start.json
  css/properties/animation-range.json
  css/properties/animation-timeline.json
  css/properties/timeline-scope.json
  css/properties/view-timeline-axis.json
  css/properties/view-timeline-inset.json
  css/properties/view-timeline-name.json
  css/properties/view-timeline.json
Labels: data:api :rabbit2:, data:css :art:

#20279 Fix css-view-transitions spec URLs
  css/selectors/view-transition-group.json
  css/selectors/view-transition-image-pair.json
  css/selectors/view-transition-new.json
  css/selectors/view-transition-old.json
Labels: data:css :art:

#20130 Add BCD for isUrlFilterCaseSensitive field
  webextensions/api/declarativeNetRequest.json
Labels: data:webext :game_die:

#20286 Fix view-transition-image-pair.json spec URLs
  css/selectors/view-transition-image-pair.json
Labels: data:css :art:

#20132 26685 26687 view progress timelines
  css/properties/animation-duration.json
Labels: data:css :art:

#20292 added the release and flag for view() in firefox
  css/properties/animation-timeline.json
Labels: data:css :art:

#20312 Release v5.3.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20310 Fix description of `URL.canParse()`
  api/URL.json
Labels: data:api :rabbit2:

#20304 Firefox supports CanvasCaptureMediaStreamTrack
  api/CanvasCaptureMediaStreamTrack.json
Labels: data:api :rabbit2:

#20266 Safari supports module import syntax in service workers
  javascript/statements.json
Labels: data:js :pager:

#20264 Safari 13.1 supports CSS Q unit
  css/types/length.json
Labels: data:css :art:

#20262 Update Intl.NumberFormat v3 data
  javascript/builtins/Intl/NumberFormat.json
  javascript/builtins/Intl/PluralRules.json
Labels: data:js :pager:

#20313 Fix message displayed when invalid browser version found
  test/linter/test-versions.ts
Labels: linter :house_with_garden:

#20295 Update for Deno v1.35
  api/Headers.json
  api/URLSearchParams.json
  browsers/deno.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#20317 fix firefox 115 engine_version
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#20315 release firefox 115
  browsers/firefox.json
  browsers/firefox_android.json
Labels: data:browsers :earth_africa:

#20307 FF116 supports audio output API
  api/HTMLMediaElement.json
  api/MediaDevices.json
  http/headers/Feature-Policy.json
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#20293 updated the view-timeline-axis values for firefox
  css/properties/view-timeline-axis.json
  css/properties/view-timeline.json
Labels: data:css :art:

#20321 Update Safari iOS data for api.Notification.tag
  api/Notification.json
Labels: data:api :rabbit2:

#20331 Update all dependencies
  package-lock.json
Labels: infra :building_construction:, dependencies :chains:

#20336 Release v5.3.2
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20303 added full support for import support conditions in Firefox
  css/at-rules/import.json
Labels: data:css :art:

#20337 Fix header in documentation
  docs/contributing.md
Labels: docs :writing_hand:

#20306 Correct version removed for setUninstallURL length change
  webextensions/api/runtime.json
Labels: data:webext :game_die:

#20359 Release v5.3.3
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20244 Implementation of action.getUserSettings
  webextensions/api/action.json
Labels: data:webext :game_die:

#20346 relnote(116): CSSPropertyRule enabled in Fx nightly by default
  api/CSS.json
  api/CSSPropertyRule.json
  css/at-rules/property.json
Labels: data:api :rabbit2:, data:css :art:

#20334 Update Firefox data for api.Window.prompt
  api/Window.json
Labels: data:api :rabbit2:

#20348 Fix MDN URLs for WebAssembly JS API
  javascript/builtins/WebAssembly.json
  javascript/builtins/WebAssembly/CompileError.json
  javascript/builtins/WebAssembly/Exception.json
  javascript/builtins/WebAssembly/Global.json
  javascript/builtins/WebAssembly/Instance.json
  javascript/builtins/WebAssembly/LinkError.json
  javascript/builtins/WebAssembly/Memory.json
  javascript/builtins/WebAssembly/Module.json
  javascript/builtins/WebAssembly/RuntimeError.json
  javascript/builtins/WebAssembly/Table.json
  javascript/builtins/WebAssembly/Tag.json
Labels: data:js :pager:

#20360 Add support for HTMLDialogElement.close_event in Chrome Android
  api/HTMLDialogElement.json
Labels: data:api :rabbit2:

#20355 Temporal.now -> Temporal.Now
  javascript/builtins/Temporal/Now.json
Labels: data:js :pager:

#20332 FF116 CSP script-src support external file with hash
  http/headers/Content-Security-Policy.json
Labels: data:http :mountain_cableway:

#20357 FF116 TextMetrics.fontBoundingBoxAscent/Descent supported
  api/TextMetrics.json
Labels: data:api :rabbit2:

#20362 Add flagged Chrome support for prefers-reduced-transparency
  css/at-rules/media.json
Labels: data:css :art:

#20365 WebGPU updates for Chrome 116
  api/GPUAdapter.json
  api/GPUDevice.json
  api/GPUPipelineError.json
  api/GPUQueue.json
Labels: data:api :rabbit2:

#20377 Chrome for Android doesn't support the Badging API
  api/Navigator.json
Labels: data:api :rabbit2:

#20325 Update Chromium data for FontFaceSet API
  api/FontFaceSet.json
Labels: data:api :rabbit2:

#20323 Update Firefox data for api.Event.composed
  api/Event.json
Labels: data:api :rabbit2:

#20322 Update Edge data for IdleDetector API
  api/IdleDetector.json
Labels: data:api :rabbit2:

#20340 Document how to add a new browser version to BCD
  docs/data-guidelines/browsers.md
  docs/data-guidelines/index.md
Labels: docs :writing_hand:

#20250 CSS "offset-position": Update support in Firefox116 and Chrome
  css/properties/offset-position.json
Labels: data:css :art:

#20383 Update Firefox data for ImageCapture API
  api/ImageCapture.json
Labels: data:api :rabbit2:

#20384 Update Firefox Android data for Headers API
  api/Headers.json
Labels: data:api :rabbit2:

#20400 Add Safari 17 support for overflow-block/inline media queries
  css/at-rules/media.json
Labels: data:css :art:

#20399 Add Chrome 98 flagged support for video-dynamic-range media query
  css/at-rules/media.json
Labels: data:css :art:

#20398 Add Safari 17 support for scripting media query
  css/at-rules/media.json
Labels: data:css :art:

#20397 Add Safari 17 support for update media query
  css/at-rules/media.json
Labels: data:css :art:

#20391 Update Firefox Android data for css.at-rules.media.display-mode
  css/at-rules/media.json
Labels: data:css :art:

#20390 Update Chromium data for fieldset HTML element
  html/elements/fieldset.json
Labels: data:html :page_facing_up:

#20389 Update Chrome Android data for api.ServiceWorkerRegistration.showNotification
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#20388 Update Chromium data for api.SpeechSynthesisUtterance.boundary_event
  api/SpeechSynthesisUtterance.json
Labels: data:api :rabbit2:

#20387 Update Firefox data for css.grid-template.fit-content feature
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
Labels: data:css :art:

#20401 Update chrome browser to version 115
  browsers/chrome.json
  browsers/chrome_android.json
  browsers/webview_android.json
Labels: data:browsers :earth_africa:

#20410 [mathml] Update mtd@columnspan/rowspan support for Chromium 117
  mathml/elements/mtd.json
Labels: data:mathml :heavy_division_sign:

#20413 Release v5.3.6
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#20417 [mathml] Update compat data for math-depth and font-size: math
  css/properties/font-size.json
  css/properties/math-depth.json
Labels: data:css :art:

#20418 Update getManifest information to improve browser nuances
  webextensions/api/runtime.json
Labels: data:webext :game_die:

#20405 Add Samsung Internet 22
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#20265 Edge supports text-combine-upright
  css/properties/text-combine-upright.json
Labels: data:css :art:

#20424 Update Safari `outline` support to full
  css/properties/outline.json
Labels: data:css :art:

#20425 Update Firefox support for math-style
  css/properties/math-style.json
Labels: data:css :art:

#20263 Update image-set() data for Safari
  css/properties/background-image.json
  css/types/image.json
Labels: data:css :art:

#20371 FF116 Intl NumberFormat and PluralRules NumberFormat v3 updates
  javascript/builtins/Intl/NumberFormat.json
  javascript/builtins/Intl/PluralRules.json
Labels: data:js :pager:

#20430 Add Chrome/Safari versions for api.HTMLInputElement.cancel_event
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#20423 Add Safari 16 support for forced-colors
  css/at-rules/media.json
Labels: data:css :art:
