Repository mdn/browser-compat-data, pull requests merged in 2024-08, with the labels that each got.

#23904 Update Chromium data for webextensions.api.windows.create.createData
  webextensions/api/windows.json
Labels: data:webext :game_die:

#23888 Update Chromium data for webextensions.api.privacy.network
  webextensions/api/privacy.json
Labels: data:webext :game_die:

#23887 Update Opera data for webextensions.api.privacy.services
  webextensions/api/privacy.json
Labels: data:webext :game_die:

#23886 Update Chromium data for webextensions.api.pageAction.onClicked.tab
  webextensions/api/pageAction.json
Labels: data:webext :game_die:

#23885 Update Chromium data for webextensions.api.notifications.NotificationOptions
  webextensions/api/notifications.json
Labels: data:webext :game_die:

#24023 Update documentation about experimental status
  schemas/compat-data-schema.md
  schemas/compat-data.schema.json
Labels: schema :gear:, docs :writing_hand:

#23962 Remove obsolete <mstyle> attributes `scriptminsize` and `scriptsizemultiplier`
  mathml/elements/mstyle.json
Labels: needs content update 📝

#23665 Mention best practices for code examples in data issues
  .github/ISSUE_TEMPLATE/data-problem.yml
Labels: infra :building_construction:

#23884 Update Opera data for webextensions.api.notifications.TemplateType
  webextensions/api/notifications.json
Labels: data:webext :game_die:

#23882 Update Chromium data for webextensions.api.extension.getViews.windowId
  webextensions/api/extension.json
Labels: data:webext :game_die:

#23883 Update Opera data for webextensions.api.i18n.getUILanguage
  webextensions/api/i18n.json
Labels: data:webext :game_die:

#24008 Fix various CSS spec_urls
  css/at-rules/media.json
  css/properties/content-visibility.json
  css/properties/font-variant-east-asian.json
  css/properties/font-variant-numeric.json
  css/properties/font-variant-position.json
  css/properties/font-weight.json
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
  css/properties/list-style-position.json
  css/properties/overflow-x.json
  css/properties/text-wrap.json
  css/types/color.json
Labels: data:css :art:

#23881 Update Chromium data for webextensions.api.events.Event
  webextensions/api/events.json
Labels: data:webext :game_die:

#24030 Release v5.5.44
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#23878 Update Chromium data for webextensions.api.devtools.panels.ExtensionPanel.onSearch
  webextensions/api/devtools.json
Labels: data:webext :game_die:

#23877 Update Chromium data for webextensions.api.devtools.network
  webextensions/api/devtools.json
Labels: data:webext :game_die:

#23876 Update Chromium data for webextensions.api.devtools.inspectedWindow.eval
  webextensions/api/devtools.json
Labels: data:webext :game_die:

#23875 Update Chromium data for webextensions.api.cookies.Cookie.sameSite
  webextensions/api/cookies.json
Labels: data:webext :game_die:

#23874 Update Chromium data for browsingData Web Extensions interface
  webextensions/api/browsingData.json
Labels: data:webext :game_die:

#23873 Update Chromium data for webextensions.api.browsingData.RemovalOptions.since
  webextensions/api/browsingData.json
Labels: data:webext :game_die:

#23872 Update Chromium data for webextensions.api.browserAction.setBadgeBackgroundColor.string
  webextensions/api/browserAction.json
Labels: data:webext :game_die:

#23871 Update Chromium data for webextensions.api.browserAction.onClicked.tab
  webextensions/api/browserAction.json
Labels: data:webext :game_die:

#24057 Release v5.5.45
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#24058 update-browser-releases: ensure "esr" is set when "current" -> "esr"
  scripts/update-browser-releases/firefox.ts
Labels: infra :building_construction:, scripts :scroll:

#24056 webRequest.getSecurityInfo options parameter optional
  webextensions/api/webRequest.json
Labels: data:webext :game_die:

#23880 Update Chromium data for downloads Web Extensions interface
  webextensions/api/downloads.json
Labels: data:webext :game_die:

#23879 Update Chromium data for webextensions.api.devtools.panels
  webextensions/api/devtools.json
Labels: data:webext :game_die:

#23899 Update Chromium data for webRequest Web Extensions interface
  webextensions/api/webRequest.json
Labels: data:webext :game_die:

#23893 Update Chromium data for types Web Extensions interface
  webextensions/api/types.json
Labels: data:webext :game_die:

#23892 Update Chromium data for tabs Web Extensions interface
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#23891 Update Chromium data for webextensions.api.runtime.lastError
  webextensions/api/runtime.json
Labels: data:webext :game_die:

#23807 Update slightly complex Chromium data for webextensions.api
  webextensions/api/browserAction.json
  webextensions/api/extensionTypes.json
  webextensions/api/pageAction.json
  webextensions/api/tabs.json
  webextensions/api/webRequest.json
  webextensions/api/windows.json
Labels: data:webext :game_die:

#23889 Update Chromium data for webextensions.api.privacy.websites.protectedContentEnabled
  webextensions/api/privacy.json
Labels: data:webext :game_die:

#23451 Update Chromium data for webextensions.manifest
  webextensions/manifest/author.json
  webextensions/manifest/background.json
  webextensions/manifest/browser_action.json
  webextensions/manifest/chrome_settings_overrides.json
  webextensions/manifest/chrome_url_overrides.json
  webextensions/manifest/commands.json
  webextensions/manifest/content_scripts.json
  webextensions/manifest/content_security_policy.json
  webextensions/manifest/default_locale.json
  webextensions/manifest/description.json
  webextensions/manifest/devtools_page.json
  webextensions/manifest/homepage_url.json
  webextensions/manifest/icons.json
  webextensions/manifest/incognito.json
  webextensions/manifest/name.json
  webextensions/manifest/omnibox.json
  webextensions/manifest/optional_permissions.json
  webextensions/manifest/page_action.json
  webextensions/manifest/permissions.json
  webextensions/manifest/short_name.json
  webextensions/manifest/theme.json
  webextensions/manifest/version.json
  webextensions/manifest/web_accessible_resources.json
Labels: data:webext :game_die:

#23450 Update Chromium data for webextensions.api
  webextensions/api/alarms.json
  webextensions/api/bookmarks.json
  webextensions/api/browserAction.json
  webextensions/api/browsingData.json
  webextensions/api/commands.json
  webextensions/api/cookies.json
  webextensions/api/devtools.json
  webextensions/api/downloads.json
  webextensions/api/events.json
  webextensions/api/extension.json
  webextensions/api/history.json
  webextensions/api/identity.json
  webextensions/api/idle.json
  webextensions/api/management.json
  webextensions/api/notifications.json
  webextensions/api/privacy.json
  webextensions/api/runtime.json
  webextensions/api/sessions.json
  webextensions/api/storage.json
  webextensions/api/topSites.json
  webextensions/api/webNavigation.json
Labels: data:webext :game_die:

#23925 SubtleCrypto ED25519 (FF129) X25519 (FF1300)
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#24107 Fix traverse script when traversing webextensions category
  scripts/traverse.ts
Labels: infra :building_construction:, scripts :scroll:

#24108 Set IE null -> false
  html/elements/audio.json
  html/elements/input/range.json
  html/elements/link.json
  html/elements/pre.json
  html/elements/source.json
  html/elements/video.json
  html/global_attributes.json
  http/headers/Alt-Svc.json
  http/headers/Content-Security-Policy.json
  http/headers/X-DNS-Prefetch-Control.json
  svg/elements/a.json
  svg/elements/feConvolveMatrix.json
  svg/elements/feDiffuseLighting.json
  svg/elements/feDisplacementMap.json
  svg/elements/feDistantLight.json
  svg/elements/feFlood.json
  svg/elements/feGaussianBlur.json
  svg/elements/feImage.json
  svg/elements/feSpecularLighting.json
  svg/elements/feTurbulence.json
  svg/elements/filter.json
  svg/elements/font-face-format.json
  svg/elements/font-face-name.json
  svg/elements/font-face-src.json
  svg/elements/font-face-uri.json
  svg/elements/font-face.json
  svg/elements/glyph.json
  svg/elements/glyphRef.json
  svg/elements/image.json
  svg/elements/linearGradient.json
  svg/elements/mask.json
  svg/elements/missing-glyph.json
  svg/elements/pattern.json
  svg/elements/radialGradient.json
  svg/elements/script.json
  svg/elements/style.json
  svg/elements/svg.json
  svg/elements/symbol.json
  svg/elements/textPath.json
  svg/elements/title.json
  svg/elements/tref.json
  svg/elements/tspan.json
  svg/elements/vkern.json
  svg/global_attributes.json
Labels: data:http :mountain_cableway:, data:html :page_facing_up:, data:svg :paintbrush:

#24045 Firefox 130 adds HTMLVideoElement.requestVideoFrameCallback
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#24112 FF65 Reporting API updates
  api/DeprecationReportBody.json
  api/Report.json
  api/ReportBody.json
  api/ReportingObserver.json
Labels: data:api :rabbit2:

#24106 Update Safari iOS data for webextensions.api.cookies.set.partitionKey
  webextensions/api/cookies.json
Labels: data:webext :game_die:

#24105 Update Chromium data for version_name Web Extensions manifest property
  webextensions/manifest/version_name.json
Labels: data:webext :game_die:

#24104 Update Opera data for version Web Extensions manifest property
  webextensions/manifest/version.json
Labels: data:webext :game_die:

#24103 Update Chromium data for user_scripts Web Extensions manifest property
  webextensions/manifest/user_scripts.json
Labels: data:webext :game_die:

#24101 Update Chromium data for webextensions.manifest.theme.colors
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#24009 Remove masonry-auto-flow CSS property
  css/properties/masonry-auto-flow.json
Labels: data:css :art:

#24118 Updates for Firefox 130 beta
  api/HTMLDetailsElement.json
  api/WebGL2RenderingContext.json
  api/WebGLRenderingContext.json
Labels: data:api :rabbit2:

#24120 Release v5.5.46
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#23774 Update the Chromium support data for the Web App Manifest members
  html/manifest/background_color.json
  html/manifest/categories.json
  html/manifest/description.json
  html/manifest/display_override.json
  html/manifest/prefer_related_applications.json
  html/manifest/related_applications.json
  html/manifest/screenshots.json
Labels: data:html :page_facing_up:, needs content update 📝

#24121 Add the `writingsuggestions` HTML attribute to BCD
  api/HTMLElement.json
  html/global_attributes.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#24099 Update Chromium data for storage Web Extensions manifest property
  webextensions/manifest/storage.json
Labels: data:webext :game_die:

#24098 Update Chromium data for permissions Web Extensions manifest property
  webextensions/manifest/permissions.json
Labels: data:webext :game_die:

#24128 Update Edge data for mutation events
  api/MutationEvent.json
Labels: data:api :rabbit2:

#24122 Mirror manifest data and require real values for html/
  html/manifest/description.json
  html/manifest/display.json
  html/manifest/icons.json
  html/manifest/name.json
  html/manifest/note_taking.json
  html/manifest/orientation.json
  html/manifest/prefer_related_applications.json
  html/manifest/related_applications.json
  html/manifest/scope.json
  html/manifest/short_name.json
  html/manifest/start_url.json
  lint/linter/test-versions.ts
Labels: infra :building_construction:, data:html :page_facing_up:, linter :house_with_garden:

#24117 Safari 17.6 release
  browsers/safari.json
  browsers/safari_ios.json
  scripts/update-browser-releases/index.ts
Labels: infra :building_construction:, data:browsers :earth_africa:, scripts :scroll:

#24129 Hide traversed features count by default when output is piped
  scripts/traverse.ts
Labels: infra :building_construction:, scripts :scroll:

#24032 fix(api): add MDN urls to CSSPageDescriptors
  api/CSSPageDescriptors.json
Labels: data:api :rabbit2:

#24010 Remove CSS cursor: inherit
  css/properties/cursor.json
Labels: data:css :art:

#23993 Rename CSS inset-area property to position-area
  css/properties/position-area.json
  css/properties/position-try-fallbacks.json
Labels: data:css :art:

#24013 fix(css): add html standard links to media pseudo-classes
  css/selectors/buffering.json
  css/selectors/muted.json
  css/selectors/paused.json
  css/selectors/playing.json
  css/selectors/seeking.json
  css/selectors/stalled.json
  css/selectors/volume-locked.json
Labels: data:css :art:

#24102 Update Chromium data for theme Web Extensions manifest property
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#24148 Untag toLocaleString (move to Intl feature)
  javascript/builtins/Array.json
  javascript/builtins/BigInt.json
  javascript/builtins/TypedArray.json
Labels: data:js :pager:

#23927 feat(css): Add CSS Display Module Level 4 `reading-flow` property compatibility data
  css/properties/reading-flow.json
Labels: data:css :art:

#23939 deprecate webkit meter bar
  css/selectors/-webkit-meter-bar.json
Labels: data:css :art:

#23944 Mark SVG{String,Transform}List.length as standardized
  api/SVGStringList.json
  api/SVGTransformList.json
Labels: data:api :rabbit2:

#23973 Update data about import attributes
  browsers/nodejs.json
  javascript/statements.json
Labels: data:js :pager:, data:browsers :earth_africa:

#24005 Update Temporal data
  javascript/builtins/Temporal/Calendar.json
  javascript/builtins/Temporal/Duration.json
  javascript/builtins/Temporal/Instant.json
  javascript/builtins/Temporal/Now.json
  javascript/builtins/Temporal/PlainDate.json
  javascript/builtins/Temporal/PlainDateTime.json
  javascript/builtins/Temporal/PlainMonthDay.json
  javascript/builtins/Temporal/PlainTime.json
  javascript/builtins/Temporal/PlainYearMonth.json
  javascript/builtins/Temporal/TimeZone.json
  javascript/builtins/Temporal/ZonedDateTime.json
Labels: data:js :pager:

#24150 html.elements.textarea.placeholder: line breaks supported in Safari 16
  html/elements/textarea.json
Labels: data:html :page_facing_up:

#24037 FF130 supports oncontentvisibilityautostatechange event handler
  api/Element.json
Labels: data:api :rabbit2:

#24170 Add CSSPageDescriptors.pageOrientation/page-orientation
  api/CSSPageDescriptors.json
Labels: data:api :rabbit2:

#24165 css.at-rules.import.layer - add spec URL
  css/at-rules/import.json
Labels: data:css :art:

#24095 Update Opera data for page_action Web Extensions manifest property
  webextensions/manifest/page_action.json
Labels: data:webext :game_die:

#24094 Update Chromium data for options_page Web Extensions manifest property
  webextensions/manifest/options_page.json
Labels: data:webext :game_die:

#23992 css.properties.animation-timing-function: add level 2 easing spec
  css/properties/animation-timing-function.json
Labels: data:css :art:

#24092 Update Chromium data for webextensions.manifest.omnibox.keyword
  webextensions/manifest/omnibox.json
Labels: data:webext :game_die:

#24173 Update Deno data for api.EventTarget.addEventListener.options_parameter.options_passive_parameter_default_true_wheel
  api/EventTarget.json
Labels: data:api :rabbit2:

#23890 Update Chromium data for webextensions.api.privacy.services
  webextensions/api/privacy.json
Labels: data:webext :game_die:

#24078 Update Opera data for webextensions.api.devtools.panels.ExtensionSidebarPane
  webextensions/api/devtools.json
Labels: data:webext :game_die:

#24077 Update Chromium data for webextensions.api.commands.Command.name
  webextensions/api/commands.json
Labels: data:webext :game_die:

#24076 Update Firefox data for webextensions.api.browserAction.setBadgeBackgroundColor.string
  webextensions/api/browserAction.json
Labels: data:webext :game_die:

#24085 Update Chromium data for webextensions.manifest.background.scripts
  webextensions/manifest/background.json
Labels: data:webext :game_die:

#24083 Update Chromium data for webextensions.api.storage.StorageArea.onChanged
  webextensions/api/storage.json
Labels: data:webext :game_die:

#24082 Update Firefox data for runtime Web Extensions interface
  webextensions/api/runtime.json
Labels: data:webext :game_die:

#24081 Update Chromium data for menus Web Extensions interface
  webextensions/api/menus.json
Labels: data:webext :game_die:

#24080 Update Firefox data for webextensions.api.menus.ACTION_MENU_TOP_LEVEL_LIMIT
  webextensions/api/menus.json
Labels: data:webext :game_die:

#24079 Update Firefox data for events Web Extensions interface
  webextensions/api/events.json
Labels: data:webext :game_die:

#24086 Update Chromium data for content_scripts Web Extensions manifest property
  webextensions/manifest/content_scripts.json
Labels: data:webext :game_die:

#24087 Update Opera data for developer Web Extensions manifest property
  webextensions/manifest/developer.json
Labels: data:webext :game_die:

#24088 Update Chromium data for externally_connectable Web Extensions manifest property
  webextensions/manifest/externally_connectable.json
Labels: data:webext :game_die:

#24089 Update Chromium data for webextensions.manifest.incognito.spanning
  webextensions/manifest/incognito.json
Labels: data:webext :game_die:

#24184 Add mdn_url and spec_url for import_attributes
  javascript/statements.json
Labels: data:js :pager:

#24188 Release v5.5.47
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#24183 CSS `stroke` property spec URL
  css/properties/stroke.json
Labels: data:css :art:

#24181 Fix all JS data that show up in web-docs-backlog
  javascript/builtins/Intl/DateTimeFormat.json
  javascript/builtins/Intl/NumberFormat.json
  javascript/builtins/Intl/RelativeTimeFormat.json
  javascript/builtins/RegExp.json
  javascript/builtins/String.json
Labels: data:js :pager:

#24201 Deduplicate `-webkit-initial-letter` data
  css/properties/-webkit-initial-letter.json
Labels: data:css :art:

#24151 Update Safari data for form HTML element
  html/elements/form.json
Labels: data:html :page_facing_up:

#24198 `font-optical-sizing` version range corrections
  css/properties/font-optical-sizing.json
Labels: data:css :art:

#24215 Release v5.5.48
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#24210 Updates for Chrome 129 beta
  api/CSSPositionTryDescriptors.json
  api/PublicKeyCredential.json
  api/RTCDataChannel.json
  css/properties/interpolate-size.json
  css/properties/position-area.json
  css/properties/position-try-fallbacks.json
  css/types/calc-size.json
  javascript/builtins/Intl/DurationFormat.json
Labels: data:api :rabbit2:, data:css :art:, data:js :pager:

#24209 Move `css.types.color.transparent` to `css.types.color.named-color.transparent`
  css/types/color.json
Labels: data:css :art:

#24091 Update Chromium data for offline_enabled Web Extensions manifest property
  webextensions/manifest/offline_enabled.json
Labels: data:webext :game_die:

#24090 Update Chromium data for webextensions.manifest.manifest_version.v2
  webextensions/manifest/manifest_version.json
Labels: data:webext :game_die:

#24226 Update justify-content.json — the 'safe' keyword in Flexbox was added in Safari 17.6.
  css/properties/justify-content.json
Labels: data:css :art:

#24227 Update align-items.json — the 'safe' keyword in Flexbox was added in Safari 17.6.
  css/properties/align-items.json
Labels: data:css :art:

#24228 Update align-content.json — the 'safe' keyword in Flexbox was added in Safari 17.6.
  css/properties/align-content.json
Labels: data:css :art:

#24229 Update align-self.json — the 'safe' keyword in Flexbox was added in Safari 17.6.
  css/properties/align-self.json
Labels: data:css :art:

#24218 WebSocket constructor support for http(s) and relative URLs
  api/WebSocket.json
Labels: data:api :rabbit2:

#24232 Release v5.5.49
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#24208 Update metadata for PaymentResponse API
  api/PaymentResponse.json
Labels: data:api :rabbit2:

#24100 Update Firefox Android data for theme Web Extensions manifest property
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#24211 Add new Compute Pressure WebDriver commands
  webdriver/commands/CreateVirtualPressureSource.json
  webdriver/commands/DeleteVirtualPressureSource.json
  webdriver/commands/UpdateVirtualPressureSource.json
Labels: data:webdriver :racing_car:

#23911 Notification.requestPermission() - add version for returning Promise
  api/Notification.json
  utils/walk.test.ts
Labels: infra :building_construction:, data:api :rabbit2:

#24240 added the mdn & spec urls for api.HTMLDetailsElement.name
  api/HTMLDetailsElement.json
Labels: data:api :rabbit2:

#24241 added version_added and flags for reg_exp modifiers in firefox
  javascript/regular_expressions.json
Labels: data:js :pager:

#24096 Update Firefox Android data for page_action Web Extensions manifest property
  webextensions/manifest/page_action.json
Labels: data:webext :game_die:

#24097 Update Chromium data for page_action Web Extensions manifest property
  webextensions/manifest/page_action.json
Labels: data:webext :game_die:
