Repository mdn/browser-compat-data, pull requests merged in 2024-09, with the labels that each got.

#24084 Update Chromium data for webextensions.api.storage.StorageArea
  webextensions/api/storage.json
Labels: data:webext :game_die:

#24254 Add PointerEvent.persistentDeviceId spec
  api/PointerEvent.json
Labels: data:api :rabbit2:

#24296 Release v5.5.50
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#24301 :active-view-transition-type() is in STP 202
  css/selectors/active-view-transition-type.json
Labels: data:css :art:

#24304 ruby-align is in STP 202
  css/properties/ruby-align.json
Labels: data:css :art:

#24290 Update Firefox data for optional_permissions Web Extensions manifest
  webextensions/manifest/optional_permissions.json
Labels: data:webext :game_die:, KR: Real BCD :key:

#24300 view-transition-class is in STP 202
  css/properties/view-transition-class.json
Labels: data:css :art:

#24303 scrollbar-width is in STP 202
  css/properties/scrollbar-width.json
Labels: data:css :art:

#24255 Add latest samsung internet android releases
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#24295 Update Firefox data for dictionaries Web Extensions manifest property
  webextensions/manifest/dictionaries.json
Labels: data:webext :game_die:, KR: Real BCD :key:

#24294 Update Firefox data for webextensions.manifest.commands._execute_action
  webextensions/manifest/commands.json
Labels: data:webext :game_die:, KR: Real BCD :key:

#24145 Update FedCM spec URLs
  api/CredentialsContainer.json
  api/IdentityCredential.json
  api/IdentityProvider.json
  api/Navigator.json
  api/NavigatorLogin.json
  http/headers/Permissions-Policy.json
  http/headers/Set-Login.json
  package-lock.json
Labels: infra :building_construction:, data:http :mountain_cableway:, data:api :rabbit2:, dependencies :chains:

#24334 @page jis-b4/jis-b5 sizes now supported in STP 202
  css/at-rules/page.json
Labels: data:css :art:

#24335 ::target-text is now supported in STP 202
  css/selectors/target-text.json
Labels: data:css :art:

#24337 New PointerEvent APIs in STP 202
  api/PointerEvent.json
Labels: data:api :rabbit2:

#24336 Unprefixed ruby-position is in STP 202
  css/properties/ruby-position.json
Labels: data:css :art:

#24358 fix(css): update container spec URLs
  api/CSSContainerRule.json
  css/at-rules/container.json
  css/properties/contain.json
  css/properties/container-name.json
  css/properties/container-type.json
  css/properties/container.json
Labels: data:api :rabbit2:, data:css :art:

#24273 Add data for HTTP Refresh header
  html/elements/meta.json
  http/headers/Refresh.json
Labels: data:http :mountain_cableway:, data:html :page_facing_up:

#24038 Add locking mode options to FileSystemFileHandle
  api/FileSystemFileHandle.json
Labels: data:api :rabbit2:

#24360 Fix linter errors
  api/IDBFactory.json
  http/headers/Refresh.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#24366 Release v5.5.51
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#24157 Add missing features for caption-side CSS property
  css/properties/caption-side.json
Labels: data:css :art:

#24163 Add missing features for color-scheme CSS property
  css/properties/color-scheme.json
Labels: data:css :art:

#23557 Update Safari data for caption-side CSS property
  css/properties/caption-side.json
Labels: data:css :art:

#23473 Update Safari data for accent-color CSS property
  css/properties/accent-color.json
Labels: data:css :art:

#24331 Updates for Firefox 130 release
  api/AudioData.json
  api/AudioDecoder.json
  api/AudioEncoder.json
  api/EncodedAudioChunk.json
  api/EncodedVideoChunk.json
  api/VideoColorSpace.json
  api/VideoDecoder.json
  api/VideoEncoder.json
  api/VideoFrame.json
Labels: data:api :rabbit2:

#24372 Traverse script: allow filtering for features without tags
  scripts/traverse.ts
Labels: infra :building_construction:, scripts :scroll:

#24332 Updates for Firefox 131 beta
  api/Document.json
  api/FragmentDirective.json
  api/Permissions.json
  api/PointerEvent.json
  css/selectors/target-text.json
  html/elements/a.json
  javascript/builtins/Iterator.json
Labels: data:api :rabbit2:, data:css :art:, data:js :pager:, data:html :page_facing_up:

#24393 FF131 PointerEvent.PointerEvent() - azimuthAngle, altitudeAngle options
  api/PointerEvent.json
Labels: data:api :rabbit2:

#24374 SVG support was introduced in WebView Android 3
  svg/global_attributes.json
Labels: data:svg :paintbrush:

#23575 Remove css.properties.user-select.contain from BCD
  css/properties/user-select.json
Labels: data:css :art:

#24333 Add `background-clip: border-area`
  css/properties/background-clip.json
Labels: data:css :art:

#24364 Update Chromium data for WEBGL_compressed_texture_pvrtc API
  api/WEBGL_compressed_texture_pvrtc.json
Labels: data:api :rabbit2:

#24362 rename invoker related attributes & events to command
  api/CommandEvent.json
  api/HTMLButtonElement.json
  api/HTMLElement.json
  html/global_attributes.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#24375 Update Safari data for css.selectors.any-link.not_match_link
  css/selectors/any-link.json
Labels: data:css :art:

#24379 Update Safari iOS data for api.HTMLElement.popover
  api/HTMLElement.json
Labels: data:api :rabbit2:

#24381 Update Safari data for ImageCapture API
  api/ImageCapture.json
Labels: data:api :rabbit2:

#24385 Add missing css.properties.display.table-caption feature
  css/properties/display.json
Labels: data:css :art:

#24388 Update metadata for Expect-CT HTTP header
  http/headers/Expect-CT.json
Labels: data:http :mountain_cableway:

#24389 Update metadata for css.properties.width.stretch
  css/properties/width.json
Labels: data:css :art:

#24390 Update Firefox data for html.elements.link.rel.icon
  html/elements/link.json
Labels: data:html :page_facing_up:

#24391 Update metadata for css.properties.display.none
  css/properties/display.json
Labels: data:css :art:

#24383 Update WebView Android data for html.elements.script.type.speculationrules
  html/elements/script.json
Labels: data:html :page_facing_up:

#24225 Update partial implementation note for datalist
  html/elements/datalist.json
Labels: data:html :page_facing_up:

#23747 Add WKWebView to BCD
  browsers/webview_ios.json
  schemas/compat-data-schema.md
  schemas/compat-data.schema.json
  scripts/migrations/011-set-webview-ios-to-mirror.ts
  scripts/update-browser-releases/index.ts
Labels: schema :gear:, infra :building_construction:, docs :writing_hand:, data:browsers :earth_africa:, bulk_update :package:, scripts :scroll:

#24338 feat(css): Add browser compatibility data for the CSS `@custom-media` at-rule
  css/at-rules/custom-media.json
Labels: data:css :art:

#24415 Update WebView iOS using collector results
  api/Client.json
  api/Clients.json
  api/DeviceMotionEventAcceleration.json
  api/DeviceMotionEventRotationRate.json
  api/Document.json
  api/Element.json
  api/ExtendableEvent.json
  api/ExtendableMessageEvent.json
  api/FetchEvent.json
  api/InstallEvent.json
  api/MediaSource.json
  api/Navigator.json
  api/Notification.json
  api/NotificationEvent.json
  api/OES_texture_float_linear.json
  api/Permissions.json
  api/PushEvent.json
  api/PushManager.json
  api/PushMessageData.json
  api/PushSubscription.json
  api/PushSubscriptionChangeEvent.json
  api/PushSubscriptionOptions.json
  api/ServiceWorker.json
  api/ServiceWorkerContainer.json
  api/ServiceWorkerGlobalScope.json
  api/ServiceWorkerRegistration.json
  api/SourceBuffer.json
  api/WEBGL_compressed_texture_s3tc_srgb.json
  api/WindowClient.json
  api/WorkerGlobalScope.json
  api/WorkerNavigator.json
  css/properties/box-decoration-break.json
  css/properties/initial-letter.json
  css/properties/mask-clip.json
  css/properties/user-modify.json
  css/properties/user-select.json
  css/selectors/-webkit-inner-spin-button.json
  css/selectors/-webkit-meter-bar.json
  css/selectors/-webkit-meter-even-less-good-value.json
  css/selectors/-webkit-meter-inner-element.json
  css/selectors/-webkit-meter-optimum-value.json
  css/selectors/-webkit-meter-suboptimum-value.json
  css/selectors/-webkit-progress-bar.json
  css/selectors/-webkit-progress-inner-element.json
  css/selectors/-webkit-progress-value.json
  css/selectors/-webkit-search-cancel-button.json
  css/selectors/-webkit-search-results-button.json
  css/selectors/state.json
  css/types/color.json
  css/types/sign.json
Labels: data:api :rabbit2:, data:css :art:

#24411 feat(css): Update browser compatibility data for the CSS `calc-size()` function
  css/types/calc-size.json
Labels: data:css :art:

#24421 Update opera releases to latest
  browsers/opera.json
Labels: data:browsers :earth_africa:

#24422 Add Opera Android 84
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#24420 Mark scrollbar-gutter as supported in Safari TP
  css/properties/scrollbar-gutter.json
Labels: data:css :art:

#24400 shape() is now in STP 202
  css/types/basic-shape.json
Labels: data:css :art:

#24405 FF131 Document.caretPositionFromPoint() has new option
  api/Document.json
Labels: data:api :rabbit2:

#24403 FF131 CSSPositionTryRule/TryDescriptors - behind pref
  api/CSSPositionTryDescriptors.json
  api/CSSPositionTryRule.json
Labels: data:api :rabbit2:

#24398 ViewTransitionTypeSet is now in STP 202
  api/ViewTransitionTypeSet.json
Labels: data:api :rabbit2:

#24425 Add missing webview_ios to caretPositionFromPoint options_param
  api/Document.json
Labels: data:api :rabbit2:

#24397 types in ViewTransition is supported in STP 202
  api/ViewTransition.json
Labels: data:api :rabbit2:

#24424 Correct Opera Android 84 engine to 127
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#24426 Remove obsolete ApplicationCache data
  api/ApplicationCache.json
Labels: data:api :rabbit2:

#24438 Update fetchpriority support
  api/HTMLImageElement.json
  api/HTMLLinkElement.json
  api/HTMLScriptElement.json
  html/elements/img.json
  html/elements/link.json
  html/elements/script.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#24437 Fix mdn_url of api.UserActivation.hasBeenActive
  api/UserActivation.json
Labels: data:api :rabbit2:

#24442 RTCPeerConnection.createDTMFSender is non-standard
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#24455 Release v5.6.0
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#24456 Fix browser data regarding Safari 18
  browsers/safari.json
  browsers/safari_ios.json
  browsers/webview_ios.json
  scripts/update-browser-releases/safari.ts
Labels: infra :building_construction:, data:browsers :earth_africa:, scripts :scroll:

#24464 Release v5.6.1
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#24430 Remove html.elements.{area,object}.tabindex & Update html.global_attributes.tabindex
  html/elements/area.json
  html/elements/object.json
  html/global_attributes.json
Labels: data:html :page_facing_up:

#24461 Update spec_url of svg global attributes
  svg/global_attributes.json
Labels: data:svg :paintbrush:

#24401 CSS Style Queries: Add note about Safari not supporting these on body
  css/at-rules/container.json
Labels: data:css :art:

#24069 131 tab updates
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#24281 Update Firefox data for webextensions.api.webRequest.onBeforeSendHeaders.details.frameAncestors
  webextensions/api/webRequest.json
Labels: data:webext :game_die:

#24384 Add missing webextensions.api.declarativeNetRequest.RuleCondition.initiatorDomains feature
  webextensions/api/declarativeNetRequest.json
Labels: data:webext :game_die:

#24475 Release v5.6.2
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#24466 Deprecate X-Frame-Options
  http/headers/X-Frame-Options.json
Labels: data:http :mountain_cableway:

#24436 Add ruby-overhang
  css/properties/ruby-overhang.json
Labels: data:css :art:

#24487 Addition portion of PR #22216
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#22216 fix: webextensions.manifest.theme tab_background_separator and toolbar_field_separator deprecated in Firefox 89
  webextensions/manifest/theme.json
Labels: data:webext :game_die:

#24479 Update Chromium data for Clipboard API
  api/Clipboard.json
Labels: data:api :rabbit2:

#24480 Update Edge data for PageRevealEvent API
  api/PageRevealEvent.json
Labels: data:api :rabbit2:

#24482 Update Firefox data for RTCPeerConnection API
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#24483 Update Chromium data for ReadableStreamDefaultController API
  api/ReadableStreamDefaultController.json
Labels: data:api :rabbit2:

#24485 Update Chromium data for api.Request.cache.only-if-cached
  api/Request.json
Labels: data:api :rabbit2:

#24484 Update Chromium data for ReadableStreamDefaultReader API
  api/ReadableStreamDefaultReader.json
Labels: data:api :rabbit2:

#24478 Update metadata for html.elements.meta.http-equiv.content-type
  html/elements/meta.json
Labels: data:html :page_facing_up:

#24486 Update Chromium data for api.Performance.measure.measureOptions_parameter
  api/Performance.json
Labels: data:api :rabbit2:

#24508 Release v5.6.3
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#24506 Fix MathML attr mistype: moveablelimits > movablelimits
  mathml/elements/mo.json
Labels: data:mathml :heavy_division_sign:

#23476 Update Safari data for api.Navigator.setAppBadge
  api/Navigator.json
Labels: data:api :rabbit2:

#22767 Add exportFunction and cloneInto
  webextensions/api/contentScriptGlobalScope.json
Labels: data:webext :game_die:

#24387 Update Safari iOS data for cursor CSS property
  css/properties/cursor.json
Labels: data:css :art:

#24521 Use exact version for cloneInto and exportFunction
  webextensions/api/contentScriptGlobalScope.json
Labels: data:webext :game_die:, KR: Real BCD :key:

#24529 Fix exact version for cloneInto and exportFunction
  webextensions/api/contentScriptGlobalScope.json
Labels: data:webext :game_die:

#24539 `css.properties.grid-auto-flow.*`: remove Safari version ranges
  css/properties/grid-auto-flow.json
Labels: data:css :art:

#24567 Release v5.6.4
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:
