Repository mdn/browser-compat-data, pull requests merged in 2024-02, with the labels that each got.

#22121 fic(typo): Issue template typo
  .github/ISSUE_TEMPLATE/config.yml
Labels: infra :building_construction:

#22033 feat(api): Add Ed25519 sign/verify SubtleCrypto algo
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#22138 webextensions.api.permissions.request from Devtools
  webextensions/api/permissions.json
Labels: data:webext :game_die:

#22082 FF123 IDBObjectStore.createIndex() locale option deprecated
  api/IDBObjectStore.json
Labels: data:api :rabbit2:

#22079 FF122 URL() now parses host/hostname/port for unknown schemes
  api/URL.json
Labels: data:api :rabbit2:

#22092 Add data for html.elements.link.as
  html/elements/link.json
Labels: data:html :page_facing_up:

#22100 FF123 IDBLocaleAwareKeyRange - removed
  api/IDBIndex.json
  api/IDBLocaleAwareKeyRange.json
Labels: data:api :rabbit2:

#22105 Update residentKey support data
  api/CredentialsContainer.json
Labels: data:api :rabbit2:

#22113 Remove data of `title` attribute that duplicate with `title` global attributes
  html/elements/link.json
  html/elements/style.json
Labels: data:html :page_facing_up:

#22114 Add spec_url for `<head>` elements
  html/elements/head.json
Labels: data:html :page_facing_up:

#22115 Move `scheme` attribute to correct position in `<meta>` element
  html/elements/meta.json
Labels: data:html :page_facing_up:

#22104 Rename media-capture group to html-media-capture
  api/HTMLInputElement.json
  html/elements/input.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#22127 Update Chrome releases
  browsers/chrome.json
Labels: data:browsers :earth_africa:

#22145 Deprecated `usemap` attribute of `<object>` element and `useMap` property of `HTMLObjectElement` interface
  api/HTMLObjectElement.json
  html/elements/object.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#22083 FF121 CSS :state() pseudo class
  css/selectors/state.json
Labels: data:css :art:

#22169 Add missing spec_url for `External` interface
  api/External.json
Labels: data:api :rabbit2:

#22152 Add spec_url for `<input>` element
  api/HTMLInputElement.json
  html/elements/input.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#22153 Add & fix spec_url for `<img>` element
  api/HTMLImageElement.json
  html/elements/img.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#22154 Add spec_url for `<iframe>` element
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#22155 Add data of html.elements.q.cite
  html/elements/q.json
Labels: data:html :page_facing_up:

#22158 Remove data of html.elements.script.text
  html/elements/script.json
Labels: data:html :page_facing_up:

#22128 Update light-dark() support
  css/types/color.json
Labels: data:css :art:

#22149 Update spec_url for `PasswordCredential()` constructor
  api/PasswordCredential.json
Labels: data:api :rabbit2:

#22135 Add spec_url for `<html>` element
  html/elements/html.json
Labels: data:html :page_facing_up:

#21958 Remove `bgcolor` attribute of `<col>` element and `<colgroup>` element
  html/elements/col.json
  html/elements/colgroup.json
Labels: data:html :page_facing_up:

#22136 Remove html.elements.meter.form
  html/elements/meter.json
Labels: data:html :page_facing_up:

#21902 Add data for html.elements.{audio,video}.disableremoteplayback
  html/elements/audio.json
  html/elements/video.json
Labels: data:html :page_facing_up:

#22085 Remove javascript.builtins.DataView.buffer.sharedarraybuffer_support from BCD
  javascript/builtins/DataView.json
Labels: data:js :pager:

#21988 added the release version for color-interpolation
  css/properties/color-interpolation.json
  svg/attributes/presentation.json
Labels: data:css :art:, data:svg :paintbrush:

#22171 Add dictionaries manifest key
  webextensions/manifest/dictionaries.json
Labels: data:webext :game_die:

#22185 Bump web-specs from v2.41.0 to v3.0.0 and adjust test accordingly
  package-lock.json
  package.json
  test/linter/test-spec-urls.ts
Labels: infra :building_construction:, linter :house_with_garden:, dependencies :chains:

#21486 Update chrome and chrome_android entries in RemotePlayback.json
  api/HTMLMediaElement.json
  api/RemotePlayback.json
  html/elements/audio.json
  html/elements/video.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#22190 Release v5.5.10
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#22200 add mdn urls for properties
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#22204 Reinstate ddbeck to governance as a peer
  GOVERNANCE.md
Labels: docs :writing_hand:

#22201 Rename WebGL "SharedArrayBuffer_as_param" subfeatures
  api/WebGL2RenderingContext.json
  api/WebGLRenderingContext.json
Labels: data:api :rabbit2:

#22203 Remove api.Window.open.outerwidth_outerheight from BCD
  api/Window.json
Labels: data:api :rabbit2:

#22111 Remove api.WebGL[2]RenderingContext.blendFuncSeparate.SharedArrayBuffer_as_param from BCD
  api/WebGL2RenderingContext.json
  api/WebGLRenderingContext.json
Labels: data:api :rabbit2:

#22205 Chrome 123 will have full support for CSS paint-order
  css/properties/paint-order.json
Labels: data:css :art:

#22193 Add mdn_url for `HTMLSourceElement.{height,width}`
  api/HTMLSourceElement.json
Labels: data:api :rabbit2:

#22087 Remove javascript.builtins.Intl.PluralRules.resolvedOptions.result_* from BCD
  javascript/builtins/Intl/PluralRules.json
Labels: data:js :pager:

#22086 Remove javascript.builtins.Intl.NumberFormat.resolvedOptions.result_* from BCD
  javascript/builtins/Intl/NumberFormat.json
Labels: data:js :pager:

#22188 Speculation Rules add `urls` and `where` keys
  html/elements/script.json
Labels: data:html :page_facing_up:

#22172 FF123 FeaturePolicy: publickey-credentials-create supported
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:

#22164 Update `@import … supports()` support
  css/at-rules/import.json
Labels: data:css :art:

#22212 Update-browser-release: New Chrome release notes
  scripts/update-browser-releases/chrome.ts
Labels: scripts :scroll:

#22219 Update Safari support for ongamepadconnected + ongamepaddisconnected
  api/Window.json
Labels: data:api :rabbit2:

#22220 Mirror iOS support for client.ancestorOrigins
  api/WindowClient.json
Labels: data:api :rabbit2:

#22223 Mark SharedWorkerGlobalScope as not supported on Android
  api/SharedWorker.json
  api/SharedWorkerGlobalScope.json
Labels: data:api :rabbit2:

#22231 [font-face] COLRv1 support in FF went stable in 107
  css/at-rules/font-face.json
Labels: data:css :art:

#22228 Fix old chrome release notes
  browsers/chrome.json
  browsers/chrome_android.json
Labels: data:browsers :earth_africa:

#22233 Chrome releases script: Convert version number to string
  scripts/update-browser-releases/chrome.ts
Labels: scripts :scroll:

#22242 Add palette-mix() function as subfeature of font-palette
  css/properties/font-palette.json
Labels: data:css :art:

#22251 Update CSS exponential functions support in Chrome 120
  css/types/exp.json
  css/types/hypot.json
  css/types/log.json
  css/types/pow.json
  css/types/sqrt.json
Labels: data:css :art:

#22243 Mark unprefixed background-clip:text supported in Edge
  css/properties/background-clip.json
Labels: data:css :art:

#22232 Add scrollend event to VisualViewport
  api/Document.json
  api/Element.json
  api/VisualViewport.json
Labels: data:api :rabbit2:

#22110 Add a server-timing tag; Safari 16.4 supports Server-Timing header
  api/PerformanceResourceTiming.json
  api/PerformanceServerTiming.json
  http/headers/Server-Timing.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#22240 Add spec_url for `<ul>`
  html/elements/ul.json
Labels: data:html :page_facing_up:

#22238 Mark `NetworkInformation.typechange` event as non-standard
  api/NetworkInformation.json
Labels: data:api :rabbit2:

#22236 Remove subfeatures of length-percentage CSS value type from BCD
  css/types/length-percentage.json
Labels: data:css :art:

#22249 Remove css.types.color.hsla from BCD
  css/types/color.json
Labels: data:css :art:

#21901 Add data for html.elements.audio.crossorigin
  html/elements/audio.json
Labels: data:html :page_facing_up:

#22226 Change identifier for transition-behavior value of transition CSS property
  css/properties/transition.json
Labels: data:css :art:

#22247 Update Safari Fullscreen API data
  api/Document.json
  api/Element.json
  api/HTMLIFrameElement.json
  api/ShadowRoot.json
  css/selectors/fullscreen.json
  html/elements/iframe.json
Labels: data:api :rabbit2:, data:css :art:, data:html :page_facing_up:

#22147 Removed unnecessary wrapper from webextensions.api.tabs.highlight.pop…
  webextensions/api/tabs.json
Labels: data:webext :game_die:

#22148 Chrome support for webextensions.action.openpopup
  webextensions/api/browserAction.json
Labels: data:webext :game_die:

#22258 Updates opera browser to version 107
  browsers/opera.json
Labels: data:browsers :earth_africa:

#22032 Split value subfeatures of CSS properties
  css/properties/-moz-orient.json
  css/properties/background-repeat.json
  css/properties/background-size.json
  css/properties/caption-side.json
  css/properties/clear.json
  css/properties/clip-path.json
  css/properties/cursor.json
  css/properties/display.json
  css/properties/float.json
  css/properties/font.json
  css/properties/mask-origin.json
  css/properties/quotes.json
  css/properties/resize.json
  css/properties/text-align.json
  css/properties/text-emphasis-position.json
  css/properties/touch-action.json
  css/properties/writing-mode.json
Labels: data:css :art:

#22261 FF124 growable SharedArrayBuffer and resizeable ArrayBuffer behind prefs
  javascript/builtins/ArrayBuffer.json
  javascript/builtins/SharedArrayBuffer.json
Labels: data:js :pager:

#22255 FF124 Screen Wakelock API shipped
  api/Navigator.json
  api/Permissions.json
  api/WakeLock.json
  api/WakeLockSentinel.json
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#22259 FF124 AbortSignal.any() static method supported
  api/AbortSignal.json
Labels: data:api :rabbit2:

#22265 Release v5.5.11
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#22256 Update WeakMap.json NodeJS symbol_as_keys
  browsers/nodejs.json
  javascript/builtins/WeakMap.json
Labels: data:js :pager:, data:browsers :earth_africa:

#22270 fix(ci): migrate to husky v9
  .husky/pre-commit
  package.json
Labels: infra :building_construction:, dependencies :chains:

#22275 fix(browsers): add release dates for Opera Android 75-78
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#22268 Chrome support for webextensions.action.openpopup correction
  webextensions/api/action.json
  webextensions/api/browserAction.json
Labels: data:webext :game_die:

#22296 Release v5.5.12
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#22286 Update Edge 12 release date
  browsers/edge.json
Labels: data:browsers :earth_africa:

#22295 Safari 17.4 has complete support for forms in vertical writing modes
  css/properties/writing-mode.json
Labels: data:css :art:

#22298 Update Firefox support for vertical from control direction
  css/properties/direction.json
Labels: data:css :art:

#22311 Update Edge release notes
  browsers/edge.json
Labels: data:browsers :earth_africa:

#22316 Add zstd content-encoding and mark Brotli as standard
  http/headers/Content-Encoding.json
Labels: data:http :mountain_cableway:

#22314 Update Chrome data now it supports relative rgb() colors properly
  css/types/color.json
Labels: data:css :art:

#22323 Update Node data for javascript.builtins.Intl.DateTimeFormat.DateTimeFormat.options_parameter.options_timeZoneName_parameter.extended_values
  javascript/builtins/Intl/DateTimeFormat.json
Labels: data:js :pager:
