Repository mdn/browser-compat-data, pull requests merged in 2024-01, with the labels that each got.

#21795 Fix typo in description (HTMLFieldSetElement)
  api/HTMLFieldSetElement.json
Labels: data:api :rabbit2:

#21777 Add mdn_url for HTMLInputElement.disabled
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#21799 Update Firefox data for api.RTCDtlsTransport.error_event
  api/RTCDtlsTransport.json
Labels: data:api :rabbit2:

#21798 Update all browsers data for api.Element.focus*_event
  api/Element.json
Labels: data:api :rabbit2:

#21804 Update Safari data for svg.elements.a.rel
  svg/elements/a.json
Labels: data:svg :paintbrush:

#21803 Update Safari data for api.WorkerGlobalScope.languagechange_event
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#21731 Update basic-shape.json update Safari to "17.2" for `rect` and `xywh`
  css/types/basic-shape.json
Labels: data:css :art:

#21737 add spec-url for `MathMLElement`
  api/MathMLElement.json
Labels: data:api :rabbit2:

#21775 Update HTMLCanvasElement.json Safari added support for `quality` in version 11
  api/HTMLCanvasElement.json
Labels: data:api :rabbit2:

#21812 Update notes for api.HTMLVideoElement.disablePictureInPicture
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#21813 Add missing mdn_url for HTMLLinkElement.href
  api/HTMLLinkElement.json
Labels: data:api :rabbit2:

#21811 remove html.elements.accesskey
  html/elements/area.json
Labels: data:html :page_facing_up:

#21783 html.img: Remove phantom onerror deprecation
  html/elements/img.json
Labels: data:html :page_facing_up:

#21800 Update Safari data for api.Element.gesture*_event
  api/Element.json
Labels: data:api :rabbit2:

#21801 Update Firefox data for api.ServiceWorkerGlobalScope.sync_event
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#21772 Add & fix spec_url for `href` attribute of SVG elements
  api/SVGAElement.json
  api/SVGFilterElement.json
  api/SVGMPathElement.json
Labels: data:api :rabbit2:

#21802 Update Chromium data for api.Worker.messageerror_event
  api/Worker.json
Labels: data:api :rabbit2:

#21752 Remove description for `ReadableStream[@@asyncIterator]`
  api/ReadableStream.json
Labels: data:api :rabbit2:

#21746 mark `ServiceWorkerGlobalScope: abortpayment event` as non-standard
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#21715 Ff122 Element.checkVisibily options
  api/Element.json
Labels: data:api :rabbit2:

#21818 Release v5.5.4
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#21819 Update Safari data for api.FileSystemHandle.move
  api/FileSystemHandle.json
Labels: data:api :rabbit2:

#21829 Update Firefox data for html.elements.tr.valign
  html/elements/tr.json
Labels: data:html :page_facing_up:

#21815 Add shadowrootmode in Firefox preview
  api/HTMLTemplateElement.json
  html/elements/template.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#21831 Remove accept attribute from <form>
  html/elements/form.json
Labels: data:html :page_facing_up:

#21833 Delete css/selectors/-webkit-outer-spin-button.json
  css/selectors/-webkit-outer-spin-button.json
Labels: data:css :art:

#21834 Fix missing spec URLs for WorkletSharedStorage
  api/WorkletSharedStorage.json
Labels: data:api :rabbit2:

#21839 add mdn_urls for `Highlight` and `HighlightRegistry`
  api/Highlight.json
  api/HighlightRegistry.json
Labels: data:api :rabbit2:

#21841 add mdn_url for `HTMLElement.autofocus`
  api/HTMLElement.json
Labels: data:api :rabbit2:

#21851 add missing mdn_url for HTMLLinkElement.hreflang
  api/HTMLLinkElement.json
Labels: data:api :rabbit2:

#21854 add mdn_url for `HTMLElement.virtualKeyboardPolicy`
  api/HTMLElement.json
Labels: data:api :rabbit2:

#21853 Add a section stating what BCD doesn't track
  README.md
Labels: docs :writing_hand:

#21420 [css-color] mixed component values in color functions
  css/types/color.json
Labels: data:css :art:

#21830 Wake Lock API doesn't work in iOS Safari Home Screen Web Apps
  api/Navigator.json
  api/WakeLock.json
  api/WakeLockSentinel.json
Labels: data:api :rabbit2:

#21850 Safari 17.2 supports priority in fetch and request apis
  api/Request.json
  api/_globals/fetch.json
Labels: data:api :rabbit2:

#21863 add mdn_url for `HTMLScriptElement.crossOrigin`
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#21865 add mdn_url for `HTMLElement.translate`
  api/HTMLElement.json
Labels: data:api :rabbit2:

#21880 Release v5.5.5
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#21882 Rename css.properties.background-position.[4_value_syntax -> side-relative_values]
  css/properties/background-position.json
Labels: data:css :art:

#21890 Add missing features for api.RTCStatsReport.type_inbound-rtp
  api/RTCStatsReport.json
Labels: data:api :rabbit2:

#21894 Update Safari data for api.RTCStatsReport.type_inbound-rtp.mid
  api/RTCStatsReport.json
Labels: data:api :rabbit2:

#21899 Mark api.HTMLMediaElement.seekToNextFrame as non-standard
  api/HTMLMediaElement.json
Labels: data:api :rabbit2:

#21844 Firefox 122: Update motion-related features
  css/properties/offset-path.json
  css/types/ray.json
Labels: data:css :art:

#21877 updated the version added for ff for rect() and xywh()
  css/types/basic-shape.json
Labels: data:css :art:

#21832 Update data for <html manifest>
  html/elements/html.json
Labels: data:html :page_facing_up:

#21662 relnote(122): SVG use elements cannot use data URIs
  svg/elements/use.json
Labels: data:svg :paintbrush:

#21907 docs: added `impl_url` URLs
  css/at-rules/container.json
Labels: data:css :art:

#21918 Remove api.File.type from BCD
  api/File.json
Labels: data:api :rabbit2:

#21911 Update Firefox data for font-synthesis CSS property
  css/properties/font-synthesis.json
Labels: data:css :art:

#21870 Point to Baseline in readme/issue creation
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Labels: infra :building_construction:, docs :writing_hand:

#21928 Add missing features for alignment-baseline CSS property
  css/properties/alignment-baseline.json
Labels: data:css :art:

#21910 add spec_urls for `PaintSize` and `PaintRenderingContext2D`
  api/PaintRenderingContext2D.json
  api/PaintSize.json
Labels: data:api :rabbit2:

#21914 Update all browsers data for html.elements.head.profile
  html/elements/head.json
Labels: data:html :page_facing_up:

#21944 add mdn_urls for *VideoFrameCallback methods
  api/HTMLVideoElement.json
Labels: data:api :rabbit2:

#21836 Update Chrome/Safari data for svg.elements.feMergeNode.in
  svg/elements/feMergeNode.json
Labels: data:svg :paintbrush:

#21849 storage.StorageArea methods support in Firefox for Android
  webextensions/api/storage.json
Labels: data:webext :game_die:

#21820 Update Chrome/Safari data for api.SVGStyleElement.disabled
  api/SVGStyleElement.json
Labels: data:api :rabbit2:

#21726 Safari TP 185 supports CustomStateSet (flagged)
  api/CustomStateSet.json
  api/ElementInternals.json
Labels: data:api :rabbit2:

#21945 Update ruby-align.json STP supports `ruby-align` updating Safari to `preview`
  css/properties/ruby-align.json
Labels: data:css :art:

#21921 Add missing features for Element API
  api/Element.json
  api/ElementInternals.json
Labels: data:api :rabbit2:

#21938 mark `SyncManager` worker support as standard
  api/SyncManager.json
Labels: data:api :rabbit2:

#21937 Add info on bugs with CSS relative color support
  css/types/color.json
Labels: data:css :art:

#21956 Release v5.5.7
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#21951 Link Gecko/WebKit bugs for blocking=render attribute
  api/HTMLLinkElement.json
  api/HTMLScriptElement.json
  api/HTMLStyleElement.json
  html/elements/link.json
  html/elements/script.json
  html/elements/style.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#21966 Remove css.properties.outline.invert from BCD
  css/properties/outline.json
Labels: data:css :art:

#21919 Update Safari data for Alt-Svc HTTP header
  http/headers/Alt-Svc.json
Labels: data:http :mountain_cableway:

#21920 Add missing Directory API feature
  api/Directory.json
Labels: data:api :rabbit2:

#21893 Update Safari data for api.RTCStatsReport.type_candidate-pair.priority
  api/RTCStatsReport.json
Labels: data:api :rabbit2:

#21884 Add missing ManagedMediaSource API feature
  api/ManagedMediaSource.json
Labels: data:api :rabbit2:

#21883 Add missing BufferedChangeEvent API feature
  api/BufferedChangeEvent.json
Labels: data:api :rabbit2:

#21885 Add missing ManagedSourceBuffer API feature
  api/ManagedSourceBuffer.json
Labels: data:api :rabbit2:

#21837 Update Safari data for svg.elements.image.decoding
  svg/elements/image.json
Labels: data:svg :paintbrush:

#21760 Remove api.WebGLRenderingContext.canvas.OffscreenCanvas from BCD
  api/WebGL2RenderingContext.json
  api/WebGLRenderingContext.json
Labels: data:api :rabbit2:, needs content update 📝

#21767 Update Safari data for api.ServiceWorker.ecmascript_modules
  api/ServiceWorker.json
Labels: data:api :rabbit2:

#21821 Update Safari data for css.properties.contain.inline-size
  css/properties/contain.json
Labels: data:css :art:

#21823 Update Safari data for css.properties.overflow.overlay
  css/properties/overflow-x.json
  css/properties/overflow-y.json
  css/properties/overflow.json
Labels: data:css :art:

#21949 Fix Firefox version of NumberFormat signDisplay negative value
  javascript/builtins/Intl/NumberFormat.json
Labels: data:js :pager:

#21866 update buggy support for MediaStreamTrack.muted state
  api/MediaStreamTrack.json
Labels: data:api :rabbit2:

#21961 Add mdn_url for `Window.cookieStore`
  api/Window.json
Labels: data:api :rabbit2:

#21963 Add spec_urls for `<a>` element
  html/elements/a.json
Labels: data:html :page_facing_up:

#21960 Add mdn_url for `ServiceWorkerGlobalScope.cookieStore`
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#21959 add mdn_url for `ServiceWorkerRegistration.cookies`
  api/ServiceWorkerRegistration.json
Labels: data:api :rabbit2:

#21904 Add data for html.elements.video.disablepictureinpicture
  api/HTMLVideoElement.json
  html/elements/video.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#21903 Add data for html.elements.{audio,video}.controlslist
  html/elements/audio.json
  html/elements/video.json
Labels: data:html :page_facing_up:

#21897 Move html.elements.a.href_sms to html.elements.a.href.href_sms
  html/elements/a.json
Labels: data:html :page_facing_up:

#21876 Remove html.elements.button.autocomplete
  html/elements/button.json
Labels: data:html :page_facing_up:

#21864 Add data for html.elements.iframe.csp
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#21857 html.elements.img.decoding update mdn_url & fix spec_url
  html/elements/img.json
Labels: data:html :page_facing_up:

#21858 remove BCD of `<img>` element `onerror` event handler property
  html/elements/img.json
Labels: data:html :page_facing_up:

#21667 FF122 Clipboard async API in preview/late beta
  api/Clipboard.json
  api/ClipboardItem.json
Labels: data:api :rabbit2:

#21954 Add data for api.HTMLCanvasElement.mozPrintCallback
  api/HTMLCanvasElement.json
Labels: data:api :rabbit2:

#21906 Add data for html.elements.video.playsinline
  html/elements/video.json
Labels: data:html :page_facing_up:

#21967 Rename numerous features
  css/properties/animation.json
  css/properties/clip-path.json
  css/properties/display.json
  css/properties/filter.json
  css/properties/letter-spacing.json
  css/properties/mix-blend-mode.json
  css/properties/offset-path.json
  css/properties/text-decoration.json
  css/properties/transform-origin.json
  css/properties/transition.json
  css/properties/white-space.json
  css/properties/width.json
  css/properties/word-spacing.json
  javascript/builtins/Array.json
Labels: data:css :art:, data:js :pager:

#21948 Firefox122: Add clonable attribute to ShadowRoot
  api/Element.json
  api/ShadowRoot.json
Labels: data:api :rabbit2:

#21875 Move `popovertarget` and `popovertargetaction` data from global_attibutes to `<button>` and `<input>`
  html/elements/button.json
  html/elements/input.json
  html/global_attributes.json
Labels: data:html :page_facing_up:

#21986 Adding scripting to permissions manifest key
  webextensions/manifest/permissions.json
Labels: data:webext :game_die:

#21995 add mdn urls for ping property
  api/HTMLAnchorElement.json
  api/HTMLAreaElement.json
Labels: data:api :rabbit2:

#21993 Update content.json- Safari `alt_text` to `"preview"`
  css/properties/content.json
Labels: data:css :art:

#21987 Adding scripting to optional_permissions manifest key
  webextensions/manifest/optional_permissions.json
Labels: data:webext :game_die:

#22006 Update Edge data for CSSScopeRule API
  api/CSSScopeRule.json
Labels: data:api :rabbit2:

#22005 Update Edge data for CSS API
  api/CSS.json
Labels: data:api :rabbit2:

#22017 Update Opera releases
  browsers/opera.json
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#22000 Add Safari 17.4 support for date input showPicker function
  api/HTMLInputElement.json
  browsers/safari.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#22025 Release v5.5.8
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#22008 Update Edge data for api.Document.hasStorageAccess
  api/Document.json
Labels: data:api :rabbit2:

#22013 Add missing api.Document.hasPrivateToken feature
  api/Document.json
Labels: data:api :rabbit2:

#22015 Update Edge data for api.NavigateEvent.hasUAVisualTransition
  api/NavigateEvent.json
Labels: data:api :rabbit2:

#22018 Update Edge data for api.Window.vrdisplaypresentchange_event
  api/Window.json
Labels: data:api :rabbit2:

#22014 Update Edge data for api.Element.focus_event
  api/Element.json
Labels: data:api :rabbit2:

#22019 Update Edge data for api.Worker.messageerror_event
  api/Worker.json
Labels: data:api :rabbit2:

#22022 Update Edge data for transform-box CSS property
  css/properties/transform-box.json
Labels: data:css :art:

#22048 Add mdn_url for `HTMLIFrameElement.allowFullscreen`
  api/HTMLIFrameElement.json
Labels: data:api :rabbit2:

#22034 Chrome optional permissions update
  webextensions/manifest/optional_permissions.json
Labels: data:webext :game_die:

#21992 Updates for Deno v1.39 and v1.40
  api/AbortSignal.json
  api/BroadcastChannel.json
  api/GPU.json
  api/GPUAdapter.json
  api/GPUAdapterInfo.json
  api/GPUBindGroup.json
  api/GPUBindGroupLayout.json
  api/GPUBuffer.json
  api/GPUCanvasContext.json
  api/GPUCommandBuffer.json
  api/GPUCommandEncoder.json
  api/GPUCompilationInfo.json
  api/GPUCompilationMessage.json
  api/GPUComputePassEncoder.json
  api/GPUComputePipeline.json
  api/GPUDevice.json
  api/GPUDeviceLostInfo.json
  api/GPUError.json
  api/GPUExternalTexture.json
  api/GPUInternalError.json
  api/GPUOutOfMemoryError.json
  api/GPUPipelineError.json
  api/GPUPipelineLayout.json
  api/GPUQuerySet.json
  api/GPUQueue.json
  api/GPURenderBundle.json
  api/GPURenderBundleEncoder.json
  api/GPURenderPassEncoder.json
  api/GPURenderPipeline.json
  api/GPUSampler.json
  api/GPUShaderModule.json
  api/GPUSupportedFeatures.json
  api/GPUSupportedLimits.json
  api/GPUTexture.json
  api/GPUTextureView.json
  api/GPUUncapturedErrorEvent.json
  api/GPUValidationError.json
  api/ImageBitmap.json
  api/ImageData.json
  api/Navigator.json
  api/Window.json
  api/WorkerNavigator.json
  api/_globals/createImageBitmap.json
  browsers/deno.json
  javascript/builtins/Temporal/Calendar.json
  javascript/builtins/Temporal/Duration.json
  javascript/builtins/Temporal/Instant.json
  javascript/builtins/Temporal/Now.json
  javascript/builtins/Temporal/PlainDate.json
  javascript/builtins/Temporal/PlainDateTime.json
  javascript/builtins/Temporal/PlainMonthDay.json
  javascript/builtins/Temporal/PlainTime.json
  javascript/builtins/Temporal/PlainYearMonth.json
  javascript/builtins/Temporal/TimeZone.json
  javascript/builtins/Temporal/ZonedDateTime.json
Labels: data:api :rabbit2:, data:js :pager:, data:browsers :earth_africa:

#21981 commands.onCommand tab implementation link
  webextensions/api/commands.json
Labels: data:webext :game_die:

#21970 docs: added `impl_url` URLs in Navigation.json & NavigateEvent.json
  api/NavigateEvent.json
  api/Navigation.json
Labels: data:api :rabbit2:

#21736 mark Cookie Store API as not experimental
  api/CookieChangeEvent.json
  api/CookieStore.json
  api/CookieStoreManager.json
Labels: data:api :rabbit2:

#22077 Add `mdn_url`s for `HTMLIFrameElement`
  api/HTMLIFrameElement.json
Labels: data:api :rabbit2:

#22074 Add spec_url for `<area>` html element
  html/elements/area.json
Labels: data:html :page_facing_up:

#22075 Add spec_url for `<audio>` html element
  html/elements/audio.json
Labels: data:html :page_facing_up:

#22076 Add spec_url for `<video>` html element
  html/elements/video.json
Labels: data:html :page_facing_up:

#21984 Updates for Firefox 123 beta
  api/Element.json
  api/HTMLTemplateElement.json
  api/ShadowRoot.json
  css/properties/-moz-user-focus.json
  html/elements/template.json
  http/status.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:, data:css :art:, data:html :page_facing_up:

#22091 Add mdn_urls for `HTMLMetaElement`
  api/HTMLMetaElement.json
Labels: data:api :rabbit2:

#22088 Fix Safari releases script
  scripts/update-browser-releases/safari.ts
Labels: scripts :scroll:

#22021 Update Safari data for css.properties.content.image-set
  css/properties/content.json
Labels: data:css :art:

#22023 Update Chrome/Safari data for svg.elements.image.crossorigin
  svg/elements/image.json
Labels: data:svg :paintbrush:

#22035 Update Chrome/Safari data for DragEvent API
  api/DragEvent.json
Labels: data:api :rabbit2:

#22059 Update Opera data for Performance API
  api/Performance.json
Labels: data:api :rabbit2:

#22053 Update Opera data for api.MediaDevices.devicechange_event
  api/MediaDevices.json
Labels: data:api :rabbit2:

#22054 Update Opera data for MediaStream API
  api/MediaStream.json
Labels: data:api :rabbit2:

#22062 Update Opera data for RTCPeerConnection API
  api/RTCPeerConnection.json
Labels: data:api :rabbit2:

#22065 Update Opera data for SpeechGrammar API
  api/SpeechGrammar.json
Labels: data:api :rabbit2:

#22068 Update Opera data for api.Worker.messageerror_event
  api/Worker.json
Labels: data:api :rabbit2:

#22069 Update Opera data for api.WorkerNavigator.serial
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#22070 Update Opera data for api.WorkerNavigator.userAgentData
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#22071 Update Opera data for XR* API
  api/XRCamera.json
  api/XRSession.json
  api/XRView.json
  api/XRWebGLBinding.json
Labels: data:api :rabbit2:

#22001 Correct iOS Safari time input showPicker data
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#22024 Update Chromium data for Iterator JavaScript builtin
  javascript/builtins/Iterator.json
Labels: data:js :pager:

#22099 Rename features
  api/EventSource.json
  api/OfflineAudioContext.json
  api/Request.json
  api/XMLHttpRequest.json
  javascript/builtins/BigInt.json
  javascript/builtins/Date.json
  javascript/builtins/Number.json
  javascript/builtins/String.json
Labels: data:api :rabbit2:, data:js :pager:

#22094 Correct MDN URL for api.Animation.remove_filling_animation
  api/Animation.json
Labels: data:api :rabbit2:

#22102 CustomStateSet - spec links are wrong
  api/CustomStateSet.json
Labels: data:api :rabbit2:

#22043 Update WebView data for api.GamepadButton.touched
  api/GamepadButton.json
Labels: data:api :rabbit2:

#22097 Updating optional_permissions based on feedback to #22034
  webextensions/manifest/optional_permissions.json
Labels: data:webext :game_die:

#22116 Release v5.5.9
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#22112 Fix redirect links
  html/elements/a.json
  html/elements/area.json
  html/elements/link.json
Labels: data:html :page_facing_up:

#22120 add mdn urls for `type` property
  api/HTMLInputElement.json
  api/HTMLTextAreaElement.json
Labels: data:api :rabbit2:
