Repository mdn/browser-compat-data, pull requests merged in 2024-05, with the labels that each got.

#22982 Add spec_url for `<canvas>` element
  html/elements/canvas.json
Labels: data:html :page_facing_up:

#22980 Add spec_url for `<style>` element
  api/HTMLStyleElement.json
  html/elements/style.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#22880 Add spec_url for `<link>` element
  api/HTMLLinkElement.json
  html/elements/link.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#22984 Remove HTTP/1.1 tags
  http/headers/Accept-Encoding.json
  http/headers/Accept-Language.json
  http/headers/Accept-Ranges.json
  http/headers/Accept.json
  http/headers/Age.json
  http/headers/Authorization.json
  http/headers/Cache-Control.json
  http/headers/Connection.json
  http/headers/Content-Encoding.json
  http/headers/Content-Language.json
  http/headers/Content-Length.json
  http/headers/Content-Location.json
  http/headers/Content-Range.json
  http/headers/Content-Type.json
  http/headers/Date.json
  http/headers/ETag.json
  http/headers/Expect.json
  http/headers/Expires.json
  http/headers/From.json
  http/headers/Host.json
  http/headers/If-Match.json
  http/headers/If-Modified-Since.json
  http/headers/If-None-Match.json
  http/headers/If-Range.json
  http/headers/If-Unmodified-Since.json
  http/headers/Last-Modified.json
  http/headers/Location.json
  http/headers/Pragma.json
  http/headers/Proxy-Authenticate.json
  http/headers/Range.json
  http/headers/Referer.json
  http/headers/Retry-After.json
  http/headers/Server.json
  http/headers/TE.json
  http/headers/Trailer.json
  http/headers/Transfer-Encoding.json
  http/headers/User-Agent.json
  http/headers/Vary.json
  http/headers/Via.json
  http/headers/WWW-Authenticate.json
  http/headers/Warning.json
  http/methods.json
  http/status.json
Labels: data:http :mountain_cableway:

#22987 `page-break-{before,after}: avoid` not supported in Safari and Firefox
  css/properties/page-break-after.json
  css/properties/page-break-before.json
Labels: data:css :art:

#22687 Add Compute Pressure API
  api/Permissions.json
  api/PressureObserver.json
  api/PressureRecord.json
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#22977 Add sameSiteCookies option to SharedWorker options
  api/SharedWorker.json
Labels: data:api :rabbit2:

#22978 Add hasUnpartitionedCookieAccess
  api/Document.json
Labels: data:api :rabbit2:

#22972 32957 css zoom
  css/properties/zoom.json
Labels: data:css :art:

#22990 Add types argument to requestStorageAccess
  api/Document.json
Labels: data:api :rabbit2:

#22993 Add StorageAccessHandle
  api/StorageAccessHandle.json
Labels: data:api :rabbit2:

#23002 Release v5.5.25
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#23011 HTMLTemplateElement.shadow RootMode/DelegatesFocus/Clonable link to docs
  api/HTMLTemplateElement.json
Labels: data:api :rabbit2:

#22878 Deprecate the commit() method
  api/OffscreenCanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#23009 Element.currentCSSZoom - add doc link
  api/Element.json
Labels: data:api :rabbit2:

#23004 Add missing spec_url for `Window.sharedStorage`
  api/Window.json
Labels: data:api :rabbit2:

#22979 Add mdn_url for `HTMLLinkElement.integrity` and `HTMLScriptElement.integrity`
  api/HTMLLinkElement.json
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#22975 STP 193 supports api.PopStateEvent.hasUAVisualTransition
  api/PopStateEvent.json
Labels: data:api :rabbit2:

#22971 Mark window.speechSynthesis supported since Firefox Android 62
  api/Window.json
Labels: data:api :rabbit2:

#22966 Revisit tags for text fragments in web-features
  api/Document.json
  api/FragmentDirective.json
  css/selectors/target-text.json
Labels: data:api :rabbit2:, data:css :art:

#22944 Node.js 22.0.0
  api/WebSocket.json
  browsers/nodejs.json
  javascript/builtins/Array.json
  javascript/builtins/Iterator.json
  javascript/builtins/Promise.json
  javascript/builtins/Set.json
  javascript/statements.json
Labels: data:api :rabbit2:, data:js :pager:, data:browsers :earth_africa:

#22881 Add bug URLs for import assert type CSS
  javascript/statements.json
Labels: data:js :pager:

#22846 Mark Worker `name` option as available under android_webview
  api/Worker.json
Labels: data:api :rabbit2:

#23024 Add mdn docs link for `{HTMLLinkElement,HTMLScriptElement,HTMLStyleElement}.blocking`
  api/HTMLLinkElement.json
  api/HTMLScriptElement.json
  api/HTMLStyleElement.json
Labels: data:api :rabbit2:

#23027 Fix description and add mdn_url for some Mozilla pseudo-class and pseudo-element
  css/selectors/-moz-first-node.json
  css/selectors/-moz-focus-inner.json
  css/selectors/-moz-last-node.json
  css/selectors/-moz-list-bullet.json
  css/selectors/-moz-list-number.json
  css/selectors/-moz-progress-bar.json
Labels: data:css :art:

#23008 Fix android compat for StorageAccessHandle & requestStorageAccess(types) Android compat
  api/Document.json
  api/StorageAccessHandle.json
Labels: data:api :rabbit2:

#23045 Add latest opera android release
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#23046 Add opera 111 nightly
  browsers/opera.json
Labels: data:browsers :earth_africa:

#23056 Release v5.5.27
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#22594 Bluetooth.requestDevice() options.filters.[manufacturerData/exclusionFilters]
  api/Bluetooth.json
Labels: data:api :rabbit2:

#22769 Deno and Node support for non-registered symbols in `Weak{Map,Set,Ref}` and `FinalizationRegistry`
  javascript/builtins/FinalizationRegistry.json
  javascript/builtins/WeakMap.json
  javascript/builtins/WeakRef.json
  javascript/builtins/WeakSet.json
Labels: data:js :pager:

#22872 Add RTP header extension control methods
  api/RTCRtpTransceiver.json
Labels: data:api :rabbit2:

#22901 HTML Sanitizer API - deprecate and non-standard
  api/Element.json
  api/Sanitizer.json
Labels: data:api :rabbit2:

#22937 Update data for Cross-Document View Transitions features
  api/NavigationActivation.json
  api/PageRevealEvent.json
  api/PageSwapEvent.json
  api/Window.json
  css/at-rules/view-transition.json
  html/elements/link.json
Labels: data:api :rabbit2:, data:css :art:, data:html :page_facing_up:

#22981 Add mdn_url for `HTMLIFrameElement.allow`
  api/HTMLIFrameElement.json
Labels: data:api :rabbit2:

#23010 IDBDatabase.transaction() has non standard FF option readwriteflush
  api/IDBDatabase.json
Labels: data:api :rabbit2:

#23017 [CSS] Firefox 126 adds `shape()` function support
  css/types/basic-shape.json
Labels: data:css :art:

#23035 Add mdn_url for `HTMLElement.attributeStyleMap`
  api/HTMLElement.json
Labels: data:api :rabbit2:

#23039 Remove constraint validation tags from ElementInternals
  api/ElementInternals.json
Labels: data:api :rabbit2:

#23065 Add & update description key for CSS types and functions
  css/types/calc-constant.json
  css/types/color.json
  css/types/dimension.json
  css/types/filter-function.json
  css/types/line-style.json
  css/types/number.json
  css/types/ratio.json
  css/types/resolution.json
  css/types/string.json
  css/types/time-percentage.json
  css/types/time.json
Labels: data:css :art:

#23064 Add spec_url for `<source>` element
  html/elements/source.json
Labels: data:html :page_facing_up:

#23063 Add spec_url for `<object>` element
  html/elements/object.json
Labels: data:html :page_facing_up:

#23062 Add spec_url for `<embed>` element
  html/elements/embed.json
Labels: data:html :page_facing_up:

#23060 Add spec URLs for RTP header extension controls
  api/RTCRtpTransceiver.json
Labels: data:api :rabbit2:

#23038 Fix description for webkit specific selectors
  css/selectors/closed.json
  css/selectors/open.json
Labels: data:css :art:

#23092 Release v5.5.28
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#23103 Mark mask-* properties supported in Edge
  css/properties/mask-image.json
  css/properties/mask-position.json
  css/properties/mask-repeat.json
  css/properties/mask-size.json
Labels: data:css :art:

#23104 Update Chrome version for NDEFReader makeReadOnly()
  api/NDEFReader.json
Labels: data:api :rabbit2:

#23109 Update web-features tags for custom elements
  api/CustomElementRegistry.json
  api/Window.json
  css/selectors/defined.json
  css/selectors/host-context.json
  css/selectors/host.json
  css/selectors/part.json
Labels: data:api :rabbit2:, data:css :art:

#23096 Remove spaces before > in notes
  css/at-rules/font-face.json
  css/properties/border-image-slice.json
  css/properties/border-image.json
  css/properties/visibility.json
  css/types/length.json
Labels: data:css :art:

#23075 FF125 Clipboard.readText supported
  api/Clipboard.json
Labels: data:api :rabbit2:

#23110 Add mdn_url for `HTMLLinkElement.disabled`
  api/HTMLLinkElement.json
Labels: data:api :rabbit2:

#23127 Release v5.5.29
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#23078 Update NodeJS data for BroadcastChannel API
  api/BroadcastChannel.json
Labels: data:api :rabbit2:

#23120 Update NodeJS data for CustomEvent API
  api/CustomEvent.json
  browsers/nodejs.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#23114 Add filter to getDynamicRules and getSessionRules
  webextensions/api/declarativeNetRequest.json
Labels: data:webext :game_die:

#23144 Add `spec_urls` for Attribution Reporting API headers
  http/headers/Attribution-Reporting-Register-Source.json
  http/headers/Attribution-Reporting-Register-Trigger.json
Labels: data:http :mountain_cableway:

#23155 install_type added to management API
  webextensions/api/management.json
Labels: data:webext :game_die:

#23093 PerformanceResourceTiming shipped in Firefox 35
  api/PerformanceResourceTiming.json
Labels: data:api :rabbit2:

#23089 FF127 TC39 Set methods supported
  javascript/builtins/Set.json
Labels: data:js :pager:

#23172 Add data for html.elements.fencedframe.{width,height,allow}
  html/elements/fencedframe.json
Labels: data:html :page_facing_up:

#23171 Add anchor-center value to place-items and place-self
  css/properties/place-items.json
  css/properties/place-self.json
Labels: data:css :art:

#23117 Update d.json STP 194 supports d property in SVG
  css/properties/d.json
Labels: data:css :art:

#23116 Update Firefox data for content-visibility CSS property
  css/properties/content-visibility.json
Labels: data:css :art:

#23133 JavaScript Float16array
  javascript/builtins/DataView.json
  javascript/builtins/Float16Array.json
  javascript/builtins/Math.json
Labels: data:js :pager:

#23088 Ff125 shadowroot serializable
  api/Element.json
  api/HTMLTemplateElement.json
  html/elements/template.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#23013 Selection updates for parallel APIs ff125
  api/Selection.json
Labels: data:api :rabbit2:

#23098 Add inset-area() function BCD
  css/properties/position-try-options.json
Labels: data:css :art:

#23193 Release v5.5.30
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#23176 Add Firefox support for gradient colour spaces
  css/types/image.json
Labels: data:css :art:

#23188 Remove `web-features:svg2-script-html-equivalence` tag
  api/SVGScriptElement.json
  svg/elements/script.json
Labels: data:api :rabbit2:, data:svg :paintbrush:

#23134 FF127 clipboard enabled
  api/Clipboard.json
  api/ClipboardItem.json
Labels: data:api :rabbit2:

#21896 Add data for html.elements.a.attributionsourceid
  html/elements/a.json
Labels: data:html :page_facing_up:

#23111 Add mdn_url for `HTMLLinkElement.media`
  api/HTMLLinkElement.json
Labels: data:api :rabbit2:

#21874 Add data for `html.elements.input.required`
  html/elements/input.json
Labels: data:html :page_facing_up:

#23198 Updates for Firefox 127 beta / WebGL drawingBufferColorSpace
  api/WebGL2RenderingContext.json
  api/WebGLRenderingContext.json
Labels: data:api :rabbit2:

#23168 Add DNR getDisabledRuleIds and updateStaticRules
  webextensions/api/declarativeNetRequest.json
Labels: data:webext :game_die:

#23085 Add specifications and support information for the "size" attribute
  html/elements/input.json
Labels: data:html :page_facing_up:

#23079 Update Deno data for CountQueuingStrategy API
  api/CountQueuingStrategy.json
Labels: data:api :rabbit2:

#23077 Update Deno data for BroadcastChannel API
  api/BroadcastChannel.json
Labels: data:api :rabbit2:

#23076 Update rel=noopener compat data for android webview
  html/elements/a.json
Labels: data:html :page_facing_up:

#23208 Change back to Fx125 for Clipboard.readText
  api/Clipboard.json
Labels: data:api :rabbit2:

#23080 Update NodeJS data for api.CompressionStream.CompressionStream.deflate-raw
  api/CompressionStream.json
  api/DecompressionStream.json
  browsers/nodejs.json
Labels: data:api :rabbit2:, data:browsers :earth_africa:

#22956 Fix data guidelines for flag data
  docs/data-guidelines/index.md
Labels: docs :writing_hand:

#23153 Add importmap integrity subsection
  browsers/chrome.json
  html/elements/script.json
Labels: data:html :page_facing_up:, data:browsers :earth_africa:

#23225 Link Chromium bug for FontFaceSet constructor
  api/FontFaceSet.json
Labels: data:api :rabbit2:

#23072 Adds CSS state for Chrome 125
  css/selectors/state.json
Labels: data:css :art:

#23219 Update NodeJS data for FormData API
  api/FormData.json
Labels: data:api :rabbit2:

#23125 Update NodeJS data for DOMException API
  api/DOMException.json
Labels: data:api :rabbit2:
