Repository mdn/browser-compat-data, pull requests merged in 2024-10, with the labels that each got.

#24527 Update Chromium data for privacy Web Extensions api properties
  webextensions/api/privacy.json
Labels: data:webext :game_die:, KR: Real BCD :key:

#24189 update link
  css/properties/text-transform.json
Labels: data:css :art:

#24469 Add spec_url for svg <a> element
  svg/elements/a.json
Labels: data:svg :paintbrush:

#24495 Add Scroll Snap events
  api/Document.json
  api/Element.json
  api/SnapEvent.json
  api/Window.json
Labels: data:api :rabbit2:

#24472 CSPViolationReportBody.toJSON - add spec URL
  api/CSPViolationReportBody.json
Labels: data:api :rabbit2:

#24603 Add impl_url for `BarcodeDetector`
  api/BarcodeDetector.json
Labels: data:api :rabbit2:

#24568 Add spec_url for `InstallEvent` constructor
  api/InstallEvent.json
Labels: data:api :rabbit2:

#24586 `css.properties.column-span`: set plausible Edge versions for values
  css/properties/column-span.json
Labels: data:css :art:

#24462 Document that Safari generates randomized Ed25519 signatures
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#24585 `css.properties.column-fill`: correct Firefox versions
  css/properties/column-fill.json
Labels: data:css :art:

#24583 `css.at-rules.page`: remove erroneous Safari support
  css/at-rules/page.json
Labels: data:css :art:

#24599 css.at-rules.media.prefers-color-scheme - safari removed "no-preference" value
  css/at-rules/media.json
Labels: data:css :art:

#24575 Rename svg.global_attributes.{data => data_attributes}
  svg/global_attributes.json
Labels: data:svg :paintbrush:

#24503 Update Safari support for `css.types.resolution`
  css/types/resolution.json
Labels: data:css :art:

#24502 Deduplicate `css.types.basic-shape.path` and descendants
  css/types/basic-shape.json
Labels: data:css :art:

#24517 `css.properties.writing-mode`: fix faulty Edge mirroring
  css/properties/writing-mode.json
Labels: data:css :art:

#24253 Add new declarativeNetRequest RuleConditions
  webextensions/api/declarativeNetRequest.json
Labels: data:webext :game_die:

#24587 `css.properties.column-count.auto`: set plausible Edge value
  css/properties/column-count.json
Labels: data:css :art:

#24607 `svg.elements.animate*`: not supported in EdgeHTML
  svg/elements/animate.json
  svg/elements/animateMotion.json
  svg/elements/animateTransform.json
Labels: data:svg :paintbrush:

#24601 `css.properties.{min,max}-height`: clean up values for Edge and Firefox
  css/properties/max-height.json
  css/properties/min-height.json
Labels: data:css :art:

#24512 Update Firefox data for AudioEncoder API
  api/AudioEncoder.json
Labels: data:api :rabbit2:

#24612 fix(update-browser-releases): rename Chrome nightly branch to dev
  scripts/update-browser-releases/chrome.ts
  scripts/update-browser-releases/index.ts
Labels: infra :building_construction:, scripts :scroll:

#24275 FF131 Secure attr must be set if SameSite=None
  http/headers/Set-Cookie.json
Labels: data:http :mountain_cableway:

#24617 Add Firefox 132 support for JSON.parse with source features
  javascript/builtins/JSON.json
Labels: data:js :pager:

#24598 `css.properties.overscroll-behavior{,-x,-y}`: fix EdgeHTML notes and partials
  css/properties/overscroll-behavior-x.json
  css/properties/overscroll-behavior-y.json
  css/properties/overscroll-behavior.json
Labels: data:css :art:

#24608 Add Promise.try() support for Firefox 132
  javascript/builtins/Promise.json
Labels: data:js :pager:

#24543 Add note about lack of proper support for webkitdirectory on mobile
  api/HTMLInputElement.json
Labels: data:api :rabbit2:

#24631 Add Fx132 support for Notification.silent
  api/Notification.json
Labels: data:api :rabbit2:

#24496 `api.createImageBitmap.options_premultiplyAlpha_parameter`: add partial and note for `premultiplyAlpha` bug
  api/_globals/createImageBitmap.json
Labels: data:api :rabbit2:

#24652 enhance(update-browser-releases): ignore Safari patch versions
  scripts/update-browser-releases/safari.ts
Labels: infra :building_construction:, scripts :scroll:

#24581 `css.selectors.{before,after}`: make animation data consistent
  css/selectors/after.json
  css/selectors/before.json
Labels: data:css :art:

#24249 autocorrect property
  api/HTMLElement.json
  html/global_attributes.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#24359 FF46 makes push and notifications permission aliases
  api/Permissions.json
Labels: data:api :rabbit2:

#24624 FF132 WebGL drawingBufferColorSpace supported
  api/WebGL2RenderingContext.json
  api/WebGLRenderingContext.json
Labels: data:api :rabbit2:

#24261 Chrome/Safari only partially support list-item counter
  css/properties/counter-reset.json
Labels: data:css :art:

#23966 Firefox only partially supports `background-clip: text`
  css/properties/background-clip.json
Labels: data:css :art:

#24470 chore(css): Add `spec_url` to deprecated device-related `@media` features
  css/at-rules/media.json
Labels: data:css :art:

#24621 fix(css): mirror WebView support for `@custom-media`
  css/at-rules/custom-media.json
Labels: data:css :art:

#24635 `@view-transition` is supported in STP 204
  css/at-rules/view-transition.json
Labels: data:css :art:

#24518 fetchPriority enabled by default in Firefox 132
  api/HTMLImageElement.json
  api/HTMLLinkElement.json
  api/HTMLScriptElement.json
  api/Request.json
  html/elements/img.json
  html/elements/link.json
  html/elements/script.json
  http/headers/Link.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:, data:html :page_facing_up:

#24658 Updates for Firefox 132 beta
  api/CSSNestedDeclarations.json
  api/MediaStreamTrack.json
  api/WebGL2RenderingContext.json
  api/WebGLRenderingContext.json
  html/elements/link.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#24661 fix(generate-types): run tsc with --skipLibCheck
  scripts/generate-types.ts
Labels: infra :building_construction:, scripts :scroll:

#24593 Firefox 132 removes user-modified property
  css/properties/user-modify.json
Labels: data:css :art:

#24668 Release v5.6.5
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#24554 Update Safari data for api.Request.cache.only-if-cached
  api/Request.json
Labels: data:api :rabbit2:

#24559 Update Safari data for api.SVGElement.className
  api/SVGElement.json
Labels: data:api :rabbit2:

#24558 Update Safari data for SVGAnimatedTransformList API
  api/SVGAnimatedTransformList.json
Labels: data:api :rabbit2:

#24557 Safari 3 added SVGAnimatedString API support
  api/SVGAnimatedString.json
Labels: data:api :rabbit2:

#24556 Safari 11 added api.SubtleCrypto.deriveKey support
  api/SubtleCrypto.json
Labels: data:api :rabbit2:

#24555 Safari 10.1 added api.Response.Response.accept_readablestream support
  api/Response.json
Labels: data:api :rabbit2:

#24553 Safari 10 added ReadableStreamDefaultReader API support
  api/ReadableStreamDefaultReader.json
Labels: data:api :rabbit2:

#24552 Safari 10 added ReadableStreamDefaultController API support
  api/ReadableStreamDefaultController.json
Labels: data:api :rabbit2:

#24551 Safari 1 supported api.MediaList.toString
  api/MediaList.json
Labels: data:api :rabbit2:

#24550 Safari 7 added MediaController API support
  api/MediaController.json
Labels: data:api :rabbit2:

#24549 Safari 3 added HTMLFormControlsCollection API support
  api/HTMLFormControlsCollection.json
Labels: data:api :rabbit2:

#24547 Safari 39 added api.Response.Response.accept_readablestream support
  api/Response.json
Labels: data:api :rabbit2:

#24546 Chromium 79 improved api.RTCStatsReport.type_inbound-rtp support
  api/RTCStatsReport.json
Labels: data:api :rabbit2:

#24544 Edge 12 supported BaseAudioContext API
  api/BaseAudioContext.json
Labels: data:api :rabbit2:

#24531 Chromium 75 added bulk-memory-operations WebAssembly feature
  webassembly/bulk-memory-operations.json
Labels: data:wasm :mechanical_arm:

#24524 Opera Android supports javascript.grammar.numeric_separators
  javascript/grammar.json
Labels: data:js :pager:

#24523 Opera Android supports javascript.builtins.Intl.DateTimeFormat.DateTimeFormat.options_parameter.options_dayPeriod_parameter
  javascript/builtins/Intl/DateTimeFormat.json
Labels: data:js :pager:

#24522 Opera Android supports javascript.builtins.Intl.Collator.Collator.options_collation_parameter
  javascript/builtins/Intl/Collator.json
Labels: data:js :pager:

#24534 Chrome 69 + Firefox 62 added mutable-globals WebAssembly feature
  webassembly/mutable-globals.json
Labels: data:wasm :mechanical_arm:

#24653 Chromium doesn't support `FontFaceSetLoadEvent` in workers
  api/FontFaceSetLoadEvent.json
Labels: data:api :rabbit2:

#24443 Remove api.FetchEvent.replacesClientId from BCD
  api/FetchEvent.json
Labels: data:api :rabbit2:, needs content update 📝

#24538 Chrome 131 adds some WebHID API support for web workers
  api/HID.json
  api/HIDConnectionEvent.json
  api/HIDDevice.json
  api/HIDInputReportEvent.json
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#24670 Firefox 132 supports `text-emphasis-position: auto`
  css/properties/text-emphasis-position.json
Labels: data:css :art:

#24639 Chromium only partially supports WebUSB API in web workers
  api/USB.json
  api/USBAlternateInterface.json
  api/USBConfiguration.json
  api/USBConnectionEvent.json
  api/USBDevice.json
  api/USBEndpoint.json
  api/USBInTransferResult.json
  api/USBInterface.json
  api/USBIsochronousInTransferPacket.json
  api/USBIsochronousInTransferResult.json
  api/USBIsochronousOutTransferPacket.json
  api/USBIsochronousOutTransferResult.json
  api/USBOutTransferResult.json
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#24675 Firefox 102+ doesn't support console.profileEnd
  api/_globals/console.json
Labels: data:api :rabbit2:

#24380 Chromium doesn't support webextensions.manifest.action.theme_icons
  webextensions/manifest/action.json
Labels: data:webext :game_die:

#22040 Chrome Android 109 adds FileSystemWritableFileStream API support
  api/FileSystemWritableFileStream.json
Labels: data:api :rabbit2:

#23592 Fix feature name and description for IDBDatabase.transaction subfeature
  api/IDBDatabase.json
Labels: data:api :rabbit2:

#23631 Firefox 36+ applies object-position to iframes
  css/properties/object-position.json
Labels: data:css :art:

#24152 Chromium doesn't support font-variant-position
  css/properties/font-variant-position.json
Labels: data:css :art:

#24154 Firefox 124 added `white-space-collapse: preserve-spaces`
  css/properties/white-space-collapse.json
Labels: data:css :art:, needs content update 📝

#24156 Add `border-collapse: collapse` and `border-collapse: separate`
  css/properties/border-collapse.json
Labels: data:css :art:

#24158 Add `clip: auto`
  css/properties/clip.json
Labels: data:css :art:

#24678 Safari TP 201 supports `text-underline-position: left | right`
  css/properties/text-underline-position.json
Labels: data:css :art:

#24164 Add `column-width: auto`
  css/properties/column-width.json
Labels: data:css :art:

#24454 Firefox 131 adds preliminary support for position-area
  css/properties/position-area.json
Labels: data:css :art:

#24660 Add COOP noopener-allow-popups
  http/headers/Cross-Origin-Opener-Policy.json
Labels: data:http :mountain_cableway:

#24692 Sync html.elements.meter with api.HTMLMeterElement
  html/elements/meter.json
Labels: data:html :page_facing_up:

#24687 chore(web-features): sync names with v2
  api/GravitySensor.json
  api/HTMLCanvasElement.json
Labels: data:api :rabbit2:

#24392 Add missing css.properties.display.none.option_is_hidden feature
  css/properties/display.json
Labels: data:css :art:

#24701 Add toneMapping and getConfiguration()
  api/GPUCanvasContext.json
Labels: data:api :rabbit2:

#24697 Add impl_url for EyeDropper API in webview
  api/EyeDropper.json
Labels: data:api :rabbit2:

#24532 Update all browsers data for non-trapping-float-to-int-conversions WebAssembly feature
  webassembly/non-trapping-float-to-int-conversions.json
Labels: data:wasm :mechanical_arm:

#24533 Update all browsers data for sign-extension-operations WebAssembly feature
  webassembly/sign-extension-operations.json
Labels: data:wasm :mechanical_arm:

#24620 Chromium doesn't support `ProgressEvent` in Web Workers
  api/ProgressEvent.json
Labels: data:api :rabbit2:

#24669 enhance(lint/fix): add --only option
  lint/fix.ts
  lint/fixer/browser-order.ts
  lint/fixer/descriptions.ts
  lint/fixer/feature-order.ts
  lint/fixer/flags.ts
  lint/fixer/links.ts
  lint/fixer/mdn-urls.ts
  lint/fixer/mirror.ts
  lint/fixer/property-order.ts
  lint/fixer/statement-order.ts
  lint/fixer/status.ts
  lint/utils.ts
Labels: infra :building_construction:, linter :house_with_garden:

#24662 enhance(build): print output paths
  scripts/build/index.ts
Labels: infra :building_construction:, scripts :scroll:

#24707 Add deprecated, experimental and standard track flags to traverse
  scripts/traverse.test.ts
  scripts/traverse.ts
Labels: infra :building_construction:, scripts :scroll:

#24711 Combine status options in traverse
  scripts/traverse.test.ts
  scripts/traverse.ts
Labels: infra :building_construction:, scripts :scroll:

#24712 FF132 CloseWatcher behind pref
  api/CloseWatcher.json
Labels: data:api :rabbit2:

#24633 Firefox Nightly supports Cookie Store API
  api/CookieChangeEvent.json
  api/CookieStore.json
  api/ServiceWorkerGlobalScope.json
  api/Window.json
Labels: data:api :rabbit2:

#24725 Release v5.6.7
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#24721 Update Peer list
  GOVERNANCE.md
Labels: docs :writing_hand:

#24720 `api.WakeLock`: remove partial from Safari on iOS
  api/WakeLock.json
Labels: data:api :rabbit2:

#24610 Chromium and Safari don't support `Worker` in Shared Workers
  api/Worker.json
Labels: data:api :rabbit2:

#24548 Update Safari data for api.HTMLElement.contentEditable.plaintext-only
  api/HTMLElement.json
Labels: data:api :rabbit2:

#24611 Chromium does not support `DedicatedWorkerGlobalScope.requestAnimationFrame()` in nested workers
  api/DedicatedWorkerGlobalScope.json
Labels: data:api :rabbit2:

#24734 Add Safari impl_url for Presentation API
  api/Navigator.json
  api/Presentation.json
  api/PresentationAvailability.json
  api/PresentationConnection.json
  api/PresentationConnectionAvailableEvent.json
  api/PresentationConnectionCloseEvent.json
  api/PresentationConnectionList.json
  api/PresentationReceiver.json
  api/PresentationRequest.json
Labels: data:api :rabbit2:

#23578 Remove css.properties.column-fill.balance-all from BCD
  css/properties/column-fill.json
Labels: data:css :art:

#23635 Sort out autoplay data
  html/elements/audio.json
  html/elements/video.json
Labels: data:html :page_facing_up:

#24743 Firefox 132 ships regexp modifiers
  javascript/regular_expressions.json
Labels: data:js :pager:

#24733 Add WebView `impl_url`s for Presentation API
  api/Navigator.json
  api/Presentation.json
  api/PresentationAvailability.json
  api/PresentationConnection.json
  api/PresentationConnectionAvailableEvent.json
  api/PresentationConnectionCloseEvent.json
  api/PresentationConnectionList.json
  api/PresentationReceiver.json
  api/PresentationRequest.json
Labels: data:api :rabbit2:

#24738 Add WebView impl_url for Media Session API
  api/MediaMetadata.json
  api/MediaSession.json
  api/Navigator.json
Labels: data:api :rabbit2:

#24749 Add Webview impl_url for Share API
  api/Navigator.json
Labels: data:api :rabbit2:

#24750 Add Safari impl_url for Navigation API
  api/NavigateEvent.json
  api/Navigation.json
  api/NavigationActivation.json
  api/NavigationCurrentEntryChangeEvent.json
  api/NavigationDestination.json
  api/NavigationHistoryEntry.json
  api/NavigationTransition.json
Labels: data:api :rabbit2:

#24751 Add Chrome Android impl_url for `registerProtocolHandler`
  api/Navigator.json
Labels: data:api :rabbit2:

#24752 Add Chrome Android impl_url for File System Access API
  api/DataTransferItem.json
  api/Window.json
Labels: data:api :rabbit2:

#24756 Release v5.6.8
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#23688 Update Safari data for html.global_attributes.autofocus
  api/HTMLElement.json
  html/global_attributes.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#24761 Add Chrome impl_url for `MediaDevices.selectAudioOutput()`
  api/MediaDevices.json
Labels: data:api :rabbit2:

#24778 Updates for Chrome 131 beta
  api/CSSMarginRule.json
  api/GPUAdapter.json
  api/Request.json
  api/XRFrame.json
  api/XRHand.json
  api/XRInputSource.json
  api/XRJointPose.json
  api/XRJointSpace.json
  css/at-rules/page.json
  css/properties/anchor-scope.json
  css/properties/font-variant-emoji.json
  css/selectors/details-content.json
Labels: data:api :rabbit2:, data:css :art:

#24795 Remove Chromium impl_url and add Firefox impl_url for `NavigationActivation`
  api/NavigationActivation.json
Labels: data:api :rabbit2:

#24809 fix(workflows): prevent tests from running twice on every pull request
  .github/workflows/node.js.yml
Labels: infra :building_construction:

#24724 feat(workflows): update MDN urls in mdn-content-inventory Dependabot PR
  .github/workflows/update-mdn-urls.yml
Labels: infra :building_construction:

#24825 fix(update-mdn-url): checkout with mdn-bot token
  .github/workflows/update-mdn-urls.yml
Labels: infra :building_construction:

#24822 Chrome 117 supports Clear-Site-Data wildcard
  http/headers/Clear-Site-Data.json
Labels: data:http :mountain_cableway:

#24820 Remove two obsolete features
  api/ServiceWorkerContainer.json
  mathml/elements/maction.json
Labels: data:api :rabbit2:, data:mathml :heavy_division_sign:

#24821 Safari 17 Clear-Site-Data supports "cache", "cookies", "storage" directives
  http/headers/Clear-Site-Data.json
Labels: data:http :mountain_cableway:

#24817 Add Firefox impl_url for `URLPattern`
  api/URLPattern.json
Labels: data:api :rabbit2:

#24792 Fix data version of `NavigateEvent.canTransition`
  api/NavigateEvent.json
Labels: data:api :rabbit2:

#24765 Add Webview impl_url for Web Serial API
  api/Navigator.json
  api/Serial.json
  api/SerialPort.json
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#24767 Add Chrome Android & Webview impl_url for WebHID API
  api/HID.json
  api/HIDConnectionEvent.json
  api/HIDDevice.json
  api/HIDInputReportEvent.json
  api/Navigator.json
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#24769 Remove bluetooth permission descriptor
  api/Permissions.json
Labels: data:api :rabbit2:

#24780 Chromium 130 supports transferable `RTCDataChannel`
  api/RTCDataChannel.json
Labels: data:api :rabbit2:

#24789 Add positioned_boxes context for align/justify/place-self
  css/properties/align-self.json
  css/properties/justify-self.json
  css/properties/place-self.json
Labels: data:css :art:

#24812 Chromium 122 stopped exposing {PaymentManager,PaymentRequestUpdateEvent} in insecure context
  api/PaymentManager.json
  api/PaymentRequestUpdateEvent.json
Labels: data:api :rabbit2:

#24815 Safari 15.4 reinstates`api.{Worker,}Navigator.hardwareConcurrency`
  api/Navigator.json
  api/WorkerNavigator.json
Labels: data:api :rabbit2:

#24816 Safari iOS doesn't support `api.WorkerGlobalScope.languagechange_event`
  api/WorkerGlobalScope.json
Labels: data:api :rabbit2:

#24656 Firefox previews fetch() keepalive support
  api/Request.json
  api/_globals/fetch.json
Labels: data:api :rabbit2:

#23487 Add missing features for html.elements.iframe.allow
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#23483 Update Safari iOS data for api.Window.open
  api/Window.json
Labels: data:api :rabbit2:

#24766 Add feature for focusable `display: contents` elements
  css/properties/display.json
Labels: data:css :art:

#24860 fix(update-mdn-urls): run on pull_request_target, not push
  .github/workflows/update-mdn-urls.yml
Labels: infra :building_construction:

#24862 fixup! fix(update-mdn-urls): run on pull_request_target, not push
  .github/workflows/update-mdn-urls.yml
Labels: infra :building_construction:

#24861 Add hrefTranslate attribute
  api/HTMLAnchorElement.json
  html/elements/a.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#24859 `css.properties.column-width.auto`: show support in EdgeHTML
  css/properties/column-width.json
Labels: data:css :art:

#24854 Add safari impl_url for Window Controls Overlay API
  api/Navigator.json
  api/WindowControlsOverlay.json
  api/WindowControlsOverlayGeometryChangeEvent.json
Labels: data:api :rabbit2:

#24833 Revert "Add Firefox 132 support for JSON.parse wth source features (#…
  javascript/builtins/JSON.json
Labels: data:js :pager:

#24846 FF133 EventSource in ServiceWorkers
  api/EventSource.json
Labels: data:api :rabbit2:

#24855 Add more members to SharedStorage
  api/SharedStorage.json
Labels: data:api :rabbit2:

#24856 InkPresenter -> DelegatedInkTrailPresenter
  api/DelegatedInkTrailPresenter.json
Labels: data:api :rabbit2:, needs content update 📝

#24841 Add Clear-Site-Data impl_urls for Firefox
  http/headers/Clear-Site-Data.json
Labels: data:http :mountain_cableway:

#24834 HTMLElement.autocorrect full implementation
  api/HTMLElement.json
Labels: data:api :rabbit2:

#24832 Add Safari impl_url for Speech Selection API
  api/HTMLMediaElement.json
  api/MediaDevices.json
  html/elements/iframe.json
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:, data:html :page_facing_up:

#24811 Chromium 131 validates depth bias on line and point topologies
  api/GPUDevice.json
Labels: data:api :rabbit2:

#24863 Updates for Firefox 133 beta
  api/ImageDecoder.json
  api/ImageTrack.json
  api/ImageTrackList.json
  api/Request.json
  api/WorkerNavigator.json
  javascript/builtins/Uint8Array.json
Labels: data:api :rabbit2:, data:js :pager:
