Repository mdn/browser-compat-data, pull requests merged in 2024-04, with the labels that each got.

#22746 Fix the linter fix script
  lint/fix.ts
Labels: linter :house_with_garden:

#22748 Update Safari data for Navigator API
  api/Navigator.json
Labels: data:api :rabbit2:

#22743 Update Chrome/Safari data for URLSearchParams API
  api/URLSearchParams.json
Labels: data:api :rabbit2:

#22761 Release v5.5.19
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#22669 Updates for Firefox 125 beta
  api/Element.json
  api/ElementInternals.json
  api/HTMLButtonElement.json
  api/HTMLElement.json
  api/HTMLInputElement.json
  api/RTCDtlsTransport.json
  api/RTCIceTransport.json
  api/SVGAElement.json
  css/properties/transform-box.json
  css/selectors/backdrop.json
  css/selectors/popover-open.json
  html/elements/button.json
  html/elements/input.json
  html/global_attributes.json
  javascript/builtins/Intl/Segments.json
  webassembly/multiMemory.json
Labels: data:api :rabbit2:, data:css :art:, data:js :pager:, data:html :page_facing_up:, data:wasm :mechanical_arm:

#22728 Link prel preload supported as values
  html/elements/link.json
Labels: data:html :page_facing_up:

#22766 Add BCD for JSON.rawJSON and JSON.isRawJSON
  javascript/builtins/JSON.json
Labels: data:js :pager:

#21978 Remove the item* microdata attributes (not supported by browsers)
  html/global_attributes.json
Labels: data:html :page_facing_up:

#22775 chore(ci): Bump actions/labeler from 4 to 5
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: infra :building_construction:

#22160 Chrome feature webextensions.api.windows.onBoundsChanged
  webextensions/api/windows.json
Labels: data:webext :game_die:

#22182 Data for setPage & setHeight in devtools.panels.ExtensionSidebarPane
  webextensions/api/devtools.json
Labels: data:webext :game_die:

#22510 RTCStatsReport.type_media-source for video
  api/RTCStatsReport.json
Labels: data:api :rabbit2:

#22722 Revert "Update Safari data for AudioTrack API"
  api/AudioTrack.json
Labels: data:api :rabbit2:

#22724 Deno 1.42.0
  browsers/deno.json
  javascript/builtins/Iterator.json
  javascript/builtins/Set.json
Labels: data:js :pager:, data:browsers :earth_africa:

#22733 Add spec_url for attributes in `<template>` element
  html/elements/template.json
Labels: data:html :page_facing_up:

#22734 Add spec_url for attributes in `<track>` element
  html/elements/track.json
Labels: data:html :page_facing_up:

#22796 Link bug for font-variation-settings descriptor
  css/at-rules/font-face.json
Labels: data:css :art:

#22779 Mirror Chrome Android data for Edit Context API
  api/CharacterBoundsUpdateEvent.json
  api/EditContext.json
  api/HTMLElement.json
  api/TextFormat.json
  api/TextFormatUpdateEvent.json
  api/TextUpdateEvent.json
Labels: data:api :rabbit2:

#22780 Update tags for renamed web-features
  api/Element.json
  css/at-rules/font-face.json
  css/selectors/read-only.json
  css/selectors/read-write.json
Labels: data:api :rabbit2:, data:css :art:

#22788 Update Edge data for backdrop-filter
  css/properties/backdrop-filter.json
Labels: data:css :art:

#22768 Add shadowrootclonable attribute
  api/HTMLTemplateElement.json
  html/elements/template.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#22785 Remove irrelevant flags for Web Bluetooth
  api/Bluetooth.json
  api/BluetoothCharacteristicProperties.json
  api/BluetoothDevice.json
  api/BluetoothRemoteGATTCharacteristic.json
  api/BluetoothRemoteGATTDescriptor.json
  api/BluetoothRemoteGATTServer.json
  api/BluetoothRemoteGATTService.json
  api/BluetoothUUID.json
  api/Navigator.json
  lint/linter/test-flags.ts
Labels: infra :building_construction:, data:api :rabbit2:, linter :house_with_garden:

#22791 Update Chrome data for align-content: last baseline
  css/properties/align-content.json
Labels: data:css :art:

#22793 Remove setActionHandler() partial impl. + notes for Firefox/Safari
  api/MediaSession.json
Labels: data:api :rabbit2:

#22795 Add bugs and notes for the pushsubscriptionchange event
  api/PushSubscriptionChangeEvent.json
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#22787 Turn Bluetooth partial impl with notes into multiple support statements
  api/Bluetooth.json
  api/BluetoothCharacteristicProperties.json
  api/BluetoothDevice.json
  api/BluetoothRemoteGATTCharacteristic.json
  api/BluetoothRemoteGATTDescriptor.json
  api/BluetoothRemoteGATTServer.json
  api/BluetoothRemoteGATTService.json
  api/BluetoothUUID.json
  api/Navigator.json
  api/NetworkInformation.json
Labels: data:api :rabbit2:

#22784 Tag additional entries for web-features
  api/CSSContainerRule.json
  api/CSSFontFeatureValuesRule.json
  css/at-rules/font-feature-values.json
  css/properties/animation.json
  css/types/length.json
  javascript/builtins/TypedArray.json
  javascript/operators/super.json
Labels: data:api :rabbit2:, data:css :art:, data:js :pager:

#22731 New CSS Custom Highlights web-feature tag
  api/CSS.json
  api/Highlight.json
  api/HighlightRegistry.json
  css/selectors/highlight.json
Labels: data:api :rabbit2:, data:css :art:

#22804 Release v5.5.20
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#22802 Mark getContributingSources() audioLevel property supported in Chrome
  api/RTCRtpReceiver.json
Labels: data:api :rabbit2:

#22809 Split `api.Headers.lexicographical_sorting` in two and update the data
  api/Headers.json
Labels: data:api :rabbit2:

#22765 Updates for Safari 17.5 (19618.2.4.11.2)
  api/CSSImportRule.json
  api/CSSStartingStyleRule.json
  css/at-rules/starting-style.json
  css/properties/text-wrap-style.json
  css/properties/text-wrap.json
  css/types/color.json
Labels: data:api :rabbit2:, data:css :art:

#22668 Note re proxy.ProxyInfo.proxyAuthorizationHeader HTTP support from 125
  webextensions/api/proxy.json
Labels: data:webext :game_die:

#22822 Release v5.5.21
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#22829 Add spec_url for `<base>` element
  html/elements/base.json
Labels: data:html :page_facing_up:

#22828 Add missing spec_url for `PerformanceNavigation` & `PerformanceTiming`
  api/PerformanceNavigation.json
  api/PerformanceTiming.json
Labels: data:api :rabbit2:

#22825 Remove all "Thing() without new throws" entries
  javascript/builtins/ArrayBuffer.json
  javascript/builtins/DataView.json
  javascript/builtins/Float32Array.json
  javascript/builtins/Float64Array.json
  javascript/builtins/Int16Array.json
  javascript/builtins/Int32Array.json
  javascript/builtins/Int8Array.json
  javascript/builtins/Map.json
  javascript/builtins/Set.json
  javascript/builtins/TypedArray.json
  javascript/builtins/Uint16Array.json
  javascript/builtins/Uint32Array.json
  javascript/builtins/Uint8Array.json
  javascript/builtins/Uint8ClampedArray.json
  javascript/builtins/WeakMap.json
Labels: data:js :pager:

#22826 Describe slotchange event in Safari 10
  api/HTMLSlotElement.json
Labels: data:api :rabbit2:

#22818 Link Chrome bug for offscreen canvas commit()
  api/OffscreenCanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#22821 Correct the import assertions and attributes compat table
  javascript/statements.json
Labels: data:js :pager:

#22820 Rename subfeature to content-visibility animation
  css/properties/content-visibility.json
Labels: data:css :art:

#22824 Mark some members (has been removed from standard) as non-standard
  api/PushManager.json
  api/PushSubscription.json
Labels: data:api :rabbit2:

#22836 chore(relnotes): Enable CSS transition-behavior in Nightly
  css/properties/transition-behavior.json
  css/properties/transition.json
Labels: data:css :art:

#22830 Add runtime.MessageSender.origin support in Firefox 126
  webextensions/api/runtime.json
Labels: data:webext :game_die:

#22827 Adds Commands.on command.tab support
  webextensions/api/commands.json
Labels: data:webext :game_die:

#22838 FF126 HTTP Content-Encoding supports zstd encoding
  http/headers/Content-Encoding.json
Labels: data:http :mountain_cableway:

#22837 Update ArrayBuffer.json for Deno
  javascript/builtins/ArrayBuffer.json
Labels: data:js :pager:

#22819 Update <hr> in <select>
  html/elements/hr.json
  html/elements/select.json
Labels: data:html :page_facing_up:

#22800 Add BCD for JSON.parse with source context
  javascript/builtins/JSON.json
Labels: data:js :pager:

#22739 Update Chromium data for api.HTMLTemplateElement.shadowRootDelegatesFocus
  api/HTMLTemplateElement.json
Labels: data:api :rabbit2:

#22741 Update Safari data for api.IntersectionObserver.IntersectionObserver.options_root_parameter_Document
  api/IntersectionObserver.json
Labels: data:api :rabbit2:

#22842 Add missing engine_version field to latest edge releases
  browsers/edge.json
  css/properties/align-content.json
Labels: data:css :art:, data:browsers :earth_africa:

#22742 Update Safari data for api.OffscreenCanvas.getContext
  api/OffscreenCanvas.json
Labels: data:api :rabbit2:

#22753 ambient sensor permissions behind flag on chrome
  api/Permissions.json
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:

#22789 Remove web-features tags for CSS Typed OM bits
  api/CSS.json
Labels: data:api :rabbit2:

#22012 Update Safari data for referrerPolicy features
  api/HTMLAnchorElement.json
  api/HTMLAreaElement.json
  api/HTMLIFrameElement.json
  api/HTMLImageElement.json
  api/HTMLLinkElement.json
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#22041 Update WebView data for FontFaceSetLoadEvent API
  api/FontFaceSetLoadEvent.json
Labels: data:api :rabbit2:

#22844 Add engine_version for Edge when automatically updating data
  scripts/update-browser-releases/edge.ts
Labels: infra :building_construction:, scripts :scroll:

#22845 Release v5.5.22
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#22851 Add PerformanceScriptTiming.sourceFunctionName
  api/PerformanceScriptTiming.json
Labels: data:api :rabbit2:

#22850 Chrome now provides full release notes
  scripts/update-browser-releases/chrome.ts
Labels: infra :building_construction:, scripts :scroll:

#22858 Add latest opera releases
  browsers/opera.json
Labels: data:browsers :earth_africa:

#22859 Add latest opera android releases
  browsers/opera_android.json
Labels: data:browsers :earth_africa:

#22847 Mark calc constants e and pi supported in Chrome
  css/types/calc-constant.json
Labels: data:css :art:

#22864 `sandbox=allow-storage-access-by-user-activation` is enabled by default on Firefox
  html/elements/iframe.json
Labels: data:html :page_facing_up:

#22869 Revert non-snapshot additions
  javascript/builtins/ArrayBuffer.json
  javascript/builtins/BigInt64Array.json
  javascript/builtins/BigUint64Array.json
  javascript/builtins/DataView.json
  javascript/builtins/FinalizationRegistry.json
  javascript/builtins/Iterator.json
  javascript/builtins/WeakRef.json
Labels: data:js :pager:

#22866 Add data for getHTML method
  api/Element.json
  api/ShadowRoot.json
Labels: data:api :rabbit2:

#22876 Update spec url for outerHTML property
  api/Element.json
Labels: data:api :rabbit2:

#22857 Add TextEvent
  api/TextEvent.json
Labels: data:api :rabbit2:

#22852 Firefox 125 shipped context loss events for canvas
  api/CanvasRenderingContext2D.json
  api/HTMLCanvasElement.json
  api/OffscreenCanvas.json
  api/OffscreenCanvasRenderingContext2D.json
Labels: data:api :rabbit2:

#22879 Add spec_url for `HTMLFrameElement`
  api/HTMLFrameElement.json
Labels: data:api :rabbit2:

#22887 Delete -webkit-hyphenate-character
  css/properties/-webkit-hyphenate-character.json
Labels: data:css :art:

#22871 Add RTCRtpReceiver.jitterBufferTarget
  api/RTCRtpReceiver.json
Labels: data:api :rabbit2:

#22900 Add spec_url for `<script>` element
  api/HTMLScriptElement.json
  html/elements/script.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#22892 Add mdn_url for `HTMLScriptElement.type`
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#22865 Update spec_url for innerHTML properties
  api/Element.json
  api/ShadowRoot.json
Labels: data:api :rabbit2:

#22875 Add WebSocketStream
  api/WebSocketError.json
  api/WebSocketStream.json
Labels: data:api :rabbit2:

#22899 Mirror CSSStyleSheet constructor data for Chromium
  api/CSSStyleSheet.json
Labels: data:api :rabbit2:

#22884 Mark Worker constructor options.type supported in Safari
  api/Worker.json
Labels: data:api :rabbit2:

#22904 Add mdn_url for `HTMLScriptElement.noModule`
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#22909 Add mdn_url for `HTMLLinkElement.type`
  api/HTMLLinkElement.json
Labels: data:api :rabbit2:

#22908 Add mdn_url for `HTMLScriptElement.fetchPriority`
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#22910 Delete anchor HTML attribute
  html/global_attributes.json
Labels: data:html :page_facing_up:

#22903 Tag CSS Anchor Positioning
  api/CSSPositionTryDescriptors.json
  api/CSSPositionTryRule.json
  css/at-rules/position-try.json
  css/properties/align-items.json
  css/properties/align-self.json
  css/properties/anchor-name.json
  css/properties/block-size.json
  css/properties/bottom.json
  css/properties/height.json
  css/properties/inline-size.json
  css/properties/inset-area.json
  css/properties/inset-block-end.json
  css/properties/inset-block-start.json
  css/properties/inset-block.json
  css/properties/inset-inline-end.json
  css/properties/inset-inline-start.json
  css/properties/inset-inline.json
  css/properties/inset.json
  css/properties/justify-items.json
  css/properties/justify-self.json
  css/properties/left.json
  css/properties/max-block-size.json
  css/properties/max-height.json
  css/properties/max-inline-size.json
  css/properties/max-width.json
  css/properties/min-block-size.json
  css/properties/min-height.json
  css/properties/min-inline-size.json
  css/properties/min-width.json
  css/properties/position-anchor.json
  css/properties/position-try-options.json
  css/properties/position-try-order.json
  css/properties/position-try.json
  css/properties/position-visibility.json
  css/properties/right.json
  css/properties/top.json
  css/properties/width.json
  css/types/anchor-size.json
  css/types/anchor.json
Labels: data:api :rabbit2:, data:css :art:

#22854 Updates for Firefox 126 beta
  api/CustomStateSet.json
  api/Element.json
  api/ElementInternals.json
  api/HTMLMarqueeElement.json
  api/IDBFactory.json
  api/IDBTransaction.json
  api/Navigator.json
  api/Permissions.json
  api/RTCIceCandidate.json
  api/Selection.json
  api/URL.json
  api/WakeLock.json
  api/WakeLockSentinel.json
  css/properties/zoom.json
  css/selectors/state.json
  http/headers/Permissions-Policy.json
Labels: data:http :mountain_cableway:, data:api :rabbit2:, data:css :art:

#22916 Add mdn_url for `HTMLIFrameElement.sandbox`
  api/HTMLIFrameElement.json
Labels: data:api :rabbit2:

#22917 Release v5.5.23
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:

#22915 FF126 Selection.getComposedRanges() in nightly
  api/Selection.json
Labels: data:api :rabbit2:

#22918 Update Edge releases
  browsers/edge.json
Labels: data:browsers :earth_africa:

#22877 Adding manifest options_page support in FF126
  webextensions/manifest/options_page.json
Labels: data:webext :game_die:

#22930 Mark HTTP GET as supported since the first release of each browser
  http/methods.json
Labels: data:http :mountain_cableway:

#22914 Add back the anchor HTML attribute
  api/HTMLElement.json
  html/global_attributes.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#22928 Update perspective-origin subfeatures to match initial support
  css/properties/perspective-origin.json
Labels: data:css :art:

#22925 Update Edge release dates to match release notes
  browsers/edge.json
Labels: data:browsers :earth_africa:

#22839 Add manifest permissions.webRequestAuthProvider supported from FF126
  webextensions/manifest/permissions.json
Labels: data:webext :game_die:

#22934 Add mdn_url for `HTMLScriptElement.src`
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#22912 Update Chrome/Safari data for image-set()
  css/properties/background-image.json
  css/properties/content.json
  css/types/image.json
Labels: data:css :art:

#22936 Mark font-size-adjust:none as supported since Firefox 3
  css/properties/font-size-adjust.json
Labels: data:css :art:

#22902 Correct and simplify Firefox data for image-set()
  css/properties/background-image.json
  css/properties/content.json
  css/types/image.json
Labels: data:css :art:

#22924 Updates for Chrome 125 beta
  api/HTMLTemplateElement.json
  api/ShadowRoot.json
  api/ViewTransition.json
  api/ViewTransitionTypeSet.json
  css/properties/view-transition-class.json
  css/types/mod.json
  css/types/rem.json
  css/types/round.json
Labels: data:api :rabbit2:, data:css :art:

#22939 Mark support for image-set() in Safari as partial until 17
  css/properties/background-image.json
  css/properties/content.json
  css/types/image.json
Labels: data:css :art:

#22860 Add latest samsung internet android releases
  browsers/samsunginternet_android.json
Labels: data:browsers :earth_africa:

#22856 Firefox 125 ships shadowrootclonable
  api/HTMLTemplateElement.json
  html/elements/template.json
Labels: data:api :rabbit2:, data:html :page_facing_up:

#22943 Match viewport units rename in web-features
  css/types/length.json
Labels: data:css :art:

#22951 Treat -webkit-line-clamp as a prefix of line-clamp
  css/properties/line-clamp.json
Labels: data:css :art:

#22940 Split CSSStyleSheet baseURL parameter into a subfeature
  api/CSSStyleSheet.json
Labels: data:api :rabbit2:

#22953 Add mdn_url for `HTMLScriptElement.async` and `HTMLScriptElement.defer`
  api/HTMLScriptElement.json
Labels: data:api :rabbit2:

#22913 Revert "Update Edge versions for MediaDeviceInfo API"
  api/MediaDeviceInfo.json
Labels: data:api :rabbit2:

#22926 Remove transform-box from web-features:transforms2d
  css/properties/transform-box.json
Labels: data:css :art:

#22947 RTCIceCandidate - incorrect MDN urls to the Stats docs with same name
  api/RTCIceCandidate.json
Labels: data:api :rabbit2:

#22950 Remove MathML web-features tags
  api/MathMLElement.json
  mathml/elements/math.json
  mathml/elements/merror.json
  mathml/elements/mfrac.json
  mathml/elements/mi.json
  mathml/elements/mmultiscripts.json
  mathml/elements/mn.json
  mathml/elements/mo.json
  mathml/elements/mover.json
  mathml/elements/mpadded.json
  mathml/elements/mphantom.json
  mathml/elements/mroot.json
  mathml/elements/mrow.json
  mathml/elements/ms.json
  mathml/elements/mspace.json
  mathml/elements/msqrt.json
  mathml/elements/mstyle.json
  mathml/elements/msub.json
  mathml/elements/msubsup.json
  mathml/elements/msup.json
  mathml/elements/mtable.json
  mathml/elements/mtd.json
  mathml/elements/mtext.json
  mathml/elements/mtr.json
  mathml/elements/munder.json
  mathml/elements/munderover.json
  mathml/elements/semantics.json
  mathml/global_attributes.json
Labels: data:api :rabbit2:, data:mathml :heavy_division_sign:

#22886 Mark the push event supported in Safari iOS (with notes)
  api/ServiceWorkerGlobalScope.json
Labels: data:api :rabbit2:

#22885 Remove PushManager "Available in workers"
  api/PushManager.json
Labels: data:api :rabbit2:

#22965 Link WebKit bug for document.fragementDirective
  api/Document.json
  api/FragmentDirective.json
Labels: data:api :rabbit2:

#22736 Update ElementInternals.json - STP 191 added support for `ariaBrailleLabel` and `ariaBrailleRoleDescription`
  api/Element.json
  api/ElementInternals.json
Labels: data:api :rabbit2:

#22974 Release v5.5.24
  RELEASE_NOTES.md
  package-lock.json
  package.json
Labels: infra :building_construction:, docs :writing_hand:, dependencies :chains:
