Repository mdn/browser-compat-data, pull requests merged in 2025-09, with the labels that each got.

#27657 Bug-1946600 addition of webextension.api.browserSetting.verticalTabs
  webextensions/api/browserSettings.json
Labels: data:webext, size:s

#27553 Issue 27539 webextensions.api.scripting.executeScript - injectImmediately requires Chromium >= 102
  webextensions/api/scripting.json
Labels: data:webext, size:xs

#27643 Bug-1960011 adds tabs.onUpdated.filter.cookieStoreId
  webextensions/api/tabs.json
Labels: data:webext, size:s

#27742 Fix shadowrootclonable, shadowrootdelegatesfocus & shadowrootserializable Safari compat data
  html/elements/template.json
Labels: data:html, size:s

#27735 Remove 'Error API' feature from `CredentialsContainer.get`
  api/CredentialsContainer.json
Labels: data:api, size:m

#27737 Add member data to webextensions.api.types.BrowserSetting for Issue 26521
  webextensions/api/types.json
Labels: data:webext, size:m

#27716 Bug-1679997 CSS origin for registered content scripts
  webextensions/api/contentScripts.json
  webextensions/api/scripting.json
  webextensions/manifest/content_scripts.json
Labels: data:webext, size:m

#27753 Firefox 141 supports cross-origin LCP render time
  api/LargestContentfulPaint.json
Labels: data:api, size:xs

#27761 chore(github): add code owners for schema/workflows
  .github/CODEOWNERS
Labels: infra, size:s

#27767 Bug-1910669 fix to StorageArea.getKeys() Firefox implementation version
  webextensions/api/storage.json
Labels: data:webext, size:s

#27726 Firefox Nightly supports CSS `text-autospace` behind flag
  css/properties/text-autospace.json
Labels: data:css, size:l

#27733 Remove `iconURL` and `name` from `FederatedCredential`
  api/FederatedCredential.json
Labels: data:api, size:m

#27878 Firefox 143 adds `::{before,after}::marker` nested pseudo-elements
  css/selectors/after.json
  css/selectors/before.json
Labels: data:css, size:s

#27894 Firefox 144 makes `RTCDataChannel` transferable
  api/RTCDataChannel.json
Labels: data:api, size:xs

#27796 Safari 17 added `push` permission
  api/Permissions.json
Labels: data:api, size:xs

#27813 Revert "Remove `iconURL` and `name` from `FederatedCredential`"
  api/FederatedCredential.json
Labels: data:api, size:m

#27831 Remove `Fence.setReportEventDataForAutomaticBeacons.start_commit_eventType`
  api/Fence.json
Labels: data:api, size:m

#27902 Updates for Firefox 144 beta
  api/CSSStyleProperties.json
  api/CommandEvent.json
  api/Document.json
  api/DocumentFragment.json
  api/Element.json
  api/GPUDevice.json
  api/GPUQueue.json
  api/HTMLButtonElement.json
  api/Performance.json
  api/PerformanceEventTiming.json
  api/ViewTransition.json
  css/properties/view-transition-class.json
  css/properties/view-transition-name.json
  css/selectors/view-transition-group.json
  css/selectors/view-transition-image-pair.json
  css/selectors/view-transition-new.json
  css/selectors/view-transition-old.json
  css/selectors/view-transition.json
  javascript/builtins/Map.json
  javascript/builtins/WeakMap.json
Labels: data:api, data:css, data:js, size:l

#27845 Deno 2.2.10 + Node.js 24 support `DisposableStack`/`AsyncDisposableStack`
  browsers/deno.json
  javascript/builtins/AsyncDisposableStack.json
  javascript/builtins/DisposableStack.json
Labels: data:js, data:browsers, size:m

#27912 Chrome doesn't support `text-autospace: {punctuation,replace}`
  css/properties/text-autospace.json
Labels: data:css, size:xs

#27934 Firefox 141 supported `GPUQueue.onSubmittedWorkDone()`
  api/GPUQueue.json
Labels: data:api, size:xs

#27874 Move Trusted Types subfeatures into `HTMLScriptElement`
  api/HTMLElement.json
  api/HTMLScriptElement.json
  api/Node.json
Labels: data:api, size:l

#27933 Firefox 144 ships `ScreenOrientation.{lock,unlock}()`
  api/ScreenOrientation.json
Labels: data:api, size:m

#27930 Firefox 143 supports `Set-Cookie` Http prefixes
  http/headers/Set-Cookie.json
Labels: data:http, size:s

#27922 Duplicate `is_transitionable` features to `transition-behavior`
  css/properties/display.json
  css/properties/transition-behavior.json
Labels: data:css, size:m

#27936 Chrome 141 adds `aria-notify` permission (also updates notes)
  api/Document.json
  api/Element.json
  http/headers/Permissions-Policy.json
Labels: data:http, data:api, size:m

#27833 Bug-1986688 Cookies expirationDate includes milliseconds
  webextensions/api/cookies.json
Labels: data:webext, size:m

#27996 ci(update-browser-releases): install using lock file
  .github/workflows/update-browser-releases.yml
Labels: infra, size:xs

#27941 Safari iOS does not support `initial-letter` with decimals
  css/properties/initial-letter.json
Labels: data:css, size:s

#28024 Safari 26 escapes `<` and `>` in attributes
  api/Element.json
  api/ShadowRoot.json
Labels: data:api, size:s

#28033 Mark `CookieStore.get()` return values as experimental/non-standard
  api/CookieStore.json
Labels: data:api, size:m

#28029 Mark `char`/`charoff` HTML attrs as unsupported in all browsers
  html/elements/col.json
  html/elements/colgroup.json
  html/elements/tbody.json
  html/elements/td.json
  html/elements/tfoot.json
  html/elements/th.json
  html/elements/thead.json
  html/elements/tr.json
Labels: data:html, size:l

#28053 Chrome does support FCP and FCP
  api/PerformancePaintTiming.json
Labels: data:api, size:m
