Repository mdn/browser-compat-data, pull requests merged in 2025-05, with the labels that each got.

#26558 Chrome 126 added Topics API (`browsingTopics`)
  api/Document.json
  api/HTMLIFrameElement.json
  api/Request.json
  api/_globals/fetch.json
  html/elements/iframe.json
Labels: data:api, data:html, size:s

#26700 FF139 Prioritize Scheduler API enabled Nightly
  api/Scheduler.json
  api/TaskController.json
  api/TaskPriorityChangeEvent.json
  api/TaskSignal.json
  api/_globals/scheduler.json
Labels: data:api, size:l

#26512 Firefox 138 adds `webextensions.api.webRequest.ResourceType.json`
  webextensions/api/declarativeNetRequest.json
  webextensions/api/webRequest.json
Labels: data:webext, size:m

#26705 Data update for reading-flow and reading-order
  css/properties/reading-flow.json
  css/properties/reading-order.json
Labels: data:css, size:l

#26563 Chrome 126 added Fence API
  api/Fence.json
  api/FencedFrameConfig.json
  api/HTMLFencedFrameElement.json
  api/Window.json
  html/elements/a.json
  html/elements/fencedframe.json
  http/headers/Content-Security-Policy.json
  http/headers/Sec-Fetch-Dest.json
Labels: data:http, data:api, data:html, size:m

#26568 Chrome 126 added SharedStorage API
  api/HTMLIFrameElement.json
  api/HTMLImageElement.json
  api/SharedStorage.json
  api/SharedStorageWorklet.json
  api/SharedStorageWorkletGlobalScope.json
Labels: data:api, size:m

#26684 Chromium 99 added `HTMLCanvasElement.contextrestored_event`
  api/HTMLCanvasElement.json
Labels: data:api, size:xs

#26678 Firefox 136 exposes SVGDiscardElement API
  api/SVGDiscardElement.json
Labels: data:api, size:s

#26695 Firefox 129 + Safari 18.2 implemented `api.Element.{click,auxclick,contextmenu}_event` as `PointerEvent`
  api/Element.json
Labels: data:api, size:m

#26704 Firefox 137 supports `font-synthesis-style: oblique-only`
  css/properties/font-synthesis-style.json
Labels: data:css, size:m

#26613 Update Chromium data for CSS `visibility: collapse`
  css/properties/visibility.json
Labels: data:css, size:s

#26693 Updates for Firefox 139 beta
  api/CredentialsContainer.json
  api/Element.json
  api/HTMLDialogElement.json
  html/global_attributes.json
  javascript/builtins/Date.json
  javascript/builtins/Temporal.json
  javascript/builtins/Temporal/Duration.json
  javascript/builtins/Temporal/Instant.json
  javascript/builtins/Temporal/Now.json
  javascript/builtins/Temporal/PlainDate.json
  javascript/builtins/Temporal/PlainMonthDay.json
  javascript/builtins/Temporal/PlainTime.json
  javascript/builtins/Temporal/PlainYearMonth.json
  javascript/builtins/Temporal/ZonedDateTime.json
Labels: data:api, data:js, data:html, size:l

#26706 Updates for Chrome 137 beta
  api/ImageData.json
  api/Selection.json
  css/properties/reading-order.json
  lint/linter/test-spec-urls.ts
  webassembly/jspi.json
Labels: infra, data:api, data:css, linter, data:wasm, size:m

#26709 Chromium 107 removed `Expect-CT` response header
  http/headers/Expect-CT.json
Labels: data:http, size:s

#26681 Chrome 127 + Safari 18 add `selectionchange` event on `HTMLInputElement` + `HTMLTextAreaElement`
  api/HTMLInputElement.json
  api/HTMLTextAreaElement.json
Labels: data:api, size:s

#26685 Firefox 137 adds PushSubscriptionChangeEvent API
  api/PushSubscriptionChangeEvent.json
Labels: data:api, size:s

#26726 Update Chromium data for api.CanvasRenderingContext2D.drawImage.ImageBitmap_source_image
  api/CanvasRenderingContext2D.json
Labels: data:api, size:xs

#26728 Update Edge data for EventTarget API
  api/EventTarget.json
Labels: data:api, size:s

#26519 Update MediaStreamTrackProcessor spec_url and mark Chrome constructor support as partial
  api/MediaStreamTrackProcessor.json
Labels: data:api, meeting agenda, size:s

#26737 Fix release years for Android Webview 65 and 66
  browsers/webview_android.json
Labels: data:browsers, size:xs

#26723 Update Chromium data for webassembly.api
  webassembly/api.json
Labels: data:wasm, size:s

#26724 Add `webextensions.api.tabGroups` API
  webextensions/api/tabGroups.json
  webextensions/manifest/optional_permissions.json
  webextensions/manifest/permissions.json
Labels: data:webext, size:l

#26733 Update Safari data for `{min,max}-{height,width}: stretch`
  css/properties/max-height.json
  css/properties/max-width.json
  css/properties/min-height.json
  css/properties/min-width.json
Labels: data:css, size:s

#26739 Adds MDN urls and spec urls for `<script type="speculationrules">` subfeatures
  html/elements/script.json
Labels: data:html, size:s

#26738 Chrome Android doesn't support Pointer Lock API
  api/Document.json
  api/Element.json
  api/MouseEvent.json
  api/ShadowRoot.json
  html/elements/iframe.json
Labels: data:api, data:html, size:m

#26595 Fix overlapping VR support statements for Firefox
  api/Gamepad.json
  api/Navigator.json
  api/VRDisplay.json
  api/VRDisplayCapabilities.json
  api/VRDisplayEvent.json
  api/VREyeParameters.json
  api/VRFieldOfView.json
  api/VRFrameData.json
  api/VRPose.json
  api/VRStageParameters.json
  api/Window.json
Labels: data:api, size:l

#26097 Bug-1659500 `contextualIdentities` API undefined in Firefox for Android
  webextensions/api/contextualIdentities.json
  webextensions/manifest/permissions.json
Labels: data:webext, size:m

#26511 Bug-1958596 `dark_theme` manifest key support
  webextensions/manifest/dark_theme.json
Labels: data:webext, size:l

#26754 Chrome Android doesn't support Summarizer API
  api/CreateMonitor.json
  api/Summarizer.json
  http/headers/Permissions-Policy.json
Labels: data:http, data:api, size:m

#26740 Node.js 18.1.0 added `WebAssembly.compileStreaming()`
  webassembly/api.json
Labels: data:wasm, size:xs

#26752 Safari 18.4 doesn't support `partitioned`, but returns `name/value` in CookieStore API
  api/CookieStore.json
Labels: data:api, size:s

#26745 Safari 18.4 supports `context` parameter in `JSON.parse()` reviver
  javascript/builtins/JSON.json
Labels: data:js, size:xs

#26741 Safari 18.4 adds `AudioContext.outputLatency`
  api/AudioContext.json
Labels: data:api, size:xs

#26761 Remove unimplemented CSS `line-height-step` property
  css/properties/line-height-step.json
Labels: data:css, needs content update, size:m

#26742 Safari 18.4 supports CaretPosition API only behind flag
  api/CaretPosition.json
Labels: data:api, size:m

#26762 Node.js 16.6 shipped `shared` flag on WebAssembly `Memory()` constructor
  webassembly/api/Memory.json
Labels: data:wasm, size:s

#26751 Safari 17.2 added `Error.captureStackTrace()`
  javascript/builtins/Error.json
Labels: data:js, size:xs

#26753 Firefox 139 supports Temporal.PlainDateTime
  javascript/builtins/Temporal/PlainDateTime.json
Labels: data:js, size:l

#26688 Firefox Nightly escapes `<` and `>` in attributes when serializing HTML
  api/Element.json
  api/ShadowRoot.json
Labels: data:api, size:l

#26735 Updates for Node.js 24.0
  browsers/nodejs.json
  javascript/builtins/Error.json
  javascript/builtins/Float16Array.json
  javascript/builtins/RegExp.json
  javascript/builtins/Symbol.json
  webassembly/memory64.json
Labels: data:js, data:browsers, data:wasm, size:m

#26775 Add Firefox impl url for popover hint
  api/HTMLElement.json
  html/global_attributes.json
Labels: data:api, data:html, size:s

#26659 Firefox 138/139 adds new Sanitizer API behind flag
  api/Document.json
  api/Element.json
  api/Sanitizer.json
Labels: data:api, size:l

#26778 Deno 1.25 supports `NumberFormat.format` decimal string
  javascript/builtins/Intl/NumberFormat.json
Labels: data:js, size:xs

#26787 Add CSS `text-combine-upright: {all,none}`
  css/properties/text-combine-upright.json
Labels: data:css, size:m

#26758 Firefox doesn't support some calendars for `Temporal.PlainDate.withCalendar()`
  javascript/builtins/Temporal/PlainDate.json
  javascript/builtins/Temporal/PlainDateTime.json
  javascript/builtins/Temporal/ZonedDateTime.json
Labels: data:js, size:s

#26605 Roll up `css.properties.accent-color.maintains_contrast` into parent
  css/properties/accent-color.json
Labels: data:css, size:m

#26792 Add CSS `font-kerning: {auto,none,normal}`
  css/properties/font-kerning.json
Labels: data:css, size:l

#26791 Add CSS `empty-cells: {hide,show}`
  css/properties/empty-cells.json
Labels: data:css, size:m

#26790 Add CSS `{align-content,column-gap,gap,row-gap}: normal`
  css/properties/align-content.json
  css/properties/column-gap.json
  css/properties/gap.json
  css/properties/row-gap.json
Labels: data:css, size:l

#26789 Chrome 137 adds CSS `if()` function
  css/types/if.json
Labels: data:css, size:m

#26747 Safari iOS 18.4 also supports `text-autospace`
  css/properties/text-autospace.json
Labels: data:css, size:m

#26069 Add more `font-width` data
  css/at-rules/font-face.json
  css/properties/font-width.json
  svg/global_attributes.json
Labels: data:css, data:svg, size:l

#26786 Add CSS `text-underline-position: auto` and other values' specs
  css/properties/text-underline-position.json
Labels: data:css, size:m

#26793 Add `Intl.Locale.getWeekInfo()` returns `minimalDays` data
  javascript/builtins/Intl/Locale.json
Labels: data:js, size:m

#26764 Deduplicate spellcheck attribute
  html/elements/textarea.json
  html/global_attributes.json
Labels: data:html, size:m

#26801 fix(update-browser-releases): handle Opera release note without Engine version
  scripts/update-browser-releases/opera.ts
  scripts/update-browser-releases/utils.ts
Labels: infra, scripts, size:s

#26803 Fix formatting in update-browser-releases script
  scripts/update-browser-releases/chrome.ts
  scripts/update-browser-releases/edge.ts
  scripts/update-browser-releases/firefox.ts
  scripts/update-browser-releases/opera.ts
  scripts/update-browser-releases/safari.ts
  scripts/update-browser-releases/utils.ts
Labels: infra, scripts, size:s

#26807 fix(update-browser-releases): generalize Opera engine version pattern
  scripts/update-browser-releases/index.ts
Labels: infra, scripts, size:xs

#26813 Firefox 138 supports dynamic import features
  javascript/grammar.json
  javascript/operators/import.json
Labels: data:js, size:s

#26821 Fix newly overlapping version ranges
  api/Navigator.json
  javascript/builtins/Symbol.json
Labels: data:api, data:js, size:s

#26822 Safari 15 supports `FontFace` and `FontFaceSet` in workers
  api/FontFace.json
  api/FontFaceSet.json
Labels: data:api, size:xs

#26817 fix(workflows): disable cache in privileged workflows
  .github/workflows/pr-review-companion.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .github/workflows/update-browser-releases.yml
  .github/workflows/update-mdn-urls.yml
  .github/workflows/update-web-features.yml
  .github/workflows/update-webdriver-bidi-data.yml
Labels: infra, size:s

#26755 Correct Firefox support for `webextensions.api.storage.session.setAccessLevel`
  webextensions/api/storage.json
Labels: data:webext, size:xs

#26836 Remove HTTP `Permissions-Policy` directive `document-domain`
  http/headers/Permissions-Policy.json
Labels: data:http, size:m

#26830 Add Firefox impl_url for Multiple import maps
  html/elements/script.json
Labels: data:html, size:xs

#26849 Chrome 87 + Safari 14.1 supported single `<number>` as `<ratio>`
  css/types/ratio.json
Labels: data:css, size:s

#26850 Safari 17.5 added `supports()` as import condition
  css/at-rules/import.json
Labels: data:css, size:xs

#26852 Add Safari impl_url for CSS `::marker` selector
  css/selectors/marker.json
Labels: data:css, size:xs

#26491 feat(scripts): add split script
  package.json
  scripts/split.ts
Labels: infra, scripts, size:l

#26853 ci(workflows): add system-file-changes workflow
  .github/workflows/system-file-changes.yml
Labels: infra, size:m

#26887 ci(update-webdriver-bidi-data): split into modules
  .github/workflows/update-webdriver-bidi-data.yml
  scripts/split.ts
Labels: infra, scripts, size:s

#26875 Edge 138 supports Summarizer API behind pref
  api/CreateMonitor.json
  api/Summarizer.json
Labels: data:api, size:l

#26884 FF140 serializes `<` and `>` in attributes
  api/Element.json
  api/ShadowRoot.json
Labels: data:api, size:s

#26890 Chrome 138 support for scope_extensions manifest member
  manifests/webapp/scope_extensions.json
Labels: size:m, data:manifests

#26851 Firefox Nightly supports View Transitions
  api/ViewTransition.json
  css/properties/view-transition-class.json
  css/properties/view-transition-name.json
  css/selectors/view-transition-group.json
  css/selectors/view-transition-image-pair.json
  css/selectors/view-transition-new.json
  css/selectors/view-transition-old.json
  css/selectors/view-transition.json
Labels: data:api, data:css, size:m

#26871 Chrome 138 adds Translator and Language Detector APIs
  api/LanguageDetector.json
  api/Translator.json
Labels: data:api, size:l

#26858 Chrome 116 moved `first-contentful-paint` and `first-paint` timings behind flag
  api/PerformancePaintTiming.json
Labels: data:api, size:m

#26878 Chrome 91 added ChromeOS support for Badging API
  api/Navigator.json
Labels: data:api, size:s

#26882 Firefox Nightly adds `TaskSignal.any()`
  api/TaskSignal.json
Labels: data:api, size:xs

#26862 Firefox 135 added fractional coordinates for pointer events
  api/PointerEvent.json
Labels: data:api, size:xs

#26757 docs: add alphabetical index
  README.md
  docs/index.md
Labels: docs, size:l

#26815 Firefox Nightly adds `ShadowRoot.setHTML()` and sanitizer parameter
  api/Document.json
  api/Element.json
  api/ShadowRoot.json
Labels: data:api, size:l

#26916 Updates for Firefox 140 beta
  api/CSS.json
  api/CookieChangeEvent.json
  api/CookieStore.json
  api/CookieStoreManager.json
  api/ExtendableCookieChangeEvent.json
  api/Highlight.json
  api/HighlightRegistry.json
  api/LargestContentfulPaint.json
  api/PerformancePaintTiming.json
  api/ServiceWorkerGlobalScope.json
  api/ServiceWorkerRegistration.json
  api/Window.json
  css/selectors/highlight.json
Labels: data:api, data:css, size:l

#26910 Add WebExtension BCD peers
  GOVERNANCE.md
Labels: docs, size:s

#26937 Updates for Chrome 138 beta
  api/PushSubscriptionChangeEvent.json
  api/ServiceWorkerGlobalScope.json
  api/VideoFrame.json
  api/Viewport.json
  api/Window.json
  css/properties/height.json
  css/properties/max-height.json
  css/properties/max-width.json
  css/properties/min-height.json
  css/properties/min-width.json
  css/properties/width.json
  css/types/abs.json
Labels: data:api, data:css, size:l

#26889 refactor(scripts): migrate from `exec`/`execAsync` to `spawn`/`spawnAsync`
  scripts/diff-features.ts
  scripts/generate-types.ts
  scripts/lib/git.ts
  scripts/release/index.ts
  scripts/release/stats.ts
  scripts/release/utils.ts
  utils/index.ts
  utils/spawn-async.ts
  utils/spawn.ts
Labels: infra, scripts, size:l
