Repository mdn/browser-compat-data, pull requests merged in 2025-06, with the labels that each got.

#26795 Bug-1550032 addition of unspecified to webextension.api.cookie.SameSiteStatus
  webextensions/api/cookies.json
Labels: data:webext, size:xs

#26935 Add data points for Chrome 137 WebGPU additions
  api/GPUCommandEncoder.json
  api/GPUDevice.json
Labels: data:api, size:m

#26955 Update Chromium data for print-color-adjust CSS property
  css/properties/print-color-adjust.json
Labels: data:css, size:m

#26964 Chrome 137 supports CSS `view-transition-name: match-element`
  css/properties/view-transition-name.json
Labels: data:css, size:m

#26975 ci(update-webdriver-bidi-data): update paths
  .github/workflows/update-webdriver-bidi-data.yml
Labels: infra, size:xs

#26956 `ProgressEvent()` constructor options `loaded` + `total` accept double in Chrome 136 + Firefox 138
  api/ProgressEvent.json
Labels: data:api, size:m

#26979 Fix typo in Firefox bug
  webextensions/api/storage.json
Labels: data:webext, size:xs

#26984 Safari 14.1 adds support for animatable `::marker`
  css/selectors/marker.json
Labels: data:css, size:xs

#26985 Safari 18.4 adds `Math.sumPrecise()`
  javascript/builtins/Math.json
Labels: data:js, size:xs

#26978 fix(lint/fix): read/write files only once
  lint/fix.ts
  lint/fixer/browser-order.ts
  lint/fixer/common-errors.ts
  lint/fixer/descriptions.ts
  lint/fixer/feature-order.ts
  lint/fixer/flags.ts
  lint/fixer/links.ts
  lint/fixer/mdn-urls.ts
  lint/fixer/mirror.ts
  lint/fixer/overlap.ts
  lint/fixer/property-order.ts
  lint/fixer/statement-order.ts
  lint/fixer/status.ts
Labels: infra, linter, size:l

#26977 Deno doesn't support Performance{Observer*,ResourceTiming}
  api/PerformanceObserver.json
  api/PerformanceObserverEntryList.json
  api/PerformanceResourceTiming.json
Labels: data:api, size:l

#26982 Firefox doesn't support `tspan` attrs`lengthAdjust/textLength`
  svg/elements/tspan.json
Labels: data:svg, size:s

#26952 Edge 134 added `api.Window.getDigitalGoodsService`
  api/Window.json
Labels: data:api, size:xs

#26986 Safari 12.1 added support for animated `clip-path`
  css/properties/clip-path.json
Labels: data:css, size:xs

#27001 Safari 17.4 added CSS `rx` and `ry` properties
  css/properties/rx.json
  css/properties/ry.json
Labels: data:css, size:s

#27009 Firefox 140 Nightly enables `CloseWatcher` on Desktop
  api/CloseWatcher.json
Labels: data:api, size:m

#27013 Firefox 140 fixed `Highlight.add()` + `HighlightRegistry.set()`
  api/Highlight.json
  api/HighlightRegistry.json
Labels: data:api, size:s, size:xs

#27022 Tag additional entries for web-features
  api/HTMLCanvasElement.json
  api/VideoFrame.json
Labels: data:api, size:s

#27010 Firefox 140 removes `MutationEvent`
  api/MutationEvent.json
Labels: data:api, size:s

#27019 Chrome 138 adds CSS `sibling-count()` and `sibling-index()`
  css/types/sibling-count.json
  css/types/sibling-index.json
Labels: data:css, size:m

#27031 Safari 18.5 disabled Partitioned Cookies (CHIPS)
  http/headers/Set-Cookie.json
Labels: data:http, size:xs

#27032 Safari 26 beta supports find-in-page with `content-visibility: auto`
  css/properties/content-visibility.json
Labels: data:css, size:s

#27048 Firefox Android doesn't render `<hr>` in `<select>`
  html/elements/select.json
Labels: data:html, size:xs

#27060 Safari TP supports `field-sizing` CSS property
  css/properties/field-sizing.json
Labels: data:css, size:s

#27068 Bump range cutoff date to five years ago
  lint/linter/test-versions.ts
Labels: infra, linter, size:xs

#27073 Firefox/Safari don't support `break-before/after: avoid`
  css/properties/break-after.json
  css/properties/break-before.json
Labels: data:css, size:s

#27058 Update web extension data for Safari 26 and correct versioning for some older releases.
  webextensions/api/action.json
  webextensions/api/browserAction.json
  webextensions/api/commands.json
  webextensions/api/declarativeNetRequest.json
  webextensions/api/dom.json
  webextensions/api/i18n.json
  webextensions/api/runtime.json
  webextensions/api/scripting.json
  webextensions/api/storage.json
  webextensions/api/tabs.json
  webextensions/api/webRequest.json
  webextensions/manifest/commands.json
  webextensions/manifest/content_scripts.json
  webextensions/manifest/externally_connectable.json
  webextensions/manifest/incognito.json
  webextensions/manifest/optional_permissions.json
  webextensions/manifest/options_ui.json
  webextensions/manifest/permissions.json
  webextensions/manifest/web_accessible_resources.json
Labels: data:webext, size:l

#27066 Mark `Document.writeln()` as deprecated
  api/Document.json
Labels: data:api, meeting agenda, size:xs

#27079 Chrome AI APIs are subject to geographical restrictions
  api/CreateMonitor.json
  api/LanguageDetector.json
  api/Summarizer.json
  api/Translator.json
Labels: data:api, size:l

#27088 Chrome 137 support for SVG transform on `<svg>` root
  svg/global_attributes.json
Labels: data:svg, size:m

#27089 Chrome 137 adds Ed25519 in Web Crypto
  api/SubtleCrypto.json
Labels: data:api, size:m

#27062 XMLSerializer moved into HTML spec
  api/XMLSerializer.json
Labels: data:api, size:s, size:xs

#27086 ci(pr-rebase-needed): cancel concurrent jobs
  .github/workflows/pr-rebase-needed.yml
Labels: infra, size:xs

#27102 Update support for request-close command
  api/HTMLButtonElement.json
Labels: data:api, size:s

#27101 Add impl url for color input on Firefox Android
  html/elements/input/color.json
Labels: data:html, size:xs

#27090 Firefox 140 beta adds `fetchpriority` for some SVG elements
  svg/elements/feImage.json
  svg/elements/image.json
  svg/elements/script.json
Labels: data:svg, size:l

#27105 Safari doesn't support Math.sumPrecise
  javascript/builtins/Math.json
Labels: data:js, size:xs

#27107 Safari 26 adds `GPUOutOfMemoryError`, not Safari 18.5
  api/GPUOutOfMemoryError.json
Labels: data:api, size:xs

#27108 Firefox Android 141 supports `webkitdirectory` on `<input>`
  api/HTMLInputElement.json
  html/elements/input.json
Labels: data:api, data:html, size:xs

#27113 Add support data for CSP script-src trusted-types-eval keyword
  http/headers/Content-Security-Policy.json
Labels: data:http, size:m

#27124 Chrome 138 supports SnapEvent constructor behind pref
  api/SnapEvent.json
Labels: data:api, size:s

#26722 Chrome 14 added `AudioParam.setTargetAtTime()` with alt name
  api/AudioParam.json
Labels: data:api, size:s, size:xs

#27154 ci(system-file-changes): use PAT to read team membership
  .github/workflows/system-file-changes.yml
Labels: infra, size:xs

#27155 ci(system-file-changes): improve is_admin_or_owner()
  .github/workflows/system-file-changes.yml
Labels: infra, size:s, size:m

#27153 Chrome 105 removed http.headers.Link.blocking
  http/headers/Link.json
Labels: data:http, size:xs

#27163 ci(pr-rebase-needed): use branch for push concurrency group
  .github/workflows/pr-rebase-needed.yml
Labels: infra, size:xs

#27165 Derive Edge beta/nightly/planned release from stable version
  scripts/update-browser-releases/edge.ts
  scripts/update-browser-releases/utils.ts
Labels: infra, scripts, size:m

#27152 Chrome 138 adds CSS `progress()` function
  css/types/progress.json
Labels: data:css, size:m

#26771 Safari 18.4 disabled unprefixed line-clamp CSS property
  css/properties/line-clamp.json
Labels: data:css, size:s

#27145 Remove http.headers.Link.blocking
  http/headers/Link.json
Labels: data:http, size:m

#27166 Bump range cutoff date to 2020-05-19
  lint/linter/test-versions.ts
Labels: infra, linter, size:s

#27146 Chrome 123 supports `pointer_composite_access` WGSL extension
  api/WGSLLanguageFeatures.json
Labels: data:api, size:m
