Repository mdn/browser-compat-data, pull requests merged in 2025-04, with the labels that each got.

#26314 Update Edge data for HTMLCanvasElement API
  api/HTMLCanvasElement.json
Labels: data:api, size:s

#26319 Update Edge data for api.SVGElement.focus.options_preventScroll_parameter
  api/SVGElement.json
Labels: data:api, size:xs

#26320 Update Edge data for WebGLRenderingContext API
  api/WebGLRenderingContext.json
Labels: data:api, size:s

#26315 Update Edge data for api.HTMLElement.contentEditable.plaintext-only
  api/HTMLElement.json
  html/global_attributes.json
Labels: data:api, data:html, size:xs

#26321 Update Edge data for Selection API
  api/Selection.json
Labels: data:api, size:s

#26289 Add Chrome notes about `Clear-Site-Data: cache` issues
  http/headers/Clear-Site-Data.json
Labels: data:http, size:s

#26328 Chrome 1 / Safari 1.1 added `border-collapse` CSS property
  css/properties/border-collapse.json
Labels: data:css, size:s

#26329 Update Chrome/Firefox/Safari data for `break-after` CSS property
  css/properties/break-after.json
Labels: data:css, size:m

#26331 Update Chrome/Firefox/Safari data for `break-inside` CSS property
  css/properties/break-inside.json
Labels: data:css, size:s

#26334 Chrome 1 / Firefox 3 / Safari 4 added `color-interpolation` CSS property
  css/properties/color-interpolation.json
Labels: data:css, size:s

#26340 Chrome 1 / Safari 4 added `dominant-baseline` CSS property
  css/properties/dominant-baseline.json
Labels: data:css, size:m

#26342 Chrome 1 / Edge ≤15 / Firefox 3 / Safari 4 added `fill-rule` CSS property
  css/properties/fill-rule.json
Labels: data:css, size:m

#26343 Chrome 1 / Edge ≤15 / Firefox 3 / Safari 4 added `fill` CSS property
  css/properties/fill.json
Labels: data:css, size:s

#26240 Add data points for nested pseudo-elements
  css/selectors/after.json
  css/selectors/before.json
Labels: data:css, size:m

#26344 Chrome 1 / Edge ≤15 / Firefox 3 / Safari 4 added marker CSS properties
  css/properties/marker-end.json
  css/properties/marker-mid.json
  css/properties/marker-start.json
  css/properties/marker.json
Labels: data:css, size:m

#26347 Chrome 1 / Firefox 3 / Safari 4 added `shape-rendering` CSS property
  css/properties/shape-rendering.json
Labels: data:css, size:s

#26348 Chrome 1 / Edge ≤15 / Firefox 3 / Safari 4 added `stop-color` CSS property
  css/properties/stop-color.json
Labels: data:css, size:s

#26349 Chrome 1 / Edge ≤15 / Firefox 3 / Safari 4 added `stop-opacity` CSS property
  css/properties/stop-opacity.json
Labels: data:css, size:s

#26350 Chrome 1 / Edge ≤15 / Firefox 1.5 / Safari 4 added stroke CSS properties
  css/properties/stroke-color.json
  css/properties/stroke-dasharray.json
  css/properties/stroke-dashoffset.json
  css/properties/stroke-linecap.json
  css/properties/stroke-linejoin.json
  css/properties/stroke-miterlimit.json
  css/properties/stroke-opacity.json
  css/properties/stroke-width.json
  css/properties/stroke.json
Labels: data:css, size:l

#26339 Chrome 1 / Edge ≤15 / Safari ≤4 added `display: table-caption`
  css/properties/display.json
Labels: data:css, size:s

#26351 Chrome 1 / Edge ≤14 / Firefox 3 / Safari 4 added `text-anchor` CSS property
  css/properties/text-anchor.json
Labels: data:css, size:s

#26352 Update Chrome/Firefox data for `text-orientation` CSS property
  css/properties/text-orientation.json
Labels: data:css, size:s

#26318 Update Edge data for api.Range.collapse.toStart_parameter_optional
  api/Range.json
Labels: data:api, size:xs

#26333 Chrome/Firefox/Safari 1 added CSS `clip: auto`
  css/properties/clip.json
Labels: data:css, size:s

#26386 docs(faq): remove question about outdated tables
  docs/faq.md
Labels: docs, size:s

#26393 Update peer list
  GOVERNANCE.md
Labels: docs, size:xs

#26398 FF137 SVG discard element disabled behind pref
  api/SVGDiscardElement.json
  svg/elements/discard.json
Labels: data:api, data:svg, size:s

#26394 added release note for ::details-content to experimental and 138
  css/selectors/details-content.json
Labels: data:css, size:s

#26401 Update description field for some css types
  css/types/color.json
  css/types/text-edge.json
Labels: data:css, size:xs

#26392 Mark Firefox as fully supporting `@starting-style`
  css/at-rules/starting-style.json
Labels: data:css, size:xs

#26375 Fix link rel compression dictionary
  html/elements/link.json
  http/headers/Link.json
Labels: data:http, data:html, size:m

#26406 Chrome 135 doesn't ship abs() and sign()
  css/types/abs.json
  css/types/sign.json
Labels: data:css, size:s

#26407 Update spec link for `:fullscreen`
  css/selectors/fullscreen.json
Labels: data:css, size:xs

#26408 Add spec urls for moveBefore()
  api/Document.json
  api/DocumentFragment.json
  api/Element.json
Labels: data:api, size:xs

#26412 Updates for Chrome 136 beta
  api/CanvasRenderingContext2D.json
  api/CaptureController.json
  api/GPUAdapterInfo.json
  api/IdentityCredential.json
  api/OffscreenCanvasRenderingContext2D.json
  api/SVGAElement.json
  api/SVGGeometryElement.json
  css/properties/dynamic-range-limit.json
  css/properties/print-color-adjust.json
  javascript/builtins/RegExp.json
Labels: data:api, data:css, data:js, size:l

#26414 Update nodejs data for `Symbol.{dispose,asyncDispose}`
  browsers/nodejs.json
  javascript/builtins/Symbol.json
Labels: data:js, data:browsers, size:m

#26415 Mark `:hover`'s element support as standard
  css/selectors/hover.json
Labels: data:css, size:s

#26416 Add deno data for `console.{profile,profileEnd,timeStamp}`
  api/_globals/console.json
Labels: data:api, size:s

#26417 Add deno data for `Symbol.{dispose,asyncDispose}`
  javascript/builtins/Symbol.json
Labels: data:js, size:xs

#26433 Update Error.isError with Deno info
  javascript/builtins/Error.json
Labels: data:js, size:xs

#26434 RTCRtpSender degradationPreference not deprecated
  api/RTCRtpSender.json
Labels: data:api, size:s

#26437 fetchLater updates
  api/FetchLaterResult.json
  api/Window.json
  http/headers/Permissions-Policy.json
Labels: data:http, data:api, size:m

#26380 Safari 16.4 supports Reporting-Endpoints header
  http/headers/Reporting-Endpoints.json
Labels: data:http, size:xs

#26304 Migrate to lefthook from lint-staged + husky
  .github/workflows/update-webdriver-bidi-data.yml
  .gitignore
  .husky/post-merge
  .husky/pre-commit
  .lefthook.yml
  .lintstagedrc
  package-lock.json
  package.json
  scripts/save-git-history.ts
Labels: infra, dependencies, scripts, size:l

#26452 Safari 1 added `background-position` CSS property
  css/properties/background-position.json
Labels: data:css, size:s

#26399 Error.captureStackTrace() - add standard/proposal
  javascript/builtins/Error.json
  lint/linter/test-spec-urls.ts
Labels: infra, data:js, linter, size:s

#26395 ci(release): comment in release PR after publish
  .github/workflows/release.yml
Labels: infra, size:s

#26449 FF138 Set-Login HTTP header
  http/headers/Set-Login.json
Labels: data:http, size:xs

#26450 FF138 Notification.actions in nightly
  api/Notification.json
Labels: data:api, size:xs

#26391 Chrome 135 supports Observable API
  api/EventTarget.json
  api/Observable.json
  api/Subscriber.json
Labels: data:api, size:xl

#26443 Remove features gone everywhere (last unshipped in Safari 16.4)
  api/HTMLHeadElement.json
  api/SVGCursorElement.json
  api/SVGFontElement.json
  api/SVGFontFaceElement.json
  api/SVGFontFaceFormatElement.json
  api/SVGFontFaceNameElement.json
  api/SVGFontFaceSrcElement.json
  api/SVGFontFaceUriElement.json
  api/SVGGlyphElement.json
  api/SVGGlyphRefElement.json
  api/SVGHKernElement.json
  api/SVGMissingGlyphElement.json
  api/SVGTRefElement.json
  api/SVGVKernElement.json
  api/Window.json
  html/elements/head.json
  html/elements/pre.json
  svg/elements/cursor.json
  svg/elements/font-face-format.json
  svg/elements/font-face-name.json
  svg/elements/font-face-src.json
  svg/elements/font-face-uri.json
  svg/elements/font-face.json
  svg/elements/font.json
  svg/elements/glyph.json
  svg/elements/glyphRef.json
  svg/elements/hkern.json
  svg/elements/missing-glyph.json
  svg/elements/tref.json
  svg/elements/vkern.json
Labels: data:api, data:html, data:svg, needs content update, size:xl

#26265 Update Deno data for api.Window
  api/Window.json
Labels: data:api, size:l

#26436 Chrome 129 supports Web Share on macOS
  api/Navigator.json
Labels: data:api, size:m

#26420 Firefox 15 added `border-image-repeat` CSS property
  css/properties/border-image-repeat.json
Labels: data:css, size:xs

#26422 Firefox 48 added `color-adjust` CSS property
  css/properties/color-adjust.json
Labels: data:css, size:xs

#26423 Firefox 34 added `font-synthesis` CSS property
  css/properties/font-synthesis.json
Labels: data:css, size:xs

#26424 Firefox 34 added `font-variant-alternates` CSS property
  css/properties/font-variant-alternates.json
Labels: data:css, size:xs

#26425 Firefox 34 added `font-variant-position` CSS property
  css/properties/font-variant-position.json
Labels: data:css, size:s

#26426 Firefox 41/66 added CSS `inset*: auto`
  css/properties/inset-block-end.json
  css/properties/inset-block-start.json
  css/properties/inset-block.json
  css/properties/inset-inline-end.json
  css/properties/inset-inline-start.json
  css/properties/inset-inline.json
  css/properties/inset.json
Labels: data:css, size:s

#26427 Firefox 1 supported CSS `list-style-type: none`
  css/properties/list-style-type.json
Labels: data:css, size:xs

#26428 Firefox 38 added `ruby-position` CSS property
  css/properties/ruby-position.json
Labels: data:css, size:xs

#26453 Safari 13.1 added CSS `clip-path: view-box`
  css/properties/clip-path.json
Labels: data:css, size:xs

#26454 Safari 9.1 added CSS `font-variant-alternates: {historical-forms,normal}`
  css/properties/font-variant-alternates.json
Labels: data:css, size:xs

#26456 Safari 9.1 added CSS `font-variant-position: {normal,sub,super}`
  css/properties/font-variant-position.json
Labels: data:css, size:s

#26460 Safari 10 added `hanging-punctuation` CSS property
  css/properties/hanging-punctuation.json
Labels: data:css, size:s

#26461 Safari 9 added CSS `mix-blend-mode: plus-darker`
  css/properties/mix-blend-mode.json
Labels: data:css, size:xs

#26463 Safari 11 added `scroll-snap-type` CSS property
  css/properties/scroll-snap-type.json
Labels: data:css, size:s

#26473 Safari TP 216 supports `text-wrap: pretty`
  css/properties/text-wrap.json
Labels: data:css, size:xs

#26469 Safari 7 added `text-emphasis-position` CSS property
  css/properties/text-emphasis-position.json
Labels: data:css, size:xs

#26470 Safari 7 added `text-emphasis-style` CSS property
  css/properties/text-emphasis-style.json
Labels: data:css, size:s

#26444 Chrome 133 adds custom element `connectedMoveCallback()` lifecycle callback
  api/CustomElementRegistry.json
Labels: data:api, size:m

#26462 Safari 1 added `page` CSS property
  css/properties/page.json
Labels: data:css, size:xs

#26464 Safari 7 supported CSS `-webkit-text-decoration-skip: {auto,none}`
  css/properties/text-decoration-skip.json
Labels: data:css, size:m

#26478 Add spec for CSS `::column` pseudo-element
  css/selectors/column.json
Labels: data:css, size:xs

#26482 ci(workflows): install lefthook hooks via CI=false
  .github/workflows/release-pr.yml
  .github/workflows/update-mdn-urls.yml
  .github/workflows/update-web-features.yml
  .github/workflows/update-webdriver-bidi-data.yml
Labels: infra, size:s

#26486 Safari TP 216 supports command/commandfor
  api/CommandEvent.json
  api/HTMLButtonElement.json
  api/HTMLElement.json
  html/elements/button.json
Labels: data:api, data:html, size:m

#26485 Chrome 136 adds Speculation rules tag
  html/elements/script.json
  http/headers/Sec-Speculation-Tags.json
Labels: data:http, data:html, size:m

#26495 Edge 93 supports `EXT_frag_depth` + `EXT_shader_texture_lod`
  api/EXT_frag_depth.json
  api/EXT_shader_texture_lod.json
Labels: data:api, size:m

#26481 feat(update-browser-releases): use new Edge release note urls
  browsers/edge.json
  scripts/update-browser-releases/edge.ts
  scripts/update-browser-releases/index.ts
  scripts/update-browser-releases/utils.ts
Labels: infra, data:browsers, scripts, size:l

#26497 fix(dependabot): remove emoji from label
  .github/dependabot.yml
Labels: infra, size:xs

#26447 Firefox Nightly supports `PerformanceEventTiming.interactionId`
  api/PerformanceEventTiming.json
Labels: data:api, size:xs

#26501 Update MDN links to HTML pages
  api/FileSystem.json
  api/HTMLAnchorElement.json
  api/HTMLAreaElement.json
  api/HTMLSelectElement.json
  api/HTMLSourceElement.json
  css/properties/cursor.json
  css/properties/max-height.json
  css/properties/max-width.json
  css/properties/min-height.json
  css/properties/min-width.json
  css/properties/print-color-adjust.json
  css/properties/resize.json
  css/properties/visibility.json
  css/selectors/active.json
  css/selectors/disabled.json
  css/selectors/hover.json
  html/elements/button.json
  html/elements/img.json
  html/elements/input.json
  html/elements/input/reset.json
  html/elements/input/submit.json
  html/elements/link.json
  html/elements/select.json
  html/elements/template.json
Labels: data:api, data:css, data:html, size:l

#26489 Update the browser version of the CSS gradient `single_color_stop` feature
  css/types/gradient.json
Labels: data:css, size:m

#26493 Firefox 92 maintains CSS `accent-color` contrast for legibility
  css/properties/accent-color.json
Labels: data:css, size:m

#26370 Deno 1.39 adds built-in Iterator support
  javascript/builtins/Iterator.json
Labels: data:js, size:m

#26387 docs(contributing): update WebView Android interface exposure link
  docs/contributing.md
Labels: docs, size:xs

#26509 Move symbol support subfeatures into constructor/methods
  javascript/builtins/FinalizationRegistry.json
  javascript/builtins/WeakRef.json
Labels: data:js, size:l

#26513 Firefox 138 beta adds script importmap integrity
  html/elements/script.json
Labels: data:html, size:xs

#26518 Chrome 93 also maintains CSS `accent-color` contrast for legibility
  css/properties/accent-color.json
Labels: data:css, size:s

#26520 Data for `tab.group`, `tab.unGroup`, and additions of `groupId`
  webextensions/api/tabs.json
Labels: data:webext, size:l

#26533 Safari 18.4 supports CSP Reporting API
  api/CSPViolationReportBody.json
Labels: data:api, size:m

#26540 Correctly attribute `getUserSettings` to `browserAction`
  webextensions/api/browserAction.json
  webextensions/api/pageAction.json
Labels: data:webext, size:m

#26430 Firefox 3.5 supported transform-origin CSS property values
  css/properties/transform-origin.json
Labels: data:css, size:s

#26537 Add Firefox impl url for `@keyframe` animatable CSS `display` property
  css/properties/display.json
Labels: data:css, size:xs

#26542 Edge Legacy only partially supported HTTP `Origin` header
  http/headers/Origin.json
Labels: data:http, size:s

#26357 Additional Chrome `browsingData.RemovalOptions` properties
  webextensions/api/browsingData.json
Labels: data:webext, size:m

#26586 text-wrap-style: pretty is supported in Safari Technology Preview
  css/properties/text-wrap-style.json
Labels: data:css, size:xs

#26557 ci(pr-rebase-needed): update job name
  .github/workflows/pr-rebase-needed.yml
Labels: infra, size:xs

#26589 Add Chrome bug for partial relative `hsl()`/`hwb()` support
  css/types/color.json
Labels: data:css, size:xs

#26553 Safari doesn't support MediaTrackConstraints.{latency,channelCount}
  api/MediaStreamTrack.json
Labels: data:api, size:s

#26560 Chrome Android 105 supports `picture-in-picture` permission
  html/elements/iframe.json
  http/headers/Permissions-Policy.json
Labels: data:http, data:html, size:xs

#26561 Chrome 69 supports `picture-in-picture` permission
  html/elements/iframe.json
  http/headers/Permissions-Policy.json
Labels: data:http, data:html, size:xs

#26559 Edge also supports `Document.hasUnpartitionedCookieAccess`
  api/Document.json
Labels: data:api, size:xs

#26562 Firefox 128 added api.Element.attachShadow.options_serializable_parameter
  api/Element.json
Labels: data:api, size:xs

#26565 Chromium 128 enabled api.Navigator.deprecatedReplaceInURN
  api/Navigator.json
Labels: data:api, size:xs

#26572 Chrome 126 added api.Window.sharedStorage
  api/Window.json
Labels: data:api, size:xs

#26583 Firefox Nightly supports import attributes with `with` syntax for json modules
  javascript/statements.json
Labels: data:js, size:s

#26556 Firefox 136 adds CookieStore API
  api/CookieChangeEvent.json
  api/CookieStore.json
  api/ServiceWorkerGlobalScope.json
  api/Window.json
Labels: data:api, size:m

#26601 Revert "Firefox 136 adds CookieStore API"
  api/CookieChangeEvent.json
  api/CookieStore.json
  api/ServiceWorkerGlobalScope.json
  api/Window.json
Labels: data:api, size:m

#26483 ci(workflows): add initial pr-review-companion
  .github/workflows/pr-review-companion.yml
Labels: infra, size:m

#26551 Chrome 119-121 had partial relative `oklab()`/`oklch()` support
  css/types/color.json
Labels: data:css, size:m

#26552 Chrome 111-133 doesn't expose CSSFontFeatureValuesRule
  api/CSSFontFeatureValuesRule.json
Labels: data:api, size:s

#26606 Firefox 138 supports `import` attribute for JSON modules
  javascript/statements.json
Labels: data:js, size:xs

#26598 feat(lint): check + fix hash of MDN urls
  api/DOMTokenList.json
  api/Element.json
  api/MediaDevices.json
  api/RTCStatsReport.json
  api/Window.json
  api/XMLHttpRequest.json
  css/at-rules/media.json
  css/properties/animation-duration.json
  css/properties/font-variant-alternates.json
  css/properties/shape-outside.json
  css/properties/zoom.json
  css/selectors/is.json
  css/selectors/where.json
  css/types/basic-shape.json
  css/types/color.json
  html/elements/input.json
  javascript/builtins/JSON.json
  javascript/builtins/Promise.json
  javascript/builtins/Symbol.json
  javascript/grammar.json
  javascript/operators/spread.json
  lint/linter/test-mdn-urls.ts
  scripts/check-mdn-url-anchors.ts
  webextensions/manifest/content_security_policy.json
  webextensions/manifest/theme_experiment.json
  webextensions/manifest/web_accessible_resources.json
Labels: infra, data:webext, data:api, data:css, data:js, data:html, linter, scripts, size:l

#26614 fix(update-browser-releases): find Opera engine version in content
  browsers/opera.json
  scripts/update-browser-releases/index.ts
  scripts/update-browser-releases/opera.ts
Labels: infra, data:browsers, scripts, size:m

#26615 Firefox 138 supports AudioWorkletGlobalScope.port
  api/AudioWorkletGlobalScope.json
Labels: data:api, size:m

#26266 Bug-1657575 webRequest.handlerBehaviorChanged implementation
  webextensions/api/webRequest.json
Labels: data:webext, size:m

#26625 Update impl link for `attr()` CSS type
  css/types/attr.json
Labels: data:css, size:m

#26640 Chromium doesn't support `mask-clip: {border,content,padding,text}` without prefix
  css/properties/mask-clip.json
Labels: data:css, size:s

#26641 Chrome 133 added `::picker-icon` CSS selector
  css/selectors/picker-icon.json
Labels: data:css, size:xs

#26623 Replace Chrome ranges in `webextensions.api.permissions`
  webextensions/manifest/permissions.json
Labels: data:webext, size:m

#26621 Replace Chrome ranges in `webextensions.api.webRequest`
  webextensions/api/webRequest.json
Labels: data:webext, size:l

#26629 Firefox 124 partially supports `white-space` shorthand values like Chrome
  css/properties/white-space.json
Labels: data:css, size:s

#26648 Safari 18.4 supports multiple import maps
  html/elements/script.json
Labels: data:html, size:xs

#26664 ci(pr-reviewdog): remove workflow
  .github/workflows/pr-reviewdog.yml
Labels: infra

#26666 ci: pass data between steps via GITHUB_OUTPUT
  .github/workflows/pr-review-companion.yml
  .github/workflows/update-browser-releases.yml
  .github/workflows/update-web-features.yml
Labels: infra, size:m

#26633 Safari 18 supports `webextensions.api.webRequest` in MV3
  webextensions/api/webRequest.json
Labels: data:webext, size:s
