Repository mdn/browser-compat-data, pull requests merged in 2025-08, with the labels that each got.

#27421 FF142 Animation.commitStyles() - does not require fill: forwards
  api/Animation.json
Labels: data:api, size:m

#27451 Ensure that version_removed: false does not get generated by mirroring
  scripts/build/mirror.ts
Labels: infra, scripts, size:s

#27467 Remove obsolete -moz-image-region and -moz-focus-inner
  css/properties/-moz-image-region.json
  css/selectors/-moz-focus-inner.json
Labels: data:css, size:m

#27488 FF142 RTCRtpSender.setParameters() encodings.codec param supported
  api/RTCRtpSender.json
Labels: data:api, size:m

#27475 Add missing sub features for CSS flexbox/grid properties
  css/properties/align-self.json
  css/properties/justify-content.json
  css/properties/justify-items.json
  css/properties/justify-self.json
Labels: data:css, size:l

#27476 Add missing sub features for alignment-baseline
  css/properties/alignment-baseline.json
Labels: data:css, size:m

#27477 Add missing sub features for CSS hyphens property
  css/properties/hyphens.json
Labels: data:css, size:m

#27480 Consolidate `only` keyword into a single sub feature of color-scheme
  css/properties/color-scheme.json
Labels: data:css, size:m

#27489 feat(manifest): add ./types export with separate type and default entries
  package.json
  scripts/build/index.ts
Labels: infra, scripts, size:s

#27514 docs: added Safari implementation bugzilla URL
  api/HTMLDialogElement.json
Labels: data:api, size:xs

#27463 Add scrollIntoView container option
  api/Element.json
Labels: data:api, size:m

#27523 Further clarify notes for Safari `setHTMLUnsafe()` and friends
  api/Document.json
  api/Element.json
  api/ShadowRoot.json
Labels: data:api, size:s

#27505 Chrome 139 corner-shape types
  css/types/corner-shape-value.json
  css/types/superellipse.json
Labels: data:css, size:l

#27355 Bug-1828220 add browser_action.onUserSettingsChanged event
  webextensions/api/action.json
  webextensions/api/browserAction.json
Labels: data:webext, size:m

#27491 Bump all dependencies
  package-lock.json
  package.json
Labels: infra, dependencies, size:l

#27493 feat(tsconfig): migrate to NodeNext module resolution
  lint/linter/test-mirror.ts
  lint/linter/test-schema.ts
  lint/linter/test-versions.ts
  scripts/lib/git.ts
  scripts/split.ts
  scripts/update-browser-releases/opera.ts
  tsconfig.json
Labels: infra, linter, scripts, size:m

#27580 fix(scripts/diff-flat): fetch `pull/*/merge`, not `pull/*/head`
  scripts/diff-flat.ts
Labels: infra, scripts, size:s

#27573 Chrome has overflow issues with some `position-area` values
  css/properties/position-area.json
Labels: data:css, size:m

#27587 FF142 Integrity-Policy support partial and style
  http/headers/Integrity-Policy-Report-Only.json
  http/headers/Integrity-Policy.json
Labels: data:http, size:l

#27065 Corrected webextensions.manifest.chrome_settings_overrides for chrome
  webextensions/manifest/chrome_settings_overrides.json
Labels: data:webext, size:m

#27619 Updates for Firefox 143 beta
  api/CompositionEvent.json
  css/selectors/details-content.json
Labels: data:api, data:css, size:s

#27613 Chrome 138 adds QuotaExceededError interface
  api/QuotaExceededError.json
Labels: data:api, size:l

#27639 Add webkit impl_url to `sibling-count()` and `sibling-index()`
  css/types/sibling-count.json
  css/types/sibling-index.json
Labels: data:css, size:s

#27624 Add Chrome/Safari impl url for CSS `white-space` in SVG
  css/properties/white-space.json
Labels: data:css, size:s

#27642 Update `PaymentRequest.securePaymentConfirmationAvailability()`
  api/PaymentRequest.json
Labels: data:api, size:xs

#27641 Chrome 139 returns `audioLevel` in `RTCEncodedAudioFrame.getMetadata()`
  api/RTCEncodedAudioFrame.json
Labels: data:api, size:m

#27662 Update `KeyboardEvent.repeat` compat on chrome
  api/KeyboardEvent.json
Labels: data:api, size:s

#26780 Add general `partial_implementation` guideline
  docs/data-guidelines/index.md
  docs/index.md
Labels: docs, size:m

#27638 De-standardize `:closed` pseudo-class
  css/selectors/closed.json
Labels: data:css, size:s

#27647 Remove `document.designMode` from the DOM feature
  api/Document.json
Labels: data:api, size:xs

#27674 Mark Safari `::details-content` support as partial
  css/selectors/details-content.json
Labels: data:css, size:xs

#27649 NodeJS 24+ supports `using` statement
  javascript/statements.json
Labels: data:js, size:xs

#27652 Chrome 99 allowed mutating `Document.adoptedStyleSheets`
  api/Document.json
Labels: data:api, size:m

#27628 Chrome 139 adds `<button command="request-close">`
  html/elements/button.json
Labels: data:html, size:m

#27650 Firefox Nightly doesn't support `startViewTransition()` options
  api/Document.json
Labels: data:api, size:s

#27698 Add FF impl_url for CSS `overlay` property
  css/properties/overlay.json
Labels: data:css, size:xs

#27693 Bun's release notes should come from the blog, not GitHub
  browsers/bun.json
  scripts/update-browser-releases/bun.ts
Labels: infra, data:browsers, scripts, size:l

#27680 Mark css.selectors.host-context deprecated
  css/selectors/host-context.json
Labels: data:css, size:xs
