Repository mdn/browser-compat-data, pull requests merged in 2025-10, with the labels that each got.

#28041 Chrome 5-120 supported `background-repeat-y` CSS property
  css/properties/background-repeat-y.json
Labels: data:css, size:xs

#28017 Safari 26 supports CSS `@position-try`
  css/at-rules/position-try.json
Labels: data:css, size:xs

#27975 Firefox 144 adds `CSSStyleProperties` (aka `CSS2Properties`)
  api/CSSStyleDeclaration.json
  api/CSSStyleProperties.json
  api/CSSStyleRule.json
  api/HTMLElement.json
  api/MathMLElement.json
  api/SVGElement.json
  api/Window.json
Labels: data:api, size:l

#28042 Chrome 115 / Firefox 131 added `WebAssembly.JSTag` attribute
  webassembly/api.json
Labels: data:wasm, size:m

#28027 Safari 17.2 allowed mixing percentages in `round/mod/rem()`
  css/types/mod.json
  css/types/rem.json
  css/types/round.json
Labels: data:css, size:l

#28023 Remove experimental Node.js notes for `SubtleCrypto`
  api/SubtleCrypto.json
Labels: data:api, size:m

#27983 Chrome 136 adds CSS `dynamic-range-limit` + `dynamic-range-limit-mix()`
  css/properties/dynamic-range-limit.json
  css/types/dynamic-range-limit-mix.json
Labels: data:css, size:m

#28051 Add Firefox bug about `datetime-local` input behaviour
  html/elements/input/datetime-local.json
Labels: data:html, size:xs

#28097 Chromium 141 IDB getAll() and getAllKeys() direction option
  api/IDBIndex.json
  api/IDBObjectStore.json
Labels: data:api, size:l

#28111 Chrome 140 unships `GPUAdapter.isFallbackAdapter`
  api/GPUAdapter.json
Labels: data:api, size:xs

#28000 Safari 18.4 added `PushEvent.notification` + `Window.pushManager` (Declarative Push)
  api/PushEvent.json
  api/Window.json
Labels: data:api, size:m

#28120 Add Samsung Internet 29.0 Beta
  browsers/samsunginternet_android.json
Labels: data:browsers, size:xs

#28028 Safari TP percent-encodes trailing space in pathname
  api/URL.json
Labels: data:api, size:m
