Repository mdn/browser-compat-data, pull requests merged in 2025-01, with the labels that each got.

#25228 Chrome 127/128 adds ProtectedAudience (interest group based ads) support
  api/Navigator.json
  api/ProtectedAudience.json
Labels: data:api, size:l

#25477 Mark svg.elements.script.xlink_href as deprecated
  svg/elements/script.json
Labels: data:svg, size:xs

#25484 Add Firefox impl_url for Audio Session API
  api/AudioSession.json
  api/Navigator.json
Labels: data:api, size:s

#25486 Add Firefox/Safari impl_url for `Request.duplex`
  api/Request.json
Labels: data:api, size:s

#25487 Add Deno/Node data for `Request.duplex`
  api/Request.json
  browsers/nodejs.json
Labels: data:api, data:browsers, size:s

#25489 Node.js 20.16/22.3 supports `{Request,Response}.bytes()`
  api/Request.json
  api/Response.json
Labels: data:api, size:s

#25491 Add Node/Deno info for some request features
  api/Request.json
  api/_globals/fetch.json
Labels: data:api, size:m

#25510 Remove unnecessary mdn_url for `@container` subfeature
  css/at-rules/container.json
Labels: data:css, size:xs

#25515 Deno 1.46 / Node 23 support `Promise.try()`
  browsers/deno.json
  javascript/builtins/Promise.json
Labels: data:js, data:browsers, size:s

#25528 Add spec urls for `SVGStringList` subfeatures
  api/SVGStringList.json
Labels: data:api, size:s

#25527 Remove never-supported http.headers.Cache-Control.stale-if-error
  http/headers/Cache-Control.json
  lint/linter/test-obsolete.ts
Labels: infra, data:http, linter, size:m

#25529 Add spec urls for `SVGNumberList` subfeatures
  api/SVGNumberList.json
Labels: data:api, size:s

#25530 Add spec urls for `SVGSVGElement` subfeatures
  api/SVGSVGElement.json
Labels: data:api, size:xs

#25544 Add spec urls for `SVGLengthList` subfeatures
  api/SVGLengthList.json
Labels: data:api, size:s

#25551 Update spec url for `grid-template-{columns,rows}.fit-content()`
  css/properties/grid-template-columns.json
  css/properties/grid-template-rows.json
Labels: data:css, size:xs

#25555 Add missing mdn_url for css selectors
  css/selectors/buffering.json
  css/selectors/has-slotted.json
  css/selectors/muted.json
  css/selectors/seeking.json
  css/selectors/stalled.json
  css/selectors/volume-locked.json
Labels: data:css, size:s

#25556 Update spec urls of CSS pseudo classes
  css/selectors/active.json
  css/selectors/autofill.json
  css/selectors/checked.json
  css/selectors/defined.json
  css/selectors/dir.json
  css/selectors/disabled.json
  css/selectors/enabled.json
  css/selectors/hover.json
  css/selectors/indeterminate.json
  css/selectors/invalid.json
  css/selectors/link.json
  css/selectors/modal.json
  css/selectors/open.json
  css/selectors/optional.json
  css/selectors/placeholder-shown.json
  css/selectors/popover-open.json
  css/selectors/read-only.json
  css/selectors/read-write.json
  css/selectors/required.json
  css/selectors/target.json
  css/selectors/user-invalid.json
  css/selectors/user-valid.json
  css/selectors/valid.json
  css/selectors/visited.json
Labels: data:css, size:m

#25550 Update spec link for `white-space`
  css/properties/white-space.json
Labels: data:css, size:xs

#25532 Remove duplicate spec link for some media query features
  css/at-rules/media.json
Labels: data:css, size:s

#25519 Add `transformer.cancel` method to `TransformStream` constructor
  api/TransformStream.json
  browsers/nodejs.json
Labels: data:api, data:browsers, size:m

#25475 Chrome 131 removed inset-area
  css/properties/position-area.json
Labels: data:css, size:xs

#25424 Update Chrome/Safari data for -webkit-* CSS property
  css/properties/-webkit-border-horizontal-spacing.json
  css/properties/-webkit-border-vertical-spacing.json
  css/properties/-webkit-column-break-after.json
  css/properties/-webkit-column-break-before.json
  css/properties/-webkit-column-break-inside.json
  css/properties/-webkit-locale.json
  css/properties/-webkit-logical-height.json
  css/properties/-webkit-logical-width.json
  css/properties/-webkit-margin-after.json
  css/properties/-webkit-margin-before.json
  css/properties/-webkit-max-logical-height.json
  css/properties/-webkit-max-logical-width.json
  css/properties/-webkit-min-logical-height.json
  css/properties/-webkit-min-logical-width.json
  css/properties/-webkit-perspective-origin-x.json
  css/properties/-webkit-perspective-origin-y.json
  css/properties/-webkit-rtl-ordering.json
  css/properties/-webkit-text-combine.json
  css/properties/-webkit-text-decorations-in-effect.json
  css/properties/-webkit-transform-origin-x.json
  css/properties/-webkit-transform-origin-y.json
  css/properties/-webkit-transform-origin-z.json
  css/properties/-webkit-user-drag.json
Labels: data:css, size:m

#25463 Node.js supports `import` operator in workers
  javascript/operators/import.json
Labels: data:js, size:s

#25330 Update all browsers data for line-break CSS property
  css/properties/line-break.json
Labels: data:css, size:m

#24998 Update Node.js data for `URLSearchParams`
  api/URLSearchParams.json
Labels: data:api, nodejs, size:l

#25001 Update Node.js data for `PerformanceObserver` and `PerformanceObserverEntryList`
  api/PerformanceObserver.json
  api/PerformanceObserverEntryList.json
Labels: data:api, nodejs, size:m

#25010 Add Node.js data for `PerformanceResourceTiming`
  api/PerformanceResourceTiming.json
  browsers/nodejs.json
Labels: data:api, data:browsers, nodejs, size:l

#25008 Update Node.js data for PerformanceEntry/Mark/Measure
  api/PerformanceEntry.json
  api/PerformanceMark.json
  api/PerformanceMeasure.json
Labels: data:api, nodejs, size:m

#25585 Add spec link for svg `<script>` element subfeatures
  svg/elements/script.json
Labels: data:svg, size:xs

#25572 Update Chrome note for `white-space` to new syntax
  css/properties/white-space.json
Labels: data:css, size:xs

#25574 Update spec_url of `@charset` from css2 to css3
  css/at-rules/charset.json
Labels: data:css, meeting agenda, size:xs

#25590 Auto-lock known spam issues
  .github/workflows/close-incomplete-issues.yml
Labels: infra, size:xs

#25563 feat(lint): set `mdn_url` via unambiguously related `browser-compat` frontmatter keys
  api/CredentialsContainer.json
  api/HTMLCanvasElement.json
  api/HTMLDetailsElement.json
  api/RTCStatsReport.json
  api/Selection.json
  api/WebGL2RenderingContext.json
  api/WorkerNavigator.json
  css/at-rules/font-palette-values.json
  css/at-rules/import.json
  css/at-rules/position-try.json
  css/at-rules/view-transition.json
  css/properties/font-palette.json
  css/properties/grid-template-columns.json
  css/properties/width.json
  css/selectors/details-content.json
  css/types/easing-function.json
  css/types/url.json
  html/elements/a.json
  html/elements/area.json
  html/elements/audio.json
  html/elements/form.json
  html/elements/iframe.json
  html/elements/img.json
  html/elements/link.json
  html/elements/script.json
  html/elements/textarea.json
  html/elements/video.json
  lint/fixer/mdn-urls.ts
  lint/linter/test-mdn-urls.ts
  mathml/elements/annotation-xml.json
  mathml/elements/annotation.json
  mathml/elements/mprescripts.json
  svg/elements/a.json
  svg/elements/animate.json
  svg/elements/animateMotion.json
  svg/elements/animateTransform.json
  svg/elements/circle.json
  svg/elements/ellipse.json
  svg/elements/feImage.json
  svg/elements/image.json
  svg/elements/line.json
  svg/elements/linearGradient.json
  svg/elements/mpath.json
  svg/elements/pattern.json
  svg/elements/radialGradient.json
  svg/elements/script.json
  svg/elements/set.json
  svg/elements/textPath.json
  svg/elements/use.json
  svg/elements/view.json
  webassembly/api/Exception.json
  webassembly/multiMemory.json
Labels: infra, data:api, data:css, data:html, linter, data:svg, data:mathml, data:wasm, size:l

#25516 Chrome/Deno/Node/Safari started rejecting `ReadableStream*Reader.releaseLock()` with pending read requests
  api/ReadableStreamBYOBReader.json
  api/ReadableStreamDefaultReader.json
  browsers/nodejs.json
Labels: data:api, data:browsers, size:m

#25561 Extract CSS.supports() sub-feature `optional_parens`
  api/CSS.json
Labels: data:api, size:m

#25600 No-Vary-Search and expects_no_vary_search are now supported for prerender
  html/elements/script.json
  http/headers/No-Vary-Search.json
Labels: data:http, data:html, size:m

#25607 No-Vary-Search spec
  http/headers/No-Vary-Search.json
Labels: data:http, size:xs

#25606 Updates for Firefox 135 beta
  api/PublicKeyCredential.json
  api/RTCStatsReport.json
  css/properties/-moz-user-input.json
  javascript/builtins/JSON.json
Labels: data:api, data:css, data:js, size:m

#25610 Add publicKeyCredential method descriptions
  api/PublicKeyCredential.json
Labels: data:api, size:s

#25603 chore(deps): migrate from ts-node to tsx
  .github/workflows/add-push-artifacts.yml
  .github/workflows/update-browser-releases.yml
  .mocharc.json
  package-lock.json
  package.json
  scripts/diff-features.ts
  tsconfig.json
Labels: infra, dependencies, scripts, size:xl

#25614 Allowlist web-feature tags
  api/Request.json
  api/WebSocketError.json
  api/WebSocketStream.json
  html/elements/script.json
  lint/linter/test-tags.test.ts
  lint/linter/test-tags.ts
  package-lock.json
  package.json
Labels: infra, data:api, data:html, linter, dependencies, size:m

#25616 Mark remaining WebVR features as removed
  api/Window.json
Labels: data:api, size:s

#25622 Safari 18.2 supports PointerEventInit angle options
  api/PointerEvent.json
Labels: data:api, size:xs

#25630 Chrome Android 121 supports Navigator.gpu + Canvas webgpu_context
  api/HTMLCanvasElement.json
  api/Navigator.json
  api/OffscreenCanvas.json
  api/WorkerNavigator.json
Labels: data:api, size:s

#25617 Add Document member support notes for Firefox
  api/Document.json
Labels: data:api, size:l

#25619 Add Document member support notes for Chrome
  api/Document.json
Labels: data:api, size:m

#25621 Add Document member support notes for Safari
  api/Document.json
Labels: data:api, size:l

#25633 Update spec link for CSS/SVG presentation attribute properties [a-n]
  css/properties/alignment-baseline.json
  css/properties/baseline-shift.json
  css/properties/clip-path.json
  css/properties/clip-rule.json
  css/properties/color-interpolation-filters.json
  css/properties/color-interpolation.json
  css/properties/color.json
  css/properties/direction.json
  css/properties/display.json
  css/properties/dominant-baseline.json
  css/properties/flood-color.json
  css/properties/flood-opacity.json
  css/properties/font-variant.json
  css/properties/image-rendering.json
  css/properties/letter-spacing.json
  css/properties/lighting-color.json
  css/properties/marker-end.json
  css/properties/marker-mid.json
  css/properties/marker-start.json
  svg/global_attributes.json
Labels: data:css, data:svg, size:m

#25632 Update spec link for CSS/SVG presentation attribute properties [o-z]
  css/properties/opacity.json
  css/properties/overflow.json
  css/properties/paint-order.json
  css/properties/text-anchor.json
  css/properties/text-decoration.json
  css/properties/text-overflow.json
  css/properties/transform.json
  css/properties/visibility.json
  css/properties/white-space.json
  css/properties/word-spacing.json
  css/properties/writing-mode.json
  svg/global_attributes.json
Labels: data:css, data:svg, size:m

#25636 Chrome 105 / Deno 1.7 / Node 18 support `fetch()` with `ReadableStream` body
  api/Request.json
  api/_globals/fetch.json
Labels: data:api, size:m

#25642 Chrome prevents + Firefox/Safari allow non-numeric user input to number fields
  html/elements/input/number.json
Labels: data:html, size:s

#25644 KeyboardEvent.code is always empty on Android
  api/KeyboardEvent.json
Labels: data:api, needs content update, size:s

#25662 `overflow: overlay`: add pre-standardization compat details
  css/properties/overflow.json
  css/types/overflow.json
Labels: data:css, size:m

#25661 fix(workflows/release): trigger deployment after publish
  .github/workflows/release.yml
  .github/workflows/update_bcd-utils_api.yml
Labels: infra, size:m

#25673 Chrome 133 supports string data for ClipboardItem
  api/ClipboardItem.json
Labels: data:api, size:s

#25666 Re-add web share target specification
  html/manifest/share_target.json
Labels: data:html, size:xs

#25674 Updates for Chrome 133 beta
  api/Animation.json
  api/Document.json
  api/DocumentFragment.json
  api/Element.json
  api/FileSystemObserver.json
  api/HTMLAreaElement.json
  api/PerformanceResourceTiming.json
  api/PublicKeyCredential.json
  api/SubtleCrypto.json
  css/properties/container-type.json
  css/properties/scroll-initial-target.json
  css/selectors/open.json
  css/types/attr.json
  javascript/builtins/Atomics.json
  webassembly/memory64.json
Labels: data:api, data:css, data:js, data:wasm, size:l

#25675 Chrome 37-40 partially implemented SubtleCrypto.digest()
  api/SubtleCrypto.json
Labels: data:api, size:s

#25679 fix(scripts/diff-features): fetch missing ref
  scripts/diff-features.ts
Labels: infra, scripts, size:s

#25685 Samsung Internet 23.0 supports most Client Hints
  http/headers/Sec-CH-Prefers-Color-Scheme.json
  http/headers/Sec-CH-Prefers-Reduced-Motion.json
  http/headers/Sec-CH-Prefers-Reduced-Transparency.json
  http/headers/Sec-CH-UA-Arch.json
  http/headers/Sec-CH-UA-Bitness.json
  http/headers/Sec-CH-UA-Full-Version-List.json
  http/headers/Sec-CH-UA-Full-Version.json
  http/headers/Sec-CH-UA-Mobile.json
  http/headers/Sec-CH-UA-Model.json
  http/headers/Sec-CH-UA-Platform-Version.json
  http/headers/Sec-CH-UA-Platform.json
  http/headers/Sec-CH-UA.json
Labels: data:http, size:m

#25671 Updates for Chrome 132 release (late additions)
  api/GPUDevice.json
  api/IdentityProvider.json
  api/Navigator.json
Labels: data:api, size:l

#25690 Firefox Android doesn't support ScreenOrientation.unlock() yet
  api/ScreenOrientation.json
Labels: data:api, size:s

#25692 fix(script/diff-features): replace wrong merge commit ref
  scripts/diff-features.ts
Labels: infra, scripts, size:m

#25691 Firefox Android only supports `a[download]` for `blob:`/`data:` URI schemes
  html/elements/a.json
Labels: data:html, size:s

#25701 Remove irrelevant CSS gradient impl_url and flag data
  css/types/gradient.json
Labels: data:css, size:l

#25696 Add description field for `list-style-type:symbols()`
  css/properties/list-style-type.json
Labels: data:css, size:xs

#25698 Update spec link for extended styles of counter function
  css/types/counter.json
  css/types/counters.json
Labels: data:css, size:s

#25699 Add spec link for legacy alias info for page-break-* values
  css/properties/page-break-after.json
  css/properties/page-break-before.json
  css/properties/page-break-inside.json
Labels: data:css, size:s

#25709 Add spec link for svg `<foreignObject>` element
  svg/elements/foreignObject.json
Labels: data:svg, size:xs

#25708 Add spec link for svg `<image>` element
  svg/elements/image.json
Labels: data:svg, size:s

#25706 Show Firefox support across all of WebAssembly JS String builtins
  webassembly/api.json
  webassembly/api/Module.json
Labels: data:wasm, size:m

#25702 Safari iOS 16 added `SpeechSynthesisEvent.utterance`
  api/SpeechSynthesisEvent.json
Labels: data:api, size:xs

#25697 Fix Chrome support for RTCPeerConnection parameters
  api/RTCPeerConnection.json
Labels: data:api, size:m

#25714 Add missing Temporal spec_url entries
  javascript/builtins/Temporal/PlainDate.json
  javascript/builtins/Temporal/PlainDateTime.json
Labels: data:js, size:xs

#25716 Add Date.toTemporalInstant
  javascript/builtins/Date.json
Labels: data:js, size:m

#25715 Rename Temporal timeZoneID -> timeZoneId, typo
  javascript/builtins/Temporal/Instant.json
  javascript/builtins/Temporal/Now.json
Labels: data:js, size:s

#25730 Chrome 133 text-box-* properties support
  css/types/text-edge.json
Labels: data:css, size:l

#25665 Safari 13.1 supports `font-family` values for ui-families
  css/properties/font-family.json
Labels: data:css, size:l

#20403 Addition of missing devtools details
  webextensions/api/devtools.json
Labels: data:webext, size:l

#25695 Firefox doesn't support `createPattern()` values `repeat-{x,y}` with `fill()`
  api/CanvasRenderingContext2D.json
Labels: data:api, size:xs

#25694 Firefox 127 supports `dns-prefetch` on HTTPS pages
  html/elements/link.json
Labels: data:html, size:s

#25704 Add action to update web-features tags
  .github/workflows/update-web-features.yml
  package.json
  scripts/tag-web-features.ts
Labels: infra, scripts, size:l

#25750 Add Deno 2.0/2.1 releases
  browsers/deno.json
Labels: data:browsers, size:s

#25718 Safari supports CSS column-gap with percentages and `calc()` values
  css/properties/column-gap.json
Labels: data:css, size:xs

#25745 Deprecate `page-break-{after,before,inside}`
  css/properties/page-break-after.json
  css/properties/page-break-before.json
  css/properties/page-break-inside.json
Labels: data:css, size:m

#25736 Safari 6 added and Safari 8 removed `FileSystemSync` and `webkitRequestFileSystem`
  api/FileSystemSync.json
  api/Window.json
Labels: data:api, size:s

#25719 Chrome 8 + Safari 5.1 supported {block,inline}-size via `-webkit-logical-*`
  css/properties/block-size.json
  css/properties/inline-size.json
Labels: data:css, size:m

#25703 Chrome 60 and Firefox 59 set `relatedTarget` on `DragEvent`
  api/MouseEvent.json
Labels: data:api, size:m

#25757 chore(workflows): remove advanced CodeQL setup
  .github/workflows/codeql.yml
Labels: infra, size:m

#25756 Chrome for Android 132 fully supports webkitdirectory
  api/HTMLInputElement.json
Labels: data:api, size:xs

#25663 Undeprecate X-Frame-Options
  http/headers/X-Frame-Options.json
Labels: data:http, needs content update, size:xs

#25742 Remove unnecessary prefixes/notes from `box-shadow` subfeatures
  css/properties/box-shadow.json
Labels: data:css, size:l

#25749 Set `IntlLegacyConstructedSymbol` to non-deprecated
  javascript/builtins/Intl/DateTimeFormat.json
  javascript/builtins/Intl/NumberFormat.json
Labels: data:js, size:xs

#25761 Order tagged features properly and not with fix linter
  package.json
  scripts/tag-web-features.ts
Labels: infra, scripts, size:s

#25771 `webassembly.jsStringBuiltins`: show support in Chrome for Android
  webassembly/jsStringBuiltins.json
Labels: data:wasm, size:xs

#25777 `<meter>` element: update Edge support data
  api/HTMLMeterElement.json
  html/elements/meter.json
Labels: data:api, data:html, size:s

#25770 Add `details` support data for webextensions.api.webRequest
  webextensions/api/webRequest.json
Labels: data:webext, size:l

#25781 Safari 18 only partially implements `content-visibility: auto`
  css/properties/content-visibility.json
Labels: data:css, size:xs

#25780 Chrome 113 supports top-level-storage-access permission
  api/Permissions.json
Labels: data:api, size:xs

#25655 Firefox only returns some errors as downloads.InterruptReason
  webextensions/api/downloads.json
Labels: data:webext, size:xs

#25787 Safari iOS 18.3. fully supports popover
  api/HTMLElement.json
Labels: data:api, size:s

#25786 Safari TP supports focus with focusVisible parameter
  api/HTMLElement.json
Labels: data:api, size:xs

#25733 Chrome 133 fully supports `firstInterimResponseStart` and `responseStart` (again)
  api/PerformanceResourceTiming.json
Labels: data:api, size:m

#25488 Add `Request()` constructor `init.duplex` parameter
  api/Request.json
  api/_globals/fetch.json
  browsers/nodejs.json
Labels: data:api, data:browsers, size:l

#25744 `AggregateError` serialization is standard track
  javascript/builtins/AggregateError.json
Labels: data:js, size:xs

#25012 Node.js 11.7+ supports `Worker` + related updates
  api/Worker.json
Labels: data:api, nodejs, size:l

#25788 Add spec link for css `fit-content()` function
  css/properties/max-height.json
  css/properties/max-width.json
  css/properties/min-height.json
  css/properties/min-width.json
  css/properties/width.json
Labels: data:css, size:xs

#25792 Chrome/Edge 134 support experimental `<meta name="application-title">`
  html/elements/meta.json
Labels: data:html, size:m

#25789 chore(schemas/browsers): make engine_version required if engine is set
  schemas/browsers.schema.json
Labels: schema, size:xs

#25800 Edge & Chrome/Webview Android also support `@page` margin at-rules
  css/at-rules/page.json
Labels: data:css, size:l

#25710 Menu update and remove error message support note
  webextensions/api/menus.json
Labels: data:webext, size:s

#25805 Remove `<portal>` element
  api/HTMLPortalElement.json
  html/elements/portal.json
Labels: data:api, data:html, needs content update, size:l

#25793 fix(workflows): assign explicit permissions + pin 3rd party actions
  .github/workflows/close-incomplete-issues.yml
  .github/workflows/issue-regex-labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/ping-other-repos.yml
  .github/workflows/pr-reviewdog.yml
  .github/workflows/release-pr.yml
  .github/workflows/update-browser-releases.yml
  .github/workflows/update-mdn-urls.yml
  .github/workflows/update-web-features.yml
Labels: infra, size:m

#25796 Firefox Nightly supports Temporal behind pref
  javascript/builtins/Date.json
  javascript/builtins/Temporal.json
  javascript/builtins/Temporal/Duration.json
  javascript/builtins/Temporal/Instant.json
  javascript/builtins/Temporal/Now.json
  javascript/builtins/Temporal/PlainDate.json
  javascript/builtins/Temporal/PlainDateTime.json
  javascript/builtins/Temporal/PlainMonthDay.json
  javascript/builtins/Temporal/PlainTime.json
  javascript/builtins/Temporal/PlainYearMonth.json
  javascript/builtins/Temporal/ZonedDateTime.json
Labels: data:js, size:xl

#25795 Chrome 98 / Firefox 103 / Safari 17 support `AggregateError` serialization
  javascript/builtins/AggregateError.json
Labels: data:js, size:s

#25821 Update Opera releases
  browsers/opera.json
  browsers/opera_android.json
Labels: data:browsers, size:s

#25816 Safari 10 also supports `ReadableStreamDefaultReader` constructor
  api/ReadableStreamDefaultReader.json
Labels: data:api, size:xs

#25801 Chrome 133 + Safari TP support multiple import maps
  html/elements/script.json
Labels: data:html, size:m

#25830 fix(issue-templates): use correct "needs triage" label
  .github/ISSUE_TEMPLATE/data-problem.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/infra-problem.yml
Labels: infra, size:s
